<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createCasGroupColumnForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title"><span translate="TITLE_CREATE_A_NEW_CAS_GROUP_COLUMN"></span></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="casGroupColumnToCreate.name"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasGroupTypeForm.name.$error.required" translate="NAME_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Group Type</label>
                        <div class="col-sm-9">
                            <select name="cas_group_type_id" class="form-control"
                                    ng-model="casGroupColumnToCreate.cas_group_type_id"
                                    ng-options="f.id as f.name for f in casGroupTypes">

                            </select>

                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="casGroupColumnToCreate.cas_group_type_id.$error.required" translate="NAME_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Code</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="casGroupColumnToCreate.code"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasGroupTypeForm.code.$error.required" translate="NAME_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Sort Order</label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="sort_order" type="number"
                                   ng-model="casGroupColumnToCreate.sort_order" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>