<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_COLUMN"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="casGroupColumnToEdit.name" placeholder="" class="form-control">
                    </div>
                    <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="editCasGroupTypeForm.name.$error.required" translate="NAME_REQUIRED"></span>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="casGroupColumnToEdit.code" placeholder="" class="form-control">
                    </div>
                    <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="editCasGroupTypeForm.code.$error.required" translate="NAME_REQUIRED"></span>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_GROUP_TYPE"></label>
                    <div class="col-sm-9">
                        <select name="cas_group_type_id" class="form-control"
                                ng-model="casGroupColumnToEdit.cas_group_type_id"
                                ng-options="f.id as f.name for f in casGroupTypes">

                        </select>
                    </div>
                    <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="editCasGroupTypeForm.cas_group_type_id.$error.required" translate="NAME_REQUIRED"></span>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="casGroupColumnToEdit.sort_order" placeholder="" class="form-control">
                    </div>
                </div>
                <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="editCasGroupTypeForm.sort_order.$error.required" translate="NAME_REQUIRED"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>