<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div  class="col-md-12">
        <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
            <span ng-if="toSelectedAccounts.length ===0">{{'SELECT_ACCOUNTS_TO_REALLOCATE_FROM' | translate}}</span>
            <span ng-if="toSelectedAccounts.length > 0">Total Selected Account: <strong>({{toSelectedAccounts.length}})</strong></span>
            <span ng-if="toSelectedAccounts.length > 0">Total Amount:<strong> {{getFromAccountTotal() | currency:''}}</strong></span>
            <button style="margin-top:-7px" type="button" ng-click="continueToReallocation()" ng-show="toSelectedAccounts.length > 0" class="btn btn-info btn-sm pull-right">Reallocate ></button>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-striped" >
                <thead class="bg-teal-400">
                <tr>
                    <th translate="NO"></th>
                    <th translate="COA"></th>
                    <th translate="DESCRIPTION"></th>
                    <th translate="BUDGET"></th>
                    <th translate="Allocated"></th>
                    <th translate="EXPENDITURE"></th>
                    <th translate="Available"></th>
                    <th translate="SELECT"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="inProgress">
                    <td colspan="8" style="padding: 0px">
                        <pr-progress></pr-progress>
                    </td>
                </tr>
                <tr ng-repeat-start="(key, values) in reallocationAccounts | groupBy:'activity'">
                    <td colspan="8">{{key}}</td>
                </tr>
                <tr ng-repeat-end ng-repeat="a in values | filter:accountQuery" ng-class="{'selected-reallocation-account':a.is_selected}">
                    <td>{{$index + 1}}</td>
                    <td nowrap="nowrap">{{a.chart_of_accounts}}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.budget | currency:''}}</td>
                    <td>{{a.allocated | currency:''}}</td>
                    <td>{{a.expenditure | currency:''}}</td>
                    <td>{{(a.allocated > a.expenditure)?(a.budget - a.allocated):(a.budget - a.expenditure) | currency:''}}</td>
                    <td nowrap="nowrap">
                        <md-checkbox type="checkbox" ng-model="a.is_selected" ng-change="toggleFromAccounts(a)">
                            <span ng-if="!a.is_selected">Select</span>
                            <span ng-if="a.is_selected">UnSelect</span>
                        </md-checkbox>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
