<!-- <breadcrumb title="{{title}}"></breadcrumb> -->
<div class="row">
    <div class="col-md-12 disabled">
        <div class="panel panel-flat border-top-lg panel-bordered border-top-info" style="background: #fff">
            <div class="panel-body" style="padding:10px 10px 10px 20px;vertical-align: middle">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Ref#: </strong>
                        {{selectedReallocation.reference_code}}
                    </div>
                    <div class="col-md-2">
                        <strong>PISC: </strong>
                        {{selectedReallocation.admin_hierarchy.name}}
                    </div>
                    <div class="col-md-2">
                        <strong>Financial Year: </strong>
                        {{selectedReallocation.financial_year.name}}
                    </div>
                    <div class="col-md-2">
                        <strong>Attachment: </strong>
                        <a target="_blank" href='{{selectedReallocation.document_url}}'>
                            <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                            <span translate="DOWNLOAD"></span>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <strong>Date: </strong>
                        {{selectedReallocation.created_at }}
                    </div>
                    <div class="col-md-2">
                        {{selectedReallocation.total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-warning pull-right" href="/execution#!/open-budget-reallocations">
                < Back
            </a> 
        </div>
    </div>  -->
                <div class="row" style="padding:20px">
                    <div class="row">
                        <div class="col-sm-12">
                            <main-filter on-change="filterChanged(filter)" dont-show="['ADMIN_HIERARCHY_LEVEL_1',SEARCH, PLANNING_LEVELS, PLANNING_UNITS]"></main-filter>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
        </div>

        <div class="row">
            <div ng-show="action" class="col-md-12">
                <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="action=undefined">
                        <span>×</span><span class="sr-only">Close</span></button>
                    {{action | translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="successMessage" class="col-md-12">
                <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="successMessage=undefined">
                        <span>×</span><span class="sr-only">Close</span></button>
                    {{successMessage | translate}}
                </div>
            </div>
            <div ng-show="errorMessage" class="col-md-12">
                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="errorMessage=undefined">
                        <span>×</span><span class="sr-only">Close</span></button>
                    {{errorMessage | translate}}
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table>
                            <thead class="bg-teal-400">
                            <tr>
                                <th>From</th>
                                <th>To</th>
                            </tr>
                           </thead>
                            <tr>
                                <td style="width:50%;vertical-align: top; padding:4px;background-color:#fff">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <md-input-container style="width:100%">
                                            <label style="color:green">From Cost Centre</label>
                                            <md-select ng-model="selectedFromSectionId" ng-change="reset()" >
                                            <md-option ng-selected="fromSections.length === 1"
                                                ng-repeat="c in fromSections" 
                                                value="{{c.id}}">{{c.name}}</md-option>
                                            </md-select>
                                            </md-input-container>
                                        </div>
                                     </div>
                                     <div class="row">
                                            <div class="col-md-12">
                                                    <md-input-container flex>
                                                        <label>From Service Provider</label>
                                                        <!-- <md-autocomplete md-no-cache="true" 
                                                        placeholder="Search Facilities" 
                                                        md-selected-item="selectedFromFacility"
                                                            md-search-text="searchText" 
                                                            md-items="item in searchFromFacility(searchText)"
                                                            md-selected-item-change="fromFacilityChanged(selectedFromFacility)" 
                                                            md-item-text="item.name+'-'+item.type">
                                                            <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
                                                        </md-autocomplete> -->
                                                        <md-autocomplete md-clear-button="true" placeholder="Search Service Provider"
                                                            md-selected-item="selectedFromFacility" md-search-text="searchText"
                                                            md-items="item in searchFromFacility(searchText)" md-item-text="item.name+'-'+item.type"
                                                            md-selected-item-change="fromFacilityChanged(selectedFromFacility)">
                                                            <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
                                                        </md-autocomplete>
                                                    </md-input-container>
                                                </div>
                                     </div>
                                      <!-- Fund Source -->
                                    <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container style="width:100%">
                                                    <label>From Fund Source</label>
                                                    <md-select ng-disabled="selectedFromSectionId === undefined || reallocateFromReady"
                                                        ng-model="selectedFromFundSourceId" ng-change="loadFromActivities()">
                                                        <md-option ng-repeat="f in fromFundSources" ng-value="f.id">{{f.name}}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                    </div>  
                                    <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container style="width:100%">
                                                    <label>From Activities</label>
                                                    <md-select ng-disabled="selectedFromFundSourceId === undefined"
                                                        ng-model="selectedFromActivityFundSourceId" ng-change="loadReallocationAccounts()">
                                                        <md-option ng-repeat="a in fromActivities" ng-value="a.activity_facility_fund_source_id">[ {{a.code}} ] {{a.description}}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                    </div>  
                                    <br />
                                    <table ng-show="selectedFromFundSourceId !== undefined" 
                                    class="table table-bordered table-striped" style="float:left; width:100%">
                                        <thead class="bg-teal-400">
                                            <tr>
                                                <th translate="NO"></th>
                                                <th translate="COA"></th>
                                                <th translate="DESCRIPTION"></th>
                                                <th translate="BUDGET"></th>
                                                <th translate="ALLOCATED"></th>
                                                <th translate="EXPENDITURE"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="(act,inputs) in reallocationAccounts | groupBy:'activity'">
                                                <td colspan="6">
                                                    [{{inputs[0].activityCode}}] {{inputs[0].activityDescription}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-repeat="a in inputs | filter:accountQuery" ng-class="{'selected-reallocation-account':a.id === selectedAccount.id}"
                                                ng-click="toggleFromAccounts(a)">
                                                <td>{{$index + 1}}</td>
                                                <td>{{a.chart_of_accounts}}</td>
                                                <td>{{a.description}}</td>
                                                <td>{{a.budget | currency:''}}</td>
                                                <td>{{a.allocated | currency:''}}</td>
                                                <td>{{a.expenditure | currency:''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width:50%; vertical-align: top; padding:4px; background-color:#fff">
                                    <div ng-show="selectedAccount !== undefined">
                                            <div class="row">
                                                    <div class="col-md-12">
                                                        <md-input-container style="width:100%">
                                                            <label style="color:green">To Cost Centre</label>
                                                            <md-select ng-model="selectedToSectionId" ng-change="getToFundSource()">
                                                                <md-option
                                                                    ng-repeat="c in toSections" value="{{c.id}}">{{c.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <!-- To Facility -->
                                                <div class="row" ng-show="selectedToSectionId !== undefined">
                                                    <div class="col-md-12">
                                                        <md-input-container style="width:100%">
                                                            <label style="color:green">To Service Provider</label>
                                                            <md-autocomplete md-no-cache="true" placeholder="Search To Service Provider" 
                                                                md-selected-item="selectedToFacility" md-search-text="searchTextTo"
                                                                md-items="toItem in searchToFacility(searchTextTo)"
                                                                md-selected-item-change="toFacilityChanged(selectedToFacility)"
                                                                md-item-text="toItem.name+'-'+toItem.type">
                                                                <span md-highlight-text="searchTextTo">{{toItem.name}}-{{toItem.type}}</span>
                                                            </md-autocomplete>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <!-- Fund Source -->
                                                <div class="row" ng-show="selectedToSectionId !== undefined">
                                                    <div class="col-md-12">
                                                        <md-input-container style="width:100%">
                                                            <label>To Fund Source</label>
                                                            <md-select
                                                                ng-model="selectedToFundSourceId" ng-change="setOption()">
                                                                <md-option ng-repeat="f in toFundSources" ng-value="f.id">{{f.name}}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>  
                                        <table class="table table-bordered table-striped" 
                                           style="width:100%" >
                                            <thead class="bg-teal-400">
                                                <tr>
                                                    <th colspan="3">Reallocations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3"> <strong>Available Amount:
                                                            <span ng-style="{color:(selectedAccount.available > 0)?'green':'red'}">{{selectedAccount.available
                                                                |currency:""}}</span>
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="background-color:#fff">
                                                        <md-toolbar style="min-height:40px !important;background-color:#f5f5f5;color: #333">
                                                            <div class="md-toolbar-tools" style="height:40px;font-size: 12px !important">
                                                                Add New
                                                            </div>
                                                        </md-toolbar>
                                                        <md-content flex layout-padding>
                                                            <br />
                                                            <div>
                                                                <button style="margin-left:4px" type="button" 
                                                                    ng-disabled="selectedToSectionId === undefined || 
                                                                    selectedMtefSectionId === undefined || 
                                                                    selectedToFacility === undefined || 
                                                                    selectedToFundSourceId === undefined ||
                                                                    selectedToFacility === null"
                                                                    ng-repeat="i in newOptions" class="btn btn-sm btn-info"
                                                                    ng-click="OptionChange(i.id)">{{i.name}}</button>
                                                            </div>
                                                            <!-- </div> -->
                                                        </md-content>
                                                        <br />
                                                        <div class="row">
                                                            <form action="#" class="form-horizontal" name="createForm"
                                                                novalidate>
                                                                <table class="table table-sm" style="width:100%">
                                                                    <tr class="bg-teal-400">
                                                                        <td>#</td>
                                                                        <td>Account</td>
                                                                        <td>Descption</td>
                                                                        <td>Amount</td>
                                                                        <td>Status</td>
                                                                        <td>Action</td>
                                                                    </tr>
                                                                    <tr ng-repeat="t in selectedAccount.toAccounts">
                                                                        <td>{{$index + 1}}</td>
                                                                        <td><a href>{{t.chart_of_accounts}}</a></td>
                                                                        <td>{{t.description}}</td>
                                                                        <td class="input" colspan="2">
                                                                            <input ng-change="setAvailable()" type="text"
                                                                                required number-to-currency ng-model="t.amount"
                                                                                class="form-control" /></td>
                                                                        <td class="action">
                                                                            <button class="btn btn-info" ng-if="$last && createForm.$valid && selectedAccount.available >= 0"
                                                                                type="button" ng-click="createReallocation(selectedAccount)">Add</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="bg-teal-400">
                                                                        <td colspan="6">Previous Reallocations</td>
                                                                    </tr>
                                                                    <tr ng-repeat-start="(a,inputs) in selectedAccount.reallocations | groupBy:'activity'">
                                                                        <td colspan="6">{{inputs[0].section}} / {{a}}</td>
                                                                    </tr>
                                                                    <tr ng-repeat-end ng-repeat="r in inputs">
                                                                        <td>{{$index + 1}}</td>
                                                                        <td>{{r.chart_of_accounts}}</td>
                                                                        <td>{{r.description}}</td>
                                                                        <td class="input">{{r.amount | currency:""}}</td>
                                                                        <td>
                                                                            <span class="badge badge-info" ng-if="r.is_approved">approved</span>
                                                                            <span class="badge badge-danger" ng-if="!r.is_approved">not
                                                                                approved</span>
                                                                        </td>
                                                                        <td>
                                                                            <a class="badge badge-danger" ng-if="!r.is_approved"
                                                                                ng-click="delete(r.id)">Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="selectedAccount === undefined" style="color:red;margin: 30% 40%">
                                        <strong>No item selected: Please select item on the left</strong>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
        </div>
