<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div class="col-md-12">
        <md-input-container>
            <label>Sector</label>
            <md-select ng-change="loadBudget()" name="sectorId" ng-model="sectorId">
                <md-option ng-value="2"> Administration and General</md-option>
                <md-option ng-value="4"> Education</md-option>
                <md-option ng-value="1"> Health</md-option>
                <md-option ng-value="6"> Water</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
<main-filter ng-show="sectorId !== undefined" dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS']" on-change="filterChanged(filter)"></main-filter>
<br/>
<md-checkbox type="check-box" ng-value="true" ng-model="exportTransactionsToEpicor">
    Re Export transactions to EPICOR?
</md-checkbox>
<md-checkbox type="check-box" ng-value="true" ng-model="exportTransactionsToFfars">
    Re Export transactions to FFARS?
</md-checkbox>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered">
            <tbody>
                <tr class="bg-teal-400">
                    <th rowspan="2" class="bg-teal-400" style="border: 1px solid #fff !important">Admin Area</th>
                    <th colspan="2" style="text-align: center">From
                        <strong>({{fromBudgetClass}})
                            <br/>[
                            <span ng-repeat="f in fundSourcesToMove">{{f}},</span>
                        </strong>]
                    </th>
                    <th rowspan="2" class="bg-teal-400" style="border: 1px solid #fff !important"></th>
                    <th colspan="2" style="text-align: center"> To <strong>({{toBudgetClass}})
                        <br/>[
                      <span ng-repeat="f in fundSourcesToMove"></span>{{f}},</strong>]</th>
                </tr>
                <tr class="bg-teal-400">
                    <!-- <th>Admin Area</th> -->
                    <th> Budget</th>
                    <th>Ceiling</th>
                    <!-- <th></th> -->
                    <th>Budget</th>
                    <th>Ceiling</th>
                </tr>
            </tbody>
            <tr ng-repeat="r in reallocations">
                <td>{{r.name}}</td>
                <td style="width:15%">{{r.fromBudget | currency:''}}</td>
                <td style="width:15%">{{r.fromCeiling | currency:''}}</td>
                <td style="width:2%" class="action">
                    <i ng-if="r.fromBudget == 0 && r.fromCeiling == 0" class="fa fa-check text-info"></i>
                    <button ng-if="r.fromBudget >0 || r.fromCeiling > 0" class="btn btn-success" ng-click="reallocate(r)">Reallocate > </button>
                </td>
                <td style="width:15%">{{r.toBudget | currency:''}}</td>
                <td style="width:15%">{{r.toCeiling | currency:''}}</td>
            </tr>
        </table>
    </div>
</div>
