<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_REFERENCE_DOCUMENT"></h5>
            </div>
            <form class="form-horizontal" id="openReallocationForm" name="openReallocationForm" method="{{request.method}}"
                novalidate action="{{request.url}}" enctype="multipart/form-data">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{reallocationToOpen.id}}">

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="Reference Number"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" autocomplete="off" name="reference_code" id="reference_number"
                                type="text" ng-model="reallocationToOpen.reference_code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="openReallocationForm.reference_code.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="Comments"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" autocomplete="off" name="comments" type="text" ng-model="reallocationToOpen.comments"
                                placeholder="" class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="openReallocationForm.comments.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="File 1"></label>
                        <div class="col-sm-9">
                            <span ng-if="reallocationToOpen.hasNewDocument || reallocationToOpen.document_url === null">
                                <input class="file-input" data-show-preview="false" name="file_to_upload" id="file_to_upload"
                                    ng-model="reallocationToOpen.file_to_upload" type="file" accept=".doc,.pdf,.docx"
                                    ng-change="clearMessages()" value="Choose File to upload" />
                                    <input type="hidden" name="hasNewDocument" ng-value="reallocationToOpen.hasNewDocument" />
                            </span>
                            <span ng-if="reallocationToOpen.document_url !== null && !reallocationToOpen.hasNewDocument">
                                <a target="_blank" href='{{reallocationToOpen.document_url}}'>
                                    <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                    <span translate="DOWNLOAD"></span>
                                </a>
                            </span>
                            <span ng-if="!reallocationToOpen.hasNewDocument && reallocationToOpen.document_url !== null">
                                    <a href ng-click="reallocationToOpen.hasNewDocument = true; ">
                                          <i class="fa fa-times-circle fa-lg" style="color:red" ></i>
                                          <span translate="Change"></span>
                                      </a>
                                </span>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="openReallocationForm.file_to_upload.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="File 2"></label>
                        <div class="col-sm-9">
                            <span ng-if="reallocationToOpen.hasNewDocument2 || reallocationToOpen.document_url2 === null ">
                                <input class="file-input" data-show-preview="false" name="file_to_upload2" id="file_to_upload2"
                                    ng-model="reallocationToOpen.file_to_upload2" type="file" accept=".doc,.pdf,.docx,.xls,.xlsx,.csv"
                                    ng-change="clearMessages()" value="Choose File to upload" />
                                    <input type="hidden" name="hasNewDocument2" ng-value="reallocationToOpen.hasNewDocument2" />
                            </span>
                            <span ng-if="reallocationToOpen.document_url2 !== null && !reallocationToOpen.hasNewDocument2">
                                <a target="_blank" href='{{reallocationToOpen.document_url2}}'>
                                    <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                    <span translate="DOWNLOAD"></span>
                                </a>
                            </span>
                            <span ng-if="!reallocationToOpen.hasNewDocument2 && reallocationToOpen.document_url2 !== null">
                                    <a href ng-click="reallocationToOpen.hasNewDocument2 = true; ">
                                          <i class="fa fa-times-circle fa-lg" style="color:red" ></i>
                                          <span translate="Change"></span>
                                      </a>
                                </span>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="openReallocationForm.file_to_upload2.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="File 3"></label>
                        <div class="col-sm-9">
                            <span ng-if="reallocationToOpen.hasNewDocument3 || reallocationToOpen.document_url3 === null">
                                <input class="file-input" data-show-preview="false" name="file_to_upload3" id="file_to_upload3"
                                    ng-model="reallocationToOpen.file_to_upload3" type="file" accept=".doc,.pdf,.docx,.xls,.xlsx,.csv"
                                    ng-change="clearMessages()" value="Choose File to upload" />
                                    <input type="hidden" name="hasNewDocument3" ng-value="reallocationToOpen.hasNewDocument3" />
                            </span>
                            <span ng-if="reallocationToOpen.document_url3 !==null && !reallocationToOpen.hasNewDocument3">
                                <a target="_blank" href='{{reallocationToOpen.document_url3}}'>
                                    <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                    <span translate="DOWNLOAD"></span>
                                </a>
                            </span>
                            <span ng-if="!reallocationToOpen.hasNewDocument3 && reallocationToOpen.document_url3 !== null">
                                    <a href ng-click="reallocationToOpen.hasNewDocument3 = true; ">
                                          <i class="fa fa-times-circle fa-lg" style="color:red" ></i>
                                          <span translate="Change"></span>
                                      </a>
                                </span>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="openReallocationForm.file_to_upload3.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="{{'BTN_SAVE'|translate}}">
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>