<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div
      class="alert alert-success alert-styled-left alert-arrow-left alert-bordered"
    >
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span>
      </button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div
      class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
    >
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span>
      </button>
      <div>{{errorMessage | translate}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-btn pull-right">
          <a
            has-permission="execution.budget-reallocation.create"
            href
            class="btn btn-info pull-right create-btn"
            ng-click="createOrModify({id:undefined,hasNewDocument:true,hasNewDocument2:true,hasNewDocument3:true})"
          >
            <i class="fa fa-plus"></i>
            <span translate="BTN_CREATE"></span>
          </a>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive table-wrapper">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
              <tr>
                <th>No.</th>
                <th translate="Reference #"></th>
                <th translate="ADMIN_HIERARCHY"></th>
                <th translate="FINANCIAL_YEAR"></th>
                <th translate="TH_DOC_URL"></th>
                <th translate="DATE"></th>
                <th translate="Decision Level"></th>
                <th translate="Total Amount(TShs)"></th>
                <th translate="Total Items"></th>
                <th translate="Rejected"></th>
                <th translate="TH_ACTION"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in reallocations">
                <td>{{$index + 1}}</td>
                <td>{{r.reference_code}}</td>
                <td>{{r.admin_hierarchy.name}}</td>
                <td>{{r.financial_year.name}}</td>
                <td>
                  <a
                    ng-if="r.document_url !== null"
                    target="_blank"
                    href="{{r.document_url}}"
                  >
                    <i
                      class="fa fa-file-pdf-o"
                      style="color: #ff510a;"
                      aria-hidden="true"
                    ></i>
                    <span translate="Document 1"></span>
                  </a>
                  <a
                    ng-if="r.document_url2 !== null"
                    target="_blank"
                    href="{{r.document_url2}}"
                  >
                    <i
                      class="fa fa-file-pdf-o"
                      style="color: #ff510a;"
                      aria-hidden="true"
                    ></i>
                    <span translate="Document 2"></span>
                  </a>
                  <a
                    ng-if="r.document_url3 !== null"
                    target="_blank"
                    href="{{r.document_url3}}"
                  >
                    <i
                      class="fa fa-file-pdf-o"
                      style="color: #ff510a;"
                      aria-hidden="true"
                    ></i>
                    <span translate="Document 3"></span>
                  </a>
                </td>
                <td>{{r.created_at | date:'dd-MM-yyyy'}}</td>
                <td>{{r.decision_level.name}}</td>
                <td style="text-align: right;">
                  <strong>{{r.totalAmount | currency :''}} </strong>
                </td>
                <td>
                  <span
                    class="badge"
                    ng-class="{'badge-default':r.total ===0,'badge-success':r.total > 0}"
                    >{{r.total}}</span
                  >
                </td>
                <td>
                  <span
                    class="badge"
                    ng-class="{'badge-default':r.rejected ===0,'badge-warning':r.rejected > 0}"
                    >{{r.rejected}}</span
                  >
                </td>
                <td class="action" nowrap="nowrap">
                  <button
                    has-permission="execution.budget-reallocation.create"
                    class="btn btn-success"
                    type="button"
                    ng-click="createOrModify(r)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-info"
                    type="button"
                    ng-click="view(r.id)"
                  >
                    View Items
                  </button>
                  <button
                    ng-if="r.is_open"
                    class="btn btn-info"
                    type="button"
                    href
                    ng-click="addItems(r)"
                  >
                    Add Items
                  </button>
                  <button
                    has-permission="execution.budget-reallocation.submit"
                    ng-if="r.is_open && r.decision_level.next_decisions[0] !== undefined && r.total > 0"
                    class="btn btn-success"
                    type="button"
                    href
                    ng-click="submit(r)"
                  >
                    Submit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
