<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="TITLE_REALLOCATION_STATUS"></h5>
      </div>
      <form
        class="form-horizontal"
        id="openReallocationForm"
        name="openReallocationForm"
        method="{{request.method}}"
        novalidate
        action="{{request.url}}"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div col-sm-12>
            <label>
              <md-checkbox
                ng-true-value="1"
                ng-false-value="0"
                ng-model="rejected"
                ng-change="pageChanged()"
              ></md-checkbox>
              Filter Rejected
            </label>
            <table class="table table-responsive">
              <tr class="bg-teal-400">
                <td>From Account</td>
                <td>To Account</td>
                <td>Amount</td>
                <td>Rejected/Approved</td>
                <td>Comments</td>
                <td>Delete</td>
                <td>ReUse</td>
              </tr>
              <tr ng-repeat="i in items.data">
                <td>{{i.from_chart_of_accounts}}</td>
                <td>{{i.to_chart_of_accounts}}</td>
                <td>{{i.amount | currency:""}}</td>
                <td>
                  <span ng-show="i.is_rejected" class="badge badge-warning"
                    >Rejected</span
                  >
                  <span ng-show="i.is_approved" class="badge badge-success"
                    >Approved</span
                  >
                  <span
                    ng-show="!i.is_approved && !i.is_rejected"
                    class="badge badge-default"
                    >Pending</span
                  >
                </td>
                <td>{{i.comments}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-warning"
                    ng-hide="i.is_approved"
                    ng-click="delete(i.id)"
                  >
                    Delete
                  </button>
                </td>
                <td>
                  <button
                    has-permission="execution.budget-reallocation.reuse-rejected-item"
                    type="button"
                    class="btn btn-info"
                    ng-if="i.is_rejected"
                    ng-click="reuse(i.id)"
                  >
                    ReUse
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <div class="col-md-8">
              <ul
                uib-pagination
                total-items="items.total"
                class="pagination-sm pull-left"
                boundary-links="true"
                num-pages="numPages"
                items-per-page="items.per_page"
                ng-model="currentPage"
                max-size="4"
                ng-change="pageChanged()"
              ></ul>
            </div>
            <div class="col-md-4">
              <per-page
                class="pull-right"
                ng-model="perPage"
                ng-change="pageChanged()"
              ></per-page>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-warning"
            ng-click="close()"
            translate="BTN_CLOSE"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
