<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" >{{ transaction.transaction_type  }}  MATCH </h5>
                </div>
                <div class="modal-body">
                    <div layout="row">
                        <div layout="column" flex=15>
                            <b>Type:</b> {{ transaction.transaction_type }}
                        </div>
                        <div layout="column" flex=45>
                            <b>COA:</b> {{ transaction.chart_of_accounts }}
                        </div>
                        <div layout="column" flex=20>
                            <b>Credit:</b> {{ transaction.credit_amount|currency:'' }}
                        </div>
                        <div layout="column" flex=20>
                            <b>Debit:</b> {{ transaction.debit_amount|currency:'' }}
                        </div>
                    </div>
                    <div layout="row">
                      <table width="100%" ng-show="match_list != undefined">
                          <thead>
                             <tr class="bg-teal" height="30">
                              <th colspan="3"> Suggested Matched Items </th>
                             </tr>
                             <tr height="30">
                              <th width="50">chart_of_accounts</th>
                              <th width="30">Amount</th>
                              <th width="20">Match</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr ng-repeat="item in match_list">
                              <td>{{ item.chart_of_accounts }}</td>
                              <td>{{ item.amount|currency:''}}</td>
                              <td><a href class="btn btn-info" ng-click="Match(item, transaction)">
                                    <i class="fa fa-plus"></i>
                                    <span translate="MATCH_ACTION"> </span></td>
                            </tr>
                          </tbody>
                      </table>
                      <br/>
                      <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
