<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_EXPENDITURE_CENTRE"></h5>
                </div>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-bordered">
                                {{groupName}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="createDataModel.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_CODE"></label>
                                    <input ng-required="true" name="code" type="text"
                                           ng-model="createDataModel.code" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><span translate="PARENT_EXPENDITURE_CENTRE"></span></label>
                                    <select class="form-control select-search5"
                                            ng-model="createDataModel.parent_id"
                                            name="parent_id"
                                            ng-options="ds.id as ds.name for ds in allExpenditureCentres">
                                        <option value="" selected="selected">-PARENT-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><span translate="LINK_SPECIFICATION"></span></label>
                                    <select class="form-control select-link-specs"
                                            ng-model="createDataModel.link_spec"
                                            name="link_spec"
                                            ng-options="ds as ds.name for ds in linkSpecs">
                                        <option value="" selected="selected">-Link Specification-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-show="createDataModel.link_spec.code == 1">
                                <div class="col-sm-12">
                                    <label>
                                        <span translate="TASK_NATURE"></span>
                                    </label>
                                    <select class="form-control" multiple="multiple"
                                            ng-model="createDataModel.task_natures"
                                            name="task_natures"
                                            ng-options="task_nature as task_nature.name for task_nature in taskNatures">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="createDataModel.link_spec.code == 2">
                                <div class="col-sm-12">
                                    <label><span translate="COST_CENTRE"></span></label>
                                    <select multiple class="form-control select-search4"
                                            ng-model="createDataModel.sections"
                                            name="sections"
                                            ng-options="ds as ds.name for ds in sections">
                                        <option value="" selected="selected">-Cost Centre-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.section_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="createDataModel.link_spec.code == 3">
                                <div class="col-sm-12">
                                    <label><span translate="ACTIVITY_TYPE"></span></label>
                                    <select class="form-control select-activity-types"
                                            ng-model="createDataModel.activity_category_id"
                                            name="activity_category_id"
                                            ng-options="ds.id as ds.name for ds in activityCategories">
                                        <option value="" selected="selected">-ACTIVITY_TYPE-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.activity_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="createDataModel.link_spec.code == 4">
                                <div class="col-sm-12">
                                    <label><span translate="LGA_LEVEL"></span></label>
                                    <select class="form-control select-lga-level"
                                            ng-model="createDataModel.lga_level_id"
                                            name="lga_level_id"
                                            ng-options="ds.id as ds.name for ds in lgaLevels">
                                        <option value="" selected="selected">-LGA_LEVEL-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.lga_level_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label translate="MIN_VALUE"></label>
                                    <input ng-required="true" name="min_value" type="number"
                                           ng-model="createDataModel.min_value" placeholder="" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label translate="MAX_VALUE"></label>
                                    <input ng-required="true" name="max_value" type="number"
                                           ng-model="createDataModel.max_value" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-show="createDataModel.link_spec.code == 5">
                                <div class="col-sm-12">
                                    <label><span translate="GFS_CODES"></span></label>
                                    <select multiple="multiple" class="form-control select-search1"
                                            ng-model="createDataModel.gfs_code_id"
                                            name="gfs_code_id"
                                            ng-options="exp.id as ('['+exp.code+'] '+exp.name) for exp in expenditureGfsCodes">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
    $(".select-search5").select2();
    $(".select-search6").select2();
    $(".select-search7").select2();
    $(".select-search8").select2();
    $(".select-lga-level").select2();
    $(".select-activity-types").select2();
    $(".select-link-specs").select2();
</script>