<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="UPDATE_EXPENDITURE_CENTRE"></h5>
                </div>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><span translate="GROUP"></span></label>
                                    <select class="form-control select-group"
                                            ng-model="updateDataModel.expenditure_centre_group_id"
                                            ng-change="loadExpenditureGroupCostCentres(updateDataModel.expenditure_centre_group_id)"
                                            name="expenditure_centre_group_id"
                                            ng-options="ds.id as ds.name for ds in expenditureCentreGroups">
                                        <option value="" selected="selected">-GROUP-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="updateDataModel.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_CODE"></label>
                                    <input ng-required="true" name="code" type="text"
                                           ng-model="updateDataModel.code" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><span translate="PARENT_EXPENDITURE_CENTRE"></span></label>
                                    <select class="form-control select-search5"
                                            ng-model="updateDataModel.parent_id"
                                            name="parent_id"
                                            ng-options="ds.id as ds.name for ds in allExpenditureCentres">
                                        <option value="" selected="selected">-PARENT-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><span translate="LINK_SPECIFICATION"></span></label>
                                    <select class="form-control select-link-specs"
                                            ng-model="updateDataModel.link_spec_id"
                                            name="link_spec_id"
                                            ng-options="ds.id as ds.name for ds in linkSpecs">
                                        <option value="" selected="selected">-LINK_SPECIFICATION-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label><span translate="ACTIVITY_TYPE"></span></label>
                                    <select class="form-control select-activity-types"
                                            ng-model="updateDataModel.activity_category_id"
                                            name="activity_category_id"
                                            ng-options="ds.id as ds.name for ds in activityCategories">
                                        <option value="" selected="selected">-ACTIVITY_TYPE-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.activity_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label><span translate="LGA_LEVEL"></span></label>
                                    <select class="form-control select-lga-level"
                                            ng-model="updateDataModel.lga_level_id"
                                            name="lga_level_id"
                                            ng-options="ds.id as ds.name for ds in lgaLevels">
                                        <option value="" selected="selected">-LGA_LEVEL-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.lga_level_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
    $(".select-search5").select2();
    $(".select-search6").select2();
    $(".select-search7").select2();
    $(".select-search8").select2();
    $(".select-lga-level").select2();
    $(".select-activity-types").select2();
    $(".select-link-specs").select2();
    $(".select-group").select2();
</script>