<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-10">
                    <select class="form-control select-group"
                            ng-model="expenditure_centre_group"
                            ng-change="loadExpenditureCentres(expenditure_centre_group)"
                            name="expenditure_centre_group"
                            ng-options="exp as exp.name for exp in expenditureCentreGroups">
                        <option value="" selected="selected">-EXPENDITURE CENTRE GROUP-</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="heading-btn pull-right">
                        <button type="button" class="btn btn-info" ng-show="expenditure_centre_group.id > 0" ng-click="create(expenditure_centre_group)">
                            <i class="fa fa-plus"></i>
                            <span translate="BTN_CREATE"></span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="trash()">
                            <i class="fa fa-trash"></i>
                            <span translate="BTN_TRASH"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showGFSCodes===true">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <md-autocomplete class="hide-label" required
                                                 md-search-text="searchText"
                                                 md-input-name="searchString"
                                                 md-items="gfs_code in getExpenditureGfsCodes(searchText)"
                                                 md-item-text="gfs_code.name +' - '+ gfs_code.code+' - '+gfs_code.gfs_code_sub_category.name"
                                                 md-search-text-change="searchTextChange(searchText)"
                                                 md-selected-item-change="expenditureGfsCodeChange(gfs_code)"
                                                 md-min-length="3"
                                                 md-floating-label="Select GFS Code" flex>
                                    <md-item-template>
                                        <span md-highlight-text="searchText">{{ gfs_code.name }} - {{gfs_code.code}} - {{gfs_code.gfs_code_sub_category.name}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No GFS Code marching {{searchText}} was found
                                    </md-not-found>
                                    <div ng-messages="form.searchString.$error">
                                        <div ng-message="required">You <b>must</b> select gfs code</div>
                                    </div>
                                </md-autocomplete>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <md-button class="md-raised" ng-click="addItem()" ng-style="{background: 'green',color:'white'}"><span class="fa fa-plus"></span> Add</md-button>
                                    <md-button class="md-warn md-raised" ng-click="close()"><span class="fa fa-times"></span> Close</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{name}} - {{code}}</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="SNO"></th>
                                    <th translate="GFS_CODE"></th>
                                    <th translate="TH_ACTION"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in links">
                                    <td>{{$index+1}}</td>
                                    <td>[{{ item.gfs_code.code }}] {{ item.gfs_code.name }}</td>
                                    <td nowrap="nowrap">
                                        <button href class="btn btn-danger" ng-click="deleteItem(item.id,expenditure_centre_id)">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div >
            </div>
        </div>
        <div class="row" ng-show="showTaskNatures===true">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label translate="TASK_NATURE"></label>
                                <select class="form-control" multiple="multiple"
                                        ng-model="createDataModel.task_natures"
                                        name="task_natures"
                                        ng-options="task_nature as task_nature.name for task_nature in taskNatures">
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <md-button class="md-raised" ng-click="addItem()" ng-style="{background: 'green',color:'white'}"><span class="fa fa-plus"></span> Add</md-button>
                                    <md-button class="md-warn md-raised" ng-click="close()"><span class="fa fa-times"></span> Close</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{name}} - {{code}}</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="SNO"></th>
                                    <th translate="TASK_NATURE"></th>
                                    <th translate="TH_ACTION"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{$index+1}}</td>
                                    <td>{{ item.task_nature.name }}</td>
                                    <td nowrap="nowrap">
                                        <button href class="btn btn-danger" ng-click="deleteItem(item.id,expenditure_centre_id)">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div >
            </div>
        </div>
        <div class="row" ng-show="showCostCentres===true">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label translate="Select Cost Centres"></label>
                                <select multiple class="form-control"
                                        ng-model="createDataModel.sections"
                                        name="sections"
                                        ng-options="ds as ds.name for ds in sections">
                                    <option value="" selected="selected">-Cost Centre-</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <md-button class="md-raised" ng-click="addItem()" ng-style="{background: 'green',color:'white'}"><span class="fa fa-plus"></span> Add</md-button>
                                    <md-button class="md-warn md-raised" ng-click="close()"><span class="fa fa-times"></span> Close</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{name}} - {{code}}</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="SNO"></th>
                                    <th translate="COST_CENTRE"></th>
                                    <th translate="TH_ACTION"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.cost_centre.name }}</td>
                                    <td nowrap="nowrap">
                                        <button href class="btn btn-danger" ng-click="deleteItem(item.id,expenditure_centre_id)">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div >
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showList===true">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="PARENT"></th>
                            <th translate="ACTIVITY_TYPE"></th>
                            <th translate="LINK_SPECIFICATION"></th>
                            <th translate="LGA_LEVEL"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,expenditureCentres) in expenditureCentres | groupBy:'expenditure_centre_group.name'">
                            <td colspan="8" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="expenditureCentre in expenditureCentres">
                            <td>{{$index + 1}}</td>
                            <td>{{expenditureCentre.name}}</td>
                            <td>{{expenditureCentre.code}}</td>
                            <td>{{expenditureCentre.parent.name}}</td>
                            <td>{{expenditureCentre.activity_category.name?expenditureCentre.activity_category.name:'-'}}</td>
                            <td>{{expenditureCentre.link_spec.name}}</td>
                            <td>{{expenditureCentre.lga_level.name?expenditureCentre.lga_level.name:'-'}}</td>
                            <td nowrap="nowrap">
                                <button type="button" class="btn btn-info" ng-click="edit(expenditureCentre)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="delete(expenditureCentre.id)">
                                    <i class="fa fa-remove"></i>
                                </button>
                                <button type="button" class="btn btn-success" ng-show="expenditureCentre.link_spec.code==='1'" ng-click="taskNatureList(expenditureCentre)">
                                    <i class="fa fa-list"></i>
                                    <span translate="TASK_NATURE"></span>
                                </button>
                                <button type="button" class="btn btn-success" ng-show="expenditureCentre.link_spec.code==='2'" ng-click="costCentreList(expenditureCentre)">
                                    <i class="fa fa-list"></i>
                                    <span translate="COST_CENTRE"></span>
                                </button>
                                <button type="button" class="btn btn-success"  ng-click="gfsCodeList(expenditureCentre)">
                                    <i class="fa fa-list"></i>
                                    <span translate="GFS_CODES"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="min_max(expenditureCentre)">
                                    <i class="fa fa-list"></i>
                                    <span translate="VALUES"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-group").select2();
</script>
