<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">[{{ code }}] {{ name}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="MIN_VALUE"></th>
                                <th translate="MAX_VALUE"></th>
                                <th translate="FINANCIAL_YEAR"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input ng-required="true" name="min_value" type="number"
                                           ng-model="createDataModel.min_value" placeholder="" class="form-control">
                                </td>
                                <td>
                                    <input ng-required="true" name="max_value" type="number"
                                           ng-model="createDataModel.max_value" placeholder="" class="form-control">
                                </td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="addItem()"><span class="fa fa-plus"></span> Create</button>
                                </td>
                            </tr>
                            <tr ng-repeat="item in values">
                                <td>{{ item.min_value }}</td>
                                <td>{{ item.max_value }}</td>
                                <td>{{ item.financial_year.name }}</td>
                                <td nowrap="nowrap">
                                    <button href class="btn btn-danger" ng-click="deleteItem(item.id,expenditure_centre_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search1').select2();
        $('.select-search2').select2();
        $('.select-search3').select2();
    </script>
</div>