<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" >{{action | translate}}</h5>
            </div>

            <form action="#" class="form-horizontal" name="createData" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="decision_level !== 5">
                        <div class="col-md-4">
                          Upload Attachement (Covering letter)
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                            data-show-preview="false" ngf-select ng-model="file" name="file"
                            accept="'.pdf'" ngf-max-size="2MB" ngf-pattern="'.pdf'"
                            required ngf-model-invalid="errorFile"/>
                            <i ng-show="createData.file.$error.maxSize">File too large
                                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            <i ng-show="invalidFileInput" style="color: #ff5718;"> Invalid file format. Please use .pdf file to upload</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><strong>Comments</strong></label>
                                    <textarea ng-model="comments" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createData.admin_hierarchy_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="save(file)" ng-if="comments !== undefined && comments !==''">
                        <i class=""></i>
                        Submit
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="close()">
                        <i class="fa fa-close"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>