<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row" ng-if="admin_hierarchies.length ===0">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <span translate="NO_BUDGET_SUBMITED"></span>
        </div>
    </div>
</div>

<div class="row" ng-show="admin_hierarchies.length">
    <div class="col-md-6">
        <md-select aria-label="Council" placeholder="Select PISC" ng-model="selectedCouncil" ng-change="loadReallocations(selectedCouncil)">
            <md-option ng-repeat="c in admin_hierarchies" ng-value="c.id">{{c.name}}</md-option>
        </md-select>
    </div>
</div>

<div class="row" ng-show="budgetReallocationItems.data.length">
    <div class="col-md-12">
        <span class="pull-right">
            <a class="btn btn-success" ng-href="api/getbudgetReallocations?id={{selectedCouncil}}&is_export=true">
                <i class="fa fa-file-excel-o"></i>
                <span translate="BTN_EXPORT"></span>
            </a>
        </span>
    </div>
</div>
&nbsp;
<div class="row" ng-show="budgetReallocationItems.data.length">
    <div class="col-md-6">
        <button ng-disabled="selectedReallocations.length === 0" ng-click="reject()" type="button" class="btn btn-warning pull-left">
            Reject ({{selectedReallocations.length}}) Re-Allocations
        </button>
    </div>

    <div class="col-md-6">
        <button ng-click="approve()" type="button" class="btn btn-info pull-right">
            Approve All Re-Allocations
        </button>
    </div>
</div>
<!-- budget reallocation items-->
<div class="row" ng-show="budgetReallocationItems.data.length">
    <div class="col-md-12">
        <h4>
            Total Reallocation amount : <b>{{ total_reallocation_amount|currency:'' }}</b> &nbsp; &nbsp; ({{
            total_reallocation }} items)
            <a ng-if="values[0].budget_reallocation.document_url !== null" target="_blank" href='{{document_url}}'>
                <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                <span translate="Attachement"></span>
            </a>
        </h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                            <tr>
                                <th translate="NO"></th>
                                <th translate="FROM_ACCOUNT"></th>
                                <th translate="Budget"></th>
                                <th translate="Balance"></th>
                                <th translate="To be Reallocated"></th>
                                <th translate="TO_ACCOUNT"></th>
                                <th translate="New Balance"></th>
                                <th translate="ACTION"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="(key , values) in budgetReallocationItems.data | groupBy:'budget_reallocation.reference_code'">
                                <td colspan="8">
                                    <div class="col-md-2">
                                        <button ng-click="return(values[0].budget_reallocation.id)" type="button" class="btn btn-info pull-left">
                                            < Return <strong>({{key}})</strong>
                                        </button>
                                    </div>
                                    <div class="col-md-10">
                                        <span>Reference: {{key}}</span>
                                        <span>
                                            <strong>Attachment: </strong>
                                            <a ng-if="values[0].budget_reallocation.document_url !== null" target="_blank"
                                                href='{{values[0].budget_reallocation.document_url}}'>
                                                <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                                <span translate="Document 1"></span>
                                            </a>
                                            <a ng-if="values[0].budget_reallocation.document_url2 !== null" target="_blank"
                                                href='{{values[0].budget_reallocation.document_url2}}'>
                                                <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                                <span translate="Document 2"></span>
                                            </a>
                                            <a ng-if="values[0].budget_reallocation.document_url3 !== null" target="_blank"
                                                href='{{values[0].budget_reallocation.document_url3}}'>
                                                <i class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                                <span translate="Document 2"></span>
                                            </a>
                                        </span>
                                        <blockquote>
                                            {{values[0].budget_reallocation.comments}}
                                        </blockquote>
                                    </div>
                                </td>

                            </tr>
                            <tr ng-repeat-end ng-repeat="item in values">
                                <td>{{((budgetReallocationItems.current_page -1) * 10) + $index + 1 }}</td>
                                <td>
                                    {{item.from_chart_of_accounts}} - {{item.from_gfs}}
                                    <span style="float:right" ng-show="comments !== null">
                                        <ng-md-icon icon="info" style="fill:#00BCD4 !important;"></ng-md-icon>
                                        <md-tooltip md-direction="bottom" md-visible="false" autohide="true" size="20">
                                            {{item.comments}}
                                        </md-tooltip>
                                    </span>
                                </td>
                                <td>{{item.budget_balance | currency:""}}</td>
                                <td>{{item.budget_balance | currency:""}}</td>
                                <td>{{item.amount|currency:""}}</td>
                                <td>{{item.to_chart_of_accounts}} - {{item.to_gfs}}</td>
                                <td>{{item.amount|currency:""}}</td>
                                <td nowrap="nowrap">
                                    <input type="checkbox" ng-model="item.is_selected" ng-change="toggleToApprove(item)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="budgetReallocationItems.total > budgetReallocationItems.per_page">
            <div class="col-md-8">
                <ul uib-pagination total-items="budgetReallocationItems.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="budgetReallocationItems.per_page"
                    ng-model="currentPage" ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ budgetReallocationItems.total }}" perPage="{{ budgetReallocationItems.per_page }}"></total-pages>
            </div>
            <div class="col-md-4">
                <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
