<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th translate="TH_IS_ACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="targetType in targetTypes.data | orderBy:'name'">
                            <td>{{$index + 1}}</td>
                            <td>{{targetType.name}}</td>
                            <td>{{targetType.code}}</td>
                            <td>{{targetType.description}}</td>
                            <td>{{targetType.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="targetType.is_active" ng-model="targetType.is_active"
                                           ng-change="toggleTargetType(targetType.id, targetType.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(targetType,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(targetType.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="targetTypes.total > targetTypes.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="targetTypes.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="targetTypes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ targetTypes.total }}" perPage="{{ targetTypes.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>