<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="CREATE_PROJECT_DATA_FORM"></h5>
      </div>
      <form action="#" class="form-horizontal" name="createProjectForm">
        <div class="modal-body">

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
            <div class="col-sm-9">
              <input ng-required="true" name="name" type="text" ng-model="projectFormToCreate.name" placeholder=""
                     class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createProjectForm.name.$error.required"
                      translate="NAME_IS_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_SECTOR"></label>
            <div class="col-sm-9">
              <div class="col-sm-9">
                <select class="form-control"
                        ng-model="projectFormToCreate.sector_id"
                        name="sector_id"
                        ng-change="loadProjects(projectFormToCreate.sector_id)"
                        ng-options="value.id as value.name for value in sectors">
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_PROJECT"></label>
            <div class="col-sm-9">
              <div class="col-sm-9">
                <select class="form-control"
                        ng-model="projectFormToCreate.project_id"
                        name="project_id"
                        ng-options="value.project_id as value.name for value in projects">
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary action" ng-click="store()">Save</button>
          <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
        </div>
      </form>
    </div>
  </div>
  <script type="application/javascript">
    $('.select-fixed-multiple').select2({
      minimumResultsForSearch: Infinity,
    });
    $('.select-search').select2();
  </script>
</div>
