<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage = undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage = undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_SECTOR"></th>
                            <th translate="TH_PROJECT"></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="projectDataForm in projectDataForms | orderBy:'-id'">
                            <td>{{$index + 1}}</td>
                            <td>{{projectDataForm.name}}</td>
                            <td>{{projectDataForm.sectors.name}}</td>
                            <td>{{projectDataForm.projects.name}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(projectDataForm)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(projectDataForm.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>