<breadcrumb title="{{title}}" print-section></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="panel-title">Upload .xls,.xlsx,.xlsm,.csv files only</h6>
            </div>

            <div class="panel-body">
                <button type="button" class="btn btn-success" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                        accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB">
                    <i class="fa fa-file-excel-o"></i> Select Files
                </button>
                <br><br>
                <h4 ng-show="files.length > 0 || errFiles.length > 0">Files:</h4>
                <ul class="list-group" ng-show="files.length > 0 || errFiles.length > 0">
                    <li ng-repeat="f in files" class="list-group-item">
                        {{$index + 1}}. {{f.name}} {{f.$errorParam}} - <span ng-show="f.progress >= 0" style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></span>
                    </li>
                    <li ng-repeat="f in errFiles" class="list-group-item">
                        {{f.name}} {{f.$error}} {{f.$errorParam}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>