<style>

    #comment {
        text-align: justify;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:10px;
    }

</style>
<div id="comment">
    <span translate="COMMENT"></span>{{ ": " + casPlanTableDetails.comment }}
    <br>
    <hr>
    <span translate="KEY" ng-if = "casPlanTableDetails.key !== null || casPlanTableDetails.key !== undefined"></span>{{ ": " + casPlanTableDetails.key }}
</div>

