<style>
    #wrapper {
        padding-top: 10px;
        width: 100%;
        overflow: hidden;
    }
    .casHeading {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        font-family: "Book Antiqua",Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .to_caps {
        text-transform: uppercase;
        font-size: 12px;
    }
</style>

<div id="wrapper"></div>
<div class="row">
  <div class="col-md-3">
        <div><img src="/images/coa.png" width="100" height="120" /></div>
        <div translate="COUNTRY_NAME"></div>
  </div>
  <div class="col-md-6">
      <div class="casHeading">
          <div class="text-info">{{ 'Budget Submission Form No. ' + reports.code }}</div>
          <div class="text-info">{{ reports.name }}</div>
          <div>{{ admin_hierarchy.name}} </div>
      </div>
  </div>
</div>


<div class="row">
  <br/>
  <div class="col-md-6 to_caps">{{ reports.title}}</div>
  <div class="col-md-4 text-right to_caps">{{ fund_source.name }}</div>
  <div class="col-md-2 text-right">{{ 'FY: '+ financial_year.name}}</div>
</div>

