<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_SECTOR_EXPENDITURE_SUB_CENTRE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSectorExpenditureSubCentreForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text"
                                   ng-model="sectorExpenditureSubCentreToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorExpenditureSubCentreForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="NUMBER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="number" type="text"
                                   ng-model="sectorExpenditureSubCentreToCreate.number" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorExpenditureSubCentreForm.number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="EXPENDITURE_CENTRE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search1"
                                    ng-model="sectorExpenditureSubCentreToCreate.expenditure_centre_id"
                                    name="expenditure_centre_id"
                                    ng-options="task_nature.id as task_nature.name for task_nature in expenditureCentres">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorExpenditureSubCentreForm.expenditure_centre_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="SECTOR"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search3"
                                    ng-model="sectorExpenditureSubCentreToCreate.sector_id"
                                    name="sector_id"
                                    ng-options="exp.id as exp.name for exp in sectors">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorExpenditureSubCentreForm.sector_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="GFS_CODE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search4" multiple="multiple"
                                    ng-model="sectorExpenditureSubCentreToCreate.gfs_code_id"
                                    name="gfs_code_id"
                                    ng-options="exp.id as (exp.code+'-'+exp.name) for exp in gfs_codes">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorExpenditureSubCentreForm.gfs_code_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>