<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">{{genericActivity.description}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="costCentres.length > 0">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-teal-400">
                                    <tr>
                                        <th translate="NO"></th>
                                        <th translate="COST_CENTRE"></th>
                                        <th translate="REMOVE"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in costCentres">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.cost_centre.name}}</td>
                                        <td>
                                            <a href class="btn btn-danger" ng-click="removeCostCentre(item.id)">
                                                <i class="fa fa-remove"></i>
                                                <span translate="DELETE_ACTION"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Add Cost Centre</label>
                                    <select name="section_id" class="form-control selectSearch4" multiple="multiple"
                                            ng-model="section_id"
                                            ng-options="f.id as (f.code+'-'+f.name) for f in sectorCostCentres">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addCostCentre(section_id)">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".selectSearch").select2();
    $(".selectSearch1").select2();
    $(".selectSearch2").select2();
    $(".selectSearch3").select2();
    $(".selectSearch4").select2();
</script>