<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_GENERIC_ACTIVITY"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                             <!--Generic target-->
                             <div class="form-group">
                                    <div class="col-md-12">
                                        <label translate="GENERIC_TARGET"></label>
                                        <select name="generic_target_id" class="form-control selectSearch"
                                                ng-model="genericActivity.generic_target_id"
                                                ng-options="f.id as f.description for f in genericTargets">
                                        </select>
                                        <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createForm.generic_target_id.$error.required"
                                              translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PRIORITY_AREA"></label>
                                    <select name="priority_area_id" class="form-control" ng-change="loadInterventions()"
                                            ng-model="genericActivity.priority_area_id"
                                            ng-options="f.id as (f.number+'-'+f.description) for f in priorityAreas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.generic_target_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                              <!--Intervention-->
                              <div class="form-group">
                                    <div class="col-md-12">
                                        <label translate="INTERVENTION"></label>
                                        <select name="intervention_id" class="form-control selectSearch"
                                                ng-model="genericActivity.intervention_id"
                                                ng-options="f.id as (f.number+'-'+f.description) for f in interventions">
                                        </select>
                                        <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createForm.intervention_id.$error.required"
                                              translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                            <!--Generic Sector Problem-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="GENERIC_SECTOR_PROBLEM"></label>
                                    <select name="generic_sector_problem_id" class="form-control selectSearch2"
                                            ng-model="genericActivity.generic_sector_problem_id"
                                            ng-change="loadGenericTargets(createDataModel.generic_sector_problem_id)"
                                            ng-options="f.id as (f.code+'-'+f.description) for f in genericSectorProblems">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.generic_sector_problem_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                           
                          
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="GENERIC_ACTIVITY"></label>
                                    <textarea ng-required="true" name="description"
                                              ng-model="genericActivity.description" class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <!--Params-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PARAMETERS"></label>
                                    <textarea ng-required="true" name="params"
                                              ng-model="genericActivity.params" class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.params.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createOrUpdate()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>