<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_INTERVENTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createInterventionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                                <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="interventionToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="CATEGORY"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control"
                                            ng-model="interventionToCreate.parent_id" ng-change="loadChildren(interventionToCreate.parent_id)"
                                            name="parent_id"
                                            ng-options="value.id as value.name for value in parentInterventionCategories">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="SUB_CATEGORY"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search"
                                            ng-model="interventionToCreate.intervention_category_id"
                                            name="intervention_category_id"
                                            ng-options="value.id as value.name for value in childrenInterventionCategories">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionForm.intervention_category_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="FINANCIAL_YEAR"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-change="loadVersions(interventionToCreate.financialYearId)"
                                            ng-model="interventionToCreate.financialYearId"
                                            name="financialYearId"
                                            ng-options="value.id as value.name for value in financialYears">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="VERSION"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-change="loadPriorityAreas(interventionToCreate.versionId)"
                                            ng-model="interventionToCreate.versionId"
                                            name="versionId"
                                            ng-options="version.id as (version.name+' - '+version.type+' - '+version.date) for version in versions">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="PRIORITY_AREA"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search"
                                            ng-model="interventionToCreate.priority_area_id"
                                            name="priority_area_id"
                                            ng-options="value.id as ('['+value.number+'] '+value.description) for value in priority_areas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionForm.priority_area_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="PRIMARY"></span>
                                </label>
                                <div class="col-sm-9">
                                    <label class="switch">
                                        <input type="checkbox" name="is_primary" value="true"
                                               ng-model="interventionToCreate.is_primary"
                                               ng-checked="createDataModel.is_primary === true" />
                                        <div class="slider round"></div> &nbsp; &nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="LINK_LEVEL"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search4"
                                            ng-model="interventionToCreate.link_level_id"
                                            name="link_level_id"
                                            ng-options="value.id as value.name for value in linkLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionForm.link_level_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
    $(".select-search1").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>