<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <select ng-model="selectedForm"
                class="form-control"
                ng-change="loadContents(selectedForm)"
                ng-options="projectDataForm.id as projectDataForm.name for projectDataForm in projectDataForms">
            <option value="">--Select a form--</option>
        </select>
    </div>

    <div class="col-md-4">
        <select ng-model="selectedContent"
                class="form-control"
                ng-options="projectDataFormContent.id as projectDataFormContent.description for projectDataFormContent in projectDataFormContents">
            <option value="">--Select a content--</option>
        </select>
    </div>
    <div class="col-md-4">
        <select ng-model="selectedProject"
                class="form-control"
                ng-change="loadQuestionValues(selectedContent,selectedProject)"
                ng-options="project.id as project.name for project in projects">
            <option value="">--Select a project--</option>
        </select>
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="saveQuestionValues(questions, selectedProject)" translate="BTN_SAVE"></a>
            </div>
        </div>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div ng-include="'/pages/setup/project_data_form_item_values/partials/project_profile_data_form.html'"></div>
            </div>
        </div>
    </div>
</div>
