<div class="row">
    <div class="col-md-12 disabled">
        <pr-progress ng-show="isLoading"></pr-progress>
        <div class="panel panel-flat"
             ng-class="{'border-top-lg panel-bordered border-top-info':!isLoading}" style="background: #fff" >
            <div class="panel-body" style="padding:10px 10px 10px 20px;vertical-align: middle">
                <div class="row " >
                    <div class="col-md-2  text-center">
                        <div translate="BUDGET_TYPE"></div>
                        <span class="label"
                              ng-class="{'label-success':(routeParams.budgetType === 'CURRENT'),'label-warning':(routeParams.budgetType !== 'CURRENT')}">
                                <strong> {{routeParams.budgetType | translate }}</strong></span>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center">
                        <div translate="FINANCIAL_YEAR"></div><div><strong> {{budgetInfo.mtef.financial_year.name}}</strong></div>
                    </div>
                    <div class="col-md-3 col-sm-12  text-center">
                        <div translate="Admin Area"></div><div><strong> {{budgetInfo.mtef.admin_hierarchy.name}}</strong></div>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center">
                        <div translate="COST_CENTRE"></div><div><strong> {{budgetInfo.section.name}}</strong></div>
                    </div>

                    <div class="col-md-2 col-sm-12  text-center">
                        <div translate="DECISION_LEVEL"></div><div><span ><strong> {{budgetInfo.decision_level.name}}</strong></span></div>
                    </div>
                    <div class="col-md-1 col-sm-12  text-center">
                        <strong>
                            <span class="label label-success" ng-show="!budgetInfo.is_locked"  translate="OPEN" ></span>
                            <span class="label label-warning" ng-show="budgetInfo.is_locked" translate="LOCKED"></span>
                        </strong>
                    </div>
                    <!-- <div class="col-md-2 col-sm-12 text-center">
                        <div translate="STATUS"></div>
                        <div>
                            <strong>
                                <span class="label label-success" ng-show="!budgetInfo.is_locked"  translate="OPEN" ></span>
                                <span class="label label-warning" ng-show="budgetInfo.is_locked" translate="LOCKED"></span>
                            </strong>
                            <span ng-show="budgetInfo.mtef.is_final" class="label label-success">
                                   <span>APPROVED</span>
                                    </span>
                            <span ng-show="!budgetInfo.mtef.is_final" class="label label-default">
                                    <span>NOT APPROVED</span>
                                    </span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
