<!--Main filter template -->
<style>
    md-input-container  {
        width: 100%;
    }
    md-input-container label, md-input-container md-select{
        font-weight: bold;
    }
</style>

<div ng-show="!errorMessage"  layout="row" layout-xs="column">
  <div flex ng-show="dontShow.indexOf('BUDGET_TYPE') === -1" >
        <md-input-container>
            <label>Budget Type</label>
            <md-select ng-change="budgetTypeChanged()"  name="budgetType" ng-model="selectedBudgetType">
                <md-option ng-repeat="item in budgetTypes" ng-value="item">
                    <span class="badge" ng-class="{'badge-success':item !== 'CARRYOVER','badge-warning':item === 'CARRYOVER'}">
                        {{item | translate}}
                    <span ng-if="item ==='CARRYOVER'">&nbsp;&nbsp;from &nbsp;&nbsp;{{previousFinancialYear.name}}</span>
                    </span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="dontShow.indexOf('FINANCIAL_YEAR') === -1">
        <md-input-container>
            <label>Financial year</label>
            <md-select aria-label="Financial year"   ng-change="filterChanged()" ng-model="selectedFinancialYear" >
                <md-option ng-repeat="f in financialYears" ng-value="f">{{f.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_1') === -1" >
        <md-input-container>
            <label>{{(adminLevels.length === 3)?'National':adminLevels[0].name}}</label>
            <md-select aria-label="Admin hierarchy"   ng-change="loadChildren(a1,adminLevel)" ng-model="a1" >
                <md-option ng-repeat=" a1 in [userAdminHierarchy]" ng-value="a1">{{a1.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="a1.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_2') === -1">
        <md-input-container>
            <label>{{a1.children[0].level}}</label>
            <md-select aria-label="Admin hierarchy"  ng-change="loadChildren(a2,adminLevel)" ng-model="a2" >
                <md-option ng-repeat=" a2 in a1.children" ng-value="a2">{{a2.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="!a1.children.length" ></div>
    <div flex ng-show="a2.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_3') === -1">
        <md-input-container>
            <label>{{a2.children[0].level}}</label>
            <md-select aria-label="Admin hierarchy" ng-change="loadChildren(a3,adminLevel)" ng-model="a3">
                <md-option ng-repeat=" a3 in a2.children" ng-value="a3">{{a3.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

<!--start  additional filter to accomodate sub vote filter-->
  <div flex ng-show="a3.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_4') === -1">
    <md-input-container>
      <label>{{a3.children[0].level}}</label>
      <md-select aria-label="Admin hierarchy" ng-change="loadChildren(a4,adminLevel)" ng-model="a4">
        <md-option ng-repeat=" a4 in a3.children" ng-value="a4">{{a4.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <!--end  additional filter to accomodate sub vote filter -->
    <div flex ng-show="!a2.children.length" ></div>
    <div flex ng-show="dontShow.indexOf('PLANNING_LEVELS') === -1">
        <md-input-container>
            <label>Planning Level</label>
            <md-select aria-label="Section Level" ng-change="loadSectionsByLevel()"
                       name="section_level" ng-model="sectionLevel">
                <md-option ng-repeat="item in sectionLevels | filter:{hierarchy_position: '!2'}" ng-value="item">
                    {{item.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-show="dontShow.indexOf('PLANNING_UNITS') === -1 && sectionLevel.hierarchy_position > 1" flex >
        <md-input-container>
            <label>Planning Unit</label>
            <md-select aria-label="Planning Unit" ng-change="filterChanged()"
                       name="section" ng-model="selectedSection">
                <md-option ng-repeat="item in sections " ng-value="item">{{item.name}}-[{{item.code}}]</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="sectionLevel.hierarchy_position === 1" ></div>
    <div flex ng-show="dontShow.indexOf('SEARCH') === -1">
        <md-input-container>
            <label>Search Item</label>
            <md-icon  md-svg-src="/images/baseline-search-24px.svg" class="s24" aria-label="Search"></md-icon>
            <input ng-change="searchQueryChanged()" ng-model="searchQuery" type="text" />
        </md-input-container>
    </div>
</div>

<!-- <UNCOMMENT THIS BLOCK IF THE ABOVE MISBEHAVE> -->
<!-- <div ng-show="!errorMessage" layout="row" layout-xs="column">
    <div flex ng-show="dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_1') === -1" >
        <md-input-container>
            <label>{{(adminLevels.length === 3)?'National':adminLevels[0].name}}</label>
            <md-select aria-label="Admin hierarchy"   ng-change="loadChildren(a1,adminLevel)" ng-model="a1" >
                <md-option ng-repeat=" a1 in [userAdminHierarchy]" ng-value="a1">{{a1.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="a1.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_2') === -1">
        <md-input-container>
            <label>{{a1.children[0].level}}</label>
            <md-select aria-label="Admin hierarchy"  ng-change="loadChildren(a2,adminLevel)" ng-model="a2" >
                <md-option ng-repeat=" a2 in a1.children" ng-value="a2">{{a2.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="!a1.children.length" ></div>
    <div flex ng-show="a2.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_3') === -1">
        <md-input-container>
            <label>{{a2.children[0].level}}</label>
            <md-select aria-label="Admin hierarchy" ng-change="loadChildren(a3,adminLevel)" ng-model="a3">
                <md-option ng-repeat=" a3 in a2.children" ng-value="a3">{{a3.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

  <div flex ng-show="a3.children.length && dontShow.indexOf('ADMIN_HIERARCHY_LEVEL_4') === -1">
    <md-input-container>
      <label>{{a3.children[0].level}}</label>
      <md-select aria-label="Admin hierarchy" ng-change="loadChildren(a4,adminLevel)" ng-model="a4">
        <md-option ng-repeat=" a4 in a3.children" ng-value="a4">{{a4.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
    <div flex ng-show="!a2.children.length" ></div>
    <div flex ng-show="dontShow.indexOf('PLANNING_LEVELS') === -1">
        <md-input-container>
            <label>Planning Level</label>
            <md-select aria-label="Section Level" ng-change="loadSectionsByLevel()"
                       name="section_level" ng-model="sectionLevel" >
                <md-option ng-repeat="item in sectionLevels" ng-value="item">{{item.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-show="dontShow.indexOf('PLANNING_UNITS') === -1 && sectionLevel.hierarchy_position > 1" flex >
        <md-input-container>
            <label>Planning Unit</label>
            <md-select aria-label="Planning Unit" ng-change="filterChanged()"
                       name="section" ng-model="selectedSection">
                <md-option ng-repeat="item in sections " ng-value="item">{{item.name}}-[{{item.code}}]</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex ng-show="sectionLevel.hierarchy_position === 1" ></div>
    <div flex ng-show="dontShow.indexOf('SEARCH') === -1">
        <md-input-container>
            <label>Search Item</label>
            <md-icon  md-svg-src="/images/baseline-search-24px.svg" class="s24" aria-label="Search"></md-icon>
            <input ng-change="searchQueryChanged()" ng-model="searchQuery" type="text" />
        </md-input-container>
    </div>
</div> -->
<div ng-show="errorMessage" layout="row" layout-xs="column">
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            {{errorMessage | translate}}
        </div>
    </div>
</div>
