<!--Main filter template -->
<style>
  md-input-container {
    width: 100%;
  }
  md-input-container label,
  md-input-container md-select {
    font-weight: bold;
  }
</style>
<div layout="row" layout-xs="column">
  <div flex>
    <md-input-container>
      <!-- <label>{{planChainTypes[0].name}}</label> -->
      <label>Objectives</label>
      <md-select
        aria-label="Objectives"
        ng-change="loadChildren(p1,1)"
        ng-model="p1"
      >
        <md-option ng-repeat="p in topPlanChains" ng-value="p.id"
          ><strong>[{{p.code}}]</strong> {{p.description}}</md-option
        >
      </md-select>
    </md-input-container>
  </div>
  <div flex ng-show="planChainTypes.length === 2">
    <md-input-container>
      <!-- <label>{{planChainTypes[1].name}}</label> -->
      <label>Service Output</label>
      <md-select
        aria-label="{{planChainTypes[1].name}}"
        ng-change="loadChildren(p2,2)"
        ng-model="p2"
      >
        <md-option ng-repeat="p in planChainTypes[1].children" ng-value="p.id"
          ><strong>[{{p.code}}]</strong> {{p.description}}</md-option
        >
      </md-select>
    </md-input-container>
  </div>
  <div flex ng-show="planChainTypes.length === 3">
    <md-input-container>
      <label>{{planChainTypes[2].name}}</label>
      <md-select 
        aria-label="{{planChainTypes[2].name}}"
        ng-change="loadChildren(p3,3)"
        ng-model="p3"
      >
        <md-option  ng-repeat="p in planChainTypes[2].children" ng-value="p.id"
          ><strong>[{{p.code}}]</strong> {{p.description}}</md-option
        >
      </md-select>
    </md-input-container>
  </div>
</div>
