<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_NATIONAL_TARGET"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errors" class="col-md-12">
                            <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errors=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="CODE"></label>
                                    <input name="code" type="text"
                                           ng-model="createDataModel.code" class="form-control">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="PRIORITY_AREA"></label>
                                    <select name="priority_area_id" class="form-control selectSearch"
                                            ng-model="createDataModel.priority_area_id"
                                            ng-options="f.id as ('['+f.number+'] '+f.description) for f in priorityAreas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.priority_area_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="DESCRIPTION"></label>
                                    <textarea ng-required="true" name="description"
                                              ng-model="createDataModel.description" class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $( ".selectSearch" ).select2({
        theme: "bootstrap"
    });
</script>