<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="showUploadForm===true">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <p class="text-info">The <a href="/download/NATIONAL_TARGETS.xlsx"><span style="text-decoration: underline">Excel</span></a> file sheet
                should be named <strong>NATIONAL_TARGETS</strong></p>
            <p class="text-info"><strong>description</strong> should a column header of the excel file to be uploaded</p>
        </div>
        <div ng-show="errorRows" class="row">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorRows=undefined"><span>×</span><span class="sr-only">Close</span>
                </button>
                Rows with errors: {{errorRows}}
            </div>
        </div>
        <div class="row">
            <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>
                            Priority Area
                        </label>
                        <select class="form-control select-search1" ng-model="priority_area_id"
                                name="priority_area_id">
                            <option ng-repeat="item in priorityAreas" value="{{item.id}}">
                                {{item.number}} - {{item.description}}
                            </option>
                        </select>
                        <i ng-show="myForm.priority_area_id.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>
                            Excel File
                        </label>
                        <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                               data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                               accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                               required ngf-model-invalid="errorFile"/>
                        <i ng-show="myForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                        </button>
                        <button type="button" class="btn btn-warning"
                                ng-click="toggleUploadForm(false)"><i class="fa fa-close"></i> Close
                        </button>
                        <!--<span ng-show="excelFile.result" class="alert alert-success">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row" ng-show="showList===true">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button class="btn btn-primary" ng-click="toggleUploadForm(true)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_UPLOAD"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NATIONAL_TARGET"></th>
                            <th translate="CODE"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,items) in items.data | groupBy:'priority_area.description'">
                            <td colspan="4" class="bg-info">Priority Area: [{{::items[0].priority_area.number + "] " +s}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in items">
                            <td>{{$index + 1}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.code}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(item,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>