<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_CALENDAR_EVENT"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="createDataModel.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="NUMBER"></label>
                                    <input ng-required="true" name="number" type="text"
                                           ng-model="createDataModel.number" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_start_reminder_sms" type="text"
                                              ng-model="createDataModel.before_start_reminder_sms"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_start_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_end_reminder_sms" type="text"
                                              ng-model="createDataModel.before_end_reminder_sms"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_end_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_start_reminder_days" type="text"
                                           ng-model="createDataModel.before_start_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_start_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_end_reminder_days" type="text"
                                           ng-model="createDataModel.before_end_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_end_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <label translate="URL"></label>
                                    <input name="url" type="text"
                                           ng-model="createDataModel.url" placeholder="url" class="form-control">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="EXPECTED_VALUE_QUERY"></label>
                                    <i>Params #{adminHierarchyId},#{planningFinancialYearId},#{executionFinancialYearId},#{sectionId}</i>
                                    <textarea  name="expected_value_query" type="text"
                                              ng-model="createDataModel.expected_value_query"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="ACTUAL_VALUE_QUERY"></label>
                                    <i>Params #{adminHierarchyId},#{planningFinancialYearId},#{executionFinancialYearId},#{sectionId}</i>
                                    <textarea  name="actual_value_query" type="text"
                                              ng-model="createDataModel.actual_value_query"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>