<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/calendar/calendar-management-submenu.html'"></ng-include>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="NUMBER"></th>
                            <th translate="BEFORE_START_REMINDER_SMS"></th>
                            <th translate="BEFORE_END_REMINDER_SMS"></th>
                            <th translate="BEFORE_START_REMINDER_DAYS"></th>
                            <th translate="BEFORE_END_REMINDER_DAYS"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td style="background-color: #9ca2a7;" colspan="8">&nbsp;</td></tr>
                        <tr ng-repeat="calendarEvent in calendarEvents.data">
                            <td>{{$index + 1}}</td>
                            <td>{{calendarEvent.name}}</td>
                            <td>{{calendarEvent.number}}</td>
                            <td>{{calendarEvent.before_start_reminder_sms}}</td>
                            <td>{{calendarEvent.before_end_reminder_sms}}</td>
                            <td>{{calendarEvent.before_start_reminder_days}}</td>
                            <td>{{calendarEvent.before_end_reminder_days}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(calendarEvent,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a ng-if="!calendarEvent.is_system_event" href class="btn btn-danger" ng-click="delete(calendarEvent.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="calendarEvents.total > calendarEvents.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="calendarEvents.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="calendarEvents.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ calendarEvents.total }}"
                             perPage="{{ calendarEvents.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>