<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="!isUserLevel">
     <div class="col-md-2">
        <select class="form-control" name="admin_level" ng-model="budgetType" ng-change="changeBudgetType()" >
            <option value="CURRENT" >CURRENT</option>
            <option value="CARRYOVER" >CARRYOVER</option>
            <option value="SUPPLIMENTARY" >SUPPLIMENTARY</option>
        </select>
    </div>
    <div class="col-md-2">
        <select ng-disabled="financialYears.length === 1" class="form-control selectLevel6" name="admin_level"
                ng-model="financialYear" ng-change="changeFinancialYear()" ng-options="f as f.name for f in financialYears">
            <option value="" selected="selected">- Financial Year-</option>
        </select>
    </div>
    <div class="col-md-2">
        <select  class="form-control" name="admin_level"
                ng-model="revenueType">
            <option value="" selected="selected">-Select Revenue Type-</option>
            <option  value="LGRCIS">Own Sources Revenue</option>
            <option  value="EPICOR">Other Fund Sources Revenue</option>
            <option  value="FFARS">Facility Revenue</option>
        </select>
    </div>
    <div class="col-md-2" ng-show="false">
        <select ng-disabled="adminLevels.length === 1" class="form-control selectLevel6" name="admin_level"
                ng-model="adminLevel" ng-change="resetHierarchy()" ng-options="item as item.name for item in adminLevels">
            <option value="" selected="selected">- Admin Level-</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control selectLevel1" ng-change="loadChildren(a1,adminLevel)"
                ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
            <option value="" selected="selected">-Admin Hierarchy-</option>
        </select>
    </div>
    <div class="col-md-2" ng-show="a1.children.length">
        <select class="form-control selectLevel2" ng-change="loadChildren(a2,adminLevel)"
                ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="a2.children.length">
        <select class="form-control selectLevel3" ng-change="loadChildren(a3,adminLevel)"
                ng-model="a3" ng-options="a3 as a3.name for a3 in a2.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="a3.children.length">
        <select class="form-control selectLevel4" ng-change="loadChildren(a4,adminLevel)"
                ng-model="a4" ng-options="a4 as a4.name for a4 in a3.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="a4.children.length">
        <select class="form-control selectLevel5" ng-change="loadChildren(a5,adminLevel)"
                ng-model="a5" ng-options="a5 as a5.name for a5 in a4.children">
        </select>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="input-group ">
            <input ng-model="searchString"  ng-keypress="enterToSearch($event)" ng-change="searchRevenue()" type="text" class="form-control"
            placeholder="{{'SEARCH_REVENUE_SOURCE' | translate}}" />
            
            <span class="input-group-btn" nowrap="nowrap">
                <button ng-click="searchRevenue()" class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <button  type="button" class="btn btn-warning" ng-click="disApproveSelected()" aria-hidden="true">
            <i class="fa fa-tick"></i>
            <span translate="DISAPPROVE" translate-values="{name:'All'}" class="ng-scope"></span>
        </button>
        <!--<button  type="button" class="btn btn-info" ng-click="approve(true)" aria-hidden="true">-->
            <!--<i class="fa fa-tick"></i>-->
            <!--<span translate="APPROVE" translate-values="{name:'Selected'}" class="ng-scope"></span>-->
        <!--</button>-->
        <button type="button" class="btn btn-info" ng-click="approve(false)" aria-hidden="true">
            <i class="fa fa-tick"></i>
            <span translate="APPROVE" translate-values="{name:'All'}" class="ng-scope"></span>
        </button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-wrapper">
            <table class="table table-bordered table-striped" >
                <thead class="bg-teal-400">
                <tr>
                    <th translate="TH_NO"></th>
                    <th translate="COA"></th>
                    <th translate="GFS_CODE"></th>
                    <th translate="AMOUNT(TZS)"></th>
                    <th translate="APPROVE"></th>
                    <!--<th translate="SELECT"></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="(s,items) in receivedFundItems.data | groupBy:'section'">
                    <td colspan="6" class="bg-teal">{{s}}</td>
                </tr>
                <tr ng-repeat-end ng-repeat="value in items ">
                    <td>{{$index + 1}}</td>
                    <td nowrap="nowrap">{{value.chart_of_account}}</td>
                    <td>[{{value.gfs_code}}] {{value.description}}</td>
                    <td><span class="pull-right">{{value.amount|currency:""}}</span></td>
                    <td class="action">
                        <span class="label label-info" ng-show="value.is_approved" translate="YES"></span>
                        <span class="label label-default" ng-show="!value.is_approved" translate="NO"></span>
                    </td>
                    <!--<td class="action">-->
                        <!--<md-checkbox class="info" ng-model="isChecked" aria-label="Select {{value.description}}">-->
                            <!--select-->
                        <!--</md-checkbox>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <br/>
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="receivedFundItems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="receivedFundItems.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ receivedFundItems.total }}" perPage="{{ receivedFundItems.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-value="25" ng-change="pageChanged()"></per-page>
            </div>
        </div>

    </div>

</div>