<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<br />

<div class="row" ng-show="!isUserLevel">
   <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_4','ADMIN_HIERARCHY_LEVEL_2','ADMIN_HIERARCHY_LEVEL_3','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
   <div layout="row">
      <div layout="column" flex = 50>
        <md-input-container>
            <label>Financial System</label>
            <md-select aria-label="system_code" ng-model="system_code" >
                <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
            </md-select>
        </md-input-container>
      </div>
      <div layout="column">
        <md-dialog-actions>
        <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 2 || system_code == undefined)"
            class="md-raised md-primary"
            ng-click="loadRevenueAccounts(selectedAdminHierarchyId, financialYear,system_code)">Load Items </md-button>
        </md-dialog-actions>
      </div>
      <div layout="column" ng-if="selectedBudgetType !== 'CURRENT' && accountsLoaded && user.decision_level_id !== 4">
        <md-dialog-actions>
        <md-button
            class="md-raised md-warn"
            ng-click="regenerateRevenueAccounts()">Regenerate Accounts</md-button>
        </md-dialog-actions>
      </div>
  </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <span class="badge badge-default">A</span> = Approved[Not Sent] &nbsp;&nbsp;
        <span class="badge badge-info">A</span> = Approved [Sent] &nbsp;&nbsp;
        <span class="badge badge-success">A</span> = Approved  [Delivered]&nbsp;
    </div>
    <div class="col-md-6">
        <div class="heading-btn pull-right">
            <label class="btn btn-default">Total Account: {{revenueAccounts.total}}</label>
            <label class="btn btn-success ">Total Exported: {{totalExport}}</label>
            <button ng-if="revenueAccounts.total !==undefined && totalExport !==undefined && user.decision_level_id !== 4"  type="button" class="btn btn-info" ng-click="exportRevenue(selectedAdminHierarchyId,financialYear,system_code)" aria-hidden="true">
                <i class="fa fa-upload"></i>
                <span translate="BTN_EXPORT" class="ng-scope">Export</span> ({{revenueAccounts.total - totalExport}})
            </button>
            <!--a href="/files/revenue-accounts/export?adminHierarchyId={{selectedAdminHierarchyId}}&financialYear={{financialYear}}&budget_type={{BudgetType}}&financial_system_code={{system_code}}"
            class="btn btn-success">
               <i class="fa fa-file-excel-o"></i>
               <span translate="BTN_EXPORT"></span>
           </a-->
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
       <div class="pull-right text-bold">
           <span>Total Budget: {{ grand_total| currency:"" }}</span>
       </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
      <div class="table-responsive table-wrapper">
        <table class="table table-bordered table-striped" >
            <thead class="bg-teal-400">
            <tr>
                <th translate="TH_NO"></th>
                <th translate="COA"></th>
                <th translate="GFS_CODE"></th>
                <th translate="AMOUNT(TZS)"></th>
                <th translate="FINANCIAL_SYSTEM"></th>
                <th translate="EXPORTS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="(s,items) in revenueAccounts.data | groupBy:'section'">
                <td colspan="6" class="bg-teal">{{s}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="value in items ">
                <td>{{$index + 1}}</td>
                <td nowrap="nowrap">{{value.chart_of_accounts}}</td>
                <td>[{{value.gfs_code}}] {{value.description}}</td>
                <td><span class="pull-right">{{value.amount|currency:""}}</span></td>
                <td>{{value.financial_system_code}}</td>
                <td class="action">
                    <!-- <i style="color:green" ng-if="value.is_delivered" class="fa fa-check"></i> -->
                    <span class="badge badge-success"  ng-if="value.is_delivered">A</span>
                    <span class="badge badge-default" ng-if="value.is_sent == null">A</span>
                    <span class="badge badge-info" ng-if="value.is_sent">A</span>
                    <!-- <i style="color:red" ng-if="value.is_sent == null" class="fa fa-times"></i> -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<br />
<div class="row" >
    <div class="col-md-10">
        <ul uib-pagination total-items="revenueAccounts .total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" 
        num-pages="numPages" items-per-page="revenueAccounts.per_page"
            ng-model="currentPage"
            ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{revenueAccounts.total }}" perPage="{{ revenueAccounts .per_page }}"></total-pages>
    </div>
    <div class="col-md-2">
        <per-page ng-model="perPage" ng-value="25" ng-change="pageChanged()"></per-page>
    </div>

</div>

