<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_REPORT_MENU"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                    class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LABEL_PATH"></span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="createDataModel.name" placeholder="Optional" class="form-control"/>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LABEL_NAME"></span></label>
                        <div class="col-sm-9">
                            <input name="description" ng-model="createDataModel.description" class="form-control" />
                        </div>
                        <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="createForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="PARENT_MENU"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-options="x.id as x.description for x in reports"
                                    ng-model="createDataModel.parent_id"
                                    class="form-control"
                                    name="parent_id">
                                <option value="" selected translate="PARENT_REPORT_MENU"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="IS_HTML"></span></label>
                        <div class="col-sm-9">
                            <div class="checkbox checkbox-switchery">
                                <label>
                                    <input type="checkbox" name="expanded" ng-model="createDataModel.is_html"
                                           ng-checked="createDataModel.is_html === true" class="switchery">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LEVEL"></span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="level" type="text" ng-model="createDataModel.level" placeholder="" class="form-control"/>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createForm.level.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="POSITION"></span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="position" type="text" ng-model="createDataModel.position" placeholder=""
                                   class="form-control"/>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createForm.position.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>