<div class="manage-nav" >
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_ADMIN_HIERARCHY_LEVELS'}" >
            <a id="user-tab" href="/setup#!/users" translate="ADMIN_HIERARCHY_LEVELS"></a>
        </li>
        <li  ng-class="{'selected':title=='ADMIN_HIERARCHIES'}" >
            <a id="profile-tab" href="/setup#!/user-profile-keys" translate="ADMIN_HIERARCHIES"></a>
        </li>
        <li  ng-class="{'selected':title=='PLANNING_UNIT_LEVELS'}" >
            <a id="unit_levels" href="/setup#!/roles" translate="PLANNING_UNIT_LEVELS"></a>
        </li>
        <li ng-class="{'selected':title=='PLANNING_UNITS'}"  class="">
            <a id="right-tab" href="/setup#!/rights" translate="PLANNING_UNITS"></a>
        </li>
        <li  ng-class="{'selected':title=='DECISION_LEVELS'}" >
            <a id="role-tab" href="/setup#!/roles" translate="DECISION_LEVELS"></a>
        </li>
    </ul>
</div>