<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_ADMIN_HIERARCHY"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createAdminHierarchyForm" novalidate autocomplete="off">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="adminHierarchyToCreate.name"
                                placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.name.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_ADMIN_HIERARCHY_LEVEL"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-options="level.id as level.name for level in adminHierarchyLevels"
                                ng-model="adminHierarchyToCreate.admin_hierarchy_level_id"
                                ng-change="loadParentAdminHierarchies(adminHierarchyToCreate.admin_hierarchy_level_id)"
                                class="form-control" ng-required="true" name="level">
                                <option value="" selected translate="SELECT_ADMINISTRATION_LEVEL"></option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.level.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="adminHierarchyToCreate.code"
                                placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.code.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="WARD_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="ward_code" type="text" ng-model="adminHierarchyToCreate.ward_code" placeholder="" class="form-control">
                        </div>
                    </div> -->

                    <div class="form-group" ng-show="piscProperty">
                        <label class="control-label col-sm-3">
                            <span>Vote</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-options="parent.id as parent.name for parent in adminHierarchyMinistry"
                                ng-model="adminHierarchyToCreateMinistry.id" class="form-control selectparent"
                                ng-change="onchangeMinistry(adminHierarchyToCreateMinistry.id)">
                                <option value="" selected> Vote</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <!-- <span translate="LABEL_ADMIN_HIERARCHY_PARENT"></span> -->
                            <span translate={{parentLebal}}></span>

                        </label>
                        <div class="col-sm-9">
                            <select ng-options="parent.id as parent.name for parent in adminHierarchyParents"
                                ng-model="adminHierarchyToCreate.parent_id" class="form-control selectparent">
                                <option value="" selected translate={{selectParent}}></option>
                            </select>
                        </div>
                    </div>
                    <!--  pisc_type-->
                    <div class="form-group" ng-show="piscProperty">
                        <label class="control-label col-sm-3">
                            <span translate="pisc_type" *></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="pisc_type_id" class="form-control"
                                ng-model="adminHierarchyToCreate.pisc_type_id" ng-required="piscPropertyRequired"
                                ng-options="pisc_type.id as pisc_type.name for pisc_type in pisc_types"
                                class="form-control select pisc type">
                                <option value="" selected translate="SELECT_PISC_TYPE"></option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.pisc_type_id.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <!-- COFOGS-->
                    <div class="form-group" ng-show="piscProperty">
                        <label class="control-label col-sm-3">
                            <span translate="COFOG" *></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="cofog_id" class="form-control" ng-model="adminHierarchyToCreate.cofog_id"
                                ng-required="piscPropertyRequired"
                                ng-options="cofog.id as cofog.name for cofog in cofogs" class="form-control">
                                <option value="" selected translate="SELECT_PISC_COFOGS"></option>
                            </select>
                            <!--                        <select class="form-control" name="cofog_id" ng-model="adminHierarchyToCreate.cofog_id">-->
                            <!--                          <option ng-repeat="cofog in cofogs" value="cofog.id">{{cofog.name}}</option>-->
                            <!--                        </select>-->
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.cofog_id.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-min="1" name="sort_order" type="number"
                                ng-model="adminHierarchyToCreate.sort_order" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.sort_order.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger"
                                    ng-show="createAdminHierarchyForm.sort_order.$error.min"
                                    translate="VALIDATION_MIN"></span>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".selectparent").select2();
</script>