<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="MODAL_TITLE_EDIT_ADMIN_HIERARCHY"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateAdminHierarchyForm">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="adminHierarchyToEdit.name"
                                placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="updateAdminHierarchyForm.name.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_ADMIN_HIERARCHY_LEVEL"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="adminHierarchyToEdit.admin_hierarchy_level_id"
                                ng-options="level.id as level.name for level in adminHierarchyLevels"
                                ng-change="loadParentAdminHierarchies(adminHierarchyToEdit.admin_hierarchy_level_id)"
                                ng-required="true" class="form-control" name="level">
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="updateAdminHierarchyForm.level.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="adminHierarchyToEdit.code"
                                placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="updateAdminHierarchyForm.code.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <!--                    <div class="form-group">-->
                    <!--                        <label class="control-label col-sm-3" >-->
                    <!--                            <span translate="WARD_CODE"></span><span>*</span>-->
                    <!--                        </label>-->
                    <!--                        <div class="col-sm-9">-->
                    <!--                            <input ng-required="true" name="ward_code" type="text" ng-model="adminHierarchyToEdit.ward_code" placeholder="" class="form-control"/>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="form-group" ng-show="piscProperty">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_VOTE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="selectedVote" ng-options="parent.id as parent.name for parent in allVotes"
                                class="form-control" ng-change="onchangeVote(selectedVote)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate={{parentLebal}}></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="adminHierarchyToEdit.parent_id"
                                ng-options="parent.id as parent.name for parent in adminHierarchyParents"
                                class="form-control">
                            </select>
                        </div>
                    </div>
                    <!--  pisc_type-->
                    <div ng-show="piscProperty">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="pisc_type" *></span>
                            </label>
                            <div class="col-sm-9">
                                <select name="pisc_type_id" class="form-control"
                                    ng-model="adminHierarchyToEdit.pisc_type_id" ng-required="true"
                                    ng-options="pisc_type.id as pisc_type.name for pisc_type in pisc_types"
                                    class="form-control">
                                </select>
                            </div>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="adminHierarchyToEdit.pisc_type_id.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <!-- COFOGS-->
                    <div ng-show="piscProperty">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="COFOG" *></span>
                            </label>
                            <div class="col-sm-9">
                                <select name="cofog_id" class="form-control" ng-model="adminHierarchyToEdit.cofog_id"
                                    ng-required="true" ng-options="cofog.id as cofog.name for cofog in cofogs"
                                    class="form-control">
                                </select>
                            </div>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="adminHierarchyToEdit.cofog_id.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-min="1" name="sort_order" type="number" ng-model="adminHierarchyToEdit.sort_order"
                                placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="updateSectionForm.sort_order.$error.required"
                                    translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger" ng-show="updateSectionForm.sort_order.$error.min"
                                    translate="VALIDATION_MIN"></span>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()"
                        translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()"
                        translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
