<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title">Projects|{{ name }}</h5>
            </div>
            <form action="#" class="form-horizontal" name="updateAdminHierarchyForm">
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="TH_NO"></th>
                                    <th translate="TH_PROJECT"></th>
                                    <th translate="TH_ACTION"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p class="text-info">
                                            Assign <i class="fa fa-arrow-right"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <select name="project_id" class="select-search form-control"
                                                ng-model="adminHierarchyProjectToCreate.project_id"
                                                ng-options="project.id as project.name for project in projects">
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="add_project()">Add Project</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="admin_hierarchy_project in admin_hierarchy_projects">
                                    <td>{{$index + 1}}</td>
                                    <td>{{ admin_hierarchy_project.project.name }}</td>
                                    <td nowrap="nowrap">
                                        <button type="button" class="btn btn-danger" ng-click="deleteAdminHierarchyProject(admin_hierarchy_project.id,admin_hierarchy_project.admin_hierarchy_id)">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" >
                    <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>