<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></button>&nbsp;&nbsp;
        <button style="margin-right:4px" type="button" ng-disabled="planTableOptionNode.currentNode === undefined" href class="btn btn-info pull-right create-btn" ng-click="edit(planTableOptionNode.currentNode)" translate="BTN_EDIT"></button>
        <button style="margin-right:4px" type="button" ng-disabled="planTableOptionNode.currentNode === undefined" href class="btn btn-danger pull-right" ng-click="delete(planTableOptionNode.currentNode.id)" translate="BTN_DELETE"></button>

        <br />
        <div class="row">
            <div class="col-md-12" style="background: #FFF;padding:6px 6px 6px 6px;border:1px solid #ddd;border-radius:4px">
                <input style="width:100%" class="form-control"  ng-model='planTableOptionNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                <br />
                <div
                        data-angular-treeview="true"
                        data-tree-id="planTableOptionNode"
                        data-tree-model="planTableOptions"
                        data-node-id="id"
                        data-node-label="name"
                        data-node-children="children"
                        data-search-query='planTableOptionNodeSearchQuery'
                >
                </div>
                <br/>
            </div>
        </div>
        <br/>

    </div>
</div>
