<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editCasPlanTableSelectOptionForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_UPDATE_OPTION"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="NAME"></label>
                        <div class="col-sm-9">
                            <input  class="form-control"
                                    ng-model="updateCasPlanTableSelectOption.name" />

                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanTableSelectOptionForm.name.$error.required">Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   ng-model="updateCasPlanTableSelectOption.code" />

                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanTableSelectOptionForm.name.$error.required">Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PARENT"></label>
                        <div class="col-sm-9">
                            <select class="form-control"
                                    ng-model="updateCasPlanTableSelectOption.parent_id"
                                    ng-options="f.id as f.name for f in casPlanTableSelectOptions">

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="ACTIVE"></label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" ng-model="updateCasPlanTableSelectOption.active"/>
                                <span translate="YES"></span>
                            </label>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>