<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="CREATE_PROCUREMENT_METHOD"></h5>
      </div>

      <form action="#" class="form-horizontal" name="createForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined"
                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                {{errorMessage | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="NAME"></label>
                  <input ng-required="true" name="name" type="text"
                         ng-model="createDataModel.name" placeholder="" class="form-control">
                  <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="CODE"></label>
                  <input ng-required="true" name="code" type="text"
                         ng-model="createDataModel.code" class="form-control">
                  <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="DESCRIPTION"></label>
                  <input ng-required="true" name="description" type="text"
                         ng-model="createDataModel.description" class="form-control">
                  <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
          <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
