$sweet_green: #26a69a;
$planrep_dark: #26507A;

body {
  .login-container {
    min-height: 100vh !important;
  }
}

.navbar {
  background-color: #26507A;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 0 0 16px;
  border: none;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .navbar-header {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    //background-color: $sweet_green;
    background-color: $planrep_dark;
    height: 64px;
    width: 14%;
    text-align: center;
    padding: 0;
    position: relative;
    .navbar-brand {
      height: 64px;
      line-height: 40px !important;
    }
  }
}

.hidden-header {
  width: 0 !important;
  display: none !important;
}

.small-img {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #fff !important;
}

.logo_header {
  height: 64px !important;
  width: 100%;
}

.content-wrapper {
  padding: 0.7em 0;
}

.picture-container {
  img.cirled {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 4px solid $sweet_green;
  }
}

.header-contents {
  margin-left: 14px;
  font-size: 1.1em;
}

.profile-container {
  padding-left: 15px;
}

.divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  width: 100%;
  border-top-color: rgba(54,64,70,1);
}

.navigation {
  font-size: 1.2em;
  padding: 0 !important;
  i {
    font-size: 1.5em;
  }
  &> li {
    &> a {
      padding: 4px !important;
    }
  }
}

.sidebar-xs .sidebar-main .navigation > li > a > i {
  color: $sweet_green;
}

a.sidebar-control {
  width: 64px;
  height: 64px;
  color: #ccc;
  i {
    font-size: 3em;
  }
}

.navbar-nav {
  margin-left: 0 !important;
  li.hamburger {
    width: 67px;
    background: #26507A;
    ng-md-icon {
      fill: $sweet_green;
    }
  }
  .dropdown-user {
    a {
      span {
        padding-top: 10.5px;
      }
    }
  }
}

.navbar-right {
  height: 64px;
}

a.dropdown-toggle {
  color: #ccc;
  height: 64px;
}
.navbar-inverse {
  .navbar-nav {
    &> li {
      &>a {
        color: #fff !important;
      }
    }
  }
}

.login-container {
  height: 100vh !important;
}

.sidebar-content {
  top: 64px !important;
}

.sidebar-xs .sidebar-fixed.sidebar-main .sidebar-content {
  width: 56px !important;
  overflow-x: hidden;
}

.sidebar-xs .sidebar-main {
  width: 64px;
}

.modal-header[class*=bg-] {
  background: $planrep_dark;
  color: #fff;
  border: 1px solid $planrep_dark !important;
  .close {
    color: #fff;
  }
  &:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

.sidebar-category {
  ng-md-icon {
    fill: $sweet_green;
  }
  .menu-text {
    margin-left: 5px;
  }
  li.active {
    ng-md-icon {
      fill: #fff;
    }
  }
}

.scroller {
  position: relative; /* relative or absolute positioning required by Perfect Scrollbar */
  min-height: 10px;  /* height must be limited to induce scrolling behavior */
}

button.sidebar-toggle {
  line-height: 64px;
  min-height: 64px;
  min-width: 64px;
  margin: 0;
  padding: 0 0 0 12px;
  ng-md-icon {
    fill: #fff;
  }
}

h2.admin-title {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.show-it {
  display: block !important;
}

.hide-it {
  display: none !important;
}

td.action-options {
  a {
    padding: 0 10px 0 0;
    ng-md-icon {
      fill: #00bcd4;
      &.danger {
        fill: #ff5722;
      }
    }
  }
}

tbody > tr > td {
  border: 1px solid rgba(221, 221, 221, 0.19) !important;
}
