<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="BUDGET_ASSESSMENT"></h5>
            </div>
             <div class="modal-body">
                 <div>
                     <h6><span translate="TOTAL"></span>: {{totalBudget | currency:''}}</h6></div>
                 <hr/>
                 <div>
                     <h6>Allocation by Expenditure Centres</h6>
                     <table class="table table-sm table-bordered table-striped">
                         <tr class="bg-teal-400">
                             <td>Name</td>
                             <td>Min %</td>
                             <td>Max %</td>
                             <td>Allocated %</td>
                             <td>Allocated amount</td>
                         </tr>
                         <tr ng-repeat="e in expenditureCentres">
                             <td>{{e.name}}</td>
                             <td>{{e.min_percentage}}%</td>
                             <td>{{e.max_percentage}}%</td>
                             <td ng-class="{'red':e.max_percentage < e.allocated_percentage}">{{e.allocated_percentage}}%</td>
                             <td>{{e.total_allocated  | currency:''}}</td>
                         </tr>
                     </table>
                 </div>
                 <hr/>
                 <div>
                     <h6>Allocation by Fund Source</h6>
                     <table class="table table-sm table-bordered table-striped">
                         <tr class="bg-teal-400">
                             <td>Fund Source</td>
                             <td>Sub Expenditure Centre</td>
                             <td>Required Percentage</td>
                             <td>Allocated %</td>
                             <td>Allocated amount</td>
                         </tr>
                         <tr class="bg-teal-300" ng-repeat-start="(mName, mains) in mainGroups | groupBy:'main_group'">
                             <td colspan="5">{{mName}}</td>
                         </tr>
                         <tr  ng-repeat-start="m in mains">
                             <td >{{m.fund_source}}</td>
                             <td>
                                 <span ng-if="m.groups.length ==1">
                                    <li ng-repeat="sub in  m.groups[0].subCentres">
                                        {{name}}
                                    </li>
                                 </span>
                                 <span></span>
                             </td>
                             <td>{{m.budget_percent}}%</td>
                             <td ng-class="{'red':m.budget_percent < m.percentage_allocated}">{{m.percentage_allocated}}%</td>
                             <td>{{m.total_allocated  | currency:''}}</td>
                         </tr>
                         <tr  ng-if="m.groups.length >1" ng-repeat-end ng-repeat="g in m.groups">
                             <td ></td>
                             <td>
                                 <li ng-repeat="sub in  g.subCentres">
                                     {{sub.name}}
                                 </li>
                             </td>
                             <td>{{g.value}}%</td>
                             <td ng-class="{'red':g.percentage < g.value}" ng-init="g.percentage=(g.total_allocated/m.total_allocated)*100">{{ g.percentage | number:2}}%</td>
                             <td>{{g.total_allocated  | currency:''}}</td>
                         </tr>
                         <tr ng-show="false" ng-repeat-end=""></tr>
                     </table>
                 </div>
             </div>
                <div class="modal-footer" >
                    <button type="button"  class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>