<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 ng-if="!editMode" class="modal-title" translate="ADD_INPUTS"></h5>
                <h5 ng-if="editMode" class="modal-title" translate="EDIT_INPUT"></h5>
            </div>

            <form action="#" class="form-vertical" name="createInputForm">
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage = undefined"><span>×</span><span
                                    class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ol ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <md-input-container style="width:100%">
                                    <label>Activity</label>
                                    <input type="text" value="[ {{activity.code}} ] {{activity.description}}" disabled />
                                </md-input-container>
                            </div>
                        </div>

                    <div class="row" ng-show="budgetType !=='REALLOCATION'" style="margin-bottom: 10px">
                        <div class="col-md-10">
                            <md-input-container style="width:100%">
                                <label>Fund Source</label>
                                <input type="text" value="{{selectedFundSourceName}}" disabled />
                            </md-input-container>
                        </div>
                        <div class="col-md-2">
                            <md-input-container style="width:100%">
                                <label>Balance</label>
                                <input type="text" value="{{selectedFundSourceBalance | currency:''}}" disabled />
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row" ng-show="budgetType ==='REALLOCATION'">
                        <div class="">
                            <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
                                Create new reallocation input with zero budget to be reallocated fund
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="addedInputs.length >0" style="margin-bottom:10px">
                        <div class="col-md-12">
                            <table class="table table-bordered inputs">
                                <tr ng-repeat="i in addedInputs">
                                    <td style="width:80%;padding:10px;background-color: #f5f5f5">{{i.gfs_code.code}}-{{i.gfs_code.description}}</td>
                                    <td style="width:18%;padding:10px;background-color: #f5f5f5"><span translate="CURRENCY"></span>&nbsp;{{i.quantity*i.frequency*i.unit_price
                                        | currency:''}}</td>
                                    <td style="width:2%;padding:0px;background-color: #f5f5f5" nowrap="nowrap" class="inputs-action">
                                        <button type="button" class="btn btn-primary" ng-click="editInput(i)" href>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteInput(i)" href>
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <fieldset class="activity">
                        <div class='row'>
                            <div class='col-sm-10'>
                                <md-input-container style="width:100%">
                                    <label for="gfsCode" translate="TH_GFS_CODE"></label>
                                    <md-autocomplete required aria-label="gfs_code" placeholder="Search Gfs Code" required
                                        md-selected-item="inputToCreate.gfs_code" md-search-text="searchText" md-items="item in searchGfsCode(searchText)"
                                        md-input-name="gfs_code" md-selected-item-change="gfsCodeChanged(inputToCreate.gfs_code)"
                                        md-item-text="'['+item.code+']'+'-'+item.description+' ('+item.gfs_code_sub_category.name+')'">
                                        <span md-highlight-text="searchText">[{{item.code}}]-{{item.description}} ({{item.gfs_code_sub_category.name}})</span>

                                    </md-autocomplete>
                                    <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="createInputForm.gfs_code.$error.required"
                                                translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                </md-input-container>
                            </div>
                            <div class='col-sm-2'>
                                <md-input-container style="width:100%">
                                    <label for="unit" translate="TH_UNIT_OF_MEASURE"></label>
                                    <md-select ng-model="inputToCreate.unit_id" ng-required="true" id="unit" name="unit">
                                        <md-option ng-repeat="u in units" ng-value="u.id">{{u.name}}</md-option>
                                    </md-select>
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="createInputForm.unit.$error.required"
                                            translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-3'>
                                <md-input-container style="width:100%">
                                    <label for="unit_price">
                                        <span translate="TH_UNIT_PRICE"></span>
                                        <span>({{'CURRENCY'|translate}})&nbsp;
                                            <span ng-show="unitPriceFocus && inputToCreate.unit_price !==undefined"
                                                style="padding:2px 4px;border-radius:2px" class="bg-info">
                                                <strong>{{inputToCreate.unit_price | currency:''}}</strong></span></span>
                                    </label>
                                    <input type="text" number-to-currency ng-model="inputToCreate.unit_price"
                                        valid-number ng-disabled="isRealloc" ng-required="true" autocomplete="off"
                                        ng-disabled="budgetType ==='REALLOCATION'" ng-focus="unitPriceFocus=true"
                                        ng-blur="unitPriceFocus=false" name="unit_price" id="unit_price" />
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="createInputForm.unit_price.$error.required"
                                            translate="VALIDATION_REQUIRED"></span>
                                        <span class="help-block text-danger" ng-show="createInputForm.unit_price.$error.pattern"
                                            translate="VALIDATION_NUMERIC"></span>
                                    </div>

                                </md-input-container>

                            </div>
                            <div class='col-sm-1'>
                                <md-input-container style="width:100%">
                                    <label for="quantity">Qty</label>
                                    <input class="form-control" autocomplete="off" type="text" ng-required="true"
                                        ng-model="inputToCreate.quantity" valid-number min="0" ng-disabled="budgetType ==='REALLOCATION'"
                                        name="quantity" id="quantity" />
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="createInputForm.quantity.$error.required"
                                            translate="VALIDATION_REQUIRED"></span>
                                        <span class="help-block text-danger" ng-show="createInputForm.quantity.$error.min"
                                            translate="VALIDATION_MIN_1"></span>
                                    </div>

                                </md-input-container>

                            </div>
                            <div class='col-sm-1'>
                                <md-input-container style="width:100%">
                                    <label for="frequency" translate="TH_FREQUENCY"></label>
                                    <input class="form-control" autocomplete="off" ng-disabled="budgetType ==='REALLOCATION'"
                                        valid-number type="text" ng-model="inputToCreate.frequency" min="0" required="required"
                                        name="frequency" id="frequency" />
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="createInputForm.frequency.$error.required"
                                            translate="VALIDATION_REQUIRED"></span>
                                        <span class="help-block text-danger" ng-show="createInputForm.frequency.$error.min"
                                            translate="VALIDATION_MIN_1"></span>
                                    </div>

                                </md-input-container>

                            </div>
                            <div class='col-sm-3'>
                                <md-input-container style="width:100%">
                                    <label for="total">
                                        <span translate="TH_TOTAL"></span>
                                        <span>({{'CURRENCY'|translate}})</span>
                                    </label>
                                    <input ng-disabled="true" class="form-control" type="text" ng-value="(inputToCreate.quantity*inputToCreate.frequency*inputToCreate.unit_price)| currency:''"
                                        name="total" id="total" />
                                    <input name="validCeiling" ng-model="inputToCreate.validCeiling" ng-required="selectedFundSourceBalance < getTotalInput(inputToCreate.quantity,inputToCreate.frequency,inputToCreate.unit_price)"
                                        type="hidden" />
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="createInputForm.validCeiling.$error.required">
                                            <span translate="VALIDATION_CEILING"></span><span>&nbsp;{{selectedFundSourceBalance
                                                | currency:''}}</span>
                                        </span>
                                    </div>

                                </md-input-container>

                            </div>
                            <div class=col-sm-1 ng-repeat="p in periods" ng-if="activityPeriods.indexOf(p.id) !== -1">
                                <md-input-container style="width:100%">
                                    <label for="{{p.name}}">
                                        <span>(%){{p.name}}</span>
                                    </label>
                                    <input
                                        autocomplete="off" ng-init="inputToCreate.periods[p.id]=getPeriodValue(p.id)"
                                        ng-model="inputToCreate.periods[p.id]" type="text"
                                        valid-number name="period_{{p.id}}" id="period_{{p.id}}" />
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="activityPeriods.indexOf(p.id) !== -1 && inputToCreate.periods[p.id] === undefined">
                                            <span translate="VALIDATION_REQUIRED"></span>
                                        </span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-sm-8">
                            <input name="validPercentage" ng-model="inputToCreate.validPercentage"
                                ng-required="getTotalPercentage(inputToCreate.periods) !== 100"
                                type="hidden" />
                            </div>
                            <div class="col-sm-4" ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createInputForm.validPercentage.$error.required">
                                        Total % must be = 100
                                    </span>
                            </div>

                        </div>
                        <!--Forwards-->
                        <div ng-if="!isRealloc">
                            <div ng-if="budgetType ==='CURRENT' || budgetType ==='APPROVED'" class='row' ng-repeat="f in forwardFinancialYears">
                                <div class='col-sm-4'>
                                    <div class='form-group'>
                                        <span ng-init="inputToCreate.input_forwards[$index]['financial_year_id']=f.id" class="pull-right">Year {{f.name}}</span>
                                    </div>
                                </div>
                                <div class='col-sm-2'>
                                    <md-input-container style="width:100%">
                                        <label>Qty{{inputToCreate.input_forwards[$index]['quantity']}}</label>
                                        <input class="form-control" autocomplete="off" type="text" required="required"
                                            valid-number ng-model="inputToCreate.input_forwards[$index]['quantity']"
                                            min="0" name="fquantity[$index]" id="quantity_{{$index}}" />
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="createInputForm.fquantity[$index].$error.required"
                                                translate="VALIDATION_REQUIRED"></span>
                                            <span class="help-block text-danger" ng-show="createInputForm.fquantity[$index].$error.min"
                                                translate="VALIDATION_MIN_1"></span>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class='col-sm-2'>
                                    <md-input-container style="width:100%">
                                        <label>Frequency</label>
                                        <input class="form-control" valid-number type="text" autocomplete="off"
                                            ng-model="inputToCreate.input_forwards[$index]['frequency']" min="0"
                                            required="required" name="ffrequency[$index]" id="frequency_{{$index}}">
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="createInputForm.ffrequency[$index].$error.required"
                                                translate="VALIDATION_REQUIRED"></span>
                                            <span class="help-block text-danger" ng-show="createInputForm.ffrequency[$index].$error.min"
                                                translate="VALIDATION_MIN_1"></span>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class='col-sm-4'>
                                    <md-input-container style="width:100%">
                                        <label>Total ({{f.name}})</label>
                                        <input ng-disabled="true" class="form-control" type="text" ng-value="(inputToCreate.input_forwards[$index]['quantity']*inputToCreate.input_forwards[$index]['frequency']*inputToCreate.unit_price)| currency:''"
                                            name="total" id="total_{{$index}}">
                                    </md-input-container>
                                </div>
                            </div>
                            <!--{{inputToCreate.periods}}-->
                            <div class="row">

                                <div class='col-sm-4'>
                                    <md-input-container style="width:100%">
                                        <md-checkbox class="md-primary" name="is_in_kind" id="is_in_kind" ng-model="inputToCreate.is_in_kind">
                                            {{"TH_IS_IN_KIND" | translate}}
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                                <div class='col-sm-4'>
                                    <md-input-container style="width:100%">
                                        <md-checkbox class="md-primary" name="has_breakdown" id="has_breakdown"
                                            ng-model="inputToCreate.has_breakdown">
                                            {{"TH_HAS_BREAK_DOWN" | translate}}
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                            </div>
                            <div ng-if="inputToCreate.has_breakdown">

                              <div ng-if="breakDownBalance" align="end">
                                <div ng-if="breakDownBalance">Total Funds to be broken down: {{ totalToBreakDown | currency: 'TZS' }}</div>
                                <div ng-if="breakDownBalance">Used Amount: {{ usedAmount | currency: 'TZS' }}</div>
                                <div ng-if="breakDownBalance">Balance: {{ breakDownBalance | currency: 'TZS' }}</div>
                              </div>

                              <div ng-if="breakDownBalance===0" align="end">
                                <div >Total Funds to be broken down: {{ totalToBreakDown | currency: 'TZS' }}</div>
                                <div >Used Amount: {{ usedAmount | currency: 'TZS' }}</div>
                                <div >Balance: {{ breakDownBalance | currency: 'TZS' }}</div>
                              </div>

                                <table class="table table-bordered input-breakdown">
                                    <thead>
                                        <tr class="bg-teal-400">
                                            <th translate="TH_ITEM"></th>
                                            <th style="width:10%" translate="TH_UNIT_OF_MEASURE"></th>
                                            <th style="width:18%" translate="TH_UNIT_PRICE"></th>
                                            <th style="width:8%" translate="TH_QUANTITY"></th>
                                            <th style="width:8%" translate="TH_FREQUENCY"></th>
                                            <th style="width:18%" translate="TH_TOTAL"></th>
                                            <th style="width:2%">+/-</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="brk in inputToCreate.input_breakdowns ">
                                            <td class="input">
                                                <input style="text-align: left !important;" ng-model="brk.item" class="form-control"
                                                    id="brk_item{{$index}}" name="description" type="text" />
                                            </td>
                                            <td class="input">
                                                <select ng-model="brk.unit_id" ng-options="u.id as u.name for u in units"
                                                    class="select2-search--dropdown form-control" id="brk_unit{{$index}}"
                                                    name="brk_unit">
                                                </select>
                                            </td>

                                            <td class="input">
                                                <input class="form-control" type="text" ng-model="brk.unit_price"
                                                    number-to-currency name="brk_unit_price" id="brk_unit_price{{$index}}">
                                            </td>
                                            <td class="input">
                                                <input class="form-control" valid-number type="text" ng-model="brk.quantity"
                                                    name="brk_quantity" id="brk_quantity{{$index}}">
                                            </td>
                                            <td class="input">
                                                <input class="form-control" valid-number type="text" ng-model="brk.frequency"
                                                    name="brk_frequency" id="brk_frequency{{$index}}">

                                            </td>
                                            <td class="input">
                                                <input ng-disabled="true" class="form-control" type="text" ng-value="(brk.quantity*brk.frequency*brk.unit_price)| currency:'TZS '"
                                                    name="total" id="brk_total{{$index}}">

                                            </td>
                                            <td class="input">
                                                <button type="button" class="btn btn-danger" ng-click="deleteBreakDown(brk)"
                                                    href>
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="add-row">
                                            <td class="input"><input ng-model="breakDownToAdd.item" class="form-control"
                                                    id="brk_description" name="description" type="text" /></td>
                                            <td class="input">
                                                <select ng-model="breakDownToAdd.unit_id" ng-options="u.id as u.name for u in units"
                                                    class="select2-search--dropdown form-control" id="brk_unit" name="brk_unit">
                                                </select>
                                            </td>

                                            <td class="input">
                                                <input class="form-control" type="text" ng-model="breakDownToAdd.unit_price"
                                                    number-to-currency name="brk_unit_price" id="brk_unit_price">
                                            </td>
                                            <td class="input">
                                                <input class="form-control" type="text" valid-number ng-model="breakDownToAdd.quantity"
                                                    name="brk_quantity" id="brk_quantity">
                                            </td>
                                            <td class="input">
                                                <input class="form-control" type="number" ng-model="breakDownToAdd.frequency"
                                                    name="brk_frequency" id="brk_frequency">
                                            </td>
                                            <td class="input">
                                                <input ng-disabled="true" class="form-control" type="text" ng-value="(breakDownToAdd.quantity*breakDownToAdd.frequency*breakDownToAdd.unit_price)| currency:'TZS '"
                                                    name="total" id="brk_total">

                                            </td>
                                            <td class="input">
                                                <button type="button" ng-disabled="breakDownToAdd.quantity == undefined ||
                                                            breakDownToAdd.frequency == undefined ||
                                                            breakDownToAdd.unit_price == undefined || breakDownBalance == 0 ||
                                                            breakDownToAdd.unit_id == undefined || breakDownToAdd.item == undefined"
                                                    class="btn btn-primary" ng-click="addBreakDown()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" ng-model="inputToCreate.breakdowns" name="breakdowns" ng-required="inputToCreate.has_breakdown && inputToCreate.activity_input_breakdowns.length ===0" />
                                <input type="hidden" ng-model="inputToCreate.validBreakdowns" name="validBreakdowns"
                                    ng-required="inputToCreate.has_breakdown && (getBreakDownTotal() !==(inputToCreate.quantity*inputToCreate.frequency*inputToCreate.unit_price).toFixed(2))" />
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createInputForm.breakdowns.$error.required"
                                        translate="VALIDATION_INPUT_BREAKDOWN"></span>
                                    <span class="help-block text-danger" ng-show="createInputForm.validBreakdowns.$error.required"
                                        translate="VALIDATION_INPUT_BREAKDOWN_TOTAL"></span>
                                </div>
                            </div>
                            <div class='row' style="vertical-align: bottom">
                                <div class='col-sm-12' ng-if="inputToCreate.is_procurement">
                                    <md-input-container style="width:100%">
                                        <label for="procurement_type" translate="LABEL_PROCUREMENT_TYPE"></label>

                                        <!-- <md-select ng-model="inputToCreate.procurement_type_id" ng-required="inputToCreate.is_procurement"
                                            id="procurement_type" name="procurement_type">
                                            <md-option ng-repeat="p in procurementTypes" ng-value="p.id">{{p.name}}</md-option>
                                        </md-select> -->

                                        <md-select disabled ng-model="selectedValue" id="procurement_type" name="procurement_type">
                                            <md-option ng-value="procurement_type.id">{{ procurement_type.name }}</md-option>
                                        </md-select>

                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="createInputForm.procurement_type.$error.required"
                                                translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div ng-if="!inputToCreate.is_procurement" class="col-sm-7"></div>
                                <div class='col-sm-2' style="height:100%;vertical-align: bottom">

                                </div>

                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <!-- <button ng-if="!editMode && budgetType !=='REALLOCATION'" type="button" class="btn btn-info action"
                        ng-click="save(true)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <span translate="BTN_SAVE_AND_ADD_NEW"></span>
                    </button> -->
                    <button ng-if="(!editMode && inputs.length == 0) || editMode" type="button" class="btn btn-info action"
                        ng-click="save(false)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <span translate="BTN_SAVE"></span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select2-search--dropdown').select2();
</script>
