<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_FACILITY_CUSTOM_DETAIL_MAPPING"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="DETAIL"></label>
                                    <select class="form-control select-search1"
                                            ng-model="createDataModel.facility_custom_detail_id"
                                            name="facility_custom_detail_id"
                                            ng-options="exp.id as ('['+exp.value_type+']'+exp.name) for exp in facilityCustomDetails">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.facility_custom_detail_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="FACILITY_TYPE"></label>
                                    <select multiple="multiple" class="form-control select-search2"
                                            ng-model="createDataModel.facility_type_id"
                                            name="facility_type_id"
                                            ng-options="exp.id as ('['+exp.code+']'+exp.name) for exp in facilityTypes">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.facility_type_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label translate="FACILITY_OWNERSHIP_TYPE"></label>
                                    <select class="form-control select-search3"
                                            ng-model="createDataModel.facility_ownership_id"
                                            name="facility_ownership_id"
                                            ng-options="exp.id as ('['+exp.code+']'+exp.name) for exp in facilityOwnerships">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.facility_ownership_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>