<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-Theader bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_BOD_INTERVENTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createBodInterventionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">


                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <td translate="INTERVENSION_CATEGORY"></td>
                    <td translate="FUNDSOURCE"></td>
                    <td translate="FORMULAR TYPE"></td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control select-search2"
                                ng-model="bodInterventionToCreate.intervention_category_id"
                                name="intervention_category_id"
                                ng-options="ic.id as ic.name for ic in intervention_categories">
                        </select>
                    </td>
                    <td>
                        <select class="form-control select-search2"
                                ng-model="bodInterventionToCreate.fund_source_id"
                                name="bod_version_id"
                                ng-options="fs.id as fs.name for fs in fund_sources">
                        </select>
                    </td>

                    <td>
                        <select ng-model="bodInterventionToCreate.formula_type"
                                class="form-control">
                            <option value="VALUE"  translate="Value"></option>
                            <option value="PERCENTAGE"  translate="Percentage"></option>
                        </select>
                    </td>
                </tr>
                <tr>

                                <td translate="FRMULAR"></td>
                                <td translate="OPERATOR"></td>
                                <td translate="ACTION"></td>
                            </tr>

                            <tr>

                                <td>
                                    <input ng-required="true" name="formula" type="text"
                                           ng-model="bodInterventionToCreate.formula" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodInterventionForm.formula.$error.required"
                                          translate="VALIDATION_REQUIRED"></span></div></td>
                                <td>
                                    <input ng-required="true" name="arithmetic_operator" type="text"
                                           ng-model="bodInterventionToCreate.arithmetic_operator" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodInterventionForm.arithmetic_operator.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="store()">ADD LINK</button>
                                </td>
                            </tr>

                </tr>
            </table>

                        <blockquote class="blockquote">
                            <p class="mb-0">  Burden of Disease Intervention Categories Link</p>
                            <footer class="blockquote-footer"> <cite title="Source Title">
                                Click Remove To Delete one</cite></footer>
                        </blockquote>

                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="INTERVENSION_CATEGORY"></th>
                                <th translate="FUNDSOURCE"></th>
                                <th translate="FROMULARTYPE"></th>
                                <th translate="FORMULAR"></th>
                                <th translate="OPERATOR"></th>
                                <th translate="ACTION"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
Putvaues here
                                </td>   <td>

                                </td>   <td>

                                </td>   <td>

                                </td>   <td>

                                </td>
                                <td>Delete</td>
                            </tr>

                            <tr>
                                <td>
                                    Putvaues here
                                </td>   <td>

                            </td>   <td>

                            </td>   <td>

                            </td>   <td>

                            </td>
                                <td>Delete</td>
                            </tr>

                            <tr>
                                <td>
                                    Putvaues here
                                </td>   <td>

                            </td>   <td>

                            </td>   <td>

                            </td>   <td>

                            </td>
                                <td>Delete</td>
                            </tr>

                            </tbody></table>

                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">-->
                                <!--<span translate="BOD_VERSION"></span>-->
                            <!--</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select class="form-control select-search2"-->
                                        <!--ng-model="bodInterventionToCreate.bod_version_id "-->
                                        <!--name="bod_version_id"-->
                                        <!--ng-options="bv.id as (bv.start_financial_year.name ) for bv in bod_versions">-->
                                <!--</select>-->
                                <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="createBodInterventionForm.bod_version_id.$error.required" translate="VALIDATION_REQUIRED"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">-->
                                <!--<span translate="INTERVENTION_CATEGORY"></span>-->
                            <!--</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select class="form-control select-search2"-->
                                        <!--ng-model="bodInterventionToCreate.intervention_category_id"-->
                                        <!--name="intervention_category_id"-->
                                        <!--ng-options="ic.id as ic.name for ic in intervention_categories">-->
                                <!--</select>-->
                                <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="createBodInterventionForm.intervention_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3" translate="FUND_SOURCE"></label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select class="form-control select-search2"-->
                                        <!--ng-model="bodInterventionToCreate.fund_source_id"-->
                                        <!--name="bod_version_id"-->
                                        <!--ng-options="fs.id as fs.name for fs in fund_sources">-->
                                <!--</select>-->
                                <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="createBodInterventionForm.fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">-->
                                <!--<span translate="ARITHMETIC_OPERATOR"></span>-->
                            <!--</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input ng-required="true" name="arithmetic_operator" type="text"-->
                                       <!--ng-model="bodInterventionToCreate.arithmetic_operator" placeholder="" class="form-control">-->
                                <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="createBodInterventionForm.arithmetic_operator.$error.required"-->
                                          <!--translate="VALIDATION_REQUIRED"></span>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">-->
                                <!--<span translate="FORMULA"></span>-->
                            <!--</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input ng-required="true" name="formula" type="text"-->
                                       <!--ng-model="bodInterventionToCreate.formula" placeholder="" class="form-control">-->
                                <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="createBodInterventionForm.formula.$error.required"-->
                                          <!--translate="VALIDATION_REQUIRED"></span>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3" >-->
                                <!--<span translate="FORMULA_TYPE"></span>-->
                            <!--</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select ng-model="bodInterventionToCreate.formula_type"-->
                                        <!--class="form-control">-->
                                    <!--<option value="VALUE"  translate="Value"></option>-->
                                    <!--<option value="PERCENTAGE"  translate="Percentage"></option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">FINISH</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>