<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_BOD_INTERVENTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBodInterventionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="BOD_VERSION"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodInterventionToEdit.bod_version_id "
                                        name="bod_version_id"
                                        ng-options="bv.id as (bv.start_financial_year.name ) for bv in bod_versions">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBodInterventionForm.bod_version_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="ARITHMETIC_OPERATOR"></span>
                            </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="arithmetic_operator" type="text"
                                       ng-model="bodInterventionToEdit.arithmetic_operator" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBodInterventionForm.arithmetic_operator.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="INTERVENTION_CATEGORY"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodInterventionToEdit.intervention_category_id"
                                        name="intervention_category_id"
                                        ng-options="ic.id as ic.name for ic in intervention_categories">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBodInterventionForm.intervention_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="FUND_SOURCE"></label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodInterventionToEdit.fund_source_id"
                                        name="bod_version_id"
                                        ng-options="fs.id as fs.name for fs in fund_sources">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBodInterventionForm.fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="FORMULA"></span>
                            </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="formula" type="text"
                                       ng-model="bodInterventionToEdit.formula" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBodInterventionForm.formula.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="FORMULA_TYPE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="bodInterventionToEdit.formula_type"
                                    class="form-control">
                                <option value="VALUE"  translate="Value"></option>
                                <option value="PERCENTAGE"  translate="Percentage"></option>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>