<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <form action="#" class="form-horizontal" name="createGfsCodeCategoryForm" novalidate>
      <div class="modal-content">
        <div class="modal-header bg-teal-400">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title" translate="TITLE_CREATE_GFS_CODE_CATEGORY"></h5>
        </div>
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined"
                      data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              {{errorMessage | translate}}
            </div>
          </div>
          <div ng-show="errors">
            <div ng-repeat="error in errors"
                 class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errors=undefined"
                      data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              {{error}}
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
            <div class="col-sm-9">
              <input ng-required="true" name="name" type="text"
                     ng-model="gfsCodeCategoryToCreate.name" placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGfsCodeCategoryForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
              </div>

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
            <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="gfsCodeCategoryToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
              <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGfsCodeCategoryForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
            <div class="col-sm-9">
              <input ng-required="true" name="name" type="number"
                     ng-model="gfsCodeCategoryToCreate.sort_order" class="form-control" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </div>
    </form>
  </div>
</div>
