<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createCasPlanTableForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">Create a new table</h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Name </label>
                        <div class="col-sm-9">
                            <input disabled name="name" type="text" ng-model="name"
                                   ng-value="item.cas_plan_table_item.description"
                                   class="form-control">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Sort Order </label>
                        <div class="col-sm-9">
                            <input disabled name="name" type="number" ng-model="item.sort_order"
                                   ng-value="item.sort_order"
                                   class="form-control">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>