<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <select ng-model="selectedPlan"
                class="form-control"
                ng-change="loadTables(selectedPlan)"
                ng-options="casPlan.id as casPlan.name for casPlan in casPlans">
            <option value="">--Select Comprehensive Plan</option>
        </select>
    </div>

    <div class="col-md-6">
        <select ng-model="selectedTable"
                class="form-control"
                ng-change="loadItems(selectedTable)"
                ng-options="casPlanTable.id as casPlanTable.name for casPlanTable in casPlanTables">
            <option value="">--Select Plan Table --</option>
        </select>
    </div>

</div>
<br/>
<div class="row" ng-show="casPlanItems !== undefined">
    <div class="col-md-6">
        <select ui-select2 multiple ng-model="items"
            class="select-fixed-multiple form-control"
            ng-options="item.id as item.description for item in casPlanItems">
           <option value="">--Select Plan Table Items --</option>
        </select>
    </div>
    <div class="col-md-6">
         <a href class="btn btn-success  create-btn" ng-click="store()">
             <i class="fa fa-plus"></i>
             <span translate="BTN_ADD"></span>
         </a>
    </div>
</div>

<br/>
<div class="row" ng-show="casPlanItems != undefined">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th translate="TH_ITEM"></th>
                    <th translate="TH_SORT_ORDER"></th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in casPlanItemValues | orderBy:' sort_order'">
                    <td>{{$index + 1}}</td>
                    <td>{{item.cas_plan_table_item.description}}</td>
                    <td>{{item.sort_order}}</td>
                    <td nowrap="nowrap">
                        <a href class="btn btn-info" ng-click="edit(item)">
                            <i class="fa fa-edit"></i>
                            <span translate="EDIT_ACTION"></span>
                        </a>
                        <a href class="btn btn-danger" ng-click="delete(item.id)">
                            <i class="fa fa-remove"></i>
                            <span translate="DELETE_ACTION"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.select-fixed-multiple').select2({
        minimumResultsForSearch:Infinity,
    });
    $('.select-search').select2();
</script>