<div ng-show="planIsLoading">
  <pr-progress></pr-progress>
  <div class="content-group">
    <div class="page-header page-header-default">
      <div class="page-header-content">
        <div class="page-title">
          <h5>
            <span class="text-semibold">{{title | translate}}&nbsp;Loading....</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="!planIsLoading">
  <budget-info on-load="onBudgetInfoLoaded(budgetInfo)"></budget-info>
  <div class="row">
    <div class="col-md-12 disabled">
      <div class="panel panel-flat" style="background: #fff">
        <div class="panel-body" style="padding:10px 10px 10px 20px;vertical-align: middle">
          <div class="row ">
            <div class="col-md-4 col-sm-12  text-center">
              <div translate="BUDGET"></div>
              <div><strong> {{budget | currency: 'TZS '}}</strong></div>
            </div>
            <div class="col-md-4 col-sm-12  text-center">
              <div translate="CEILING"></div>
              <div><strong> {{ceiling | currency: 'TZS '}}</strong></div>
            </div>
            <div class="col-md-2 col-sm-12  text-center">
              <div translate="COMPLETION"></div>
              <div><strong> {{completion }} %</strong></div>
            </div>
            <div class="col-md-2 col-sm-12  text-center">
              <button style="margin-top:-7px" type="button" ng-if="routeParams.budgetType == 'CURRENT' || routeParams.budgetType == 'APPROVED'"
                      ng-disabled="routeParams.budgetType !== 'CURRENT' || plan.is_locked || completion !== 100.00 "
                      ng-click="forwardMtefSection()"
                      class="btn btn-info btn-sm pull-right">Forward Budget
              </button>
              <button style="margin-top:-7px" type="button" ng-if="routeParams.budgetType == 'CARRYOVER' || routeParams.budgetType == 'SUPPLEMENTARY'"
                      ng-disabled="completion !== 100.00"
                      ng-click="sendNotificationToOtr()"
                      class="btn btn-info btn-sm pull-right">Send Notifcation to TR
             </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="queryParams.planType === 'REALLOCATION'">
    <div class="col-md-12">
      <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
        <span>Total Selected Inputs: <strong>({{selectedReallocatedTo.length}})</strong></span>
        <button style="margin-top:-7px" type="button" ng-click="continueToReallocation()"
                ng-show="selectedReallocatedTo.length > 0" class="btn btn-info btn-sm pull-right">Continue To
          Reallocate ></button>
      </div>
    </div>
  </div>
  <div class="row" ng-show="hasComments">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <a href ng-click="addressComments('MTEF_SECTION',plan.section.name,plan.mtef_section_comments)">
          <strong>Please Click here to address the comments</strong></a>
      </div>
    </div>
  </div>

  <!--Comments-->
  <div class="row">
    <div ng-show="successMessage" class="col-md-12 fade-in-out">
      <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>x</span><span
          class="sr-only">Close</span></button>
        {{successMessage | translate}}
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <!--Fund Source-->
    <div class="col-md-4 col-sm-12">
      <md-input-container style="width:100%">
        <label>Fund Source* <i ng-if="queryParams.fundSourceId == 0 || queryParams.fundSourceId == undefined"
                               style="color: red;">(Select fund source)</i></label>
        <md-select ng-model="queryParams.fundSourceId" ng-change="fundSourceChanged()">
          <md-option class="parent" value="0"><i>--Select Fund source--</i></md-option>
          <md-option ng-repeat="f in fundSources" value="{{f.id}}">{{f.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <!--Facility filter-->
    <div class="col-md-4 col-sm-12" ng-if="queryParams.fundSourceId != 0">
      <md-input-container style="width:100%">
        <label>Facility</label>
        <md-autocomplete placeholder="All Facilities" md-selected-item="selectedFacility" md-search-text="searchText"
                         md-items="item in searchFacility(searchText)" md-selected-item-change="facilityChanged(selectedFacility)"
                         md-item-text="item.name+'-'+item.type">
          <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
        </md-autocomplete>
      </md-input-container>
    </div>
    <!--Budget Class-->
    <div class="col-md-2 col-sm-12" ng-if="queryParams.fundSourceId != 0">
      <md-input-container style="width:100%">
        <label>Budget Class</label>
        <md-select ng-model="queryParams.budgetClassId" ng-change="budgetClassChanged()">
          <md-option class="parent" value="0">{{'ALL_BUDGET_CLASSES'|translate}}</md-option>
          <md-optgroup ng-class="{'parent':bc1.children.length >0}" value="{{bc1.id}}"
                       ng-repeat-start="bc1 in budgetClasses"><strong>&nbsp;&nbsp;{{bc1.name}}</strong>
          </md-optgroup>
          <md-option ng-class="{'parent':bc2.children.length >0}" value="{{bc2.id}}"
                     ng-repeat-start="bc2 in bc1.children"><span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>{{bc2.name}}
          </md-option>
          <md-option value="{{bc3.id}}" ng-repeat-end ng-repeat="bc3 in bc2.children">
            <span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>
            <span ng-if="bc2.children.length >0">&nbsp;&nbsp;</span>
            {{bc3.name}}
          </md-option>
          <md-optgroup ng-if="false" ng-repeat-end=""></md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <!-- Amount
    <div class="col-md-2 col-sm-12">
      <md-input-container style="width:100%">
        <label>Amount</label>
        <md-select ng-model="withAmount" ng-change="withAmountChanged()">
          <md-option value="all" ng-selected="true">All</md-option>
          <md-option value="0">With no Inputs </md-option>
        </md-select>
      </md-input-container>
    </div> -->
    <div class="col-md-2 col-sm-12" ng-if="queryParams.fundSourceId != 0">
      <md-input-container style="width:100%">
        <label>Search Activity</label>
        <md-icon md-svg-src="/images/baseline-search-24px.svg" class="s24" aria-label="Search">
        </md-icon>
        <input ng-change="searchQueryChanged()" ng-model="queryParams.searchQuery" type="text" />
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <button type="button" class="btn btn-warning pull-right" ng-click="goBack()"><i
        class="fa fa-caret-left"></i>&nbsp;Back</button>
    </div>
  </div>
  <br />
  <div class="row" ng-if="queryParams.fundSourceId != 0 && queryParams.fundSourceId != undefined">
    <div class="col-sm-12">
      <div class="table-wrapper">
        <table class="table table-bordered table-responsive table-striped table-sm">
          <thead>
          <tr class="bg-teal-400">
            <th>Code</th>
            <th>Description</th>
            <th>Facility</th>
            <th>Budget Class</th>
            <th>Fund Source</th>
            <th>Budget</th>
            <th>Action</th>
          </tr>
          </thead>
          <tr ng-show="affIsLoading">
            <td style="padding: 0px" colspan="7">
              <pr-progress></pr-progress>
            </td>
          </tr>
          <tr ng-repeat="aff in activityFacilityFundSources.data">
            <td nowrap="nowrap">
              {{(aff.code).substring(0,1)+(aff.code).substring(3,8)}} &nbsp;
              <a class="fa fa-info-circle"
                 ng-class="hasToAddress(aff.activity_facility.activity.activity_comments)?'color-red':'color-green'"
                 ng-click="addressComments('ACTIVITY',(aff.activity_facility.activity.description),aff.activity_facility.activity.activity_comments)"
                 ng-if="aff.activity_facility.activity.activity_comments.length"></a>
            </td>

            <td>{{aff.activity}}</td>
            <td nowrap="nowrap">{{aff.facility}}</td>
            <td nowrap="nowrap">{{aff.budget_class}}</td>
            <td nowrap="nowrap">{{aff.fund_source}}</td>
            <td nowrap="nowrap"><span class="pull-right">{{aff.totalbudget | currency:''}}</span></td>
            <td class="action">
              <button class="btn btn-info" ng-click="openInputs(aff.id)">
                <span class="fa fa-info-circle" style="color:red" ng-if="aff.totalcomments > 0"></span>
                Inputs
              </button>
            </td>
          </tr>
        </table>
      </div>
      <br />
      <div class="row" ng-if="activityFacilityFundSources.data.length > 0">
        <div class="col-md-10">
          <ul uib-pagination total-items="activityFacilityFundSources.total" class="pagination-sm pull-left"
              boundary-links="true" num-pages="numPages" items-per-page="activityFacilityFundSources.per_page"
              ng-model="currentPage" max-size="100" ng-change="pageChanged()">
          </ul>
        </div>
        <div class="col-md-2">
          <per-page class="pull-right" ng-model="perPage" ng-change="PageChanged()">
          </per-page>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/ng-template" id="facilityResultTemplate.html">
  <a>
    <strong>{{match.model.name}}-{{match.model.type}}</strong>
  </a>
</script>
