<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span>
        <span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
</div>
<br/>
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH']" on-change="filterChanged(filter)"></main-filter>
<br/>
<div class="row">
  <div ng-show="adminHierarchyCeilings.data.length === 0" class="col-md-12">
    <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span>
        <span class="sr-only">Close</span></button>
      {{'NO_CEILING_FOUND_FOR_CURRENT_FINANCIAL_YEAR' | translate}}
    </div>
  </div>
</div>
<br/>
<div class="row"
     ng-show="selectedLevelPosition === 1 && selectedAdminHierarchyLevelPosition === 4 && (selectedBudgetType === 'SUPPLEMENTARY' || selectedBudgetType === 'CARRYOVER')">
  <form action="#" class="form-horizontal" name="createData" novalidate ng-if="docs.length === 0">
    <div style="height: 60px;" class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
      <div class="col-md-4">
        Upload Attachement (Covering letter) first
      </div>
      <div class="col-md-6">
        <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
               data-show-preview="false" ngf-select ng-model="file" name="file"
               accept="'.pdf'" ngf-max-size="2MB" ngf-pattern="'.pdf'"
               required ngf-model-invalid="errorFile"/>
        <i ng-show="createData.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        <i ng-show="invalidFileInput" style="color: #ff5718;"> Invalid file format. Please use .pdf file to upload</i>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success" ng-click="upload(file)" ng-if="file !== null">
          Submit
        </button>
      </div>
    </div>
  </form>
  <div ng-if="docs.length > 0 && (selectedBudgetType === 'SUPPLEMENTARY' || selectedBudgetType === 'CARRYOVER') ">
    <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
      <a target="_blank" href="{{docs[0].document_url}}">Download Reallocation reference document</a>
      <button type="button" class="btn btn-danger pull-right" style="margin-top:-10px" ng-click="removeFile(docs[0])">
        Remove
      </button>
    </div>
    <button type="button" class="btn btn-success pull-right" style="margin-top:-10px"
            ng-if="atStart == true && (selectedBudgetType === 'SUPPLEMENTARY' || selectedBudgetType === 'CARRYOVER') && docs.length > 0 "
            has-permission="budgeting.ceiling.initiate.SUPPLEMENTARY"
            ng-click="initiate(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId,selectedSectionId)">
      Initiate
      Ceiling
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-success pull-right"
            ng-if="atStart == true && selectedBudgetType === 'CURRENT' && user.decision_level_id == 1"
            has-permission="budgeting.ceiling.initiate.CURRENT"
            ng-click="initiate(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId,selectedSectionId)">
      Initiate
      Ceiling
    </button>
    <!-- <button type="button" class="btn btn-success pull-right"
            ng-if="atStart == true && selectedBudgetType === 'CARRYOVER'"
            has-permission="budgeting.ceiling.initiate.CARRYOVER"
            ng-click="initiate(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId,selectedSectionId)">
      Initiate
      Ceiling
    </button> -->

    <button type="button" class="btn btn-success pull-right"
            ng-if="atStart == true" has-permission="LOCK_CEILING"
            ng-click="toggleAllLocked(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId, null, false)">
      Unlock All
    </button>
    <button type="button" class="btn btn-success pull-right"
            ng-if="atStart == true" has-permission="LOCK_CEILING"
            ng-click="toggleAllLocked(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId, null, true)">
      Lock All
    </button>
  </div>
</div>
<br/>
<div class="row">
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}} <br/>
      <strong>Cost Centres</strong>
      <div ng-repeat="item in notfilledSection">
        <span>&nbsp; - {{ item.name }}&nbsp; [{{ item.not_filled}}]</span>
      </div>
      <span>
                <a
                  ng-href="api/pre-execution/get_not_filled_reallocation?admin_hierarchy_id={{selectedAdminHierarchyId}}">Download Excel </a>
            </span>
    </div>
  </div>
  <div class="col-md-12" ng-show="adminHierarchyCeilings.data.length > 0 && errorMessage === undefined">
    <div class="table-responsive table-wrapper">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="bg-teal-400">
        <tr>
          <th width="2%">No.</th>
          <th translate="REVENUE SOURCE"></th>
          <th translate="FUND_SOURCE"></th>
          <th translate="BUDGET CLASS"></th>
          <th>Bank Account</th>
          <th width="15%" translate="AMOUNT"></th>
          <th>Status</th>
          <th>Lock/Unlock</th>
          <th ng-if="atStart == true">Lock/Unlock All</th>
          <th width="10%" translate="ACTION"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          ng-repeat-start="adminHierarchyCeiling in adminHierarchyCeilings.data | orderBy:'ceiling.is_aggregate'| orderBy:'id'">
          <td>{{$index + 1}}</td>
          <td>
                            <span ng-show="!adminHierarchyCeiling.ceiling.is_aggregate">
                                [ {{adminHierarchyCeiling.ceiling.gfs_code.code}} ]
                                {{adminHierarchyCeiling.ceiling.gfs_code.description}}
                                <a has-permission='ddac' href ng-click="delete(adminHierarchyCeiling.id)"><span
                                  class="fa fa-times-circle" style="color:red"></span></a>
                            </span>
            <span ng-show="adminHierarchyCeiling.ceiling.is_aggregate">
                                [ ] {{adminHierarchyCeiling.ceiling.aggregate_fund_source.description}}
                                <a has-permission='ddac' href ng-click="delete(adminHierarchyCeiling.id)"><span
                                  class="fa fa-times-circle" style="color:red"></span></a>
                            </span>
          </td>
          <td>
            <span ng-show="!adminHierarchyCeiling.ceiling.is_aggregate">{{adminHierarchyCeiling.ceiling.gfs_code.fund_source.name}}</span>
            <span ng-show="adminHierarchyCeiling.ceiling.is_aggregate">{{adminHierarchyCeiling.ceiling.aggregate_fund_source.description}}</span>
          </td>
          <td>{{adminHierarchyCeiling.ceiling.budget_class.name}}</td>
          <td>{{adminHierarchyCeiling.bank_account.name}}</td>
          <td align="right">{{adminHierarchyCeiling.amount | number:2}}</td>
          <td>
            <span ng-if="adminHierarchyCeiling.is_locked" class="badge badge-warning">LOCKED</span>
            <span ng-if="!adminHierarchyCeiling.is_locked" class="badge badge-success">OPENED</span>
          </td>
          <td>
            <label class="switch" has-permission="LOCK_CEILING">
              <input type="checkbox" name="selectedClasses"
                     ng-click="toggleLocked(adminHierarchyCeiling.id,adminHierarchyCeiling.is_locked)"
                     ng-model="adminHierarchyCeiling.is_locked"/>
              <div class="slider round"></div>
            </label>
          </td>
          <td ng-if="atStart == true">
            <label class="switch" has-permission="LOCK_CEILING">
              <input type="checkbox" name="selectedClasses"
                     ng-click="toggleAllLocked(selectedBudgetType,selectedFinancialYearId,selectedAdminHierarchyId, adminHierarchyCeiling.ceiling_id, adminHierarchyCeiling.is_locked)"
                     ng-model="adminHierarchyCeiling.is_locked"/>
              <div class="slider round"></div>
            </label>
          </td>
          <td nowrap="nowrap">

            <button
              ng-if="atStart && !adminHierarchyCeiling.is_locked && ((adminHierarchyCeiling.ceiling.is_aggregate && adminHierarchyCeiling.budget_type !== 'CURRENT') || (!adminHierarchyCeiling.ceiling.is_aggregate)) "
              type="button" class="btn btn-primary" ng-click="edit(adminHierarchyCeiling, currentPage)"
              translate="BTN_EDIT">
            </button>
            <a
              ng-if="atStart && !adminHierarchyCeiling.is_locked && (adminHierarchyCeiling.ceiling.is_aggregate && adminHierarchyCeiling.budget_type === 'CURRENT')"
              type="button" class="btn btn-info" href="/budgeting#!/projections" translate="BTN_EDIT">
            </a>

            <button type="button" ng-if="!adminHierarchyCeiling.is_approved && user.decision_level_id !== 1"
                    ng-disabled="adminHierarchyCeiling.amount <= 0 " class="btn"
                    ng-class="{'btn-primary':(adminHierarchyCeiling.dissemination_status === 0 || adminHierarchyCeiling.dissemination_status === null),
                            'btn-success':adminHierarchyCeiling.dissemination_status === 1}"
                    ng-click="firstLowerLevel(adminHierarchyCeiling, currentPage,nextCeilingChain)">
              <i ng-if="(undefined !== queryParams.amount) && (queryParams.amount > adminHierarchyCeiling.amount)"
                 class="fa fa-warning text-warning"></i>
              <i ng-if="adminHierarchyCeiling.dissemination_status === 1" class="fa fa-check"></i>
              <span 
                ng-show="(adminHierarchyCeiling.dissemination_status === 0 || adminHierarchyCeiling.dissemination_status === null) && (nextCeilingChain !== null && nextCeilingChain !== undefined)"
                translate="DISSEMINATE"></span>
              <span
                ng-show="adminHierarchyCeiling.dissemination_status === 1 && (nextCeilingChain !== null && nextCeilingChain !== undefined)">Allocated</span>
              <span
                ng-show="(adminHierarchyCeiling.dissemination_status === 0 || adminHierarchyCeiling.dissemination_status === null) && (nextCeilingChain === null || nextCeilingChain === undefined)">Finalize
                                    Allocation</span>
              <span
                ng-show="adminHierarchyCeiling.dissemination_status === 1 && (nextCeilingChain === null || nextCeilingChain === undefined)">Allocated</span>
            </button>

          </td>

        </tr>
        <tr ng-repeat-end ng-show="hasFacilityExtension && adminHierarchyCeiling.showFacilityAllocation">

        </tr>

        </tbody>
      </table>
    </div>
    <br/>
    <div class="row" ng-show="adminHierarchyCeilings.total > adminHierarchyCeilings.per_page">
      <div class="col-md-8">
        <ul uib-pagination total-items="adminHierarchyCeilings.total" max-size="maxSize" class="pagination-sm pull-left"
            boundary-links="true" num-pages="numPages" items-per-page="adminHierarchyCeilings.per_page"
            ng-model="currentPage" ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ adminHierarchyCeilings.total }}"
                     perPage="{{ adminHierarchyCeilings.per_page }}"></total-pages>
      </div>
      <div class="col-md-4">
        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
      </div>
    </div>

  </div>
</div>

<script type="text/ng-template" id="first_dissemination.html">
  <div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-teal-400">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title">Ceiling Dissemination</h5>
        </div>

        <form action="#" class="form-horizontal" name="createSectorForm" novalidate>
          <div class="modal-body" style="padding-top:4px">
            <div class="alert alert-warning" ng-show="errorMessage">
              {{errorMessage | translate}}
              <ol ng-show="errors.length">
                <li ng-repeat="e in errors">{{e}}</li>
              </ol>
              <li ng-if="errorAmount">
                {{errorAmount | currency:""}}
              </li>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <h4>{{adminHierarchyCeilingToEdit.ceiling.name}}</h4>
            <table class="table table-bordered">
              <tr class="disabled">
                <td>
                  <strong>
                    <div>Total Available Amount:</div>
                    <div> {{available | currency:''}}&nbsp;{{'CURRENCY'| translate}}</div>
                  </strong>
                </td>
                <td>
                  <strong>
                    <div>Total Assigned Amount:</div>
                    <div>{{total|currency:''}}&nbsp;{{'CURRENCY'| translate}} ({{(total)*100/available |number:2}}%)
                    </div>
                  </strong>
                </td>
                <td ng-class="{'red':total > available}">
                  <div><strong>Total Remaining Amount:</strong></div>
                  <div><strong>{{available- total|number:2}} &nbsp;{{'CURRENCY'| translate}}({{(available-
                    total)*100/available |number:2}}%)</strong></div>
                  <div>
                    <span class="text-danger" ng-if="getIfExceded(total, available)">Amount exceeded</span>
                    <span class="text-success" ng-if="getIfBalance(total, available)">Please allocate all amount!</span>
                  </div>
                </td>
              </tr>
            </table>
            <!--</div>-->
            <!--</div>-->
            <div style="overflow-y: scroll">
              <table class="table table-bordered table-striped table-responsive">
                <tr class="bg-teal-400">
                  <th style="width:25%;max-width: 25%">{{lowerLevels[0].adminLevel}}</th>
                  <th ng-if="nextCeilingChain != null " style="width:40%;max-width: 40%">
                    {{lowerLevels[0].sectionLevel}}
                  </th>
                  <th ng-if="nextCeilingChain ==null" style="width:40%;max-width: 40%">Service Provider</th>
                  <th style="width:25%;max-width: 25%">Amount</th>
                  <th style="width:10%;max-width: 10%">%</th>
                </tr>
                <tr class="search disabled">
                  <td class="input"><input placeholder="{{'SEARCH_ADMIN_HIERARCHY'| translate}}" class="form-control"
                                           type="text" ng-model="hierarchyFilter"/></td>
                  <td class="input">
                    <input ng-show="nextCeilingChain != null" placeholder="{{'SEARCH_SECTION'|translate}}"
                           class="form-control" type="text" ng-model="sectionFilter"/>
                    <input ng-show="nextCeilingChain ==null"
                           placeholder="{{'SEARCH_FACILITY'|translate}}" class="form-control" type="text"
                           ng-model="facilityFilter"/>
                  </td>
                  <td><input ng-disabled="true" class="form-control" type="text"/></td>
                  <td><input ng-disabled="true" class="form-control" type="text"/></td>
                  </td>
                </tr>
              </table>
            </div>
            <pr-progress ng-if="inProgress"></pr-progress>
            <div style="max-height: 400px;overflow-y: scroll">
              <table class="table table-bordered table-striped table-responsive">
                <tr
                  ng-repeat="lowerLevel in lowerLevels | filter:{admin_hierarchy:hierarchyFilter} | filter:{section:sectionFilter} | filter:{facility:facilityFilter} | orderBy:'section.parent.parent.name'">
                  <td class="disabled" style="width:25%;max-width: 25%">
                    {{lowerLevel.admin_hierarchy}}
                    <a has-permission='ddac' href ng-click="delete(lowerLevel.id)"><span class="fa fa-times-circle"
                                                                                         style="color:red"></span></a>
                  </td>
                  <td ng-if="nextCeilingChain != null" class="disabled" style="width:40%;max-width: 40%">
                    {{lowerLevel.section}}
                  </td>
                  <td ng-if="nextCeilingChain ==null" class="disabled" style="width:40%;max-width: 40%">
                    {{lowerLevel.facility}} -{{lowerLevel.type}}
                  </td>
                  <td class="input" style="width:25%;max-width: 25%">
                    <input ng-disabled="lowerLevel.is_locked || lowerLevel.is_approved" number-to-currency
                           ng-required="true" name="name" type="text"
                           ng-change="setPercentage(lowerLevel)" autocomplete="off"
                           ng-class="{'errorAmount':(nextCeilingChain != null && lowerLevel.section_id === errorSectionId) ||
                                            (nextCeilingChain == null && lowerLevel.facility_id === errorFacilityId)}"
                           ng-model="lowerLevel.amount" class="form-control">

                    <div ng-show="formHasErrors"></div>
                  </td>
                  <td ng-init="lowerLevel.percentage = getInitialPercentage(lowerLevel.amount)"
                      style="padding-left:4px;padding-right:4px; text-align:center; width:10%;max-width: 10%"
                      align="right">
                    <input ng-disabled="lowerLevel.is_locked || lowerLevel.is_approved" number-to-percentage type="text"
                           ng-change="setAmount(lowerLevel)"
                           name="percent_{{$index}}" autocomplete="off" class="form-control inputFieldAmount"
                           ng-model="lowerLevel.percentage" max="100" min="0"/>
                  </td>

                </tr>
              </table>

            </div>

          </div>

          <div class="modal-footer">
            <button type="button" ng-disabled="getAllocationDifference(total, available)" class="btn btn-primary"
                    ng-click="update()">Save
            </button>
            <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="initiate-ceiling.html">
  <div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-teal-400">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title">Ceiling Dissemination</h5>
        </div>

        <form action="#" class="form-horizontal" name="createSectorForm" novalidate>
          <div class="modal-body" style="padding-top:4px">
            <div class="alert alert-warning" ng-show="errorMessage">
              {{errorMessage | translate}}
              <ol ng-show="errors.length">
                <li ng-repeat="e in errors">{{e}}</li>
              </ol>
            </div>
            <br/>
            <div>
              <table class="table table-bordered table-striped table-responsive">
                <tr class="bg-teal-400">
                  <th>Name</th>
                  <th>Fund Source</th>
                  <th>Budget Class</th>
                  <th>Initiate</th>
                </tr>
                <tr>
                  <td></td>
                  <td style="padding: 1px">
                    <input placeholder="Search fund source" type="text" ng-model="searchQueryFund"
                           ng-change="loadCeiling()" class="form-control"/>
                  </td>
                  <td style="padding: 1px">
                    <input placeholder="Search Budget class" type="text" ng-model="searchQueryBc"
                           ng-change="loadCeiling()" class="form-control"/>
                  </td>
                </tr>
                <tr ng-repeat="c in ceilings.data">
                  <td>
                    {{[c.gfs_code.code]}} {{(c.gfs_code.description)? c.gfs_code.description:
                    c.aggregate_fund_source.name}}
                  </td>
                  <td>{{(c.gfs_code.fund_source.name)?c.gfs_code.fund_source.name:c.aggregate_fund_source.name}}</td>
                  <td>{{c.budget_class.name}}</td>
                  <td>
                    <button type="button" ng-click="initiate(c.id)">Initiate</button>
                  </td>
                </tr>
              </table>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
            <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="edit.html">
  <div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title">Edit Ceiling</h5>
        </div>

        <form action="#" class="form-horizontal" name="editCeilingForm">
          <div class="modal-body">
            <div class="alert alert-warning" ng-show="errorMessage">
              {{errorMessage | translate}}
              <ol ng-show="errors.length">
                <li ng-repeat="e in errors">{{e}}</li>
              </ol>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">CEILING</label>
              <div class="col-sm-9">
                <label>{{adminHierarchyCeilingToEdit.ceiling.name}} ({{adminHierarchyCeilingToEdit.amount |
                  number:2}})</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">AMOUNT</label>
              <div class="col-sm-9">
                <input type="text" autocomplete="off" name="amount" number-to-currency ng-pattern="amountPattern"
                       ng-model="adminHierarchyCeilingToEdit.amount" placeholder="Amount" ng-currency
                       class="form-control"/>
                <span ng-show="editCeilingForm.amount.$error.pattern" class="help-block text-danger">
                  amount not valid</span>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button ng-disabled="" type="button" class="btn btn-primary action" ng-click="update()">Save</button>
            <button ng-disabled="" type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
