<style>
  .uib-datepicker-popup {
    z-index: 1000 !important;
  }
  .form-control {
    padding: 3px 5px;
  }
</style>
<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div
      class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered"
    >
      <button
        type="button"
        class="close"
        ng-click="action=undefined"
        data-dismiss="alert"
      >
        <span>×</span><span class="sr-only">Close</span>
      </button>
      {{action | translate}}
    </div>
  </div>
</div>

<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div
      class="alert alert-success alert-styled-left alert-arrow-left alert-bordered"
    >
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span>
      </button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage && form_id !==11 && form_id !==10" class="col-md-12">
    <div
      class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
    >
      <button
        type="button"
        class="close"
        ng-click="errorMessage=undefined"
        data-dismiss="alert"
      >
        <span>×</span><span class="sr-only">Close</span>
      </button>
      {{errorMessage | translate}}
    </div>
  </div>
  <div ng-show="infoMessage" class="col-md-12">
    <div
      class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered"
    >
      <button
        type="button"
        class="close"
        ng-click="infoMessage=undefined"
        data-dismiss="alert"
      >
        <span>×</span><span class="sr-only">Close</span>
      </button>
      {{infoMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <select
      ng-model="financial_year_id"
      class="form-control select-search"
      ng-options="item.id as item.name for item in financialYears"
      ng-change="undoAll()"
    >
      <option value="">-- Financial Year --</option>
    </select>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <select
        class="select-search form-control"
        ng-model="selectedForm"
        ng-show="financial_year_id !== undefined"
        name="selectedForm"
        ng-change="loadBudgetClasses(selectedForm)"
        ng-options="BudgetForm.id as (BudgetForm.name)
                            group by BudgetForm.parent.name
                             for BudgetForm in BudgetForms"
      >
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ng-show="selectedForm !== undefined">
    <div class="row">
      <div class="col-md-12">
        <div
          class="pull-right"
          has-permission="budgeting.manage.submission.form.resetcontributions"
        >
          <button
            type="button"
            class="btn btn-warning"
            ng-click="resetContributions(selectedForm)"
            ng-disabled="btn_active == false"
          >
            <i class="fa fa-save"></i>
            <span translate="RESET_BTN"></span>
          </button>
        </div>

        <div class="heading-btn pull-right">
          <button
            type="button"
            class="btn btn-info"
            ng-click="store()"
            ng-disabled="btn_active == false"
          >
            <i class="fa fa-save"></i>
            <span translate="BTN_SAVE"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-show="ActivityMessage" class="col-md-12">
        <div
          class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
        >
          <button type="button" class="close" data-dismiss="alert">
            <span>×</span><span class="sr-only">Close</span>
          </button>
          {{ ActivityMessage | translate}}
        </div>
      </div>
    </div>
    <div class="row">
      <form
        action="#"
        class="form-horizontal"
        name="budgetSubmissionLineForm"
        novalidate
      >
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group" ng-show="selectedForm !== undefined">
              <select
                class="form-control select-search2"
                ng-model="budgetSubmissionLineToCreate.budget_class_id"
                ng-change="loadFundSources(budgetSubmissionLineToCreate.budget_class_id)"
              >
                <option value="" selected>--- Select Budget Class ---</option>
                <option
                  ng-repeat="item in budget_classes"
                  value="{{ item.budget_class_id }}"
                >
                  {{ item.budget_class_name }}
                </option>
              </select>
              <div ng-show="formHasErrors">
                <span
                  class="help-block text-danger"
                  ng-show="budget_class_id"
                  translate="ERROR_BUDGET_CLASS_IS_REQUIRED"
                ></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" ng-show="selectedForm !== undefined">
              <select
                class="form-control select-search2"
                ng-model="budgetSubmissionLineToCreate.fund_source_id"
              >
                <option value="" selected>--- Select Fund Sources ---</option>
                <option
                  ng-repeat="fundSource in FundSources"
                  value="{{ fundSource.id }}"
                >
                  {{ fundSource.name }}
                </option>
              </select>
              <div ng-show="formHasErrors">
                <span
                  class="help-block text-danger"
                  ng-show="fund_source_id"
                  translate="ERROR_FUND_SOURCE_IS_REQUIRED"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-if="budgetSubmissionLineToCreate.sub_form_id !== 14">
            <div class="form-group">
              <select
                ng-model="budgetSubmissionLineToCreate.section_id"
                ng-change="getFieldValues(budgetSubmissionLineToCreate.section_id)"
                class="form-control select-search3"
                id="section"
              >
                <option value="">---Select Planning Unit---</option>
                <option
                  ng-repeat="budgetSection in budgetSections"
                  ng-value="budgetSection.id"
                  ng-disabled="budgetSection.hierarchy_position == 3"
                >
                  {{"[ " + budgetSection.code + " ] - " + budgetSection.name}}
                </option>
              </select>
              <div ng-show="formHasErrors">
                <span
                  class="help-block text-danger"
                  ng-show="section_id"
                  translate="ERROR_SECTION_IS_REQUIRED"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-if="budgetSubmissionLineToCreate.sub_form_id === 14">
            <div class="form-group">
              <select
                ng-model="budgetSubmissionLineToCreate.section_id"
                ng-change="getFieldValues(budgetSubmissionLineToCreate.section_id)"
                class="form-control select-search3"
                id="section"
              >
                <option value="">---Select Substantive Post---</option>
                <option
                  ng-repeat="selectOption in selectOptions"
                  ng-value="selectOption.id"
                >
                  {{selectOption.name}}
                </option>
              </select>
              <div ng-show="formHasErrors">
                <span
                  class="help-block text-danger"
                  ng-show="section_id"
                  translate="ERROR_SECTION_IS_REQUIRED"
                ></span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-12"
          style="overflow: scroll;"
          ng-show="uploadFile == false"
        >
          <div class="table-responsive">
            <table
              class="table table-bordered table-striped"
              ng-if="formColumns.length > 0"
            >
              <thead class="bg-teal-400">
              <tr>
                <th></th>
                <!--<th translate="TH_SECTION" ></th>-->
                <th
                  ng-attr-colspan="{{item.child_form.length+1}}"
                  ng-repeat="item in formColumns"
                >
                  {{item.field_name}}
                </th>
              </tr>
              <tr>
                <th>#</th>
                <!--<th></th>-->
                <th
                  ng-show="item.child_form.length == 0"
                  ng-repeat-start="item in formColumns "
                ></th>
                <th ng-repeat-start="subItem in item.child_form">
                  {{subItem.field_name}}
                </th>
                <th ng-repeat-end ng-show="$last">Total</th>
                <th ng-hide="true" ng-repeat-end></th>
              </tr>
              </thead>
              <tr>
                <td class="td-padding-2" colspan="{{ inputLength }}">
                  <span id="selected_section"></span>
                  <span
                    class="pull-right"
                    ng-if="form_id !==10 && ceilingAmt > 0 && form_id !==11"
                  >
                    <strong>Ceiling: {{ceilingAmt | currency:''}}</strong>
                    <br />
                    <strong>Budget: {{budgetedAmt | currency:''}}</strong>
                    <br />
                    <strong>Balance: {{balance | currency:''}} </strong>
                  </span>
                  <span class="info pull-right" ng-if="ceilingAmt < 1 && form_id !==11 && form_id !==10"
                  ><strong
                  >{{'PE Ceiling Amount not Allocated for this Cost Centre.Please contact Authorities'}}</strong
                  ></span
                  >
                </td>
              </tr>
              <tr class="warning" ng-repeat="i in round">
                <td>
                  {{ i }}
                </td>

                <td
                  ng-if="item.child_form.length ==0"
                  ng-repeat-start="item in budgetSubmissionLineToCreate.columns[i]"
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <span ng-show="isCurrency(item.type)">
                    <input
                      ng-model="item.field_value"
                      type="text"
                      ng-keyup="inputIsNumber(item)"
                      class="form-control td_matrix"
                      number-to-currency
                    />
                    <div ng-show="formHasErrors">
                      <span
                        class="help-block text-danger"
                        ng-show="item.error"
                        translate="Invalid input"
                      ></span>
                    </div>
                  </span>
                  <span ng-show="isSelect(item.type)">
                    <select
                      ng-model="item.field_value"
                      class="form-control td_matrix"
                    >
                      <option
                        ng-repeat="opt in selectOptions| orderBy: 'name'"
                        ng-show="opt.parent_id == item.select_option"
                        value="{{ opt.name }}"
                      >
                        {{ opt.name }}
                      </option>
                    </select>
                  </span>
                  <span ng-show="isInputDate(item.type)">
                    <div class="input-group">
                      <span
                        ng-click="startPopup1 =true"
                        class="input-group-addon"
                      ><i class="icon-calendar22"></i
                      ></span>

                      <input
                        ng-model="item.field_value"
                        ng-click="startPopup1 = true"
                        type="text"
                        class="form-control td_matrix"
                        datepicker-options="{ dateFormat: 'yyyy-MM-dd' }"
                        name="field_value"
                        is-open="startPopup1"
                        uib-datepicker-popup="{{format}}"
                        close-text="Close"
                        popup-placement="left-bottom"
                        datepicker-append-to-body="true"
                        alt-input-formats="altInputFormats"
                      />
                    </div>
                  </span>
                  <span ng-show="isInput(item.type)">
                    <input
                      ng-model="item.field_value"
                      type="{{ item.type }}"
                      ng-keyup="inputIsNumber(item)"
                      class="form-control td_matrix"
                    />
                    <div ng-show="formHasErrors">
                      <span
                        class="help-block text-danger"
                        ng-show="item.error"
                        translate="Invalid input"
                      ></span>
                    </div>
                  </span>

                  <span
                    ng-show="item.type == 'formula' && item.output_type == 'currency'"
                  >
                    <input
                      ng-model="item.field_value"
                      ng-value="getFormula(item, i)"
                      type="text"
                      class="form-control td_matrix"
                      number-to-currency
                      readonly
                    />
                  </span>
                  <span
                    ng-show="item.type == 'formula' && item.output_type !== 'currency'"
                  >
                    <input
                      ng-model="item.field_value"
                      ng-value="getFormula(item, i)"
                      type="text"
                      class="form-control td_matrix"
                    />
                  </span>
                </td>

                <td
                  ng-repeat-start="subItem in item.child_form "
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <span ng-show="isCurrency(subItem.type)">
                    <input
                      ng-model="subItem.field_value"
                      type="text"
                      ng-keyup="inputIsNumber(subItem)"
                      class="form-control td_matrix"
                      number-to-currency
                    />
                    <div ng-show="formHasErrors">
                      <span
                        class="help-block text-danger"
                        ng-show="subItem.error"
                        translate="Invalid input"
                      ></span>
                    </div>
                  </span>
                  <span ng-show="isSelect(subItem.type)">
                    <select
                      ng-model="subItem.field_value"
                      class="form-control td_matrix"
                    >
                      <option
                        ng-repeat="opt in selectOptions"
                        ng-show="opt.parent_id == subItem.select_option"
                        value="{{ opt.name }}"
                      >
                        {{ opt.name }}
                      </option>
                    </select>
                  </span>
                  <span ng-if="isInputDate(subItem.type)">
                    <div class="input-group">
                      <span
                        ng-click="startPopup = {opened:true}"
                        class="input-group-addon"
                      ><i class="icon-calendar22"></i
                      ></span>
                      <input
                        ng-model="subItem.field_value"
                        ng-click="$parent.startPopup = true"
                        type="text"
                        class="form-control td_matrix"
                        datepicker-options=""
                        name="field_value"
                        is-open="true"
                        uib-datepicker-popup="{{dateFormat}}"
                        close-text="Close"
                        popup-placement="bottom"
                        alt-input-formats="altInputFormats"
                      />
                    </div>
                  </span>
                  <span ng-show="isInput(subItem)">
                    <input
                      ng-model="subItem.field_value"
                      type="{{ subItem.type }}"
                      ng-keyup="inputIsNumber(subItem)"
                      class="form-control td_matrix"
                    />
                    <div ng-show="formHasErrors">
                      <span
                        class="help-block text-danger"
                        ng-show="subItem.error"
                        translate="Invalid input"
                      ></span>
                    </div>
                  </span>
                </td>
                <td ng-if="$last" ng-repeat-end class="td-padding-2">
                  <input
                    ng-model="item.field_value"
                    ng-value="getTotal(item.child_form, item)"
                    type="text"
                    class="form-control td_matrix"
                    number-to-currency
                    readonly
                  />
                </td>
                <td ng-hide="true" ng-repeat-end></td>
              </tr>
              <tr ng-show="isMultiple">
                <td colspan="{{ inputLength}}"></td>
                <td>
                  <div class="right">
                    <a
                      href
                      class="btn btn-info pull-right create-btn"
                      ng-click="getRound(round.length + 1)"
                    >
                      <i class="fa fa-plus"></i>
                      <span translate="BTN_ADD"></span>
                    </a>
                  </div>
                </td>
              </tr>

              <!-- Append data display -->
              <tr
                ng-repeat-start="(b, value) in SectionWithData | groupBy:'name'"
              >
                <td
                  class="td-padding-2 bg-teal-400"
                  colspan="{{inputLength + 1}}"
                >
                  {{ b }}
                </td>
              </tr>

              <tr ng-repeat-end ng-repeat="x in value">
                <td class="text-nowrap">
                  <input
                    type="checkbox"
                    ng-model="budgetToEdit.columns"
                    ng-true-value="{{ x }}"
                    ng-false-value=""
                    ng-checked="false"
                    ng-show="isEditMode[x.budget_submission_line_id] == false"
                    ng-click="toggleEditMode(x)"
                  />

                  <button
                    type="button"
                    class="btn btn-default"
                    ng-click="editBudget()"
                    ng-show="isEditMode[x.budget_submission_line_id] "
                    ng-disabled="btn_active == false"
                  >
                    <i class="fa fa-save"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    ng-click="deleteBudget()"
                    ng-show="isEditMode[x.budget_submission_line_id]"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>

                <td
                  ng-if="item.child_form.length == 0"
                  ng-repeat-start="item in editFormColumns"
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <span ng-show="isEditMode[x.budget_submission_line_id]">
                    <span
                      ng-show="item.type == 'input' || item.type == 'select' || item.type == 'number' || item.type == 'text' || item.type=='date'"
                    >
                      <input
                        ng-model="item.field_value"
                        ng-value="x[item.id]"
                        ng-keyup="inputIsNumber(item)"
                        class="form-control td_matrix"
                        type="text"
                      />
                      <div ng-show="formHasErrors">
                        <span
                          class="help-block text-danger"
                          ng-show="item.error"
                          translate="Invalid input"
                        ></span>
                      </div>
                    </span>

                    <span ng-show="item.type == 'currency'">
                      <input
                        ng-model="item.field_value"
                        ng-value="x[item.id]"
                        ng-keyup="inputIsNumber(item)"
                        class="form-control td_matrix"
                        type="text"
                        number-to-currency
                        readonly
                      />
                      <div ng-show="formHasErrors">
                        <span
                          class="help-block text-danger"
                          ng-show="item.error"
                          translate="Invalid input"
                        ></span>
                      </div>
                    </span>

                    <span ng-show="item.type == 'formula'">
                      <input
                        ng-model="item.field_value"
                        ng-value="getInlineFormula(x, item)"
                        class="form-control td_matrix"
                        type="text"
                        number-to-currency
                        readonly
                      />
                    </span>
                  </span>

                  <span
                    ng-show="isEditMode[x.budget_submission_line_id] == false"
                  >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.type == 'currency'"
                    >
                      {{ x[item.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.output_type == 'currency'"
                    >
                      {{ x[item.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.type == 'date'"
                    >
                      {{ x[item.id]| date:'dd-MM-yyyy':'UTC'}}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.type !== 'currency' && item.output_type !== 'currency' && item.type !== 'date'"
                    >
                      {{ x[item.id]}}</span
                    >
                  </span>
                </td>
                <td
                  ng-repeat-start="subItem in item.child_form"
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <span ng-show="isEditMode[x.budget_submission_line_id]">
                    <span ng-show="subItem.type == 'currency'">
                      <input
                        ng-model="subItem.field_value"
                        ng-value="x[subItem.id]"
                        ng-keyup="inputIsNumber(subItem)"
                        class="form-control td_matrix"
                        type="text"
                        number-to-currency
                      />
                      <div ng-show="formHasErrors">
                        <span
                          class="help-block text-danger"
                          ng-show="subItem.error"
                          translate="Invalid input"
                        ></span>
                      </div>
                    </span>
                    <span ng-show="subItem.type !== 'currency'">
                      <input
                        ng-model="subItem.field_value"
                        ng-value="x[subItem.id]"
                        ng-keyup="inputIsNumber(subItem)"
                        class="form-control td_matrix"
                        type="text"
                        number-to-currency
                      />
                      <div ng-show="formHasErrors">
                        <span
                          class="help-block text-danger"
                          ng-show="subItem.error"
                          translate="Invalid input"
                        ></span>
                      </div>
                    </span>
                  </span>

                  <span
                    ng-show="isEditMode[x.budget_submission_line_id] == false"
                  >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="subItem.type == 'currency'"
                    >
                      {{ x[subItem.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="subItem.output_type == 'currency'"
                    >
                      {{ x[subItem.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="subItem.type !== 'currency' && item.output_type !== 'currency'"
                    >
                      {{ x[subItem.id]}}</span
                    >
                  </span>
                </td>
                <td
                  ng-if="$last"
                  ng-repeat-end
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <span ng-show="isEditMode[x.budget_submission_line_id]">
                    <input
                      ng-model="item.field_value"
                      ng-value="getInlineTotal(item)"
                      class="form-control td_matrix"
                      type="text"
                      number-to-currency
                      readonly
                    />
                  </span>

                  <span
                    ng-show="isEditMode[x.budget_submission_line_id] == false"
                  >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.type == 'currency'"
                    >
                      {{ x[item.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.output_type == 'currency'"
                    >
                      {{ x[item.id]|currency:'' }}</span
                    >
                    <span
                      ng-class=" {'pull-right':item.is_vertical_total == true}"
                      ng-show="item.type !== 'currency' && item.output_type !== 'currency'"
                    >
                      {{ x[item.id]}}</span
                    >
                  </span>
                </td>
                <td ng-repeat-end ng-hide="true"></td>
              </tr>
              <!-- vertical total -->
              <tfoot class="bg-teal-400">
              <tr ng-show="vertical_total">
                <th>Total</th>
                <th
                  ng-if="item.child_form.length == 0"
                  ng-repeat-start="item in formColumns"
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <input
                    ng-value="getVerticalTotal(item)"
                    class="form-control td_matrix td_right"
                    readonly
                  />
                </th>
                <th
                  ng-repeat-start="subItem in item.child_form"
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <input
                    ng-value="getVerticalTotal(subItem)"
                    class="form-control td_matrix td_right"
                    readonly
                  />
                </th>
                <th
                  ng-if="$last"
                  ng-repeat-end
                  style="vertical-align: top;"
                  class="td-padding-2"
                >
                  <input
                    ng-value="getVerticalTotal(item)"
                    class="form-control td_matrix td_right"
                    readonly
                  />
                </th>
                <th ng-repeat-end ng-hide="true"></th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".select-search2").select2();
</script>
