<div ng-show="planIsLoading">
    <pr-progress></pr-progress>
    <div class="content-group">
        <div class="page-header page-header-default">
            <div class="page-header-content">
                <div class="page-title">
                    <h5>
                        <span class="text-semibold">{{title | translate}}&nbsp;Loading....</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!planIsLoading">
    <breadcrumb title="{{title}}"></breadcrumb>
    <budget-info on-load="onBudgetInfoLoaded(budgetInfo)"></budget-info>
    <div class="row" ng-if="routeParams.budgetType === 'REALLOCATION'">
        <div class="col-md-12">
            <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
                <span>Total Selected Inputs: <strong>({{selectedReallocatedTo.length}})</strong></span>
                <button style="margin-top:-7px" type="button" ng-click="continueToReallocation()" ng-show="selectedReallocatedTo.length > 0"
                    class="btn btn-info btn-sm pull-right">Continue To Reallocate ></button>
            </div>
        </div>
    </div>
    <!--Comments-->
    <div class="row">
        <div ng-show="successMessage" class="col-md-12 fade-in-out">
            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="successMessage = undefined"><span>X</span><span class="sr-only">Close</span></button>
                {{successMessage | translate}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-input-container style="width: 100%">
                <label>Activity</label>
                <input style="color:#333333" ng-disabled="true" ng-model="selectedActivity" ng-value="'[ '+selectedActivityFacilityFundSource.activity_facility.activity.code+' ] ' + selectedActivityFacilityFundSource.activity_facility.activity.description" />
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <md-input-container style="width: 100%">
                <label>Facility</label>
                <input style="color:#333333" ng-disabled="true" ng-model="selectedFacility" ng-value="selectedActivityFacilityFundSource.activity_facility.facility.name" />
            </md-input-container>
        </div>
        <div class="col-md-3 col-sm-12">
            <md-input-container style="width: 100%">
                <label>Budget Class</label>
                <input style="color:#333333" ng-disabled="true" ng-model="selectedBudgetClass" ng-value="selectedActivityFacilityFundSource.activity_facility.activity.budget_class.name" />
            </md-input-container>
        </div>
        <div class="col-md-3 col-sm-12">
            <md-input-container style="width: 100%">
                <label>Fund Source</label>
                <input style="color:#333333" ng-disabled="true" ng-model="selectedFundSource" ng-value="selectedActivityFacilityFundSource.fund_source.name" />
            </md-input-container>
        </div>
        <div class="col-md-2 col-sm-12">
            <md-input-container style="width: 100%">
                <label>Total Ceiling (TZS)</label>
                <input style="font-weight: bold;" class="text-info" ng-disabled="true" ng-model="ceiling" ng-value="(ceiling.totalCeiling | currency:'')" />
            </md-input-container>
        </div>
        <div class="col-md-2 col-sm-12">
            <md-input-container style="width: 100%">
                <label>Ceiling Balance (TZS)</label>
                <input ng-class="{'text-warning':ceiling.ceilingBalance <= 0,'text-success':ceiling.ceilingBalance > 0}"
                    style="font-weight: 700" ng-disabled="true" ng-model="Remain" ng-value="(ceiling.ceilingBalance | currency:'')" />
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <button has-permission="budgeting.add_input" type="button" class="btn btn-info pull-right" 
                  ng-hide="(queryParams.realoc !='true' && routeParams.budgetType === 'APPROVED' && selectedActivityFacilityFundSource.activity_facility.activity.is_final) 
                            || (routeParams.budgetType === 'CURRENT' && plan.is_locked)"
                ng-click="createOrUpdateInput(undefined)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Input</button>
            <button type="button" class="btn btn-warning pull-right" style="margin-right: 4px" ng-click="goBack()"><i
                    class="fa fa-caret-left"></i>&nbsp;Back</button>
            <button ng-if="selectedReallocatedTo.length > 0 && queryParams.realoc == 'true'" type="button" class="btn btn-success pull-right"
                style="margin-right: 4px" ng-click="continueToReallocation()"><i class="fa fa-caret-left"></i>&nbsp;Continue
                to Reallocation</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <table class="table table-bordered table-responsive table-striped table-sm">
                    <tbody>
                        <tr class="bg-teal-400">
                            <th style="width:40%" translate="TH_GFS_CODE"></th>
                            <th translate="TH_UNIT_OF_MEASURE"></th>
                            <th style="width:80px" translate="TH_QUANTITY"></th>
                            <th style="width:80px" translate="TH_FREQUENCY"></th>
                            <th>
                                <span class="pull-right">({{'CURRENCY'|translate}})</span>
                                <span class="pull-right" translate="TH_UNIT_PRICE"></span>
                            </th>
                            <th>
                                <span class="pull-right">({{'CURRENCY'|translate}})</span>
                                <span class="pull-right" translate="SUB_TOTAL"></span>
                            </th>
                            <th style="width:1%" translate="TH_ACTION"></th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-show="inputIsLoading">
                            <td style="padding: 0px" colspan="7">
                                <pr-progress></pr-progress>
                            </td>
                        </tr>
                        <tr ng-repeat="i in activityFacilityFundSourceInputs.data">
                            <td>
                                [ {{i.gfs_code.code}} ] {{i.gfs_code.description}} &nbsp;
                                <a class="fa fa-info-circle" ng-class="hasToAddress(i.input_comments)?'color-red':'color-green'" 
                                ng-click="addressComments('INPUT',i.gfs_code.description,i.input_comments)"
                                  ng-if="i.input_comments.length"></a>
                            </td>
                            <td>{{i.unit.name}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.frequency}}</td>
                            <td>
                                <span class="pull-right">{{i.unit_price | currency:''}}</span>
                            </td>
                            <td>
                                <span class="pull-right">{{(i.unit_price * i.quantity * i.frequency ) | currency:''}}</span>
                            </td>
                            <td layout="row" class="action-options">
                                <a has-permission="budgeting.edit_input" 
                                ng-hide="(queryParams.realoc !='true' && routeParams.budgetType === 'APPROVED' && selectedActivityFacilityFundSource.activity_facility.activity.is_final) || 
                                        (routeParams.budgetType === 'CURRENT' && plan.is_locked)"
                                    ng-click="createOrUpdateInput(i,inputData)">
                                    <ng-md-icon icon="edit"></ng-md-icon>
                                    <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="BTN_EDIT"></span></md-tooltip>
                                </a>
                                <a has-permission="budgeting.delete_input" 
                                ng-hide="(queryParams.realoc != 'true' && routeParams.budgetType === 'APPROVED' && selectedActivityFacilityFundSource.activity_facility.activity.is_final) ||
                                    (routeParams.budgetType === 'CURRENT' && plan.is_locked)"
                                    ng-click="delete(i.id)">
                                    <ng-md-icon icon="delete" class="danger"></ng-md-icon>
                                    <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="BTN_DELETE"></span></md-tooltip>
                                </a>
                                <span ng-if="selectedActivityFacilityFundSource.activity_facility.activity.is_final">
                                    <i class="fa fa-check"></i>Approved</span>
                                <md-checkbox ng-if="queryParams.realoc == 'true'" type="checkbox" ng-model="i.is_selected"
                                    ng-change="toggleSelectedReallocationTo(i.id)">
                                    <span ng-if="!i.is_selected">Select</span>
                                    <span ng-if="i.is_selected">UnSelect</span>
                                </md-checkbox>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="input">
                                <div class="col-md-8">
                                    <ul uib-pagination total-items="activityFacilityFundSourceInputs.total" class="pagination-sm pull-left"
                                        boundary-links="true" num-pages="numPages" items-per-page="activityFacilityFundSourceInputs.per_page"
                                        ng-model="currentPage" max-size="10" ng-change="pageChanged()">
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <span class="pull-right"><strong>Total</strong></span>
                            </td>
                            <td>
                                <span class="pull-right"><strong>{{totalBudget | currency:""}}</strong></span>
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-show="activityFacilityFundSourceInputs.data.length === 0">
                            <td class="7">No input found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
