<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
        <table class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th TRANSLATE="TH_NO">No.</th>
                <th translate="TH_SECTION"></th>
                <th translate="TH_MTEF"></th>
                <th translate="TH_ACTION">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="peBudget in peBudgets.data | orderBy:'-name'">
                <td>{{$index + 1}}</td>
                <td>{{peBudget.section.name}}</td>
                <td>{{peBudget.mtef.name}}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-info" ng-click="edit(peBudget,currentPage)">Edit</a>
                    <a href class="btn btn-danger" ng-click="delete(peBudget.id,currentPage)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul uib-pagination total-items="peBudgets.total" items-per-page="peBudgets.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_PE_BUDGET"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createPeBudgetForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                            <div class="col-sm-9">
                                <select name="section_id" class="form-control"
                                        ng-model="peBudgetToCreate.section_id"
                                        ng-options="ah.id as ah.name for ah in sections">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeBudgetForm.section_id.$error.required" translate="REQUIRED_SECTION"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_MTEF"></label>
                            <div class="col-sm-9">
                                <select name="mtef_id" class="form-control"
                                        ng-model="peBudgetToCreate.mtef_id"
                                        ng-options="se.id as se.name for se in mtefs">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeBudgetForm.mtef_id.$error.required" translate="REQUIRED_SECTION"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_PE_BUDGET"></h5>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                            <div class="col-sm-9">
                                <select name="section_id" class="form-control"
                                        ng-model="peBudgetToEdit.section_id"
                                        ng-options="value.id as value.name for value in sections">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_MTEF"></label>
                            <div class="col-sm-9">
                                <select name="mtef_id" class="form-control"
                                        ng-model="peBudgetToEdit.mtef_id"
                                        ng-options="value.id as value.name for value in mtefs">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
