<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span>
                <span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <!--<a  href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>-->
        <div class="table-responsive">
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                <tr>
                    <th width="2%">No.</th>
                    <th translate="NAME"></th>
                    <th width="15%" translate="AMOUNT"></th>
                    <th width="10%" translate="ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fullPlan in fullPlanChain.data | orderBy:'fullPlanChain.name'">
                    <td>{{$index + 1}}</td>
                    <td>{{fullPlan.name}}</td>
                    <td align="right">{{fullPlan.code}}</td>

                    <td nowrap="nowrap">
                        <!--<span style="width:100%" class="label bg-blue">Open</span>-->
                        <button type="button"  class="btn btn-success" ng-click="" translate="VIEW"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!--<ul uib-pagination total-items="adminHierarchyCeilings.total" items-per-page="adminHierarchyCeilings.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>-->

    </div>
</div>




