<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="/retiring-employees/upload" class="form-horizontal" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="file" class="file-input">
                    <span class="help-block">Automatically convert a file input to a bootstrap file input widget by setting its class as <code>file-input</code>.</span>
                </div>
            </div>
        </form>
        <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
        <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th TRANSLATE="TH_NO">No.</th>
                <th translate="TH_NAME"></th>
                <th translate="TH_CHECK_NUMBER"></th>
                <th translate="TH_DESIGNATION"></th>
                <th translate="TH_SECTION"></th>
                <th translate="TH_ADMIN_HIERARCHY"></th>
                <th translate="TH_SALARY_SCALE"></th>
                <th translate="TH_BASIC_SALARY"></th>
                <th translate="TH_RETIRE_DATE"></th>
                <th translate="TH_ACTION">Action</th>


            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="retiringEmployee in retiringEmployees.data | orderBy:'-name'">
                <td>{{$index + 1}}</td>
                <td>{{retiringEmployee.name}}</td>
                <td>{{retiringEmployee.check_number}}</td>
                <td>{{retiringEmployee.designation}}</td>
                <td>{{retiringEmployee.section.name}}</td>
                <td>{{retiringEmployee.admin_hierarchy.name}}</td>
                <td>{{retiringEmployee.salary_scale}}</td>
                <td>{{retiringEmployee.basic_salary | currency:""}}</td>
                <td>{{retiringEmployee.retire_date | date : "mediumDate" :"UTC" }}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-info" ng-click="edit(retiringEmployee,currentPage)">Edit</a>
                    <a href class="btn btn-danger" ng-click="delete(retiringEmployee.id,currentPage)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul uib-pagination total-items="retiringEmployees.total" items-per-page="retiringEmployees.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_RETIRING_EMPLOYEE"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createRetiringEmployeeForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="retiringEmployeeToCreate.name"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.name.$error.required" translate="REQUIRED_NAME"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CHECK_NUMBER"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="check_number" type="text" ng-model="retiringEmployeeToCreate.check_number"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.check_number.$error.required" translate="REQUIRED_CHECK_NUMBER"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESIGNATION"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="designation" type="text" ng-model="retiringEmployeeToCreate.designation"
                                       placeholder="e.g ICT Officer" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.designation.$error.required" translate="REQUIRED_DESIGNATION"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_RETIRE_DATE"></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                    <input ng-click="startPopup =true" type="text" class="form-control"
                                           uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="retiringEmployeeToCreate.retire_date" is-open="startPopup"
                                           datepicker-options="{}"
                                           ng-required="true"
                                           name="start_date"
                                           close-text="Close"
                                           popup-placement="bottom"
                                           alt-input-formats="altInputFormats"/>
                                </div>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.retire_date.$error.required" translate="REQUIRED_RETIRE_DATE"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_ADMIN_HIERARCHY"></label>
                            <div class="col-sm-9">
                                <select name="admin_hierarchy_id" class="form-control"
                                        ng-model="retiringEmployeeToCreate.admin_hierarchy_id"
                                        ng-options="ah.id as ah.name for ah in adminHierarchies">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.section_id.$error.required" translate="REQUIRED_SECTION"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                            <div class="col-sm-9">
                                <select name="section_id" class="form-control"
                                        ng-model="retiringEmployeeToCreate.section_id"
                                        ng-options="se.id as se.name for se in sections">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.section_id.$error.required" translate="REQUIRED_SECTION"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SALARY_SCALE"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="salary_scale" type="text" ng-model="retiringEmployeeToCreate.salary_scale"
                                       placeholder="TGS1" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.salary_scale.$error.required" translate="REQUIRED_SALARY_SCALE"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_BASIC_SALARY"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="basic_salary" type="text" ng-model="retiringEmployeeToCreate.basic_salary"
                                       placeholder="1000000.00" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createRetiringEmployeeForm.basic_salary.$error.required" translate="REQUIRED_BASIC_SALARY"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">Edit financial year</h5>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="retiringEmployeeToEdit.name" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CHECK_NUMBER"></label>
                            <div class="col-sm-9">
                                <input type="text" name="check_number" ng-model="retiringEmployeeToEdit.check_number" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESIGNATION"></label>
                            <div class="col-sm-9">
                                <input type="text" name="designation" ng-model="retiringEmployeeToEdit.designation" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_RETIRE_DATE"></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                    <input ng-click="startPopup =true" type="text" class="form-control"
                                           uib-datepicker-popup=""
                                           ng-model="retiringEmployeeToEdit.retire_date" is-open="startPopup"
                                           datepicker-options="{formatMonth:'mm',formatYear: 'yy'}"
                                           ng-required="true"
                                           close-text="Close"
                                           popup-placement="bottom"
                                           alt-input-formats="altInputFormats"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_ADMIN_HIERARCHY"></label>
                            <div class="col-sm-9">
                                <select name="admin_hierarchy_id" class="form-control"
                                        ng-model="retiringEmployeeToEdit.admin_hierarchy_id"
                                        ng-options="value.id as value.name for value in adminHierarchies">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                            <div class="col-sm-9">
                                <select name="section_id" class="form-control"
                                        ng-model="retiringEmployeeToEdit.section_id"
                                        ng-options="value.id as value.name for value in sections">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SALARY_SCALE"></label>
                            <div class="col-sm-9">
                                <input type="text" name="salary_scale" ng-model="retiringEmployeeToEdit.salary_scale" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_BASIC_SALARY"></label>
                            <div class="col-sm-9">
                                <input type="text" name="basic_salary" ng-model="retiringEmployeeToEdit.basic_salary" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
