<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_CAS_ASSESSMENT_CATEGORY_VERSION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="MINIMUM_PASSMARK"></label>
                                    <input ng-required="true" name="minimum_passmark" type="text"
                                           ng-model="updateDataModel.minimum_passmark" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.minimum_passmark.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label><span translate="CAS_ASSESSMENT_STATE"></span></label>
                                    <select class="form-control select-search3"
                                            ng-model="updateDataModel.cas_assessment_state_id"
                                            name="cas_assessment_state_id"
                                            ng-options="ds.id as (ds.code+' - '+ds.name) for ds in states">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.cas_assessment_state_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label><span translate="REFERENCE_DOCUMENT"></span></label>
                                    <select class="form-control select-search1"
                                            ng-model="updateDataModel.reference_document_id"
                                            name="reference_document_id"
                                            ng-options="ds.id as ds.name for ds in ref_docs">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.reference_document_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label><span translate="CAS_ASSESSMENT_CATEGORY"></span></label>
                                    <select class="form-control select-search2"
                                            ng-model="updateDataModel.cas_assessment_category_id"
                                            name="cas_assessment_category_id"
                                            ng-options="ds.id as (ds.name+' - '+ds.cas_plan.name) for ds in categories">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.cas_assessment_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">  
                                      <label><span translate="FINANCIAL_YEAR"></span></label>  
                                      <select class="form-control"
                                         ng-model="updateDataModel.financial_year_id"
                                         name="financial_year"
                                         ng-options="item.id as item.name for item in financial_years">
                                      </select>
                                     </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>