<div ng-show="!planLoaded">
    <pr-progress></pr-progress>
    <div class="content-group">
        <div class="page-header page-header-default">
            <div class="page-header-content">
                <div class="page-title">
                    <h5>
                        <span class="text-semibold">{{title | translate}}&nbsp;Loading....</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="planLoaded">
    <budget-info on-load="onBudgetInfoLoaded(budgetInfo)"></budget-info>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <md-radio-group flex ng-model="isHomeFacility" layout="row" ng-change="isHomeFacilityChange()">
                <md-radio-button ng-if="facilities.homeFacility != null" ng-value="true" class="md-primary">
                    {{facilities.homeFacility.name}}
                    {{facilities.homeFacility.type}}
                </md-radio-button>
                <md-radio-button ng-value="false" ng-if="facilities.supervisedFacilityTypes.length" class="md-primary">
                    <span ng-repeat="ft in facilities.supervisedFacilityTypes">{{ft.name}}(s)<span
                            ng-if="!$last">/</span></span>
                </md-radio-button>
            </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-12" ng-if="!isHomeFacility">
            <br />
            <md-input-container flex>
                <label>Facility</label>
                <md-autocomplete placeholder="Search Facilities" md-selected-item="selectedSupervisedFacility"
                    md-search-text="searchText" md-items="item in searchFacility(searchText)"
                    md-selected-item-change="supervisedFacilityChanged(selectedSupervisedFacility)"
                    md-item-text="item.name+'-'+item.type">
                    <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
                </md-autocomplete>
            </md-input-container>
        </div>
    </div>
    <br />
    <div class="row">
        <div ng-show="successMessage" class="col-md-12 fade-in-out">
            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="successMessage=undefined">
                    <span>X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                {{successMessage | translate}}
            </div>
        </div>
        <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined">
                    <span>X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                {{errorMessage | translate}}
            </div>
        </div>
    </div>
    <!-- Plan Chain filter -->
    <plan-chain-filter on-change="planChainChanged(selectedPlanChainId)"></plan-chain-filter>
    <!-- Plan Chain filter -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <md-input-container style="width:100%">
                <label>Target</label>
                <md-select ng-disabled="false" aria-label="Target" ng-model="selectedTarget" ng-change="targetChanged()">
                    <md-option  ng-repeat="t in allAnnualTargets track by t.id" ng-value="t">
                        <strong>[ {{t.code}} ]</strong> {{t.description}}
                        <strong>({{t.totalActivities}}) Activities</strong>
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-4 col-sm-12">
            <md-input-container style="width:100%">
                <label>Search Activity</label>
                <md-icon md-svg-src="/images/baseline-search-24px.svg" class="s24" aria-label="Search"></md-icon>
                <input ng-change="searchQueryChanged()" ng-model="searchQuery" type="text" />
            </md-input-container>
        </div>
    </div>
    <div class="row" ng-if="routeParams.budgetType === 'REALLOCATION'">
        <div class="col-md-12">
            <div class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
                <span>
                    <span translate="TOTAL_SELECTED_ACTIVITIES"></span>
                    <strong>({{selectedToReallocationActivity.length}})</strong>
                </span>
                <button style="margin-top:-7px" type="button" ng-click="continueToReallocationInput()"
                    ng-show="selectedToReallocationActivity.length > 0" class="btn btn-info btn-sm pull-right">Continue
                    To Inputs ></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button has-permission="planning.add_activity"
                type="button" ng-click="createOrUpdateActivity(undefined)" class="btn pull-right btn-info">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span translate="TD_ADD_NEW_ACTIVITY"></span>
            </button>
            <button type="button" style="margin-right: 4px" href ng-click="goBack()" class="btn btn-warning pull-right">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
                <span translate="MENU_LONG_TARGETS"></span>
            </button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <table style="width:100%" class="table table-bordered table-responsive table-striped activities">
                    <thead>
                        <tr class="bg-teal-400">
                            <th translate="TH_CODE"></th>
                            <th style="width:25%; min-width:25%;max-width: 25%;" translate="TH_DESCRIPTION"></th>
                            <th translate="TH_BUDGET_CLASS"></th>
                            <th translate="LABEL_ACTIVITY_CATEGORY"></th>
                            <th translate="Is Facility Account"></th>
                            <th ng-repeat="p in periods">{{p.name}}</th>
                            <th class="action" translate="TH_FACILITY"></th>
                            <th class="action" translate="BUDGET"></th>
                            <th translate="ACTION"></th>
                            <th has-permission="planning.disapproved_activity" translate="Status"></th>
                        </tr>
                    </thead>
                    <tr ng-show="activitiesLoading">
                        <td style="padding: 0px" colspan="{{9+periods.length}}">
                            <pr-progress></pr-progress>
                        </td>
                    </tr>
                    <tr ng-repeat-start="a in seletedTargetActivities">
                        <td ng-if="a.code.length==8">
                            {{(a.code).substring(0,1)+(a.code).substring(3,8)}}
                            <!-- <a ng-show="!a.isRefreshingCode && !a.is_facility_account"
                                has-permission='planning.refresh-activity-code' ng-click="refreshCode(a)">
                                <i class="fa fa-refresh"></i>
                            </a>
                            &nbsp;
                            <a class="fa fa-info-circle"
                                ng-class="hasToAddress(a.activity_comments)?'color-red':'color-green'"
                                ng-click="addressComments('ACTIVITY',a.description,a.activity_comments)"
                                ng-if="a.activity_comments.length"></a>
                            <span ng-show="a.isRefreshingCode && !a.is_facility_account">Refreshing...</span> -->
                        </td>
                        <td ng-if="a.code.length !== 8">
                            {{(a.code).substring(0,1)+(a.code).substring(4,9)}}
                            <!-- <a ng-show="!a.isRefreshingCode && !a.is_facility_account"
                                has-permission='planning.refresh-activity-code' ng-click="refreshCode(a)">
                                <i class="fa fa-refresh"></i>
                            </a>
                            &nbsp;
                            <a class="fa fa-info-circle"
                                ng-class="hasToAddress(a.activity_comments)?'color-red':'color-green'"
                                ng-click="addressComments('ACTIVITY',a.description,a.activity_comments)"
                                ng-if="a.activity_comments.length"></a>
                            <span ng-show="a.isRefreshingCode && !a.is_facility_account">Refreshing...</span> -->
                        </td>
                        <td style="width:25%; min-width:25%;max-width: 25%;overflow-wrap: break-word">
                            {{a.description}}
                            <input type="hidden" name="periods_{{$index}}" ng-required="a.periods.length ==0">
                        </td>
                        <td>{{a.budget_class.name}}</td>
                        <td>
                            {{a.activity_category.name}}
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" ng-disabled="a.is_final" name="isFacilityAccount"
                                    ng-click="toggleFacilityAccount(a)" ng-model="a.is_facility_account" />
                                <div class="slider round"></div>
                            </label>
                        </td>
                        <td ng-repeat="p in periods" class="input">
                            <input ng-disabled="true" class="text-info" ng-checked="hasPeriod(a,p.id)"
                                ng-click="togglePeriodSelection(a,p)" type="checkbox">
                        </td>
                        <td style="padding: 4px">
                            <a style="width:100%;color:#166dba;text-decoration-line: underline;text-decoration-style: double;"
                                ng-click="addOrRemoveActivityFacility(a)">{{a.totalFacilities}}-Facilities</a>
                        </td>
                        <td style="text-align: right;padding: 4px">
                            <a style="width:100%;color:#166dba;text-decoration-line: underline;text-decoration-style: double;"
                                ng-click="loadInputs('/budgeting#!/activity-facility-fund-sources/'+routeParams.mtefSectionId+'/'+routeParams.budgetType+'?searchQuery='+a.code)">{{a.totalBudget
                                | currency:""}}</a>
                        </td>
                        <td layout="row" class="action-options">
                            <input ng-model="a.is_selected" type="checkbox"
                                ng-show="routeParams.budgetType ==='REALLOCATION'"
                                ng-change="toggleSelectedReallocatedToActivity(a.id)"
                                ng-checked="selectedToReallocationActivity.indexOf(a.id) !== -1" />
                            <a href has-permission="planning.edit_activity"
                                ng-if="!a.is_final && ((routeParams.budgetType === 'CURRENT' && !plan.is_locked) || routeParams.budgetType !== 'CURRENT')"
                                ng-click="createOrUpdateActivity(a)">
                                <ng-md-icon icon="edit"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true">
                                    <span translate="BTN_EDIT"></span>
                                </md-tooltip>
                            </a>
                            <a has-permission="planning.delete_activity" type="button" href
                                ng-if="!a.is_final && ((routeParams.budgetType === 'CURRENT' && !plan.is_locked) || routeParams.budgetType !== 'CURRENT')"
                                ng-click="delete(a.id)">
                                <ng-md-icon icon="delete" class="danger"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true">
                                    <span translate="BTN_DELETE"></span>
                                </md-tooltip>
                            </a>
                            <a ng-show='showActivityCode !== a.code' href ng-click="setSelectedCode(a.code)">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a ng-show='showActivityCode === a.code' href ng-click="setSelectedCode(undefined)">
                                <i class="fa fa-eye-slash"></i>
                            </a>
                        </td>
                        <td has-permission="planning.disapproved_activity" style="padding: 6px;text-align: center"
                            class="action-options">
                            <span ng-if="!a.is_final" class="badge badge-info" ng-click="approve(a.id)">Not
                                submitted</span>
                            <span ng-if="a.is_final" ng-click="disApprove(a.id)"
                                class="badge badge-success">Submitted</span>
                        </td>
                    </tr>
                    <tr ng-show="showActivityCode == a.code " ng-repeat-end>
                        <td colspan="{{7+periods.length}}">
                            <table class="table table-bordered table-responsive activity-details" style="width:100%">
                                <tr>
                                    <td nowrap="nowrap">
                                        <strong translate="TASK_NATURE"></strong>:
                                        <span ng-bind="a.activity_task_nature.name"></span>
                                    </td>
                                    <td nowrap="nowrap">
                                        <strong translate="LABEL_RESPONSIBLE_PERSON"></strong>:
                                        {{a.responsible_person.first_name
                                        +' ' + a.responsible_person.last_name}}
                                    </td>
                                    <td nowrap="nowrap">
                                        <strong translate="LABEL_PROJECT"></strong>:
                                        <span ng-bind="a.project.name"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" colspan="2">
                                        <strong translate="LABEL_INDICATOR"></strong>:
                                        <span ng-bind="a.indicator"></span>

                                    </td>
                                    <td nowrap="nowrap">
                                        <strong translate="LABEL_INDICATOR_VALUE"></strong>:
                                        <span ng-bind="a.indicator_value"></span>

                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-show="totalActivitites === 0">
                        <td colspan="{{6+periods.length}}" translate="NO_DATA_FOUND"></td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <div class="col-md-8">
                    <ul uib-pagination total-items="selectedTargetActivitiesPage.total" class="pagination-sm pull-left"
                        boundary-links="true" num-pages="numPages"
                        items-per-page="selectedTargetActivitiesPage.per_page" ng-model="currentPage" max-size="10"
                        ng-change="pageChanged()">
                    </ul>
                </div>
                <div class="col-md-4">
                    <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
                </div>
            </div>
        </div>
    </div>
</div>