<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div ng-mode="arr"></div>
<div class="row">

    <div class="col-md-12">
        <table><tr><td width="93%">
            <select  style="margin-bottom: 2px;" name="plan_chain_id" class="form-control"
                    ng-model="selectedPlanChain"
                    ng-options="c as (c.code + ': ' + c.name) for c in planChains"
                    ng-change="loadAnnualTargets(selectedPlanChain)"
            >

            </select></td><td>
            <a  href class="btn btn-success pull-right create-btn" ng-click="create(selectedPlanChain)" translate="BTN_CREATE"></a>
        </td></tr></table>
        <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th width="2%">No.</th>
                <th width="5%" translate="CODE"></th>
                <th translate="DESCRIPTION"></th>
                <th width="10%" translate="ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="AnnualTarget in filteredAnnualTargets">
                <td width="2%">{{$index + 1}}</td>
                <td width="5%">{{AnnualTarget.code}}</td>
                <td>{{AnnualTarget.description}}</td>

                <td nowrap="nowrap" width="10%">
                    <!--<span style="width:100%" class="label bg-blue">Open</span>-->
                    <a href class="btn btn-info" ng-click="edit(AnnualTarget,selectedPlanChain)" translate="BTN_EDIT"></a>
                    <a href class="btn btn-danger" ng-click="delete(AnnualTarget.id)" translate="BTN_DELETE"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>



    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Create a new AnnualTarget</h5>
                </div>

                <form action="#" class="form-horizontal" name="createAnnualTargetForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Long Term Target *</label>
                            <div class="col-sm-9">
                                <select name="long_term_target_id" class="form-control"
                                        ng-model="annualTargetToCreate.long_term_target_id"
                                        ng-options="l.id as (l.code + ': ' + l.description) for l in filteredLongTermTargets"
                                        ng-change="loadTargetCode()"
                                >

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="control-label col-sm-3">Code *</label>
                        <div class="col-sm-9">
                        <input ng-required="true" name="longTerm.id"  type="text" ng-model="annualTargetToCreate.code" placeholder="" class="form-control">
                        <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createAnnualTargetForm.code.$error.required" >Code is required</span>
                        </div>

                        </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="annualTargetToCreate.description" placeholder="Description" name="description"
                                          class="form-control"></textarea>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Edit AnnualTarget</h5>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-sm-3">Long Term Target *</label>
                            <div class="col-sm-9">
                                <select name="long_term_target_id" class="form-control"
                                        ng-model="annualTargetToEdit.long_term_target_id"

                                        ng-options="l.id as (l.code + ': ' + l.description) for l in filteredLongTermTargets"
                                    ng-change="loadTargetCode()"
                                        >
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                             <label class="control-label col-sm-3">Reference Document *</label>
                             <div class="col-sm-9">
                                 <select name="reference_document_id" class="form-control"
                                         ng-model="annualTargetToEdit.reference_document_id"
 
                                         ng-options="d.id as d.name for d in referenceDocuments">
 
                                 </select>
                             </div>
                         </div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-3">Code *</label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="annualTargetToEdit.code" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createAnnualTargetForm.name.$error.required" >Name is required</span>
                                </div>

                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">Target Type *</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select name="reference_document_id" class="form-control"-->
                                        <!--ng-model="annualTargetToEdit.target_type_id"-->

                                        <!--ng-options="t.id as t.name for t in targetTypes">-->

                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Name</label>-->
                        <!--<div class="col-sm-9">-->
                        <!--<input type="text" ng-model="annualTargetToEdit.name" placeholder="" class="form-control">-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="annualTargetToEdit.description" placeholder="Description" name="description" class="form-control"></textarea>
                            </div>
                        </div>




                    </div>

                    <div class="modal-footer" >
                        <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
