<breadcrumb-loading ng-show="!planChainLoaded || !referenceDocLoaded " title="{{title}}"></breadcrumb-loading>
<div ng-show="planChainLoaded && referenceDocLoaded">
  <script type="text/ng-template" id="tree-renderer.html">
        <a href="">{{planChain.code}}:{{planChain.name}}</a>
    <ul>
        <li ng-repeat="planChain in planChain.children" ng-include="'tree-renderer.html'"></li>
    </ul>
</script>
  <breadcrumb title="{{title}}"></breadcrumb>
  <div class="row">
    <div ng-show="successMessage" class="col-md-12">
      <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span
            class="sr-only">Close</span></button>
        {{successMessage | translate}}
      </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
      <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span
            class="sr-only">Close</span></button>
        {{errorMessage | translate}}
      </div>
    </div>
  </div>
  <div class="row" ng-if="referenceDocuments.length ===0">
    <div class="col-md-12">
      <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
        <span translate="NO_STRATEGIC_PlAN_FOUND"></span>&nbsp;<a href="/setup#!/reference-documents"
          translate="CLICK_HERE_TO_CREATE"></a>
      </div>
    </div>
  </div>
  <div class="row" ng-show="referenceDocuments.length >0">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-11">
          <md-input-container style="width:100%">
            <label>{{lowestPlanChainType.name}}</label>
            <md-select ng-change="loadTargets(planChain)" ng-model="planChain">
              <md-optgroup label="{{lowestPlanChainType.name}}">
                <md-option ng-value="planChain" ng-repeat="planChain in lowestPlanChainType.plan_chains">
                  {{planChain.code}} : {{planChain.description}}
                </md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <!-- <div class="col-md-11">
          <md-input-container style="width:100%">
            <label>{{lowestPlanChainType.name}}</label>
            <md-select ng-model="planChain" ng-change="loadTargets(planChain)">
              <md-select-header layout="column">
                                <md-input-container >
                                    <input ng-model="searchTerm" type="search" ng-model-options="{debounce: {'default': 1000, 'blur': 0}}"
                                        placeholder="Search..." />
                                </md-input-container>
                            </md-select-header>
              <md-optgroup 
                ng-repeat-start="(o, so) in lowestPlanChainType.plan_chains | groupBy:'parent.code'">
                <md-option ng-repeat="s in so | filter:searchTerm " ng-value="s">{{s.code+': '+s.description}}
                </md-option>
              </md-optgroup>
              <md-optgroup ng-if="false" ng-repeat-end></md-optgroup>
            </md-select>
          </md-input-container>
        </div> -->
        <div class="col-md-1">
          <button ng-disabled="planChain == undefined" href class="btn btn-info pull-right create-btn"
            ng-click="create(planChain,lowestPlanChainType.plan_chains,referenceTypes)">
            <i class="fa fa-plus"></i>
            <span translate="BTN_CREATE"></span>
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
              <tr>
                <th width="2%">No.</th>
                <th width="5%" translate="CODE"></th>
                <th translate="DESCRIPTION"></th>
                <th ng-repeat="f in financialYears" style="width:1%">
                  {{f.name}}
                </th>
                <th width="10%" translate="ACTION"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="targets.data.length">
                <td colspan="{{4 + financialYears.length}}" class="bg-info-400">&nbsp;</td>
              </tr>
              <tr ng-repeat="t in targets.data">
                <td width="2%">{{$index + 1}}</td>
                <td width="5%">
                  {{t.code}}
                  <a ng-show="!t.isRefreshingCode && getSize(t.code) !== 5" ng-click="refreshCode(t)">
                    <i class="fa fa-refresh"></i>
                  </a>
                  <span ng-show="t.isRefreshingCode">Refreshing...</span>
                </td>
                <td>{{t.description}}</td>
                <td ng-repeat="f in financialYears" style="width:1%">
                  <a ng-show="hasFinalAnnualTarget(t.annualTargets, f.id)"
                    ng-click="confirmOrViewTarget(t.annualTargets, f)"><span class="fa fa-check"></span>&nbsp;View</a>
                  <button class="btn btn-info" ng-show="hasAnnualTargetToFinilize(t.annualTargets, f.id)"
                    ng-click="confirmOrViewTarget(t.annualTargets, f, t.id)">Confirm</button>
                </td>
                <td nowrap="nowrap" class="fit-content">
                  <button type="button" href class="btn btn-info"
                    ng-click="edit(t,lowestPlanChainType.plan_chains,referenceTypes)">
                    <i class="fa fa-edit"></i>
                    <span translate="BTN_EDIT"></span>
                  </button>
                  <button type="button" href class="btn btn-danger" ng-click="delete(t.id)"
                    translate="BTN_DELETE"></button>
                </td>
              </tr>
              <tr ng-if="targets.data.length ===0">
                <td colspan="4">
                  {{'NO_DATA_FOUND' | translate}}
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div class="row" ng-if="targets.data.length > 0">
            <div class="col-md-8">
              <ul uib-pagination total-items="targets.total" class="pagination-sm pull-left" boundary-links="true"
                num-pages="numPages" items-per-page="targets.per_page" ng-model="currentPage" max-size="10"
                ng-change="pageChanged()">
              </ul>
            </div>
            <div class="col-md-4">
              <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>