<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th TRANSLATE="TH_NO"></th>
                <th translate="TH_NAME"></th>
                <th translate="TH_FINANCIAL_YEAR"></th>
                <th translate="TH_ADMIN_HIERARCHY"></th>
                <th translate="TH_DECISION_LEVEL"></th>
                <th translate="TH_IS_LOCKED"></th>
                <th translate="TH_IS_FINAL"></th>
                <th translate="TH_ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mtef in mtefs.data">
                <td>{{$index + 1}}</td>
                <td>{{mtef.name}}</td>
                <td>{{mtef.financial_year.name}}</td>
                <td>{{mtef.admin_hierarchy.name}}</td>
                <td>{{mtef.decision_level.name}}</td>
                <td>
                    <span ng-show="mtef.is_final ==true" translate="MTEF_LOCKED"></span>
                    <span ng-show="mtef.is_final ==false" translate="MTEF_OPEN"></span>
                </td>
                <td>
                    <span ng-show="mtef.is_final ==true" translate="MTEF_FINAL_DRAFT"></span>
                    <label class="switch" ng-show="mtef.is_final ==false">
                        <input type="checkbox" class="styled" ng-checked="mtef.is_final" ng-model="mtef.is_final"
                               ng-change="toggleISFinal(mtef.id, mtef.is_final)" />
                        <div class="slider round"></div>
                    </label>
                </td>
                <td nowrap="nowrap">
                    <!--Financial year status:1:opened; -1:closed; 0 others -->
                    <button ng-disabled="mtef.is_final == true || mtef.locked==true"  href class="btn btn-info" ng-click="edit(mtef, currentPage)" translate="BTN_EDIT"></button>
                    <button ng-disabled="mtef.is_final == true || mtef.locked==true" href class="btn btn-danger" ng-click="delete(mtef.id, currentPage)" translate="BTN_DELETE"></button>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul uib-pagination total-items="mtefs.total" items-per-page="mtefs.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>
    </div>
</div>
<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_MTEF"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updateMTEFForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input type="text" name="name" ng-model="mtefToEdit.name" placeholder=""
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateMTEFForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
