<breadcrumb title="{{title}}"></breadcrumb>
<div class="row alert-boxes">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row alert-boxes">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
        <table class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th translate="TH_NAME"></th>
                <th translate="TH_CODE"></th>
                <th translate="TH_DESCRIPTION"></th>
                <th translate="TH_IS_ACTIVE"></th>
                <th translate="TH_ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pe_contribution in pe_contributions.data | orderBy:'name'">
                <td>{{$index + 1}}</td>
                <td>{{pe_contribution.name}}</td>
                <td>{{pe_contribution.code}}</td>
                <td>{{pe_contribution.percentage}}%</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" ng-checked="pe_contribution.is_active" ng-model="pe_contribution.is_active"
                               ng-change="togglePEContribution(pe_contribution.id, pe_contribution.is_active)">
                        <div class="slider round"></div>
                    </label>
                </td>
                <td nowrap="nowrap">
                    <a href class="btn btn-info" ng-click="edit(pe_contribution,currentPage)">Edit</a>
                    <a href class="btn btn-danger" ng-click="delete(pe_contribution.id,currentPage)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <ul uib-pagination total-items="pe_contributions.total" items-per-page="pe_contributions.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="TITLE_CREATE_PE_CONTRIBUTION"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createPEContributionForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text"
                                       ng-model="pe_contributionToCreate.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPEContributionForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text"
                                       ng-model="pe_contributionToCreate.code" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPEContributionForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_PERCENTAGE"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="percentage" type="number"
                                       ng-model="pe_contributionToCreate.percentage" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPEContributionForm.percentage.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="MODAL_TITLE_EDIT_PE_CONTRIBUTION"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updatePEContributionForm">
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input type="text" name="name" ng-model="pe_contributionToEdit.name" placeholder=""
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePEContributionForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                            <div class="col-sm-9">
                                <input type="text" name="code" ng-model="pe_contributionToEdit.code" placeholder=""
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePEContributionForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_PERCENTAGE"></label>
                            <div class="col-sm-9">
                                <input type="text" name="percentage" ng-model="pe_contributionToEdit.percentage"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePEContributionForm.percentage.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary action" ng-click="update()"
                                translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()"
                                translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
