<div ng-show="planIsLoading">
    <pr-progress></pr-progress>
    <div class="content-group" >
        <div class="page-header page-header-default" >
            <div class="page-header-content">
                <div class="page-title">
                    <h5>
                        <span class="text-semibold" >{{title | translate}}&nbsp;Loading....</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<breadcrumb ng-show="!planIsLoading" title="{{title}}"></breadcrumb>
<main-filter on-change="filterChanged(filter)"></main-filter>
<div class="row" ng-show="!planIsLoading">
    <div class="col-md-6" ng-repeat="plan in plans">
        <div class="panel panel-flat panel-bordered border-left-xlg "
             ng-class="{'border-left-info':selectedBudgetType ==='CURRENT','border-left-warning':selectedBudgetType !== 'CURRENT'}">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div><span translate="FINANCIAL_YEAR"></span>:<strong class="text-default">{{plan.mtef.financial_year.name}}</strong></div>
                        <div>
                           <span translate="COST_CENTRE"></span>: <span class="label label-success"> {{plan.section.name}}</span>
                        </div>
                        <div><span translate="BUDGET_TYPE"></span>:<strong class="text-default"> {{selectedBudgetType | translate}}</strong></div>
                        <div><span translate="DECISION_LEVEL"></span>
                            <strong  class="text-info">{{plan.decision_level.name}}</strong>
                        </div>
                        <div><span translate="STATUS"></span>:
                             <span ng-show="plan.mtef.is_final" class="label">
                               <strong class="text-success" translate="APPROVED"></strong>
                            </span>
                            <span ng-show="!plan.mtef.is_final" class="label">
                               <strong class="text-default" translate="NOT_APPROVED"></strong>
                            </span>
                        </div>

                    </div>
                    <div class="col-md-2" style="height: 100%">
                        <div class="pull-right pull-down">
                            <button ng-if="stage == 1" class="btn btn-info pull-right"
                                    ng-click="openPlan('/planning#!/planning-targets/'+plan.id+'/'+selectedBudgetType)">
                                <i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;<span>Plan</span>
                            </button>
                            <button ng-if="stage == 2"  ng-click="openPlan('/budgeting#!/activity-facility-fund-sources/'+plan.id+'/'+selectedBudgetType)"
                                class="btn btn-info pull-right">
                                <i class="fa fa-money" aria-hidden="true"></i>&nbsp;<span>Budget</span>
                            </button>
                        </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 " ng-if="plans.length==0" >
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered" translate="NO_FINANCIAL_YEAR_PLAN_FOUND"></div>
    </div>
</div>

