<div class="manage-nav" ng-if="mtefSectionId != '0'">
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_PLANNING'}" >
            <a id="user-tab" href="/planning#!/activities/{{plan.id}}?planType={{queryParams.planType}}&facility={{queryParams.facility}}" translate="TITLE_PLANNING"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_BUDGETING'}" >
            <a id="profile-tab" href="/budgeting#!/inputs/{{plan.id}}?planType={{queryParams.planType}}&facility={{queryParams.facility}}" translate="TITLE_BUDGETING"></a>
        </li>
    </ul>
</div>