<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Export Budget to Financial Systems<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="close" ng-click="close()"></a></li>
            </ul>
        </div>
    </div>

    <form class="steps-basic wizard clearfix" action="#" role="application" id="steps-uid-0" name="createData">
        <div class="steps clearfix">
            <ul role="tablist">
                <li role="tab" class="first" ng-class="(active == 1 && error !== 1)?'current':(status >= 1)?'done':(error == 1)?'current error':'disabled'"
                     aria-disabled="false" aria-selected="true">
                    <a id="steps-uid-0-t-0" href aria-controls="steps-uid-0-p-0">
                        <span class="current-info audible">current step: </span>
                        <span class="number">1</span> Chart of Account Segments
                    </a>
                    <div ng-show="error == 1">
                        <ul>
                            <li ng-repeat="item in segment_error | unique | limitTo: 5">{{ item }}</li>
                            <li>.....</li>
                        </ul>
                    </div>
                </li>

                <li role="tab" ng-class="(active == 2 && error !== 2)?'current':(status >= 2)?'done':(error == 2)?'current error':'disabled'"
                    aria-disabled="true" aria-selected="false">
                    <a id="steps-uid-0-t-1" href aria-controls="steps-uid-0-p-1">
                        <span class="number">2</span> General Ledger Accounts</a>
                </li>

                <li role="tab" ng-class="(active == 3 && status != 3)?'current':(status >= 3 && disable_sub === false)?'done':'disabled'" aria-disabled="true" aria-selected="false">
                    <a id="steps-uid-0-t-2" href aria-controls="steps-uid-0-p-2">
                        <span class="number">3</span> Budget
                    </a>
                </li>
            </ul>
        </div>
        <div class="content clearfix">
        <fieldset id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body" aria-hidden="true" ng-if="active == 1">
             <div ng-show="segment_no > 0">
                <p>Error:({{ segment_no }}) Invalid general ledger segment</p>
                <ul>
                    <li ng-repeat="item in error_message | unique | limitTo: 5">{{ item }}</li>
                    <li>.....</li>
                </ul>
                <a href ng-click="downloadError(error_message)">Click to download error</a>
             </div>
        </fieldset>

        <fieldset id="steps-uid-0-p-1" role="tabpanel" aria-labelledby="steps-uid-0-h-1" class="body current" aria-hidden="false"  ng-if="active == 2">
            <div ng-if="gl_error == true">
                <p>{{ errorMessage }}</p>
                <a href ng-click="budgetExportFeedback()">Click to view errors</a>
            </div>
            <div ng-if="gl_info == true">
                <p>{{ infoMessage }}</p>
            </div>
        </fieldset>

    </div>
    <div class="actions clearfix">
        <ul role="menu" aria-label="Pagination">
        <br/>
        <button type="button" class="btn btn-info" ng-disabled="prev" ng-click="prevStep()">
            Previous
        </button>
        <button type="button" class="btn btn-info" ng-disabled="next" ng-click="nextStep()" ng-show="!sub">
            Next
        </button>
        <button type="button" class="btn btn-success" ng-show="sub" ng-click="exportAccounts()">
            <i class="icon-envelop4 position-left"></i> Submit
            <span class="legitRipple-ripple"></span>
        </button>
        </ul>
    </div>
    </form>
</div>