<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
   <div class="col-md-12">
        <div class="heading-btn pull-right">
            <button type="button" class="btn btn-info" ng-click="exportAccounts()">
                    <i class="fa fa-upload"></i>
                    <span translate="BTN_EXPORT"></span>
            </button>
        </div>
   </div>  
</div>
<br/>
<div class="row"  >
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" >
                <thead class="bg-teal-400">
                <tr>
                    <th translate="TH_NO"></th>
                    <th translate="COUNCIL"></th>
                    <th translate="COA"></th>
                    <th translate="AMOUNT(TZS)"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in PEBudget">
                    <td>{{$index+1}}</td>
                    <td>{{ item.council }}</td>
                    <td>{{ item.coa }}</td>
                    <td>{{ item.amount | currency:"" }}</td>
                </tr>    
                </tbody>
            </table>
        </div>
    </div>
</div>