<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_REFERENCE_DOCUMENT"></h5>
            </div>
            <form class="form-horizontal" id="createReferenceDocumentForm" name="createReferenceDocumentForm"
                  method="{{request.method}}" novalidate action="{{request.url}}" enctype="multipart/form-data">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                      <div class="col-sm-9">
                        <input ng-required="true" autocomplete="off" name="name" id="name" type="text"
                               ng-model="referenceDocumentToCreate.name" ng-pattern="namePattern" placeholder="" class="form-control">
                        <span class="help-block text-danger"
                              ng-show="createReferenceDocumentForm.name.$error.pattern">length must range from 4 to 50 characters</span>
                        <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createReferenceDocumentForm.name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" autocomplete="off" name="description" type="text"
                                      ng-model="referenceDocumentToCreate.description" placeholder=""
                                      class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createReferenceDocumentForm.description.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DOCUMENT_TYPE_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="reference_document_type_id" class="form-control"
                                    ng-model="referenceDocumentTypesToCreate.reference_document_type_id">
                                <option value="" selected ></option>
                                <option ng-repeat="x in referenceDocumentTypes" value="{{x.id }}">{{ x.name}}</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_FILE_UPLOAD"></label>
                        <div class="col-sm-9">
                            <input class="file-input" data-show-preview="false" name="file_to_upload" id="file_to_upload"
                                   ng-model="referenceDocumentToCreate.file_to_upload" type="file" accept=".pdf"
                                   ng-change="clearMessages()"
                                   value="Choose File to upload"/>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createReferenceDocumentForm.file_to_upload.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="START_FINANCIAL_YEAR_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="start_financial_year" class="form-control searchyear1"
                                    ng-model="referenceDocumentTypesToCreate.start_financial_year">
                                <option value="" selected ></option>
                                <option ng-repeat="x in startFinancialYear" value="{{x.id }}">{{ x.name}}</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="END_FINANCIAL_YEAR_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="end_financial_year" class="form-control searchyear2"
                                    ng-model="referenceDocumentTypesToCreate.end_financial_year">
                                <option value="" selected ></option>
                                <option id="end_financial_year" ng-repeat="x in endFinancialYear" value="{{x.id }}">{{
                                    x.name}}
                                </option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="perPage" ng-model="referenceDocumentTypesToCreate.perPage"/>
                    <input type="submit" class="btn btn-primary" value="{{'BTN_SAVE'|translate}}">
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".searchyear1").select2();
    $(".searchyear2").select2();
</script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
