<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_REFERENCE_DOCUMENT"></h5>
            </div>
            <form class="form-horizontal" id="editReferenceDocumentForm" name="editReferenceDocumentForm" method="{{request.method}}"
                  novalidate  action="{{request.url}}" enctype="multipart/form-data">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{referenceDocumentToEdit.id}}">

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" autocomplete="off" name="name" type="text"
                                   ng-model="referenceDocumentToEdit.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="editReferenceDocumentForm.name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" autocomplete="off" name="description" type="text"
                                      ng-model="referenceDocumentToEdit.description" placeholder=""
                                      class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="editReferenceDocumentForm.description.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DOCUMENT_TYPE_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="reference_document_type_id" class="form-control"
                                    ng-model="referenceDocumentToEdit.reference_document_type_id">
                                <option value="" selected translate="SELECT_DOCUMENT_TYPE"></option>
                                <option ng-repeat="x in referenceDocumentTypes" ng-selected="referenceDocumentToEdit.reference_document_type_id ==x.id" value="{{x.id }}">{{ x.name}}</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_FILE_UPLOAD"></label>
                        <div class="col-sm-9">
                            <span ng-if="referenceDocumentToEdit.hasNewDocument">
                                <input  class="btn btn-file" name="file_to_upload" id="file_to_upload"
                                       ng-model="referenceDocumentToEdit.file_to_upload" type="file" accept=".pdf"
                                       ng-change="clearMessages()"
                                       value="Choose File to upload"/>
                                <input type="hidden" name="hasNewDocument" value="true" />
                            </span>
                            <span ng-if="referenceDocumentToEdit.document_url && !referenceDocumentToEdit.hasNewDocument">
                               <a  target="_blank" href = '{{referenceDocumentToEdit.document_url}}'>
                                    <i  class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                    <span translate="DOWNLOAD"></span>
                                </a>
                            </span>
                            <span ng-if="!referenceDocumentToEdit.hasNewDocument">
                                <a href ng-click="referenceDocumentToEdit.hasNewDocument = true; ">
                                      <i class="fa fa-times-circle fa-lg" style="color:red" ></i>
                                      <span translate="REMOVE"></span>
                                  </a>
                            </span>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="editReferenceDocumentForm.file_to_upload.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="START_FINANCIAL_YEAR_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="start_financial_year" class="form-control"
                                    ng-model="referenceDocumentToEdit.start_financial_year"
                            >
                                <option  ng-repeat="f in financialYears " value="{{f.id }}" ng-selected="referenceDocumentToEdit.start_financial_year ==f.id">{{ f.name}}</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="END_FINANCIAL_YEAR_REQUIRED"></label>
                        <div class="col-sm-9">
                            <select name="end_financial_year" class="form-control"
                                    ng-model="referenceDocumentToEdit.end_financial_year_"

                            >
                                <option ng-repeat="x in financialYears" value="{{x.id }}" ng-selected="x.id == referenceDocumentToEdit.end_financial_year" >{{ x.name}}</option>

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editReferenceDocumentForm.end_financial_year.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="{{'BTN_SAVE'|translate}}">
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>