<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" ><span>×</span><span class="sr-only">Close</span></button>
           <div> {{errorMessage | translate}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" >

        <div class="row" >

            <div class="col-md-6">
                <div class="input-group ">
                    <span class="input-group-addon btn-search" ><strong translate="SEARCH"></strong></span>
                    <input type="text" class="form-control"  ng-model="searchQuery"/>
                    <span class="input-group-btn">
                        <button ng-click="getCalendarByFinancialYear()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading-btn pull-right">
                    <a ng-show="hasPermission('planning.modify.reference_document')" href class="btn btn-info pull-right create-btn" ng-click="create(isNationalGuideline)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </a>
                </div>
            </div>

        </div>
        <br/>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped" >
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TYPE"></th>
                            <th translate="TH_DOC_URL"></th>
                            <th translate="TH_ADMIN_LEVEL"></th>
                            <th translate="TH_START_FINANCIAL_YEAR"></th>
                            <th translate="TH_END_FINANCIAL_YEAR"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--{{ referenceDocuments.data }}-->
                        <tr ng-repeat-start="(i, values1) in referenceDocuments.data | groupBy:'reference_document_type.is_national_guideline'">
                            <td class="bg-info" colspan="9">
                                <span ng-if="i == 'true'" translate="NATIONAL_GUIDELINES"></span>
                                <span ng-if="i == 'false'" translate="OTHER_GUIDELINES"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="(j, values2) in values1 | groupBy:'reference_document_type.name'">
                            <td class="bg-default" colspan="9">
                                {{j}}
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="referenceDocument in values2 | orderBy:'-name' | filter:searchQuery">
                            <td>{{$index + 1}}</td>
                            <td>{{referenceDocument.name}}</td>
                            <td>{{referenceDocument.description}}</td>
                            <td>{{referenceDocument.reference_document_type.name}}</td>
                            <td>
                                <a target="_blank" href = '{{referenceDocument.document_url}}'>
                                    <i  class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                    <span translate="DOWNLOAD"></span>
                                </a>
                            </td>
                            <td>{{referenceDocument.admin_hierarchy.name}}</td>
                            <td>{{referenceDocument.s_financial_year.name}}</td>
                            <td>{{referenceDocument.e_financial_year.name}}</td>
                            <td nowrap="nowrap" class="fit-content">
                                <a ng-if="hasPermission('planning.modify.reference_document') && (!referenceDocument.reference_document_type.is_national_guideline || isNationalGuideline == 1)" href class="btn btn-info" ng-click="edit(referenceDocument,currentPage,perPage,isNationalGuideline)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a ng-if="hasPermission('planning.modify.reference_document') && (!referenceDocument.reference_document_type.is_national_guideline || isNationalGuideline == 1)" href class="btn btn-danger" ng-click="delete(referenceDocument.id,currentPage,perPage,isNationalGuideline)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="referenceDocuments.total > referenceDocuments.per_page">
            <div class="col-md-6">
                <ul uib-pagination total-items="referenceDocuments.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="referenceDocuments.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
            </div>
            <div class="col-md-3">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
            <div class="col-md-3">
                <total-pages currentPage="{{currentPage}}" totalItems="{{ referenceDocuments.total }}" perPage="{{ referenceDocuments.per_page }}"></total-pages>

            </div>
        </div>
    </div>
</div>
