<div ng-show="default_mode==true" xmlns="http://www.w3.org/1999/html">
<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="LONG_TERM_TARGETS"></h5>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <a href class="btn btn-success pull-right create-btn" ng-click="showLongTermTargetCreationForm()">
                                    <i class="fa fa-plus"></i>
                                    <span translate="BTN_ADD_LONG_TERM_TARGET"></span>
                                </a>
                            </div>

                            <div class="row">
                                <form action="#" class="form-horizontal">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-teal-400">
                                            <tr>
                                                <th>No.</th>
                                                <th translate="TH_CODE"></th>
                                                <th translate="TH_DESCRIPTION"></th>
                                                <th translate="TH_PLAN_CHAIN"></th>
                                                <th translate="TH_ACTION"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat = "long_term_target in long_term_targets">
                                                <td>{{$index + 1}}</td>
                                                <td>
                                                    <div ng-show="longTermTargetToEdit.id == long_term_target.id">
                                                        <input ng-required="true" name="code" type="text" ng-model="longTermTargetToEdit.code" autocomplete="off"
                                                               class="form-control">
                                                        <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editLongTermTargetForm.name.$error.required" translate="CODE_REQUIRED"></span>
                                                        </div>
                                                    </div>
                                                    <div ng-show="longTermTargetToEdit.id !== long_term_target.id">{{long_term_target.code}}</div>

                                                </td>
                                                <td>
                                                    <div ng-show="longTermTargetToEdit.id == long_term_target.id">
                                                        <input ng-required="true" name="description" type="text" ng-model="longTermTargetToEdit.description" autocomplete="off"
                                                               class="form-control">
                                                        <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editLongTermTargetForm.description.$error.required" translate="CODE_REQUIRED"></span>
                                                        </div>
                                                    </div>
                                                    <div ng-show="longTermTargetToEdit.id !== long_term_target.id">{{long_term_target.description}}</div>
                                                </td>
                                                <td>{{long_term_target.plan_chain.name}}</td>
                                                <td nowrap="nowrap">
                                                    <div ng-if="longTermTargetToEdit.id !== long_term_target.id">
                                                        <a href class="btn btn-info" ng-click="enableLongTermTargetToEditFields(long_term_target)">
                                                            <i class="fa fa-edit"></i>
                                                            <span translate="EDIT_ACTION"></span>
                                                        </a>
                                                    </div>

                                                    <div ng-if="longTermTargetToEdit.id == long_term_target.id">
                                                        <a href class="btn btn-info" ng-click="update(longTermTargetToEdit)">
                                                            <i class="fa fa-edit"></i>
                                                            <span translate="BTN_SAVE"></span>
                                                        </a>
                                                    </div>

                                                    <a href class="btn btn-danger" ng-click="delete(referenceDocument.id,currentPage,perPage)">
                                                        <i class="fa fa-remove"></i>
                                                        <span translate="DELETE_ACTION"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                <div class="modal-footer">
                    <div ng-show="default_mode == false">
                        <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                    </div>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
                                </form>
        </div>
    </div>
</div>
</div>


<div ng-show="create_long_term_target_mode == true">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_LONG_TERM_TARGET"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createLongTermTargetForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >{{lowest_plan_chain.name}}</label>
                            <div class="col-sm-9">
                                <select name="plan_chain_id" class="form-control"
                                        ng-model="longTermTargetToCreate.plan_chain_id"
                                        ng-options="c.id as (c.code + ': ' + c.name) for c in lowest_plan_chain.plan_chains"
                                        ng-change="loadChainCode()"
                                >
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">Plan Chain</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select name="plan_chain_id" class="form-control"-->
                                        <!--ng-model="longTermTargetToCreate.plan_chain_id"-->
                                        <!--ng-options="t.id as t.name for t in lowest_plan_chain">-->

                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-3">Code *</label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="longTermTargetToCreate.code" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createLongTermTargetForm.name.$error.required" >Name is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Target Type *</label>
                            <div class="col-sm-9">
                                <select name="reference_document_id" class="form-control"
                                        ng-model="longTermTargetToCreate.target_type_id"
                                        ng-change="loadTargetCode()"
                                        ng-options="t.id as t.name for t in targetTypes">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="longTermTargetToCreate.description" placeholder="Description" name="description"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <label><b>Link Sectors</b></label><br>
                        <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="selectAll()">Select All</button>
                        <button type="button" class="btn btn-secondary btn-sm"  ng-click="unSelectAll()">De-select All</button><br><br>

                        <div class="col-sm-2" ng-repeat="s in sectors">
                            <label >
                                <input
                                        type="checkbox"
                                        name="selectedSectors[]"
                                        value="{{s.id}}"
                                        ng-checked="selection.indexOf(s.id) > -1"
                                        ng-click="toggleSelection(s)"
                                > {{s.name}} &nbsp; &nbsp;
                            </label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

