<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_EDIT_REFERENCE_DOCUMENT_TYPES"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateReferenceDocumentTypeForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only" translate="CLOSE">Close</span></button>
                            {{errorMessage |
                            <ul ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" autocomplete="off" name="name" type="text" ng-model="referenceDocumentTypeToEdit.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editReferenceDocumentTypeForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea  autocomplete="off" name="name" type="text" ng-model="referenceDocumentTypeToEdit.description" placeholder="" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_ALLOWED_TYPES"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" autocomplete="off" name="name" type="text" ng-model="referenceDocumentTypeToEdit.allowed_types" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editReferenceDocumentTypeForm.allowed_types.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_NATIONAL_GUIDELINE"></label>
                        <div class="col-sm-9">
                            <label class="switch">
                                <input
                                        type="checkbox"
                                        name="isNationaGuidline"
                                        value="{{referenceDocumentTypeToEdit.is_national_guideline}}"
                                        ng-model="referenceDocumentTypeToEdit.is_national_guideline"
                                ><div class="slider round"></div> &nbsp; &nbsp;
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="ROOT_PATH"></label>
                        <div class="col-sm-9">
                            <input  autocomplete="off" name="name" type="text" ng-model="referenceDocumentTypeToEdit.root_path" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
            </form>
        </div>
    </div>
</div>