<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
            <ul ng-show="errors.length">
                <li ng-repeat="e in errors">{{e}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" >
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped" >
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TH_ALLOWED_TYPES"></th>
                            <th translate="TH_DOC_URL"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="referenceDocumentType in referenceDocumentTypes.data">
                            <td>{{$index + 1}}</td>
                            <td>{{referenceDocumentType.name}}</td>
                            <td>{{referenceDocumentType.description}}</td>
                            <td>{{referenceDocumentType.allowed_types}}</td>
                            <td>{{referenceDocumentType.root_path}}</td>
                            <td nowrap="nowrap" class="fit-content">
                                <a href class="btn btn-info" ng-click="edit(referenceDocumentType,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(referenceDocumentType.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="referenceDocumentTypes.total > referenceDocumentTypes.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="referenceDocumentTypes.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="referenceDocumentTypes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ referenceDocumentTypes.total }}" perPage="{{ referenceDocumentTypes.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>