<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="MODAL_TITLE_EDIT_SECTION_LEVEL"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateSectionLevelForm">
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_NAME"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="sectionLevelToEdit.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="sectionLevelToEdit.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateSectionLevelForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"
                                    ></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="DESCRIPTION"></span>
                        </label>
                        <div class="col-sm-9">
                            <textarea name="description" ng-model="sectionLevelToEdit.description" placeholder="Description" class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_HIERARCHY_POSITION"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="hierarchy_position" type="number" ng-model="sectionLevelToEdit.hierarchy_position" placeholder="1" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.hierarchy_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.hierarchy_position.$error.min" translate="VALIDATION_MIN"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_NEXT_BUDGET_LEVEL"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="sectionLevelToEdit.next_budget_level"
                                    class="form-control"
                                    ng-options="parentSectionLevel.id as parentSectionLevel.name for parentSectionLevel in parentSectionLevels">
                                    <option value="" selected translate="SELECT_NEXT_BUDGET_LEVEL"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-min="1" name="sort_order" type="number" ng-model="sectionLevelToEdit.sort_order" placeholder="1" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger" ng-show="updateSectionLevelForm.sort_order.$error.min" translate="VALIDATION_MIN"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer" >
                    <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
