<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
   </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <a  href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th>No.</th>
                                <th translate="TH_NAME"></th>
                                <th translate="TH_CODE"></th>
                                <th translate="TH_DESCRIPTION"></th>
                                <th translate="TH_NEXT_LEVEL"></th>
                                <th translate="TH_HIERARCHY_POSITION"></th>
                                <th translate="TH_IS_ACTIVE"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sectionLevel in sectionLevels.data | orderBy:'-position'">
                                <td>{{$index + 1}}</td>
                                <td>{{sectionLevel.name}}</td>
                                <td>{{sectionLevel.code}}</td>
                                <td>{{sectionLevel.description}}</td>
                                <td>{{sectionLevel.next_budget.name}}</td>
                                <td>{{sectionLevel.hierarchy_position}}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" ng-checked="sectionLevel.is_active" ng-model="sectionLevel.is_active"
                                               ng-change="toggleSectionLevel(sectionLevel.id, sectionLevel.is_active,perPage)">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-info" ng-click="edit(sectionLevel,currentPage,perPage)" translate="EDIT_ACTION"></a>
                                    <a href class="btn btn-danger" ng-click="delete(sectionLevel.id,currentPage,perPage)" translate="DELETE_ACTION"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" ng-show="sectionLevels.total > sectionLevels.per_page">
                <div class="col-md-10">
                    <ul uib-pagination total-items="sectionLevels.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="sectionLevels.per_page"
                        ng-model="currentPage"
                        ng-change="pageChanged()">
                    </ul>
                    <total-pages currentPage="{{currentPage}}" totalItems="{{ sectionLevels.total }}" perPage="{{ sectionLevels.per_page }}"></total-pages>
                </div>
                <div class="col-md-2">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
                </div>
            </div>
        </div>
</div>