<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Edit unit</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3">Name</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="unitToEdit.name" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Symbol</label>
                    <div class="col-sm-9">
                        <textarea ng-model="unitToEdit.symbol" placeholder="" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Sort Order</label>
                    <div class="col-sm-9">
                        <input ng-required="true" ng-min="1" name="sort_order" type="number" ng-model="unitToEdit
                               .sort_order" placeholder="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>