<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showUploadForm===true">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-info">The <a href="/download/UNITS_OF_MEASURE.xlsx"><span style="text-decoration: underline">Excel</span></a> file sheet
                    should be named <strong>UNITS_OF_MEASURE</strong></p>
                <p class="text-info"><strong>name</strong> & <strong>symbol</strong> should the column headers of the excel file to be uploaded</p>
                <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <span translate="LABEL_EXCEL_FILE"></span>
                            </label>
                            <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                                   data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                                   accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                                   required ngf-model-invalid="errorFile"/>
                            <i ng-show="myForm.file.$error.maxSize">File too large
                                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                    ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                            </button>
                            <button type="button" class="btn btn-warning"
                                    ng-click="toggleUploadForm(false)"><i class="fa fa-close"></i> Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showButtons===true">
            <div class="col-md-12">
                <div class="heading-btn pull-left">
                    <button class="btn btn-primary" ng-click="toggleUploadForm(true)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_UPLOAD"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_SYMBOL"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th translate="TH_IS_ACTIVE"></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="unit in units.data | orderBy:'-sort_order'">
                            <td>{{$index + 1}}</td>
                            <td>{{unit.name}}</td>
                            <td>{{unit.symbol}}</td>
                            <td>{{unit.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="unit.is_active" ng-model="unit.is_active"
                                           ng-change="toggleUnit(unit.id, unit.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-primary" ng-click="edit(unit,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(unit.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="units.total > units.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="units.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="units.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ units.total }}" perPage="{{ units.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
