<div class="manage-nav" >
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_FINANCIAL_YEARS'}" >
            <a id="fy-tab" href="/setup#!/financial-years" translate="TITLE_FINANCIAL_YEARS"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_CALENDARS'}" >
            <a id="ca-tab" href="/setup#!/calendars" translate="TITLE_CALENDARS"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_CALENDAR_EVENTS'}" >
            <a id="cae-tab" href="/setup#!/calendar-events" translate="TITLE_CALENDAR_EVENTS"></a>
        </li>
    </ul>
</div>