<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_CALENDAR"></h5>
            </div>
            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Financial year-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="FINANCIAL_YEAR"></span></label>
                                    <select class="form-control select-search1"
                                            ng-model="createDataModel.financial_year_id"
                                            name="financial_year_id" ng-change="setDateLimit(createDataModel.financial_year)"
                                            ng-options="ds.id as ds.name for ds in financial_years">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.financial_year_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Hierarch Level-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="HIERARCHY_LEVEL"></span></label>
                                    <select ng-disabled="createDataModel.financial_year ==undefined" class="form-control select-search3"
                                            ng-change="getEventsByYearAndLevel(createDataModel.financial_year_id,createDataModel.hierarchy_position)"
                                            ng-model="createDataModel.hierarchy_position"
                                            name="hierarchy_position"
                                            ng-required="true"
                                            ng-options="ds.hierarchy_position as ('['+ds.hierarchy_position+'] '+ds.name) for ds in hierarchyLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.hierarchy_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Event-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="CALENDAR_EVENT"></span></label>
                                    <select ng-disabled="createDataModel.financial_year ==undefined || createDataModel.hierarchy_position ==undefined" class="form-control select-search2"
                                            ng-model="createDataModel.calendar_event"
                                            name="calendar_event_id" ng-change="initSmsTemplate(createDataModel.calendar_event)"
                                            ng-options="ds as ('['+ds.number+'] '+ds.name) for ds in calendar_events track by ds.id">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.calendar_event_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Description-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="DESCRIPTION"></label>
                                    <textarea ng-required="true" name="description" type="text"
                                              ng-model="createDataModel.description"
                                              placeholder="" class="form-control">

                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Start Date-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="START_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon">
                                        <i class="icon-calendar22"></i></span>
                                        <input ng-disabled="createDataModel.financial_year ==undefined" ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="createDataModel.start_date" is-open="startPopup"
                                               datepicker-options=""
                                               ng-required="true"
                                               name="start_date"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.start_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End dATE-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="END_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-disabled="createDataModel.financial_year ==undefined" ng-click="endPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="createDataModel.end_date" is-open="endPopup"
                                               ng-required="true"
                                               close-text="Close"
                                               name="end_date"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>

                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.end_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Sector-->
                        <div class="col-md-6">
                            <div class="form-group" ng-if="!createDataModel.calendar_event.is_system_event">
                                <div class="col-md-12">
                                    <label><span translate="SECTOR"></span></label>
                                    <select class="form-control select-search4"
                                            ng-model="createDataModel.sector_id"
                                            name="sector_id"
                                            ng-options="ds.id as ds.name for ds in sectors">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" >
                                <div class="col-md-12">
                                    <label><span translate="SECTION_LEVEL"></span></label>
                                    <select class="form-control select-search4"
                                            ng-model="createDataModel.section_level_id"
                                            name="section_level_id"
                                            ng-options="s.id as s.name  for s in sectionLevels">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Before start sms-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_start_reminder_sms" type="text"
                                              ng-model="createDataModel.before_start_reminder_sms"
                                              placeholder="" class="form-control">
                                        {{createDataModel.calendar_event.before_start_reminder_sms}}
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_start_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Before end sms-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_end_reminder_sms" type="text"
                                              ng-model="createDataModel.before_end_reminder_sms"
                                              placeholder="" class="form-control">
                                         {{createDataModel.calendar_event.before_end_reminder_sms}}
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_end_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Before start days-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_start_reminder_days" type="text"
                                           ng-model="createDataModel.before_start_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_start_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Before end days-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_end_reminder_days" type="text"
                                           ng-model="createDataModel.before_end_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.before_end_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-if="!editMode" type="button" class="btn btn-info" ng-click="store()">
                        <i class="fa fa-save" aria-disabled="true" ></i><span translate="BTN_SAVE"></span>
                    </button>
                    <button ng-if="editMode" type="button" class="btn btn-info" ng-click="update()">
                        <i class="fa fa-save" aria-disabled="true" ></i><span translate="BTN_SAVE"></span>
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="close()">
                        <i class="fa fa-times" aria-disabled="true" ></i><span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search1').select2();
    $('.select-search2').select2();
    $('.select-search3').select2();
    $('.select-search4').select2();
</script>