<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_CALENDAR"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="DESCRIPTION"></label>
                                    <textarea ng-required="true" name="description" type="text"
                                              ng-model="updateDataModel.description"
                                              placeholder="" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="FINANCIAL_YEAR"></span></label>
                                    <select class="form-control select-search1"
                                            ng-model="updateDataModel.financial_year_id"
                                            name="financial_year_id"
                                            ng-options="ds.id as ds.name for ds in financial_years">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.financial_year_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="START_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon">
                                        <i class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="updateDataModel.start_date" is-open="startPopup"
                                               datepicker-options=""
                                               ng-required="true"
                                               name="start_date"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.start_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="END_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="endPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="updateDataModel.end_date" is-open="endPopup"
                                               datepicker-options=""
                                               ng-required="true"
                                               close-text="Close"
                                               name="end_date"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>

                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.end_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="CALENDAR_EVENT"></span></label>
                                    <select class="form-control select-search2"
                                            ng-model="updateDataModel.calendar_event_id"
                                            name="calendar_event_id"
                                            ng-options="ds.id as ('['+ds.number+'] '+ds.name) for ds in calendar_events">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.calendar_event_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="HIERARCHY_LEVEL"></span></label>
                                    <select class="form-control select-search3"
                                            ng-model="updateDataModel.hierarchy_position"
                                            name="hierarchy_position"
                                            ng-required="true"
                                            ng-options="ds.hierarchy_position as ds.name for ds in hierarchyLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.hierarchy_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="SECTOR"></span></label>
                                    <select class="form-control select-search4"
                                            ng-model="updateDataModel.sector_id"
                                            name="sector_id"
                                            ng-options="ds.id as ds.name for ds in sectors">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.sector_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <div class="col-md-12">
                                        <label><span translate="SECTION_LEVEL"></span></label>
                                        <select class="form-control select-search4"
                                                ng-model="createDataModel.section_level_id"
                                                name="section_level_id"
                                                ng-options="s.id as s.name  for s in sectionLevels">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_start_reminder_sms" type="text"
                                              ng-model="updateDataModel.before_start_reminder_sms"
                                              placeholder="" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.before_start_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_SMS"></label>
                                    <textarea ng-required="true" name="before_end_reminder_sms" type="text"
                                              ng-model="updateDataModel.before_end_reminder_sms"
                                              placeholder="" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.before_end_reminder_sms.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_START_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_start_reminder_days" type="text"
                                           ng-model="updateDataModel.before_start_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.before_start_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BEFORE_END_REMINDER_DAYS"></label>
                                    <input ng-required="true" name="before_end_reminder_days" type="text"
                                           ng-model="updateDataModel.before_end_reminder_days" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.before_end_reminder_days.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search1').select2();
    $('.select-search2').select2();
    $('.select-search3').select2();
    $('.select-search4').select2();
</script>