<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/calendar/calendar-management-submenu.html'"></ng-include>
<br/>
<div class="row">

    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
    <br />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group ">
                    <span class="input-group-addon btn-search" ><strong translate="FINANCIAL_YEAR"></strong></span>
                    <select class="form-control select-search"
                            ng-model="financialYear"
                            name="financial_year_id" ng-change="getCalendarByFinancialYear()"
                            ng-options="ds as ds.name for ds in financialYears track by ds.id">
                    </select>
                    <span class="input-group-btn">
                        <button ng-click="getCalendarByFinancialYear()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="createOrEdit(undefined,currentPage,perPage,financialYear)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="CALENDAR_EVENT"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="FINANCIAL_YEAR"></th>
                            <th translate="HIERARCHY_LEVEL"></th>
                            <th translate="START_DATE"></th>
                            <th translate="END_DATE"></th>
                            <th translate="SECTOR"></th>
                            <th translate="BEFORE_START_REMINDER_SMS"></th>
                            <th translate="BEFORE_END_REMINDER_SMS"></th>
                            <th translate="BEFORE_START_REMINDER_DAYS"></th>
                            <th translate="BEFORE_END_REMINDER_DAYS"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(f,events) in calendars.data | groupBy:'financial_year.name'">
                            <td class="bg-info-400" colspan="13">{{f}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="calendar in events ">
                            <td>{{$index + 1}}</td>
                            <td>{{calendar.calendar_event.name}}</td>
                            <td>{{calendar.description}}</td>
                            <td>{{calendar.financial_year.name}}</td>
                            <td>{{calendar.hierarchy_level.name}}</td>
                            <td nowrap>{{calendar.start_date | date:'MMM dd, yyyy'}}</td>
                            <td nowrap>{{calendar.end_date | date:'MMM dd, yyyy'}}</td>
                            <td>{{calendar.sector.name}}</td>
                            <td>{{calendar.before_start_reminder_sms}}</td>
                            <td>{{calendar.before_end_reminder_sms}}</td>
                            <td>{{calendar.before_start_reminder_days}}</td>
                            <td>{{calendar.before_end_reminder_days}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="createOrEdit(calendar,currentPage,perPage,financialYear)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(calendar.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="calendars.total > calendars.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="calendars.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="calendars.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ calendars.total }}"
                             perPage="{{ calendars.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search').select2();
</script>