<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_FINANCIAL_YEAR"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createFinancialYearForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="financialYearToCreate.name"
                                   placeholder="e.g 2017/2018" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createFinancialYearForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                                <textarea ng-model="financialYearToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_START_DATE"></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="startPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="financialYearToCreate.start_date" is-open="startPopup"
                                       datepicker-options="{minDate:plusDate(lastFinancialYear.end_date,1)}"
                                       ng-required="true"
                                       name="start_date"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createFinancialYearForm.start_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_END_DATE"></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="endPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="financialYearToCreate.end_date" is-open="endPopup"
                                       datepicker-options="{minDate:plusDate(financialYearToCreate.start_date,1)}"
                                       ng-required="true"
                                       close-text="Close"
                                       name="end_date"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>

                            </div>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createFinancialYearForm.end_date.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="Previous Year"></span>
                        </label>
                        <div class="col-sm-9">
                            <select  class="form-control"
                                     ng-model="facilityTypeToCreate.previous"
                                     name="previous"
                                     ng-options="item.id as item.name for item in previousFinancialYears">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search-previous").select2();
</script>