<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Edit financial year</h5>
            </div>
            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="financialYearToEdit.name" placeholder="e.g 2017/2018"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                                <textarea ng-model="financialYearToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Start Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="startPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="financialYearToEdit.start_date" is-open="startPopup"
                                       datepicker-options="{formatMonth:'mm',formatYear: 'yy'}"
                                       ng-required="true"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">End Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="endPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="financialYearToEdit.end_date" is-open="endPopup"
                                       datepicker-options="{minDate:(financialYearToEdit.start_date)}"
                                       ng-required="true"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="Previous Year"></span>
                        </label>
                        <div class="col-sm-9">
                            <select  class="form-control select-search-previous"
                                     ng-model="financialYearToEdit.previous"
                                     name="previous"
                                     ng-options="item.id as item.name for item in previousFinancialYears">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search-previous").select2();
</script>