<div class="manage-nav" >
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_FINANCIAL_YEARS'}" >
            <a id="user-tab" href="/setup#!/financial-years" translate="TITLE_FINANCIAL_YEARS"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_PERIODS'}" >
            <a id="profile-tab" href="/setup#!/financial-year-periods" translate="TITLE_PERIODS"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_PERIOD_GROUPS'}" >
            <a id="role-tab" href="/setup#!/period-groups" translate="TITLE_PERIOD_GROUPS"></a>
        </li>
        <li ng-class="{'selected':title=='TITLE_CALENDARS'}"  class="">
            <a id="right-tab" href="/setup#!/calendars" translate="TITLE_CALENDARS"></a>
        </li>
    </ul>
</div>