<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/financial_year/financial-year-management-submenu.html'"></ng-include>

<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
    <div ng-show="errors" class="col-md-12">
        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errors=undefined"
                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{error}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="FINANCIAL_YEAR"></th>
                            <th translate="PREVIOUS"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="START_DATE"></th>
                            <th translate="END_DATE"></th>
                            <th translate="TH_IS_ACTIVE"></th>
                            <th translate="INITIALIZED"></th>
                            <th translate="STATUS"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td style="background-color: #9ca2a7;" colspan="10">&nbsp;</td></tr>
                        <tr ng-repeat="financialYear in financialYears.data | orderBy:'financialYears.name'"
                            ng-class="{'planning_year':financialYear.status ==1,'execution_year':financialYear.status ==2}">
                            <td>{{$index + 1}}</td>
                            <td>{{financialYear.name}}</td>
                            <td>{{financialYear.previousYear.name}}</td>
                            <td>{{financialYear.description}}</td>
                            <td nowrap="nowrap">{{financialYear.start_date}}</td>
                            <td nowrap="nowrap">{{financialYear.end_date}}</td>
                            <td>
                                <label class="switch" ng-if="financialYear.status !== 1 && financialYear.status !== 2 && financialYear.status !== -1" >
                                    <input ng-disabled="financialYear.status ==1" name="is_active" type="checkbox"
                                           ng-checked="financialYear.is_active"
                                           ng-model="financialYear.is_active"
                                           ng-change="toggleFinancialYear(financialYear.id, financialYear.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <button style="width:100%" ng-click="executeFinancialYear(financialYear.id)" class="btn btn-success"
                                        ng-show="financialYear.status ==1">
                                    <i class="fa fa-folder"></i>
                                    <span translate="EXECUTE_FINANCIAL_YEAR"></span>
                                </button>
                                <button style="width:100%" ng-click="reExecuteFinancialYear(financialYear.id)" class="btn btn-warning"
                                        ng-show="financialYear.status ==2">
                                    <i class="fa fa-folder"></i>
                                    <span translate="RE_EXECUTE_FINANCIAL_YEAR"></span>
                                </button>
                                <button style="width:100%" ng-click="closeFinancialYear(financialYear.id)" class="btn btn-danger"
                                        ng-show="financialYear.status ==2">
                                    <i class="fa fa-folder"></i>
                                    <span translate="CLOSE_FINANCIAL_YEAR"></span>
                                </button>
                                <button style="width:100%" ng-click="openFinancialYear(financialYear,currentPage,perPage)"
                                        ng-show="financialYear.status ==3"
                                        class="btn btn-info">
                                    <i class="fa fa-folder-open"></i>
                                    <span translate="OPEN_FINANCIAL_YEAR"></span>
                                </button>
                                <span ng-show="financialYear.status ==-1" translate="CLOSED"></span>
                            </td>
                            <td>
                               <span ng-if="financialYear.status === 1" class="text-info">PLANNING</span>
                               <span ng-if="financialYear.status === 2" class="text-success">EXECUTING</span>
                               <span ng-if="financialYear.status === 3" class="text-default">NEXT</span>
                            </td>
                            <td nowrap="nowrap" style="width:2%">
                                <button  href class="btn btn-default"
                                        ng-click="versions(financialYear)">
                                    <i class="fa fa-gears"></i>
                                    <span translate="VERSIONS"></span>
                                </button>
                                <button ng-if="financialYear.status !== 1 && financialYear.status !== 2 && financialYear.status !== -1" href class="btn btn-info"
                                        ng-click="edit(financialYear, currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </button>
                                <button ng-if="financialYear.status !== 1 && financialYear.status !== 2 && financialYear.status !== -1" href class="btn btn-danger"
                                        ng-click="delete(financialYear.id, currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="financialYears.total > financialYears.per_page">
            <div class="col-md-6">
                <ul uib-pagination total-items="financialYears.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="financialYears.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>

            </div>
            <div class="col-md-3">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
            <div class="col-md-2">
                <total-pages currentPage="{{currentPage}}" totalItems="{{ financialYears.total }}"
                             perPage="{{ financialYears.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>
