<div class="modal-header bg-teal-400">
    <h3 class="modal-title">{{'OPEN_FINANCIAL_YEAR_TITLE' | translate}}&nbsp;{{financialYearToOpen.name}}</h3>
</div>
<div class="modal-body">

    <div ng-show="runPrerequest || $scope.inProgress">
        <uib-progressbar class="progress-striped active" max="100" value="progressValue" ></uib-progressbar>
    </div>

    <div ng-show="!runPrerequest && !preRequest.passed">
        <h3 class="text-center">Please Fix the following</h3>
            <ul class="list-group" >
                <li ng-if="preRequest.messages.EXISTING_OPEN_YEAR" class="list-group-item list-group-item-warning">
                    <strong>{{::'EXISTING_OPEN_YEAR' | translate}}&nbsp;{{::preRequest.messages.EXISTING_OPEN_YEAR}}</strong>
                </li>
                <li ng-if="preRequest.messages.NO_DEFAULT_DECISION_LEVEL.length" class="list-group-item list-group-item-warning">
                    <strong>{{::'NO_DEFAULT_DECISION_LEVEL'| translate}}</strong>
                   <ul>
                       <li ng-repeat="i in preRequest.messages.NO_DEFAULT_DECISION_LEVEL">{{::i}}</li>
                   </ul>
                </li>
                <li ng-if="preRequest.messages.NO_BUDGETING_SECTION_CONFIGURED" class="list-group-item list-group-item-warning ">
                    <strong>{{::'NO_BUDGETING_SECTION_CONFIGURED' | translate}}</strong>
                </li>
            </ul>
    </div>
    <div ng-show="!runPrerequest && preRequest.passed">
        <strong class="text-center" translate="CONFIRM_FINANCIAL_YEAR_BUDGETING_LEVELS"></strong>
        <ul class="list-group" >
            <li  ng-repeat="l in preRequest.messages.BUDGETING_LEVELS" class="list-group-item list-group-item-success">
                <strong>{{l.name}}</strong>
                <ul>
                    <li ng-repeat="s in l.sections">{{::s.name}}</li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<div class="modal-footer">
    <button ng-if="!inProgress && !openError && !runPrerequest && preRequest.passed" type="button" class="btn btn-info"
            data-ng-click="open(); $event.stopPropagation()" translate="BTN_CONFIRM"></button>
    <button ng-if="!inProgress" type="button" class="btn btn-warning"
            data-ng-click="close(); $event.stopPropagation()" translate="BTN_CLOSE"></button>
</div>
