<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Financial Year: {{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_NAME"></th>
                                <th translate="TH_START_DATE"></th>
                                <th translate="TH_END_DATE"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="name" class="form-control" ng-model="periodToCreate.name"/>
                                </td>
                                <td>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="periodToCreate.start_date" is-open="startPopup"
                                               datepicker-options="{}"
                                               ng-required="true"
                                               name="start_date"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="endPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="periodToCreate.end_date" is-open="endPopup"
                                               datepicker-options="{minDate:(periodToCreate.start_date + 2)}"
                                               ng-required="true"
                                               close-text="Close"
                                               name="end_date"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>

                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="add_period()">Add Period</button>
                                </td>
                            </tr>
                            <tr ng-repeat="financial_year_period in financial_year_periods">
                                <td>{{ financial_year_period.name }}</td>
                                <td>{{ financial_year_period.start_date }}</td>
                                <td>{{ financial_year_period.end_date }}</td>
                                <td nowrap="nowrap">
                                    <button ng-disabled="financial_year_period.financial_year.status == 1 || financial_year_period.financial_year.status == -1" href class="btn btn-danger" ng-click="deleteFinancialYearPeriod(financial_year_period.id,financial_year_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search').select2();
    </script>
</div>