<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Financial Year: {{ financialYear.name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="panel-title">Assigned Versions</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Version</th>
                                    <th>Type</th>
                                    <th>date</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in versions">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.date|date:"mediumDate"}}</td>
                                    <td>
                                        <a href class="btn btn-danger" ng-click="removeVersion(item.financial_year_version_id)">
                                            <i class="fa fa-remove"></i>
                                            <span translate="DELETE_ACTION"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <h3 class="panel-title">Add more versions</h3>
                        <label>
                            <span translate="VERSION"></span>
                        </label>
                        <select class="form-control" multiple="multiple"
                                ng-model="versionData.versions"
                                name="version"
                                ng-options="version as (version.name+' - '+version.type.name+' - '+version.date) for version in allVersions">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" ng-click="addVersion()">Save</button>
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>