<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="#" class="form-horizontal" name="adminSectorMappingForm" novalidate>
            <div class="col-md-12" style="overflow: scroll">
                <div class="row">
                    <div class="col-md-12">
                        <a href class="btn btn-success pull-right create-btn" ng-click="store()" translate="BTN_SAVE"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="TH_SECTION" rowspan="2"></th>
                                    <th translate="LOCATION" colspan="{{ hierarchyLevels.length }}"></th>
                                </tr>
                                <tr>
                                    <th ng-repeat="item in hierarchyLevels">{{item.name}}</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="section in sections | orderBy:'sort_order'" ng-class="{'info':section.padding == 4}">

                                    <td> {{section.name}}</td>
                                    <td ng-repeat="item in hierarchyLevels">
                                        <div class="checkbox">
                                            <label>
                                                <input ng-init="adminMappingToCreate[item.id][section.id]['in_use']  = getInitialValue(item.id,section.id,'in_use')"
                                                       ng-model="adminMappingToCreate[item.id][section.id]['in_use']"
                                                       type="checkbox" class="control-primary"
                                                       ng-checked="getInitialValue(item.id,section.id,'in_use')"/>
                                                <span translate="IN_USE"></span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input ng-init="adminMappingToCreate[item.id][section.id]['can_budget'] = getInitialValue(item.id,section.id,'can_budget')"
                                                       ng-model="adminMappingToCreate[item.id][section.id]['can_budget']"
                                                       type="checkbox" class="control-primary"
                                                       ng-checked="getInitialValue(item.id,section.id,'can_budget')"/>
                                                <span translate="CAN_BUDGET"></span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input ng-init="adminMappingToCreate[item.id][section.id]['can_target'] = getInitialValue(item.id,section.id,'can_target')"
                                                       ng-model="adminMappingToCreate[item.id][section.id]['can_target']"
                                                       type="checkbox" class="styled"
                                                       ng-checked="getInitialValue(item.id,section.id,'can_target')"/>
                                                <span translate="CAN_TARGET"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <ul uib-pagination total-items="mainSectors.total" items-per-page="mainSectors.per_page"
                            ng-model="currentPage" ng-change="pageChanged()"></ul>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

