<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_SECTION_GFS_CODE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSectionGfsCodeForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <span translate="GFS_CODES"></span>
                            </label>
                            <select multiple="multiple" class="form-control select-search"
                                    ng-model="sectionGfsCodeToCreate.gfs_code_id"
                                    name="gfs_code_id"
                                    ng-options="gfs_code.gfs_code_id as ('['+gfs_code.code+'] '+gfs_code.description) for gfs_code in gfs_codes">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>