<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}} </br>
            <strong>Cost Centres</strong>
            <div ng-repeat="item in notfilledSection">
               <span>&nbsp; - {{ item.name }}&nbsp; [{{ item.not_filled}}]</span>
            </div>
            <span><a  ng-href="api/pre-execution/get_not_filled_reallocation?admin_hierarchy_id={{admin_hierarchy_id}}&financial_year_id={{financial_year_id}}&budget_type={{budget_type}}">Download Excel </a></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <select ng-model="selectedPlan"
                class="form-control"
                ng-change="loadContents(selectedPlan)"
                ng-options="casPlan as casPlan.name for casPlan in casPlans">
            <option value="">--Select Comprehensive Plan</option>
        </select>
    </div>

    <!-- <div class="col-sm-3">
        <select ng-model="admin_hierarchy_id"
                class="form-control select-search"
                id="admin_hierarchy"
                ng-change="loadFacilityByCouncil()"
                ng-options="item.id as item.name for item in adminHierarchies | orderBy:'name'" >
            <option value="">-- Administrative Level --</option>
        </select>
    </div> -->

    <div class="col-sm-3">
        <select ng-model="financial_year_id"
                class="form-control select-search"
                ng-change="loadPeriodsByFinancialYear(financial_year_id)"
                ng-options="item.id as item.name for item in financialYears" >
            <option value="">-- Financial Year --</option>
        </select>
    </div>

    <div class="col-sm-3" ng-show="isPeriodic">
        <select ng-model="period_id"
                ng-change="setPeriodId(period_id)"
                class="form-control select-search"
                ng-options="item.id as item.name for item in periods" >
            <option value="">-- Period --</option>
        </select>
    </div>

    <div class="col-sm-3" style="padding-top: 3px;">
        <select ng-model="budget_type"
                ng-change="checkProjectOutputs(financial_year_id,budget_type)"
                class="form-control"
                ng-options="budget_type for budget_type in budget_types" >
            <option value="">-- Budget type --</option>
        </select>
    </div>
</div>
<br/>

<div class="row" ng-show="selectedPlan.is_facility == true ">
    <div class="col-md-4" >
        <select class="form-control"
                ng-model="facility_type"
                ng-change = "loadFacilityByType()"
                ng-options="i.facility_type_id as i.facility_type for i in facilities| unique:'facility_type'">
        </select>
    </div>

    <div class="col-md-4" >
        <select class="form-control"
                ng-model="facility"
                ng-options="i.id as i.name for i in facilityByType">
        </select>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-12" ng-if="casPlanContents !== undefined" id="planContents">
    <span class="pull-right" ng-if="isBlocked == false">
        <button type="button"
                ng-disabled="casPlanContentNode.currentNode === undefined || admin_hierarchy_id === undefined || financial_year_id === undefined || budget_type === undefined || (selectedPlan.is_facility == true && facility == undefined)"
                href class="btn btn-info"
               ng-click="loadPlanTables(casPlanContentNode.currentNode.id,'rtf')">
            <i class="fa fa-file-word-o"></i>
            <span translate="BTN_WORD"></span>
        </button>

        <button type="button"
                ng-disabled="casPlanContentNode.currentNode === undefined || admin_hierarchy_id === undefined || financial_year_id === undefined || budget_type === undefined || (selectedPlan.is_facility == true && facility == undefined)"
                href class="btn btn-success"
                ng-click="loadPlanTables(casPlanContentNode.currentNode.id,'pdf')">
            <i class="fa fa-file-pdf-o"></i>
            <span translate="BTN_PDF"></span>
        </button>

        <button type="button"
                        ng-disabled="casPlanContentNode.currentNode === undefined || admin_hierarchy_id === undefined || financial_year_id === undefined || budget_type === undefined || (selectedPlan.is_facility == true && facility == undefined)"
                        href class="btn btn-warning"
                        ng-click="loadPlanTables(casPlanContentNode.currentNode.id,'xls')">
            <i class="fa fa-file-pdf-o"></i>
            <span translate="BTN_XLS"></span>
        </button>
    </span>

        <br/><br/>
        <div class="row">
            <div class="col-md-12" style="background: #FFF;padding:6px 6px 6px 6px;border:1px solid #ddd;border-radius:4px">
                <input style="width:100%" class="form-control"  ng-model='casPlanContentNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                <div>
                    <span style="padding: 4px 4px"><i class="fa fa-upload text-info"></i>Upload</span>
                    <span style="padding: 4px 4px"><i class="fa fa-file-pdf-o" style="color: #a21309"></i>Report</span>
                    <span style="padding: 4px 4px"><i class="fa fa-table text-info"></i>Entry</span>
                </div>
                <br />
                <div    data-angular-treeview="true"
                        data-tree-id="casPlanContentNode"
                        data-tree-model="casPlanContents"
                        data-node-id="id"
                        data-node-label="description"
                        data-node-children="children"
                        data-search-query='casPlanContentNodeSearchQuery'>
                </div>
                <br/>
            </div>
        </div>
        <br/>

    </div>
</div>


<script type="application/javascript">
    $(".select-search").select2();
</script>

