<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_RECEIVED_FUND_ITEM"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateReceivedFundItemForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>
                                        <span translate="RECEIVED_FUND"></span>
                                    </label>
                                    <select class="form-control select-search4"
                                            ng-model="receivedFundItemToEdit.received_fund_id"
                                            name="received_fund_id"
                                            ng-options="im.id as im.reference_code for im in received_funds">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="CODE"></label>
                                    <input name="reference_code" type="text"
                                           ng-model="receivedFundItemToEdit.reference_code" placeholder="Optional" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>
                                        <span translate="FUND_SOURCE"></span>
                                    </label>
                                    <select class="form-control select-search1"
                                            ng-model="receivedFundItemToEdit.fund_source_id"
                                            ng-change="loadCanProjectGfsCodes(receivedFundItemToEdit.fund_source_id)"
                                            name="fund_source_id"
                                            ng-options="im.id as im.name for im in fundSources">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="realGfsCode" style="display: none">
                                <div class="col-sm-12">
                                    <label translate="GFS_CODE"></label>
                                    <select class="form-control select-search2"
                                            ng-model="receivedFundItemToEdit.gfs_code_id"
                                            name="gfs_code_id"
                                            ng-options="im.id as ('['+im.code+'] '+im.name) for im in gfsCodes">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReceivedFundItemForm.gfs_code_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group" id="fakeGfsCode">
                                <div class="col-sm-12">
                                    <label translate="GFS_CODE"></label>
                                    <select class="form-control select-search5"
                                            ng-model="receivedFundItemToEdit.gfs_code_id"
                                            name="gfs_code_id"
                                            ng-options="im.id as ('['+im.code+'] '+im.name) for im in allGfsCodes">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReceivedFundItemForm.gfs_code_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="AMOUNT"></label>
                                    <input ng-required="true" name="amount" type="text"
                                           ng-model="receivedFundItemToEdit.amount" placeholder="" class="form-control" />
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReceivedFundItemForm.amount.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="PERIOD"></label>
                                    <select class="form-control select-search3"
                                            ng-model="receivedFundItemToEdit.period_id"
                                            name="period_id"
                                            ng-options="im.id as im.name for im in periods">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReceivedFundItemForm.period_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="DATE_RECEIVED"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="receivedFundItemToEdit.date_received" is-open="startPopup"
                                               datepicker-options="{}"
                                               ng-required="true"
                                               name="date_received"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReceivedFundItemForm.date_received.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
    $(".select-search5").select2();
</script>