<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">

                    <button type="button" class="btn btn-default"  ng-click="printFunds('printable')"">
                        <i class="fa fa-print"></i>
                        <span translate="PRINT"></span>
                    </button>
                </div>

                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info"  ng-click="create()">
                        <i class="fa fa-save"></i>
                        <span translate="RECEIVE_FUNDS"></span>
                    </button>
                </div>

            </div>
        </div>
        <!--<div ng-include="'pages/execution/received_fund_item/partials/header.html'"></div>-->
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <div id = "printable">
                <div class="table-responsive" print-section>
                    <table class="table table-bordered table-striped" print-table="receivedFundItems.data">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="GFS_CODE"></th>
                            <!--<th translate="AMOUNT_RECEIVED"></th>-->
                            <th translate="DATE_RECEIVED"></th>
                            <th translate="AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(f, value) in receivedFundItems.data | groupBy:'fund_source_name'">
                            <td colspan="6" class="bg-info-400" colspan="2">{{f}}</td>
                        </tr>
                        <tr ng-repeat-start="(q, value2) in value | groupBy:'quarter'">
                            <td colspan="6" class="" style="background: #f5f5f5" colspan="2"><strong>{{q}}<strong><span class="pull-right">{{ value2.quarter}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-start="(g, value3) in value2 | groupBy:'gfs_code_name'">
                            <td colspan="6" class="" style="background: #fefefe" colspan="2">{{g}}<strong><span class="pull-right">{{ getSum(value3) | currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="receivedFund in value2">
                            <td>{{ $index + 1}}</td>
                            <td>{{ receivedFund.gfs_code_name}}</td>
                            <!--<td>{{receivedFund.received_amount}}</td>-->
                            <td>{{receivedFund.date_received | date:"MMM dd, yyyy"}}</td>
                            <td><span></span></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end=""></tr>
                        <tr ng-if="false" ng-repeat-end=""></tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped" >
                <tr>
                    <td colspan="3" translate="TOTAL_RECEIVED_AMOUNT"></td>
                    <td colspan="1"><strong>{{ total_received |currency:'' }}</strong></td>
                </table>
            </div>
        </div>

        <div class="row" ng-show="receivedFundItems.total > receivedFundItems.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="receivedFundItems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="receivedFundItems.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ receivedFundItems.total }}" perPage="{{ receivedFundItems.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>