<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_CALENDAR_EVENT_REMINDER_RECIPIENT"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label><span translate="CALENDAR_EVENT"></span></label>
                                    <select class="form-control select-search1"
                                            ng-model="updateDataModel.calendar_event_id"
                                            name="calendar_event_id"
                                            ng-options="ds.id as ('['+ds.number+']'+ds.name) for ds in calendar_events">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.calendar_event_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="EMAIL"></label>
                                    <input ng-required="true" name="email" type="email"
                                           ng-model="updateDataModel.email" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.email.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="MOBILE_NUMBER"></label>
                                    <input ng-required="true" name="mobile_number" type="text"
                                           ng-model="updateDataModel.mobile_number" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.mobile_number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search1').select2();
</script>