<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_FACILITY_TYPE"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="facilityTypeToEdit.name" placeholder=""
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="facilityTypeToEdit.code"
                                   placeholder="1,2,3 ....." class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_LGA_LEVEL"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search"
                                    ng-model="facilityTypeToEdit.lga_level_id"
                                    name="lga_level_id"
                                    ng-options="allLgaLevel.id as allLgaLevel.name for allLgaLevel in allLgaLevels">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION_LEVEL"></label>
                        <div class="col-sm-9">
                            <select name="section_level_id" class="form-control select-search1"
                                    ng-model="facilityTypeToEdit.section_level_id"
                                    ng-change="loadSectionsByLevel(facilityTypeToEdit.section_level_id,admin_id,facilityTypeToEdit.admin_id)"
                                    ng-options="f.id as f.name for f in sectionLevels">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="facilityTypeToEdit.section_level_id==3 ||facilityTypeToEdit.section_level_id==4 " >
                        <label class="control-label col-sm-3" >
                          <span translate="LABEL_ADMIN_HIERARCHY"></span>
                        </label>
                        <div class="col-sm-9">
                          <select  name="admin_id" ng-model="facilityTypeToEdit.admin_id"
                                  ng-change="loadSections(facilityTypeToEdit.section_level_id,admin_id,facilityTypeToEdit.admin_id)"
                                  ng-options="pisc.id as pisc.name for pisc in piscs"
                                  class="form-control select-search2"
                                  >
                            <option value="" ng-selected="true">--Select Pisc--</option>
                          </select>
                        </div>
                      </div>


                    <!-- <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTOR"></label>
                        <div class="col-sm-9">
                            <select name="sector_id" class="form-control select-search2"
                                    ng-model="facilityTypeToEdit.sector_id"
                                    ng-change="loadSections(facilityTypeToEdit.section_level_id,facilityTypeToEdit.sector_id)"
                                    ng-options="f.id as f.name for f in sectors">
                            </select>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                        <div class="col-sm-9">
                            <select multiple name="section_id" class="form-control select-search3"
                                    ng-model="facilityTypeToEdit.sections"
                                    ng-options="s as s.name for s in sections">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_ADMINISTRATIVE_LEVEL"></label>
                        <div class="col-sm-9">
                            <select name="admin_hierarchy_level_id" class="form-control select-search2"
                                    ng-model="facilityTypeToEdit.admin_hierarchy_level_id"
                                    ng-options="a.id as a.name for a in admin_hierarchy_levels">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>