@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body .login-container {
  min-height: 100vh !important;
}

.navbar {
  background-color: #2f353a;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 0 0 16px;
  border: none;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
}

.navbar .navbar-header {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #2f353a;
  height: 64px;
  width: 14%;
  text-align: center;
  padding: 0;
  position: relative;
}

.navbar .navbar-header .navbar-brand {
  height: 64px;
  line-height: 40px !important;
}

.hidden-header {
  width: 0 !important;
  display: none !important;
}

.small-img {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #fff !important;
}

.logo_header {
  height: 64px !important;
  width: 100%;
}

.content-wrapper {
  padding: 0.7em 0;
}

.picture-container img.cirled {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  border-radius: 25%;
  width: 158px;
  height: 141px;
  border: 3px solid #2FB44A;
  background-color: white;
}

.header-contents {
  margin-left: 14px;
  font-size: 1.1em;
}

.profile-container {
  padding-left: 0px;
}

.divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  width: 100%;
  border-top-color: #364046;
}

.navigation {
  font-size: 1.2em;
  padding: 0 !important;
}

.navigation i {
  font-size: 1.5em;
}

.navigation > li > a {
  padding: 4px !important;
}

.sidebar-xs .sidebar-main .navigation > li > a > i {
  color: #26a69a;
}

a.sidebar-control {
  width: 64px;
  height: 64px;
  color: #ccc;
}

a.sidebar-control i {
  font-size: 3em;
}

.navbar-nav {
  margin-left: 0 !important;
}

.navbar-nav li.hamburger {
  width: 67px;
  background: #2f353a;
}

.navbar-nav li.hamburger ng-md-icon {
  fill: white;
}

.navbar-nav .dropdown-user a span {
  padding-top: 10.5px;
  color: white;
  font-weight: bold;
}

.navbar-right {
  height: 64px;
}

a.dropdown-toggle {
  color: #ccc;
  height: 64px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

.login-container {
  height: 100vh !important;
}

.sidebar-content {
  top: 64px !important;
}

.sidebar-xs .sidebar-fixed.sidebar-main .sidebar-content {
  width: 56px !important;
  overflow-x: hidden;
}

.sidebar-xs .sidebar-main {
  width: 64px;
}

.modal-header[class*=bg-] {
  background: #12A3DD;
  color: #fff;
  border: 1px solid #12A3DD !important;
}

.modal-header[class*=bg-] .close {
  color: #fff;
}

.modal-header[class*=bg-]:hover {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.sidebar-category ng-md-icon {
  fill: #2FB44A;
}

.sidebar-category .menu-text {
  margin-left: 5px;
}

.sidebar-category li.active ng-md-icon {
  fill: #2FB44A;
}

.scroller {
  position: relative;
  /* relative or absolute positioning required by Perfect Scrollbar */
  min-height: 10px;
  /* height must be limited to induce scrolling behavior */
}

button.sidebar-toggle {
  line-height: 64px;
  min-height: 64px;
  min-width: 64px;
  margin: 0;
  padding: 0 0 0 12px;
}

button.sidebar-toggle ng-md-icon {
  fill: white;
  font-weight: lighter;
}

h2.admin-title {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}
h1.admin-title {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 20px;
}

.show-it {
  display: block !important;
}

.hide-it {
  display: none !important;
}

td.action-options a {
  padding: 0 10px 0 0;
}

td.action-options a ng-md-icon {
  fill: #12a3dd;
}

td.action-options a ng-md-icon.danger {
  fill: #ff5722;
}

td.action-options a ng-md-icon.warning {
  fill: #ffcc00;
}

td.action-options a ng-md-icon.link {
  fill: #12a3dd;
}

td.action-options a ng-md-icon.success {
  fill: green;
}

tbody > tr > td {
  border: 1px solid rgba(221, 221, 221, 0.19) !important;
}

.center-modal {
  /* top: 15%;
  z-index: 1050;
  width: 100%;
  height: 100%; */
}

.md-button.login-button {
  background-color: rgb(45, 124, 234);
  color: white !important;
  font-weight: bold;
  width: 92% !important;
  margin:auto;
}

.sign-out-link {
  font-weight: bold;
  font-style: italic;
  width: 100% !important;
  padding-left:40% !important;
}

.Login-modal {
  position:fixed;
  width:100% !important;
  margin:auto;
  z-index: 1051
}
.SomeLogin-modal {
  position:fixed;
  padding-left:40% !important;
  width: 100% !important;
}

.login-backdrop{
  text-align: center;
}
.btn-force-container {
 
}


.flexContainer{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-session{
  height:400px ;
  width:30%;
}


@media only screen and (max-width: 400px) {
  .login-session{
    height:400px ;
    width:100%;
  }
}

@media only screen and (max-width: 700px) {
  .login-session{
    height:400px ;
    width:70%;
  }
}


