body {
  font-size: 12px;
}

.content-wrapper {
  width: 100%;
  background-color: #f7f7f7 !important;
}

.navigation li a {
  color: #fff !important;
}
.color-red{
  color:red;
}
.color-green {
  color:green
}
.approved {
  color:green;
  font-weight: bolder;
}
td.breakdown {
  background: #FFF3E0 !important;
  font-style: italic;
  font-size: 10px;
}
md-autocomplete {
  background: transparent !important;

}

.table-wrapper {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

md-card md-card-header {
  background: #f9f9f9 !important;
  border-bottom: 1px solid #ddd !important;
}

md-card-header h5 {
  padding: 2px 0px !important;
  line-height: 0;
}

md-list-item .todo {
  color: #01B8AA !important;
}

md-card-actions {
  background: #f5f5f5 !important;
  padding: 2px;
  height: 36px;
  margin: 0px !important;
  border-top: 1px solid #ddd !important;
}

md-input-container {
  margin: 14px 0 !important;
}

md-input-container input[type=text],
md-input-container input[type=number],
md-input-container .md-AU,
md-input-container .md-input[disabled],
md-input-container input[type=search],
md-input-container>md-select {
  color: #333 !important;
  border-color: #ddd !important;
  /* background: #fff !important; */
  font-weight: bold !important;
}

div.filter select {
  font-weight: bold;
}

md-checkbox.md-checked.info .md-icon,
.md-checkbox-enabled[selected] .md-icon {
  background-color: #00BCD4 !important;
}

input.errorAmount {
  border: 2px solid #CC0000 !important;
}

i.lg {
  font-size: 15px !important;
}

tr.exceded-ceiling td {
  background-color: #FFF3E0;
  color: #aa3510;
}


span.commented {
  color: #ff2222;
  font-weight: bold;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  /*opacity: 0.1;*/
  background: transparent url("../images/clock.gif") 50% 50% no-repeat;
}

.create-btn {
  margin-bottom: 4px;
}

.breadcrumb-line {
  margin-bottom: 4px !important;
}

.modal-content {
  border: none !important;
}

.daterangepicker {
  z-index: 1500 !important;
}

span.ceiling_red {
  color: #ff0000 !important;
}

span.ceiling_green {
  color: #009688;
}

table {
  width: 100%
}

ul.generic-types {
  margin-left: 0px;
  list-style: none;
}

ul.generic-types li.selected {
  background: #00BCD4;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #00BCD4;
}

ul.generic-types li {
  padding-left: 0px;
}

ul.generic-types li.selected a {

  color: #FFF;
  font-weight: bold;

}

ul.generic-types li a {

  color: #555;
}



/** slider round **/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #12a3dd;
  /*background-color:rgb(100, 189, 99);*/
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

tr.activity th {
  padding: 10px 10px 4px 20px !important;
}

tr.activity td {
  padding: 4px 4px 4px 20px !important;
}

table.planSectionLevel thead td {
  padding: 4px;
  border-bottom: #00b3ee 3px solid;
}

hr {
  margin-bottom: 4px;
  margin-top: 0px;
}

table.activities tbody tr td {
  padding: 4px 20px;
}

table.activities tbody tr td.input {
  padding: 4px 4px;
}

.action-buttons {
  border: 1px solid #CCC;
  border-top: 0;
  background: #37474F;
  /* rgba(0, 0, 0, 0.2);*/
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 12px;
  min-height: 50px;
  z-index: 15;
  padding: 8px 60px 6px 40px;
}

table.activities tbody tr td.error_period_first {
  border-left: 2px solid #FF0000;
  border-top: 2px solid #FF0000;
  border-bottom: 2px solid #FF0000;
  border-radius: 2px 0px 0px 2px;
}

table.activities tbody tr td.error_period {
  border-top: 2px solid #FF0000;
  border-bottom: 2px solid #FF0000;
}

table.activities tbody tr td.error_period_last {
  border-right: 2px solid #FF0000;
  border-top: 2px solid #FF0000;
  border-bottom: 2px solid #FF0000;
  border-radius: 0px 2px 2px 0px;
}

table.activities tbody tr td select.error {
  border: 2px solid #FF0000 !important;

}

fieldset.activity label {
  margin-bottom: 4px !important;
  font-size: 12px !important;
}

fieldset.activity .form-group {
  margin-bottom: 10px !important;
}

table.activity-details {
  font-size: 12px !important;
}

table.input-breakdown thead tr th,
table.input-breakdown tr td {
  font-size: 12px !important;
}

table.input-breakdown tbody tr td.input {
  padding: 2px 2px;
}

table tr td.number input,
table tr td.number {
  text-align: right !important;
}

table tr td.number span {
  padding-right: 10px !important;
}

table.input-breakdown thead th {
  padding: 4px 4px;
}

table.input-breakdown td .form-control {
  font-size: 12px !important;
  padding: 6px !important;
}

table.input-breakdown tr.add-row td .form-control {
  background-color: #fffde4;
}

table.input-breakdown th {
  padding: 4px 12px 4px 12px !important;
}

span.select2-selection--single {
  font-size: 13px !important;
}

div.budget-card p {
  margin: 0px !important;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.td-padding-2 {
  padding: 2px 2px !important;
}

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  box-sizing: border-box;
}

.table>tbody>tr>td {
  padding: 4px 20px;
}

.table>thead>tr>th {
  padding: 12px 20px;
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -o-linear-gradient(bottom, #eee 0%, #fff 50%);
  background-image: -ms-linear-gradient(top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select2-container .select2-choice>.select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-large {
  width: 210px;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}

select > optgroup.optLevel1,
select > option.optLevel1 {
  padding-left: 0px;
}

select > optgroup.optLevel2,
select > option.optLevel2 {
  padding-left: 4px;
}

select > optgroup.optLevel3,
select > option.optLevel3 {
  padding-left: 8px;
}

select option.group {
  font-weight: bold;
  color: #000;
}

.gradient-header th {
  min-width: 93px;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  font-size: 0.85em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}

.navigation>li>a {
  text-shadow: 0 1px 0 #000;
}

table td.input,
table tr.input td {
  padding: 2px !important;
}

table td.input input {
  text-align: right !important;
}

table td.disabled,
table tr.disabled td,
table tr.disabled th {
  background-color: #FAFAFA !important;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
  padding-top: 12px !important;
}

div.ui-select-container {
  padding: 0px !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  margin: 0 0 0 0;
  float: left;
}

table tr.search td {
  padding: 2px !important;
}

table tr.search td input {
  text-align: left !important;
  font-size: 10px;
  color: #333333;
}

td.red {
  color: #ff0000 !important;
}

.table-bordered tr[class*=bg-]>td,
.table-bordered tr>th[class*=bg-],
.table-bordered tr>td[class*=bg-] {
  border-color: #ddd;
}

option.parent {
  font-weight: bold;
}

.td_matrix {
  width: 100%;
  word-wrap: break-word;
}

.td_right {
  text-align: right;
}

.manage-nav {
  font-size: 0.9em;
  margin: -5px 0 10px;
  font-weight: bold;
}

.manage-nav ul {
  margin: 0;
  padding-left: 5px;
  list-style: none;
  border-bottom: 1px solid #d6d6d6;
}

.manage-nav li {
  float: left;
  margin: 10px 2px -1px;
  border: 1px solid #d6d6d6;
  border-radius: 3px 3px 0 0;
  background: #DDD;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
}

.manage-nav li:hover,
.manage-nav li.selected {
  border-bottom: 1px solid #ffffff;
}

.manage-nav li:hover,
.manage-nav li.selected {
  border-bottom: 1px solid #ffffff;
}

.manage-nav a {
  display: block;
  color: #2c2c2c;
  padding: 8px 14px 6px;
  text-shadow: 0 1px 0 #FFF;
  font-size: 13px !important;
}

.manage-nav li:hover a,
.manage-nav li.selected a {
  padding: 8px 14px 6px;
  background: #FFF;
  color: blue;
  background: -moz-linear-gradient(top, #d9d9d9 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #d9d9d9 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #d9d9d9 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #d9d9d9 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#ffffff', GradientType=0);
}

.btn-search {

  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sector_header {
  font-size: 14px;
  font-weight: bold;
}

.logo_header {
  font-size: 16px;
  font-weight: bold;
}

.modal-header[class*=bg-] .close {
  color: #FF5722;
  /*background-color: #FF5722;*/
}

tr.planning_year td {
  background-color: #fff;
}

tr.execution_year td {
  background-color: #01a252;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #9ca2a7;
  border-color: #8c9296;
}

.in_progress {
  /*background-color:#FECF12 ; */
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.in_preparation {
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.completed {
  /* background-color: #278F15; */
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.cancelled {
  /* background-color: #EFEBCB; */
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.rescope {
  /* background-color: #E38727; */
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.not_selected {

  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.over_due {
  /*background-color: #B31305; */
  background-color: #273683;
  color: white;
  font-weight: bolder;
  box-shadow: 3px 5px 5px #888888;
}

.general_grouping {
  background-color: #00B2C9;
  color: white;
  font-weight: bolder;
  color: black;
  box-shadow: 3px 5px 5px #888888;
}

table tr td.fit-content {
  width: 1% !important;
  padding: 4px !important;
}

td.bg-default {
  background-color: #f5f5f5;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-left-4 {
  margin-right: 4px;
}

td.action {
  width: 1%;
  padding: 2px !important;
}

td.index,
th.index {
  width: 1px !important;
}

.select2-results__options {
  overflow-y: hidden !important;
}

.per-page,
.total-pages {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif !important;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.6666667;
  padding: 6px 11px;
  color: #333;
  background-color: transparent;
  border-color: #ddd;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

@media (min-width: 1000px) {
  .modal-facility {
    width: 980px;
    margin: 30px auto;
  }
}

table.width-100 {
  width: 100%;
}

table.width-50 {
  width: 50%;
}

.red_border {
  box-shadow: 0 0 3px #CC0000;
}

.btn-reallocation,
.bg-reallocation {
  background-color: #999999;
}

.text-reallocation {
  color: #999999;
}

.border-top-reallocation {
  border-top-color: #999999;
}

tr.selected-reallocation-account td {
  background-color: #00BCD4 !important;
  color: #fff !important;
  font-weight: bold;
}

.select2-container-multi .select2-choices {
  min-height: 36px !important;
  border: 1px solid #ddd !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 6px 6px 18px !important;
  background: #fff !important;
}

.pop-pagination>.pagination-sm>li>a,
.pop-pagination>.pagination-sm>li>span {
  padding: 6px 11px !important;
  font-size: 11px !important;
  line-height: 1.5 !important;
}

.label-list {
  padding: 6px;
  height: 100%;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px
}

md-autocomplete md-autocomplete-wrap.md-whiteframe-z1 {
  box-shadow: none !important;
}

.md-autocomplete-suggestions-container {
  z-index: 2050 !important;
}

md-backdrop.md-select-backdrop {
  z-index: 1055 !important;
}

.md-select-menu-container {
  z-index: 1056 !important;
}