table {
    border: 1px solid #000000;
    border-collapse: collapse;
    font-family: "Book Antiqua", Helvetica Neue, Helvetica, Arial, sans-serif;
}

tr {
    border: 1px solid #000000;
    padding: 4px;
    font-family: "Book Antiqua", Helvetica Neue, Helvetica, Arial, sans-serif;
}

th {
    border: 1px solid #000000;
    padding: 4px;
    font-family: "Book Antiqua", Helvetica Neue, Helvetica, Arial, sans-serif;
}

td {
    border: 1px solid #000000;
    padding: 4px;
    font-family: "Book Antiqua", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.printLogo {
    width: 10%;
    float: left;
}

.printHeading {
    width: 89%;
    float: right;
}