<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_SECTION_GENERIC_TYPE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSectionGenericTypeForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                        <div class="col-sm-9">
                            <select name="section_id" class="form-control select-search1"
                                    ng-model="sectionGenericTypeToCreate.section_id"
                                    ng-options="value.id as value.name for value in sections">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectionGenericTypeForm.section_id.$error.required" translate="REQUIRED_SECTION"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_GENERIC_TYPE"></label>
                        <div class="col-sm-9">
                            <select name="generic_type_id" class="form-control select-search2"
                                    ng-model="sectionGenericTypeToCreate.generic_type_id"
                                    ng-options="ltt.id as ltt.name for ltt in genericTypes">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectionGenericTypeForm.generic_type_id.$error.required" translate="REQUIRED_GENERIC_TYPE"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>