<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_SECTION_GENERIC_TYPE"></h5>
            </div>

            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION"></label>
                        <div class="col-sm-9">
                            <select name="section_id" class="form-control"
                                    ng-model="sectionGenericTypeToEdit.section_id"
                                    ng-options="value.id as value.name for value in sections">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_GENERIC_TYPE"></label>
                        <div class="col-sm-9">
                            <select name="generic_type_id" class="form-control"
                                    ng-model="sectionGenericTypeToEdit.generic_type_id"
                                    ng-options="value.id as value.name for value in genericTypes">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>