<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th TRANSLATE="TH_NO"></th>
                            <th translate="TH_SECTION"></th>
                            <th translate="TH_GENERIC_TYPE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sectionGenericType in sectionGenericTypes.data">
                            <td>{{$index + 1}}</td>
                            <td>{{sectionGenericType.section.name}}</td>
                            <td>{{sectionGenericType.generic_type.name}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(sectionGenericType,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(sectionGenericType.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="sectionGenericTypes.total > sectionGenericTypes.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="sectionGenericTypes.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="sectionGenericTypes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ sectionGenericTypes.total }}" perPage="{{ sectionGenericTypes.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>