<div id="modal_form_horizontal" style="display: block;">
  <form action="#" class="form-horizontal" name="dataForm" novalidate>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-teal-400">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title" translate="UPDATE_METADATA_ITEM"></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined"
                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                {{errorMessage | translate}}
              </div>
            </div>
            <div ng-show="errors" class="col-md-12">
              <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errors=undefined"
                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                {{error}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-success">
                    <p><strong>Data Element:</strong> {{dataModel.name}}</p>
                    <p><strong>UID:</strong> {{dataModel.uid}}</p>
                  </div>
                </div>
              </div>
              <br />
              <h3>Category Option Combos</h3>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead class="bg-teal-400">
                      <tr>
                        <th translate="UID"></th>
                        <th translate="CATEGORY_OPTION_COMBO"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in categoryOptionCombos">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="SQL_QUERY"></label>
                  <textarea ng-required="true" name="sql_query"
                            ng-model="dataModel.sql_query" class="form-control"></textarea>
                  <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="dataForm.sql_query.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="update(dataSourceId)">Save</button>
          <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
