<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-5">
        <div class="input-group">
          <div class="input-group-addon per-page">
            Source
          </div>
          <select class="form-control" name="dataSource"
                  ng-model="dataSource" ng-change="loadDataSets(dataSource.id)"
                  ng-options="item as item.source_name for item in dataSources">
            <option value="" selected="selected">-Source-</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6" ng-show="dataSource.id > 0">
        <div class="input-group">
          <div class="input-group-addon per-page">
            Data Set
          </div>
          <select class="form-control" name="dataSet"
                  ng-model="dataSet" ng-change="loadDataElements(dataSet.uid)"
                  ng-options="item as item.name {{' ' +dataSet.uid}} for item in dataSets">
            <option value="" selected="selected">-Data Set-</option>
          </select>
        </div>
      </div>
      <div class="col-md-1" ng-show="dataSource.id > 0">
        <button class="btn btn-sm btn-success pull-right" type="button" ng-click="syncData(dataSource.id)">
          <i class="fa fa-download"></i> Sync Data
        </button>
      </div>
    </div>
    <br/>
    <div class="row" ng-if="dataSet.id > 0">
      <div class="col-md-12">
        <div layout="row">
          <md-input-container flex="100">
            <input ng-model="searchText" ng-change="pageChanged(searchText)" placeholder="Search ...">
          </md-input-container>
        </div>
      </div>
    </div>
    <br/>
    <div class="row" ng-show="items.total > 0 && dataSet.id > 0">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
            <tr>
              <th translate="TH_NO"></th>
              <th translate="DATA_ELEMENT"></th>
              <th translate="PERIOD_TYPE"></th>
              <th translate="QUERY"></th>
              <th translate="MANAGE"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items.data">
              <td>{{$index + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.period}}</td>
              <td>{{item.sql_query}}</td>
              <td nowrap="nowrap">
                <a href class="btn btn-info"
                   ng-click="edit(dataSet.uid,item, currentPage, perPage)">
                  <i class="fa fa-edit"></i>
                  <span translate="EDIT_ACTION"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-10" ng-show="items.total > items.per_page && dataSet.id > 0">
        <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
            boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
            ng-model="currentPage"
            ng-change="pageChanged(searchText)">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                     perPage="{{ items.per_page }}"></total-pages>
      </div>
      <div class="col-md-2" ng-show="items.total > 0 && dataSet.id">
        <per-page ng-model="perPage" ng-change="pageChanged(searchText)"></per-page>
      </div>
    </div>
  </div>
</div>
