<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_HIERARCHY_POSITION"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th translate="TH_ACTIVE_INACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="adminHierarchyLevel in adminHierarchyLevels.data | orderBy:'sort_order'">
                            <td>{{$index + 1}}</td>
                            <td>{{adminHierarchyLevel.name}}</td>
                            <td>{{adminHierarchyLevel.hierarchy_position}}</td>
                            <td>{{adminHierarchyLevel.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="adminHierarchyLevel.is_active" ng-model="adminHierarchyLevel.is_active"
                                           ng-change="toggleAdminHierarchyLevel(adminHierarchyLevel.id, adminHierarchyLevel.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td layout="row" class="action-options">
                              <a ng-click="edit(adminHierarchyLevel,currentPage,perPage)" aria-label="Reset Password">
                                <ng-md-icon icon="edit"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="EDIT_ACTION"></span></md-tooltip>
                              </a>
                              <a ng-click="delete(adminHierarchyLevel.id,currentPage,perPage)" aria-label="Delete">
                                <ng-md-icon icon="delete" class="danger"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="DELETE_ACTION"></span></md-tooltip>
                              </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="adminHierarchyLevels.total > adminHierarchyLevels.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="adminHierarchyLevels.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="adminHierarchyLevels.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ adminHierarchyLevels.total }}" perPage="{{ adminHierarchyLevels.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
