<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Edit Facility</h5>
            </div>
            <form action="#" class="form-horizontal" name="updateAdminHierarchyProjectForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="LABEL_PROJECT"></label>
                            <select name="project_id" class="form-control select-search"
                                    ng-model="adminHierarchyProjectToEdit.project_id"
                                    ng-options="f.id as f.name for f in projects">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateAdminHierarchyProjectForm.project_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="LABEL_ADMIN_HIERARCHY"></label>
                            <select name="admin_hierarchy_id" class="select-fixed-multiple form-control"
                                    ng-model="adminHierarchyProjectToEdit.admin_hierarchy_id"
                                    ng-options="ah.id as ah.name for ah in adminHierarchies">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateAdminHierarchyProjectForm.admin_hierarchy_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>