<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editCasPlanContentForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_A_CAS_CONTENT"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="COMPREHENSIVE_PLAN_NAME"></label>
                        <div class="col-sm-9">
                            <select name="cas_plan_id" class="form-control"
                                    ng-model="casPlanContentToEdit.cas_plan_id"
                                    ng-options="f.id as f.name for f in planNames">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanContentForm.cas_plan_id.$error.required"><span translate="PLAN_NAME_REQUIRED"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" name="description" type="text" ng-model="casPlanContentToEdit.description"
                                      placeholder="" class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editCasPlanContentForm.description.$error.required" translate="SYMBOL_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CONTENT"></label>
                        <div class="col-sm-9">
                            <select name="cas_plan_content_id" class="form-control"
                                    ng-model="casPlanContentToEdit.cas_plan_content_id"
                                    ng-options="f.id as f.description for f in casPlanContents">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanContentForm.cas_plan_content_id.$error.required"><span translate="CONTENT_IS_REQUIRED"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_LOWEST"></label>

                        <label class="switch">
                            <input name="is_lowest" type="checkbox"
                                   ng-checked="casPlanContentToEdit.is_lowest"
                                   ng-model="casPlanContentToEdit.is_lowest"
                            >
                            <div class="slider round"></div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input name="sort_order" type="number" class="form-control"
                                   ng-model="casPlanContentToEdit.sort_order"
                            >
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanContentForm.sort_order.$error.required">Content is required</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>