<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select ng-model="selectedPlan"
                class="form-control"
                ng-change="loadContents(selectedPlan)"
                ng-options="casPlan.id as casPlan.name for casPlan in casPlans">
            <option value="">-Select a Plan-</option>
        </select>
    </div>
</div>
<div class="row" ng-show="casPlanContents != undefined">
    <div class="col-md-12">
        <button type="button" href class="btn btn-success pull-right create-btn" ng-click="create(selectedPlan)" translate="BTN_CREATE"></button>&nbsp;&nbsp;
        <button style="margin-right:4px" type="button" ng-disabled="casPlanContentNode.currentNode === undefined" href class="btn btn-info pull-right create-btn" ng-click="edit(casPlanContentNode.currentNode)" translate="BTN_EDIT"></button>
        <button style="margin-right:4px" type="button" ng-disabled="casPlanContentNode.currentNode === undefined" href class="btn btn-danger pull-right" ng-click="delete(casPlanContentNode.currentNode.id)" translate="BTN_DELETE"></button>

        <br />
        <div class="row">
            <div class="col-md-12" style="background: #FFF;padding:6px 6px 6px 6px;border:1px solid #ddd;border-radius:4px">
                <input style="width:100%" class="form-control"  ng-model='casPlanContentNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                <br />
                <div>
                    <span style="padding: 4px 4px"><i class="fa fa-upload text-info"></i>Upload</span>
                    <span style="padding: 4px 4px"><i class="fa fa-file-pdf-o" style="color: #a21309"></i>Report</span>
                    <span style="padding: 4px 4px"><i class="fa fa-table text-info"></i>Entry</span>
                </div>
                <br/>
                <div
                        data-angular-treeview="true"
                        data-tree-id="casPlanContentNode"
                        data-tree-model="casPlanContents"
                        data-node-id="id"
                        data-node-label="description"
                        data-node-children="children"
                        data-search-query='casPlanContentNodeSearchQuery'
                >
                </div>
                <br/>
            </div>
        </div>
        <br/>

    </div>
</div>
