<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showCreateBtn===true">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showCreateForm===true">
            <div class="col-md-12">
                <form action="#" class="form-horizontal" name="formData" novalidate>
                    <div class="modal-content">
                        <div class="modal-header bg-teal-400">
                            <button type="button" ng-click="close()" class="close">×</button>
                            <h5 class="modal-title" translate="CREATE_ACCOUNT_RETURN"></h5>
                        </div>
                        <div class="modal-body">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                            <div ng-show="errors" class="col-md-12">
                                <div ng-repeat="error in errors"
                                     class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errors=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{error}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="formDataModel.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="formData.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_CODE"></label>
                                    <input ng-required="true" name="code" type="text"
                                           ng-model="formDataModel.code" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="formData.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="SECTOR"></label>
                                    <select name="sector_id" class="form-control"
                                            ng-model="formDataModel.sector_id"
                                            ng-change="loadSections(formDataModel.sector_id)"
                                            ng-options="sector.id as (sector.code+' - '+sector.name) for sector in sectors">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="COST_CENTER"></label>
                                    <select name="section_id" class="form-control"
                                            ng-model="formDataModel.section_id"
                                            ng-options="section.id as (section.code+' - '+section.name) for section in sections">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <md-input-container style="width:100%">
                                        <label>GFS Codes</label>
                                        <md-select ng-model="formDataModel.gfs" md-on-close="clearSearchTerm()" data-md-container-class="selectSelectHeader" multiple>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for GFS Code ..."
                                                       class="header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="gfs_codes">
                                                <md-option ng-value="gfs" ng-repeat="gfs in gfs_codes|filter:searchTerm">{{gfs.code}} - {{gfs.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="store()"
                                    translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="close()"
                                    translate="BTN_CLOSE"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-show="showUpdateForm===true">
            <div class="col-md-12">
                <form action="#" class="form-horizontal" name="formData" novalidate>
                    <div class="modal-content">
                        <div class="modal-header bg-teal-400">
                            <button type="button" ng-click="close()" class="close">×</button>
                            <h5 class="modal-title" translate="UPDATE_ACCOUNT_RETURN"></h5>
                        </div>
                        <div class="modal-body">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                            <div ng-show="errors" class="col-md-12">
                                <div ng-repeat="error in errors"
                                     class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errors=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{error}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="formDataModel.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="formData.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_CODE"></label>
                                    <input ng-required="true" name="code" type="text"
                                           ng-model="formDataModel.code" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="formData.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="SECTOR"></label>
                                    <select name="sector_id" class="form-control"
                                            ng-model="formDataModel.sector_id"
                                            ng-change="loadSections(formDataModel.sector_id)"
                                            ng-options="sector.id as (sector.code+' - '+sector.name) for sector in sectors">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="COST_CENTER"></label>
                                    <select name="section_id" class="form-control"
                                            ng-model="formDataModel.section_id"
                                            ng-options="section.id as (section.code+' - '+section.name) for section in sections">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="update()"
                                    translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="close()"
                                    translate="BTN_CLOSE"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-show="showGfsCodes===true">
            <div class="col-md-12">
                <form action="#" class="form-horizontal" name="formData" novalidate>
                    <div class="modal-content">
                        <div class="modal-header bg-teal-400">
                            <button type="button" ng-click="close()" class="close">×</button>
                            <h5>{{account_return_code}} - {{account_return_name}}</h5>
                        </div>
                        <div class="modal-body">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                            <div ng-show="successMessage" class="col-md-12">
                                <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="successMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    {{successMessage | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <h3 translate="GFS_CODES"></h3>
                            <div class="table-responsive">
                                <table class="table table-striped table-striped">
                                    <thead class="bg-teal-400">
                                    <tr>
                                        <th translate="NO"></th>
                                        <th translate="NAME"></th>
                                        <th translate="CODE"></th>
                                        <th translate="REMOVE"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in items">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.gfs_code.name}}</td>
                                        <td>{{item.gfs_code.code}}</td>
                                        <td nowrap="nowrap">
                                            <a href class="btn btn-danger" ng-click="removeGfsCode(item.id)">
                                                <i class="fa fa-remove"></i>
                                                <span translate="DELETE_ACTION"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <md-input-container style="width:100%">
                                        <label>Add more GFS Codes</label>
                                        <md-select ng-model="formDataModel.gfs" md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectSelectHeader" multiple>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for GFS Code ..."
                                                       class="header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="gfs_codes">
                                                <md-option ng-value="gfs"
                                                           ng-repeat="gfs in gfs_codes|filter:searchTerm">{{gfs.code}} -
                                                    {{gfs.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="addGfsCodes()"
                                    translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="close()"
                                    translate="BTN_CLOSE"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div ng-show="showList===true" class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="CODE"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(key,sectionArray) in items.data | groupBy:'section.code'">
                            <td colspan="4" class="bg-info">{{key}} - {{sectionArray[0].section.name}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in sectionArray">
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.code}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="gfsCodes(item,currentPage,perPage)">
                                    <i class="fa fa-list"></i>
                                    <span translate="GFS_CODES"></span>
                                </a>
                                <a href class="btn btn-info" ng-click="edit(item,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page" ng-show="showList===true">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .selectSelectHeader {
        /* Please note: All these selectors are only applied to children of elements with the 'selectSelectHeader' class */
    }

    .selectSelectHeader .header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .selectSelectHeader .demo-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }

    .selectSelectHeader md-content._md {
        max-height: 240px;
    }
</style>