<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5  class="modal-title" translate="Ceiling vs Allocation"></h5>
            </div>

            <form action="#" class="form-vertical" name="createInputForm">
                <div class="modal-body">
                    <div class="table-responsive">
                       <table class="table table-bordered table-striped ">
                           <tr>
                               <th>Admin Hierarchy</th>
                               <th>Section</th>
                               <th>Ceiling</th>
                               <th>Ceiling Amount</th>
                               <th>Ceiling Allocated</th>
                               <th ng-if="selectedAdminHierarchyId === userAdminHierarchyId && sectionId ===userSectionId">View</th>
                           </tr>
                           <tr ng-repeat="c in allocationProblem">
                               <td>{{c.adm}}</td>
                               <td>{{c.sname}}</td>
                               <td>{{c.cname}}</td>
                               <td>{{c.ceiling | currency:''}}</td>
                               <td>{{c.allocation | currency:''}}</td>
                               <td ng-if="selectedAdminHierarchyId === userAdminHierarchyId && sectionId ===userSectionId">
                                   <a  href="/budgeting#!/admin-hierarchy-ceilings/0?name={{c.cname}}&amount={{c.allocation}}">View</a>
                               </td>
                           </tr>
                       </table>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button"  class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select2-search--dropdown').select2();
</script>