<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5  class="modal-title" translate="Ceiling vs Budget"></h5>
            </div>

            <form action="#" class="form-vertical" name="createInputForm">
                <div class="modal-body">
                    <div class="table-responsive">
                       <table class="table table-bordered table-striped ">
                           <tr class="bg-teal-400">
                               <th>Admin Hierarchy</th>
                               <th>Cost Centre</th>
                               <th>Facility</th>
                               <th>Fund Source</th>
                               <th>Budget Class</th>
                               <th>Total Ceiling</th>
                               <th>Total Budget</th>
                               <th>Difference</th>
<!--                               <th>View</th>-->
                           </tr>
                           <tr ng-repeat="c in ceilings.data" >
                               <td>{{c.adminarea}}</td>
                               <td>{{c.section}}</td>
                               <td>{{c.facility}}</td>
                               <td>{{c.fund_source}}</td>
                               <td>{{c.budget_class}}</td>
                               <td>{{c.ceiling | currency:''}}</td>
                               <td>{{c.budget | currency:''}}</td>
                               <td>{{(c.ceiling -c.budget) | currency:''}}</td>
<!--                               <td >-->
<!--                                   &lt;!&ndash; <a  href="/budgeting#!/inputs/{{c.msid}}?planType=CURRENT&facility=all&fundSource={{c.fid}}&withAmount=all">View</a> &ndash;&gt;-->
<!--                                   <a target="_blank"  href="/budgeting#!/activity-facility-fund-sources/{{c.secid}}/{{selectedBudgetType}}?facilityId=0&facilityId=0&fundSourceId=0&budgetClassId=0">View</a>-->
<!--                               </td>-->
                           </tr>
                           <tr ng-show="ceilingIsLoading">
                               <td colspan="8" style="padding:0px" >
                                  <pr-progress  />
                               </td>
                           </tr>
                       </table>
                    </div>
                    <div>
                        <div class="col-md-8">
                            <ul uib-pagination total-items="ceilings.total" class="pagination-sm pull-left"
                                boundary-links="true" num-pages="numPages" items-per-page="ceilings.per_page"
                                ng-model="currentPage" max-size="10" ng-change="pageChanged()">
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button"  class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select2-search--dropdown').select2();
</script>
