<div class="dashboard">
    <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH']" on-change="filterChanged(filter)"></main-filter>
    <br />
    <div class="row" ng-if="selectedAdminHierarchyLevelPosition == 4">
        <div class="col-sm-12">
            <span class="pullright">
                <a target="_blanck"
                    ng-href="/json/dashBoard/download-incomp-ceiling-budget/{{selectedBudgetType}}/{{selectedFinancialYearId}}/{{selectedAdminHierarchyId}}"><i
                        class="fa fa-file-excel-o"></i>&nbsp;Download Mismatch </a>
            </span>
            <br />

        </div>
    </div>
    <br />

    <div class="row" ng-if="totalIncomplete > 0">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
                <a href
                    ng-click="viewProblemCeiling(selectedBudgetType, selectedFinancialYearId, selectedAdminHierarchyId, selectedSectionId,adminLevel,sectionLevel)"
                    style="color: #aa3510;">
                    <strong>Attention! There are ({{totalIncomplete}}) Incomplete Budget Vs Ceiling
                        <span ng-if="selectedAdminHierarchy.hierarchy_position ===4"></span> &nbsp;&nbsp;Click here to
                        view</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="allocationProblem.length > 0 && !allocationProblemLoading">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
                <a href
                    ng-click="viewAllocationProblem(allocationProblem,selectedAdminHierarchyId,section.id,userAdminHierarchy.id,userSection.id)"
                    style="color: #aa3510;">
                    <strong>Attention! There are ({{allocationProblem.length}}) Ceiling and Allocation miss match at
                        <span
                            ng-if="selectedAdminHierarchy.hierarchy_position ===3">{{selectedAdminHierarchy.name}}-{{section.name}}</span>
                        Click to view</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="selectedAdminHierarchyLevelPosition <= 3">
        <div class="col-sm-12 col-md-12">
            <md-card>
                <md-card-header>
                    <h5>
                        <span ng-show="selectedAdminHierarchyLevelPosition === 1">PUBLIC ADMINISTRATION</span>
                        <span ng-show="selectedAdminHierarchyLevelPosition === 2">{{userSectionName | uppercase}}</span>
                    </h5>
                </md-card-header>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <md-card>
                <md-card-header>
                    <h5>
                        CEILING AGAINST BUDGET
                    </h5>

                </md-card-header>
                <md-card-content layout-align="center center">
                    <!-- Show loading spinner while data is being fetched or if the data is not yet available -->
                    <md-progress-circular
                        ng-show="ceilingBudgetCompareBarGraphLoading"
                        md-mode="indeterminate">
                    </md-progress-circular>

                    <!-- Display chart once data is fully loaded and valid -->
                    <div ng-if="!ceilingBudgetCompareBarGraphLoading && ceilingBudgetCompareBarGraph && (!ceilingBudgetCompareBarGraph.dataset || ceilingBudgetCompareBarGraph.dataset.length > 0)"
                        fusioncharts height="334" width="100%" type="mscombidy2d"
                        dataSource="{{ ceilingBudgetCompareBarGraph }}">
                    </div>
                </md-card-content>

                <md-card-actions>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-sm-12 col-md-6">
            <md-card>
                <md-card-header>
                    <h5>PE CEILING AGAINST BUDGET</h5>
                </md-card-header>
                <md-card-content layout-align="center center">
                    <!-- Show loading spinner while data is being fetched or if the data is not yet available -->
                    <md-progress-circular
                        ng-show="peCeilingBudgetBarGraphLoading"
                        md-mode="indeterminate">
                    </md-progress-circular>

                    <!-- Display chart once data is fully loaded and valid -->
                    <div ng-if="!peCeilingBudgetBarGraphLoading && peCeilingBudgetBarGraph && (!peCeilingBudgetBarGraph.dataset || peCeilingBudgetBarGraph.dataset.length > 0)"
                        fusioncharts height="334" width="100%" type="mscombidy2d"
                        dataSource="{{ peCeilingBudgetBarGraph }}">
                    </div>
                </md-card-content>
                <md-card-actions>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <md-card>
                <md-card-header>
                    <h5>TOTAL BUDGET</h5>
                </md-card-header>
                <md-card-content layout-align="center center">
                    <!-- Show loading spinner while data is being fetched or if the data is not yet available -->
                    <md-progress-circular
                        ng-show="totalBudgetPieChartLoading || !totalBudgetPieChart || (totalBudgetPieChart.data && totalBudgetPieChart.data.length === 0)"
                        md-mode="indeterminate">
                    </md-progress-circular>

                    <!-- Display chart once data is fully loaded and valid -->
                    <div ng-if="!totalBudgetPieChartLoading && totalBudgetPieChart && (!totalBudgetPieChart.data || totalBudgetPieChart.data.length > 0)"
                        fusioncharts height="334" width="100%" type="pie3d" dataSource="{{ totalBudgetPieChart }}">
                    </div>
                </md-card-content>

                <md-card-actions>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-sm-12 col-md-6">
            <md-card>
                <md-card-header>
                    <h5>PROCURABLE VS TOTAL BUDGET</h5>
                </md-card-header>
                <md-card-content layout-align="center center">
                    <!-- Show loading spinner while data is being fetched or if the data is not yet available -->
                    <md-progress-circular
                        ng-show="procurableTotalBudgetBarGraphLoading || !procurableTotalBudgetBarGraph || (procurableTotalBudgetBarGraph.dataset && procurableTotalBudgetBarGraph.dataset.length === 0)"
                        md-mode="indeterminate">
                    </md-progress-circular>

                    <!-- Display chart once data is fully loaded and valid -->
                    <div ng-if="!procurableTotalBudgetBarGraphLoading && procurableTotalBudgetBarGraph && (!procurableTotalBudgetBarGraph.dataset || procurableTotalBudgetBarGraph.dataset.length > 0)"
                        fusioncharts height="334" width="100%" type="mscombidy2d"
                        dataSource="{{ procurableTotalBudgetBarGraph }}">
                    </div>
                </md-card-content>

                <md-card-actions>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>