<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="ADD_COLUMN"></h5>
            </div>
            <form action="#" class="form-horizontal" name="editBudgetSubmissionDefinitionForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="field_name" type="text" ng-model="budgetSubmissionDefinitionFormToEdit.field_name" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editBudgetSubmissionDefinitionForm.name.$error.required" translate="NAME_IS_REQUIRED">
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="GFS_CODE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="gfs_code_id" class="form-control select-search1"
                                    ng-model="budgetSubmissionDefinitionFormToEdit.gfs_code_id"
                                    ng-options="x.id as x.name + '-(' + x.code +')' for x in gfsCodes">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="UNIT"></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="unit_id" class="form-control select-search2"
                                    ng-model="budgetSubmissionDefinitionFormToEdit.unit_id"
                                    ng-options="x.id as x.name for x in units">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PARENT"></label>
                        <div class="col-sm-9">
                            <select ng-model="budgetSubmissionDefinitionFormToEdit.parent_id"
                                    ng-options="Item.id as Item.field_name for Item in ParentColumns"
                                    class="form-control select-search3">
                                <option value="" selected translate="SELECT_PARENT_COLUMN"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_ACTIVE"></label>
                        <div class="col-sm-9">
                            <label  class="radio-inline radio-right">
                                <!--{{budgetSubmissionDefinitionFormToEdit.is_active}}-->
                                <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_active" name="is_active" class="styled" ng-value="true">
                                Yes
                            </label>
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_active" name="is_active" class="styled" ng-value="false">
                                No
                            </label>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.is_active.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="HAS_BREAKDOWN"></label>
                        <div class="col-sm-9">
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model = "budgetSubmissionDefinitionFormToEdit.has_breakdown" name="has_breakdown" class="styled" ng-value="true">
                                Yes
                            </label>
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.has_breakdown" name="has_breakdown" class="styled" ng-value="false">
                                No
                            </label>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.has_breakdown.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_INPUT"></label>
                        <div class="col-sm-9">
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model = "budgetSubmissionDefinitionFormToEdit.is_input" name="is_input" class="styled" ng-value="true">
                                Yes
                            </label>
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_input" name="is_input" class="styled" ng-value="false">
                                No
                            </label>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.is_input.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="INPUT_TYPE"></label>
                        <div class="col-sm-9">
                            <select  ng-model = "budgetSubmissionDefinitionFormToEdit.type"
                                     name="type"
                                     class="form-control"
                                     ng-change="compareType()">
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                                <option value="currency">Currency</option>
                                <option value="checkbox">Checkbox</option>
                                <option value="date">Date</option>
                                <option value="formula">Formula</option>
                                <option value="select">Select</option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.type.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isSelect">
                        <label class="control-label col-sm-3" translate="SELECT_OPTION"></label>
                        <div class="col-sm-9">
                            <select  ng-model = "budgetSubmissionDefinitionFormToEdit.select_option"
                                     name="type"
                                     class="form-control" >
                                <option  ng-repeat="item in selectOptions" value="{{ item.id }}">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="COLUMN_NUMBER"></label>
                        <div class="col-sm-9">
                            <input type="number" ng-model = "budgetSubmissionDefinitionFormToEdit.column_number" name="sort_order" class="form-control" >
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.column_number.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="FORMULA"></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model = "budgetSubmissionDefinitionFormToEdit.formula" name="formula" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="OUTPUT_TYPE"></label>
                        <div class="col-sm-9">
                            <select  ng-model = "budgetSubmissionDefinitionFormToEdit.output_type"
                                     name="type"
                                     class="form-control">
                                <option value="number">Number</option>
                                <option value="currency">Currency</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="HAS_VERTICAL_TOTAL"></label>
                        <div class="col-sm-9">
                            <input type="checkbox"
                                   ng-model = "budgetSubmissionDefinitionFormToEdit.is_vertical_total"
                                   name="is_vertical_total">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input type="number" ng-model = "budgetSubmissionDefinitionFormToEdit.sort_order" name="sort_order" class="form-control" >
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="updateColumns()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>