<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_EDIT_BUDGET_SUBMISSION_FORM"></h5>
            </div>

            <form action="#" class="form-horizontal" name="editBudgetSubmissionForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="budgetSubmissionFormToEdit.name" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editBudgetSubmissionForm.name.$error.required" translate="ERROR_NAME_IS_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION_REQUIRED"></label>
                        <div class="col-sm-9">
                            <textarea ng-model="budgetSubmissionFormToEdit.description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="BUDGET_CLASSES"></span>
                        </label>
                        <div class="col-sm-9">
                            <select  ui-select2 multiple
                                     class="select-fixed-multiple form-control"
                                     ng-model="budgetSubmissionFormToEdit.budget_classes">
                                <optgroup ng-repeat="budgetClass in budgetClasses" label="{{budgetClass.name}}">
                                    <option ng-repeat="item in budgetClass.children" value="{{ item.id  }}">{{item.name}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="TH_FUND_SOURCES"></span>
                        </label>
                        <div class="col-sm-9">
                            <select  ui-select2 multiple
                                     class="select-fixed-multiple form-control"
                                     ng-model="budgetSubmissionFormToEdit.fund_sources">
                                <option ng-repeat="item in fundSources" value="{{ item.id  }}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.select-fixed-multiple').select2({
        minimumResultsForSearch:Infinity,
    });
    $('.select-search').select2();
</script>