<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div ng-show="defaultMode">
        <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>

        <!--The user interface which will be displayed when the page has been initially loaded starts here-->
        <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th translate="TH_NO">No.</th>
                <th translate="TH_FORM_NAME"></th>
                <th translate="TH_DESCRIPTION"></th>
                <th translate="TH_BUDGET_CLASS"></th>
                <th translate="TH_ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="budgetSubmissionForm in budgetSubmissionForms">
                <td>{{$index + 1}}</td>
                <td>{{budgetSubmissionForm.name}}</td>
                <td>{{budgetSubmissionForm.description}}</td>
                <td>{{budgetSubmissionForm.budget_class.name}}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-success" ng-click="viewColumns(budgetSubmissionForm.id)">Columns</a>
                    <a href class="btn btn-info" ng-click="edit(budgetSubmissionForm)">Edit</a>
                    <a href class="btn btn-danger" ng-click="deleteBudgetSubmissionForm(budgetSubmissionForm.id)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <!--The user interface which will be displayed when the page has been initially loaded ends here-->

        <!--The code below shows the list of columns belonging to a selected form-->
        <div ng-show="columnListMode">
            <!--The pagination header starts here-->
            <div class="row">
                <per-page ng-model="perPage" ng-change="PageChanged(form_id)"></per-page>
            </div>
            <!--The pagination header ends here-->
            <br/>
            <a href class="btn btn-warning  pull-left" ng-click="backToForms()">
                <i class="fa fa-arrow-left"></i>
                <span translate="BTN_BACK"></span>
            </a>
            <a href class="btn btn-success pull-right create-btn" ng-click="addColumn(form_id)" translate="BTN_ADD_COLUMN"></a>
            <!--{{budgetSubmissionDefinitions}}-->
            <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th translate="TH_NO">No.</th>
                <th translate="TH_FIELD_NAME">No.</th>
                <th translate="TH_GFS_CODE"></th>
                <th translate="TH_UNIT"></th>
                <th translate="TH_PARENT"></th>
                <th translate="TH_IS_INPUT"></th>
                <th translate="TH_HAS_BREAKDOWN"></th>
                <th translate="TH_COLUMN"></th>
                <th translate="TH_SORT_ORDER"></th>
                <th translate="TH_IS_ACTIVE"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="budgetSubmissionDefinition in budgetSubmissionDefinitions.data">
                <td>{{$index + 1}}</td>
                <td>{{budgetSubmissionDefinition.field_name}}</td>
                <td>{{budgetSubmissionDefinition.gfs_code.code}}</td>
                <td>{{budgetSubmissionDefinition.unit.name}}</td>
                <td>{{budgetSubmissionDefinition.parent.field_name}}</td>
                <td>
                    <span ng-show="budgetSubmissionDefinition.is_input == true" translate="LABEL_YES"></span>
                    <span ng-show="budgetSubmissionDefinition.is_input == false" translate="LABEL_NO"></span>
                </td>
                <td>
                    <span ng-show="budgetSubmissionDefinition.has_breakdown == true" translate="LABEL_YES"></span>
                    <span ng-show="budgetSubmissionDefinition.has_breakdown == false" translate="LABEL_NO"></span>
                </td>
                <td>{{ budgetSubmissionDefinition.column_number }}</td>
                <td>{{ budgetSubmissionDefinition.sort_order }}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-info" ng-click="editColumns(budgetSubmissionDefinition)">Edit</a>
                    <a href class="btn btn-danger" ng-click="deleteBudgetSubmissionDefinition(budgetSubmissionDefinition)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

            <!--The pagination footer starts here-->
            <div class="row" ng-show="budgetSubmissionDefinitions.total > budgetSubmissionDefinitions.per_page">
                <div class="col-md-12">
                    <ul uib-pagination total-items="budgetSubmissionDefinitions.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="budgetSubmissionDefinitions.per_page"
                        ng-model="currentPage"
                        ng-change="PageChanged(form_id)">
                    </ul>
                    <total-pages currentPage="{{currentPage}}" totalItems="{{ budgetSubmissionDefinitions.total }}" perPage="{{ budgetSubmissionDefinitions.per_page }}"></total-pages>
                </div>
            </div>
            <!--The pagination footer ends here-->
        </div>
        <!--The code code which control the list of columns belonging to a table ends here-->

        <br/>
    </div>
</div>