<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createBaselineStatisticsForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title"><span translate="CREATE_BASELINE_DATA"></span></span></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="description" type="text" ng-model="baselineStatisticsToCreate.description"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createBaselineStatisticsForm.description.$error.required"><span translate="DESCRIPTION_IS_REQUIRED"></span></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="CODE"></span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="baselineStatisticsToCreate.code"
                                   placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="IS_COMMON"></span></label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" name="is_common" ng-model="baselineStatisticsToCreate.is_common"
                                       ng-checked="baselineStatisticsToCreate.is_common === true" class="switchery">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="DEFAULT_VALUE"></span></label>
                        <div class="col-sm-9">
                            <input  type="text" ng-model="baselineStatisticsToCreate.default_value"
                                   placeholder="" class="form-control">
                        </div>
                    </div>
                  <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="DHIS_UID"></span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="baselineStatisticsToCreate.hmis_uid"
                                   placeholder="" class="form-control">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
