<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon per-page">
                  Financial Year
                </div>
                <select class="form-control" name="financialYearId"
                        ng-model="financialYear" ng-change="loadBaselineData(financialYear.id)"
                        ng-options="item as item.name for item in financialYears">
                  <option value="" selected="selected">-Financial Year-</option>
                </select>
              </div>
            </div>
<!--            <div class="col-sm-6" ng-show="financialYear.id > 0">-->
<!--              <div class="input-group">-->
<!--                <div class="input-group-addon per-page">-->
<!--                  Version-->
<!--                </div>-->
<!--                <select class="form-control" name="version_id"-->
<!--                        ng-model="version" ng-change="loadBaselineData(version.id)"-->
<!--                        ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div class="col-md-4" ng-show="financialYear.id > 0">
          <div class="heading-btn pull-right">
            <button type="button" class="btn btn-info" ng-click="create(financialYear.id)">
              <i class="fa fa-plus"></i>
              <span translate="BTN_CREATE"></span>
            </button>
          </div>
        </div>
      </div>
      <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="TH_DEFAULT_VALUE"></th>
                            <th translate="DHIS_UID"></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="baselineStatistic in baselineStatistics.data">
                            <td>{{$index + 1}}</td>
                            <td>{{baselineStatistic.description}}</td>
                            <td>{{baselineStatistic.code}}</td>
                            <td>{{baselineStatistic.default_value}}</td>
                            <td>{{baselineStatistic.hmis_uid}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(baselineStatistic,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
<!--                              <a href class="btn btn-info" ng-click="carry(financialYear.id,baselineStatistic)">-->
<!--                                <span translate="Carry"></span>-->
                              </a>
                                <a href class="btn btn-danger" ng-click="delete(baselineStatistic.id,currentPage,perPage,version.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="baselineStatistics.total > baselineStatistics.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="baselineStatistics.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="baselineStatistics.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ baselineStatistics.total }}" perPage="{{ baselineStatistics.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
