<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-show="showCreateBtn===true" ng-click="createForm()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-show="showCreateBtn===true" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showCreateForm===true">
            <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Upload Document</h3>
                        <label>
                            <span translate="NAME"></span>
                        </label>
                        <input class="form-control" ng-model="name" name="name" />
                        <i ng-show="myForm.name.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <label>
                            <span translate="DESCRIPTION"></span>
                        </label>
                       <textarea class="form-control" ng-model="description" name="description"></textarea>
                        <i ng-show="myForm.description.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <label>
                            <span translate="TYPE"></span>
                        </label>
                        <select class="form-control select-search-1"
                                ng-model="reference_document_type_id"
                                name="reference_document_type_id"
                                ng-options="lv.id as lv.name for lv in referenceDocumentTypes">
                        </select>
                        <i ng-show="myForm.reference_document_type_id.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <label>
                            <span translate="START_FINANCIAL_YEAR"></span>
                        </label>
                        <select class="form-control select-search-2"
                                ng-model="start_financial_year"
                                name="start_financial_year"
                                ng-options="lv.id as lv.name for lv in financialYears">
                        </select>
                        <i ng-show="myForm.start_financial_year.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <label>
                            <span translate="END_FINANCIAL_YEAR"></span>
                        </label>
                        <select class="form-control select-search-3"
                                ng-model="end_financial_year"
                                name="end_financial_year"
                                ng-options="lv.id as lv.name for lv in financialYears">
                        </select>
                        <i ng-show="myForm.end_financial_year.$error.required">*required</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <label>
                            <span translate="LABEL_EXCEL_FILE"></span>
                        </label>
                        <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                               data-show-preview="false" ngf-select ng-model="pdfFile" name="pdfFile"
                               accept="'.pdf'" ngf-max-size="3MB" ngf-pattern="'.pdf'"
                               required ngf-model-invalid="errorFile"/>
                        <i ng-show="myForm.pdfFile.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 3M</i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                ng-click="createDocument(pdfFile)"><i class="fa fa-upload"></i> Upload
                        </button>
                        <button type="button" class="btn btn-info"
                                ng-click="hideForm()">
                            <i class="fa fa-remove"></i> Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="showUpdateForm===true">
            <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <h3>Upload Document</h3>
                            <label>
                                <span translate="NAME"></span>
                            </label>
                            <input class="form-control" ng-model="updateDataModel.name" name="name" />
                            <i ng-show="myForm.name.$error.required">*required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label>
                                <span translate="DESCRIPTION"></span>
                            </label>
                            <textarea class="form-control" ng-model="updateDataModel.description" name="description"></textarea>
                            <i ng-show="myForm.description.$error.required">*required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label>
                                <span translate="TYPE"></span>
                            </label>
                            <select class="form-control select-search-1"
                                    ng-model="updateDataModel.reference_document_type_id"
                                    name="reference_document_type_id"
                                    ng-options="lv.id as lv.name for lv in referenceDocumentTypes">
                            </select>
                            <i ng-show="myForm.reference_document_type_id.$error.required">*required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label>
                                <span translate="START_FINANCIAL_YEAR"></span>
                            </label>
                            <select class="form-control select-search-2"
                                    ng-model="updateDataModel.start_financial_year"
                                    name="start_financial_year"
                                    ng-options="lv.id as lv.name for lv in financialYears">
                            </select>
                            <i ng-show="myForm.start_financial_year.$error.required">*required</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label>
                                <span translate="END_FINANCIAL_YEAR"></span>
                            </label>
                            <select class="form-control select-search-3"
                                    ng-model="updateDataModel.end_financial_year"
                                    name="end_financial_year"
                                    ng-options="lv.id as lv.name for lv in financialYears">
                            </select>
                            <i ng-show="myForm.end_financial_year.$error.required">*required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label>
                                <span translate="FILE"></span>
                            </label>
                            <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                                   data-show-preview="false" ngf-select ng-model="pdfFile" name="pdfFile"
                                   accept="'.pdf'" ngf-max-size="3MB" ngf-pattern="'.pdf'"
                                   required ngf-model-invalid="errorFile"/>
                            <a href="/files/documents/download/{{updateDataModel.id}}" target="_blank"><i class="fa fa-download"></i></a>
                            <i ng-show="myForm.pdfFile.$error.maxSize">File too large
                                {{errorFile.size / 1000000|number:1}}MB: max 3M</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button ng-disabled="myForm.pdfFile.$error.maxSize" type="button" class="btn btn-success"
                                    ng-click="updateDocument(pdfFile)"><i class="fa fa-upload"></i> Upload
                            </button>
                            <button type="button" class="btn btn-info"
                                    ng-click="hideUpdateForm()">
                                <i class="fa fa-remove"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="DOWNLOAD"></th>
                            <th translate="START_YEAR"></th>
                            <th translate="END_YEAR"></th>
                            <th translate="TH_ACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(i, values) in items.data | groupBy:'reference_document_type.is_national_guideline'">
                            <td class="bg-info" colspan="8">
                                <span ng-if="i == 'true'" translate="NATIONAL_GUIDELINES"></span>
                                <span ng-if="i == 'false'" translate="OTHER_GUIDELINES"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="(x, values1) in values | groupBy:'reference_document_type.name'">
                            <td colspan="8">
                                <strong>{{x}}</strong>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in values1">
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td><a href="/files/documents/download/{{item.id}}" target="_blank"><i class="fa fa-download"></i></a></td>
                            <td>{{item.s_financial_year.name}}</td>
                            <td>{{item.e_financial_year.name}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="item.is_active" ng-model="item.is_active"
                                           ng-change="toggleActive(item.id, item.is_active)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="updateForm(item,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }
    $(".select-search-1").select2();
    $(".select-search-2").select2();
    $(".select-search-3").select2();
</script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>