<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TRASH"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                    class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
                            </button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <a href class="btn btn-info" ng-click="emptyTrash()">
                        <i class="fa fa-trash"></i>
                        <span translate="EMPTY_TRASH"></span>
                    </a>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_NO"></th>
                                <th translate="NAME"></th>
                                <th translate="TH_DATE_DELETED"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="trashedBodList in trashedBodLists">
                                <td>{{$index + 1}}</td>
                                <td>{{trashedBodList.name}}</td>
                                <td nowrap>{{trashedBodList.deleted_at}}</td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-info" ng-click="restoreBodList(trashedBodList.id)">
                                        <i class="fa fa-backward"></i>
                                        <span translate="RESTORE_ACTION"></span>
                                    </a>
                                    <a href class="btn btn-danger" ng-click="permanentDelete(trashedBodList.id)">
                                        <i class="fa fa-times"></i>
                                        <span translate="DELETE_ACTION"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>