<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-pills-bordered pull-right">
                    <li><a href="#!/ceilings" class="btn btn-success pull-right">Ceilings</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="true">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_CEILING"></th>
                            <th translate="TH_SECTOR"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ceiling_sector in ceiling_sectors.data">
                            <td>{{$index + 1}}</td>
                            <td>{{ceiling_sector.ceiling.name}}</td>
                            <td>{{ceiling_sector.sector.name}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-danger" ng-click="delete(ceiling_sector.id,currentPage)">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="ceiling_sectors.total > ceiling_sectors.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="ceiling_sectors.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="ceiling_sectors.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ ceiling_sectors.total }}" perPage="{{ ceiling_sectors.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>

