<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_SECTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSectionForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="sectionToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectionForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input  ng-required="true" name="code" type="text" ng-model="sectionToCreate.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectionForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_SECTION_LEVEL"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="sectionToCreate.section_level_id"
                                    ng-change="loadParentSections(sectionToCreate.section_level_id)"
                                    class="form-control select-search1">
                                <option value="" selected translate="SELECT_LEVEL"></option>
                                <option ng-repeat="level in sectionLevels" value="{{level.id}}">{{level.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" >
                      <label class="control-label col-sm-3" >
                        <span translate="LABEL_ADMIN_HIERARCHY"></span>
                      </label>
                      <div class="col-sm-9">
                        <select ng-model="sectionToCreate.admin_id"
                                ng-options="pisc.id as pisc.name for pisc in piscs"
                                class="form-control select-search2"
                                ng-change="loadAdminSection(sectionToCreate.admin_id)">
                          <option value="" ng-selected="true">--Select Pisc--</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_SECTION_PARENT"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="sectionToCreate.parent_id"
                                    class="form-control select-search2" name="parent_id" select-search>
                                <option value="" selected translate="SELECT_PARENT"></option>
                                <option ng-repeat="parent in sectionParents" value="{{parent.id}}">{{parent.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Sector *</label>
                        <div class="col-sm-9">
                            <select name="sector_id" class="form-control select-search3"
                                    ng-model="sectionToCreate.sector_id"
                                    ng-options="s.id as s.name for s in sectors" >
                                <option value="" ng-selected="true">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input  ng-min="1" name="sort_order" type="number" ng-model="sectionToCreate.sort_order" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectionForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger"
                                      ng-show="createSectionForm.sort_order.$error.min"
                                      translate="VALIDATION_MIN"
                                ></span>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>
