<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="MODAL_TITLE_EDIT_SECTION"></h5>
      </div>
      <form action="#" class="form-horizontal" name="updateSectionForm">
        <div class="modal-body">

          <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined"
                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              {{errorMessage | translate}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3"><span translate="LABEL_NAME"></span><span>*</span></label>
            <div class="col-sm-9">
              <input ng-required="true" name="name" type="text" ng-model="sectionToEdit.name" placeholder=""
                class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateSectionForm.name.$error.required"
                  translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="LABEL_CODE"></span><span>*</span>
            </label>
            <div class="col-sm-9">
              <input ng-required="true" name="code" type="text" ng-model="sectionToEdit.code" placeholder=""
                class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateSectionForm.code.$error.required"
                  translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="LABEL_SECTION_LEVEL"></span>
            </label>
            <div class="col-sm-9">
              <select ng-model="sectionToEdit.section_level_id"
                ng-options="level.id as level.name for level in sectionLevels"
                ng-change="loadParentSections(sectionToEdit.section_level_id)" class="form-control select-search1">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Sector *</label>
            <div class="col-sm-9">
              <select class="form-control select-search3" ng-model="sectionToEdit.sector_id"
                ng-options="s.id as s.name for s in sectors"
                ng-change="loadAdminHierarchy(sectionToEdit.sector_id)" >
                <option value="">--Select--</option>
              </select>
            </div>
          </div>

          <div ng-if="section_level">
            <div class="form-group">
              <label class="control-label col-sm-3">
                <span translate="LABEL_ADMIN_HIERARCHY"></span><span>*</span>
              </label>
              <div class="col-sm-9">
                <select ng-model="sectionToEdit.admin_id" ng-options="pisc.id as pisc.name for pisc in piscs"
                  class="form-control select-search2"
                  ng-change="loadAdminSection(sectionToEdit.admin_id)">
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="LABEL_SECTION_PARENT"></span><span>*</span>
            </label>
            <div class="col-sm-9">
              <select ng-model="sectionToEdit.parent_id"
                ng-options="parent.id as parent.name for parent in sectionParents" class="form-control select-search2">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
            <div class="col-sm-9">
              <input ng-min="1" name="sort_order" type="number" ng-model="sectionToEdit.sort_order" placeholder=""
                class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateSectionForm.sort_order.$error.required"
                  translate="VALIDATION_REQUIRED"></span>
                <span class="help-block text-danger" ng-show="updateSectionForm.sort_order.$error.min"
                  translate="VALIDATION_MIN"></span>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="application/javascript">
  $(".select-search1").select2();
  $(".select-search2").select2();
  $(".select-search3").select2();
</script>
