<div class="row">
  <div class="row">
    <div class="col-md-12">
      <uib-tabset active="active">
        <uib-tab index="0" heading="Planning Units">
          <!-- Multiple buttons -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">Sections</h6>
              <div class="heading-elements">
                <div class="heading-btn">
                  <button type="button" href class="btn btn-success" ng-click="create()"
                          translate="BTN_CREATE"></button>&nbsp;&nbsp;
                  <button type="button" href class="btn btn-info" ng-disabled="sectionNode.currentNode === undefined"
                          ng-click="edit(sectionNode.currentNode)" translate="EDIT_ACTION"></button>
                  <button type="button" href class="btn btn-danger" ng-disabled="sectionNode.currentNode === undefined"
                          ng-click="delete(sectionNode.currentNode.id)" translate="DELETE_ACTION"></button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" ng-model='sectionNodeSearchQuery' type="text"
                         placeholder="Search in tree..."/>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <div data-angular-treeview="true"
                       data-tree-id="sectionNode"
                       data-tree-model="sections"
                       data-node-id="id"
                       data-node-label="name"
                       data-node-children="child_sections"
                       data-search-query='sectionNodeSearchQuery'>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /multiple button -->
        </uib-tab>
        <uib-tab index="1" heading="Activate Planning Units">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">Sections</h6>
              <div class="heading-elements">
                <div class="heading-btn">
                  <button type="button" href class="btn btn-success" ng-disabled="sectionNode.currentNode === undefined"
                          ng-click="activate(sectionNode.currentNode)">Activate
                  </button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" ng-model='sectionNodeSearchQuery' type="text"
                         placeholder="Search in tree..."/>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <div data-angular-treeview="true"
                       data-tree-id="sectionNode"
                       data-tree-model="sectionsToActivate"
                       data-node-id="id"
                       data-node-label="name"
                       data-node-children="child_sections"
                       data-search-query='sectionNodeSearchQuery'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>


</div>
