<div class="modal-header bg-teal-400">
  <h3 class="modal-title"></h3>
</div>
<div class="modal-body">
  <div>
    <strong class="text-center">
      Please confirm you want to activate the following planning units
    </strong>
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <strong>{{sectionsPayload.admin_hierarchy_name}}</strong>
        <ul>
          <li ng-repeat="s in sectionsPayload.cost_center">{{s.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button ng-if="!inProgress" type="button" class="btn btn-info"
          data-ng-click="activate(); $event.stopPropagation()" translate="BTN_CONFIRM"></button>
  <button ng-if="!inProgress" type="button" class="btn btn-warning"
          data-ng-click="close(); $event.stopPropagation()" translate="BTN_CLOSE"></button>
</div>
