<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-default" ng-click="print()">
                        <i class="fa fa-print"></i>
                        <span translate="BTN_PRINT"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        <span translate="GROUP_BY"></span>
                    </div>
                    <select class="form-control select-search" ng-model="groupByOption" ng-change="loadData(groupByOption)"
                            ng-options="key as value for (key , value) in groupByOptions">
                        <option value="" selected="selected">-GROUP BY-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        <span translate="ADMIN_HIERARCHY"></span>
                    </div>
                    <select class="form-control select-search" ng-model="admin_hierarchy_id" ng-change="filterData(admin_hierarchy_id,groupByOption)"
                            ng-options="item.id as item.name for item in admin_hierarchies">
                        <option value="" selected="selected">-COUNCIL-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        <span translate="FINANCIAL_YEAR"></span>
                    </div>
                    <select class="form-control select-search"
                            ng-model="financial_year_id"
                            ng-change="filterDataByYear(admin_hierarchy_id,groupByOption,financial_year_id)"
                            ng-options="item.id as item.name for item in financialYears">
                        <option value="" selected="selected">-YEAR-</option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.length > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table ng-show="viewIndex === 1" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="COUNCIL"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{$index + 1}}</td>
                            <td>{{item.council}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 2" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="BUDGET_CLASS"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values) in items | groupBy:'council'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr  ng-repeat-start="item in values">
                            <td>{{$index + 1}}</td>
                            <td>{{item.budget_class}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(values)|currency:""}}</span></strong></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 3" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="SECTOR"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{$index + 1}}</td>
                            <td>{{item.sector}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 4" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="SECTOR"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values) in items | groupBy:'council'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr  ng-repeat-start="item in values">
                            <td>{{$index + 1}}</td>
                            <td>{{item.sector}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(values)|currency:""}}</span></strong></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 5" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="BUDGET_CLASS"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,items1) in items | groupBy:'council'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,items2) in items1 | groupBy:'sector'">
                            <td colspan="3" class="bg-teal-400">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="item in items2">
                            <td>{{$index + 1}}</td>
                            <td>{{item.budget_class}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(items2)|currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 6" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="COST_CENTRE"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values) in items | groupBy:'sector'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="item in values">
                            <td>{{$index + 1}}</td>
                            <td>{{item.cost_centre}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(values)|currency:""}}</span></strong></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 7" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="COST_CENTRE"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,items1) in items | groupBy:'council'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,items2) in items1 | groupBy:'sector'">
                            <td colspan="3" class="bg-teal-400">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="item in items2">
                            <td>{{$index + 1}}</td>
                            <td>{{item.cost_centre}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(items2)|currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <table ng-show="viewIndex === 8" class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="COST_CENTRE"></th>
                            <th translate="BUDGET_AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,items1) in items | groupBy:'council'">
                            <td colspan="3" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,items2) in items1 | groupBy:'sector'">
                            <td colspan="3" class="bg-teal-300">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,items3) in items2 | groupBy:'budget_class'">
                            <td colspan="3" class="bg-teal-500"><strong>{{s}}</strong></td>
                        </tr>
                        <tr ng-repeat-start="item in items3">
                            <td>{{$index + 1}}</td>
                            <td>{{item.cost_centre}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr  ng-repeat-end>
                            <td colspan="2"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(items3)|currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                        <tr>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotal()|currency:""}}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>