<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <form name="dataForm">
                    <div class="row">
                        <div ng-show="hierarchy_position==='1'">
                            <div class="col-md-4">
                                <select class="form-control" ng-change="loadChildren(a1)"
                                        ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-Admin Hierarchy-</option>
                                </select>
                            </div>
                            <div class="col-md-4" ng-show="a1.children.length">
                                <select class="form-control" ng-change="loadChildren(a2)"
                                        ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
                                </select>
                            </div>
                            <div class="col-md-4" ng-show="a2.children.length">
                                <select class="form-control"
                                        ng-model="dataItems.admin_hierarchy" ng-options="a3 as a3.name for a3 in a2.children">
                                </select>
                            </div>
                        </div>
                        <div ng-show="hierarchy_position==='2'">
                            <div class="col-md-4">
                                <select class="form-control selectLevel1" ng-change="loadChildren(a1)"
                                        ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                                </select>
                            </div>
                            <div class="col-md-4" ng-show="a1.children.length">
                                <select class="form-control" ng-change="loadChildren(a2)"
                                        ng-model="dataItems.admin_hierarchy" ng-options="a2 as a2.name for a2 in a1.children">
                                </select>
                            </div>
                        </div>
                        <div ng-show="hierarchy_position==='3'">
                            <div class="col-md-4">
                                <select class="form-control selectLevel1"
                                        ng-model="dataItems.admin_hierarchy" ng-change="resetYear()"
                                        ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-Administrative Hierarchy-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4" ng-show="dataItems.admin_hierarchy.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.financial_year" ng-change="resetType()"
                                    ng-options="a1 as a1.name for a1 in financialYears">
                                <option value="" selected="selected">-Financial Year-</option>
                            </select>
                        </div>
                        <div class="col-md-4" ng-show="dataItems.financial_year.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.type" ng-change="resetBudgetClass()"
                                    ng-options="key as value for (key , value) in reportTypes">
                                <option value="" selected="selected">-Type-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="dataItems.type > 0">
                            <select class="form-control"
                                    ng-model="dataItems.budget_class" ng-change="loadBudgetSummary(dataItems.admin_hierarchy,dataItems.budget_class,dataItems.financial_year,dataItems.type)"
                                    ng-options="key as value for (key , value) in budgetClasses">
                                <option value="" selected="selected">-Budget Class-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="dataItems.type > 0">
                            <button class="btn btn-success btn-block" ng-click="printDIV('printableArea')">
                                <i class="fa fa-print"></i> <span translate="PRINT"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <!--REVENUE-->
                            <table class="table table-bordered table-striped" id="printableArea" ng-show="dataItems.type==='1' && items.length > 0">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th rowspan="2" translate="SNO"></th>
                                    <th rowspan="2" translate="SECTOR"></th>
                                    <th colspan="2" translate="APPROVED_REVENUE"></th>
                                    <th colspan="2" translate="ACTUAL_REVENUE"></th>
                                </tr>
                                <tr>
                                    <th translate="OWN_SOURCE"></th>
                                    <th translate="GRANTS"></th>
                                    <th translate="OWN_SOURCE"></th>
                                    <th translate="GRANTS"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in items">
                                    <td>{{$index + 1}}</td>
                                    <td><span>{{row.sector}}</span></td>
                                    <td><span class="pull-right">{{row.own_source|currency:''}}</span></td>
                                    <td><span class="pull-right">{{row.grants|currency:''}}</span></td>
                                    <td><span class="pull-right">{{row.own_source_actual|currency:''}}</span></td>
                                    <td><span class="pull-right">{{row.grants_actual|currency:''}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Total</strong></td>
                                    <td>
                                        <span class="pull-right">
                                            <strong>{{columnTotalApprovedOwnSource()|currency:''}}</strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="pull-right">
                                            <strong>{{columnTotalApprovedGrants()|currency:''}}</strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="pull-right">
                                            <strong>{{columnTotalActualOwnSource()|currency:''}}</strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="pull-right">
                                            <strong>{{columnTotalActualGrants()|currency:''}}</strong>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
