<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <form name="dataForm">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" name="historical_data_table"
                                    ng-model="historical_data_table" ng-change="resetHierarchy(historical_data_table)"
                                    ng-options="historical_data_table as historical_data_table.name for historical_data_table in historicalDataTables">
                                <option value="" selected="selected">-Data Table-</option>
                            </select>
                        </div>
                        <div ng-show="hierarchy_position==='1' && historical_data_table.id > 0">
                            <div class="col-md-2">
                                <select class="form-control" ng-change="loadChildren(a1)"
                                        ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-Admin Hierarchy-</option>
                                </select>
                            </div>
                            <div class="col-md-2" ng-show="a1.children.length">
                                <select class="form-control" ng-change="loadChildren(a2)"
                                        ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
                                </select>
                            </div>
                            <div class="col-md-2" ng-show="a2.children.length">
                                <select class="form-control"
                                        ng-model="dataItems.admin_hierarchy" ng-change="resetYear()" ng-options="a3 as a3.name for a3 in a2.children">
                                </select>
                            </div>
                        </div>
                        <div ng-show="hierarchy_position==='2' && historical_data_table.id > 0">
                            <div class="col-md-2">
                                <select class="form-control selectLevel1" ng-change="loadChildren(a1)"
                                        ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                                </select>
                            </div>
                            <div class="col-md-2" ng-show="a1.children.length">
                                <select class="form-control" ng-change="loadChildren(a2)"
                                        ng-model="dataItems.admin_hierarchy" ng-change="resetYear()" ng-options="a2 as a2.name for a2 in a1.children">
                                </select>
                            </div>
                        </div>
                        <div ng-show="hierarchy_position==='3' && historical_data_table.id > 0">
                            <div class="col-md-2">
                                <select class="form-control selectLevel1"
                                        ng-model="dataItems.admin_hierarchy" ng-change="resetYear()"
                                        ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                                    <option value="" selected="selected">-Administrative Hierarchy-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4" ng-show="dataItems.admin_hierarchy.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.sector" ng-change="loadDepartments(dataItems.sector.id)"
                                    ng-options="a1 as a1.name for a1 in sectors">
                                <option value="" selected="selected">-Sector-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="dataItems.sector.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.department" ng-change="loadCostCentres(dataItems.department.id)"
                                    ng-options="a1 as a1.name for a1 in departments">
                                <option value="" selected="selected">-Department-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="dataItems.department.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.section" ng-change="loadFundSources(dataItems.sector.id,dataItems.section.id)"
                                    ng-options="a1 as a1.name for a1 in sections">
                                <option value="" selected="selected">-Cost Centre-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="dataItems.section.id > 0">
                            <select class="form-control"
                                    ng-model="dataItems.fund_source"
                                    ng-change="loadRows(dataItems.admin_hierarchy,historical_data_table,dataItems.fund_source,dataItems.sector,dataItems.department,dataItems.section)"
                                    ng-options="fs as fs.name for fs in fundSources">
                                <option value="" selected="selected">-Fund Source-</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="items.total > 0">
                            <button type="button" class="btn btn-success btn-block pull-right"
                                    ng-click="saveValues(currentPage,perPage,searchString)">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > 0 ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Council:</strong> {{council}}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Fund Source:</strong> {{dataItems.fund_source.name}}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Financial Year:</strong> {{financial_year_name}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Sector:</strong> {{dataItems.sector.name}}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Department:</strong> {{dataItems.department.name}}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="pull-left"><strong>Cost Centre:</strong> {{dataItems.section.name}}</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="scroller">
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-teal-400">
                                    <tr>
                                        <th translate="SNO"></th>
                                        <th>Item</th>
                                        <th ng-repeat="col in dataColumns">
                                            {{col.name}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="input-group" ng-show="dataItems.section_id > 0">
                                                <input type="text" class="form-control col-xs-4" ng-model="searchString" placeholder="Search ..." ng-change="search(searchString)"/>
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </td>
                                        <td ng-repeat="col in dataColumns">
                                            <strong>{{columnTotal(col.id)|currency:''}}</strong>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="row in items.data">
                                        <td>{{$index + 1}}</td>
                                        <td><span>[{{row.code}}] - {{row.name}}</span></td>
                                        <td ng-repeat="column in dataColumns" class="input">
                                            <input type="text" numbers-only ng-model="dataItems.values[row.id][column.id]"
                                                   class="form-control"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><strong>Total</strong></td>
                                        <td ng-repeat="col in dataColumns">
                                            <strong>{{columnTotal(col.id)|currency:''}}</strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10" ng-show="items.total > 0">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2" ng-show="items.total > 0">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
