<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="LINK_INTERVENTION_CATEGORIES"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createBodInterventionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <h5>{{bodlistname}}</h5>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>
                                        <label>Intervention Category</label>
                                        <select ng-model="bodInterventionToCreate.intervention_category_id"
                                                ng-change="loadInterventions(bodInterventionToCreate.intervention_category_id)"
                                                class="form-control text-tal-400">
                                            <option ng-class="{'intervention_categories':ic.child_intervention_categories.length >0}"
                                                    value="{{ic.id}}"
                                                    ng-repeat-start="ic in intervention_categories">
                                                <strong>{{ic.name}}</strong></option>

                                            <option ng-class="{'intervention_categories':ic2.child_intervention_categories.length >0}"
                                                    value="{{ic2.id}}"
                                                    ng-repeat-start="ic2 in ic.child_intervention_categories"><span
                                                    ng-if="ic.child_intervention_categories.length >0">&nbsp;&nbsp;</span>{{ic2.name}}
                                            </option>

                                            <option value="{{ic3.id}}" ng-repeat-end ng-repeat="ic3 in ic2.children">
                                                <span ng-if="ic.child_intervention_categories.length >0">&nbsp;&nbsp;</span>
                                                <span ng-if="ic2.child_intervention_categories.length >0">&nbsp;&nbsp;</span>
                                                {{ic3.name}}
                                            </option>
                                            <option ng-if="false" ng-repeat-end=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Intervention</label>
                                        <select class="form-control" multiple="multiple"
                                                ng-model="bodInterventionToCreate.intervention_id"
                                                name="intervention_id"
                                                ng-options="interv.id as (interv.description+' - '+interv.number) for interv in interventions">
                                            <option value="" ng-selected="true">-Intervention-</option>
                                        </select>
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td>
                                        <label>Fund Source</label>
                                        <select class="form-control select-search2"
                                                ng-model="bodInterventionToCreate.fund_source_id"
                                                name="bod_version_id"
                                                ng-options="fs.id as fs.name for fs in fund_sources">
                                            <option value="" ng-selected="true">{{'NO_FUND_SOURCES'|translate}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label>Formula Type</label>
                                        <select ng-model="bodInterventionToCreate.formula_type"
                                                class="form-control">
                                            &lt;!&ndash;<option class="formulas" value="" ng-selected="true">{{'FORMULAS'|translate}}</option>&ndash;&gt;
                                            <option value="VALUE"  translate="Value"></option>
                                            <option value="PERCENTAGE"  translate="Percentage"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Formula</label>
                                        <input ng-required="true" name="formula" type="number"
                                               ng-model="bodInterventionToCreate.formula" placeholder="" class="form-control">
                                        <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createBodInterventionForm.formula.$error.required"
                                              translate="VALIDATION_REQUIRED"></span></div></td>
                                    <td>
                                        <label>Arithmetic Operator</label>
                                        <select ng-model="bodInterventionToCreate.arithmetic_operator"
                                                class="form-control">
                                            <option value="+"  translate="Add"></option>
                                            <option value="-"  translate="Subtract"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="store()"  translate="ADD_LINK"></button>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="store()"
                                                translate="ADD_LINK"></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <blockquote class="blockquote">
                                <p class="mb-0">Intervention Categories Link with <b>{{bodlistname}}</b></p>
                                <footer class="blockquote-footer"><cite title="Source Title">
                                    Click Remove To Delete one</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="holder" style="height: 200px;overflow-y: scroll">
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-teal-400">
                                    <tr>
                                        <th translate="TH_NO"></th>
                                        <th translate="INTERVENTION"></th>
                                        <!--<th translate="TH_FUND_SOURCE"></th>
                                        <th nowrap="true" translate="TH_ARITHMETIC_OPERATOR"></th>
                                        <th translate="TH_FORMULA"></th>
                                        <th nowrap="true" translate="TH_FORMULA_TYPE"></th>-->
                                        <th translate="TH_ACTION"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="bodIntervention in bodInterventions">
                                        <td>{{$index + 1}}</td>
                                        <td>{{bodIntervention.intervention.description}} -
                                            {{bodIntervention.intervention.number}}
                                        </td>
                                        <!--<td>{{bodIntervention.fund_source.name}}</td>
                                        <td>{{bodIntervention.arithmetic_operator}}</td>
                                        <td>{{bodIntervention.formula}}</td>
                                        <td>{{bodIntervention.formula_type}}</td>-->
                                        <td nowrap="nowrap">

                                            <a href class="btn btn-danger"
                                               ng-click="delete(bodIntervention.id,currentPage,perPage)">
                                                <i class="fa fa-remove"></i>
                                                <span translate="DELETE_ACTION"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="close()" translate="FINISH"></button>
                    <!-- <button type="button" class="btn btn-warning" ng-click="close()">Close</button> -->
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/core/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/form_validation.js"></script>