<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_BUDEN_OF_DESEAS_VERSION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createBodVersionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="START_FINANCIAL_YEAR"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodVersionToCreate.start_financial_year_id"
                                        name="start_financial_year_id"
                                        ng-options="sfy.id as sfy.start_date for sfy in financial_years">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodVersionForm.start_financial_year_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="END_FINANCIAL_YEAR"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodVersionToCreate.end_financial_year_id"
                                        name="end_financial_year_id"
                                        ng-options="efy.id as efy.end_date for efy in financial_years">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodVersionForm.end_financial_year_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="REFERENCE_DOCUMENT"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodVersionToCreate.reference_doc"
                                        name="reference_doc"
                                        ng-options="rd.id as rd.name for rd in reference_documents">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodVersionForm.reference_doc.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="BURDEN_OF_DESEAS_VALUE"></span>
                            </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="bod_value" type="number"
                                       ng-model="bodVersionToCreate.bod_value" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodVersionForm.bod_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="BOD_LIST"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="bodVersionToCreate.bod_list_id"
                                        name="bod_list_id"
                                        ng-options="bl.id as bl.name for bl in bod_lists">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBodVersionForm.bod_list_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>