    <md-content class="md-default-theme">
        <div class="spacer"></div>
        <form name="form" class="ab-form" layout="column" novalidate>
            <div ng-repeat="data in form_data">
                <md-content layout-padding layout="row">
                    <md-input-container flex>
                        <!--If the input type is Text then-->
                        <div ng-if="data.input_type === 'Number'">
                            <p> <b>{{data.question_number + " "}}</b>{{ data.description }} </p>
                            <input type="number"
                                   name="name"
                                   placeholder=""
                                   ng-model="data.value"
                                   ng_value="data.value"
                                   aria-label="{{ questions_values.project_data_form_question.description }}"
                                   autocomplete="off"
                                   required/>
                        </div>


                        <!--If the input type is radio then-->
                        <div ng-if="data.input_type === 'text'">
                            <p> <b>{{data.question_number + " "}}</b>{{ data.description }} </p>
                            <input type="text"
                                   name="name"
                                   ng-model="data.value"
                                   aria-label="{{ data.description }}"
                                   autocomplete="off"
                                   required/>
                        </div>

                        <!--If the input type is a date then-->
                        <div ng-if="data.input_type === 'date'">
                            <p> <b>{{data.question_number + " "}}</b>{{ data.description }} </p>
                            <md-datepicker
                                    ng-model="data.value"
                                    aria-label="{{ data.description }}"
                                    md-min-date="minDate"
                                    md-max-date="maxDate" required>
                            </md-datepicker>
                        </div>
                    </md-input-container>
                </md-content>

                <!--If the input type is select then-->
                <div ng-if="data.input_type === 'checkbox'">
                    <md-input-container flex>
                        <p> <b>{{data.question_number + " "}}</b>{{ data.description }} </p>
                        <md-radio-group layout="column" ng-model="data.value">
                            <md-radio-button ng-repeat="option in data.select_options"
                                             ng-value="option.option_value"
                                             aria-label = "{{option.description}}"
                                             class="md-primary">{{option.label}}
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>

            </div>
        </form>