<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="showAlertSuccess===true" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            {{successMessage}}
        </div>
    </div>
    <div ng-show="showAlertError===true" class="col-md-12">
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            {{errorMessage}}
        </div>
    </div>
</div>
<div class="row" id="toggleDivWrapper">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
    <div class="col-md-3">
        <div class="form-group">
            <select aria-label="system_code" class="form-control" ng-model="system_code" ng-options="key as value for (key , value) in system_codes" >
                <option value="">-Financial System-</option>
            <select>
        </div>
    </div>
    <div class="col-md-3" ng-show="system_code">
        <div class="form-group">
            <select ng-model="segment_id" ng-change="loadData(segment_id)" class="form-control"
                    ng-options="key as value for (key , value) in segments">
                <option value="">-Select Segment-</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 pull-right" ng-show="segment_id==='1'">
        <button type="button" class="btn btn-info" ng-click="exportAllFacilities()">
            <i class="fa fa-tick"></i>
            Export All Service Providers At Once
        </button>
    </div>
</div>
<div class="row" ng-show="showFacilities===true">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control selectLevel6" name="facility_type_id"
                        ng-model="facilityType" ng-change="resetHierarchy()"
                        ng-options="item as item.name for item in facilityTypes">
                    <option value="" selected="selected">-SERVICE PROVIDER TYPE-</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control selectLevel1" ng-change="loadChildren(a1,facilityType)"
                        ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                    <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                </select>
            </div>
            <div class="col-md-2" ng-show="a1.children.length">
                <select class="form-control selectLevel2" ng-change="loadChildren(a2,facilityType)"
                        ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
                </select>
            </div>
            <div class="col-md-2" ng-show="a2.children.length">
                <select class="form-control selectLevel3" ng-change="loadChildren(a3,facilityType)"
                        ng-model="a3" ng-options="a3 as a3.name for a3 in a2.children">
                </select>
            </div>
            <div class="col-md-2" ng-show="a3.children.length">
                <select class="form-control selectLevel4" ng-change="loadChildren(a4,facilityType)"
                        ng-model="a4" ng-options="a4 as a4.name for a4 in a3.children">
                </select>
            </div>
            <div class="col-md-2" ng-show="a4.children.length">
                <select class="form-control selectLevel5" ng-change="loadChildren(a5,facilityType)"
                        ng-model="a5" ng-options="a5 as a5.name for a5 in a4.children">
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row" ng-show="facilities.length > 0">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary" ng-click="exportSelectedFacilities()" ng-show="selectedFacilities.length > 0">
                                <i class="fa fa-tick"></i>
                                {{selectedFacilities.length}}<span ng-show="selectedFacilities.length === 1"> Service Provider</span> <span ng-show="selectedFacilities.length > 1">Service Provider</span> Selected - Export Selected
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th>No.</th>
                                    <th translate="TH_FACILITY_CODE"></th>
                                    <th translate="TH_NAME"></th>
                                    <th translate="WARD_CODE"></th>
                                    <th translate="PHONE_NUMBER"></th>
                                    <th translate="EMAIL"></th>
                                    <th translate="BANK_ACCOUNTS"></th>
                                    <th translate="TH_STATUS"></th>
                                    <th translate="RESPONSE"></th>
                                    <th>
                                        Select
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat-start="(s,values) in facilities | groupBy:'facility_type.name'">
                                    <td colspan="10" class="bg-info">{{s}}</td>
                                </tr>
                                <tr ng-repeat-end ng-repeat="item in values">
                                    <td>{{$index + 1}}</td>
                                    <td nowrap>{{item.facility_code}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.admin_hierarchy.ward_code}}</td>
                                    <td>{{item.phone_number}}</td>
                                    <td>{{item.email}}</td>
                                    <td>
                                        <ul ng-show="item.bank_accounts.length > 0">
                                            <li ng-repeat="itm in item.bank_accounts">
                                                {{itm.account_number}} - {{itm.account_name}} - {{itm.bank}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <span ng-class="item.exported_to_muse?'text-success':'text-warning'">{{item.exported_to_muse?"EXPORTED":"NOT-EXPORTED"}}</span>
                                    </td>
                                    <td>{{item.muse_response}}</td>
                                    <td>
                                        <input type="checkbox" ng-model="item.selected"  ng-change="toggleFacility(item)">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showSubBudgetClasses===true">
    <div class="col-md-12">
        <div class="row" ng-show="subBudgetClasses.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedSubBudgetClasses()" ng-show="selectedSubBudgetClasses.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedSubBudgetClasses.length}}<span ng-show="selectedSubBudgetClasses.length === 1">Sub-Budget Class</span> <span ng-show="selectedSubBudgetClasses.length > 1">Sub-Budget Classes</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllSubBudgetClasses()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="CODE"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in subBudgetClasses">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <span ng-class="item.exported_to_ffars?'text-success':'text-warning'">{{item.exported_to_ffars?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.ffars_response}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleSubBudgetClass(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showFundTypes===true">
    <div class="col-md-12">
        <div class="row" ng-show="fundTypes.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedFundTypes()" ng-show="selectedFundTypes.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedFundTypes.length}}<span ng-show="selectedFundTypes.length === 1">Fund Type</span> <span ng-show="selectedFundTypes.length > 1">Fund Types</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllFundTypes()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="CODE"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in fundTypes">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.current_budget_code}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <span ng-class="item.exported_to_ffars?'text-success':'text-warning'">{{item.exported_to_ffars?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.ffars_response}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleFundType(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showFundSources===true">
    <div class="col-md-12">
        <div class="row" ng-show="fundSources.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedFundSources()" ng-show="selectedFundSources.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedFundSources.length}}<span ng-show="selectedFundSources.length === 1">Fund Source</span> <span ng-show="selectedFundSources.length > 1">Fund Sources</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllFundSources()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="CODE"></th>
                            <th translate="NAME"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="FUND_TYPE_CODE"></th>
                            <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in fundSources">
                            <td>{{$index + 1}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.fund_source_category.fund_type.current_budget_code}}</td>
                            <td>
                                <span ng-class="item.exported_to_ffars?'text-success':'text-warning'">{{item.exported_to_ffars?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.ffars_response}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleFundSource(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showProjects===true">
    <div class="col-md-12">
        <div class="row" ng-show="projects.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedProjects()" ng-show="selectedProjects.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedProjects.length}}<span ng-show="selectedProjects.length === 1"> Project</span> <span ng-show="selectedProjects.length > 1">Projects</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllProjects()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="CODE"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in projects">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <span ng-class="item.exported_to_muse?'text-success':'text-warning'">{{item.exported_to_muse?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.muse_response}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleProject(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showGFSCodes===true">
    <div class="col-md-12">
        <div class="row" ng-show="gfsCodes.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedGfsCodes()" ng-show="selectedGfsCodes.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedGfsCodes.length}}<span ng-show="selectedGfsCodes.length === 1"> GFS Code</span> <span ng-show="selectedGfsCodes.length > 1">GFS Codes</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllGfsCodes()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="GFS_CODE"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat-start="(s,values) in gfsCodes | groupBy:'account_type.name'">
                            <td colspan="6" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in values">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <span ng-class="item.exported_to_ffars?'text-success':'text-warning'">{{item.exported_to_ffars?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.ffars_response}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleGfsCode(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showObjectives===true">
    <div class="col-md-12">
        <div class="row" ng-show="objectives.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button ng-disabled="true" type="button" class="btn btn-primary" ng-click="exportSelectedObjectives()" ng-show="selectedObjectives.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedObjectives.length}}<span ng-show="selectedObjectives.length === 1"> Objective</span> <span ng-show="selectedObjectives.length > 1">Objectives</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllObjectives()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="OBJECTIVE_CODE"></th>
                            <th translate="OBJECTIVE_DECRIPTION"></th>
                            <th translate="TARGET_CODE"></th>
                            <th translate="TARGET_DESCRIPTION"></th>
                            <!-- <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th> -->
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in objectives">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.objcode}}</td>
                            <td>{{item.objdescription}}</td>
                            <td>{{item.targetcode}}</td>
                            <td>{{item.targetdescription}}</td>
                            <!-- <td>
                                <span ng-class="item.exported_to_muse?'text-success':'text-warning'">{{item.exported_to_muse?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.muse_response}}</td> -->
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleObjective(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showInstitutionEmployees===true">
    <div class="col-md-12">
        <div class="row" ng-show="institutionEmployees.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button ng-disabled="true" type="button" class="btn btn-primary" ng-click="exportSelectedInstitutionEmployees()" ng-show="selectedInstitutionEmployees.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedInstitutionEmployees.length}}<span ng-show="selectedInstitutionEmployees.length === 1"> Objective</span> <span ng-show="selectedInstitutionEmployees.length > 1">Objectives</span> Selected - Export Selected
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exportAllInstitutionEmployees()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TR Number"></th>
                            <th translate="Institution Name"></th>
                            <th translate="Number of Employees"></th>
                            <!-- <th translate="TH_STATUS"></th>
                            <th translate="RESPONSE"></th> -->
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in institutionEmployees">
                            <td>{{$index + 1}}</td>
                            <td nowrap>{{item.trnumber}}</td>
                            <td>{{item.institutionname}}</td>
                            <td>{{item.noofemployees}}</td>
                            <!-- <td>
                                <span ng-class="item.exported_to_muse?'text-success':'text-warning'">{{item.exported_to_muse?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                            <td>{{item.muse_response}}</td> -->
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleInstitutionEmployees(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showActivities===true">
    <div class="col-md-12">
        <div class="row" ng-show="activities.length > 0">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="exportSelectedActivities()" ng-show="selectedActivities.length > 0">
                        <i class="fa fa-upload"></i>
                        {{selectedActivities.length}}
                      <span ng-show="selectedActivities.length === 1"> Activity </span>
                      <span ng-show="selectedActivities.length > 1"> Activities</span> Selected - (Export Selected)
                    </button>

                  <button type="button" class="btn btn-primary" ng-click="exportAllActivities()">
                        <i class="fa fa-upload"></i> Export All
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="activities.length > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <!-- <th translate="FACILITY"></th>
                            <th translate="PROJECT"></th> -->
                            <th translate="ACTIVITY_CODE"></th>
                            <th translate="ACTIVITY"></th>
                            <!-- <th translate="SUB_BUDGET_CLASS"></th> -->
                            <!-- <th translate="TH_STATUS"></th> -->
                            <!-- <th translate="APPLY_DATE"></th>
                            <th translate="RESPONSE"></th> -->
                            <th>
                                Select
                            </th>
                        </tr>
                        </thead>
                        <tbody>
<!--                        <tr ng-repeat-start="(s,values) in activities.data | groupBy:'admin_hierarchy'">-->
<!--                            <td colspan="10" class="bg-info">Area: {{s}}</td>-->
<!--                        </tr>-->
<!--                        <tr ng-repeat-start="(t,values1) in values | groupBy:'facility_type'">-->
<!--                            <td colspan="10" class="bg-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facility Type: {{t}}</td>-->
<!--                        </tr>-->
                        <tr ng-repeat="item in activities">
                            <td>{{$index + 1}}</td>
                            <!-- <td>{{item.facility_code}} - {{item.facility}}</td>
                            <td>{{item.project_code}} - {{item.project}}</td> -->
                            <td>{{(item.code).substring(0,1)+(item.code).substring(3,8)}}</td>
                            <td>{{item.description}}</td>
                            <!-- <td>{{item.sub_budget_class_code}} - {{item.budget_class}}</td> -->
                            <!-- <td>
                                <span ng-class="item.delivered_to_muse?'text-success':'text-warning'">{{item.exported_to_muse?"EXPORTED":"NOT-EXPORTED"}}</span>
                            </td>
                          <td>{{item.apply_date|date:'MMM, dd yyyy'}}</td>
                          <td>{{item.muse_response}}</td> -->
                            <td>
                                <input type="checkbox" ng-model="item.selected"  ng-change="toggleActivity(item,budgetType)">
                            </td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10" ng-show="activities.total > activities.per_page">
                <ul uib-pagination total-items="activities.total" max-size="maxSize" class="pagination-sm pull-left" 
                   boundary-links="true" num-pages="numPages" items-per-page="activities.per_page"
                    ng-model="currentPage"
                    ng-change="pageChangedAct()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ activities.total }}" perPage="{{ activities.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChangedAct()"></per-page>
            </div>
        </div>
    </div>
</div>
