<breadcrumb title="{{title}}">
</breadcrumb>
<div layout="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
</div>
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS', 'FINANCIAL_YEAR']" on-change="filterChanged(filter)"></main-filter>
<div layout="row">
  <div layout="column" flex='25' ng-show="selectedAdminHierarchyId > 0">
    <md-input-container>
      <label>Financial Year</label>
      <md-select aria-label="Financial Year" ng-model="financialYear">
        <md-option ng-repeat="item in financialYears" ng-value="item">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" flex=25 ng-show="financialYear.id > 0">
    <md-input-container>
      <label>Financial System</label>
      <md-select aria-label="system_code" ng-model="system_code" ng-change="loadTransaction()">
        <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
      </md-select>
    </md-input-container>
  </div>
</div>
<div layout="row" ng-show="items.total > 0">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="bg-teal-400">
        <tr>
          <th translate="DATE"></th>
          <th translate="FROM_COA"></th>
          <th translate="TO_COA"></th>
          <th translate="AMOUNT"></th>
          <th translate="APPROVED"></th>
          <th translate="QUEUE"></th>
          <th translate="DELIVERED"></th>
          <th translate="RESPONSE"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items.data">
          <td nowrap>{{ item.created_at }}</td>
          <td nowrap>{{ item.from_chart_of_accounts }}</td>
          <td nowrap>{{ item.to_chart_of_accounts }}</td>
          <td>{{ item.amount|currency:'' }}</td>
          <td>{{ item.is_approved?'true':'false' }}</td>
          <td>{{ item.queue_name }}</td>
          <td>{{ item.is_delivered?'true':'false' }}</td>
          <td>{{ item.response}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <div class="row" ng-show="items.total > items.per_page">
      <div class="col-md-10">
        <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
            boundary-links="true"
            num-pages="numPages" items-per-page="items.per_page"
            ng-model="currentPage"
            ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                     perPage="{{ items.per_page }}"></total-pages>
      </div>
      <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
      </div>
    </div>
  </div>
</div>
