<style>
    #wrapper {
        padding-top: 10px;
        width: 100%;
        overflow: hidden;
    }
    #lhs {
        width: 16%;
        float:left;
    }
    #rhs {
        width: 84%;
        height: 140px;
        float: left;
    }

    #reportHeading {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        font-family: "Book Antiqua",Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #tableName {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    #councilName {
        font-size: 20px;
        text-align: center;
    }
</style>

<div id="wrapper"></div>
<div id="lhs"><img src="/images/coa.png" width="120" height="140" /></div>
<div id="rhs">
    <div id="reportHeading">{{ casPlanContentHeading.description }}</div>
    <div id="tableName">{{ RECEIVED_FUNDS | translate }}</div>
    <div id="councilName">{{ COUNCIL | translate }} </div>
</div>
<div translate="COUNTRY_NAME"></div>
