<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_MAIN_GROUP_FUND_SOURCE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBdcMainGroupFundSourceForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="MAIN_GROUP"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search1"
                                    ng-model="mainGroupFundSourceToEdit.main_group_id"
                                    name="main_group_id"
                                    ng-options="exp.id as (exp.name+'['+exp.sector.name+']') for exp in mainGroups">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBdcMainGroupFundSourceForm.main_group_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="FUND_SOURCE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="mainGroupFundSourceToEdit.fund_source_id"
                                    name="fund_source_id"
                                    ng-options="exp.id as exp.name for exp in fundSources">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBdcMainGroupFundSourceForm.fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="BUDGET_PERCENT"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="budget_percent" type="text"
                                   ng-model="mainGroupFundSourceToEdit.budget_percent" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBdcMainGroupFundSourceForm.budget_percent.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="REFERENCE_DOCUMENT"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search3"
                                    ng-model="mainGroupFundSourceToEdit.reference_document_id"
                                    name="reference_document_id"
                                    ng-options="exp.id as exp.name for exp in reference_docs">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBdcMainGroupFundSourceForm.reference_document_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>