<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="MAIN_GROUP"></th>
                            <th translate="TH_FINANCIAL_YEAR"></th>
                            <th translate="FUND_SOURCE"></th>
                            <th translate="REFERENCE_DOCUMENT"></th>
                            <th translate="PERCENT"></th>
                            <th translate="TH_IS_ACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mainGroupFundSource in mainGroupFundSources.data">
                            <td>{{$index + 1}}</td>
                            <td>{{mainGroupFundSource.bdc_main_group.name}}</td>
                            <td>{{mainGroupFundSource.financial_year.name}}</td>
                            <td>{{mainGroupFundSource.fund_source.name}}</td>
                            <td>{{mainGroupFundSource.reference_document.name}}</td>
                            <td>{{mainGroupFundSource.budget_percent}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="mainGroupFundSource.is_active" ng-model="mainGroupFundSource.is_active"
                                           ng-change="toggleActive(mainGroupFundSource.id, mainGroupFundSource.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(mainGroupFundSource,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(mainGroupFundSource.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="mainGroupFundSources.total > mainGroupFundSources.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="mainGroupFundSources.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="mainGroupFundSources.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ mainGroupFundSources.total }}" perPage="{{ mainGroupFundSources.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>