<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Basic select -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">Projection</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label translate="LABEL_FUND_SOURCE"></label>
                        <select name="fund_source_id" class="form-control select-search2"
                                ng-model="projectionToCreate.fund_source_id"
                                ng-change="amountDiv(projectionToCreate.fund_source_id)"
                                ng-options="fs.id as fs.name for fs in fundSources">
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="totalGfsCodes > 0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="page-title">{{ fundSourceTitle }}</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th translate="TH_GFS_CODE"></th>
                                            <th ng-repeat="period in periods">
                                                {{ period.name }} (TZS)
                                            </th>
                                            <th translate="TH_TOTAL_TZS"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="gfs_code in projectionToCreate.gfsCodes" ng-init="gfs_code.subTotal=0">
                                            <td>
                                                {{'['+gfs_code.code+']'+gfs_code.name}}
                                            </td>
                                            <td ng-repeat="period in periods">
                                                <input type="text" number-to-currency name="amount[]" class="form-control inputFieldAmount"
                                                       ng-init="gfs_code.amount[period.id]=getValue(gfs_code.id,period.id)"
                                                       ng-model="gfs_code.amount[period.id]" readonly/>
                                            </td>
                                            <td>
                                                <input type="text" name="subTotal" class="form-control" ng-value="periodTotal(gfs_code)"
                                                       readonly/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td ng-repeat="period in periods"></td>
                                            <td>
                                                <input type="text" class="form-control" value="0" id="TotalSum" readonly/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-info btn-lg"  ng-href="/report/projection/{{fund_source_id}}">
                                    <i class="fa fa-download"></i> Download
                                </a>
                                <a class="btn btn-success btn-lg"  ng-href="/report/projection/all">
                                    <i class="fa fa-download"></i> Download All
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /basic select -->
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>
