<div class="modal-dialog modal-facility">
    <form action="#" class="form-horizontal" name="updateFacilityForm" novalidate>
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_FACILITY"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="errorMessage">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                                <ul ng-show="errors.length" class="form-errors">
                                    <li ng-repeat="e in errors">{{e}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Name *</label>
                                <input ng-required="true" name="name" type="text" ng-model="facilityToEdit.name"
                                    placeholder="e.g Institute of Finance Management" class="form-control">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="PISCs"></span>
                                </label>
                                <input ng-disabled="true" style="background-color: darkgray;"
                                    ng-model="ServiceProviderParent.name" name="name" type="text"
                                    placeholder="e.g TANESCO" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Service Provider</label>
                                <select style="background-color: darkgray;" ng-disabled="true" name="facility_type_id"
                                    class="form-control select-search" ng-model="facilityToEdit.facility_type_id"
                                    ng-options="f.id as (f.name) for f in facilityTypes">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Postal Address</label>
                                <input name="postal_address" type="text" ng-model="facilityToEdit.postal_address"
                                    placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Code</label>
                                <input style="background-color: darkgray;" ng-disabled="true" ng-required="true"
                                    ng-model="facilityToEdit.facility_code" name="facility_code" type="text"
                                    placeholder="" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="REGION"></span>
                                </label>
                                <select name="region_id" class="form-control"
                                    ng-change="loadWards(facilityToEdit.region_id)" ng-model="facilityToEdit.region_id"
                                    ng-options="r.id as (r.name) for r in regions">
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Ownership</label>
                                    <select name="facility_ownership_id" class="form-control select-search-a"
                                        ng-model="facilityToEdit.facility_ownership_id"
                                        ng-options="ah.id as ah.name for ah in facilityOwnerships">
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Email</label>
                                <input name="email" type="text" ng-model="facilityToEdit.email" placeholder=""
                                    ng-pattern="emailFormat" placeholder="example@gmail.com" class="form-control" />
                                <span ng-show="updateFacilityForm.email.$error.pattern" style="color:red">
                                    Invalid E-mail format.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="Council"></span>
                                </label>
                                <select name="geo_location_id" class="form-control"
                                    ng-model="facilityToEdit.geo_location_id"
                                    ng-options="c.id as (c.name) for c in councils">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Phone Number</label>
                                <input name="phone_number" type="text" ng-model="facilityToEdit.phone_number"
                                    ng-pattern="mobilePattern" placeholder="0765xxxxxx" class="form-control" />
                                <span ng-show="updateFacilityForm.phone_number.$error.pattern" style="color:red">
                                    Invalid mobile number.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
            </div>


        </div>
</div>
</form>
</div>