<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" >{{action | translate}}</h5>
            </div>

            <form action="#" class="form-horizontal" name="createData" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label><strong>Comments</strong></label>
                                    <textarea ng-model="comments" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createData.admin_hierarchy_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="save()" ng-if="comments !== undefined && comments !==''">
                        <i class=""></i>
                        Create
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="close()">
                        <i class="fa fa-close"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>