<breadcrumb title="{{title}}"></breadcrumb>
<main-filter on-change="filterChanged(filter)"></main-filter>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button ng-disabled="selectedReallocations.length === 0" ng-click="approve()" type="button" class="btn btn-info pull-right">
            Approve ({{selectedReallocations.length}}) Re-Allocations
        </button>
        <button ng-disabled="selectedReallocations.length === 0" ng-click="reject()" type="button" class="btn btn-warning pull-right">
            Reject ({{selectedReallocations.length}}) Re-Allocations
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="FROM_ACCOUNT"></th>
                            <th translate="Description"></th>
                            <th translate="TO_ACCOUNT"></th>
                            <th translate="Description"></th>
                            <th translate="AMOUNT"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(key , values) in budgetReallocationItems.data | groupBy:'budget_reallocation.reference_code'">
                            <td colspan="7">
                                <div><strong>Reference#:</strong> {{key}}</div>
                                <div><strong>Document:</strong>
                                     <a target="_blank" href = '{{values[0].budget_reallocation.document_url}}'>
                                        <i  class="fa fa-file-pdf-o" style="color:#ff510a" aria-hidden="true"></i>
                                        <span translate="DOWNLOAD"></span>
                                    </a></div>
                                <blockquote>
                                    {{values[0].budget_reallocation.comments}}
                                </blockquote>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in values">
                            <td>{{$index + 1}}</td>
                            <td>{{item.from_chart_of_accounts}}</td>
                            <td>{{item.from_gfs}}</td>
                            <td>{{item.to_chart_of_accounts}}</td>
                            <td>{{item.to_gfs}}</td>
                            <td>{{item.amount|currency:""}}</td>
                            <td nowrap="nowrap">
                                <input type="checkbox" ng-model="item.is_selected" ng-change="toggleToApprove(item)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="budgetReallocationItems.total > budgetReallocationItems.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="budgetReallocationItems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="budgetReallocationItems.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ budgetReallocationItems.total }}"
                             perPage="{{ budgetReallocationItems.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>