<breadcrumb title="{{title}}">
</breadcrumb>
<div layout="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
</div>
<div layout="row">
  <div layout="row" layout-xs="column" flex="50">
    <div flex >
      <md-input-container>
        <label>{{(adminLevels.length === 3)?'National':adminLevels[0].name}}</label>
        <md-select aria-label="Admin hierarchy"   ng-change="loadChildren(a1,adminLevel)" ng-model="a1" >
          <md-option ng-repeat=" a1 in [userAdminHierarchy]" ng-value="a1">{{a1.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    
    <div flex ng-show="a1.children.length ">
      <md-input-container>
        <label>{{adminLevels[1].name}}</label>
        <md-select aria-label="Admin hierarchy"  ng-change="loadChildren(a2,adminLevel)" ng-model="a2" >
          <md-option ng-repeat=" a2 in a1.children" ng-value="a2">{{a2.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex ng-show="a2.children.length">
      <md-input-container>
        <label>{{adminLevels[2].name}}</label>
        <md-select aria-label="Admin hierarchy" ng-change="loadChildren(a3,adminLevel)" ng-model="a3">
          <md-option ng-repeat=" a3 in a2.children" ng-value="a3">{{a3.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <div flex >
    <md-input-container>
      <label>Financial Year</label>
      <md-select aria-label="Financial Year"  ng-model="financialYear">
        <md-option ng-repeat=" fy in financialYears" ng-value="fy">{{fy.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
</div>
<div layout="row">
  <div layout="column" flex='25'>
    <md-input-container>
      <label>Service Provider Type</label>
      <md-select aria-label="Service Provider Types" ng-model="facilityType" ng-change="resetFacility(ward.id,facilityType.id)">
        <md-option ng-repeat="item in facilityTypes" ng-value="item">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" flex='25'>
    <md-input-container>
      <label>Ward</label>
      <md-select aria-label="Ward" ng-model="ward" ng-disabled="facilityType.code === '001'"
                 ng-change="loadFacilities(ward.id,facilityType.id)">
        <md-option ng-repeat="item in wards" ng-value="item">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" flex='25'>
    <md-input-container>
      <label>Service Provider</label>
      <md-select aria-label="Service Provider" ng-disabled="facilityType.code === '001'" ng-model="facility">
        <md-option ng-repeat="item in facilities" ng-value="item">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
</div>
<div layout="row">
  <div layout="column" flex=25>
    <md-input-container>
      <label>Financial System</label>
      <md-select aria-label="system_code" ng-model="system_code">
        <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" flex=25>
    <md-input-container>
      <label>Transaction type</label>
      <md-select aria-label="transaction_type" ng-model="transaction_type">
        <md-option ng-repeat="item in transaction_types" ng-value="item">{{item}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" flex=25>
    <md-dialog-actions>
      <md-button ng-show="facilityType.code === '001'" ng-disabled="(selectedAdminHierarchyLevelPosition != 3 || system_code == undefined
                || transaction_type == undefined and financialYear.id > 0)"
                 class="md-raised md-primary"
                 ng-click="loadTransaction()">Load PISC Transactions
      </md-button>
      <md-button ng-show="facilityType.code !== '001'" ng-disabled="(facility == undefined || system_code == undefined
                || transaction_type == undefined and financialYear.id > 0)"
                 class="md-raised md-primary"
                 ng-click="loadTransaction()">Load Service Provider Transactions
      </md-button>
    </md-dialog-actions>
  </div>
</div>
<div layout="row" ng-show="transactions.total > 0">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="bg-teal-400">
        <tr>
          <th translate="DATE"></th>
          <th translate="COA"></th>
          <th translate="BOOK"></th>
          <th translate="CREDIT"></th>
          <th translate="DEBIT"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in transactions.data">
          <td>{{ item.date|date:'mediumDate' }}</td>
          <td>{{ item.chart_of_account }}</td>
          <td>{{ item.book }}</td>
          <td>{{ item.credit_amount|currency:'' }}</td>
          <td>{{ item.debit_amount|currency:'' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <div class="row" ng-show="transactions.total > transactions.per_page">
      <div class="col-md-10">
        <ul uib-pagination total-items="transactions.total" max-size="maxSize" class="pagination-sm pull-left"
            boundary-links="true"
            num-pages="numPages" items-per-page="transactions.per_page"
            ng-model="currentPage"
            ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ transactions.total }}"
                     perPage="{{ transactions.per_page }}"></total-pages>
      </div>
      <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
      </div>
    </div>
  </div>
</div>
