<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_BDC_GROUP"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createBdcGroupForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text"
                                   ng-model="bdcGroupToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBdcGroupForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="MAIN_GROUP_FUND_SOURCE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="bdcGroupToCreate.bdc_main_group_fund_source_id"
                                    name="bdc_main_group_fund_source_id"
                                    ng-options="exp.id as (exp.bdc_main_group.name+'-'+exp.fund_source.name+'-'+exp.budget_percent+'['+exp.bdc_main_group.sector.name+']') for exp in mainGroupFundSources">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBdcGroupForm.bdc_main_group_fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="VALUE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="value" type="text"
                                   ng-model="bdcGroupToCreate.value" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBdcGroupForm.value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search2").select2();
</script>