<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/user/user-management-submenu.html'"></ng-include>

<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
   </div>
</div>
<div class="row">

        <div class="col-md-12">
            <a  href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
            <table class="table table-bordered table-responsive table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th translate="TH_NAME"></th>
                    <th translate="TH_DESCRIPTION"></th>
                    <th translate="TH_ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="accessRight in accessRights | orderBy:'-name'">
                    <td>{{$index + 1}}</td>
                    <td>{{accessRight.name}}</td>
                    <td>{{accessRight.description}}</td>
                    <td nowrap="nowrap">
                        <a href class="btn btn-info" ng-click="edit(accessRight)">Edit</a>
                        <a href class="btn btn-danger" ng-click="delete(accessRight.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
           <br/>

        </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_CREATE_ACCESS_RIGHT"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createAccessRightForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="accessRightToCreate.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createAccessRightForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="description" ng-model="accessRightToCreate.description" placeholder="Description" class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createAccessRightForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="MODAL_TITLE_EDIT_ACCESS_RIGHT"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updateAccessRightForm">
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input type="text" name="name" ng-model="accessRightToEdit.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="updateAccessRightForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                            <div class="col-sm-9">
                                <textarea ng-model="accessRightToEdit.description" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer" >
                        <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
