<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage = undefined">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage = undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <select ng-model="selectedPlan"
                class="form-control"
                ng-change="loadContents(selectedPlan)"
                ng-options="casPlan.id as casPlan.name for casPlan in casPlans">
            <option value="">--Select Comprehensive Plan</option>
        </select>
    </div>

    <div class="col-md-6">
        <select ng-model="selectedPlanContent"
                class="form-control"
                ng-change="loadSelectedPlanTables(selectedPlanContent)">
            <optgroup ng-repeat="casPlanContent in casPlanContents" >
                <option value="{{ casPlanContent.id }}" >{{ casPlanContent.description }}</option>
                <option ng-repeat-start="item in casPlanContent.children" value="{{ item.id }}">&nbsp;&nbsp; &nbsp; &nbsp;{{ item.description }}</option>
                <option ng-repeat-end ng-repeat="item2 in item.children" value="{{ item2.id }}">&nbsp; &nbsp;&nbsp; &nbsp;-> {{ item2.description }}</option>
            </optgroup>
        </select>
    </div>
</div>
<p></p>

<div class = "row">
    <div class="col-md-6">
        <select ng-model="selectedPlanTable"
                class="form-control"
                ng-change="loadSelectedPlanForm(selectedPlanTable)"
                ng-options="planTable.id as planTable.description for planTable in planTables">
            <option value="">--Select a Table--</option>
        </select>
    </div>
</div>

<br/>
<div class="row" ng-show="selectedPlanTable !== undefined">
    <div class="col-md-12">

        <div class="row" >
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr ng-show="firstColumns.length > 0" >
                            <th> <span ng-show="secondColumns.length == 0">SN</span> </th>
                            <th ng-repeat="item in firstColumns"
                                colspan="{{ item.colspan }}"
                                class="text-center"
                                rowspan="{{ item.rowspan }}">
                                {{ item.name }}
                            </th>
                        </tr>
                        <tr ng-show="secondColumns.length > 0">
                            <th> <span ng-show="lowerColumns.length == 0">SN</span></th>
                            <th ng-repeat="item in secondColumns"
                                colspan="{{ item.colspan }}"
                                class="text-center"
                                rowspan="{{ item.rowspan }}">
                                {{ item.name }}
                            </th>
                        </tr>
                        <tr ng-show="lowerColumns.length > 0">
                            <th> SN </th>
                            <th ng-repeat="item in lowerColumns" colspan="{{ item.colspan }}" class="text-center">
                                {{ item.name }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in rows">
                            <th>{{ $index + 1 }}</th>
                            <th colspan="{{ item.colspan }}" rowspan="{{ item.rowspan }}" ng-show="item.id !== 0">{{ item.name }}</th>
                            <th ng-show="item.children != undefined" colspan="{{ item.children.colspan }}" rowspan="{{ item.children.rowspan }}">{{ item.children.name }}</th>
                            <th ng-show="item.children.children != undefined" colspan="{{ item.children.children.colspan }}" rowspan="{{ item.children.children.rowspan }}">{{ item.children.children.name }}</th>

                            <td ng-show="is_list">&nbsp;</td>
                            <td ng-repeat="i in columns" class="td-padding-2">
                                <span ng-show="i.type == 'Text' || i.type == 'Checkbox' || i.type == 'Number'">
                                    <input type="{{ i.type }}"
                                           name="input"
                                           class="form-control td_matrix"
                                           value="{{ 'ID'+i.id}}">
                                </span>
                                <span ng-show="i.type == 'Formula'" >
                                  <a href class="btn btn-info" ng-click="editFormula(i)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                  </a>
                                </span>
                                <span ng-show="i.type == 'Select'" >
                                 <select name="select"
                                         class="form-control td_matrix">
                                     <option value=""></option>
                                 </select>
                                </span>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot ng-show="HasverticalTotal">
                         <tr>
                             <td>&nbsp;</td>
                             <td colspan="{{ dimensionRow }}"> Total </td>
                             <td ng-repeat="j in columns">
                                 <span ng-show="j.vertical_total" >
                                    Total
                                 </span>
                             </td>
                         </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div >

        <div class="row" ng-show="singleTypeTable">
            <div class="form-group" ng-show="report_url !== null">
                <label class="control-label col-sm-3" translate="LABEL_REPORT_URL"></label>
                <div class="col-sm-9">
                  <input  ng-model="report_url"
                          class="form-control"
                          disabled />
                </div>
            </div>
            <div ng-show="report_url == null">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_FILE_UPLOAD"></label>
                    <div class="col-sm-9">
                        <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                               data-show-preview="false" ngf-select ng-model="file" name="file"
                               accept="'.xls,.xlsx,.doc,.docx, .pdf'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                               required ngf-model-invalid="errorFile"/>
                        <i ng-show="SingeTypeTableForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    </div>
                </div>
                <div class="form-group" >
                    <!--<label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>-->
                    <div class="col-sm-12">
                        <textarea  ng-model="SingeTypeTableForm.description"
                                   class="form-control"
                                   placeholder="Type in contents if there is no file to upload">
                        </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="edit-formula.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="EDIT_FORMULA"></h5>
                </div>

                <form action="#" class="form-horizontal" name="editFormula" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea name="formula"
                                          ng-model="casPlanTableFormula.formula"
                                          class="form-control"
                                          placeholder="Type Formula..">

                                </textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editFormula.formula.$error.required" >Formula is required</span>
                                </div>

                            </div>
                        </div>

                        <!--The list of the baseline data goes here-->

                        <!--<ul>-->
                            <!--&lt;!&ndash;{{baselineStatistics}}&ndash;&gt;-->
                            <!--<li ng-repeat="baselineStatistic in baselineStatistics">{{baselineStatistic.description + "- (BS" + baselineStatistic.id + ")"}}</li>-->

                        <ul class="columns" data-columns="2">
                            <!--{{baselineStatistics}}-->
                            <li ng-repeat="baselineStatistic in baselineStatistics">{{baselineStatistic.description + " - (BS" + baselineStatistic.id + ")"}}</li>

                        </ul>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                            <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>