<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage = undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage = undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_ADMINISTRATIVE_LEVEL"></th>
                            <th translate="TH_SECTOR"></th>
                            <th translate="TH_PARENT"></th>
                            <th translate="TH_FACILITY"></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="casPlan in casPlans | orderBy:'-id'">
                            <td>{{$index + 1}}</td>
                            <td>{{casPlan.name}}</td>
                            <td>{{casPlan.administrative_level.name}}</td>
                            <td>{{casPlan.sector.name}}</td>
                            <td>{{casPlan.parent.name}}</td>
                            <td>{{casPlan.is_facility}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(casPlan)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(casPlan.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="CREATE_CAS_PLAN"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createCasPlanForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="casPlanToCreate.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createCasPlanForm.name.$error.required" >Name is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="LABEL_ADMIN_HIERARCHY_LEVEL"></span><span>*</span>
                            </label>
                            <div class="col-sm-9">
                                <select ng-options="level.id as level.name for level in adminHierarchyLevels"
                                        ng-model="casPlanToCreate.admin_hierarchy_level_id"
                                        class="form-control"
                                        name="level">
                                    <option value="" selected translate="SELECT_ADMINISTRATION_LEVEL"></option>
                                </select>
                                <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="createCasPlanForm.level.$error.required"
                                  translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SECTOR"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanToCreate.sector_id"
                                        ng-options="sector.id as sector.name for sector in sectors"
                                        class="form-control">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createCasPlanForm.sector.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanToCreate.parent_id"
                                        ng-options="casPlan.id as casPlan.name for casPlan in casPlans"
                                        class="form-control">

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_FACILITY"></label>
                            <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" name="expanded" ng-model="casPlanToCreate.is_facility" class="switchery">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_ASSESSED"></label>
                            <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" name="expanded" ng-model="casPlanToCreate.is_assessed" class="switchery">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="FINANCIAL_YEAR_TYPE"></label>
                            <div class="col-sm-9">
                                <select ng-options="i.code as i.name for i in financial_year_types"
                                ng-model="casPlanToCreate.financial_year_type"
                                class="form-control"
                                name="financial_year_type">
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                            <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="EDIT_CAS_PLAN"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updateCasPlanForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="casPlanToEdit.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="updateCasPlanForm.name.$error.required" >Name is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="LABEL_ADMIN_HIERARCHY_LEVEL"></span><span>*</span>
                            </label>
                            <div class="col-sm-9">
                                <select ng-options="level.id as level.name for level in adminHierarchyLevels"
                                        ng-model="casPlanToEdit.admin_hierarchy_level_id"
                                        class="form-control"
                                        name="level">
                                    <option value="" selected translate="SELECT_ADMINISTRATION_LEVEL"></option>
                                </select>
                                <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="updateCasPlanForm.level.$error.required"
                                  translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SECTOR"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanToEdit.sector_id"
                                        ng-options="sector.id as sector.name for sector in sectors"
                                        class="form-control">

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="updateCasPlanForm.sector.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanToEdit.parent_id"
                                        ng-options="casPlan.id as casPlan.name for casPlan in casPlans"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_FACILITY"></label>
                            <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" name="expanded" ng-model="casPlanToEdit.is_facility" class="switchery">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_ASSESSED"></label>
                            <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" name="expanded" ng-model="casPlanToEdit.is_assessed" class="switchery">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="FINANCIAL_YEAR_TYPE"></label>
                            <div class="col-sm-9">
                                <select ng-options="i.code as i.name for i in financial_year_types"
                                ng-model="casPlanToEdit.financial_year_type"
                                class="form-control"
                                name="financial_year_type">
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                            <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>