<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div ng-show="defaultMode">
        <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>

        <!--The user interface which will be displayed when the page has been initially loaded starts here-->
        <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th translate="TH_NO">No.</th>
                <th translate="TH_FORM_NAME"></th>
                <th translate="TH_DESCRIPTION"></th>
                <th translate="TH_BUDGET_CLASS"></th>
                <th translate="TH_ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="budgetSubmissionForm in budgetSubmissionForms">
                <td>{{$index + 1}}</td>
                <td>{{budgetSubmissionForm.name}}</td>
                <td>{{budgetSubmissionForm.description}}</td>
                <td>{{budgetSubmissionForm.budget_class.name}}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-success" ng-click="viewColumns(budgetSubmissionForm.id)">Columns</a>
                    <a href class="btn btn-info" ng-click="edit(budgetSubmissionForm)">Edit</a>
                    <a href class="btn btn-danger" ng-click="deleteBudgetSubmissionForm(budgetSubmissionForm.id)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <!--The user interface which will be displayed when the page has been initially loaded ends here-->

        <!--The code below shows the list of columns belonging to a selected form-->
        <div ng-show="columnListMode">
            <a href class="btn btn-success pull-right create-btn" ng-click="addColumn(form_id)" translate="BTN_ADD_COLUMN"></a>
            <table class="table table-bordered table-responsive table-striped">
            <thead class="bg-teal-400">
            <tr>
                <th translate="TH_NO">No.</th>
                <th translate="TH_FIELD_NAME">No.</th>
                <th translate="TH_GFS_CODE"></th>
                <th translate="TH_UNIT"></th>
                <th translate="TH_PARENT"></th>
                <th translate="TH_IS_INPUT"></th>
                <th translate="TH_HAS_BREAKDOWN"></th>
                <th translate="TH_SORT_ORDER"></th>
                <th translate="TH_IS_ACTIVE"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="budgetSubmissionDefinition in budgetSubmissionDefinitions|orderBy:'sort_order'">
                <td>{{$index + 1}}</td>
                <td>{{budgetSubmissionDefinition.field_name}}</td>
                <td>{{budgetSubmissionDefinition.gfs_code.code}}</td>
                <td>{{budgetSubmissionDefinition.unit.name}}</td>
                <td>{{budgetSubmissionDefinition.parent.field_name}}</td>
                <td>
                    <span ng-show="budgetSubmissionDefinition.is_input == true" translate="LABEL_YES"></span>
                    <span ng-show="budgetSubmissionDefinition.is_input == false" translate="LABEL_NO"></span>
                </td>
                <td>
                    <span ng-show="budgetSubmissionDefinition.has_breakdown == true" translate="LABEL_YES"></span>
                    <span ng-show="budgetSubmissionDefinition.has_breakdown == false" translate="LABEL_NO"></span>
                </td>
                <td>{{ budgetSubmissionDefinition.sort_order }}</td>
                <td nowrap="nowrap">
                    <a href class="btn btn-info" ng-click="editColumns(budgetSubmissionDefinition)">Edit</a>
                    <a href class="btn btn-danger" ng-click="deleteBudgetSubmissionDefinition(budgetSubmissionDefinition)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <!--The code code which control the list of columns belonging to a table end here-->

        <br/>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_CREATE_BUDGET_SUBMISSION_FORM"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createBudgetSubmissionForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="budgetSubmissionFormToCreate.name" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createBudgetSubmissionForm.name.$error.required" translate="ERROR_NAME_IS_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION_REQUIRED"></label>
                            <div class="col-sm-9">
                                <textarea ng-model="budgetSubmissionFormToCreate.description" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="BUDGET_CLASS"></span>
                            </label>
                            <div class="col-sm-9">
                                <select  class="form-control" ng-model="budgetSubmissionFormToCreate.budget_class_id"
                                         name="budget_class_id">
                                    <option value="" selected>- Select one -</option>
                                    <option ng-repeat="budgetClass in budgetClasses" value="{{budgetClass.id}}">{{budgetClass.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_EDIT_BUDGET_SUBMISSION_FORM"></h5>
                </div>

                <form action="#" class="form-horizontal" name="editBudgetSubmissionForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="budgetSubmissionFormToEdit.name" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editBudgetSubmissionForm.name.$error.required" translate="ERROR_NAME_IS_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="BUDGET_CLASS"></span>
                            </label>
                            <div class="col-sm-9">
                                <select name="budget_class_id" class="form-control"
                                        ng-model="budgetSubmissionFormToEdit.budget_class_id"
                                        ng-options="x.id as x.name for x in budgetClasses">
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION_REQUIRED"></label>
                            <div class="col-sm-9">
                                <textarea ng-model="budgetSubmissionFormToEdit.description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="add-column.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="ADD_COLUMN"></h5>
                </div>
                <form action="#" class="form-horizontal" name="createBudgetSubmissionDefinitionForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="field_name" type="text" ng-model="budgetSubmissionDefinitionFormToCreate.field_name" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBudgetSubmissionDefinitionForm.name.$error.required" translate="NAME_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="GFS_CODE"></span>
                            </label>
                            <div class="col-sm-9">
                                <select  class="form-control" ng-model="budgetSubmissionDefinitionFormToCreate.gfs_code_id"
                                         name="gfs_code_id">
                                    <option value="" selected>- Select one -</option>
                                    <option ng-repeat="gfsCode in gfsCodes" value="{{gfsCode.id}}">{{gfsCode.name + " - (" + gfsCode.code + ")"}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="UNIT"></span>
                            </label>
                            <div class="col-sm-9">
                                <select  class="form-control" ng-model="budgetSubmissionDefinitionFormToCreate.unit_id"
                                         name="unit_id">
                                    <option value="" selected>- Select one -</option>
                                    <option ng-repeat="unit in units" value="{{unit.id}}">{{unit.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                               <select ng-model="budgetSubmissionDefinitionFormToCreate.parent_id"
                                       ng-options="Item.id as Item.field_name for Item in ParentColumns"
                                       class="form-control">
                                   <option value="" selected translate="SELECT_PARENT_COLUMN"></option>
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_ACTIVE"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "budgetSubmissionDefinitionFormToCreate.is_active" name="is_active" class="styled" value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToCreate.is_active" name="is_active" class="styled" value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createBudgetSubmissionDefinitionForm.is_active.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="HAS_BREAKDOWN"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "budgetSubmissionDefinitionFormToCreate.has_breakdown" name="has_breakdown" class="styled" value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToCreate.has_breakdown" name="has_breakdown" class="styled" value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createBudgetSubmissionDefinitionForm.has_breakdown.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_INPUT"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "budgetSubmissionDefinitionFormToCreate.is_input" name="is_input" class="styled" value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToCreate.is_input" name="is_input" class="styled" value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createBudgetSubmissionDefinitionForm.is_input.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                            <div class="col-sm-9">
                            <input type="number" ng-model = "budgetSubmissionDefinitionFormToCreate.sort_order" name="sort_order" class="form-control" >
                               <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createBudgetSubmissionDefinitionForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                               </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="storeColumn()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit-column.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="ADD_COLUMN"></h5>
                </div>
                <form action="#" class="form-horizontal" name="editBudgetSubmissionDefinitionForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="field_name" type="text" ng-model="budgetSubmissionDefinitionFormToEdit.field_name" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editBudgetSubmissionDefinitionForm.name.$error.required" translate="NAME_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="GFS_CODE"></span>
                            </label>
                            <div class="col-sm-9">
                                <select name="gfs_code_id" class="form-control"
                                        ng-model="budgetSubmissionDefinitionFormToEdit.gfs_code_id"
                                        ng-options="x.id as x.name for x in gfsCodes">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="UNIT"></span>
                            </label>
                            <div class="col-sm-9">
                                <select name="unit_id" class="form-control"
                                        ng-model="budgetSubmissionDefinitionFormToEdit.unit_id"
                                        ng-options="x.id as x.name for x in units">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                                <select ng-model="budgetSubmissionDefinitionFormToEdit.parent_id"
                                        ng-options="Item.id as Item.field_name for Item in ParentColumns"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_PARENT_COLUMN"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_ACTIVE"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <!--{{budgetSubmissionDefinitionFormToEdit.is_active}}-->
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_active" name="is_active" class="styled" ng-value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_active" name="is_active" class="styled" ng-value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.is_active.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="HAS_BREAKDOWN"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "budgetSubmissionDefinitionFormToEdit.has_breakdown" name="has_breakdown" class="styled" ng-value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.has_breakdown" name="has_breakdown" class="styled" ng-value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.has_breakdown.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_INPUT"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "budgetSubmissionDefinitionFormToEdit.is_input" name="is_input" class="styled" ng-value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="budgetSubmissionDefinitionFormToEdit.is_input" name="is_input" class="styled" ng-value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.is_input.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                            <div class="col-sm-9">
                                <input type="number" ng-model = "budgetSubmissionDefinitionFormToEdit.sort_order" name="sort_order" class="form-control" >
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editBudgetSubmissionDefinitionForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="updateColumns()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
