{{sectorialInfo.currentNode.id}}
<div
        data-angular-treeview="true"
        data-tree-id="sectorialInfo"
        data-tree-model="listData"
        data-node-id="id"
        data-node-label="name"
        data-node-children="demo_section_information" >
</div>
<br />
<!--{{fieldValue.form_line_items}}-->
<!--{{myForm}}-->
 <hr/>
DESIGN

<br />
<div>
    <label>Form Type</label>
     <select ng-model="myForm.form_type">
             <option>SINGLE</option>
             <option>TABLE_FORM</option>
          </select>
    <label>Form Name:</label>
    <input type="text" class="form-control" style="width: 200px" ng-model="myForm.name"/><br>
    <br>
    <br />
    <div class="form-group" ng-show="showAdd">
       Name: <input class="form-control" style="width: 200px" ng-model="fieldToAdd.name"/>
        <button class="btn btn-success" ng-click="saveField(fieldToAdd)" style="width:50px">Save</button>
    </div>
    <div ng-if="myForm.form_type === 'TABLE_FORM'">
        <table class="table" border="1" width="5%">
            <tr>
                <td><a href ng-click="addChild(myForm)"> &nbsp;&nbsp;Add Column</a></td>
                <td ng-repeat="field in myForm.form_fields" colspan="{{field.form_fields.length}}">{{field.name}}<a href ng-click="addChild(field)"> &nbsp;&nbsp;Add Sub</a></td>
            </tr>
            <tr>
                <td></td>
                 <td ng-hide="field.form_fields.length > 0" ng-repeat-start="field in myForm.form_fields"></td>
                 <td ng-repeat-end ng-repeat="field2 in field.form_fields">{{field2.name}}</td>
                 <!--<td ng-repeat-end ng-repeat-end></td>-->
            </tr>
            <tr ng-repeat="item in myForm.form_line_items" >
                <td>
                 {{item.name}}
                </td>
                <td ng-hide="field.form_fields.length > 0" ng-repeat-start="field in myFrom.form_fields">
                </td>
                <td ng-repeat-end ng-repeat="field2 in field.form_fields">
                </td>
            </tr>
            <tr>
                <td style="width:25%" >
                    Add Line Item:
                    <div class="input-group">
                      <input style="width: 70%" class="form-control" ng-model="lineItemToAdd.name" type="text"/>
                        <button class="btn btn-success" ng-click="addLineItem(lineItemToAdd)" style="width: 20%">Add</button>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <button class="btn btn-primary" ng-click="saveForm()" >Save</button>
    </div>
</div><br/>
</div><br/>
<hr/>
<div>
    <br />
    DATA ENTRY
    <button ng-click="prepareForm()">Enter Data</button>
    <br>
    <div ng-if="fieldValue.form_type === 'TABLE_FORM'">

        <table class="table" border="1" width="5%">
            <tr>
                <td>{{fieldValue.name}}</td>
                <td ng-repeat="field in fieldValue.form_fields" colspan="{{field.form_fields.length}}">{{field.name}}</td>
            </tr>
            <tr>
                <td></td>
                 <td ng-hide="field.form_fields.length > 0" ng-repeat-start="field in fieldValue.form_fields"></td>
                 <td ng-repeat-end ng-repeat="field2 in field.form_fields">{{field2.name}}</td>
                 <!--<td ng-repeat-end ng-repeat-end></td>-->

            </tr>
            <tr ng-repeat="item in fieldValue.form_line_items" >
                <td>
                 {{item.name}}
                </td>
                <td ng-hide="field.form_fields.length > 0" ng-repeat-start="field in item.form_fields">
                    <input   class="form-control" type="text" ng-model="field.value"/>
                </td>
                <td ng-repeat-end ng-repeat="field2 in field.form_fields">
                    <input class="form-control" type="text" ng-model="field2.value"/>
                </td>
            </tr>
        </table>

    </div>
</div>