<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/user/user-management-submenu.html'"></ng-include>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
   </div>
</div>
<div class="collapsable-field" hasPermission="Roles">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group ">
                        <span class="input-group-addon btn-search">
                            <i class="icon-users"></i></span>
                        <input ng-model="searchQuery" type="text" class="form-control" placeholder="Search role">
                        <span class="input-group-btn">
                        <button  class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-md-8">
                    <button href class="btn btn-success pull-right create-btn" ng-click="create()" >
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
               <table class="table table-bordered table-responsive table-striped">
                <thead class ="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th translate="TH_NAME"></th>
                    <th translate="TH_SLUG"></th>
                    <th translate="TH_RIGHTS"></th>
                    <th translate="TH_ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in roles | orderBy:'-name' | filter:searchQuery">
                    <td>{{$index + 1}}</td>
                    <td>{{role.name}}</td>
                    <td>{{role.slug}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="p in role.permissions">{{p}}</li>
                        </ul>
                    </td>
                    <td nowrap="nowrap">
                        <a href class="btn btn-info" ng-click="edit(role)">Edit</a>
                        <a href class="btn btn-danger" ng-click="delete(role.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

           <br/>

        </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_CREATE_ACCESS_RIGHT"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createRoleForm" novalidate>
                    <div class="modal-body">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="roleToCreate.name"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createRoleForm.name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-sm-3" translate="LABEL_ADMIN_HIERARCHY_LEVEL"></label>
                            <div class="col-sm-9">
                                <select  ng-required="true" ng-model="roleToCreate.admin_hierarchy_level_id"
                                         ng-options="level.id as level.name for level in levels" name="level"
                                         class="form-control select-search">
                                </select>
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createRoleForm.level.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SLUG">  </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="isSuperAdmin" type="text" ng-model="roleToCreate.slug"
                                       placeholder="" class="form-control" >

                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createRoleForm.slug.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="isSuperAdmin"  translate="Is Super Admin"></label>
                                <input  name="isSuperAdmin" id="isSuperAdmin" type="checkbox" ng-model="roleToCreate.is_super_admin"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_RIGHTS"></label>
                            <div class="col-sm-9">
                                <select ui-select2 multiple ng-required="true" ng-model="roleToCreate.permissions"
                                        ng-options="r.name as r.name for r in rights" name="permissions"
                                        class="form-control">
                                </select>
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createRoleForm.permissions.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="MODAL_TITLE_EDIT_ACCESS_RIGHT"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updateRoleForm">
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="roleToEdit.name"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateRoleForm.name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label translate="LABEL_ADMIN_HIERARCHY_LEVEL"></label>
                                <select  ng-required="true" ng-model="roleToEdit.admin_hierarchy_level_id"
                                         ng-options="level.id as level.name for level in levels" name="level"
                                         class="form-control select-search">
                                </select>
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateRoleForm.level.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SLUG"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="slug" type="text" ng-model="roleToEdit.slug"
                                       placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateRoleForm.slug.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <label for="isSuperAdmin"  translate="Is Super Admin">
                                  <input  id="isSuperAdmin" name="isSuperAdmin" type="checkbox" ng-model="roleToEdit.is_super_admin"/>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_RIGHTS"></label>
                            <div class="col-sm-9">
                                <select ui-select2 multiple ng-required="true" ng-model="roleToEdit.permissions"
                                        ng-options="r.name as r.name for r in rights"
                                        class="form-control" name="permissions">
                                </select>
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateRoleForm.permissions.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer" >
                        <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
