<breadc<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
<div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
    <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
        {{successMessage | translate}}
    </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <a  href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                    <tr>
                    <th>No.</th>
                    <th translate="TH_NAME"></th>
                    <th translate="TH_DESCRIPTION"></th>
                    <th translate="TH_SORT_ORDER"></th>
                    <th translate="TH_IS_ACTIVE"></th>
                    <th>Action</th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="userGroup in userGroups.data | orderBy:'-sort_order'">
                    <td>{{$index + 1}}</td>
                    <td>{{userGroup.name}}</td>
                    <td>{{userGroup.description}}</td>
                    <td>{{userGroup.sort_order}}</td>
                    <td>
                        <label class="switch">
                        <input type="checkbox" ng-checked="userGroup.is_active" ng-model="userGroup.is_active"
                               ng-change="toggleUserGroup(userGroup.id, userGroup.is_active)">
                        <div class="slider round"></div>
                    </label>
                    </td>
                    <td nowrap="nowrap">
                        <a href class="btn btn-info" ng-click="edit(userGroup, currentPage)">Edit</a>
                        <a href class="btn btn-danger" ng-click="delete(userGroup.id, currentPage)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
           <br/>
<ul uib-pagination total-items="userGroups.total" items-per-page ="userGroups.per_page" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Create a new user group</h5>
                </div>

                <form action="#" class="form-horizontal" name="createUserGroupForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Name *</label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="userGroupToCreate.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createUserGroupForm.name.$error.required" >Name is required</span>
                                </div>

                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="userGroupToCreate.description" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Sort Order</label>
                            <div class="col-sm-9">
                               <input ng-required="true" ng-min="1" name="sort_order" type="number" ng-model="userGroupToCreate.sort_order" placeholder="" class="form-control">
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Edit user group</h5>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="userGroupToEdit.name" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="userGroupToEdit.description" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Sort Order</label>
                            <div class="col-sm-9">
                               <input ng-required="true" ng-min="1" name="sort_order" type="number" ng-model="userGroupToEdit
                               .sort_order" placeholder="" class="form-control">
                            </div>

          
                    </div>

                    <div class="modal-footer" >
                        <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                        <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
