<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="ADD_ACTIVITY_FACILITY"></h5>
            </div>
            <form action="#" class="form-vertical" name="createActivityForm">
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                    class="sr-only" translate="OPT_CLOSE"></span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <fieldset class="activity">
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container style="width:100%">
                                    <label for="target">PISCs</label>
                                    <input id="target" ng-disabled="true" class="form-control" type="text" value="{{user.admin_hierarchy.name}}">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container style="width:100%">
                                    <label for="target">Section</label>
                                    <input id="target" ng-disabled="true" class="form-control" type="text" value="{{user.section.name}}">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container style="width:100%">
                                    <label for="target">User</label>
                                    <input id="target" ng-disabled="true" class="form-control" type="text" value="{{user.first_name}} {{user.last_name}}">
                                </md-input-container>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="(activityFacilities.data.length === 0 || !isHomeFacility) && (budgetType !== 'CURRENT' || (!isLocked && !isFinal && budgetType ==='CURRENT'))">
                            <div class="col-md-12">

                                <div class="row">
                                    <md-toolbar style="min-height:40px !important;background-color:#f5f5f5;color: #333">
                                        <div class="md-toolbar-tools" style="height:40px;font-size: 12px !important">
                                            Add New Supervised Service Provider to User
                                        </div>
                                    </md-toolbar>
                                    <md-content flex layout-padding>
                                        <div class="col-md-11 col-sm-12">
                                            <md-input-container style="width:100%">
                                                <label>Service Provider</label>
                                                <md-autocomplete md-no-cache="true" md-clear-button="true" placeholder="Search Servise Provider"
                                                    md-selected-item="facilityToAdd" md-search-text="searchText"
                                                    md-items="item in searchFacility(searchText)" md-item-text="item.name+'-'+item.type">
                                                    <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
                                                </md-autocomplete>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-1 col-sm-12 action">
                                            <button ng-disabled="facilityToAdd === undefined" type="button" class="btn btn-info"
                                                ng-click="addFacility(facilityToAdd.id)" translate="ADD">
                                            </button>
                                        </div>
                                    </md-content>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!--Facility-->
                        <div class="row">
                            <md-toolbar style="min-height:40px !important;background-color:#f5f5f5;color: #333">
                                <div class="md-toolbar-tools" style="height:40px;font-size: 12px !important">
                                    User Supervised Service Providers
                                </div>
                            </md-toolbar>
                            <md-content flex layout-padding>
                                <pr-progress ng-show="facilityLoading"></pr-progress>
                                <table style="width:100%" class="table table-sm table-bordered input-breakdown">
                                    <tr class="bg-teal-400">
                                        <td class="col-md-5" translate="FACILITY"></td>
                                        <td>+/-</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding: 1px;" valign="top">
                                            <input ng-model="searchQuery" class="form-control" type="text" placeholder="Search existing facility (at least 3 characters)"
                                                ng-change="searchExistingFacility()" />
                                        </td>
                                    </tr>
                                    <tr ng-repeat="f in userFacilities.data" style="background: #FAFAFA">
                                        <td class="col-md-5 input">{{((currentPage -1)*5) + $index + 1}}.
                                            {{f.name + ' '+f.type}}
                                        </td>
                                        <td class="col-md-1">
                                            <a ng-click="deleteExistingFacility(f.id)">
                                                <i class="fa fa-minus-circle text-warning" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="input">
                                            <div class="pop-pagination">
                                                <ul uib-pagination total-items="userFacilities.total" class="pagination-sm pull-left"
                                                    boundary-links="true" num-pages="numPages" items-per-page="userFacilities.per_page"
                                                    ng-model="currentPage" max-size="10" ng-change="pageChanged()">
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </md-content>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info cancel" ng-click="close()">
                        <i class="fa fa-times"></i>
                        <span translate="BTN_FINISH"></span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
