<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="TITLE_RESET_PASSWORD"></h5>
      </div>

      <form action="#" class="form-horizontal" name="resetPasswordForm" novalidate>
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
              {{errorMessage | translate}}
            </div>
          </div>
          <div ng-show="formHasErrors">
            <span class="help-block text-danger" ng-show="resetPasswordForm.confirmPassword.$error.pattern">Password
              don't match</span>
            <span class="help-block text-danger" ng-show="resetPasswordForm.newPassword.$error.required">Password is
              required</span>
            <span class="help-block text-danger" ng-show="resetPasswordForm.confirmPassword.$error.required">Confirm
              Password</span>
            <span class="help-block text-danger" ng-show="resetPasswordForm.newPassword.$error.pattern">
               Password must be
              <ul>
                <li>Minimum eight(8) in length</li>
                <li>At least one upper case,one lower case and one digit</li>
                <li>At least one special character</li>
              </ul>
            </span>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_NEW_PASSWORD"></label>
            <div class="col-sm-9">
              <input autocomplete="off" ng-required="true" ng-pattern="regex" name="newPassword" type="password"
                ng-model="user.newPassword" placeholder="" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_CONFIRM_PASSWORD"></label>
            <div class="col-sm-9">
              <input autocomplete="off" ng-required="true" name="confirmPassword" ng-pattern="user.newPassword"
                type="password" ng-model="user.confirmPassword" placeholder="" class="form-control">
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="reset()" translate="BTN_RESET"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>


  </div>
  <script type="application/javascript">
    $('.select-fixed-multiple').select2({
      minimumResultsForSearch: Infinity,
    });
    $('.select-search').select2();
  </script>
</div>