<breadcrumb title="{{title}}"></breadcrumb>
<br/>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <md-card>
            <md-card-header style="width: 100%;" class="py-0">
              <h5 style="font-size: 14px">
                All Audit Trails
              </h5>

              <button href class="btn btn-info btn-sm pull-right" style="margin-left: auto; margin-bottom: 0; margin-top: 0">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<span translate="Audit Trails By User"></span>
              </button>
            </md-card-header>
            <md-card-content layout-align="center center">
              <div style="width: 40%; margin-bottom: 16px;">
                <input class="form-control" type="text" ng-model="searchTerm" placeholder="Filter by user names">
              </div>
              <table class="table table-bordered table-striped">
                  <thead class="bg-teal-400">
                    <tr style="font-size: 14px" class="mb-5">
                        <th><b>#</b></th>
                        <th><b>User</b></th>
                        <th><b>Event</b></th>
                        <th><b>Resource Affected</b></th>
                        <th><b>Event Date</b></th>
                        <th><b>Actions</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="trail in allAuditTrails | orderBy: '-created_at' | filter: searchTerm">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ trail.user.first_name }}  {{ trail.user.last_name }}</td>
                        <td>{{ trail.event}}</td>
                        <td>{{ getModelName(trail.auditable_type) }} {{ getContext(trail.event) }}</td>
                        <td>{{ trail.created_at | date: 'fullDate'}}</td>
                        <td style="text-align: center">
<!--                            <button class="btn btn-sm btn-info" style="width: 100%; font-size: 18px; padding: 0;"><i class="fa fa-eye" aria-hidden="true"></i></button>-->
                          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                  </tbody>
              </table>
                <!-- </md-progress-circular> -->
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">Start Date</span>
            <input ng-click="endPopup =true" type="text" class="form-control"
                   uib-datepicker-popup="{{dateFormat}}"
                   ng-model="startDate" is-open="endPopup"
                   datepicker-options="{minDate:(start_date + 2)}"
                   ng-required="true"
                   close-text="Close"
                   name="startDate"
                   popup-placement="bottom"
                   alt-input-formats="altInputFormats"/>
                   <span ng-click="endPopup =true" class="input-group-addon"><i
                    class="icon-calendar22"></i></span>

        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">End Date</span>
            <input ng-click="endPopup =true" type="text" class="form-control"
                   uib-datepicker-popup="{{dateFormat}}"
                   ng-model="endDate" is-open="endPopup"
                   datepicker-options="{minDate:(endDate + 2)}"
                   ng-required="true"
                   close-text="Close"
                   name="end_date"
                   popup-placement="bottom"
                   alt-input-formats="altInputFormats"/>
                   <span ng-click="endPopup =true" class="input-group-addon"><i
                    class="icon-calendar22"></i></span>

        </div>
    </div>
    <div class="col-md-4" >
        <div class="input-group" style="text-align: right;">
            <span class="input-group-addon">Active Users Only</span>
            <span class="input-group-addon">
            <input type="checkbox" checked="false" ng-model="is_active">
            </span>
            <span class="input-group-btn">
                <button class="btn btn-info" ng-click="searchData()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true">
                </span> Search!</button>
            </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <md-card>
            <md-card-header>
                <h5>
                    Detailed Audit Trail (click view icon above)
                </h5>

            </md-card-header>
            <md-card-content layout-align="center center">
                <!-- <md-progress-circular ng-show="graphLoading" md-mode="indeterminate">
                </md-progress-circular> -->
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>
