<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="CREATE_USER"></h5>
      </div>
      <pr-progress ng-show="!adminLevelsLoaded || !sectionLevelsLoaded || !rolesLoaded"></pr-progress>
      <form action="#" autocomplete="off" class="form-horizontal"
        ng-show="adminLevelsLoaded && sectionLevelsLoaded && rolesLoaded" name="createUserForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div ng-show="errorMessage" class="col-md-12">
                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                  <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                    <span>×</span><span class="sr-only">Close</span>
                  </button>
                  {{errorMessage | translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_USER_NAME"></label>
                  <pr-progress ng-show="validatingUserName" md-mode="indeterminate"></pr-progress>
                  <input ng-required="true" name="user_name" ng-change="validateUserName(userToCreate.user_name)"
                    type="text" ng-model="userToCreate.user_name" placeholder="" class="form-control" minlength="3"
                    maxlength="128" ng-pattern="namePattern" />
                  <input type="hidden" ng-model="userToCreate.validUserName" ng-required="userNameExist"
                    name="validUserName" />
                  <span class="help-block text-danger" ng-show="createUserForm.user_name.$error.pattern">invalid
                    username</span>
                  <span class="help-block text-danger" ng-show="createUserForm.validUserName.$error.required"
                    translate="USERNAME_EXIST"></span>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.user_name.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.user_name.$error.minlength"
                      translate="MIN_LENGTH_3"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.user_name.$error.maxlength"
                      translate="MAX_LENGTH_30"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_LAST_NAME"></label>
                  <input ng-required="true" name="last_name" type="text" ng-model="userToCreate.last_name"
                    placeholder="" class="form-control" minlength="3" maxlength="40" ng-pattern="nameUserPattern" />
                  <span class="help-block text-danger" ng-show="createUserForm.last_name.$error.pattern">invalid
                    lastname</span>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.last_name.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.last_name.$error.minlength"
                      translate="MIN_LENGTH_3"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.last_name.$error.maxlength"
                      translate="MAX_LENGTH_30"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="TITLE"></label>
                  <input ng-required="true" name="title" type="text" ng-model="userToCreate.title"
                    placeholder="Employee Title" class="form-control" ng-pattern="titlePattern" />
                  <span class="help-block text-danger" ng-show="createUserForm.title.$error.pattern">invalid
                    title</span>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.title.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_ADMIN_HIERARCHY_LEVEL"></label>
                  <select ng-model="userToCreate.admin_hierarchy.admin_hierarchy_level_id" ng-required="true"
                    ng-options="level.id as level.name for level in levels" name="level"
                    ng-change="loadAdminDataByLevel(userToCreate.admin_hierarchy.admin_hierarchy_level_id)"
                    class="form-control select-search">
                  </select>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.level.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_DECISION_LEVEL"></label>
                  <div ng-class="{'input-group':loadingDecionLevels}">
                    <span ng-if="loadingDecionLevels" class="input-group-addon">
                      <i class="text-info icon-spinner3 spinner"></i>
                    </span>
                    <select ng-disabled="loadingDecionLevels" ng-required="true"
                      ng-model="userToCreate.decision_level_id" ng-options="d.id as d.name for d in decisionLevels"
                      name="decision_level_id" class="form-control select-search">
                    </select>
                  </div>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.decision_level_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_SECTION"></label>
                  <div ng-class="{'input-group':loadingSections}">
                    <span ng-if="loadingSections" class="input-group-addon">
                      <i class="text-info icon-spinner3 spinner"></i>
                    </span>
                    <select ng-disabled="loadingSections" ng-required="true" ng-model="userToCreate.section_id"
                      ng-options="s.id as s.name for s in sections" name="section_id"
                      class="form-control select-search">
                    </select>
                  </div>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.section_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_FIRST_NAME"></label>
                  <input ng-required="true" name="first_name" type="text" ng-model="userToCreate.first_name"
                    placeholder="" class="form-control" minlength="3" maxlength="30" ng-pattern="nameUserPattern" />
                  <span class="help-block text-danger" ng-show="createUserForm.first_name.$error.pattern">invalid
                    firstname</span>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.first_name.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.first_name.$error.minlength"
                      translate="MIN_LENGTH_3"></span>
                    <span class="help-block text-danger" ng-show="createUserForm.first_name.$error.maxlength"
                      translate="MAX_LENGTH_30"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_EMAIL"></label>
                  <pr-progress ng-show="validatingEmail"></pr-progress>
                  <input ng-required="true" name="email" type="email" ng-model="userToCreate.email" placeholder=""
                    class="form-control" ng-pattern="emailPattern" ng-change="validateEmail(userToCreate.email)" />
                  <input type="hidden" ng-model="userToCreate.validEmail" ng-required="emailExist" name="validEmail" />
                  <span class="help-block text-danger" ng-show="createUserForm.validEmail.$error.required"
                    translate="EMAIL_EXIST"></span>
                  <span class="help-block text-danger" ng-show="createUserForm.email.$error.pattern">Email not
                    valid</span>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.email.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="CHEQUE_NUMBER"></label>
                  <pr-progress ng-show="validatingChequeNumber"></pr-progress>
                  <ng-form name="checkNumber">
                    <input ng-required="true" name="cheque_number" type="text" ng-model="userToCreate.cheque_number"
                      placeholder="" class="form-control" ng-pattern="checkNumberValid"
                      ng-change="validateChequeNumber(userToCreate.cheque_number)" />
                    <input type="hidden" ng-model="userToCreate.validChequeNumber" ng-required="chequeNumberExist"
                      name="validChequeNumber" />

                    <span class="help-block text-danger" ng-show="chequeNumberExist"
                      translate="CHEQUE_NUMBER_EXIST"></span>

                    <span ng-show="checkAndPFNumber" class="help-block text-danger">
                      PF or Check Number not valid.
                    </span>

                    <div ng-show="formChecknoHasErrors">
                      <span class="help-block text-danger" translate="VALIDATION_REQUIRED"></span>
                    </div>
                  </ng-form>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_ADMIN_HIERARCHY"></label>
                  <div ng-class="{'input-group':loadingHierarchies}">
                    <span ng-if="loadingHierarchies" class="input-group-addon">
                      <i class="text-info icon-spinner3 spinner"></i>
                    </span>
                    <select ng-disabled="loadingHierarchies" ng-required="true"
                      ng-model="userToCreate.admin_hierarchy_id" ng-options="h.id as h.name for h in adminHierarchies"
                      name="admin_hierarchy_id" class="form-control select-search">
                    </select>
                  </div>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.admin_hierarchy_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="LABEL_SECTION_LEVEL"></label>
                  <select ng-required="true" ng-model="userToCreate.section.section_level_id"
                    ng-options="level.id as level.name for level in sectionLevels" name="level"
                    ng-change="loadSectionsByLevel(userToCreate.section.section_level_id)"
                    class="form-control select-search">
                  </select>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="createUserForm.level.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <md-input-container style="width: 100%;">
                <md-checkbox ng-model="userToCreate.is_facility_user">
                  Is Service Provider user ?
                </md-checkbox>
              </md-input-container>
            </div>
            <div class="col-sm-12" ng-show="userToCreate.is_facility_user">
              <md-input-container style="width: 100%;">
                <label>User Service Provider</label>
                <md-autocomplete md-clear-button="true" placeholder="Search Service Provider"
                  md-selected-item="userToCreate.homeFacility" md-search-text="searchText"
                  md-items="item in searchFacility(searchText)" md-item-text="item.name+'-'+item.type">
                  <span md-highlight-text="searchText">{{item.name}}-{{item.type}}</span>
                </md-autocomplete>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <blockquote class="blockquote">
              <p class="mb-0">User Roles</p>
              <footer class="blockquote-footer">
                <cite title="Source Title">At least one role</cite>
              </footer>
            </blockquote>
            <div class="col-sm-6" ng-repeat="r in roles">
              <label class="switch">
                <input type="checkbox" name="selectedRoles[]" value="{{r.id}}"
                  ng-checked="inRoles(userToCreate.roles,r.id)" ng-click="toggleRoleSelection(userToCreate.roles,r)" />
                <div class="slider round"></div>
                &nbsp; &nbsp;
              </label>
              <label>{{r.name}}</label>
            </div>
            <input type="hidden" ng-required="userToCreate.roles.length ===0" ng-model="userToCreate.validRoles"
              ng-value="" name="validRoles" />
            <div ng-show="formHasErrors" class="col-sm-12">
              <span class="help-block text-danger" ng-show="createUserForm.validRoles.$error.required"
                translate="SELECT_AT_LEAST_ONE_ROLE"></span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button ng-disabled="chequeNumberExist" type="button" class="btn btn-primary" ng-click="store()"
            translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>
  </div>
  <script type="application/javascript">
    $(".select-fixed-multiple").select2({
      minimumResultsForSearch: Infinity,
    });
    $(".select-search").select2();
  </script>
</div>