<breadcrumb-loading ng-show="!userLoaded " title="{{title}}"></breadcrumb-loading>
<div ng-show="userLoaded">
<breadcrumb title="{{title}}"></breadcrumb>
<!--<ng-include src="'/pages/setup/user/user-management-submenu.html'"></ng-include>-->
<br/>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                    class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <button href class="btn btn-info pull-right create-btn" ng-click="createOrEdit({},currentPage,perPage)" >
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span translate="BTN_CREATE"></span>
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th style="width:1%">No.</th>
                            <th style="width:16%" translate="LABEL_FIRST_NAME"></th>
                            <th style="width:16%" translate="LABEL_LAST_NAME"></th>
                            <th style="width:16%" translate="LABEL_USER_NAME"></th>
                            <th style="width:16%" translate="TH_EMAIL"></th>
                            <th style="width:1%" translate="CHEQUE_NUMBER"></th>
                            <th style="width:16%" translate="TH_ADMIN_HIERARCHY"></th>
                            <th style="width:16%" translate="TH_SECTION"></th>
                            <th style="width:16%" translate="FACILITIES"></th>
                            <th style="width:1%" translate="TH_ROLES"></th>
                            <th style="width:1%" translate="IS_ACTIVE"></th>
                            <th style="width:1%" translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td></td>
                            <td class="action">
                                <input class="form-control" ng-model="firstNameQuery" ng-change="loadUsers(false)" />
                            </td>
                            <td class="action">
                                <input class="form-control" ng-model="lastNameQuery" ng-change="loadUsers(false)" />
                            </td>
                            <td class="action">
                                <input class="form-control" ng-model="userNameQuery" ng-change="loadUsers(false)" />
                            </td>
                            <td class="action">
                                <input class="form-control" ng-model="emailQuery" ng-change="loadUsers(false)" /></td>
                            <td></td>
                            <td class="action">
                                <input class="form-control" ng-model="adminQuery" ng-change="loadUsers(false)" />
                            </td>
                            <td class="action">
                                <input class="form-control" ng-model="sectionQuery" ng-change="loadUsers(false)" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat-start="(a, aUsers) in users | groupBy:'admin_hierarchy.name'">
                            <td colspan="12" style="background-color: #9ca2a7; color: #000; font: bolder;" >{{a}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,sUsers) in aUsers | groupBy:'section.name'">
                            <td colspan="12" style="background: #F5F5F5">{{s}}</td>
                        </tr>
                        <tr ng-repeat-end="" ng-repeat="user in sUsers">
                            <td>{{::$index + 1}}</td>
                            <td>{{::user.first_name}}</td>
                            <td>{{::user.last_name}}</td>
                            <td>{{::user.user_name}}</td>
                            <td>{{::user.email}}</td>
                            <td>{{::user.cheque_number}}</td>
                            <td>{{::user.admin_hierarchy.name}}</td>
                            <td>{{::user.section.name}}</td>
                            <td class="action">
                                <a ng-show="!user.is_facility_user" ng-click="addOrRemoveActivityFacility(user)" aria-label="Facilities User">
                                    Service Provider
                                </a>
                                <span ng-show="user.is_facility_user">
                                    {{user.homeFacility.name}} {{user.homeFacility.type}}
                                </span>
                            </td>
                            <td class="action">
                                <a href uib-popover-template="'/pages/setup/user/roles-popover.html'" popover-trigger="'mouseenter'"
                                        type="button"  popover-title="User Roles">
                                   [<i class="fa fa-eye" aria-hidden="true"></i>]
                                </a>
                            </td>
                            <td  class="action-options"  >
                                <span ng-if="user.activations.length > 0">
                                    <a ng-click="deActivateUser(user.id)" aria-label="De-Activate User">
                                        <ng-md-icon icon="done" class="success"></ng-md-icon>
                                    </a>
                                </span>
                                <span ng-if="user.activations.length === 0">
                                   <a ng-click="activateUser(user.id)" aria-label="Activate User" >
                                    <ng-md-icon icon="lock_open" style="color:red !important;"></ng-md-icon>
                                    <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="ACTIVATE_USER"></span></md-tooltip>
                                  </a>
                                </span>
                            </td>
                            <td layout="row" class="action-options" >
                              <a ng-if="!user.is_superuser && user.id !== 21" ng-click="resetPassword(user.id)" aria-label="Reset Password">
                                <ng-md-icon icon="lock" class="warning"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="BTN_RESET_PASSWORD"></span></md-tooltip>
                              </a>
                              <a ng-if="!user.is_superuser && user.id !== 21" ng-click="createOrEdit(user,currentPage,perPage)" aria-label="Edit">
                                <ng-md-icon icon="edit" class="link"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="BTN_EDIT"></span></md-tooltip>
                              </a>
                              <a ng-if="!user.is_superuser && user.id !== 21" ng-click="delete(user.id)" aria-label="Delete">
                                <ng-md-icon icon="delete" class="danger"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="false" autohide="true"><span translate="BTN_DELETE"></span></md-tooltip>
                              </a>
                                <a ng-if="!user.is_superuser && user.id !== 21" ng-click="getUserEvents(user)">
                                    <ng-md-icon icon="event" class="info"></ng-md-icon>
                                </a>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-md-12">
                <ul uib-pagination total-items="usersModel.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="usersModel.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ usersModel.total }}"
                             perPage="{{ usersModel.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>
</div>
