<breadcrumb title="{{title}}"></breadcrumb>
<br/>
<div class="row">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <button href class="btn btn-info pull-right create-btn">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<span translate="Single User Assessment"></span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <md-card>
            <md-card-header>
                <h5>
                    Users Status Summary On {{currentDate | date:'fullDate'}}
                </h5>

            </md-card-header>
            <md-card-content layout-align="center center">
                <!-- <md-progress-circular ng-show="graphLoading" md-mode="indeterminate"> -->

                <table class="table table-bordered table-striped">
                    <thead class="bg-teal-400">
                    <tr>
                        <th>Total Users</th>
                        <th>Active Users</th>
                        <th>Logged In Users</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- <pre>{{userDetails | json}}</pre> -->
                    <tr style=font-size:50px>
                        <td bgcolor="#cc0066"><b>{{userDetails.registered_users}}</b></td>
                        <td bgcolor="#66b3ff"><b>{{userDetails.active_users}}</b></td>
                        <td bgcolor="#2eb82e"><b>{{userDetails.logged_users}}</b></td>
                    </tr>
                    </tbody>
                </table>
                <!-- </md-progress-circular> -->
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">Start Date</span>
            <input ng-click="endPopup =true" type="text" class="form-control"
                   uib-datepicker-popup="{{dateFormat}}"
                   ng-model="startDate" is-open="endPopup"
                   datepicker-options="{minDate:(start_date + 2)}"
                   ng-required="true"
                   close-text="Close"
                   name="startDate"
                   popup-placement="bottom"
                   alt-input-formats="altInputFormats"/>
                   <span ng-click="endPopup =true" class="input-group-addon"><i
                    class="icon-calendar22"></i></span>

        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">End Date</span>
            <input ng-click="endPopup =true" type="text" class="form-control"
                   uib-datepicker-popup="{{dateFormat}}"
                   ng-model="endDate" is-open="endPopup"
                   datepicker-options="{minDate:(endDate + 2)}"
                   ng-required="true"
                   close-text="Close"
                   name="end_date"
                   popup-placement="bottom"
                   alt-input-formats="altInputFormats"/>
                   <span ng-click="endPopup =true" class="input-group-addon"><i
                    class="icon-calendar22"></i></span>

        </div>
    </div>
    <div class="col-md-4" >
        <div class="input-group" style="text-align: right;">
            <span class="input-group-addon">Active Users Only</span>
            <span class="input-group-addon">
            <input type="checkbox" checked="false" ng-model="is_active">
            </span>
            <span class="input-group-btn">
                <button class="btn btn-info" ng-click="searchData()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true">
                </span> Search!</button>
            </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <md-card>
            <md-card-header>
                <h5>
                    SUMMARY 2
                </h5>

            </md-card-header>
            <md-card-content layout-align="center center">
                <!-- <md-progress-circular ng-show="graphLoading" md-mode="indeterminate">
                </md-progress-circular> -->
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>
