<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <form class="form-horizontal" id="profilePictureForm" name="profilePictureForm"
              method="POST" novalidate action="/form/uploadUserProfilePicture" enctype="multipart/form-data">
          <div class="input-group ">
            <input class="btn btn-search" name="file_to_upload" id="file_to_upload"
                   ng-model="profilePicture" type="file" ng-required="true"
                   ng-change="clearMessages()" placeholder="Choose Picture" accept="image/*"
                   value="Choose Picture to upload"/>
            <span class="input-group-btn">
                             <input type="submit" class="btn btn-search" value="{{'BTN_CHANGE'|translate}}"/>
                        </span>
          </div>
          <div ng-show="picFormHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="profilePictureForm.file_to_upload.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
          </div>
        </form>
      </div>
      <div class="col-md-10">
        <button type="button" class="btn btn-success pull-right" ng-click="updateProfile()">
          <i class="fa fa-save" aria-hidden="true"></i>
          <span translate="BTN_SAVE"></span>
        </button>
        <button style="margin-right:4px" href class="btn btn-primary pull-right"
                ng-click="resetPassword(userProfile.id)">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <span translate="BTN_CHANGE_PASSWORD"></span>
        </button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-2">
        <img style="border-radius:4px;border:2px solid #ccc" ng-src="{{userProfile.profile_picture_url}}" width="150"
             height="150"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <form class="form-horizontal" name="updateUserProfileForm" novalidate>
        <div class="form-group">
          <div class="col-sm-4">
            <label translate="LABEL_USER_NAME"></label>
            <input ng-required="true" name="user_name" type="text" ng-model="userProfile.user_name"
                   placeholder="" class="form-control" readonly>
            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateUserProfileForm.user_name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
            </div>
          </div>
          <div class="col-sm-4">
            <label translate="LABEL_FIRST_NAME"></label>
            <input ng-required="true" name="first_name" type="text" ng-model="userProfile.first_name"
                   placeholder="" class="form-control">
            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateUserProfileForm.first_name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
            </div>
          </div>
          <div class="col-sm-4">
            <label translate="LABEL_LAST_NAME"></label>
            <input ng-required="true" name="last_name" type="text" ng-model="userProfile.last_name"
                   placeholder="" class="form-control">
            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateUserProfileForm.last_name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label translate="LABEL_EMAIL"></label>
            <pr-progress ng-show="validatingEmail"></pr-progress>
            <input ng-required="true" name="email" type="email" ng-model="userProfile.email"
                   placeholder="" class="form-control"
                   ng-pattern="emailPattern"
                   ng-change="validateEmail(userProfile.email)">
            <input type="hidden" ng-model="userProfile.validEmail" ng-required="emailExist"
                   name="validEmail">
            <span class="help-block text-danger" ng-show="updateUserProfileForm.validEmail.$error.required"
                  translate="EMAIL_EXIST"></span>
            <span class="help-block text-danger" ng-show="updateUserProfileForm.email.$error.pattern"
            >Email not valid</span>
            <div ng-show="formHasErrors">
              <span class="help-block text-danger"
                    ng-show="updateUserProfileForm.email.$error.required"
                    translate="VALIDATION_REQUIRED"></span>
            </div>
          </div>
          <div class="col-sm-4">
            <label translate="CHEQUE_NUMBER"></label>
            <input ng-required="true" name="cheque_number" type="text" ng-model="userProfile.cheque_number"
                   placeholder="Employee Cheque Number" class="form-control" readonly>
            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="updateUserProfileForm.cheque_number.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
            </div>

          </div>
        </div>
        <div class="form-group">

        </div>

      </form>
    </div>
  </div>
</div>
