<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5  class="modal-title" translate="User System Events"></h5>
            </div>

            <form action="#" class="form-vertical" name="createInputForm">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped " >
                            <tr>
                                <th>Action</th>
                                <th>Trackable Id</th>
                                <th>Trackable type</th>
                                <th>Deleted</th>
                                <th>Date</th>
                            </tr>
                            <tr >
                                <td class="action">
                                    <input type="text" class="form-control" ng-change="pageChanged()" ng-model="actionQuery">
                                </td>
                                <td>
                                </td>
                                <td>

                                </td>
                                <td >

                                </td>
                                <td class="action">
                                    <input  ng-click="startPopup =true" ng-change="pageChanged()" type="text" class="form-control"
                                            uib-datepicker-popup="yyyy-MM-dd"
                                            ng-model="dateQuery" is-open="startPopup"
                                            datepicker-options=""
                                            ng-required="true"
                                            name="start_date"
                                            close-text="Close"
                                            popup-placement="bottom"
                                            alt-input-formats="altInputFormats"/>
                                </td>
                            </tr>
                            <tr ng-repeat="e in events.data">
                                <td>{{e.action}}</td>
                                <td>{{e.trackable_id}}</td>
                                <td>{{e.trackable_type}}</td>
                                <td>{{e.deleted_object}}</td>
                                <td>{{e.created_at | date:'DD/MM/YYYY m:s'}}</td>
                            </tr>
                            <tr ng-show="events.data.length === 0">
                                <td colspan="5"><span translate="NO_DATA_FOUND" ng-if="events.data.length ===0"></span></td>
                            </tr>
                        </table>

                    </div>
                    <div>
                        <ul uib-pagination total-items="events.total" max-size="4" class="pagination-sm pull-left" boundary-links="true"
                            num-pages="numPages" items-per-page="events.per_page"
                            ng-model="currentPage"
                            ng-change="pageChanged()">
                        </ul>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button"  class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>