<div class="manage-nav" >
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_USERS'}" >
            <a id="user-tab" href="/setup#!/users" translate="USERS"></a>
        </li>
        <li  ng-class="{'selected':title=='TITLE_ROLES'}" >
            <a id="role-tab" href="/setup#!/roles" translate="USER_ROLES"></a>
        </li>
        <li ng-class="{'selected':title=='TITLE_ACCESS_RIGHT'}"  class="">
            <a id="right-tab" href="/setup#!/rights" translate="USER_RIGHTS"></a>
        </li>
    </ul>
</div>