<div id="modal_form_horizontal" style="display: block;width:100%">
  <div class="modal-dialog" style="width: 100% !important">
    <div class="modal-content" style="width:100%;">
      <div class="modal-header confirm-dial flex-column">
				<h4 style="text-align: center;font-size: 26px;margin: 30px 0 -10px;" class="modal-title w-100">Are you sure?</h4>
			</div>
      <div class="modal-body">
        <div class="confirm-text">
          <p style="font-size:15px;">Do you really want to {{action}} these Reallocation(s)? Please Write Comment and Confirm.</pre>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Comments:</label>
          <textarea rows="4" class="form-control" id="message-text" ng-model="comments"></textarea>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="confirmApprove()">Confirm</button>
      </div>
    </div>
  </div>
</div>
