<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="TITLE_OPEN_REALLOCATION"></h5>
      </div>

      <form style="padding:1em;padding-top:0px;" action="#" class="form-horizontal" id = "createForm" name="createForm" novalidate>
        <div class="modal-body">
          <div ng-show="errorMessageMain !== ''" class="alert alert-danger" role="alert">
            <alert type="danger" close="closeAlert($index)">{{errorMessageMain}}</alert>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-group">
            <label for="ref" translate="LABEL_REF"></label>
            <input ng-required="true" name="ref" type="text" ng-model="ref_no" placeholder="" class="form-control">
          </div>
          <div class="form-group">
            <label for="comments" translate="LABEL_COMMENTS"></label>
            <textarea ng-required="true" ng-model="comments" class="form-control" name="comments" rows="3"></textarea>
          </div>
          <div style="text-align:right;">
            <div style="position:relative;">
              <a class='btn btn-primary' href='javascript:;'>
                <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span> Attachement
                <input id="document" name="document" accept="application/pdf" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);
                        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        opacity:0;background-color:transparent;color:transparent;' size="40" ngf-select="getFile()">
              </a>

            </div>
          </div>
        </div>
        <div class="row" ng-show="InputFile.length > 0">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                  <tr>
                    <th>File Name</th>
                    <th>For</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="file in InputFile">
                    <td>{{file.file}}</td>
                    <td>
                      <input ng-required="true" id="{{file.File}}" type="text" placeholder="Description"
                        class="form-control">
                    </td>
                    <td style="text-align: right;">
                      <button type="button" class="btn btn-danger" ng-click="removeFile(file)"><span
                          class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="storeReallocation(createForm)"
          translate="BTN_SAVE"></button>
        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
      </div>

    </div>
  </div>
</div>
