<breadcrumb title="{{title}}"></breadcrumb>
<div ng-show="errorMessage.length > 0"  class="alert alert-danger" role="alert">
  <alert ng-repeat="error in errorMessage track by $index" type="danger"  close="closeAlert($index)">{{error}}</alert>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div ng-show="successMessage.length > 0" class="alert alert-success" role="alert">
  <alert ng-repeat="succes in successMessage track by $index" type="danger"  close="closeAlert($index)">{{succes}}</alert>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form  novalidate name="reallocationForm">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2" flex="100" class="flex flex-col">
        <md-input-container class="md-block">
          <label> Financial Years</label>
          <md-select ng-change="financialYearChanged()" name="financialYearId" ng-model="financialYearId">
            <md-option ng-repeat="item in financialYears" ng-value="item.id">
                      <span>
                          {{item.name}}
                       </span>
            </md-option>
          </md-select>
        </md-input-container>
    </div>
      <div class="col-md-2" flex="100" class="flex flex-col">
        <md-input-container class="md-block">
          <label>Budget Type</label>
          <md-select name="budgetType" ng-model="budgetType">
            <md-option ng-repeat="item in budgetTypes" ng-value="item">
                        <span>
                            {{item}}
                         </span>
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    <div class="col-md-4" flex="100" class="flex flex-col">
      <md-input-container class="md-block">
        <label>Vote</label>
        <md-select ng-change="voteChanged()"  name="vote" ng-model="selectedVote">
          <md-option ng-repeat="item in votes" ng-value="item">
                      <span>
                          {{item.code +' - '+item.name}}
                       </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-md-4" flex="100" class="flex flex-col">
      <md-input-container class="md-block">
        <label>From PISC</label>
        <md-select ng-change="piscChanged(reallocationForm)"  name="selectedFromPisc" ng-model="selectedFromPisc">
          <md-option ng-repeat="item in adminHierarchies" ng-value="item">
                      <span>
                          {{item.code +' - '+item.name}}
                       </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-md-4" flex="100" class="flex flex-col">
      <md-input-container class="md-block">
        <label>Fund Sources</label>
        <md-select ng-change = "getSubBudgetClass()" name="fundSource" ng-model="selectedFundSource">
          <md-option ng-repeat="item in fundSources" ng-value="item">
                      <span>
                          {{item.code +' - '+item.name}}
                       </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-md-4" flex="100" class="flex flex-col">
      <md-input-container class="md-block">
        <label>Sub Budget Class</label>
        <md-select ng-change = "getActivities()" name="sbc" ng-model="selectedSubBudgetClass">
          <md-option ng-repeat="item in subBudgetClasses" ng-value="item">
                      <span>
                          {{item.code +' - '+item.name}}
                       </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="col-md-4" flex="100" class="flex flex-col">
      <md-input-container class="md-block">
        <label>To PISC</label>
        <md-select ng-change="fileUploadCheck(reallocationForm)" name="topisc" ng-model="selectedToPisc">
          <md-option ng-repeat="item in adminHierarchies" ng-value="item">
                      <span>
                          {{item.code +' - '+item.name}}
                       </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-md-12" ng-show="showFile">
      <div  class="alert {{ alert }}" role="alert">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <p ng-show="realocations.length > 0">
                <strong>This Reallocation Opened On : </strong>{{realocations[0].created_at}}
              </p>
            </div>
            <div class="col-md-6">
              <p ng-show="realocations.length > 0 && activities.length <= 0 ">
                <strong>Nothing To Allocate From Selected Pisc </strong>
              </p>
            </div>
            <button ng-show="realocations.length <= 0"  class="btn btn-info" ng-click = "openReallocation(reallocationForm)"><span class="btn-label"><i class="glyphicon glyphicon-open"></i></span> Create Reallocation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div ng-show="showActivities > 0" class="row">
  <div class="col-md-6">
    <md-button  ng-click = "backToReallocation()" class="md-raised"><span class="btn-label"><i class="glyphicon glyphicon-arrow-left"></i></span></md-button>
  </div>
  <div class="reallocation col-md-6">
    <md-checkbox ng-model="isChecked" ng-change="SelectAllGLAccount(activities,isChecked)" aria-label="Finished?">
      Select All GL Account
    </md-checkbox>
    <md-button ng-disabled="allowAllocation" ng-click = "allocatesGlAccount(reallocationForm)" class="md-raised md-primary">Reallocate</md-button>
  </div>
</div>
<br>
<div class="col-md-12">
  <div ng-show="showActivities > 0 && activities.length > 0">
    <div class="row">
      <div class="col-md-12">
        <span class="text-bold">{{'Fund Source: '+selectedFundSource.name}}</span>
        <div class="pull-right text-bold">
          <span>Total Amount Reallocated: {{ amountAllocated| currency:"" }}</span>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
            <tr>
              <th translate="TH_NO"></th>
              <th translate="COA"></th>
              <th translate="GFS_CODE"></th>
              <th translate="TH_BUDGET"></th>
              <th translate="TH_EXPENDITURE"></th>
              <th translate="TH_AMOUNT_TO_ALLOCATE"></th>
              <th translate="ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="(s,items) in activities | groupBy:'section'">
              <td colspan="7" class="bg-teal">{{s}}</td>
            </tr>
            <tr ng-repeat-start="(key, value) in items | groupBy:'activity'">
              <td colspan="7" class="bg-slate-700"><span translate="ACTIVITY"></span> : {{key}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="budgetExportAccount in value">
              <td>{{$index + 1}}</td>
              <td nowrap="nowrap">{{budgetExportAccount.chart_of_accounts}}</td>
              <td>[{{budgetExportAccount.gfs_code}}] {{budgetExportAccount.gfs_code_description}}</td>
              <td><span class="pull-right">{{budgetExportAccount.amount|currency:""}}</span></td>
              <td><span class="pull-right">{{budgetExportAccount.expenditure|currency:""}}</span></td>
              <td><span class="pull-right">{{budgetExportAccount.to_allocate|currency:""}}</span></td>
              <!-- <td>
                <input style="width:150px;" type="number" class="form-control" aria-label="amount_allocated"
                ng-model="amount_allocated"  ng-disabled="checked" ng-blur="allocatedAmmount(amount_allocated,budgetExportAccount)">
              </td> -->
              <td>
                <md-checkbox id = "{{budgetExportAccount.chart_of_accounts}}" aria-label="Is reached" ng-model="checked" ng-change="getSelectedItem(budgetExportAccount,checked)"></md-checkbox>
              </td>
            </tr>
            <tr ng-repeat-end>
              <td colspan="3" class="text-bold"><span class="pull-right">SECTION TOTAL</span> </td>
              <td class="text-bold">
                <span class="pull-right ">{{ sub_total[items.section_id]| currency:""}}</span>
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
            <tfooter>
              <tr class="text-info">
                <td style="text-align: right;" colspan="3">GRAND TOTAL</td>
                <td class="text-bold">
                  <span class="pull-right ">{{ grand_total | currency:"" }}</span>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tfooter>
          </table>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="row"  ng-show="showActivities < 1">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="bg-teal-400">
            <tr>
              <th colspan="8" translate=""><strong>Reallocations</strong></th>
            </tr>
            <tr>
              <th translate="">SN</th>
              <th translate="">Refference No.</th>
              <th translate="">From PISCs</th>
              <th translate="">To PISCs</th>
              <th translate="">Date</th>
              <th translate="">Toatal Amount (TSH)</th>
              <th translate=""> Attachements</th>
              <th translate="ACTION">A</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-end ng-repeat="item in allReallocation">
              <td>{{$index + 1}}</td>
              <td>{{item.reference_code}}</td>
              <td>{{item.piscfromcode}}-{{item.piscfromname}}</td>
              <td>{{item.pisctocode}}-{{item.pisctoname}}</td>
              <td>{{item.created_at | date : 'mediumTime'}}</td>
              <td>{{item.total_amount | currency : "" }}</td>
              <td>
                <p ng-show="item.document_url">
                  <a  href ng-click="openDocuments(item.document_url)" target="_blank">Document 1 </a>
                </p>
                <p ng-show="item.document_url2">
                  <a href ng-click="openDocuments(item.document_url2)" >Document 2 </a>
                </p>
                <p ng-show="item.document_url3">
                  <a href ng-click="openDocuments(item.document_url3)" >Document 3 </a>
                </p>
              </td>
              <td>
                <button type="button" ng-click ="previewReallocation(item)" class="btn btn-outline-info"><span class="btn-label"><i class="glyphicon glyphicon-open-file"></i></span> Preview</button>
                <!-- <button  class="btn btn-danger" ng-click = "deleteFile()"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span> Delete</button> -->
              </td>
            </tr>
            <tr ng-show="allReallocation.length <= 0">
              <td colspan="8" style="text-align:center;">
                <strong>No Any Reallocation within PISCs</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
