<div id="modal_form_horizontal" style="display: block;width:100%">
  <div class="modal-dialog" style="width: 100% !important">
    <div class="modal-content" style="width:100%;">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="TITLE_REALLOCATION"></h5>
      </div>
      <div class="modal-body">
        <div ng-show="errorMessage.length > 0"  class="alert alert-danger" role="alert">
          <alert ng-repeat="error in errorMessage track by $index" type="danger"  close="closeAlert($index)">{{error}}</alert>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div ng-show="successMessage.length > 0" class="alert alert-success" role="alert">
          <alert ng-repeat="succes in successMessage track by $index" type="danger"  close="closeAlert($index)">{{succes}}</alert>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <p><strong>Reallocation Within PISCS .</strong></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;<strong>From : {{selectedReallocation.piscfromcode}}-{{selectedReallocation.piscfromname}}</strong></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;<strong>To   : {{selectedReallocation.pisctocode}}-{{selectedReallocation.pisctoname}}</strong></p>
            </div>
          </div>
          <div class="col-md-12"  style="text-align:right;margin-bottom:1em;">
            <button ng-disabled="reallocationItem.length <= 0" type="button"  ng-click="approveAllocation('All',true,1)" class="btn btn-outline-info"><span class="btn-label"><i class="
              glyphicon glyphicon-ok"></i></span> Approve All</button>
            <button ng-disabled="reallocationItem.length <= 0"  class="btn btn-danger" ng-click="approveAllocation('All',true,0)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Reject All</button>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                  <tr>
                    <th colspan="8" translate=""><strong>Reallocation Items</strong></th>
                  </tr>
                  <tr>
                    <th translate="">Account From</th>
                    <th translate="">GFS Code</th>
                    <th translate="">Sub Budget Class</th>
                    <th translate="">Fund Source</th>
                    <th translate="">Amount</th>
                    <th translate="">Is Approved</th>
                    <th translate="">Is Rejected</th>
                    <th translate="ACTION">A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-end ng-repeat="item in reallocationItem">
                    <td>{{item.from_chart_of_accounts}}</td>
                    <td>{{item.gfs_code_name}}</td>
                    <td>{{item.sbc}}</td>
                    <td>{{item.fundsource}}</td>
                    <td>{{item.amount}}</td>
                    <td>
                      <label class="switch">
                        <input ng-disabled="item.is_rejected" type="checkbox"
                               name="selectedapprove"
                               ng-model ="item.is_approved"
                               ng-checked="{{item.is_approved}}"
                               value="{{item.is_approved}}"
                               ng-click="approveAllocation(item,item.is_approved,1)" />
                        <div class="slider round"></div>
                      </label>
                    </td>
                    <td>
                      <label class="switch">
                        <input  ng-disabled="item.is_approved"
                               type="checkbox"
                               ng-model ="item.is_rejected"
                               name="selectedReject"
                               ng-checked="{{item.is_rejected}}"
                               value="{{item.is_rejected}}"
                               ng-click="approveAllocation(item,item.is_rejected,0)" />
                        <div class="slider round"></div>
                      </label>
                    </td>
                    <td>
                      <button ng-disabled="item.is_approved || item.is_rejected"  class="btn btn-danger" ng-click = "deleteItem(item)"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span> Delete</button>
                    </td>
                  </tr>
                  <tr ng-show="reallocationItem.length <= 0">
                    <td colspan="8" style="text-align:center;">
                      <strong>No Items For This Reallocation</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="col-md-12" style="padding: 1em;">
                <div class="row">
                  <div class="col-md-10" ng-show="filteredItems.length > 0">
                      <ul uib-pagination total-items="filteredItems.length" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                          num-pages="numOfPages" items-per-page="itemsPerPage"
                          ng-model="curPage"
                          ng-change="pageChanged()">
                      </ul>
                      <total-pages currentPage="{{curPage}}" totalItems="{{ filteredItems.length }}" perPage="{{ itemsPerPage }}"></total-pages>
                  </div>
                  <div class="col-md-2" ng-show="filteredItems.length > 0">
                      <per-page ng-model="itemsPerPage" ng-change="pageChanged()"></per-page>
                  </div>
              </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
