<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_EDIT_BUDGET_SUBMISSION_LEVELS"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBudgetSubmissionSubForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_NAME"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="budgetSubmissionSubFormToEdit.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateBudgetSubmissionSubForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_CODE"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="budgetSubmissionSubFormToEdit.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateBudgetSubmissionSubForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_BUDGET_FORM"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="budgetSubmissionSubFormToEdit.budget_submission_form_id"
                                    class="form-control select-search3" name="budget_submission_form_id"
                                    ng-change="loadParent(budgetSubmissionSubFormToEdit.id)"
                                    ng-options="budgetForm.id as budgetForm.name for budgetForm in BudgetForms" select-search>
                                <option value="" selected>Select Form</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_BUDGET_LEVEL_PARENT"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="budgetSubmissionSubFormToEdit.parent_id"
                                    class="form-control select-search4" name="parent_id"
                                    ng-options="parent.id as parent.name for parent in BudgetFormParents" select-search>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_IS_LOWEST"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" name="is_lowest" ng-model="budgetSubmissionSubFormToEdit.is_lowest" >
                                <span translate="LABEL_YES"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input type="number" ng-model = "budgetSubmissionSubFormToEdit.sort_order" name="sort_order" class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>