<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_EXPENDITURE_CENTRE_GFS_CODE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateExpenditureCentreGfsCodeForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="EXPENDITURE_CENTRE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search1"
                                    ng-model="expenditureCentreGfsCodeToEdit.expenditure_centre_id"
                                    name="expenditure_centre_id"
                                    ng-options="task_nature.id as task_nature.name for task_nature in expenditure_centres">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateExpenditureCentreGfsCodeForm.expenditure_centre_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="GFS_CODE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="expenditureCentreGfsCodeToEdit.gfs_code_id"
                                    name="gfs_code_id"
                                    ng-options="exp.id as ('['+exp.code+'] '+exp.name) for exp in gfs_codes">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateExpenditureCentreGfsCodeForm.gfs_code_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>