<style>
    td.active,td.active input{ background: #fff !important;}
</style>
<breadcrumb-loading ng-if="!performanceIndicatorLoaded || !financialyearloaded || !dataSourcesLoaded" title="{{title}}"></breadcrumb-loading>
<div ng-show="performanceIndicatorLoaded && financialyearloaded && dataSourcesLoaded">
    <breadcrumb title="{{title}}"></breadcrumb>
    <div class="row">
        <div ng-show="action" class="col-md-12">
            <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="action=undefined">
                    <span>×</span><span class="sr-only">Close</span></button>
                {{action | translate}}
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-show="successMessage" class="col-md-12">
            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="successMessage=undefined">
                    <span>×</span><span class="sr-only">Close</span></button>
                {{successMessage | translate}}
            </div>
        </div>
        <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined">
                    <span>×</span><span class="sr-only">Close</span></button>
                {{errorMessage | translate}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group ">
                        <input ng-model="searchQuery" type="text" class="form-control" placeholder="Search performance indicator">
                        <span class="input-group-btn">
                            <button ng-click="searchIndicator()" class="btn btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="heading-btn pull-right">
                        <button type="button" class="btn btn-info" ng-click="save(true)">
                            <i class="fa fa-save"></i>
                            <span translate="BTN_SAVE"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-fixed">
                            <thead class="bg-teal-400">
                            <tr>
                                <th colspan="2"></th>
                                <th class="text-center" ng-repeat-start="f in financialYears" ng-show="lessEqualToExecutionYear(f)" colspan="2">{{f.name}}</th>
                                <th ng-if="isExecutionYear(f)" ng-repeat-end></th>
                            </tr>
                            <tr>
                                <th translate="NO" style="width:1%"></th>
                                <th translate="PERFORMANCE_INDICATOR"></th>
                                <th  ng-repeat-start="f in financialYears" ng-show="lessEqualToExecutionYear(f)" translate="TARGET_VALUE"></th>
                                <th ng-show="lessEqualToExecutionYear(f)" ng-repeat-start="i in [1]"  translate="ACTUAL_VALUE"></th>
                                <th translate="DATA_SOURCE" ng-if="isExecutionYear(f)" ng-repeat-end></th>
                                <th ng-repeat-end="" ng-if="false"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items.data" ng-init="item.baseline_values[0].fy_values=[]">
                                <td>{{((currentPage -1)*perPage) + $index + 1}}</td>
                                <td style="width:40%">{{item.description}}</td>

                                <td  ng-repeat-start="f in financialYears" ng-show="lessEqualToExecutionYear(f)"
                                     class="text-center"
                                     ng-class="{'disabled':!item.baseline_values[0].fy_values[$index].isExecutionYear,'active':item.baseline_values[0].fy_values[$index].isExecutionYear}"
                                     ng-init="item.baseline_values[0].fy_values[$index] = getFyInitialValues(item.baseline_values[0],f)">
                                    {{item.baseline_values[0].fy_values[$index].planned_value}}
                                </td>
                                <td class="input text-center"    ng-show="lessEqualToExecutionYear(f)"
                                    ng-class="{'disabled':!item.baseline_values[0].fy_values[$index].isExecutionYear,'active':item.baseline_values[0].fy_values[$index].isExecutionYear}"
                                >
                                    <input ng-if="item.baseline_values[0].fy_values[$index].isExecutionYear"  type="text" class="form-control"
                                           ng-model="item.baseline_values[0].fy_values[$index].actual_value" />
                                    <span  ng-if="!item.baseline_values[0].fy_values[$index].isExecutionYear">{{item.baseline_values[0].fy_values[$index].actual_value}}</span>
                                </td>
                                <td ng-show="item.baseline_values[0].fy_values[$index].isExecutionYear" class="input active" ng-repeat-end >
                                    <select ng-model="item.baseline_values[0].fy_values[$index].data_source_id"  class="form-control"
                                            ng-options="dts.id as dts.name for dts in dataSources">
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-show="items.total > items.per_page">
                <div class="col-md-10">
                    <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                        num-pages="numPages" items-per-page="items.per_page"
                        ng-model="currentPage"
                        ng-change="pageChanged()">
                    </ul>
                    <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                                 perPage="{{ items.per_page }}"></total-pages>
                </div>
                <div class="col-md-2">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
                </div>
            </div>
        </div>
    </div>
</div>