<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_NUMBER"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="casAssessmentRound in casAssessmentRounds | orderBy: 'number' ">
                            <td>{{$index + 1}}</td>
                            <td>{{casAssessmentRound.name }}</td>
                            <td>{{casAssessmentRound.number }}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(casAssessmentRound)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(casAssessmentRound.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>