<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createSectorProblemForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_SECTOR_PROBLEM"></h5>
                </div>
                <pr-progress ng-show="loadingGenericTemplates"></pr-progress>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="PRIORITY_AREA"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search" ng-change="loadGenerics(sectorProblemToCreate.priority_area_id)"
                                            ng-model="sectorProblemToCreate.priority_area_id"
                                            name="priority_area_id"
                                            ng-options="priority_area.id as ('['+priority_area.number+'] '+priority_area.description) for priority_area in priority_areas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorProblemForm.priority_area_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="genericSectorProblems.length >0 && genericLoaded && !paramSet" style="background: #f5f5f5;padding-bottom:4px">
                                <hr/>
                                <label class="control-label col-sm-3">
                                    <span translate="GENERIC_SECTOR_PROBLEMS"></span>
                                    <span><a href ng-click="genericLoaded =true; paramSet=true">
                                      <i class="fa fa-times-circle fa-lg" style="color:red" aria-hidden="true"></i>
                                  </a></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search" ng-change="showParam(selectedGenericSectorProblem)"
                                            ng-model="selectedGenericSectorProblem"
                                            ng-options="gen as gen.description for gen in genericSectorProblems">
                                    </select>
                                    <div class="row" style="margin-top:4px" ng-if="selectedGenericSectorProblem !== undefined">
                                        <div ng-repeat="p in selectedGenericSectorProblemParams" class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon text-info" >{{p.name}}</span>
                                                <input id="{{p.name}}" ng-model="p.value" type="text" class="form-control input-sm"/>
                                            </div>

                                        </div>
                                        <div  class="col-sm-3">
                                            <button type="button" class="btn btn-info" translate="BTN_CREATE"
                                                    ng-click="createFromTemplate(selectedGenericSectorProblem,selectedGenericSectorProblemParams)">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                            </div>
                            <div class="form-group" ng-show="genericLoaded && paramSet">
                                <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                                <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="sectorProblemToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorProblemForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group" ng-show="genericLoaded && paramSet">
                                <label class="control-label col-sm-3" translate="NUMBER"></label>
                                <div class="col-sm-9">
                                    <input ng-required="true" name="number" type="text" id="spnumber"
                                           ng-model="sectorProblemToCreate.number" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorProblemForm.number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>