<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateSectorProblemForm">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_SECTOR_PROBLEM"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="PRIORITY_AREA"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search"
                                            ng-model="sectorProblemToEdit.priority_area_id"
                                            name="priority_area_id"
                                            ng-options="value.id as ('['+value.number+'] '+value.description) for value in priority_areas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateSectorProblemForm.priority_area_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                                <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="sectorProblemToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateSectorProblemForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="NUMBER"></label>
                                <div class="col-sm-9">
                                    <input ng-required="true" name="number" type="text"
                                           ng-model="sectorProblemToEdit.number" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateSectorProblemForm.number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="application/javascript">
    $(".select-search").select2();
</script>