<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="NUMBER"></th>
                            <th translate="TH_ACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat-start="(p, values) in sectorProblems.data | groupBy:'priority_area.description'">
                            <td style="background: #F5F5F5" colspan="5"><strong><span translate="PRIORITY_AREA"></span> {{values[0].priority_area.number}}: {{p}}</strong></td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="sectorProblem in values">
                            <td>{{$index + 1}}</td>
                            <td>{{sectorProblem.description}}</td>
                            <td>{{sectorProblem.number}}</td>
                            <!--<td>{{sectorProblem.priority_area.description}}</td>-->
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="sectorProblem.is_active" ng-model="sectorProblem.is_active"
                                           ng-change="toggleActive(sectorProblem.id, sectorProblem.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap" class="action">
                                <a href class="btn btn-info" ng-click="edit(sectorProblem,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(sectorProblem.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="sectorProblems.total > sectorProblems.per_page">
            <div class="col-md-8">
                <ul uib-pagination total-items="sectorProblems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="sectorProblems.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ sectorProblems.total }}" perPage="{{ sectorProblems.per_page }}"></total-pages>
            </div>
            <div class="col-md-4">
                <per-page ng-model="perPage" class="pull-right" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>