<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateAccountTypeForm">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="MODAL_TITLE_EDIT_ACCOUNT_TYPE"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input type="text" name="name" ng-model="accountTypeToEdit.name" placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateAccountTypeForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                        <div class="col-sm-9">
                            <input type="text" name="code" ng-model="accountTypeToEdit.code" placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateAccountTypeForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="display-block text-semibold col-sm-3" translate="LABEL_BALANCE_TYPE"></label>
                        <div class="col-sm-3">
                            <select name="balance_type" class="form-control select-search"
                                    ng-model="accountTypeToEdit.balance_type"
                                    ng-options="balance_type for balance_type in balance_types">
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                                <textarea ng-model="accountTypeToEdit.description" name="description"
                                          placeholder="" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()"
                            translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()"
                            translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $('.select-search').select2()
</script>