<breadcrumb title="{{title}}" print-section></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-primary" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button print-btn type="button" class="btn btn-file">
                        <i class="fa fa-print"></i>
                        <span translate="BTN_PRINT"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" print-section>
                    <table class="table table-bordered table-striped" print-table="accountTypes.data">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th ng-click="orderByField='name'; reverseSort = !reverseSort">
                                <button type="button" class="btn btn-flat text-black" href="#">
                                    <span translate="TH_NAME"></span>
                                    <span ng-show="orderByField == 'name'"></span>
                                </button>
                            </th>
                            <th ng-click="orderByField='code'; reverseSort = !reverseSort">
                                <button type="button" class="btn btn-flat text-black" href="#">
                                    <span translate="TH_CODE"></span>
                                    <span ng-show="orderByField == 'code'"></span>
                                </button>
                            </th>
                            <th ng-click="orderByField='balance_type'; reverseSort = !reverseSort">
                                <button type="button" class="btn btn-flat text-black" href="#">
                                    <span translate="TH_BALANCE_TYPE"></span>
                                    <span ng-show="orderByField == 'balance_type'"></span>
                                </button>
                            </th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TH_ACTION" print-remove></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accountType in accountTypes.data | orderBy:orderByField:reverseSort">
                            <td>{{$index + 1}}</td>
                            <td>{{accountType.name}}</td>
                            <td>{{accountType.code}}</td>
                            <td>{{accountType.balance_type}}</td>
                            <td>{{accountType.description}}</td>
                            <td nowrap="nowrap" print-remove>
                                <a href class="btn btn-primary" ng-click="edit(accountType,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(accountType.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="accountTypes.total > accountTypes.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="accountTypes.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="accountTypes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ accountTypes.total }}" perPage="{{ accountTypes.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>