<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>

    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS','FINANCIAL_YEARS','BUDGET_TYPES']" on-change="filterChanged(filter)"></main-filter>
<div layout="row">
<div layout="column" flex=15>
    <md-input-container>
        <label>Financial Year</label>
        <md-select aria-label="Financial Year" ng-model="financialYear">
            <md-option ng-repeat=" fy in financialYears" ng-value="fy">{{fy.name}}</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="column" flex=15>
    <md-input-container>
        <label>Financial System</label>
        <md-select aria-label="system_code" ng-model="system_code">
            <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="column" flex=20>
    <md-input-container>
        <label>Transaction type </label>
        <md-select aria-label="transaction_type" ng-model="transaction_type">
            <md-option ng-repeat="item in transaction_types" ng-value="item">{{item}}</md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="column" flex=20>
    <md-button ng-disabled="(system_code == null || transaction_type == null  || financialYear.id == null )"  class="md-raised md-primary"
       ng-click="loadTransaction()" >Load Transaction
    </md-button>
</div>
</div>
</div>

<div layout="row" ng-show="transactions.total > 0">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                    <tr>
                        <th translate="DATE"></th>
                        <th translate="COA"></th>
                        <!-- <th translate="BOOK"></th> -->
                        <th translate="CREDIT"></th>
                        <th translate="DEBIT"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in transactions.data">
                        <td>{{ item.date|date:'mediumDate' }}</td>
                        <td>{{ item.chart_of_account }}</td>
                        <!-- <td>[{{ item.gfscode }}] {{ item.gfsname }}</td> -->
                        <td>{{ item.credit_amount|currency:'' }}</td>
                        <td>{{ item.debit_amount|currency:'' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="transactions.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="transactions.per_page"
                    ng-model="currentPage" ng-change="loadTransaction(currentPage, perPage)">
                </ul>
                <!-- <total-pages currentPage="{{currentPage}}" totalItems="{{ transactions.total }}"
                    perPage="{{ transactions.per_page }}"></total-pages> -->
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="loadTransaction(currentPage, perPage)"></per-page>
            </div>
        </div>
    </div>
</div>