<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_PERFORMANCE_INDICATOR_BASELINE_VALUE"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="PERFORMANCE_INDICATOR"></label>
                                    <select class="form-control select-search1"
                                            ng-model="createDataModel.performance_indicator_id"
                                            name="performance_indicator_id"
                                            ng-options="exp.id as ('['+exp.number+']'+exp.description) for exp in performanceIndicators">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.performance_indicator_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label translate="START_FINANCIAL_YEAR"></label>
                                    <select class="form-control select-search2"
                                            ng-model="createDataModel.start_financial_year_id"
                                            name="start_financial_year_id"
                                            ng-change="loadEndFinancialYears(createDataModel.start_financial_year_id)"
                                            ng-options="exp.id as exp.name for exp in financialYears">
                                        <option value="" selected="">-Baseline Year-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.start_financial_year_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label translate="END_FINANCIAL_YEAR"></label>
                                    <select class="form-control select-search3"
                                            ng-model="createDataModel.end_financial_year_id"
                                            name="end_financial_year_id"
                                            ng-change="loadProjectionYears(createDataModel.start_financial_year_id,createDataModel.end_financial_year_id)"
                                            ng-options="exp.id as exp.name for exp in endYears">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.end_financial_year_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label translate="BASELINE_VALUE"></label>
                                    <input ng-required="true" name="baseline_value" type="text"
                                           ng-model="createDataModel.baseline_value" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.baseline_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label translate="TARGETED_VALUE"></label>
                                    <input ng-required="true" name="targeted_value" type="text"
                                           ng-model="createDataModel.targeted_value" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.targeted_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="createDataModel.end_financial_year_id > 1">
                        <div class="col-md-8 col-md-offset-2" >
                            <h3 class="page-title">Projection</h3>
                            <div class="form-group" ng-repeat="year in years">
                                <div class="col-md-6">
                                    <div class="input-group input-group-xs">
                                        <span class="input-group-addon">{{year.name}}</span>
                                        <input type="hidden" ng-init="createDataModel.years[$index].financial_year_id = year.id"  ng-show="false">
                                        <input type="text" class="form-control" name="planned_value" ng-model="createDataModel.years[$index].planned_value" placeholder="planned value">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group input-group-xs">
                                        <span class="input-group-addon">Data Source</span>
                                        <select class="form-control"
                                                ng-model="createDataModel.years[$index].data_source_id"
                                                name="data_source_id"
                                                ng-options="exp.id as exp.name for exp in data_sources">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>