<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="UPDATE_PERFORMANCE_INDICATOR_BASELINE_VALUE"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="PERFORMANCE_INDICATOR"></label>
                                    <select class="form-control select-search1"
                                            ng-model="updateDataModel.performance_indicator_id"
                                            name="performance_indicator_id"
                                            ng-options="exp.id as ('['+exp.number+']'+exp.description) for exp in performanceIndicators">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.performance_indicator_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label translate="START_FINANCIAL_YEAR"></label>
                                    <select class="form-control select-search2"
                                            ng-model="updateDataModel.start_financial_year_id"
                                            name="start_financial_year_id"
                                            ng-change="loadEndFinancialYears(updateDataModel.start_financial_year_id)"
                                            ng-options="exp.id as exp.name for exp in financialYears">
                                        <option value="" selected="">-Baseline Year-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.start_financial_year_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label translate="END_FINANCIAL_YEAR"></label>
                                    <select class="form-control select-search3"
                                            ng-model="updateDataModel.end_financial_year_id"
                                            name="end_financial_year_id"
                                            ng-change="loadProjectionYears(updateDataModel.start_financial_year_id,updateDataModel.end_financial_year_id)"
                                            ng-options="exp.id as exp.name for exp in endYears">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.end_financial_year_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label translate="BASELINE_VALUE"></label>
                                    <input ng-required="true" name="baseline_value" type="text"
                                           ng-model="updateDataModel.baseline_value" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.baseline_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label translate="TARGETED_VALUE"></label>
                                    <input ng-required="true" name="targeted_value" type="text"
                                           ng-model="updateDataModel.targeted_value" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.targeted_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>