<breadcrumb-loading ng-if="!performanceIndicatorLoaded || !financialyearloaded || !dataSourcesLoaded" title="{{title}}"></breadcrumb-loading>
<div ng-show="performanceIndicatorLoaded && financialyearloaded && dataSourcesLoaded">
<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="items">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group ">
                    <input ng-model="searchQuery"  ng-keypress="enterToSearch($event)" type="text" class="form-control" placeholder="Search performance indicator">
                    <span class="input-group-btn">
                        <button ng-click="searchIndicator()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="save(true)">
                        <i class="fa fa-save"></i>
                        <span translate="BTN_SAVE"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper" style="overflow-y: auto">
                    <table class="table table-bordered table-striped table-fixed">
                        <thead class="bg-teal-400">
                        <tr>
                            <td></td>
                            <td></td>
                            <th colspan="2" style="text-align: center;border-right: 2px solid #bbb">Base line values</th>
                            <th colspan="{{financialYears.length}}" style="text-align:center ">Projected Financial Year Values</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th translate="NO"></th>
                            <th translate="PERFORMANCE_INDICATOR"></th>
                            <th >
                                <span translate="BASELINE_VALUE"></span><br/>[{{financialYears[1].name}}]
                            </th>
                            <th style="border-right: 2px solid #bbb" >
                                <span translate="TARGETED_VALUE"></span><br/>[{{financialYears[financialYears.length -1].name}}]
                            </th>
                            <th  ng-repeat="f in financialYears">{{f.name}}</th>
                            <th> Data Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items.data" ng-init="item.baseline_values[0].fy_values=[]">
                            <td>{{((currentPage -1)*perPage) + $index + 1}}</td>
                            <td style="width:20%">{{item.description}}</td>

                            <td class="input">
                                <input class="form-control" ng-model="item.baseline_values[0].baseline_value" />
                            </td>
                            <td class="input" style="border-right: 2px solid #bbb">
                                <input class="form-control" ng-model="item.baseline_values[0].targeted_value" />
                            </td>
                            <td class="input" ng-repeat="f in financialYears" ng-init="item.baseline_values[0].fy_values[$index]=getFyInitialValues(item.baseline_values[0],f)">
                                <input  type="text" class="form-control"
                                       ng-model="item.baseline_values[0].fy_values[$index].planned_value" />
                            </td>
                            <td class="input" ng-init="item.baseline_values[0].dataSourceId = getDataSourceValue(item.baseline_values[0])">
                                <select ng-model="item.baseline_values[0].dataSourceId"  class="form-control" ng-options="d.id as d.name for d in dataSources">

                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br/>
        <div class="row" >
            <div class="col-md-8">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages   total-items="{{items.total}}" current-page="{{currentPage}}"
                             per-page="{{items.per_page }}">
                </total-pages>
            </div>
            <div class="col-md-4">
                <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
</div>
