<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Performance Indicator: {{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="FINANCIAL_YEAR"></th>
                                <th translate="PLANNED_VALUE"></th>
                                <th translate="DATA_SOURCE"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select class="form-control select-search1"
                                            ng-model="projectionData.financial_year_id"
                                            name="financial_year_id"
                                            ng-options="exp.id as exp.name for exp in endYears">
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="planned_value" class="form-control" ng-model="projectionData.planned_value"/>
                                </td>
                                <td>
                                    <select class="form-control select-search1"
                                            ng-model="projectionData.data_source_id"
                                            name="data_source_id"
                                            ng-options="exp.id as exp.name for exp in data_sources">
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="addProjection()"><span class="fa fa-plus"></span> Create</button>
                                </td>
                            </tr>
                            <tr ng-repeat="item in baseline_values">
                                <td>{{ item.financial_year.name }}</td>
                                <td>{{ item.planned_value }}</td>
                                <td>{{ item.data_source.name }}</td>
                                <td nowrap="nowrap">
                                    <button type="button" class="btn btn-danger" ng-click="deleteProjection(item.id,performance_indicator_baseline_value_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search1').select2();
        $('.select-search2').select2();
    </script>
</div>