<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_GENERIC_TEMPLATE"></h5>
            </div>
            <form action="#" class="form-horizontal" name="createGenericTemplateForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="genericTemplateToCreate.name"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGenericTemplateForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_GENERIC_TEMPLATE_PARENT"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="genericTemplateToCreate.generic_template_id"
                                    class="form-control"
                                    ng-options="item.id as item.name group by item.parent.name for item in parentGenericTemplates | orderBy:'id'">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_DESCRIPTION"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="description" type="text" ng-model="genericTemplateToCreate.description"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGenericTemplateForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_TEMPLATE_TYPE"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="template_type" type="text" ng-model="genericTemplateToCreate.template_type"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGenericTemplateForm.template_type.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_PARAMETERS"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="parameters" type="text" ng-model="genericTemplateToCreate.parameters"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createGenericTemplateForm.parameters.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>