<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-5">
        <!-- Multiple buttons -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="panel-title" translate="PLANNING_SEQUENCE"></h6>
            </div>
            <div class="panel-body">
                <input style="width:100%" class="form-control" ng-model='planChainSearchQuery' type="text"
                       placeholder="Search in tree..."/>
                <br/>
                <ul class="generic-types">
                    <li ng-class="{'selected':planChain.id === selectedPlanChain.id}"
                        ng-repeat="planChain in planChains | orderBy : 'planChain.name' | filter : planChainSearchQuery "
                    ><a href ng-click="setSelectedPlanChain(planChain)">{{planChain.name}}</a></li>
                </ul>
            </div>
        </div>
        <!-- /multiple button -->
    </div>
    <div ng-if="selectedPlanChain != undefined" class="col-md-7">
        <!-- Multiple buttons -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">{{selectedPlanChain.name}} Generic Templates</h6>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" href class="btn btn-success"
                                ng-click="createGenericTemplate(selectedPlanChain)" translate="BTN_CREATE"></button>
                        &nbsp;&nbsp;
                        <button style="margin-right:4px" type="button"
                                ng-disabled="genericTemplateNode.currentNode === undefined" href
                                class="btn btn-info pull-right"
                                ng-click="editGenericTemplate(genericTemplateNode.currentNode)" translate="BTN_EDIT"></button>
                        <button style="margin-right:4px" type="button"
                                ng-disabled="genericTemplateNode.currentNode === undefined" href
                                class="btn btn-danger" ng-click="deleteGenericTemplate(genericTemplateNode.currentNode.id)"
                                translate="BTN_DELETE"></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <input style="width:100%" class="form-control" ng-model='genericTemplateSearchQuery' type="text"
                       placeholder="Search in tree..."/>
                <br/>
                <div ng-show="genericTemplates.length > 0"
                     data-angular-treeview="true"
                     data-tree-id="genericTemplateNode"
                     data-tree-model="genericTemplates"
                     data-node-id="id"
                     data-node-label="name"
                     data-node-children="child_templates"
                     data-search-query='genericTemplateSearchQuery'>
                </div>
                <div ng-show="genericTemplates.length ===0" translate="NO_LINE_ITEMS"></div>
            </div>
        </div>
    </div>
</div>