<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_SECTOR_TARGET"></h5>
            </div>
            <form action="#" class="form-horizontal" name="createSectorTargetForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTOR"></label>
                        <div class="col-sm-9">
                            <select name="sector_id" class="form-control" ng-model="sectorTargetToCreate.sector_id"
                                ng-options="value.id as value.name for value in sectors">

                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createSectorTargetForm.sector_id.$error.required"
                                    translate="REQUIRED_SECTOR"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_LONG_TERM_TARGET"></label>
                        <div class="col-sm-9">
                            <select name="long_term_target_id" class="form-control"
                                ng-model="sectorTargetToCreate.long_term_target_id"
                                ng-options="ltt.id as ltt.description for ltt in longTermTargets">

                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="createSectorTargetForm.long_term_target_id.$error.required"
                                    translate="REQUIRED_LONG_TERM_TARGET"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>