<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_SECTOR_TARGET"></h5>
            </div>

            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTOR"></label>
                        <div class="col-sm-9">
                            <select name="sector_id" class="form-control"
                                    ng-model="sectorTargetToEdit.sector_id"
                                    ng-options="value.id as value.name for value in sectors">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_LONG_TERM_TARGET"></label>
                        <div class="col-sm-9">
                            <select name="long_term_target_id" class="form-control"
                                    ng-model="sectorTargetToEdit.long_term_target_id"
                                    ng-options="value.id as value.description for value in longTermTargets">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>