<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                            <tr>
                                <th TRANSLATE="TH_NO"></th>
                                <th translate="TH_SECTOR"></th>
                                <th translate="TH_LONG_TERM_TARGET"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sectorTarget in sectorTargets.data">
                                <td>{{$index + 1}}</td>
                                <td>{{sectorTarget.sector.name}}</td>
                                <td>{{sectorTarget.long_term_target.description}}</td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-info" ng-click="edit(sectorTarget,currentPage,perPage)">
                                        <i class="fa fa-edit"></i>
                                        <span translate="EDIT_ACTION"></span>
                                    </a>
                                    <a href class="btn btn-danger"
                                        ng-click="delete(sectorTarget.id,currentPage,perPage)">
                                        <i class="fa fa-remove"></i>
                                        <span translate="DELETE_ACTION"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="sectorTargets.total > sectorTargets.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="sectorTargets.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="sectorTargets.per_page"
                    ng-model="currentPage" ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ sectorTargets.total }}"
                    perPage="{{ sectorTargets.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>