<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_PLAN_CHAIN"></h5>
            </div>

            <form action="#"  autocomplete="off" class="form-horizontal" name="createPlanChainForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_PLAN_COMPONENT">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select  class="form-control" ng-model="planChainToCreate.plan_chain_type"
                                     name="plan_chain_type_id"
                                     ng-options="p as p.name for p in PlanChainTypes track by p.id"
                                     ng-change="loadParent(planChainToCreate.plan_chain_type.id)">
                                <option value="" selected> ---Select Plan Component---</option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createPlanChainForm.plan_chain_type_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCPRITION">*</label>
                        <div class="col-sm-9">
                                <textarea ng-required="true" name="description" type="text" ng-model="planChainToCreate.description" placeholder="" class="form-control">
                                </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createPlanChainForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <ng-form name="objCode">
                      <div class="form-group" ng-if="planChainToCreate.plan_chain_type && !planChainToCreate.plan_chain_type.is_incremental">
                        <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                        <div class="col-sm-9">
                         <pr-progress ng-show="validatingObjCode" md-mode="indeterminate"></pr-progress>
                         <input ng-required="planChainToCreate.plan_chain_type && !planChainToCreate.plan_chain_type.is_incremental"
                          name="code" ng-change="validateObjCode(planChainToCreate.code)" type="text" ng-model="planChainToCreate.code"
                         ng-pattern="checkObjectiveValid" placeholder="" class="form-control">
                                  <!--pre>{{objCodeExist}}</pre-->
                         <input type="hidden" ng-model="planChainToCreate.validObjCode" ng-required="objCodeExist"
                                  name="validObjCode" />
                         <span ng-show="objCode.code.$error.pattern" class="help-block text-danger">
                                  Objective Code not valid.
                              </span>
                         <span class="help-block text-danger" ng-show="objCode.validObjCode.$error.required"
                              translate="OBJECTIVE_CODE_EXIST"></span>
                          <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="objCode.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                        </div>
                      </div>
                    </ng-form>

                    <div class="form-group" ng-if="planChainToCreate.plan_chain_type && parent_component && planChainToCreate.plan_chain_type.is_incremental">
                        <label class="control-label col-sm-3" >
                            <span >{{ parent_component }}</span>
                        </label>
                        <div class="col-sm-9">
                            <select  class="form-control" ng-model="planChainToCreate.parent_id" name="parent_id"
                                     ng-required="planChainToCreate.plan_chain_type && parent_component"
                                     ng-options="Parent.id as ('['+Parent.code+'] '+Parent.description) for Parent in Parents">
                                <option value="" selected>---Select {{parent_component}}--- </option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createPlanChainForm.parent_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                </div>
<!--                <div ng-if="planChainToCreate.plan_chain_type.is_sectoral" style='float: left'>-->

<!--                    <div  class="col-sm-12"><label><b>Link Sector(s)</b></label></div>-->
<!--                    <input type="hidden" ng-required="planChainToCreate.plan_chain_type.is_sectoral && selection.length === 0"-->
<!--                           ng-model="planChainToCreate.validSectors" name="validSector">-->
<!--                    <div ng-show="formHasErrors" class="col-md-12">-->
<!--                        <span class="help-block text-danger"-->
<!--                              ng-show="createPlanChainForm.validSector.$error.required"-->
<!--                              translate="VALIDATION_SELECT_SECTORS" ></span>-->
<!--                    </div>-->

<!--                    <div ng-if="sectors.length > 3" class="col-sm-9">-->
<!--                        <button ng-if="sectors.length > 3" type="button" class="btn btn-outline-secondary btn-sm" ng-click="selectAll()">Select All</button>-->
<!--                        <button ng-if="sectors.length > 3" type="button" class="btn btn-secondary btn-sm"  ng-click="unSelectAll()">Un-select All</button>-->

<!--                    </div>-->

<!--&lt;!&ndash;                    <div  class="col-sm-6" ng-repeat="s in sectors">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label >&ndash;&gt;-->
<!--&lt;!&ndash;                            <input&ndash;&gt;-->
<!--&lt;!&ndash;                                    type="checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;                                    name="selectedSectors[]"&ndash;&gt;-->
<!--&lt;!&ndash;                                    value="{{s.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    ng-checked="selection.indexOf(s.id) > -1"&ndash;&gt;-->
<!--&lt;!&ndash;                                    ng-click="toggleSelection(s)"&ndash;&gt;-->
<!--&lt;!&ndash;                            > {{s.name}} &nbsp; &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;                        </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
