<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_UPDATE_PLAN_CHAIN"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updatePlanChainForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

<!--                    <div class="form-group" >-->
<!--                        <label class="control-label col-sm-3" >-->
<!--                            <span translate="LABEL_PLAN_COMPONENT">*</span>-->
<!--                        </label>-->
<!--                        <div class="col-sm-9">-->
<!--                            <select  class="form-control" ng-model="planChainToEdit.plan_chain_type"-->
<!--                                     name="plan_chain_type_id"-->
<!--                                     ng-change="loadParent(planChainToEdit.plan_chain_type.id)"-->
<!--                                     ng-options="p as p.name for p in PlanChainTypes track by p.id">-->
<!--                            </select>-->
<!--                            <div ng-show="formHasErrors">-->
<!--                                <span class="help-block text-danger" ng-show="updatePlanChainForm.plan_chain_type_id.$error.required" translate="VALIDATION_REQUIRED"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCPRITION">*</label>
                        <div class="col-sm-9">
                                <textarea ng-required="true" name="description" type="text" ng-model="planChainToEdit.description" placeholder="" class="form-control">
                                </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updatePlanChainForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                        <div class="col-sm-9">
                            <input ng-disabled="planChainToEdit.plan_chain_type && planChainToEdit.plan_chain_type.is_incremental" ng-required="true" name="code" type="text" ng-model="planChainToEdit.code" readonly placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updatePlanChainForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group"  ng-if="planChainToEdit.plan_chain_type && parent_component">
                        <label class="control-label col-sm-3" >
                            <span>{{ parent_component }}</span>
                        </label>
                        <div class="col-sm-9">
                            <select  class="form-control" ng-model="planChainToEdit.parent_id" name="parent_id"
                                     ng-options="Parent.id as ('['+Parent.code+'] '+Parent.description) for Parent in Parents">
                            </select>
                        </div>
                    </div> -->
                    <div ng-show="is_sectoral" style='float: left'>
                        <div  class="col-sm-12"><label><b>Link Sector(s)</b></label></div>
                        <input type="hidden" ng-required="is_sectoral && selection.length === 0"
                               ng-model="planChainToEdit.validSectors" name="validSector" />
                        <div ng-show="formHasErrors" class="col-md-12">
                            <span class="help-block text-danger"
                                  ng-show="updatePlanChainForm.validSector.$error.required"
                                  translate="VALIDATION_SELECT_SECTORS" ></span>
                        </div>
                        <div ng-if="sectors.length > 3" class="col-sm-9">
                            <button ng-if="sectors.length > 3" type="button" class="btn btn-outline-secondary btn-sm" ng-click="selectAll()">Select All</button>
                            <button ng-if="sectors.length > 3" type="button" class="btn btn-secondary btn-sm"  ng-click="unSelectAll()">Un-select All</button>

                        </div>
                        <div class="col-sm-6" ng-repeat="s in sectors">
                            <label >
                                <input
                                        type="checkbox"
                                        name="selectedSectors[]"
                                        value="{{s.id}}"
                                        ng-checked="selection.indexOf(s.id) > -1"
                                        ng-click="toggleSelection(s)"
                                > {{s.name}} &nbsp; &nbsp;
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
