<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="activateMessage" class="col-md-12">
    <div class="alert alert-styled-left alert-arrow-left alert-bordered"
      ng-class="{'alert-success':planChainToActivate.is_active,'alert-warning':!planChainToActivate.is_active}">
      <button type="button" class="close" ng-click="activateMessage=undefined" data-dismiss="alert"><span>×</span><span
          class="sr-only">Close</span></button>
      {{activateMessage | translate}}
    </div>
  </div>
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span
          class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
          class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon btn-search"><strong translate="FINANCIAL_YEAR"></strong></span>
      <select class="form-control" name="financialYearId" ng-model="financialYear"
        ng-change="loadVersions(financialYear.id)" ng-options="item as item.name for item in financialYears">
        <option value="" selected="selected">-Financial Year-</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4" ng-show="financialYear.id > 0">
    <div class="input-group">
      <span class="input-group-addon btn-search"><strong translate="VERSION"></strong></span>
      <select class="form-control" name="version_id" ng-model="version" ng-change="loadPlanChainTypes(version.id)"
        ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
      </select>
    </div>
  </div>
  <div class="col-sm-4" ng-show="version.id > 0">
    <div class="input-group ">
      <span class="input-group-addon btn-search"><strong translate="LABEL_PLAN_CHAIN_TYPES"></strong></span>
      <select class="form-control select-search" ng-model="selectedChain"
        ng-options="planChainType as planChainType.name for planChainType in PlanChainTypes"
        ng-init="selectedChain = PlanChainTypes[0]"
        ng-change="loadPlanChains(financialYear.id,version.id,selectedChain.id)">

      </select>
    </div>
  </div>
</div>
<br />
<div class="row" ng-show="selectedChain.id > 0">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <ng-include src="'/pages/setup/plan_chain/plan-chain-management-submenu.html'"></ng-include>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchText" ng-change="pageChanged()"
            placeholder="Search ...">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <!--<button type="button" class="btn btn-info" ng-click="copy(financialYear,version)">
                        <i class="fa fa-copy"></i>
                        <span translate="BTN_COPY"></span>
                    </button>-->
          <button type="button" href class="btn btn-info"
            ng-click="create(financialYear.id,version.id,PlanChainTypes,selectedChain,perPage)">
            <i class="fa fa-plus"></i>
            <span translate="BTN_CREATE"></span>
          </button>
          <a class="btn btn-success"
            ng-href="/files/plan-chains/export?financialYearId={{financialYear.id}}&versionId={{version.id}}&planChainTypeId={{selectedChain.id}}">
            <i class="fa fa-file-excel-o"></i>
            <span translate="BTN_EXPORT"></span>
          </a>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
              <tr>
                <th>No.</th>
                <th translate="TH_NAME"></th>
                <th translate="TH_PLANNING_COMPONENT"></th>
                <th>Performance Indicators</th>
                <th translate="TH_ACTIVE"></th>
                <th translate="TH_ACTIONS"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="(t, values) in planChains.data | groupBy:'plan_chain_type.name'">
                <td colspan="9" class="bg-info-400">{{::t}}</td>
              </tr>
              <tr ng-show="p !=='undefined'" ng-repeat-start="(p,value2) in values | groupBy:'parent.description'">
                <td colspan="9" style="background: #F5F5F5">
                  <span ng-show="p !=='undefined'">[ {{::value2[0].parent.code}} ] {{p}}</span>
                </td>
              </tr>
              <tr ng-repeat-end ng-repeat="planChain in value2">
                <td>{{::$index + 1}}</td>
                <td>[ {{::planChain.code}} ]{{planChain.description}}</td>
                <td>{{::planChain.plan_chain_type.name}}</td>
                <td><strong
                    ng-class="{'text-warning':planChain.performance_indicators.length === 0}">{{::planChain.performance_indicators.length}}</strong>
                </td>
                <td>
                  <label class="switch">
                    <input type="checkbox" ng-checked="planChain.is_active" ng-model="planChain.is_active"
                      ng-change="activatePlanChain(planChain.id, planChain.is_active,perPage)">
                    <div class="slider round"></div>
                  </label>
                </td>
                <td nowrap="nowrap" style="width:2%">

                  <a href class="btn btn-success" ng-click="priorityAreas(planChain)">
                    <i class="fa fa-gears"></i>
                    <span translate="PRIORITY_AREAS"></span>
                  </a>
                  <a href class="btn btn-info" ng-if="planChain.id !== 1 && planChain.id !== 2 || user.is_superuser"
                    ng-click="edit(financialYear.id,version.id,selectedChain.id,planChain, PlanChainTypes, currentPage,perPage)">
                    <i class="fa fa-edit"></i>
                    <span translate="EDIT_ACTION"></span>
                  </a>
                  <a href class="btn btn-info" ng-if="planChain.nextVersion.itemVersionId === null"
                    ng-click="carry(financialYear.id,planChain)">
                    Carry
                  </a>
                  <a href class="btn btn-success" ng-if="planChain.nextVersion.itemVersionId !== null">Carried</a>
                  <a  ng-if="planChain.id !== 1 && planChain.id !== 2 || user.is_superuser" href class="btn btn-danger" 
                    ng-click="delete(financialYear.id,version.id,selectedChain.id,planChain.id,currentPage,perPage)">
                    <i class="fa fa-remove"></i>
                    <span translate="DELETE_ACTION"></span>
                  </a>
                </td>
              </tr>
              <tr ng-repeat-end ng-if="false">
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-7" ng-show="planChains.total > planChains.per_page">
        <ul uib-pagination total-items="planChains.total" max-size="maxSize" class="pagination-sm pull-left"
          boundary-links="true" num-pages="numPages" items-per-page="planChains.per_page" ng-model="currentPage"
          ng-change="pageChanged()">
        </ul>
      </div>
      <div class="col-md-2">
        <total-pages currentPage="{{currentPage}}" totalItems="{{ planChains.total }}"
          perPage="{{ planChains.per_page }}"></total-pages>
      </div>
      <div class="col-md-3" ng-show="planChains.total > planChains.per_page">
        <div class="pull-right">
          <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
      </div>
    </div>
  </div>
</div>