<div class="manage-nav" >
    <ul class="clearfix">
        <li  ng-class="{'selected':title=='TITLE_PLAN_CHAIN'}" >
            <a id="user-tab" href="/setup#!/planning-sequences" translate="TITLE_PLAN_CHAIN"></a>
        </li>
        <li ng-if = "user.admin_hierarchy_level.hierarchy_position==1"  ng-class="{'selected':title=='TITLE_PLAN_CHAIN_TYPES'}" >
            <a id="profile-tab" href="/setup#!/planning-components" translate="TITLE_PLAN_CHAIN_TYPES"></a>
        </li>
    </ul>
</div>