<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Planning Sequence: {{planningSequence.description}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="panel-title">Assigned Priority Areas</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Priority Area</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in priorityAreas">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.priority_area.number}} - {{item.priority_area.description}}</td>
                                    <td>
                                        <a href class="btn btn-danger" ng-click="removePriorityArea(item.id)">
                                            <i class="fa fa-remove"></i>
                                            <span translate="DELETE_ACTION"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="panel-title">Add more Priority Areas</h3>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <span translate="FINANCIAL_YEAR"></span>
                                </label>
                                <select class="form-control" name="financialYearId"
                                        ng-model="financialYear" ng-change="loadVersions(financialYear.id)"
                                        ng-options="item as item.name for item in financialYears">
                                    <option value="" selected="selected">-Financial Year-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="financialYear.id > 0">
                            <div class="col-sm-12">
                                <label>
                                    <span translate="VERSION"></span>
                                </label>
                                <select class="form-control" name="version_id"
                                        ng-model="version" ng-change="loadPriorityAreas(version.id)"
                                        ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="version.id > 0">
                            <div class="col-sm-12">
                                <label>
                                    <span translate="PRIORITY_AREA"></span>
                                </label>
                                <select class="form-control" multiple="multiple"
                                        ng-model="priorityAreaData.priorityAreas"
                                        name="priorityAreas"
                                        ng-options="priorityArea as (priorityArea.number+' - '+priorityArea.description) for priorityArea in versionPriorityAreas">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <br />
                                <button type="button" class="btn btn-primary" ng-click="addPriorityAreas()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(".select-search").select2();
    $(".select-search1").select2();
</script>