<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="!isUserLevel">
    <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
    <div layout="row">
    <div layout="column" flex = 25>
        <md-input-container>
            <label>Financial System</label>
            <md-select aria-label="system_code" ng-model="system_code" >
                <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="column">
        <md-dialog-actions>
        <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 4 || system_code == undefined)"
            class="md-raised md-primary"
            ng-click="getReallocation()">Load Items </md-button>
        </md-dialog-actions>
    </div>

</div>
</div>

<br />
<div class="row" ng-show="budgetReallocationItems !== undefined">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-left">
                    <button  type="button" class="btn btn-warning" ng-click="loadFailedBudget()">
                        <i class="fa fa-back"></i>
                        <span translate="BTN_FAILED"></span>
                    </button>
                </div>

                <div class="heading-btn pull-right" >
                   <span>
                       <button  type="button" class="btn btn-warning" ng-click="showRejected()">
                        <i ng-class="{'fa fa-eye': hideRejected == true, 'fa fa-eye-slash': hideRejected == false}"></i>
                        <span translate="BTN_REJECTED"></span>
                       </button>
                   </span>

                   <span>
                       <button ng-if="user.decision_level_id !== 4"  type="button" class="btn btn-info" ng-click="exportReallocationsToMUSE(selectedAdminHierarchyId,financialYear, system_code, BudgetType, budgetReallocationItems)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_EXPORT" ng-if="resendBudget == false"></span>
                        <span translate="BTN_RESEND" ng-if="resendBudget == true"></span>
                       </button>
                   </span>

                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="DATE"></th>
                            <th translate="FROM_ACCOUNT"></th>
                            <th translate="TO_ACCOUNT"></th>
                            <th translate="REFERENCE"></th>
                            <th translate="AMOUNT"></th>
                            <th translate="ACTION"></th>
                            <th translate="RESPONSE"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(key , values) in budgetReallocationItems | groupBy: 'reference_code'">
                           <th colspan="8"> {{key}} </th>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in values" ng-hide="item.rejected == hideRejected">
                            <td>{{$index + 1}}</td>
                            <td nowrap="nowrap">{{item.date  }}</td>
                            <td>{{item.from_chart_of_accounts}} - [{{ item.from_gfs }}]</td>
                            <td>{{item.to_chart_of_accounts}} - [{{ item.to_gfs }}]</td>
                            <td>{{item.reference_code}}</td>
                            <td>{{item.amount|currency:""}}</td>
                            <td nowrap="nowrap">
                                 <span>
                                   <label>
                                     <input type="checkbox" ng-model="item.selected" title="Select" ng-disabled="item.rejected == true">
                                     Select
                                   </label>
                                 </span>
                                 <span>
                                   <a ng-click="rejectReallocation(item.id,item.comments)" uib-popover-template="templateUrl"
                                      popover-placement="left-bottom" popover-title="Comments *" title="Reject">
                                      <i class="icon-close2"></i>
                                      <span>Reject</span>
                                   </a>
                                  </span>
                            </td>
                            <td>
                               {{ item.comments }}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10" ng-show="budgetReallocationItems.total > 0">
                <ul uib-pagination total-items="budgetReallocationItems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="budgetReallocationItems.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ budgetReallocationItems.total }}" perPage="{{ budgetReallocationItems.per_page }}"></total-pages>
            </div>
            <div class="col-md-2" ng-show="budgetReallocationItems.total > 0">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<br/>
