<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only"><span translate="CLOSE"></span></span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only"><span translate="CLOSE"></span></span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon per-page">
                    Financial Year
                  </div>
                  <select class="form-control" name="financialYearId"
                          ng-model="financialYear" ng-change="loadBaselineDataValues(financialYear.id)"
                          ng-options="item as item.name for item in financialYears">
                    <option value="" selected="selected">-Financial Year-</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


            <div class="col-md-4">
                <a href class="btn btn-success pull-right create-btn" ng-click="saveValues()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_SAVE"></span>
                </a>
            </div>
        </div>
        <br />
        <!--<pre> {{ baselineDataValues | json }}</pre>-->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="VALUE"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="baselineDataValue in baselineDataValues" >
                            <td>{{$index + 1}}</td>
                            <td>{{baselineDataValue.description}}</td>
                            <td>
                                <span ng-show="baselineDataValue.is_common">
                                     <input type="text"  required="required" autocomplete="off"
                                            class="form-control"
                                            ng-model="baselineDataValue.default_value"
                                            readonly/>
                                </span>
                                <span ng-show="baselineDataValue.is_common == false">
                                    <input type="text"  required="required" autocomplete="off"
                                           class="form-control"
                                           ng-model="baselineDataValue.value"
                                    />
                                </span>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>

    </div>
</div>
