<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/financial_year/financial-year-management-submenu.html'"></ng-include>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_NUMBER"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td style="background-color: #9ca2a7;" colspan="4">&nbsp;</td></tr>
                        <tr ng-repeat="periodGroup in periodGroups.data">
                            <td>{{$index + 1}}</td>
                            <td>{{periodGroup.name}}</td>
                            <td>{{periodGroup.number}}</td>
                            <td nowrap="nowrap" style="width:2%">
                                <a href class="btn btn-info" ng-click="edit(periodGroup,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(periodGroup.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="periodGroups.total > periodGroups.per_page">
            <div class="col-md-7">
                <ul uib-pagination total-items="periodGroups.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="periodGroups.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
            </div>
            <div class="col-md-3">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
            <div class="col-md-2">
                <total-pages currentPage="{{currentPage}}" totalItems="{{ periodGroups.total }}" perPage="{{ periodGroups.per_page }}"></total-pages>

            </div>
        </div>
    </div>
</div>