<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CLEAR_INPUTS"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createData" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <!--<div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BUDGET_EXPORT_TRANSACTION"></label>
                                    <select class="form-control select-search1"
                                            ng-model="dataToCreate.budget_export_transaction_id"
                                            name="budget_export_transaction_id"
                                            ng-options="ds.id as ds.description for ds in budget_export_transactions">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createData.budget_export_transaction_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="SYSTEM"></label>
                                    <select class="form-control select-search2"
                                            ng-model="dataToCreate.code"
                                            name="code"
                                            ng-options="ds.code as ('['+ds.code+'] '+ds.name) for ds in systems">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createData.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="clearInputs(dataToCreate.budget_export_transaction_id,dataToCreate.code)">
                        <i class="fa fa-eraser"></i>
                        Load Inputs
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="close()">
                        <i class="fa fa-close"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2()
    $(".select-search2").select2()
</script>