<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="!isUserLevel">
   <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_4','ADMIN_HIERARCHY_LEVEL_2','ADMIN_HIERARCHY_LEVEL_3','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
   <div layout="row">
      <div layout="column" flex = 25>
        <md-input-container>
            <label>Financial System</label>
            <md-select aria-label="system_code" ng-model="system_code" >
                <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
            </md-select>
        </md-input-container>
      </div>
      <div layout="column" flex = 25 ng-show="system_code">
        <md-input-container>
            <label>Account Type</label>
            <md-select aria-label="account_type" ng-model="account_type" >
                <md-option ng-repeat="item in account_types" ng-value="item.value">{{item.name}}</md-option>
            </md-select>
        </md-input-container>
      </div>
      <div layout="column">
        <md-dialog-actions>
        <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 2 || system_code == undefined
            || account_type == undefined)"
            class="md-raised md-primary"
            ng-click="loadBudget()">Load Items </md-button>
        </md-dialog-actions>
      </div>

  </div>
</div>

<br />

<div class="row" ng-show="showRealloc == false">
    <div class="col-md-12">
        <div class="row" ng-show="budgetExportAccounts.data.length">
            <div class="col-md-6">
              <span class="badge badge-default">A</span> = Approved[Not Sent] &nbsp;&nbsp;
              <span class="badge badge-info">A</span> = Approved [Sent] &nbsp;&nbsp;
              <span class="badge badge-success">A</span> = Approved  [Delivered]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <span class="badge badge-default">R</span> = Reallocation[Not Sent] &nbsp;
              <span class="badge badge-info">R</span> = Reallocation[Sent]   &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="badge badge-success">R</span> = Reallocation [Delivered] -->
            </div>
            <div class="col-md-6">
                <div class="heading-btn pull-right">
                    <label class="btn btn-default">Total Account: {{total}}</label>
                    <label class="btn btn-success">Total Exported: {{exported}}</label>
                    <!-- Allow budget export when financial year is for planning and budgeting -->
                    <!-- <button ng-if="system_code ==='MUSE'" ng-show="total > exported" type="button" class="btn btn-info" ng-click="exportAccounts(selectedAdminHierarchyId,financialYear,system_code, BudgetType, account_type)"> -->
                    <button ng-if="user.decision_level_id !== 4" ng-if="system_code ==='MUSE'" type="button" class="btn btn-info" ng-click="exportAccounts(selectedAdminHierarchyId,financialYear,system_code, BudgetType, account_type)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_EXPORT"></span>({{total-exported}})
                    </button>
                    <button ng-if="system_code ==='NPMIS'" type="button" class="btn btn-info" ng-click="exportAccounts(selectedAdminHierarchyId,financialYear,system_code, BudgetType, account_type)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_EXPORT_PROJECT_BUDGET"></span>
                    </button>
                    <!-- <button ng-show="total == exported" type="button" class="btn btn-info" ng-click="returnSentAccounts('MUSE')">
                        <i class="fa fa-arrow-right"></i>
                        <span translate="RETURN"></span>({{exported}})
                    </button> -->
                    <a ng-if="system_code ==='MUSE'" href="/files/budget-accounts/export?adminHierarchyId={{selectedAdminHierarchyId}}&financialYear={{financialYear}}&budget_type={{BudgetType}}&financial_system_code={{system_code}}&account_type={{account_type}}"
                     class="btn btn-success">
                        <i class="fa fa-file-excel-o"></i>
                        <span translate="BTN_EXPORT"></span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div ng-show="budgetExportAccounts.data.length">
            <div class="row">
              <div class="col-md-12">
                 <div class="pull-right text-bold">
                     <span>Total Budget: {{ grand_total| currency:"" }}</span>
                 </div>
              </div>
            </div>
            <div class="row"  >

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped"  ng-if="system_code === 'MUSE'">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_NO"></th>
                                <th translate="COA"></th>
                                <th translate="GFS_CODE"></th>
                                <th translate="AMOUNT(TZS)"></th>
                                <th translate="EXPORTS"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="(s,items) in budgetExportAccounts.data | groupBy:'section'">
                                <td colspan="5" class="bg-teal">{{s}}</td>
                            </tr>
                            <tr ng-repeat-start="(key, value) in items | groupBy:'activity'">
                                <td colspan="5" class="bg-slate-700"><span translate="ACTIVITY"></span> : {{key}}</td>
                            </tr>
                            <tr ng-repeat-end ng-repeat="budgetExportAccount in value">
                                <td>{{$index + 1}}</td>
                                <td nowrap="nowrap">{{budgetExportAccount.chart_of_accounts}}</td>
                                <td>[{{budgetExportAccount.gfs_code}}] {{budgetExportAccount.gfs_code_description}}</td>
                                <td><span class="pull-right">{{budgetExportAccount.amount|currency:""}}</span></td>
                                <td class="action">
                                <span ng-repeat="exp in budgetExportAccount.exports" class="badget"
                                      ng-class="{'badge badge-info':(exp.is_sent && !exp.is_delivered),'badge badge-success':(exp.is_delivered && exp.is_sent),'badge badge-default':!exp.is_sent}">{{exp.type}}</span>
                                </td>
                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="3" class="text-bold"><span class="pull-right">Section Total</span> </td>
                                <td class="text-bold">
                                    <span class="pull-right ">{{ sub_total[items[0].section_id]| currency:""}}</span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                            <tfooter>
                                <tr class="text-info">
                                    <td colspan="3">Grand Total</td>
                                    <td class="text-bold">
                                        <span class="pull-right ">{{ grand_total | currency:"" }}</span>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfooter>
                        </table>

                        <table class="table table-bordered table-striped"  ng-if="system_code === 'NPMIS'">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_NO"></th>
                                <th translate="ACTIVITY_CODE"></th>
                                <th translate="ACTIVITY"></th>
                                <th translate="AMOUNT(TZS)"></th>
                                <th translate="EXPORTS"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="(p,items) in budgetExportAccounts.data | groupBy:'pname'">
                                <td colspan="5" class="bg-teal">{{p}}</td>
                            </tr>
                            <tr ng-repeat-start="(key, value) in items | groupBy:'fname'">
                                <td colspan="5" class="bg-slate-700">[{{value[0].fcode}}]{{value[0].fname}}</td>
                            </tr>
                            <tr ng-repeat-end ng-repeat="budgetExportAccount in value">
                                <td>{{$index + 1}}</td>
                                <td nowrap="nowrap">{{budgetExportAccount.acode}}</td>
                                <td>{{budgetExportAccount.aname}}</td>
                                <td><span class="pull-right">{{budgetExportAccount.amount|currency:""}}</span></td>
                                <td class="action">
                                <span ng-repeat="exp in budgetExportAccount.exports" class="badget"
                                      ng-class="{'badge badge-info':(exp.is_sent && !exp.is_delivered),'badge badge-success':(exp.is_delivered && exp.is_sent),'badge badge-default':!exp.is_sent}">A</span>
                                </td>
                            </tr>

                            <tr ng-repeat-end>
                                <td colspan="3" class="text-bold"><span class="pull-right">Project Total</span> </td>
                                <td  class="text-bold">
                                    <span class="pull-right ">{{ subTotal[p[0].project_id]| currency:""}}</span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                            <tfooter>
                                <tr class="text-info">
                                    <td colspan="3">Grand Total</td>
                                    <td ng-init="getGrandTotal()" class="text-bold">
                                        <span class="pull-right ">{{ grand_total | currency:"" }}</span>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="budgetExportAccounts.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="budgetExportAccounts.per_page"
                    ng-model="currentPage"
                    ng-change="loadAccounts(currentPage, perPage)">
                </ul>
                <!-- <total-pages currentPage="{{currentPage}}" totalItems="{{ budgetExportAccounts.total }}" perPage="{{ budgetExportAccounts.per_page }}"></total-pages> -->
            </div>
            <div class="col-md-2" >
                <per-page ng-model="perPage" ng-change="loadAccounts(currentPage, perPage)"></per-page>
            </div>
        </div>
        <br/>
        <div class="row">
            <div ng-if="budgetExportAccounts.data.length == 0" class="col-md-12">
                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" >
                        <span>×</span><span class="sr-only">Close</span></button>
                    Budget has not been approved. Approve the budget first. <a href="/budgeting#!/current-financial-year-plans">Click to open budget approval</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="realloc > 0 && showRealloc == true">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-left">
                    <button  type="button" class="btn btn-warning" ng-click="backToBudget()">
                        <i class="fa fa-back"></i>
                        <span translate="BTN_BACK"></span>
                    </button>
                </div>

                <div class="heading-btn pull-right" >
                   <span>
                       <button  type="button" class="btn btn-warning" ng-click="showRejected()">
                        <i ng-class="{'fa fa-eye': hideRejected == true, 'fa fa-eye-slash': hideRejected == false}"></i>
                        <span translate="BTN_REJECTED"></span>
                       </button>
                   </span>

                   <span>
                       <button  type="button" class="btn btn-info" ng-click="exportSelectedReallocation(selectedAdminHierarchyId,financialYear)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_EXPORT"></span>
                       </button>
                   </span>

                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="DATE"></th>
                            <th translate="FROM_ACCOUNT"></th>
                            <th translate="TO_ACCOUNT"></th>
                            <th translate="REFERENCE"></th>
                            <th translate="AMOUNT"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(key , values) in budgetReallocationItems.data | groupBy:'budget_reallocation.reference_code'">
                            {{key}}
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in values" ng-hide="item.rejected == hideRejected">
                            <td>{{$index + 1}}</td>
                            <td nowrap="nowrap">{{item.date  }}</td>
                            <td>{{item.from_chart_of_accounts}} - [{{ item.from_gfs }}]</td>
                            <td>{{item.to_chart_of_accounts}} - [{{ item.to_gfs }}]</td>
                            <td>{{item.reference_code}}</td>
                            <td>{{item.amount|currency:""}}</td>
                            <td nowrap="nowrap">
                                 <span>
                                   <label>
                                     <input type="checkbox" ng-model="item.selected" title="Select" ng-disabled="item.rejected == true">
                                     Select
                                   </label>
                                 </span>
                                 <span>
                                   <a ng-click="rejectReallocation(item.id,item.comments)" uib-popover-template="templateUrl"
                                      popover-placement="left-bottom" popover-title="Comments *" title="Reject">
                                      <i class="icon-close2"></i>
                                      <span>Reject</span>
                                   </a>
                                  </span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

