<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            <div class="col-md-10">
                <div class="heading-btn pull-left">
                    <a href="/execution#!/budget-export-accounts" class="btn btn-success">
                        <i class="fa fa-backward"></i>
                        <span translate="BTN_BACK"></span>
                    </a>
                </div>
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-success" ng-click="sendItems(items.data | filter:{checked:true})">
                        <i class="fa fa-send"></i>
                        <span translate="BTN_SEND"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="ACTIVITY"></th>
                            <th translate="GFS_CODE"></th>
                            <th translate="BUDGET_CLASS"></th>
                            <th translate="COA"></th>
                            <th translate="AMOUNT(TZS)"></th>
                            <th translate="SENT"></th>
                            <th translate="RECEIVED"></th>
                            <th translate="RESPONSE"></th>
                            <th>
                                <button type="button" class="btn btn-primary" ng-click="toggleSelected()">{{selectText}}</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,items) in items.data | groupBy:'system.name'">
                            <td colspan="10" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in items">
                            <td>{{$index + 1}}</td>
                            <td>{{item.budget_export_transaction_item.budget_export_account.activity_facility_fund_source_input.gfs_code.description}}</td>
                            <td>[{{item.budget_export_transaction_item.budget_export_account.activity_facility_fund_source_input.gfs_code.code}}] {{item.budget_export_transaction_item.budget_export_account.activity_facility_fund_source_input.gfs_code.description}}</td>
                            <td>{{ item.budget_export_transaction_item.budget_export_account.activity_facility_fund_source_input.activity_facility_fund_source.activity_facility.activity.budget_class.name}}</td>
                            <td>{{item.chart_of_accounts}}</td>
                            <td><span class="pull-right">{{item.amount|currency:""}}</span></td>
                            <td>{{item.is_sent}}</td>
                            <td>{{item.is_received}}</td>
                            <td>{{item.response}}</td>
                            <td><span><input type="checkbox" value="{{item.id}}" ng-checked="item.checked" ng-model="item.checked" class="form-control"/></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<br />
        <pre><strong>{{selectedItems().length}} selected with filter:</strong> {{items.data | filter:{checked:true} | json}}</pre>-->
        <br />
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>