<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="ADD_ACTIVITY_FACILITY"></h5>
      </div>
      <pr-progress ng-show="genericLoading"></pr-progress>
      <form action="#" class="form-vertical" name="createActivityForm">
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div
              class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
            >
              <button
                type="button"
                class="close"
                ng-click="errorMessage=undefined"
                data-dismiss="alert"
              >
                <span>×</span
                ><span class="sr-only" translate="OPT_CLOSE"></span>
              </button>
              {{errorMessage | translate}}
            </div>
          </div>

          <!-- <fieldset class="activity"> -->
          <div class="row">
            <div class="col-md-12">
              <md-input-container>
                <label for="target" translate="ACTIVITY"></label>
                <input
                  id="target"
                  ng-disabled="true"
                  class="form-control"
                  type="text"
                  value="[ {{selectedActivity.code}} ] {{selectedActivity.description}}"
                />
              </md-input-container>
            </div>
          </div>
          <br />
          <div
            has-permission="planning.add_activity_facility"
            class="row"
            ng-show="(activityFacilities.data.length === 0 || !isHomeFacility) && (budgetType !== 'CURRENT' || (!isLocked && !isFinal && budgetType ==='CURRENT'))"
          >
            <md-toolbar
              style="
                min-height: 40px !important;
                background-color: #f5f5f5;
                color: #333;
              "
            >
              <div
                class="md-toolbar-tools"
                style="height: 40px; font-size: 12px !important;"
              >
                Add Service Provider to Activity
              </div>
            </md-toolbar>
            <md-content flex layout-padding>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <md-input-container flex>
                      <label>Service Provider</label>
                      <md-autocomplete
                        md-no-cache="true"
                        md-clear-button="!isHomeFacility"
                        ng-disabled="isHomeFacility"
                        placeholder="Search Service Provider"
                        md-selected-item="facilityToAdd.facility"
                        md-search-text="searchText"
                        md-items="item in searchFacility(searchText)"
                        md-selected-item-change="facilityChanged(facilityToAdd.facility)"
                        md-item-text="item.name+'-'+item.type"
                      >
                        <span md-highlight-text="searchText"
                          >{{item.name}}-{{item.type}}</span
                        >
                      </md-autocomplete>
                    </md-input-container>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <md-input-container flex>
                      <label>Fund Sources</label>
                      <md-select
                        multiple="true"
                        ng-model="facilityToAdd.activity_facility_fund_sources"
                      >
                        <md-option ng-repeat="f in fundSources" ng-value="f"
                          >[ {{f.code}} ] {{f.name}}</md-option
                        >
                      </md-select>
                    </md-input-container>
                    <div ng-show="formHasErrors">
                      <span
                        class="help-block text-danger"
                        ng-show="createActivityForm.fund_sources_to_add.$error.required"
                        translate="VALIDATION_REQUIRED"
                      ></span>
                    </div>
                  </div>
                </div>
                <!-- Project Type -->
                <div
                  class="row"
                  ng-if="selectedActivity.project.code !== '0000'"
                >
                  <div class="col-md-3 col-sm-12">
                    <md-input-container flex>
                      <label>Project Type</label>
                      <md-select
                        ng-required="true"
                        ng-change="loadExpenditureCategories(facilityToAdd.projectType.id)"
                        ng-model="facilityToAdd.projectType"
                        name="projectType"
                      >
                        <md-option ng-repeat="p in projectTypes" ng-value="p"
                          >{{p.name}}</md-option
                        >
                      </md-select>
                    </md-input-container>
                  </div>
                  <!--Expenditure Category  -->
                  <div class="col-md-3 col-sm-12">
                    <md-input-container flex>
                      <label translate="EXPENDITURE_CATEGORY"></label>
                      <md-select
                        ng-required="true"
                        ng-change="loadProjectOutputs(facilityToAdd.expenditureCategory.id)"
                        ng-model="facilityToAdd.expenditureCategory"
                        name="expenditureCategory"
                      >
                        <md-option
                          ng-repeat="e in expenditureCategories"
                          ng-value="e"
                          >{{e.name}}</md-option
                        >
                      </md-select>
                    </md-input-container>
                  </div>
                  <!-- Project Output -->
                  <div class="col-md-3 col-sm-12">
                    <md-input-container flex>
                      <label translate="OUTPUT"></label>
                      <md-select
                        ng-required="true"
                        ng-model="facilityToAdd.projectOutputId"
                        name="projectOutput"
                      >
                        <md-option
                          ng-repeat="o in projectOutputs"
                          ng-value="o.id"
                          >{{o.name}}</md-option
                        >
                      </md-select>
                    </md-input-container>
                  </div>
                  <!-- Output Value -->
                  <div class="col-md-3 col-sm-12">
                    <md-input-container flex>
                      <label translate="VALUE"></label>
                      <input
                        type="number"
                        ng-required="true"
                        name="outputValue"
                        ng-model="facilityToAdd.outputValue"
                      />
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 action">
                    <button
                      ng-disabled="facilityToAdd.facility === undefined || 
                                                      facilityToAdd.activity_facility_fund_sources === undefined || facilityToAdd.activity_facility_fund_sources.length === 0 ||
                                                      (selectedActivity.project.code != '0000' && (facilityToAdd.outputValue === undefined || facilityToAdd.projectOutputId === undefined ))"
                      type="button"
                      class="btn btn-info pull-right"
                      ng-click="addFacility(facilityToAdd)"
                      translate="ADD"
                    ></button>
                    <a ng-show="isAllFacilities" ng-click="addAllFacilities()">
                      <i
                        class="fa fa-plus-circle text-center"
                        aria-hidden="true"
                      >
                      </i>
                    </a>
                  </div>
                </div>
              </div>
            </md-content>
          </div>
          <br />
          <!-- Edit project -->
          <div ng-if="activity_facility_project !== undefined" class="row">
            <md-toolbar
              style="
                min-height: 40px !important;
                background-color: #f5f5f5;
                color: #333;
              "
            >
              <div
                class="md-toolbar-tools"
                style="height: 40px; font-size: 12px !important;"
              >
                Edit Facility Project
              </div>
            </md-toolbar>
            <md-content flex layout-padding>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  Facility: {{selectedFacility.facility.name}}
                </div>
                <div class="col-md-6 col-sm-12">
                  Fund Source:
                  <span
                    class="label label-list"
                    ng-repeat="fs in selectedFacility.activity_facility_fund_sources"
                  >
                    [ {{fs.code}} ] {{fs.name}}&nbsp;&nbsp;
                  </span>
                </div>
                <div class="col-md-6 col-sm-12">
                  Project Output :
                  <strong class="text-success"
                    >{{activity_facility_project.activity_project_outputs[0].project_output.name}}</strong
                  >
                </div>
                <div class="col-md-6 col-sm-12">
                  Value :<strong class="text-success">
                    {{activity_facility_project.activity_project_outputs[0].value}}</strong
                  >
                </div>
              </div>
              <div class="row" ng-if="activity_facility_project !== undefined">
                <div class="col-md-3 col-sm-12">
                  <md-input-container flex>
                    <label>Project Type</label>
                    <md-select
                      ng-required="true"
                      ng-change="loadExpenditureCategories(facilityToEdit.projectType.id)"
                      ng-model="facilityToEdit.projectType"
                      name="projectType"
                    >
                      <md-option ng-repeat="p in projectTypes" ng-value="p"
                        >{{p.name}}</md-option
                      >
                    </md-select>
                  </md-input-container>
                </div>
                <!--Expenditure Category  -->
                <div class="col-md-3 col-sm-12">
                  <md-input-container flex>
                    <label translate="EXPENDITURE_CATEGORY"></label>
                    <md-select
                      ng-required="true"
                      ng-change="loadProjectOutputs(facilityToEdit.expenditureCategory.id)"
                      ng-model="facilityToEdit.expenditureCategory"
                      name="expenditureCategory"
                    >
                      <md-option
                        ng-repeat="e in expenditureCategories"
                        ng-value="e"
                        >{{e.name}}</md-option
                      >
                    </md-select>
                  </md-input-container>
                </div>
                <!-- Project Output -->
                <div class="col-md-3 col-sm-12">
                  <md-input-container flex>
                    <label translate="OUTPUT"></label>
                    <md-select
                      ng-required="true"
                      ng-model="activity_facility_project.project_output_id"
                      name="project_output_id"
                    >
                      <md-option ng-repeat="o in projectOutputs" ng-value="o.id"
                        >{{o.name}}</md-option
                      >
                    </md-select>
                  </md-input-container>
                </div>
                <!-- Output Value -->
                <div class="col-md-2 col-sm-12">
                  <md-input-container flex>
                    <label translate="VALUE"></label>
                    <input
                      type="number"
                      ng-required="true"
                      name="output_value"
                      ng-model="activity_facility_project.output_value"
                    />
                  </md-input-container>
                </div>
                <div class="col-md-1 col-sm-12">
                  <button
                    type="button"
                    class="btn btn-info"
                    ng-click="updateActivityFacilityProject(activity_facility_project)"
                  >
                    <span translate="SAVE"></span>
                  </button>
                </div>
              </div>
            </md-content>
          </div>
          <!-- end edit activity-->
          <br />
          <!--Facility-->
          <div class="row">
            <md-toolbar
              style="
                min-height: 40px !important;
                background-color: #f5f5f5;
                color: #333;
              "
            >
              <div
                class="md-toolbar-tools"
                style="height: 40px; font-size: 12px !important;"
              >
                Activity facilities
              </div>
            </md-toolbar>
            <md-content flex layout-padding>
              <!-- <pr-progress ng-show="facilityLoading"></pr-progress> -->
              <table
                style="width: 100%;"
                class="table table-sm table-bordered input-breakdown"
              >
                <tr class="bg-teal-400">
                  <td class="col-md-5" translate="FACILITY"></td>
                  <td class="col-md-6" translate="FUND_SOURCE"></td>
                  <td>+/-</td>
                </tr>
                <tr>
                  <td colspan="3" style="padding: 1px;" valign="top">
                    <input
                      ng-model="searchQuery"
                      class="form-control"
                      type="text"
                      placeholder="Search existing facility (at least 3 characters)"
                      ng-change="searchExistingFacility()"
                    />
                  </td>
                </tr>
                <tr
                  ng-repeat="f in activityFacilities.data"
                  style="background: #fafafa;"
                >
                  <td class="col-md-5 input">
                    {{((currentPage -1)*5) + $index + 1}}. {{f.facility.name + '
                    '+f.facility.facility_type.name+' '+f.facility.type}}&nbsp;
                  </td>
                  <td class="col-md-4 input">
                    <span
                      class="label label-list"
                      ng-repeat="fs in f.activity_facility_fund_sources"
                    >
                      [ {{fs.code}} ] {{fs.name}}&nbsp;&nbsp;
                      <!--<a ng-click="deleteActivityFundSource(fs.id)"><i class="fa fa-times"></i></a>-->
                    </span>
                  </td>
                  <td nowrap>
                    <!--
                                            <a has-permission="planning.delete_activity_facility" ng-if="(budgetType !=='CURRENT' || (!isLocked && !isFinal && budgetType ==='CURRENT'))"
                                                ng-click="editExistingFacility(f)">
                                                <i class="fa fa-pencil text-info" aria-hidden="true"></i>
                                            </a>-->
                    <button
                      type="button"
                      class="btn"
                      ng-if="selectedActivity.project.code != '0000'"
                      ng-class="{'btn-success':(f.project_output !== undefined && f.project_output !== null ),'btn-default':(f.project_output === undefined || f.project_output === null )}"
                      ng-click="editExistingFacility(f)"
                    >
                      <span translate="OUTPUT"></span> ({{(f.project_output !==
                      undefined && f.project_output !== null)?1:0}})
                    </button>

                    <!--
                                            <a has-permission="planning.delete_activity_facility" ng-if="(budgetType !=='CURRENT' || (!isLocked && !isFinal && budgetType ==='CURRENT'))"
                                                ng-click="deleteExistingFacility(f.id)">
                                                <i class="fa fa-minus-circle text-warning" aria-hidden="true"></i>
                                            </a>-->
                    <button
                      type="button"
                      class="btn btn-warning"
                      ng-click="deleteExistingFacility(f.id)"
                      has-permission="planning.delete_activity_facility"
                      ng-if="(budgetType !=='CURRENT' || (!isLocked && !isFinal && budgetType ==='CURRENT'))"
                    >
                      <span translate="DELETE"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="input">
                    <div class="pop-pagination">
                      <ul
                        uib-pagination
                        total-items="activityFacilities.total"
                        class="pagination-sm pull-left"
                        boundary-links="true"
                        num-pages="numPages"
                        items-per-page="activityFacilities.per_page"
                        ng-model="currentPage"
                        max-size="10"
                        ng-change="pageChanged()"
                      ></ul>
                    </div>
                  </td>
                </tr>
              </table>
              <input
                ng-required="activityToCreate.activity_facilities.length ===0 "
                type="hidden"
                ng-model="activityToCreate.valid_activity_facilities"
                value=""
                name="valid_activity_facilities"
              />
              <div ng-show="formHasErrors">
                <span
                  class="help-block text-danger"
                  ng-show="createActivityForm.valid_activity_facilities.$error.required"
                  translate="YOU_MUST_ADD_AT_LEAST_ONE_FUND_SOURCE"
                ></span>
              </div>
            </md-content>
            <!-- <div class="col-md-12">
                                <div>

                                    <hr />
                                </div>

                            </div> -->
          </div>
          <!-- </fieldset> -->
        </div>
        <div ng-show="activityFacilities.data.length" class="modal-footer">
          <button type="button" class="btn btn-info cancel" ng-click="close()">
            <i class="fa fa-times"></i>
            <span translate="BTN_FINISH"></span>
          </button>
          <button
            type="button"
            class="btn btn-warning cancel"
            ng-click="close()"
          >
            <i class="fa fa-times"></i>
            <span translate="BTN_CLOSE"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
