<div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Confirm Target for planning year {{financialYear.name}}</h5>
                </div>
                <form action="#" class="form-horizontal" name="createLongTermTargetForm" novalidate>
                    <div class="modal-body">
                      <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >
                                <span translate="DESCRIPTION"></span> *
                            </label>
                            <div class="col-sm-10">
                                <textarea  ng-required="true" ng-model="target.description" name="description"
                                          class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createLongTermTargetForm.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
