<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Create a new LongTermTarget</h5>
            </div>
            <pr-progress ng-show="!genericLoaded"></pr-progress>
            <form action="#" class="form-horizontal" name="createLongTermTargetForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div ng-show="!allThingsLoades" class="alert alert-warning">
                            <b>Please!, make sure the followings are loaded and Selected </b>
                            <ul>
                                <li>Ruling Part Manifesto</li>
                                <li>Sustainable Development Goals (SDG)</li>
                                <li>Five Yeas Development Plans</li>
                            </ul>
                            <b>Else will not be saved </b>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">{{selectedPlanChain.plan_chain_type.name}} </label>
                            <div class="col-sm-9">
                                <select name="plan_chain_id" class="form-control"
                                    ng-model="longTermTargetToCreate.plan_chain_id"
                                    ng-options="c.id as (c.code + ': ' + c.description) group by (c.parent.code + ': ' + c.parent.description) for c in planChains"
                                    ng-change="loadGenerics(longTermTargetToCreate.plan_chain_id)">
                                </select>
                            </div>
                        </div>
                        <!--Generic Template-->
                        <div class="form-group" ng-show="genericTargets.length >0 && genericLoaded && !paramSet"
                            style="background: #f5f5f5;padding-bottom:4px;border-bottom: 1px solid #ddd;">
                            <hr />
                            <label class="control-label col-sm-3">
                                <span translate="SELECT_TARGET_TEMPLATE"></span>
                                <span><a href ng-click="genericLoaded =true; paramSet=true">
                                        <i class="fa fa-times-circle fa-lg" style="color:red" aria-hidden="true"></i>
                                    </a></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search" ng-change="showParam(selectedTarget);"
                                    ng-model="selectedTarget"
                                    ng-options="gen as gen.description for gen in genericTargets">
                                </select>
                                <div class="row" style="margin-top:4px" ng-if="selectedTarget !== undefined">
                                    <ng-form name="paramForm">
                                        <div ng-repeat="p in selectedTargetParams" class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon text-info">{{p.name}}</span>
                                                <input ng-change="changeTemp(selectedTargetParams)" ng-required="true"
                                                    id="{{p.name}}" ng-model="p.value" type="text"
                                                    class="form-control input-sm" />
                                            </div>

                                        </div>

                                        <div class="col-sm-3" ng-show="selectedTarget !== undefined">
                                            <button type="button" class="btn btn-info btn-sm"
                                                ng-disabled="paramForm.$invalid"
                                                ng-click="createFromTemplate(selectedTarget,selectedTargetParams)">Create
                                                Target</button>
                                        </div>
                                    </ng-form>
                                    <div class="col-sm-12">
                                        <textarea rows="4" style="text-align: left;background: #f5f5f5;height: auto"
                                            ng-model="temp" class="form-control" disabled="disabled">
                                          </textarea>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <!--Generic template Ends-->
                        <div class="form-group" ng-show="genericLoaded && paramSet">
                            <label class="control-label col-sm-3">
                                <span translate="DESCRIPTION"></span> *
                            </label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" ng-model="longTermTargetToCreate.description"
                                    placeholder="{{'ENTER_TARGET'|translate}}" name="description"
                                    class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.description.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <!--Performance Indicators-->
                        <div class="form-group" ng-show="genericLoaded && paramSet">
                            <label class="control-label col-sm-3">Performance Indicator *</label>
                            <div class="col-sm-9">
                                <select name="performance_indicator" class="form-control"
                                    ng-model="longTermTargetToCreate.performance_indicator_id" ng-required="true"
                                    ng-options="p.id as p.description for p in perfomanceIndicators">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.performance_indicator.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <!--Performance indicators End-->
                        <!--Target type start-->
                        <div class="form-group" ng-show="genericLoaded && paramSet">
                            <label class="control-label col-sm-3">Target Type*</label>
                            <div class="col-sm-9">
                                <select name="target_type" class="form-control"
                                    ng-model="longTermTargetToCreate.target_type_id" ng-required="true"
                                    ng-options="p.id as p.name for p in tTypes">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.target_type.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <!--Target type end-->
                        <!--Priority Area-->
                        <div class="row"
                            ng-if="genericLoaded && paramSet && priorityWithInterventionAndProblems.length > 0">
                            <hr style="width:100%" />
                            <br />
                            <div class="col-md-6">
                                <label translate="LABEL_PRIORITY_AREAS"></label>
                                <select ng-model="longTermTargetToCreate.priority_area"
                                    ng-options="p as p.description for p in priorityWithInterventionAndProblems track by p.id"
                                    class="select-fixed-multiple form-control" id="priorityAreas" name="priority_area"
                                    ng-required="priorityWithInterventionAndProblems.length > 0">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.priority_area.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label translate="LABEL_INTERVENTION"></label>
                                <select ng-disabled="longTermTargetToCreate.priority_area===undefined"
                                    ng-model="longTermTargetToCreate.intervention"
                                    ng-options="p as p.description for p in longTermTargetToCreate.priority_area.interventions track by p.id"
                                    class="form-control" id="intervention" name="intervention"
                                    ng-required="priorityWithInterventionAndProblems.length > 0">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.intervention.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label translate="LABEL_SECTOR_PROBLEMS"></label>
                                <select ng-disabled="longTermTargetToCreate.priority_area===undefined"
                                    ng-model="longTermTargetToCreate.sector_problem"
                                    ng-options="p as p.description for p in longTermTargetToCreate.priority_area.sector_problems track by p.id"
                                    class=" form-control" id="sector_problems" name="sector_problems"
                                    ng-required="priorityWithInterventionAndProblems.length > 0">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.sector_problems.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                        <!--Priority Area Ends-->

                        <div class="row" ng-if="genericLoaded && paramSet">
                            <hr style="width:100%" />
                            <div class="col-md-6" ng-repeat="refType in referenceTypes" style="padding-top:8px">
                                <!--<div class='form-group'>-->
                                <label>{{refType.name}}</label>
                                <select ng-model="longTermTargetToCreate.references[$index]" class="form-control"
                                    id="reference_{{refType.name}}"
                                    ng-options="r as r.name for r in refType.references">
                                </select>

                                <!--</div>-->

                            </div>

                        </div>
                        <br />

                        <!-- cofogs -->
                        <div class="row">
                            <hr style="width:100%" />
                            <div class="col-sm-9">
                                <label>COFOG *</label>

                                <select name="cofog_id" class="form-control" ng-model="longTermTargetToCreate.cofog_id"
                                    ng-required="true" ng-options="p.id as (p.code + ': ' + p.name) for p in cofogs">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                        ng-show="createLongTermTargetForm.cofog_id.$error.required"
                                        translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- cofogs -->


                        <!--Departments-->
                        <div ng-show="genericLoaded && paramSet && canTargetSections.length >0" class="col-sm-12">
                            <hr style="width:100%" />
                            <label><b>Link Department</b></label></div>
                        <div ng-show="formHasErrors" class="col-sm-12">
                            <span class="help-block text-danger"
                                ng-show="createLongTermTargetForm.section.$error.required"
                                translate="INVALID_SECTION"></span>
                        </div>
                        <div ng-show="canTargetSections.length && genericLoaded && paramSet" class="col-sm-6"
                            ng-repeat="s in canTargetSections">
                            <label>
                                <input ng-required="true" ng-disabled="canTargetSections.length === 1" type="radio"
                                    name="section" ng-value="s.id" ng-model="longTermTargetToCreate.section_id">
                                {{s.name}} &nbsp; &nbsp;
                            </label>
                        </div>
                        <br />
                        <!--Department Ends-->
                    </div>
                </div>

                <div class="modal-footer">
                    <button ng-show="genericLoaded && paramSet" type="button" class="btn btn-primary" ng-click="save()"
                        ng-disabled="!allThingsLoades">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>