<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="ADD_ACTIVITY"></h5>
      </div>
      <pr-progress ng-show="genericLoading"></pr-progress>
      <form action="#" class="form-vertical" name="createActivityForm">
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                  <span>×</span><span class="sr-only" translate="OPT_CLOSE"></span>
                </button>
                {{errorMessage | translate}}
                <ol ng-show="errors.length">
                  <li ng-repeat="e in errors">{{e}}</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <fieldset class="activity">
                <div class="row">
                  <div class="col-md-12">
                    <md-input-container style="width: 100%;">
                      <label for="facility" translate="FACILITY"></label>
                      <input id="facility" ng-disabled="true" class="form-control" type="text"
                        value="{{facility.name}} - {{facility.type}}" />
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <md-input-container style="width: 100%;">
                      <label for="target" translate="TARGET"></label>
                      <input id="target" ng-disabled="true" class="form-control" type="text"
                        value="[{{selectedTarget.code}}] {{selectedTarget.description}}" />
                    </md-input-container>
                  </div>
                </div>
                <!--Generic Template-->
                <div class="row" ng-show="genericActivities.length >0 && genericLoaded && !paramSet" style="
                    background: #f5f5f5;
                    padding: 4px 0px;
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                  ">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label" style="vertical-align: middle;">
                        <span translate="SELECT_ACTIVITY_TEMPLATE"></span>
                        <span><a href ng-click="genericLoaded =true; paramSet=true">
                            <i class="fa fa-times-circle fa-lg" style="color: red;"></i> </a></span>
                      </label>

                      <select class="form-control select-search" ng-change="showParam(selectedActivity)"
                        ng-model="selectedActivity" ng-options="gen as gen.description for gen in genericActivities">
                      </select>
                      <div class="row" style="margin-top: 4px;" ng-if="selectedActivity !== undefined">
                        <ng-form name="paramForm">
                          <div ng-repeat="p in selectedActivityParams" class="col-sm-3">
                            <div class="input-group">
                              <span class="input-group-addon">{{p.name}}=</span>
                              <input ng-required="true" id="{{p.name}}" ng-model="p.value" type="text"
                                class="form-control input-sm" />
                            </div>
                          </div>

                          <div class="col-sm-3" ng-show="selectedActivity !== undefined">
                            <button type="button" class="btn btn-info btn-sm" ng-disabled="paramForm.$invalid"
                              ng-click="createFromTemplate(selectedActivity,selectedActivityParams)">
                              Formulate Activity
                            </button>
                          </div>
                        </ng-form>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>
                <!--Description-->
                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-12">
                    <md-input-container style="width: 100%;">
                      <label for="description">Activity Description</label>
                      <input ng-model="activityToCreate.description" autocomplete="off" class="form-control"
                        id="description" name="description" required="true" type="text" />
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.description.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                </div>
                <!--Budget Class-->
                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="budget_class" translate="LABEL_BUDGET_CLASS"></label>
                      <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                        ng-model="activityToCreate.budget_class_parent" ng-required="true"
                        ng-change="loadBudgetClasses(activityToCreate.budget_class_parent.children)" id="budget_class"
                        name="budget_class_parent">
                        <md-option ng-repeat="b in budgetClasses track by b.id" ng-value="b">[ {{b.code}} ] {{b.name}}
                        </md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger"
                          ng-show="createActivityForm.budget_class_parent.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="sub_budget_class" translate="LABEL_SUB_BUDGET_CLASS"></label>
                      <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                        ng-model="activityToCreate.budget_class_id" ng-required="true" id="sub_budget_class"
                        name="budgetClass" ng-change="loadProjects()">
                        <md-option ng-repeat="b in childBudgetClasses" ng-value="b.id">[ {{b.code}} ] {{b.name}}
                        </md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.budgetClass.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="activity_category" translate="LABEL_ACTIVITY_CATEGORY"></label>
                      <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                        ng-model="activityToCreate.activity_category_id" id="activity_category"
                        ng-change="loadTaskNature(activityToCreate.activity_category_id)" name="activity_category"
                        ng-required="true">
                        <md-option ng-repeat="a in activityCategory" ng-value="a.id">{{a.name}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger"
                          ng-show="createActivityForm.activity_category.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                </div>

                <!--Task nature-->
                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="budget_class" translate="LABEL_TASK_NATURE"></label>
                      <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                        ng-model="activityToCreate.activity_task_nature_id" ng-required="true" id="task_nature"
                        name="task_nature">
                        <md-option ng-repeat="t in taskNaturesByCategory" ng-value="t.id">{{t.name}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.task_nature.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="project">
                        <span ng-class="{'text-info':projectLoading}" translate="LABEL_PROJECT"></span>
                        <span class="text-info" ng-if="projectLoading">Loading...</span>
                      </label>
                      <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                        ng-model="activityToCreate.project_id" ng-required="true" id="project" name="project">
                        <md-option ng-repeat="p in projects" ng-value="p.id">[{{p.code}}] {{p.name}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.project.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-sm-4">
                    <md-input-container style="width: 100%;">
                      <label for="person">
                        <span translate="LABEL_RESPONSIBLE_PERSON"></span>
                        <span class="text-info fade-in-out" translate="USER_CREATED" ng-show="userCreated">
                        </span>
                      </label>
                      <div class="input-group">
                        <md-select ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                          ng-model="activityToCreate.responsible_person_id" id="person" name="person">
                          <md-option ng-repeat="r in responsiblePersons" ng-value="r.id">{{r.name}}</md-option>
                        </md-select>
                        <!-- <span class="input-group-btn">
                          <button
                            ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'"
                            ng-click="addNewResponsible=true"
                            class="btn btn-info"
                            type="button"
                          >
                            <span translate="BTN_ADD"></span>
                          </button>
                        </span> -->
                      </div>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.person.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                </div>
                <!--Responsible-->
                <div ng-show="addNewResponsible" class="row fade-in-out">
                  <div class="col-sm-12" style="
                      background: #f5f5f5;
                      border: 1px solid #00bcd4;
                      border-radius: 4px;
                      padding: 10px;
                    ">
                    <ng-form name="responsiblePersonToCreateForm">
                      <div class="row">
                        <div class="col-sm-11">
                          <strong class="text-info" translate="TITLE_CREATE_RESPONSIBLE_PERSON"></strong>
                        </div>
                        <div class="col-sm-11">
                          <span class="help-block text-danger">{{errorMessage2}}</span>
                        </div>
                        <div class="col-sm-1">
                          <a href ng-click="closeUserForm()">
                            <span class="label label-warning label-rounded label-icon pull-right"><i
                                class="fa fa-times"></i></span>
                          </a>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon text-info" translate="LABEL_FIRST_NAME"></span>
                            <input ng-required="addNewResponsible" name="first_name"
                              ng-model="responsiblePersonToCreate.first_name" type="text"
                              class="form-control input-sm" />
                          </div>
                          <div ng-show="userFormHasErrors">
                            <span class="help-block text-danger"
                              ng-show="responsiblePersonToCreateForm.first_name.$error.required"
                              translate="VALIDATION_REQUIRED"></span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon text-info" translate="LABEL_LAST_NAME"></span>
                            <input ng-required="addNewResponsible" name="last_name"
                              ng-model="responsiblePersonToCreate.last_name" type="text"
                              class="form-control input-sm" />
                          </div>
                          <div ng-show="userFormHasErrors">
                            <span class="help-block text-danger"
                              ng-show="responsiblePersonToCreateForm.last_name.$error.required"
                              translate="VALIDATION_REQUIRED"></span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon text-info" translate="TITLE"></span>
                            <input ng-required="addNewResponsible" name="title"
                              ng-model="responsiblePersonToCreate.title" type="text" class="form-control input-sm" />
                          </div>
                          <div ng-show="userFormHasErrors">
                            <span class="help-block text-danger"
                              ng-show="responsiblePersonToCreateForm.title.$error.required"
                              translate="VALIDATION_REQUIRED"></span>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon text-info" translate="LABEL_MOBILE"></span>
                            <input ng-required="addNewResponsible" name="mobile" ng-pattern="mobileValid"
                              ng-model="responsiblePersonToCreate.mobile" type="text" class="form-control input-sm" />
                          </div>
                          <span class="help-block text-danger"
                            ng-show="responsiblePersonToCreateForm.mobile.$error.pattern">
                            Invalid Mobile number!
                          </span>
                          <div ng-show="userFormHasErrors">
                            <span class="help-block text-danger"
                              ng-show="responsiblePersonToCreateForm.mobile.$error.required"
                              translate="VALIDATION_REQUIRED"></span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon text-info" translate="LABEL_EMAIL"></span>
                            <input ng-model="responsiblePersonToCreate.email" name="email" type="email"
                              class="form-control input-sm" />
                          </div>
                          <div ng-show="userFormHasErrors">
                            <span class="help-block text-danger"
                              ng-show="responsiblePersonToCreateForm.email.$error.email"
                              translate="NOT_VALID_EMAIL"></span>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-sm-12">
                          <button ng-click="closeUserForm()" class="btn btn-sm btn-default pull-right" type="button">
                            Cancel
                          </button>
                          <button ng-click="createResponsiblePerson()"
                            class="btn btn-sm btn-info pull-right margin-right-4" type="button">
                            Save
                          </button>
                        </div>
                      </div>
                    </ng-form>
                  </div>
                </div>
                <!--Periods-->
                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="person" translate="LABEL_PERIODS"></label>
                      <table width="100%">
                        <tr>
                          <td ng-repeat="p in periods">
                            <md-checkbox ng-disabled="activityToCreate.budget_type === 'DISAPPROVED'" class="md-primary"
                              ng-checked="hasPeriod(p.id)" ng-click="togglePeriodSelection(p)">{{p.name}}
                            </md-checkbox>
                          </td>
                        </tr>
                      </table>
                      <input type="hidden" name="periods" ng-model="activityToCreate._periods"
                        ng-required="activityToCreate.periods.length ==0 || activityToCreate.periods==undefined" />
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.periods.$error.required"
                          translate="VALIDATION_REQUIRED_PERIODS"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Indicators-->
                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-10">
                    <md-input-container style="width: 100%;">
                      <label for="intermediate_indicator" translate="LABEL_INDICATOR"></label>
                      <input ng-model="activityToCreate.indicator" class="form-control" id="intermediate_indicator"
                        autocomplete="off" name="indicator" required="true" type="text" />
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.indicator.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-sm-2">
                    <md-input-container style="width: 100%;">
                      <label for="indicator_value" translate="LABEL_INDICATOR_VALUE"></label>
                      <input ng-model="activityToCreate.indicator_value" autocomplete="off" id="indicator_value"
                        name="indicator_value" type="text" ng-pattern="indicatorValue" />
                      <span ng-show="createActivityForm.indicator_value.$error.pattern" class="help-block text-danger">
                        indicator value not valid.
                      </span>
                    </md-input-container>
                  </div>
                </div>
                <!--Priority Areas-->
                <div class="row" ng-if="genericLoaded && paramSet && priorityWithInterventionAndProblems.length > 0">
                  <div class="col-md-4">
                    <md-input-container style="width: 100%;">
                      <label for="priorityAreas" translate="LABEL_PRIORITY_AREAS"></label>
                      <md-select ng-model="activityToCreate.priority_area" id="priorityAreas" name="priority_area"
                        ng-required="true">
                        <md-option ng-repeat="p in priorityWithInterventionAndProblems track by p.id" ng-value="p">
                          [{{ p.number }}] {{p.description}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.priority_area.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-md-4">
                    <md-input-container style="width: 100%;">
                      <label for="intervention" translate="LABEL_INTERVENTION"></label>
                      <md-select ng-disabled="activityToCreate.priority_area===undefined"
                        ng-model="activityToCreate.intervention_id" id="intervention" name="intervention"
                        ng-required="true">
                        <md-option ng-repeat="p in activityToCreate.priority_area.interventions" ng-value="p.id">
                          {{p.description}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.intervention.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-md-4">
                    <md-input-container style="width: 100%;">
                      <label for="sector_problems" translate="LABEL_SECTOR_PROBLEMS"></label>
                      <md-select ng-disabled="activityToCreate.priority_area===undefined"
                        ng-model="activityToCreate.sector_problem_id" id="sector_problems" name="sector_problems"
                        ng-required="activityToCreate.priority_area.sector_problems.length">
                        <md-option ng-repeat="p in activityToCreate.priority_area.sector_problems" ng-value="p.id">
                          {{p.description}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger"
                          ng-show="createActivityForm.sector_problems.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                  <hr />
                </div>
                <!--National Reference-->

                <div ng-show="genericLoaded && paramSet" class="row">
                  <div class="col-sm-4" ng-repeat="refType in referenceTypes" ng-show="refType.references.length">
                    <md-input-container style="width: 100%;">
                      <label for="reference">{{refType.name}}</label>
                      <md-select ng-model="activityToCreate.references[$index]"
                        ng-init="activityToCreate.references[$index]=getInitReferences(refType)" id="reference">
                        <md-option ng-repeat="r in refType.references track by r.id" ng-value="r">{{r.name}}</md-option>
                      </md-select>
                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger"
                          ng-show="createActivityForm.references[$index].$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                </div>

                <!-- Cofog and surplus categories -->
                <div class="row">
<!--                  surplus categories-->
                  <div class="col-sm-6" ng-if="piscType == 'PT01'">
                    <md-input-container style="width: 100%;">
                      <label for="surplus_id" translate="LABEL_SURPLUS_CATEGORY"></label>
                      <md-select ng-model="activityToCreate.surplus_id" ng-required="true" name="surplus_id" id="surplus_id">
                        <md-option ng-repeat="sp in surplusCategories" ng-value="sp.id">[ {{sp.code}} ] {{sp.name}}
                        </md-option>
                      </md-select>

                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.cofog_id.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                 <!-- cofog -->
                  <div class="col-sm-6">
                    <md-input-container style="width: 100%;">
                      <label for="cofog_id" translate="LABEL_COFOG"></label>
                      <md-select ng-model="activityToCreate.cofog_id" ng-required="true" name="cofog_id" id="cofog_id">
                        <md-option ng-repeat="b in cofogs" ng-value="b.childid">[ {{b.childcode}} ] {{b.childname}}
                        </md-option>
                      </md-select>

                      <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="createActivityForm.cofog_id.$error.required"
                          translate="VALIDATION_REQUIRED"></span>
                      </div>
                    </md-input-container>
                  </div>
                </div>
                <!-- End Cofog -->
              </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-if="genericLoaded && paramSet" type="button" class="btn btn-info action"
            ng-click="createOrUpdate()">
            <i class="fa fa-floppy-o"></i>
            <span translate="BTN_SAVE_AND_NEXT"></span>
          </button>
          <button type="button" class="btn btn-warning cancel" ng-click="close()">
            <i class="fa fa-times"></i>
            <span translate="BTN_CLOSE"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/ng-template" id="facilityResultTemplate.html">
    <a>
        <strong>{{match.model.name}}-{{match.model.type}}</strong>
    </a>
  </script>
</div>
