<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title">Edit LongTermTarget</h5>
      </div>

      <form action="#" class="form-horizontal" name="editLongTermTargetForm">
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-3">Plan Sequence *</label>
              <div class="col-sm-9">
                <select
                  name="plan_chain_id"
                  class="form-control"
                  ng-model="longTermTargetToEdit.plan_chain_id"
                  ng-options="c.id as (c.code + ': ' + c.description) group by (c.parent.code + ': ' + c.parent.description) for c in planChains"
                >
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Code *</label>
              <div class="col-sm-9">
                <input
                  ng-disabled="true"
                  ng-required="true"
                  name="code"
                  type="text"
                  ng-model="longTermTargetToEdit.code"
                  placeholder=""
                  class="form-control"
                />
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.code.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Description *</label>
              <div class="col-sm-9">
                <textarea
                  ng-model="longTermTargetToEdit.description"
                  ng-required="true"
                  placeholder="{{'ENTER_TARGET'|translate}}"
                  name="description"
                  class="form-control"
                ></textarea>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.description.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
            </div>
            <!--Performance Indicators-->
            <div class="form-group">
              <label class="control-label col-sm-3"
                >Performance Indicator *
              </label>
              <div class="col-sm-9">
                <select
                  name="performance_indicator"
                  class="form-control"
                  ng-model="longTermTargetToEdit.performance_indicator_id"
                  ng-required="true"
                  ng-options="p.id as p.description for p in perfomanceIndicators"
                >
                </select>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.performance_indicator.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
            </div>
            <!--Performance indicators End-->
            <div
              class="row"
              ng-if="priorityWithInterventionAndProblems.length > 0"
            >
              <div class="col-md-6">
                <label translate="LABEL_PRIORITY_AREAS"></label>
                <select
                  ng-model="longTermTargetToEdit.priority_area"
                  ng-init="longTermTargetToEdit.priority_area=getInitPriority(longTermTargetToEdit.intervention.priority_area_id)"
                  ng-options="p as p.description for p in priorityWithInterventionAndProblems track by p.id"
                  class="select-fixed-multiple form-control"
                  id="priorityAreas"
                  name="priority_area"
                  ng-required="priorityWithInterventionAndProblems.length > 0"
                >
                </select>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.priority_area.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
              <div class="col-md-6">
                <label translate="LABEL_INTERVENTION"></label>
                <select
                  ng-disabled="longTermTargetToEdit.priority_area===undefined"
                  ng-model="longTermTargetToEdit.intervention"
                  ng-options="p as p.description for p in longTermTargetToEdit.priority_area.interventions track by p.id"
                  class="form-control"
                  id="intervention"
                  name="intervention"
                  ng-required="priorityWithInterventionAndProblems.length > 0"
                >
                </select>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.intervention.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
              <div class="col-md-6">
                <label translate="LABEL_SECTOR_PROBLEMS"></label>
                <select
                  ng-disabled="longTermTargetToEdit.priority_area===undefined"
                  ng-model="longTermTargetToEdit.sector_problem"
                  ng-options="p as p.description for p in longTermTargetToEdit.priority_area.sector_problems track by p.id"
                  class="form-control"
                  id="sector_problems"
                  name="sector_problems"
                  ng-required="priorityWithInterventionAndProblems.length > 0"
                >
                </select>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.sector_problems.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
            </div>
            <br />
            <div class="row" ng-if="referenceTypes.length >0">
              <hr style="width: 100%;" />
              <div
                class="col-md-6"
                ng-repeat="refType in referenceTypes"
                style="padding-top: 8px;"
              >
                <label>{{refType.name}}</label>
                <select
                  ng-init="longTermTargetToEdit.references[$index]=getInitReferences(refType)"
                  ng-model="longTermTargetToEdit.references[$index]"
                  class="select-search form-control"
                  id="reference_{{refType.name}}"
                  ng-options="r as r.name for r in refType.references track by r.id"
                >
                </select>
              </div>
            </div>
            <br />

            <!-- cofogs -->
            <div class="form-group">
              <label class="control-label col-sm-3">COFOG *</label>
              <div class="col-sm-9">
                <select
                  name="cofog_id"
                  class="form-control"
                  ng-model="longTermTargetToEdit.cofog_id"
                  ng-required="true"
                  ng-options="p.id as p.name for p in cofogs"
                >
                </select>
                <div ng-show="formHasErrors">
                  <span
                    class="help-block text-danger"
                    ng-show="editLongTermTargetForm.cofog_id.$error.required"
                    translate="VALIDATION_REQUIRED"
                  ></span>
                </div>
              </div>
            </div>

            <!-- cofogs -->

            <hr class="col-sm-12" />
            <div ng-show="canTargetSections.length" class="col-sm-12">
              <label><b>Link Planning Units</b></label>
            </div>
            <div ng-show="formHasErrors">
              <span
                class="help-block text-danger"
                ng-show="createLongTermTargetForm.section.$error.required"
                translate="VALIDATION_REQUIRED"
              ></span>
            </div>
            <div
              ng-show="canTargetSections.length"
              class="col-sm-6"
              ng-repeat="s in canTargetSections"
            >
              <label>
                <input
                  ng-required="true"
                  ng-disabled="canTargetSections.length === 1"
                  type="radio"
                  name="section"
                  ng-value="s.id"
                  ng-model="longTermTargetToEdit.section_id"
                />
                {{s.name}} &nbsp; &nbsp;
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary action"
            ng-click="update()"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-warning cancel"
            ng-click="close()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
