<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{gfs_code_name}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form action="#" class="form-horizontal" name="costCentres" novalidate>
                        <div class="form-group">
                            <div class="col-md-12">
                                <select class="form-control"
                                        ng-model="formData.sector" ng-change="loadDepartments(formData.sector.id)"
                                        ng-options="a1 as (a1.code+' - '+a1.name) for a1 in sectors">
                                    <option value="" selected="selected">-Sector-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" ng-show="formData.sector.id > 0">
                                <select class="form-control"
                                        ng-model="formData.department"
                                        ng-change="loadCostCentres(formData.department.id)"
                                        ng-options="a1 as (a1.code+' - '+a1.name) for a1 in departments">
                                    <option value="" selected="selected">-Department-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" ng-show="formData.department.id > 0">
                                <select class="form-control" multiple="multiple"
                                        ng-model="formData.sections"
                                        ng-options="a1 as (a1.code+' - '+a1.name) for a1 in sections">
                                    <option value="" selected="selected">-Cost Centre-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" ng-click="addCostCentres()"
                                        translate="BTN_SAVE"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="SNO"></th>
                                    <th translate="COST_CENTRE"></th>
                                    <th translate="REMOVE"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in items">
                                    <td>{{$index + 1}}</td>
                                    <td><span>[{{row.section.code}}] - {{row.section.name}}</span></td>
                                    <td>
                                        <button type="button" class="btn btn-warning"
                                                ng-click="removeCostCentre(row.id)" translate="BTN_DELETE"></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
            </div>
        </div>

    </div>
</div>