<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="TITLE_CREATE_GFS_CODE"></h5>
      </div>
      <form action="#" class="form-horizontal" name="createGfsCodeForm" novalidate>
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
              {{ errorMessage | translate }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
            <div class="col-sm-9">
              <input ng-required="true" autocomplete="off" name="name" type="text" ng-model="gfsCodeToCreate.name"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.name.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
            <div class="col-sm-9">
              <input ng-required="true" autocomplete="off" name="code" type="text" ng-model="gfsCodeToCreate.code"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.code.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
            <div class="col-sm-9">
              <input ng-required="true" name="description" type="text" ng-model="gfsCodeToCreate.description"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.description.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="LABEL_ACCOUNT_TYPE"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control"
                      ng-model="gfsCodeToCreate.account_type_id"
                      name="account_type_id" ng-required="true"
                      ng-options="gfsc.id as gfsc.name for gfsc in accountTypes">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.account_type_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="LABEL_GFS_CATEGORY"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control select-search1" ng-required="true"
                      ng-model="gfsCodeToCreate.gfs_code_category_id"
                      ng-change="loadSubs(gfsCodeToCreate.gfs_code_category_id)"
                      name="gfs_code_category_id"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeCategories">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">
              <span translate="GFS_SUB_CATEGORY"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control"
                      ng-model="gfsCodeToCreate.gfs_code_sub_category_id"
                      name="gfs_code_sub_category_id" ng-required="true"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeSubCategories">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger"
                      ng-show="createGfsCodeForm.gfs_code_sub_category_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="IS_PROCUREMENT"></label>
            <div class="col-sm-9">
              <label class="radio-inline radio-right">
                <input type="radio" ng-model="gfsCodeToCreate.is_procurement" name="is_procurement" class="styled"
                       ng-value="true">
                Yes
              </label>
              <label class="radio-inline radio-right">
                <input type="radio" ng-model="gfsCodeToCreate.is_procurement" name="is_procurement" class="styled"
                       ng-value="false">
                No
              </label>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.is_procurement.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="gfsCodeToCreate.is_procurement === true">
            <label class="control-label col-sm-3">
              <span translate="PROCUREMENT_TYPE"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control select-search1"
                      ng-model="gfsCodeToCreate.procurement_type_id"
                      name="procurement_type_id"
                      ng-required="gfsCodeToCreate.is_procurement === true ? true : false"
                      ng-options="gfsc.id as gfsc.name for gfsc in procurement_types">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger"
                      ng-show="createGfsCodeForm.procurement_type_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Position</label>
            <div class="col-sm-9">
              <input ng-required="true" name="sort_order" type="number" ng-model="gfsCodeToCreate.sort_order"
                     class="form-control">
            </div>
          </div>
          <!--<div class="form-group">
              <label class="control-label col-sm-3" >
                  <span translate="LABEL_FUND_SOURCE"></span>
              </label>
              <div class="col-sm-9">
                  <select class="form-control"
                          ng-model="gfsCodeToCreate.fund_source_id"
                          name="fund_source_id"
                          ng-options="gfsc.id as gfsc.name for gfsc in fundSources">
                  </select>
              </div>
          </div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>
  </div>
</div>
