<div id="modal_form_horizontal" style="display: block;" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close" >×</button>
        <h5 class="modal-title" translate="TITLE_MAP_GFS_CODE"></h5>
      </div>
      <form action="#" class="form-horizontal" name="createGfsCodeForm" novalidate>
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              {{errorMessage | translate}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" >
              <span translate="LABEL_GFS_CATEGORY"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control select-search1" ng-required="true"
                      ng-model="gfsCodeToCreate.gfs_code_category_id"
                      ng-change="loadSubs(gfsCodeToCreate.gfs_code_category_id)"
                      name="gfs_code_category_id"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeCategories">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" >
              <span translate="GFS_SUB_CATEGORY"></span>
            </label>
            <div class="col-sm-9">
              <select class="form-control"
                      ng-model="gfsCodeToCreate.gfs_code_sub_category_id"
                      name="gfs_code_sub_category_id" ng-required="true"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeSubCategories">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="createGfsCodeForm.gfs_code_sub_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" translate="LABEL_GFSCODE"></label>
            <div class="col-sm-9">
              <select ui-select2 multiple ng-required="true" ng-model="gfsCodeToCreate.gfsCodeId"
                      ng-options="r.id as r.description for r in gfscodes.data" name="gfscodes"
                      class="form-control">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger"
                      ng-show="gfsCodeToCreate.gfsCodeId.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>

            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>
  </div>
</div>
