<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="UPDATE_GFS_CODE"></h5>
      </div>
      <form action="#" class="form-horizontal" name="updateGfsCodeForm" novalidate>
        <div class="modal-body">
          <div ng-show="errorMessage" class="col-md-12">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
              {{ errorMessage | translate }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label translate="LABEL_NAME"></label>
              <input ng-required="true" autocomplete="off" name="name" type="text" ng-model="gfsCodeToEdit.name"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateGfsCodeForm.name.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label translate="LABEL_CODE"></label>
              <input ng-required="true" autocomplete="off" name="code" type="text" ng-model="gfsCodeToEdit.code"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateGfsCodeForm.code.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label translate="LABEL_DESCRIPTION"></label>
              <input ng-required="true" name="description" type="text" ng-model="gfsCodeToEdit.description"
                     placeholder="" class="form-control">
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateGfsCodeForm.description.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label>
                <span translate="LABEL_ACCOUNT_TYPE"></span>
              </label>
              <select class="form-control"
                      ng-model="gfsCodeToEdit.account_type_id"
                      name="account_type_id"
                      ng-required="true"
                      ng-options="gfsc.id as gfsc.name for gfsc in accountTypes">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateGfsCodeForm.account_type_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label translate="IS_PROCUREMENT"></label>
              <label class="radio-inline radio-right">
                <input type="radio" ng-checked="gfsCodeToEdit.is_procurement === true"
                       ng-model="gfsCodeToEdit.is_procurement" name="is_procurement" class="styled" ng-value="true">
                Yes
              </label>
              <label class="radio-inline radio-right">
                <input type="radio" ng-checked="gfsCodeToEdit.is_procurement === false"
                       ng-model="gfsCodeToEdit.is_procurement" name="is_procurement" class="styled" ng-value="false">
                No
              </label>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger" ng-show="updateGfsCodeForm.is_procurement.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="gfsCodeToEdit.is_procurement === true">
            <div class="col-sm-12">
              <label>
                <span>Procurement type</span>
              </label>
              <select class="form-control select-search1"
                      ng-model="gfsCodeToEdit.procurement_type_id"
                      name="procurement_type_id"
                      ng-required="false"
                      ng-options="gfsc.id as gfsc.name for gfsc in procurement_types">
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label>
                <span>Category: <strong>{{ gfsCodeToEdit.gfs_code_sub_category.gfs_code_category.name }}</strong></span>
              </label>
              <select class="form-control"
                      ng-model="gfsCodeToEdit.gfs_code_category_id"
                      ng-change="loadSubs(gfsCodeToEdit.gfs_code_category_id)"
                      name="gfs_code_category_id"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeCategories">
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label>
                <span>Sub-Category: <strong>{{ gfsCodeToEdit.gfs_code_sub_category.name }}</strong></span>
              </label>
              <select class="form-control"
                      ng-model="gfsCodeToEdit.gfs_code_sub_category_id"
                      name="gfs_code_sub_category_id" ng-required="true"
                      ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeSubCategories">
              </select>
              <div ng-show="formHasErrors">
                <span class="help-block text-danger"
                      ng-show="updateGfsCodeForm.gfs_code_sub_category_id.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-12">
              <label>Position</label>
              <input ng-required="true" name="sort_order" type="number" ng-model="gfsCodeToEdit.sort_order"
                     class="form-control">
            </div>
          </div>

          <!--<div class="form-group">
              <label class="control-label col-sm-3" >
                  <span translate="LABEL_FUND_SOURCE"></span>
              </label>
              <div class="col-sm-9">
                  <select class="form-control"
                          ng-model="gfsCodeToEdit.fund_source_id"
                          name="fund_source_id"
                          ng-options="gfsc.id as gfsc.name for gfsc in fundSources">
                  </select>
              </div>
          </div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
          <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
        </div>
      </form>
    </div>
  </div>
</div>
