<breadcrumb title="{{ifrstitle}}" print-section></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group ">
                        <span class="input-group-addon btn-search">
                            <i class="icon-users"></i></span>
          <input ng-model="searchQuery" type="text" class="form-control" placeholder="Search Gfscode">
          <span class="input-group-btn">
                        <button  class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
        </div>
      </div>
      <div class="col-md-8">
        <button href class="btn btn-success pull-right create-btn" ng-click="createmapping()" >
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span translate="BTN_CREATE"></span>
        </button>
      </div>
    </div>
    <table class="table table-bordered table-responsive table-striped">
      <thead class ="bg-teal-400">
      <tr>
        <th>No.</th>
        <th translate="TH_NAME"></th>
        <th translate="TH_GFSCODE"></th>
        <th translate="TH_ACTION"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat=" item in mappedgfscodes.data| orderBy:'-name' | filter:searchQuery">
        <td>{{$index + 1}}</td>
        <td>{{item.sub_cat}}</td>
<!--        <td>{{gfsCodeSubCategory.slug}}</td>-->
        <td>
          {{item.gfs_code_name}}
<!--          <ul>-->
<!--            <li ng-repeat="p in role.permissions">{{p}}</li>-->
<!--          </ul>-->
        </td>
        <td nowrap="nowrap">
          <a href class="btn btn-primary" ng-click="editMapping()">Edit</a>
          <a href class="btn btn-danger" ng-click="deletemapping(item.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>
    <div class="row">
      <div class="col-md-10">
        <ul uib-pagination total-items="mappedgfscodes.total" max-size="maxSize" class="pagination-sm pull-left"
            boundary-links="true" num-pages="numPages" items-per-page="mappedgfscodes.per_page"
            ng-model="currentPage"
            ng-change="ifrspageChange()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ mappedgfscodes.total }}"
                     perPage="{{ mappedgfscodes.per_page }}"></total-pages>
      </div>
      <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="ifrspageChange()"></per-page>
      </div>
    </div>
  </div>
</div>
