<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="activateMessage" class="col-md-12">
        <div class="alert alert-styled-left alert-arrow-left alert-bordered"
             ng-class="{'alert-success':gfsCodeToActivate.is_active,'alert-warning':!gfsCodeToActivate.is_active}">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{activateMessage | translate}}
        </div>
    </div>

    <div ng-show="activateMessageProcurement" class="col-md-12">
        <div class="alert alert-styled-left alert-arrow-left alert-bordered"
             ng-class="{'alert-success':gfsCodeToActivate.is_procurement,'alert-warning':!gfsCodeToActivate.is_procurement}">
            <button type="button" class="close" ng-click="activateMessage=undefined"><span>×</span><span
                    class="sr-only">Close</span></button>
            {{activateMessageProcurement | translate}}
        </div>
    </div>

    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showUploadForm===true">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <p class="text-info">The <a href="/download/GFS_CODES.xlsx"><span style="text-decoration: underline">Excel</span></a> file sheet
                        should be named <strong>GFS_CODES</strong></p>
                    <p class="text-info"><strong>name</strong> & <strong>code</strong> should the column headers of the excel file to be uploaded</p>
                </div>
                <div ng-show="errorRows" class="row">
                    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                        <button type="button" class="close" ng-click="errorRows=undefined"><span>×</span><span class="sr-only">Close</span>
                        </button>
                       Rows with errors: {{errorRows}}
                    </div>
                </div>
                <div class="row">
                    <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="LABEL_ACCOUNT_TYPE"></span>
                                </label>
                                <select class="form-control select-search1" ng-model="account_type_id"
                                        name="account_type_id">
                                    <option ng-repeat="accountType in accountTypes" value="{{accountType.id}}">
                                        {{accountType.name}}
                                    </option>
                                </select>
                                <i ng-show="myForm.account_type_id.$error.required">*required</i>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="LABEL_GFS_CATEGORY"></span>
                                </label>
                                <select class="form-control select-search2"
                                        ng-model="gfs_code_category_id"
                                        ng-change="loadSubCats(gfs_code_category_id)"
                                        name="gfs_code_category_id">
                                    <option ng-repeat="gfsCategory in gfsCategories" value="{{gfsCategory.id}}">
                                        {{gfsCategory.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <span translate="GFS_SUB_CATEGORY"></span>
                                </label>
                                <select class="form-control"
                                        ng-model="gfs_code_sub_category_id"
                                        name="gfs_code_sub_category_id" ng-required="true"
                                        ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeSubCategories">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="FUND_SOURCE_OPTIONAL"></span>
                                </label>
                                <select class="form-control select-search1" ng-model="fund_source_id"
                                        name="fund_source_id">
                                    <option ng-repeat="fundSource in fundSources" value="{{fundSource.id}}">
                                        {{fundSource.name}}
                                    </option>
                                </select>
                                <i ng-show="myForm.fund_source_id.$error.required">*required</i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>
                                    <span translate="LABEL_EXCEL_FILE"></span>
                                </label>
                                <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                                       data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                                       accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                                       required ngf-model-invalid="errorFile"/>
                                <i ng-show="myForm.file.$error.maxSize">File too large
                                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                        ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                                </button>
                                <button type="button" class="btn btn-warning"
                                        ng-click="toggleUploadForm(false)"><i class="fa fa-close"></i> Close
                                </button>
                                <!--<span ng-show="excelFile.result" class="alert alert-success">Upload Successful</span>
                                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchText" ng-change = "search(searchText)" placeholder="Search ...">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="col-md-6" ng-show="showButtons===true">
                <div class="heading-btn pull-left">
                    <button class="btn btn-primary" ng-click="toggleUploadForm(true)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_UPLOAD"></span>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <a href="/files/gfs-codes/export" class="btn btn-success">
                        <i class="fa fa-file-excel-o"></i>
                        <span translate="BTN_EXPORT"></span>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_CODE"></th>
                            <th translate="TH_NAME"></th>
                           <!-- <th translate="TH_FUND_SOURCE"></th>-->
                            <th translate="TH_IS_PROCUREMENT"></th>
                            <th translate="TH_IS_ACTIVE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values1) in gfsCodes.data | groupBy:'account_type.name'">
                            <td colspan="7" style="background-color: #9ca2a7; color: black; font: bold;">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(p,values) in values1 | groupBy:'gfs_code_sub_category.name'">
                            <td colspan="7" class="bg-teal-400">{{p}}</td>
                        </tr>
                        <tr ng-repeat-end  ng-repeat="gfsCode in values">
                            <td>{{$index + 1}}</td>
                            <td>{{gfsCode.code}}</td>
                            <td>{{gfsCode.name}}</td>
                            <!--<td>{{gfsCode.fund_source.name}}</td>-->
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="gfsCode.is_procurement"
                                           ng-model="gfsCode.is_procurement"
                                           ng-change="activateIsProcurement(gfsCode.id, gfsCode.is_procurement,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="gfsCode.is_active" ng-model="gfsCode.is_active"
                                           ng-change="activateGfsCode(gfsCode.id, gfsCode.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-success" ng-click="costCentres(gfsCode)">
                                    <i class="fa fa-list"></i>
                                    <span translate="COST_CENTRES"></span>
                                </a>
                                <a href class="btn btn-primary" ng-click="edit(gfsCode,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(gfsCode.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10" ng-show="gfsCodes.total > gfsCodes.per_page">
                <ul uib-pagination total-items="gfsCodes.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="gfsCodes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ gfsCodes.total }}"
                             perPage="{{ gfsCodes.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
