<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
    <div layout="row">
        <div layout="column" flex = 50>
            <md-input-container>
                <label>Financial System</label>
                <md-select aria-label="system_code" ng-model="system_code" >
                    <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="column">
            <md-dialog-actions>
                <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 3 || system_code == undefined)"
                           class="md-raised md-primary"
                           ng-click="loadExportedTransactions()">Submit</md-button>
            </md-dialog-actions>
        </div>

    </div>
</div>

<div class="row" ng-show="show_exported_data == true">
    <div class="col-md-4">
        <input type="text" class="form-control" ng-model="search" placeholder="Search....."
                />
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" >
                <thead class="bg-teal-400">
                <tr>
                    <th translate="CHART_OF_ACCOUNT"></th>
                    <th translate="AMOUNT"></th>
                    <th translate="FINANCIAL_SYSTEM"></th>
                    <th translate="DATE_EXPORTED"></th>
                    <th translate="BUDGET_TYPE"></th>
                    <th translate="IS_DELIVERED"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in exportData | filter:search">
                    <td>{{ item.chart_of_accounts }}</td>
                    <td align="right">{{ item.amount| currency:'' }} </td>
                    <td>{{ item.financial_system_code }}</td>
                    <td>{{ item.date_exported }}</td>
                    <td>{{ item.budget_type }}</td>
                    <td>{{ item.is_delivered }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>