<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Multiple buttons -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                   <h3></h3>
                </span>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" ng-disabled="printoutNode.currentNode === undefined" href
                                class="btn btn-success" ng-click="generate(printoutNode.currentNode)"
                                translate="BTN_GENERATE"></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <input class="form-control" ng-model='printoutNodeSearchQuery' type="text"
                           placeholder="Search in tree..."/>
                </div>
                <br />
                <div class="row">
                    <div data-angular-treeview="true"
                         data-tree-id="printoutNode"
                         data-tree-model="printouts"
                         data-node-id="id"
                         data-node-label="name"
                         data-node-children="child_reports"
                         data-search-query='printoutNodeSearchQuery'
                         data-sort-order="name">
                    </div>
                </div>
            </div>
        </div>
        <!-- /multiple button -->
    </div>
</div>