<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_RESPONSIBLE_PERSON"></h5>
            </div>
            <form action="#" class="form-horizontal" name="createResponsiblePersonForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="FIRST_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="first_name" type="text" ng-model="responsiblePersonToCreate.first_name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createResponsiblePersonForm.first_name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LAST_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="last_name" type="text" ng-model="responsiblePersonToCreate.last_name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createResponsiblePersonForm.last_name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="TITLE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="title" type="text" ng-model="responsiblePersonToCreate.title"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createResponsiblePersonForm.title.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_MOBILE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="mobile" type="text" ng-model="responsiblePersonToCreate.mobile" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createResponsiblePersonForm.mobile.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_EMAIL"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="email" type="email" ng-model="responsiblePersonToCreate.email" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createResponsiblePersonForm.email.$error.email" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CHEQUE_NUMBER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="cheque_number" type="text" ng-model="responsiblePersonToCreate.cheque_number"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                      ng-show="createResponsiblePersonForm.cheque_number.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_SECTION_LEVEL"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search1"
                                    ng-model="responsiblePersonToCreate.section_level_id"
                                    ng-change="loadSections(responsiblePersonToCreate.section_level_id)"
                                    name="budget_class_id"
                                    ng-options="item.id as item.name for item in sectionLevels">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="SECTION"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="responsiblePersonToCreate.section_id"
                                    name="section_id"
                                    ng-options="item.id as item.name for item in sections">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>