<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="activateMessage" class="col-md-12">
        <div  class="alert alert-styled-left alert-arrow-left alert-bordered" ng-class="{'alert-success':responsiblePersonToActivate.is_active,'alert-warning':!responsiblePersonToActivate.is_active}">
            <button type="button" class="close" ng-click="activateMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{activateMessage | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" >
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="NAME"></th>
                            <th translate="TITLE"></th>
                            <th translate="USERNAME"></th>
                            <th translate="TH_EMAIL"></th>
                            <th translate="MOBILE"></th>
                            <th translate="CHEQUE_NUMBER"></th>
                            <th translate="ACTIONS"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(a, aUsers) in responsiblePersons | groupBy:'admin_hierarchy.name'">
                            <td colspan="9" style="background-color: #9ca2a7; color: #000; font: bolder;">{{a}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,sUsers) in aUsers | groupBy:'section.name'">
                            <td colspan="9" style="background: #F5F5F5"><strong>{{s}}({{sUsers[0].section.section_level.name}})</strong></td>
                        </tr>
                        <tr ng-repeat-end="" ng-repeat="user in sUsers">
                            <td>{{::$index + 1}}</td>
                            <td>{{::user.first_name}} {{::user.last_name}}</td>
                            <td>{{::user.title}}</td>
                            <td>{{::user.user_name}}</td>
                            <td>{{::user.email}}</td>
                            <td>{{::user.mobile}}</td>
                            <td>{{::user.cheque_number}}</td>
                            <td nowrap="nowrap">
                                <button type="button" class="btn btn-info" ng-click="edit(user,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger" ng-if="!user.is_superuser" ng-click="delete(user.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="responsiblePersons.total > responsiblePersons.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="responsiblePersons.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="responsiblePersons.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ responsiblePersons.total }}" perPage="{{ responsiblePersons.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>