.login-content {
  min-width: 60%;
  width: 480px;
}

.login-container {
  background: #263238;
}

.login-container label {
  font-size: 1.4em
}

.login-wrapper {
  background: #ccc;
}

.md-button.login-button {
  background-color: rgb(57, 131, 233) !important;
  color: white !important;
  font-weight: bold;
  width: 92% !important;
  margin:auto;
}
.input-group-addon{
  color: rgb(57, 131, 233);
  background-color:transparent;
}
.input-container{
  width: 100% !important;
}
.input-form-group{
  padding:5px;
}
.input-form-group .input-group{
  margin: 10px;
}
.login-form {
  width: 100% !important;
  text-align: center;
}
.carousel-container{
  width: 100%;
  height: 100%
}
.new-login-container{
  width:50%;
  overflow: auto;
  border-radius: 5px;
  margin: auto;
  padding:1em;
  /* background-color: whitesmoke; */

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: inset 0 0 5px #888;
  background-color:#FCFAF9;
}
.carousel-inner .item{
  height: 350px !important;
}
.carousel-inner .item img{
  width: 100%;
  height: 100%;
}
.carousel-inner .item p{
 color: rgb(11, 9, 9) !important;
  font-weight: 500;
}
.carousel-indicators{
  bottom: 0;
}
.carousel-caption{
  bottom: 0;
}
.carousel-inner .item img,.carousel-inner .item,.carousel-inner,.carousel{
  border-radius:5px !important;
}
.login-html{
  /* background-image: url("/assets/images/flag_login.png");
  background-size: cover; */
  background-color:#FCFAF9;
  overflow:auto;
  padding:0.5em;
}
.new-body{
  background-color: transparent;
  overflow: auto;
  position: relative;
  padding:1em;
}
.log-container{
  width: 100%;
  overflow: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-header{
  width: 100%;
  /* padding:1em; */
  text-align: center;
  margin:0px;
}
.login-header h2,h3{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight:600;
  font-size:18px;
  margin:12px;
  color: black;
}
.login-header h3{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight:400;
}
.ads{
  width: 50%;
  float: left;
  height:85%;
  margin-bottom: 3px;
}
.login-form-new{
  width: 50% ;
  height:85%;
  float: left;
  margin: auto;
  padding:0.5em;
  /* margin-bottom: 18px; */
}
.login-footer{
  width:100%;
  height:15%;
  background-color:white;
  float: center;
  /* border-top:3px solid rgba(39, 62, 56,0.6); */
  text-align:center;
}
.login-footer p{
 margin:2px;
}
.login-button{
  width:100% !important;
  bottom: 0 !important;
}
.logo-image{
  width:150px;
  height:150px;
  margin:auto;
  margin-top:1em;
  border-radius: 50%;
}
.logo-image img{
  width:100%;
  height:100%;
}
.login-text{
  width:100%;
  overflow: auto;
  padding:1px;
  text-align: center;
}
.login-text h2{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgb(57, 131, 233);
}
@media only screen and (max-width: 700px) {
  .ads ,.login-form-new{
    width: 100% !important;
  }
  .new-body{
    padding:1em;
  }

}
@media only screen and (max-width: 900px) {
  .new-body{
    padding:1em;
  }
  .new-login-container{
    width:95%;
  }
  .log-container{
      margin-top:10em;
  }
}
