<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_SELECT_OPTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSelectOptionForm" novalidate>
                <div class="modal-body">

                  <div ng-show="errorMessage" class="col-md-12">
                    <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                      <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                      {{errorMessage | translate}}
                    </div>
                  </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="optionToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSelectOptionForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_GROUP"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="optionToCreate.parent_id"
                                    ng-options="item.id as item.name for item in selectionGroup"
                                    class="form-control select-search1"
                            >
                                <option value="" selected >--select--</option>
                            </select>
<!--                            <div ng-show="formHasErrors">-->
<!--                                <span class="help-block text-danger" ng-show="createSelectOptionForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
