<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Multiple buttons -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">Budget Submission Forms Select Options</h6>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" href class="btn btn-success" ng-click="create(options)" translate="BTN_CREATE"></button>&nbsp;&nbsp;
                        <button type="button" href class="btn btn-info" ng-disabled="optionNode.currentNode === undefined" ng-click="edit(optionNode.currentNode,options)" translate="EDIT_ACTION"></button>
                        <button type="button" href class="btn btn-danger" ng-disabled="optionNode.currentNode === undefined" ng-click="delete(optionNode.currentNode.id)" translate="DELETE_ACTION"></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control"  ng-model='optionNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div data-angular-treeview="true"
                             data-tree-id="optionNode"
                             data-tree-model="options"
                             data-node-id="id"
                             data-node-label="name"
                             data-node-children="children"
                             data-search-query='optionNodeSearchQuery'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /multiple button -->
    </div>
</div>
