<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            Access Denied! you are not Authorized (Be careful, We are watching you!!)
        </div>
    </div>
</div>