<div class="content-group border-top-lg border-top-info" style="margin-bottom:0px !important;">
    <div class="page-header page-header-default" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                     <span class="text-semibold" translate="{{title}}"></span>
                    <a title="Expand" onclick="$('a.sidebar-main-toggle').trigger('click');"><i class="fa fa-arrows-alt pull-right text-info" aria-hidden="true"></i></a>
                </h5>
            </div>
        </div>
    </div>
</div>