<div >
    <pr-progress></pr-progress>
    <div class="content-group" >
        <div class="page-header page-header-default" >
            <div class="page-header-content">
                <div class="page-title">
                    <h5>
                        <span class="text-semibold" >{{title | translate}}&nbsp;Loading....</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>