<div class="modal-header bg-teal-400">
    <h3 class="modal-title">{{title |translate}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span>{{message | translate}}</span>
                    <br/>
                </div>

                <div class="col-md-12" ng-repeat="t in decisionLevels">
                  <input id="to-Dec_{{$index}}"    ng-value="t.id" type="radio" ng-model="$parent.toDecisionLevelId" name="to-Dec" />
                  <label for="to-Dec_{{$index}}" style="padding:2px 4px;border-radius:4px" ng-class="{'bg-info':($parent.toDecisionLevelId == t.id)}" >{{t.name}}</label>

                </div>
            </div>
             <br/>
            <div class="row" >
                <form name="commentForm">
                    <div class="col-md-12">
                        <label for="comments" translate="LABEL_COMMENTS"></label>
                        <textarea rows="10" id="comments" ng-model="comments" ng-init="comments =''"  class="form-control" ng-required="true" name="comments" >

                        </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="commentForm.comments.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" data-ng-click="ok(); $event.stopPropagation()" >
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <span translate="BTN_YES"></span>
    </button>
    <button type="button" class="btn btn-warning" data-ng-click="cancel(); $event.stopPropagation()" >
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <span translate="BTN_NO"></span>
    </button>
</div>
