<div
  class="content login-container"
  layout="row"
  layout-align="center center"
  ng-controller="ChangePasswordController"
>
  <form novalidate name="changePasswordForm" class="login-form">
    <pr-progress ng-show="disableSignInButton"></pr-progress>
    <md-content
      class="login-content panel-body md-whiteframe-z2"
      layout-padding
      layout="column"
    >
      <div class="text-center">
        <div class="icon-object border-slate-300 text-slate-300">
          <img src="/assets/images/pccb-logo.png" width="60" alt="" />
        </div>
        <div class="alert alert-warning">
          <p>
            {{'PLEASE_CHANGE_DEFAULT_PASSWORD'|translate}}
            <small class="display-block"
              >{{'ENTER_NEW_PASSWORD'|translate}}</small
            >
          </p>
        </div>
      </div>
      <div ng-show="formHasErrors">
        <span
          class="help-block text-danger"
          ng-show="changePasswordForm.confirmPassword.$error.pattern"
          >Password don't match</span
        >
        <span
          class="help-block text-danger"
          ng-show="changePasswordForm.newPassword.$error.pattern"
        >
           Password must be
          <ul>
            <li>Minimum eight(8) in length</li>
            <li>At least one upper case,one lower case and one digit</li>
            <li>At least one special character</li>
          </ul>
        </span>
      </div>

      <md-input-container>
        <label>{{'New Password' | translate }}</label>
        <input
          type="password"
          name="newPassword"
          ng-pattern="regex"
          ng-model="newPassword"
          ng-disabled="disableSignInButton"
          ng-required="true"
        />
      </md-input-container>
      <md-input-container>
        <label>{{'Confirm Password' | translate }}</label>
        <input
          type="password"
          name="confirmPassword"
          ng-pattern="newPassword"
          ng-model="confirmPassword"
          ng-disabled="disableSignInButton"
          ng-required="true"
        />
      </md-input-container>

      <button
        ng-click="changePassword()"
        type="button"
        id="change-password-button"
        style="background-color: #12A3DD;"
        >Change</button
      >
    </md-content>
  </form>
</div>
