<div class="modal-header bg-teal-400">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <tr class="bg-teal-400">
                    <td>Comment</td>
                    <td>Commented By</td>
                    <td>Addressed</td>
                    <td>Address Comment</td>
                    <td>Action</td>
                </tr>
                <tr ng-repeat="c in comments">
                    <td>{{c.comments}}</td>
                    <td>{{c.commented_by}}</td>
                    <td>
                        <i ng-if="!c.addressed" class="fa fa-times" style="color:firebrick"></i>
                        <i ng-if="c.addressed" style="color:green" class="fa fa-check color-success"></i>
                    </td>
                    <td>
                        <input ng-disabled="c.addressed" class="form-control" ng-model="c.address_comments" />
                    </td>
                    <td>
                        <button ng-disabled="c.isLoading" ng-if="!c.addressed" ng-click="address(c)" class="btn btn-success">Address</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-ng-click="cancel(); $event.stopPropagation()">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <span translate="BTN_CLOSE"></span>
    </button>
</div>
