<div class="modal-header bg-danger-400">
    <h3 class="modal-title">{{title |translate}}</h3>
</div>
<div class="modal-body">
    {{message | translate}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning btn-warn" data-ng-click="ok(); $event.stopPropagation()" >
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <span translate="BTN_YES"></span>
    </button>
    <button type="button" class="btn btn-primary" data-ng-click="cancel(); $event.stopPropagation()" >
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <span translate="BTN_NO"></span>
    </button>
</div>