<di layout="row" layout-align="center">
    <form novalidate name="changePasswordForm">
        <pr-progress ng-show="disableSignInButton"></pr-progress>
        <md-content class="login-content panel-body md-whiteframe-z2" layout-padding layout="column">
            <div class="text-center">
                <!-- <div class="icon-object border-slate-300 text-slate-300">
                    <img src="/assets/images/coat_of_arms.png" width="60" alt="">
                </div> -->
                <div class="alert alert-warning">
                    <p>{{'PLEASE_CHANGE_DEFAULT_PASSWORD'|translate}}
                        <b> <small class="display-block">{{'ENTER_NEW_PASSWORD'|translate}}</small></b></p>
                </div>
            </div>
            <div ng-show="errorMessage" class="col-md-12">
                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                        <span>×</span><span class="sr-only">Close</span></button>
                    {{errorMessage | translate}}
                </div>
            </div>
            <div ng-show="successMessage" class="col-md-12">
                <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert">
                        <span>×</span><span class="sr-only">Close</span></button>
                    {{successMessage | translate}}
                </div>
            </div>
            
            <div ng-show="changePasswordForm.newUserPassword.$error.pattern">
                <span class="help-block text-danger"
                    ng-show="changePasswordForm.confirmPassword.$error.pattern">Password don't match</span>
                <span class="help-block text-danger" ng-show="changePasswordForm.newUserPassword.$error.pattern">
                    <b><u>Password must be</u></b>
                    <ul>
                        <li>Minimum eight(8) in length</li>
                        <li>At least one upper case,one lower case and one digit</li>
                        <li>At least one special character</li>
                    </ul>
                </span>
            </div>

            <md-input-container>
                <label>{{'New Password' | translate }}</label>
                <input type="password" name="newUserPassword" ng-pattern="regex"
                    ng-model="passwordToResetForm.newUserPassword" ng-disabled="disableSignInButton"
                    ng-required="true" />
                <span class="help-block text-danger" ng-show="changePasswordForm.newUserPassword.$error.required">New
                    Password is required</span>
                <span class="help-block text-danger" ng-show="changePasswordForm.newUserPassword.$error.pattern">Must
                    contains both numbers and letters</span>
            </md-input-container>
            <md-input-container>
                <label>{{'Confirm Password' | translate }}</label>
                <input type="password" name="confirmPassword" ng-pattern="regex"
                    ng-model="passwordToResetForm.confirmPassword" ng-disabled="disableSignInButton"
                    ng-required="true" />
            </md-input-container>


            <md-button ng-click="changePassword()" type="button" id="change-password-button"
                style="background-color: #12a3dd;" ng-disabled="disableSignInButton">Change
            </md-button>
            <br />
            <div ng-click="logout()" class="sign-out-link" ng-show="!disableSignInButton"><a href="#">Sign out</a>
            </div>


        </md-content>
    </form>
    </div>