<div class="content login-container flexContainer" layout-align="center" ng-controller="LoginController">
  <form ng-submit="doLogin()" novalidate name="loginForm" class="login-session">
    <pr-progress ng-show="disableSignInButton"></pr-progress>
    <md-content  class="login-content panel-body md-whiteframe-z2" layout-padding layout="column">
      <div class="text-center">
        <div class="icon-object border-slate-300 text-slate-300">
          <img src="/assets/images/pccb-logo.png" width="60" alt="">
        </div>
        <h5 class="content-group">{{'SESSION_TIME_OUT'|translate}}</h5>
      </div>
      <div ng-show="loginError" style="text-align: center;">
        <span class="help-block text-danger">{{loginError|translate}}</span>
      </div>
      <div class="input-form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </span>
          <input type="text" class="form-control" aria-label="Username" placeholder="Username"
                 ng-model="user_name" name="user_name" ng-disabled="disableSignInButton" ng-required="true">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          </span>
          <input type="password"  class="form-control" aria-label="Password" placeholder="Password"
                 name="password" ng-model="password" ng-disabled="disableSignInButton" ng-required="true">
        </div>
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <br>
      </div>
      <md-button ng-disabled="loginForm.$invalid || disableSignInButton" type="submit" id="login-button" class="login-button md-raised ">Login</md-button>
    </md-content>
  </form>
</div>





