
<!-- <div class="login-header">
  <h2>THE UNITED REPUBLIC OF TANZANIA</h2>
  <h3>PLANNING AND REPORTING SYSTEM (PLANREP)</h3>
</div> -->

<div class="new-login-container" ng-controller="LoginController">
  <div class="ads">
    <!-- image slide -->
    <!-- Carousel container -->
    <div id="ads" class="carousel slide" data-ride="carousel" class="carousel-container">

      <!-- Content -->
      <div class="carousel-inner" role="listbox" >

        <!-- Slide -->
        <div  ng-repeat="item in advertisements.items" ng-value="{{$index}}"  class="{{ $index == 0 ?'active item':'item'}}" >
          <img src="{{ '/' + item.ad_url }}" alt="PlanRep Ads">
          <div class="carousel-caption">
            <p>{{ item.description  }}</p>
          </div>
        </div>

        <!-- <div   class="active item" >
          <img src="./assets/images/gawio.jpg" alt="PlanRep Ads">
          <div class="carousel-caption">
            <p>Agizo la Rais, Dkt John Magufuli la kuzitaka taasisi, kampuni na mashirika ya umma kuwa yametoa gawio.</p>
          </div>
        </div> -->
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#ads"  ng-repeat="item in advertisements.items" ng-value="{{$index}}"  data-slide-to="{{ $index }}"  class="{{ $index == 0 ?'active':''}}" ></li>
      </ol>
      <!-- Previous/Next controls -->
      <a class="left carousel-control" href="#ads" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#ads" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- end Image slider -->
  </div>
  <div class="login-form-new">
    <div class="logo-image">
      <img src="/assets/images/pccb-logo.png">
    </div>
    <div class="login-header">
      <!-- <h2>THE UNITED REPUBLIC OF TANZANIA</h2> -->
      <h3>Planning and Reporting System (PLANREP)</h3>
    </div>
    <!-- <div class="login-text">
      <h2>LOGIN TO YOUR ACCOUNT</h2>
      <p style="margin-bottom:2.5em">Enter your login credentials below</p>
    </div> -->
    <form ng-submit="doLogin()" novalidate name="loginForm" class="login-form">
      <div ng-show="loginError">
        <span class="help-block text-danger">{{loginError|translate}}</span>
      </div>
      <div class="input-form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </span>
          <input type="text" class="form-control" aria-label="Username" placeholder="Username"
                 ng-model="user_name" name="user_name" ng-disabled="disableSignInButton" ng-required="true">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          </span>
          <input type="password"  class="form-control" aria-label="Password" placeholder="Password"
                 name="password" ng-model="password" ng-disabled="disableSignInButton" ng-required="true">
        </div>
      </div>
      <md-button ng-disabled="loginForm.$invalid || disableSignInButton" type="submit" id="login-button" class="login-button md-raised ">Login</md-button>
    </form>
  </div>

  <div class="login-footer">
    <!-- <p>For any Technical inquiry, Please contact your ICT Support Team</p> -->
    <p>Copyright ©2024 <a href="http://pccb.go.tz/" target="_blank">PCCB</a></p>
  </div>
</div>
<?php date('Y');>
