<div style="width:auto" >
    <div class="input-group">
        <div style="background: #fff" class="input-group-addon per-page" translate="SHOW" >

        </div>
        <select style="background: #fff" name="optionPerPage" class="form-control per-page"
                ng-model="perPageNumber"
                ng-change="perPageNumberChange(perPageNumber)"
                ng-options="perPageOption for perPageOption in perPageOptions">
        </select>
    </div>
</div>