<div class="modal-header bg-teal-400">
    <h3 class="modal-title">{{title |translate}}</h3>
</div>
<div class="modal-body" >
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                 <span>{{message | translate}}</span><span class="label label-info">{{to}}</span>
            </div>
             <br/>
            <div class="row">
                <form name="commentForm">
                    <div class="col-md-12" >
                        <label translate="LABEL_RECOMMENDATION"></label><br/>
                            <input  name="recommendation" type="radio" ng-value="-1" ng-model="recommendation" >&nbsp;Return<br/>
                            <input name="recommendation"  type="radio" ng-value="1" ng-model="recommendation" >&nbsp;Passed
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="commentForm.recommendation.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button  type="button" class="btn btn-primary btn-warn" data-ng-disabled="recommendation ===undefined" data-ng-click="ok(); $event.stopPropagation()" >
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <span translate="BTN_YES"></span>
    </button>
    <button type="button" class="btn btn-warning" data-ng-click="cancel(); $event.stopPropagation()" >
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <span translate="BTN_NO"></span>
    </button>
</div>
