<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_TABLE_ROWS"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="action" class="col-md-12">
                        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
                            </button>
                            {{action | translate}}
                        </div>
                    </div>
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
                            </button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="viewItems">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <a href class="btn btn-success pull-right create-btn" ng-click="addItem()">
                                        <i class="fa fa-plus"></i>
                                        <span translate="BTN_CREATE"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <!--The user interface which will be displayed when the page has been initially loaded starts here-->
                            <div class="row">
                                <div class="col-md-2">
                                    <per-page ng-model="perPage" ng-change="pageItemChanged()"></per-page>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-teal-400">
                                            <tr>
                                                <th>No.</th>
                                                <th translate="CODE"></th>
                                                <th translate="DESCRIPTION"></th>
                                                <th translate="PARENT"></th>
                                                <th translate="MIN_VALUE"></th>
                                                <th translate="MAX_VALUE"></th>
                                                <th translate="SORT_ORDER"></th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="planTableItem in planTableItems.data | orderBy:'sort_order'">
                                                <td>{{$index + 1}}</td>
                                                <td>{{planTableItem.code}}</td>
                                                <td>{{planTableItem.description}}</td>
                                                <td>{{planTableItem.parent.description}}</td>
                                                <td>{{planTableItem.min_value}}</td>
                                                <td>{{planTableItem.max_value}}</td>
                                                <td>{{planTableItem.sort_order}}</td>
                                                <td nowrap="nowrap">
                                                    <a href class="btn btn-info" ng-click="updateItem(planTableItem,currentPage,perPage)">
                                                        <i class="fa fa-edit"></i>
                                                        <span translate="EDIT_ACTION"></span>
                                                    </a>
                                                    <a href class="btn btn-danger" ng-click="deleteRow(planTableItem.id,currentPage,perPage)">
                                                        <i class="fa fa-remove"></i>
                                                        <span translate="DELETE_ACTION"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row" ng-show="planTableItems.total > planTableItems.per_page">
                                <div class="col-md-12">
                                    <ul uib-pagination total-items="planTableItems.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="planTableItems.per_page"
                                        ng-model="currentPage"
                                        ng-change="pageItemChanged()">
                                    </ul>
                                    <total-pages currentPage="{{currentPage}}" totalItems="{{ planTableItems.total }}" perPage="{{ planTableItems.per_page }}"></total-pages>
                                </div>
                            </div>
                        </div>
                        <!--The user interface which will be displayed when the page has been initially loaded ends here-->

                    </div>
                </div>
                <div class="row" ng-show="createItem">
                    <form action="#" class="form-horizontal" name="createCasPlanTableItemForm" novalidate>
                      <div class="model-body">
                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                              <div class="col-sm-9">
                                  <input ng-required="true" name="code" type="text" ng-model="casPlanTableItemToCreate.code"
                                         placeholder=""
                                         class="form-control">
                                  <div ng-show="formHasErrors">
                                      <span class="help-block text-danger" ng-show="createCasPlanTableItemForm.code.$error.required">Code is required</span>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                              <div class="col-sm-9">
                                  <input ng-required="true" name="description" type="text" ng-model="casPlanTableItemToCreate.description"
                                         placeholder=""
                                         class="form-control">
                                  <div ng-show="formHasErrors">
                                      <span class="help-block text-danger" ng-show="createCasPlanTableItemForm.description.$error.required">Description is required</span>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="LABEL_PARENT"></label>
                              <div class="col-sm-9">
                                  <select ng-model="casPlanTableItemToCreate.cas_plan_table_item_id"
                                          name="cas_plan_table_item_id"
                                          class="form-control"
                                          ng-options="planTableItem.id as planTableItem.description for planTableItem in planTableItems.data" >
                                      <option value="">---Select Parent Row---</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="MIN_VALUE"></label>
                              <div class="col-sm-9">
                                  <input name="min_value" type="text" ng-model="casPlanTableItemToCreate.min_value"
                                         placeholder=""
                                         class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="MAX_VALUE"></label>
                              <div class="col-sm-9">
                                  <input name="max_value" type="text" ng-model="casPlanTableItemToCreate.max_value"
                                         placeholder=""
                                         class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                              <div class="col-sm-9">
                                  <input name="sort_order" type="number" ng-model="casPlanTableItemToCreate.sort_order"
                                         placeholder=""
                                         class="form-control">
                                  <div ng-show="formHasErrors">
                                      <span class="help-block text-danger" ng-show="createCasPlanTableItemForm.sort_order.$error.required">Description is required</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="back()" translate="BTN_CLOSE"></button>
                      </div>
                    </form>
                </div>
                <div class="row" ng-show="editItem">
                    <form action="#" class="form-horizontal" name="editCasPlanTableItemForm" novalidate>
                        <div class="model-body">
                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                                <div class="col-sm-9">
                                    <input ng-required="true" name="code" type="text" ng-model="casPlanTableItemToUpdate.code"
                                           placeholder=""
                                           class="form-control">
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="editCasPlanTableItemForm.code.$error.required">Code is required</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                                <div class="col-sm-9">
                                    <input ng-required="true" name="description" type="text" ng-model="casPlanTableItemToUpdate.description"
                                           placeholder=""
                                           class="form-control">
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="editCasPlanTableItemForm.description.$error.required">Description is required</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="LABEL_PARENT"></label>
                                <div class="col-sm-9">
                                    <select ng-model="casPlanTableItemToUpdate.cas_plan_table_item_id"
                                            name="cas_plan_table_item_id"
                                            class="form-control"
                                            ng-options="planTableItem.id as planTableItem.description for planTableItem in planTableItems.data " >
                                            <option value="">---Select Parent Row---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="MIN_VALUE"></label>
                                <div class="col-sm-9">
                                    <input name="min_value" type="text" ng-model="casPlanTableItemToUpdate.min_value"
                                           placeholder=""
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="MAX_VALUE"></label>
                                <div class="col-sm-9">
                                    <input name="max_value" type="text" ng-model="casPlanTableItemToUpdate.max_value"
                                           placeholder=""
                                           class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                                <div class="col-sm-9">
                                    <input name="sort_order" type="number" ng-model="casPlanTableItemToUpdate.sort_order"
                                           placeholder=""
                                           class="form-control">
                                    <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="editCasPlanTableItemForm.sort_order.$error.required">Description is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="updateRow()" translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="back()" translate="BTN_CLOSE"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>