<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon per-page">
                                Financial Year
                            </div>
                            <select class="form-control" name="financialYearId"
                                    ng-model="financialYear" ng-change="loadRegions(financialYear.id)"
                                    ng-options="item as item.name for item in financialYears">
                                <option value="" selected="selected">-Financial Year-</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="financialYear.id > 0">
                        <div class="input-group">
                            <div class="input-group-addon per-page">
                                Region
                            </div>
                            <select class="form-control" name="adminHierarchyId"
                                    ng-model="adminHierarchy" ng-change="loadItems(adminHierarchy.id)"
                                    ng-options="adminHierarchy as adminHierarchy.name for adminHierarchy in adminHierarchies">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"  ng-show=" items.total > 0">
                <div class="heading-btn pull-right">
                    <a href="/files/reports/consolidatedCdrDownload?financialYearId={{financialYearId}}&regionId={{adminHierarchy.id}}" target="_blank" class="btn btn-success">
                        <i class="fa fa-file-excel-o"></i>
                        <span translate="BTN_EXPORT"></span>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="FUND_SOURCE"></th>
                            <th translate="PROJECT"></th>
                            <th translate="ACTIVITY"></th>
                            <th translate="BUDGET_TYPE"></th>
                            <th translate="FACILITY"></th>
                            <th translate="LGA_LEVEL"></th>
                            <th translate="FACILITY_TYPE"></th>
                            <th translate="PROJECT_TYPE"></th>
                            <th translate="EXPENDITURE_CATEGORY"></th>
                            <th translate="QUARTER_IMPLENTED"></th>
                            <th translate="PROJECT_OUTPUT"></th>
                            <th translate="PLANNED_VALUE"></th>
                            <th translate="ACHIEVEMENT_VALUE"></th>
                            <th translate="ACTUAL_IMPLEMENTATION"></th>
                            <th translate="REMARKS"></th>
                            <th translate="BUDGET"></th>
                            <th translate="EXPENDITURE"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(re,regionArrayList) in items.data | groupBy:'region'">
                            <td colspan="18" class="bg-default">{{re}}</td>
                        </tr>
                        <tr ng-repeat-start="(co,councilArrayList) in regionArrayList | groupBy:'council'">
                            <td colspan="18" class="bg-info">{{co}}</td>
                        </tr>
                        <tr ng-repeat-start="(cc,departmentArrayList) in councilArrayList | groupBy:'department'">
                            <td colspan="18" class="bg-primary">{{cc}}</td>
                        </tr>
                        <tr ng-repeat-start="(cc,costCenterArrayList) in departmentArrayList | groupBy:'cost_center'">
                            <td colspan="18" class="bg-success">{{cc}}</td>
                        </tr>
                        <tr ng-repeat="item in costCenterArrayList">
                            <td>{{$index + 1}}</td>
                            <td>{{item.fund_source}}</td>
                            <td>{{item.project_name}}</td>
                            <td>{{item.activity}}</td>
                            <td>{{item.budget_type}}</td>
                            <td>{{item.facility}}</td>
                            <td>{{item.lga_level}}</td>
                            <td>{{item.facility_type}}</td>
                            <td>{{item.project_type}}</td>
                            <td>{{item.expenditure_category}}</td>
                            <td>{{item.implemented_quarter}}</td>
                            <td>{{item.project_output}}</td>
                            <td>{{item.planned_value}}</td>
                            <td>{{item.achievement_value}}</td>
                            <td>{{item.actual_implementation}}</td>
                            <td>{{item.remarks}}</td>
                            <td><span class="pull-right">{{item.budget|currency:''}}</span></td>
                            <td><span class="pull-right">{{item.expenditure|currency:''}}</span></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
