<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_PRIORITY_AREA"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updatePriorityAreaForm">
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errors" class="col-md-12">
                            <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errors=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="priorityAreaToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePriorityAreaForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="NUMBER"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="number" type="text"
                                       ng-model="priorityAreaToEdit.number" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePriorityAreaForm.number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="LINK_LEVEL"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search1"
                                        ng-model="priorityAreaToEdit.link_level"
                                        name="link_level"
                                        ng-options="lv.id as lv.name for lv in link_levels">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updatePriorityAreaForm.link_level.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(".select-search").select2();
    $(".select-search1").select2();
</script>