<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_BUDGET_EXPORT_TRANSACTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBudgetExportTransactionForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="budgetExportTransactionToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetExportTransactionForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="BUDGET_TRANSACTION_TYPE"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search1"
                                        ng-model="budgetExportTransactionToEdit.budget_transaction_type_id"
                                        name="budget_transaction_type_id"
                                        ng-options="ds.id as ds.name for ds in budgetTransactionTypes">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateExpenditureCentreForm.budget_transaction_type_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
</script>