<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_PROJECT_FUNDERS"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createProjectFunderForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_PROJECT_NAME"></label>
                        <div class="col-sm-9">
                            <select  class="form-control select-search1"
                                     ng-model="projectFunderToCreate.project_id"
                                     name="project_id"
                                     ng-options="project.id as project.name for project in projects">
                                     <option value="" selected translate="SELECT_PROJECT NAME"></option>
                                <option></option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createProjectFunderForm.project_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_FUNDER"></label>
                        <div class="col-sm-9">
                            <select  class="form-control select-search2"
                                     ng-model="projectFunderToCreate.funder_id"
                                     name="funder_id"
                                     ng-options="funder.id as funder.name for funder in funders">
                                     <option value="" selected translate="SELECT_FUNDER"></option>
                                <option></option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createProjectFunderForm.funder_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_IS_LOAN"></label>
                        <div class="col-sm-9">
                            <label  class="radio-inline radio-right">
                                <input type="checkbox" name="is_loan" class="styled" ng-model="projectFunderToCreate.is_loan">
                                <span translate="LABEL_YES"></span>
                            </label>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>