<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="activateMessage" class="col-md-12">
        <div  class="alert alert-styled-left alert-arrow-left alert-bordered" ng-class="{'alert-success':projectFunderToActivate.is_active,'alert-warning':!projectFunderToActivate.is_active}">
            <button type="button" class="close" ng-click="activateMessage=undefined" ><span>×</span><span class="sr-only">Close</span></button>
            {{activateMessage | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" ><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_PROJECT"></th>
                            <th translate="TH_FUNDER"></th>
                            <th translate="TH_FUND_TYPE"></th>
                            <th translate="TH_ACTIVE"></th>
                            <th translate="TH_ACTIONS"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="projectFunder in projectFunders.data | orderBy:'-created_at'">
                            <td>{{$index + 1}}</td>
                            <td>{{projectFunder.project.name}}</td>
                            <td>{{projectFunder.funder.name}}</td>
                            <td>
                                <span ng-show="projectFunder.is_loan == true"> Loan </span>
                                <span ng-show="projectFunder.is_loan == false"> Grant </span>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="projectFunder.is_active" ng-model="projectFunder.is_active" ng-change="activateProjectFunder(projectFunder.id, projectFunder.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(projectFunder,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(projectFunder.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="projectFunders.total > projectFunders.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="projectFunders.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="projectFunders.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ projectFunders.total }}" perPage="{{ projectFunders.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>