<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="UPDATE_OVERALL_ACHIEVEMENT"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label translate="OVERALL_ACHIEVEMENT"></label>
                                <textarea ng-model="updateDataModel.overall_achievement" name="description" ng-required="true"
                                          placeholder="" class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()"
                            translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()"
                            translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>