<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button class="close" ng-click="close()" type="button">
          ×
        </button>
        <h5 class="modal-title" translate="ACTIVITY_IMPLEMENTATION"></h5>
      </div>
      <div class="modal-body">
        <form action="#" class="form-horizontal" name="createActivityImplementationForm" novalidate="">
          <div class="row">
            <div class="col-md-12" ng-show="errorMessage">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button class="close" data-dismiss="alert" ng-click="errorMessage=undefined"
                        type="button">
                  <span>
                    ×
                  </span>
                  <span class="sr-only">
                    Close
                  </span>
                </button>
                {{errorMessage | translate}}
              </div>
            </div>
          </div>
          <div ng-show="errors" class="col-md-12">
            <div ng-repeat="error in errors"
                 class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <button type="button" class="close" ng-click="errors=undefined"
                      data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              {{error}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-9">
                  <label translate="ACTIVITY"></label>
                  <p>
                    <strong>{{facilityActivity.code}} -
                      {{facilityActivity.description}}</strong>
                  </p>
                </div>
                <div class="col-sm-3">
                  <label translate="FACILITY"></label>
                  <p>
                    <strong>{{facilityActivity.facility}}[{{facilityActivity.facility_type}}]</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row" ng-show="facilityActivity.budget > 0">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <span class="text-success text-size-large text-bold">BUDGET: {{facilityActivity.budget|currency:"TZS "}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <span
                    class="text-warning text-size-large text-bold">EXPENDITURE: {{facilityActivity.expenditure|currency:"TZS "}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <span
                    class="text-info text-size-large text-bold">BALANCE: {{(facilityActivity.budget - facilityActivity.expenditure)|currency:"TZS "}}</span>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="STATUS"></label>
                  <select class="form-control select-search1" name="status_id"
                          ng-model="createDataModel.status_id" ng-required="true"
                          ng-options="stat.id as stat.name for stat in activityStatuses">
                  </select>
                  <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createActivityImplementationForm.status_id.$error.required"
                                              translate="VALIDATION_REQUIRED">
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label translate="START_DATE"></label>
                  <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                      class="icon-calendar22"></i></span>
                    <input ng-click="startPopup =true" type="text" class="form-control"
                           uib-datepicker-popup="{{dateFormat}}"
                           ng-model="createDataModel.start_date" is-open="startPopup"
                           datepicker-options="{minDate:(period.start_date), maxDate:(period.end_date)}"
                           name="start_date"
                           close-text="Close"
                           popup-placement="bottom"
                           alt-input-formats="altInputFormats"/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label translate="END_DATE"></label>
                  <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                      class="icon-calendar22"></i></span>
                    <input ng-click="endPopup =true" type="text" class="form-control"
                           uib-datepicker-popup="{{dateFormat}}"
                           ng-model="createDataModel.end_date" is-open="endPopup"
                           datepicker-options="{maxDate:(period.end_date), minDate:(period.start_date)}"
                           ng-required="true"
                           close-text="Close"
                           name="end_date"
                           popup-placement="bottom"
                           alt-input-formats="altInputFormats"/>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label class="control-label" translate="PROCUREMENT_METHOD"></label>
                  <select class="form-control" name="procurement_method_id"
                          ng-model="createDataModel.procurement_method_id"
                          ng-options="pm.id as pm.name for pm in proMethods">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="control-label" translate="INDICATOR"></label>
                  <input class="form-control" disabled name="activity"
                         ng-model="facilityActivity.indicator" placeholder="" type="text"/>
                </div>
                <div class="col-sm-6">
                  <label translate="LABEL_INDICATOR_VALUE"></label>
                  <input class="form-control" disabled name="activity"
                         ng-model="facilityActivity.indicator_value" placeholder=""
                         type="text"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="control-label" translate="PROJECT_OUTPUT"></label>
                  <input class="form-control" disabled name="project_output"
                         ng-model="createDataModel.project_output" placeholder="" type="text"/>
                </div>
                <div class="col-sm-6">
                  <label translate="PLANNED_VALUE"></label>
                  <input class="form-control" disabled name="planned_value"
                         ng-model="createDataModel.planned_value" placeholder=""
                         type="text"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="control-label" translate="PROJECT_OUTPUT_IMPLEMENTED_VALUE_THIS_QUARTER"></label>
                  <input class="form-control" name="project_output_implemented_value"
                         ng-model="createDataModel.project_output_implemented_value" placeholder="" type="number"/>
                </div>
                <div class="col-sm-6">
                  <label translate="ACTUAL_IMPLEMENTATION"></label>
                  <input class="form-control" name="achievement" ng-required="true"
                            ng-model="createDataModel.achievement"/>
                  <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createActivityImplementationForm.achievement.$error.required"
                                              translate="VALIDATION_REQUIRED">
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="REMARKS"></label>
                  <textarea class="form-control" name="remarks" ng-required="true"
                            ng-model="createDataModel.remarks"></textarea>
                  <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createActivityImplementationForm.remarks.$error.required"
                                              translate="VALIDATION_REQUIRED">
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label translate="PHYSICAL_ACTUAL_IMPLEMENTATION"></label>
                  <input class="form-control" ng-required="true" name="achievement_value"
                         ng-change="validatePercentage(createDataModel.achievement_value)"
                         ng-model="createDataModel.achievement_value" type="number">
                  <span class="help-block text-danger" ng-show="showPercentageErrorMessage===true">
                                        {{percentageErrorMessage}}
                                    </span>
                  <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createActivityImplementationForm.achievement_value.$error.required"
                                              translate="VALIDATION_REQUIRED">
                                        </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label translate="FINANCIAL_ACTUAL_IMPLEMENTATION"></label>
                  <input class="form-control" name="completion_percentage"
                         ng-change="validatePercentage(createDataModel.completion_percentage)"
                         ng-model="createDataModel.completion_percentage"  readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="OVERALL_ACHIEVEMENT"></label>
                  <input type="text" class="form-control" name="overall_achievement"
                         ng-model="createDataModel.overall_achievement">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label translate="LATITUDE"></label>
                  <input class="form-control" name="latitude"
                         ng-model="createDataModel.latitude" type="number">
                </div>
                <div class="col-sm-6">
                  <label translate="LONGITUDE"></label>
                  <input class="form-control" name="longitude"
                         ng-model="createDataModel.longitude" type="number">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <label>
                    <span>
                      (Evidence Upload) Location, Images and Documents(
                      <span style="color:green; font-weight: bolder;">
                        {{createDataModel.urls.length}} uploaded
                      </span>
                      )
                    </span>
                  </label>
                  <input class="form-control" name="file"
                         onchange="angular.element(this).scope().uploadFile(this.files)" type="file"/>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <ul class="list-group">
                    Uploaded Files
                    <li class="list-group-item" ng-repeat="file_name in reference_file_names">
                      <span class="glyphicon glyphicon-paperclip bg-success">
                        {{file_name}}
                      </span>
                      <a class="glyphicon glyphicon-remove" href="" ng-click="remove(file_name)">
                      </a>
                    </li>
                  </ul>
                  <di>
                  </di>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-disabled="validPercentage(createDataModel.achievement_value)"
                      ng-click="store()" type="button">
                Save
              </button>
              <button class="btn btn-warning" ng-click="close()" type="button">
                Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
