<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button class="close" ng-click="close()" type="button">
          ×
        </button>
        <h5 class="modal-title">{{title}}</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-sm-3">
            <span class="text-success text-size-large text-bold">BUDGET: {{budget|currency:"TZS "}}</span>
          </div>
          <div class="col-sm-3">
            <span class="text-warning text-size-large text-bold">EXPENDITURE: {{expenditure|currency:"TZS "}}</span>
          </div>
          <div class="col-sm-3">
            <span class="text-info text-size-large text-bold">BALANCE: {{(budget - expenditure)|currency:"TZS "}}</span>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                  <th>
                    {{'INDEX' | translate}}
                  </th>
                  <th>
                    {{'PERIOD' | translate}}
                  </th>
                  <th>
                    {{'STATUS' | translate}}
                  </th>
                  <th>
                    Achievement
                  </th>
                  <th>
                    Achievement Value
                  </th>
                  <th>
                    Completion Percentage
                  </th>
                  <th>
                    {{'DATE' | translate}} {{'UPDATED'|translate}}
                  </th>
                  <th>
                    {{'REFERENCES' | translate}}
                  </th>
                  <th>
                    {{'REMARKS' | translate}}
                  </th>
                  <th>
                    {{'ACTION' | translate}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activity in activity_implementation">
                  <td>
                    {{$index + 1}}
                  </td>
                  <td>
                    {{activity.period_name}}
                  </td>
                  <td>
                    {{activity.activity_status}}
                  </td>
                  <td>
                    {{activity.achievement}}
                  </td>
                  <td>
                    {{activity.achievement_value}}
                  </td>
                  <td>
                    {{activity.completion_percentage}}
                  </td>
                  <td>{{activity.updated_at}}</td>
                  <td>
                    <ul>
                      <li ng-repeat="attachment in activity_implementation.attachments">
                        <a href="/{{activity.document_url}}" target="_blank">
                      <span class="glyphicon glyphicon-download">
                        {{activity.attachment_description}}
                      </span>
                        </a>
                      </li>
                      <ul>
                      </ul>
                    </ul>
                  </td>
                  <td>
                    {{activity.remarks}}
                  </td>
                  <td>
                    <!-- <a class="btn btn-info" href=""
                       ng-click="edit(activity,budget,expenditure,currentPage,perPage)">
                      <i class="fa fa-edit"></i> <span translate="EDIT"></span>
                    </a> -->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
