<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon per-page" >
                        Show
                    </div>
                    <input class="form-control" type="text" ng-model="query" id="search" />
                </div>
            </div>
            <div class="col-sm-3">
                <form class="form-inline">
                    <div class="form-group">
                        <a href ng-href='/execution#!/activity-implementation' class="btn btn-info">
                            <i class="fa fa-eye"></i> <span>{{'SHOW'|translate}} {{'IMPLEMENTATION'|translate}}</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>{{'INDEX' | translate}}</th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'PERIOD' | translate}}</a>
                            </th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'START' | translate}} {{'Date'|
                                translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'END' | translate}} {{'Date'|
                                translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'ACTIVITY' | translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'code'; reverse = !reverse">{{"CODE" | translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'FACILITY' | translate}}</a></th>

                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'ASSIGNEE' | translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'description'; reverse = !reverse">{{'TITLE' | translate}}</a></th>
                            <th><a href="" ng-click="activities_order = 'status'; reverse = !reverse">{{"CURRENT_STATUS" | translate}}</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(stat, activities_list) in activities.data | groupBy:'cost_center':orderBy:'cost_center':reverse">
                            <td colspan="10" class='general_grouping'> {{stat}}({{activities_list.length}}) activities</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="activity in activities_list|filter:query|orderBy:activities_order:reverse">
                            <td>{{$index + 1}}</td>
                            <td>{{activity.period_name}}</td>
                            <td nowrap>{{activity.period_start_date|date:'mediumDate'}}</td>
                            <td nowrap>{{activity.period_end_date|date:'mediumDate'}}</td>
                            <td>{{activity.description}}</td>
                            <td>{{activity.code}}</td>
                            <td>{{activity.facility_name}}</td>
                            <td>{{activity.responsible_person}}</td>
                            <td>{{activity.title}}</td>
                            <td>{{activity.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="activities.total > activities.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="activities.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="activities.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ activities.total }}" perPage="{{ activities.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>