<breadcrumb title="{{title}}">
</breadcrumb>
<div class="row">
  <div class="col-md-12" ng-show="action">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button class="close" ng-click="action=undefined" type="button">
        <span>
          ×
        </span>
        <span class="sr-only">
          Close
        </span>
      </button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ng-show="successMessage">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button class="close" ng-click="successMessage=undefined" type="button">
        <span>
          ×
        </span>
        <span class="sr-only">
          Close
        </span>
      </button>
      {{successMessage | translate}}
    </div>
  </div>
  <div class="col-md-12" ng-show="errorMessage">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button class="close" ng-click="errorMessage=undefined" type="button">
        <span>
          ×
        </span>
        <span class="sr-only">
          Close
        </span>
      </button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>

<!--filters header starts-->
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS', 'BUDGET_TYPE', 'FINANCIAL_YEAR2']" on-change="filterChanged(filter)"></main-filter>

<div layout="row">
    <div layout="row" layout-xs="column" flex="100">


        <div layout="column" flex='25'>
            <md-input-container>
                <label>Budget Type</label>
                <md-select aria-label="budget_type" ng-model="budgetType" ng-change="loadActivities()">
                    <md-option ng-repeat="budget in budgetTypes" ng-value="budget">{{budget.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="column" flex='25'>
            <md-input-container>
                <label>Financial Year</label>
                <md-select aria-label="Financial Year"  ng-model="fy" ng-change="loadPeriods(fy)">
                    <md-option ng-repeat=" fy in financialYears" ng-value="fy">{{fy.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="column" flex='25' ng-show="fy.id > 0">
            <md-input-container>
                <label>Period</label>
                <md-select aria-label="Period"  ng-model="period" ng-change="loadActivities()" >
                    <md-option ng-repeat=" period in periods" ng-value="period">{{period.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div layout="row">
    <div layout="column" flex='25' ng-show="period.id>0">
        <md-input-container>
            <label>Service Provider Type</label>
            <md-select aria-label="Service Provider Types" ng-model="facilityType" ng-change="loadFacilities(facilityType)">
                <md-option ng-repeat="facilityType in facilityTypes" ng-value="facilityType">{{facilityType.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="column" flex='25' ng-show="facilityType.id>0">
        <md-input-container>
            <label>Service Provider</label>
            <md-select aria-label="Service Provider" ng-model="facility" ng-change="loadFundSources(facility)">
                <md-option ng-repeat="facility in facilities" ng-value="facility">{{facility.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="column" flex='25'>
        <md-input-container>
            <label>Fund Source</label>
            <md-select aria-label="fund_source" ng-model="fund_source" ng-change="loadActivities()">
                <md-option ng-repeat="fund_source in fund_sources" ng-value="fund_source">{{fund_source.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
<div layout="row">


</div>
<!--filters header ends-->

<!--activities body starts-->
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>
                        <a href="" ng-click="activities_order = 'code'; reverse = !reverse">
                            {{"CODE" | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="activities_order = 'description'; reverse = !reverse">
                            {{'ACTIVITY' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="activities_order = 'facility'; reverse = !reverse">
                            {{'FACILITY' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="activities_order = 'budget'; reverse = !reverse">
                            {{'BUDGET' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="activities_order = 'expenditure'; reverse = !reverse">
                            {{'EXPENDITURE' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="activities_order = 'balance'; reverse = !reverse">
                            {{'BALANCE' | translate}}
                        </a>
                    </th>

                    <th>
                        <a href="" ng-click="reverse = !reverse">
                            {{'STATUS' | translate}}
                        </a>
                    </th>
                    <th>
                        {{'ACTION' | translate}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="(c,items1) in activities.data | groupBy:'cost_center':orderBy:'cost_center':reverse">
                    <td colspan="9" class="bg-info">Cost centre: {{c}} - {{items1[0].cost_center_code}}</td>
                </tr>
                <tr ng-repeat-start="(p,items2) in items1 | groupBy:'project'">
                    <td colspan="9" class="bg-teal-400">Project: {{p}} - {{items2[0]['project_code']}}</td>
                </tr>
                <tr ng-repeat-start="activity in items2" ng-show="activity.budget > 0">
                    <td>
                        {{activity.code}}
                    </td>
                    <td>
                        <span ng-class="{'text-warning': activity.implementation === null,'text-success': activity.implementation !== null}">{{activity.description}}</span>
                    </td>
                    <td>
                        {{activity.facility}}
                    </td>
                    <td>
                        {{activity.budget|currency:''}}
                    </td>
                    <td>
                        {{activity.expenditure|currency:''}}
                    </td>
                    <td>
                        <span ng-class="{'text-warning': (activity.budget - activity.expenditure) > 0,'text-success': (activity.budget - activity.expenditure) === 0}">{{(activity.budget - activity.expenditure)|currency:''}}</span>
                    </td>
                    <td>
                        {{activity.facility_activity_status}}
                    </td>
                    <td nowrap>
                        <a class="btn btn-info" href="" ng-click="create(activity, period)">
                            <i class="fa fa-edit"></i> <span translate="TRACK_ACTION"></span>
                        </a>
                        <a class="btn btn-info" href="" ng-click="history(activity.activity_id, activity.facility_id)">
                            <i class="fa fa-list"></i> <span translate="HISTORY"></span>
                        </a>
                        <a class="btn btn-default" href
                           ng-href="/execution#!/activity-implementation-history?activity_id={{activity.activity_id}}&facility_id={{activity.facility_id}}&{{currentFilter}}">
                            <i class="fa fa-file"></i> {{activity.attachments}}
                        </a>
                    </td>
                </tr>
                <tr ng-repeat-end="" ng-if="false"></tr>
                <tr ng-repeat-end="" ng-if="false"></tr>
                <tr ng-repeat-end="" ng-if="false"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!--activities body ends-->


<br/>
<div class="row">
  <div class="col-md-10" ng-show="activities.total > activities.per_page">
    <ul boundary-links="true" class="pagination-sm pull-left" items-per-page="activities.per_page"
        max-size="maxSize" ng-change="loadActivities()" ng-model="currentPage" num-pages="numPages"
        total-items="activities.total" uib-pagination="">
    </ul>
    <total-pages currentpage="{{currentPage}}" perpage="{{ activities.per_page }}"
                 totalitems="{{ activities.total }}">
    </total-pages>
  </div>
  <div class="col-md-2">
    <per-page ng-change="loadActivities()" ng-model="perPage"></per-page>
  </div>
</div>
