<breadcrumb title="{{title}}">
</breadcrumb>
<div class="row">
    <div class="col-md-12" ng-show="action">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button class="close" ng-click="action=undefined" type="button">
        <span>
          ×
        </span>
                <span class="sr-only">
          Close
        </span>
            </button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-show="successMessage">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button class="close" ng-click="successMessage=undefined" type="button">
        <span>
          ×
        </span>
                <span class="sr-only">
          Close
        </span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div class="col-md-12" ng-show="errorMessage">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button class="close" ng-click="errorMessage=undefined" type="button">
        <span>
          ×
        </span>
                <span class="sr-only">
          Close
        </span>
            </button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon per-page">
                        Budget Class
                    </div>
                    <select class="form-control"
                            ng-model="budgetClass" ng-change="loadFundSources(budgetClass.id)"
                            name="budgetClass" ng-options="exp as (exp.name) for exp in budgetClasses">
                    </select>
                </div>
            </div>
            <div class="col-sm-3" ng-show="budgetClass.id > 0">
                <div class="input-group">
                    <div class="input-group-addon per-page">
                        Fund Source
                    </div>
                    <select class="form-control"
                            ng-model="fundSource"
                            ng-change="loadPeriods(fundSource.id)"
                            name="fundSource" ng-options="exp as (exp.name) for exp in fundSources">
                    </select>
                </div>
            </div>
            <div class="col-sm-2" ng-show="fundSource.id > 0">
                <div class="input-group">
                    <div class="input-group-addon per-page">
                        Period
                    </div>
                    <select class="form-control" name="period_id"
                            ng-model="period" ng-required="true"
                            ng-change="loadBudgetTypes(period.id)"
                            ng-options="period as period.name for period in periods">
                    </select>
                </div>
            </div>
            <div class="col-sm-2" ng-show="period.id > 0">
                <div class="input-group">
                    <div class="input-group-addon per-page">
                        Budget Type
                    </div>
                    <select class="form-control"
                            ng-model="budgetType"
                            ng-change="filterItems(budgetType,null)"
                            name="budgetType" ng-options="exp.name as (exp.name) for exp in budgetTypes">
                    </select>
                </div>
            </div>
            <div class="col-sm-2" ng-show="period.id > 0">
                <div class="input-group">
                    <div class="input-group-addon per-page">
                        Search
                    </div>
                    <input class="form-control" ng-model="searchQuery" ng-change="filterItems(budgetType,searchQuery)" name="searchQuery" />
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="activities.total > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>
                                <a href="" ng-click="activities_order = 'sno'; reverse = !reverse">
                                    {{"SNO" | translate}}
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="activities_order = 'code'; reverse = !reverse">
                                    {{"CODE" | translate}}
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="activities_order = 'description'; reverse = !reverse">
                                    {{'ACTIVITY' | translate}}
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="activities_order = 'completion_percentage'; reverse = !reverse">
                                    {{'AVERAGE_COMPLETION_PERCENTAGE' | translate}}
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="activities_order = 'overall_achievement'; reverse = !reverse">
                                    {{'OVERALL_ACHIEVEMENT' | translate}}
                                </a>
                            </th>
                            <th>
                                {{'ACTION' | translate}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activity in activities.data">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{activity.code}}
                            </td>
                            <td>
                                {{activity.description}}
                            </td>
                            <td>
                                {{activity.completion_percentage}}
                            </td>
                            <td>
                                {{activity.overall_achievement}}
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success" ng-click="edit(activity,currentPage,perPage,budgetClass.id,fundSource.id,budgetType,period.id)"><i class="fa fa-comment"></i> Comment</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-10" ng-show="activities.total > activities.per_page">
        <ul boundary-links="true" class="pagination-sm pull-left" items-per-page="activities.per_page"
            max-size="maxSize" ng-change="pageChanged()" ng-model="currentPage" num-pages="numPages"
            total-items="activities.total" uib-pagination="">
        </ul>
        <total-pages currentpage="{{currentPage}}" perpage="{{ activities.per_page }}"
                     totalitems="{{ activities.total }}">
        </total-pages>
    </div>
    <div class="col-md-2" ng-show="activities.total > activities.per_page">
        <per-page ng-change="pageChanged()" ng-model="perPage"></per-page>
    </div>
</div>
