<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title">Create a new project</h5>
            </div>
            <form action="#" class="form-horizontal" name="createProjectForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Project Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="projectToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createProjectForm.name.$error.required" >Name is required</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Code*</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="projectToCreate.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createProjectForm.code.$error.required" >Code is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description"
                                      ng-model="projectToCreate.description"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="FUND_SOURCE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" multiple="multiple"
                                    ng-model="projectToCreate.fund_sources"
                                    name="fund_source"
                                    ng-options="obj as (obj.code+' - '+obj.name) for obj in fundSources">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="SECTOR"></span>
                        </label>
                        <div class="col-sm-9">
                            <select multiple="multiple" class="form-control"
                                    ng-model="projectToCreate.sectors"
                                    name="sectors"
                                    ng-required="true"
                                    ng-options="obj as obj.name for obj in sectors">
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $('.select-search4').select2({minimumResultsForSearch:Infinity});
</script>