<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Edit project</h5>
            </div>

            <form action="#" class="form-horizontal" name="updateProjectForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Project Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="projectToEdit.name"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="projectToEdit.name.$error.required">Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Code*</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="projectToEdit.code"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="projectToEdit.code.$error.required">Code is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description"
                                      ng-model="projectToEdit.description"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="FUND_SOURCE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="projectToEdit.fund_source_id"
                                    name="fund_source_id"
                                    ng-options="obj.id as obj.name for obj in fundSources">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateProjectForm.fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>