<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Project: [{{ code }}] {{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <form>
                            <table class="table table-bordered table-striped">
                                <thead class="bg-teal-400">
                                <tr>
                                    <th translate="FUND_SOURCE"></th>
                                    <th translate="REMOVE"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <select multiple="multiple" class="form-control"
                                                ng-model="formData.fund_sources"
                                                ng-options="obj as (obj.code+' - '+obj.name) for obj in fundSources">
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="addFundSource()">Add Fund Source(s)</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="row in items">
                                    <td>{{ row.fund_source.code }} - {{ row.fund_source.name }}</td>
                                    <td nowrap="nowrap">
                                        <button href class="btn btn-danger" ng-click="deleteFundSource(row.id)">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>