<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
  <div ng-show="errors" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errors=undefined" data-dismiss="alert"><span>×</span><span
          class="sr-only">Close</span></button>
      <ul ng-show="errors.length" class="form-errors">
        <li ng-repeat="e in errors">{{e}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <div class="input-group-addon per-page">
        Financial Year
      </div>
      <select class="form-control" name="financialYearId" ng-model="financialYear"
        ng-change="loadVersions(financialYear.id)" ng-options="item as item.name for item in financialYears">
        <option value="" selected="selected">-Financial Year-</option>
      </select>
    </div>
  </div>
  <div class="col-sm-6" ng-show="financialYear.id > 0">
    <div class="input-group">
      <div class="input-group-addon per-page">
        Version
      </div>
      <select class="form-control" name="version_id" ng-model="version" ng-change="loadProjects(version.id)"
        ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
      </select>
    </div>
  </div>
</div>
<div class="row" ng-show="version.id > 0">
  <div class="col-md-12">
    <div class="row" ng-show="showUploadForm===true">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-info">The <a href="/download/PROJECTS.xlsx"><span
              style="text-decoration: underline">Excel</span></a>
          file sheet
          should be named <strong>PROJECTS</strong></p>
        <p class="text-info"><strong>name</strong> & <strong>code</strong> should the column header of the excel
          file to be uploaded</p>
        <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
          <div class="form-group">
            <div class="col-md-12">
              <label>
                <span translate="LABEL_EXCEL_FILE"></span>
              </label>
              <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                data-show-preview="false" ngf-select ng-model="excelFile" name="file" accept="'.xls,.xlsx,.xlsm,.csv'"
                ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'" required ngf-model-invalid="errorFile" />
              <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="heading-btn pull-left">
                <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                  ng-click="uploadFile(financialYear.id,version.id,excelFile)"><i class="fa fa-upload"></i> Upload
                </button>
                <button type="button" class="btn btn-warning" ng-click="toggleUploadForm(false)"><i
                    class="fa fa-close"></i> Close
                </button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br />
    <div class="row" ng-show="showList===true">
      <div class="col-md-12">
        <div class="heading-btn pull-left">
          <button class="btn btn-primary" ng-click="toggleUploadForm(true)">
            <i class="fa fa-upload"></i>
            <span translate="BTN_UPLOAD"></span>
          </button>
          <button type="button" class="btn btn-info" ng-click="create(financialYear.id,version.id)">
            <i class="fa fa-plus"></i>
            <span translate="BTN_CREATE"></span>
          </button>
          <!-- <button type="button" class="btn btn-success" ng-click="copy(financialYear,version)">
                        <i class="fa fa-copy"></i>
                        <span translate="BTN_COPY"></span>
                    </button>-->
          <a class="btn btn-success"
            ng-href="/files/projects/export?financialYearId={{financialYear.id}}&versionId={{version.id}}">
            <i class="fa fa-file-excel-o"></i>
            <span translate="BTN_EXPORT"></span>
          </a>
          <!-- <a type="button" class="btn btn-default" href="/setup#!/sector-projects">
                        <i class="fa fa-list"></i>
                        <span translate="SECTORS"></span>
                    </a>-->
        </div>
        <div class="heading-btn pull-right">
          <div class="input-group">
            <input type="text" class="form-control col-xs-4" ng-model="searchString" placeholder="Search ..."
              ng-change="search(financialYear.id,version.id,searchString)" />
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row" ng-show="showList===true">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
              <tr>
                <th translate="TH_NO"></th>
                <th translate="TH_NAME"></th>
                <th translate="TH_CODE"></th>
                <th translate="TH_ACTION"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects">
                <td>{{$index + 1}}</td>
                <td>{{project.name}}</td>
                <td>{{project.code}}</td>
                <td nowrap="nowrap">
                  <a href class="btn btn-info" ng-click="edit(financialYear.id,version.id,project,currentPage,perPage)">
                    <i class="fa fa-edit"></i>
                    <span translate="EDIT_ACTION"></span>
                  </a>
                  <a href class="btn btn-success" ng-click="project_sectors(project,currentPage,perPage)">
                    <i class="fa fa-list"></i>
                    <span translate="SECTORS"></span>
                  </a>
                  <a href class="btn btn-primary" ng-click="projectFundSources(project)">
                    <i class="fa fa-list"></i>
                    <span translate="FUND_SOURCES"></span>
                  </a>
                  <a href class="btn btn-danger"
                    ng-click="delete(project.id,financialYear.id,version.id,currentPage,perPage)">
                    <i class="fa fa-remove"></i>
                    <span translate="DELETE_ACTION"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row" ng-show="projects.total > projects.per_page && showList===true">
      <div class="col-md-10">
        <ul uib-pagination total-items="projects.total" max-size="maxSize" class="pagination-sm pull-left"
          boundary-links="true" num-pages="numPages" items-per-page="projects.per_page" ng-model="currentPage"
          ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ projects.total }}" perPage="{{ projects.per_page }}">
        </total-pages>
      </div>
      <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
      </div>
    </div>
  </div>
</div>
<script type="application/javascript">
  $(".select-search-1").select2();
  $(".select-search-2").select2();
  $(".select-search-3").select2();
  $(".select-search-4").select2();
</script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
