<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Project: [{{ code }}] {{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_SECTOR"></th>
                                <th translate="TH_ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select multiple="multiple" class="form-control select-search4"
                                            ng-model="sectorProjectToCreate.sector_id"
                                            name="sector_id"
                                            ng-required="true"
                                            ng-options="obj.id as obj.name for obj in sectors">
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="add_sector()">Add Sector</button>
                                </td>
                            </tr>
                            <tr ng-repeat="sector_project in sector_projects">
                                <td>{{ sector_project.sector.name }}</td>
                                <td nowrap="nowrap">
                                    <button href class="btn btn-danger" ng-click="deleteSector(sector_project.id,project_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search4').select2({minimumResultsForSearch:Infinity});
    </script>
</div>