<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_SECTOR_PROJECT"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createSectorProjectForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="LABEL_PROJECT"></label>
                            <select name="project_id" class="form-control select-search"
                                    ng-model="sectorProjectToCreate.project_id"
                                    ng-options="f.id as f.name for f in projects">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorProjectForm.project_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="LABEL_SECTOR"></label>
                            <select name="sector_id" multiple="multiple" class="select-fixed-multiple form-control"
                                    ng-model="sectorProjectToCreate.sector_id"
                                    ng-options="ah.id as ah.name for ah in sectors">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectorProjectForm.sector_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-fixed-multiple').select2({
            minimumResultsForSearch:Infinity,
        });
        $('.select-search').select2();
    </script>
</div>