<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_CAS_ASSESSMENT_REPORT_SET"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createCasAssessmentSubCriteriaPossibleScoreForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage = undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_PLAN"></label>
                            <div class="col-sm-9">
                                <select ng-model="selectedPlan"
                                        class="form-control"
                                        ng-change="loadContents(selectedPlan)"
                                        ng-options="casPlan.id as casPlan.name for casPlan in casPlans">
                                    <option value="">--Select Comprehensive Plan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CONTENT"></label>
                            <div class="col-sm-9">
                                <select ui-select2 multiple
                                        ng-model="casAssessmentSubCriteriaReportSetToCreate.cas_plan_content_id"
                                        class="select-fixed-multiple form-control">
                                    <option value="">--Select Plan Table Items --</option>
                                    <option ng-repeat-start="i in casPlanContents"
                                            value="{{i.id}}">{{i.description}}
                                    </option>
                                    <option
                                            ng-repeat-start="j in i.children"
                                            value="{{j.id}}">&nbsp;&nbsp;- &nbsp; {{j.description}}
                                    </option>
                                    <option
                                            ng-repeat-end ng-repeat="k in j.children"
                                            value="{{k.id}}">&nbsp;&nbsp;&nbsp;+{{k.description}}
                                    </option>
                                    <option ng-if="false" ng-repeat-end></option>

                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCasAssessmentSubCriteriaPossibleScoreForm.cas_plan_content_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.select-fixed-multiple').select2({
        minimumResultsForSearch: Infinity,
    });
    $('.select-search').select2();
</script>