<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <select ng-model="categoryVersion"
                class="form-control search1"
                ng-change="loadCriteria(categoryVersion)"
                ng-options="item.id as item.cas_assessment_category.name+ ' - '+item.financial_year.name for item in casAssessmentCategories">
            <option value="">--Select Category --</option>
        </select>
    </div>

    <div class="col-md-4">
        <select ng-model="CriteriaOption"
                class="form-control search1"
                ng-change="loadSubCriteria(CriteriaOption)"
                ng-options="item.id as  item.number + '. '+item.name for item in casAssessmentCriteriaOptions">
            <option value="">--Select Criteria --</option>
        </select>
    </div>

    <div class="col-md-4">
        <select ng-model="subCriteriaOption"
                class="form-control search2"
                ng-change="loadReportSet(subCriteriaOption)"
                ng-options="item.id as item.name for item in casAssessmentSubCriteriaOptions">
            <option value="">--Select Sub Criteria --</option>
        </select>
    </div>
</div>

<div class="row" ng-show="casAssessmentReportSets !== undefined">
    <br/>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create(subCriteriaOption)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_CONTENT"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="casAssessmentReportSet in casAssessmentReportSets ">
                            <td>{{$index + 1}}</td>
                            <td>{{ casAssessmentReportSet.cas_plan_content.description}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-danger" ng-click="delete(casAssessmentReportSet.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(".search1").select2();
    $(".search2").select2();
</script>