<breadcrumb >Feature Update Notifcation</breadcrumb>
<div class="row">
    <div ng-show="messsage" class="col-md-12">
        <div class="alert  alert-styled-left alert-arrow-left alert-bordered" ng-class="messageClass">
            <button type="button" class="close" ng-click="messsage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            <span>{{messsage}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="update({})">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="URL"></th>
                            <th translate="EXPIRATION_DATE"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="notf in featureNotification.data">
                            <td>{{$index + 1}}</td>
                            <td>{{notf.name}}</td>
                            <td>{{notf.url}}</td>
                            <td>{{notf.expiration_date}}</td>
                            <td nowrap="nowrap" class="action">
                                <a href class="btn btn-info" ng-click="update(notf)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(notf.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="featureNotification.total" 
                    max-size="maxSize" class="pagination-sm pull-left" 
                    boundary-links="true" 
                    num-pages="numPages" 
                    items-per-page="featureNotification.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" 
                totalItems="{{ featureNotification.total }}" 
                perPage="{{ featureNotification.per_page }}">
            </total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>