<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Create/Update Feature Notification</h5>
            </div>

            <form action="#" class="form-horizontal" name="featureNotificationForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length" class="form-errors">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>

                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text"
                                   ng-model="featureNotification.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="featureNotificationForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >Url</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text"
                                   ng-model="featureNotification.url" placeholder="" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Expiration Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="expDate = true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="expDate = true" 
                                       type="text" 
                                       class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="featureNotification.expiration_date" 
                                       is-open="expDate"
                                       name="expiration_date"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>
                 

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>