<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_ACTIVITY_CATEGORY"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createActivityCategoryForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length" class="form-errors">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>

                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text"
                                   ng-model="activityCategoryToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createActivityCategoryForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text"
                                   ng-model="activityCategoryToCreate.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createActivityCategoryForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="sort_order" type="number"
                                   ng-model="activityCategoryToCreate.sort_order" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createActivityCategoryForm.sort_order.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="activityCategoryToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createActivityCategoryForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>