<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="messsage" class="col-md-12">
        <div class="alert  alert-styled-left alert-arrow-left alert-bordered" ng-class="messageClass">
            <button type="button" class="close" ng-click="messsage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            <span translate translate-values="{name:title}">{{messsage}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="CODE"></th>
                            <th translate="DESCRIPTION"></th>
                            <th translate="SORT_ORDER"></th>
                            <th translate="IS_ACTIVE"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activityCategory in activityCategories.data">
                            <td>{{$index + 1}}</td>
                            <td>{{activityCategory.name}}</td>
                            <td>{{activityCategory.code}}</td>
                            <td>{{activityCategory.description}}</td>
                            <td>{{activityCategory.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="activityCategory.is_active" ng-model="activityCategory.is_active"
                                           ng-change="toggleActive(activityCategory.id, activityCategory.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap" class="action">
                                <a href class="btn btn-primary" ng-click="edit(activityCategory,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(activityCategory.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10">
                <ul uib-pagination total-items="activityCategories.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="activityCategories.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ activityCategories.total }}" perPage="{{ activityCategories.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>