<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_BUDGET_IMPORT"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBudgetImportForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="CODE"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="reference_code" type="text"
                                       ng-model="budgetImportToEdit.reference_code" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetImportForm.reference_code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="DATA_SOURCE"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search1"
                                        ng-model="budgetImportToEdit.data_source_id"
                                        name="data_source_id"
                                        ng-options="ds.id as ds.name for ds in dataSources">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetImportForm.data_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="IMPORT_METHOD"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search2"
                                        ng-model="budgetImportToEdit.import_method_id"
                                        name="import_method_id"
                                        ng-options="im.id as im.name for im in importMethods">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetImportForm.import_method_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>