<div id="modal_form_horizontal" style="display: block;" >
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header bg-teal-400">
              <button type="button" ng-click="close()" class="close" >×</button>
              <h5 class="modal-title" translate="EDIT_GEO_LOCATION_LEVEL"></h5>
          </div>

          <form action="#" class="form-horizontal" name="updateGeoLocationLevelForm">
              <div class="modal-body">

                  <div ng-show="errorMessage" class="col-md-12">
                      <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                          <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                          {{errorMessage | translate}}
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                      <div class="col-sm-9">
                          <input ng-required="true" name="name" type="text" ng-model="geoLocationLevelToEdit.name" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationLevelForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                      </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3" ><span translate="LABEL_CODE"></span><span>*</span></label>
                    <div class="col-sm-9">
                        <input ng-required="true" name="code" type="text" ng-model="geoLocationLevelToEdit.code" placeholder="" class="form-control">
                        <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="updateGeoLocationLevelForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                        </div>

                    </div>
                </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_LOCATION_POSITION"></span><span>*</span>
                      </label>
                      <div class="col-sm-9">
                          <input ng-required="true" ng-min="1" name="position" type="number" ng-model="geoLocationLevelToEdit.geo_level_position" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationLevelForm.position.$error.required" translate="VALIDATION_REQUIRED"></span>
                              <span class="help-block text-danger" ng-show="updateGeoLocationLevelForm.position.$error.min" translate="VALIDATION_MIN"></span>
                          </div>

                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                      <div class="col-sm-9">
                          <input ng-required="true" ng-min="1" name="sort_order" type="number" ng-model="geoLocationLevelToEdit.sort_order" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationLevelForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                              <span class="help-block text-danger"
                                    ng-show="updateGeoLocationLevelForm.sort_order.$error.min"
                                    translate="VALIDATION_MIN"
                              ></span>
                          </div>

                      </div>
                  </div>
              </div>

              <div class="modal-footer" >
                  <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                  <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
              </div>
          </form>
      </div>
  </div>
</div>
