<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_BUDGET_TEMPLATE"></h5>
            </div>


            <form action="#" class="form-horizontal" name="createBudgetTemplate" ng-show="budgetForm == true" novalidate>

                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Type *</label>
                        <div class="col-sm-9">
                            <select  ng-model="templateToCreate.type" class="form-control" ng-change="loadTemplate(templateToCreate.type)">
                                <option value="1">Plan Chain</option>
                                <option value="2">Long termTarget</option>
                                <option value="3">Annual Target</option>
                                <option value="4">Activities</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Code *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="templateToCreate.code"
                                   placeholder="e.g 0000" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBudgetTemplate.code.$error.required">Code is required</span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                                <textarea ng-model="templateToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="hideTemplateForm()" translate="BTN_BACK"></button>
                    <button type="button" class="btn btn-primary" ng-click="storeTemplate()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
            <!--display templates-->
            <div class="modal-body" ng-show="budgetForm == false">
                <div ng-show="successMessage" class="col-md-12">
                    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                        <button type="button" class="close" ng-click="successMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        {{successMessage | translate}}
                    </div>
                </div>

                <div ng-show="errorMessage" class="col-md-12">
                    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                        <button type="button" class="close" ng-click="errorMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        {{errorMessage | translate}}
                    </div>
                </div>

                <a href class="btn btn-success pull-right create-btn" ng-click="showTemplateForm()" translate="BTN_CREATE"></a>

                <table class="table table-bordered table-striped" >
                    <thead class="bg-teal-400">
                    <tr>
                        <th translate="TH_NO"></th>
                        <th translate="TH_CODE"></th>
                        <th translate="TH_DESCRIPTION"></th>
                        <th translate="TH_ACTION">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="budgetTemplate in budgetTemplates | orderBy:'-type'">
                        <td>{{$index + 1}}</td>
                        <td>{{budgetTemplate.code}}</td>
                        <td>{{budgetTemplate.description}}</td>
                        <td nowrap="nowrap">
                            <a href class="btn btn-info" ng-click="loadTemplate(budgetTemplate.type)" >Edit</a>
                            <a href class="btn btn-danger" ng-click="deleteTemplate(budgetTemplate.id)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>