<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_NEW_BUDGET_CLASS"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createBudgetClassForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="budgetClassToCreate.name"
                                   placeholder="e.g Development Budget" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBudgetClassForm.name.$error.required">Name is required</span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-2">
                            <input ng-required="true" name="code" type="text" ng-model="budgetClassToCreate.code"
                                    class="form-control" />
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createBudgetClassForm.code.$error.required">Code is required</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                                <textarea ng-model="budgetClassToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="sort_order" type="number"
                                   ng-model="budgetClassToCreate.sort_order" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createSectionLevelForm.sort_order.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger"
                                      ng-show="createBudgetClassForm.sort_order.$error.min"
                                      translate="VALIDATION_MIN"
                                ></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_AUTOMATIC"></label>
                        <div class="col-sm-9">
                            <input name="is_automatic" type="checkbox" ng-model="budgetClassToCreate.is_automatic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_PARENT_BUDGET_CLASS"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="budgetClassToCreate.parent_id"
                                    class="form-control" name="parent_id" select-search>
                                <option value="" selected translate="SELECT_PARENT_BUDGET_CLASS"></option>
                                <option ng-repeat="b in budgetClasses" value="{{b.id}}">{{b.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="budgetClassToCreate.is_automatic" >
                        <h5 translate="AUTO_TEMPLATES"></h5>
                    <table  class="table table-bordered">
                        <tr class="bg-teal-400">
                            <td style="width:30%" translate="TYPE"></td>
                            <td style="width:12%" translate="CODE">Code</td>
                            <td style="width:58%" translate="DESCRIPTION">Description</td>
                        </tr>
                        <tr ng-repeat="t in budgetClassToCreate.budget_class_templates">
                            <td>
                                <span ng-if="t.type==1" translate="OBJECTIVE"></span>
                                <span ng-if="t.type==2" translate="SERVICE_OUTPUT"></span>
                                <span ng-if="t.type==3" translate="TARGET"></span>
                                <span ng-if="t.type==4" translate="ACTIVITY"></span>

                                <span ng-if="t.type==5" translate="FUND_SOURCE"></span>

                            </td>
                            <td >
                                <input ng-required="true" name="tcode_{{$index}}" type="text" ng-model="t.code"
                                       class="form-control" />
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="t.code===undefined">Code is required</span>
                                </div>
                            </td>
                            <td>

                                <input ng-required="true" name="tdescription_{{$index}}" type="text" ng-model="t.description"
                                       class="form-control" />
                            </td>
                        </tr>

                    </table>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>