<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Edit budget class</h5>
            </div>

            <form action="#" class="form-horizontal" name="updateBudgetClassForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="budgetClassToEdit.name" ng-required="true" autocomplete="off"
                                   class="form-control" />
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetClassForm.name.$error.required">name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-2">
                            <input ng-required="true" name="code" type="text" ng-model="budgetClassToEdit.code"
                                   class="form-control" />
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateBudgetClassForm.code.$error.required">Code is required</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                                <textarea ng-model="budgetClassToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_AUTOMATIC"></label>
                        <div class="col-sm-9">
                            <input name="is_automatic" type="checkbox" ng-checked="budgetClassToEdit.is_automatic"
                                   ng-model="budgetClassToEdit.is_automatic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_PARENT_BUDGET_CLASS"></span><span>*</span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="budgetClassToEdit.parent_id"
                                    class="form-control" name="parent_id" select-search>
                                <option ng-repeat="b in budgetClasses" value="{{b.id}}">{{b.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-if="budgetClassToEdit.is_automatic" >
                        <h5 translate="AUTO_TEMPLATES"></h5>
                        <table  class="table table-bordered">
                            <tr class="bg-teal-400">
                                <td style="width:30%" translate="TYPE"></td>
                                <td style="width:12%" translate="CODE">Code</td>
                                <td style="width:58%" translate="DESCRIPTION">Description</td>
                            </tr>
                            <tr ng-repeat="t in budgetClassToEdit.budget_class_templates">
                                <td>
                                    <span ng-if="t.type==1" translate="OBJECTIVE"></span>
                                    <span ng-if="t.type==2" translate="SERVICE_OUTPUT"></span>
                                    <span ng-if="t.type==3" translate="TARGET"></span>
                                    <span ng-if="t.type==4" translate="ACTIVITY"></span>

                                    <span ng-if="t.type==5" translate="FUND_SOURCE"></span>

                                </td>
                                <td >
                                    <input ng-required="true" name="tcode_{{$index}}" type="text" ng-model="t.code"
                                           class="form-control" />
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="t.code===undefined">Code is required</span>
                                    </div>
                                </td>
                                <td>

                                    <input ng-required="true" name="tdescription_{{$index}}" type="text" ng-model="t.description"
                                           class="form-control" />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>