<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="row">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                        class="sr-only">Close</span></button>
                {{errorMessage | translate}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Financial Year
            </div>
            <select class="form-control" name="financialYearId" ng-model="financialYear" ng-change="loadVersions(financialYear.id)"
                ng-options="item as item.name for item in financialYears">
                <option value="" selected="selected">-Financial Year-</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" ng-show="financialYear.id > 0">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Version
            </div>
            <select class="form-control" name="version_id" ng-model="version" ng-change="loadBudgetClasses(version.id)"
                ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
            </select>
        </div>
    </div>
</div>
<div class="row" ng-show="version.id > 0">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <button type="button" href class="btn btn-success" ng-click="create(financialYear.id,version.id)"
                        translate="BTN_CREATE"></button>
                    <!--<button type="button" class="btn btn-info" ng-click="copy(financialYear,version)">
                        <i class="fa fa-copy"></i>
                        <span translate="BTN_COPY"></span>
                    </button>-->
                </h6>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" ng-disabled="budgetClassNode.currentNode === undefined" href class="btn btn-info"
                            ng-click="edit(financialYear.id,version.id,budgetClassNode.currentNode)" translate="BTN_EDIT"></button>
                        <button type="button" ng-disabled="budgetClassNode.currentNode === undefined" href class="btn btn-info"
                            ng-click="carry(financialYear.id,budgetClassNode.currentNode)" translate="Carry"></button>
                        <button type="button" ng-disabled="budgetClassNode.currentNode === undefined" href class="btn btn-danger"
                            ng-click="delete(version.id,budgetClassNode.currentNode.id)" translate="BTN_DELETE"></button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <input class="form-control" ng-model='budgetClassNodeNodeSearchQuery' type="text" placeholder="Search in tree..." />
                </div>
                <br />
                <div class="row">
                    <div data-angular-treeview="true" data-tree-id="budgetClassNode" data-tree-model="budgetClasses"
                        data-node-id="id" data-node-label="name" data-node-children="children" data-search-query='budgetClassNodeSearchQuery'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>