<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row" ng-show="!isUserLevel">
  <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS','FINANCIAL_YEARS','BUDGET_TYPES']" on-change="filterChanged(filter)"></main-filter>
  <div layout="row">
    <div layout="column" flex = 25>
      <md-input-container>
        <label>Financial System</label>
        <md-select aria-label="system_code" ng-model="system_code" >
          <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="column" flex = 25 ng-show="system_code == 'ERMS'">
      <md-input-container>
        <label>Financial Year</label>
        <md-select aria-label="financial_years" ng-model="selectedFinancialYear" ng-change="onchangePeriod(selectedFinancialYear)" >
          <md-option ng-value="item.id"  ng-repeat="item in financial_years">{{item.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="column">
      <md-dialog-actions>
        <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 4  || system_code != 'ERMS')"
                   class="md-raised md-primary"
                   ng-click="loadCeiling()">Load Ceillings </md-button>
      </md-dialog-actions>
    </div>

  </div>
</div>
<br />
<div class="col-md-12" ng-show="ceilingAmounts.length > 0 && errorMessage === undefined">
  <button type="button" ng-click="exportCeilling(ceilingAmounts)" class="btn btn-primary pull-right m-5">Export All</button>
</div>
<div class="col-md-12" ng-show="ceilingAmounts.length > 0 && errorMessage === undefined">
  <div class="table-responsive table-wrapper">
    <table class="table table-bordered table-responsive table-striped">
      <thead class="bg-teal-400">
      <tr>
        <th width="2%">No.</th>
        <th translate="REVENUE SOURCE"></th>
        <th translate="FUND_SOURCE"></th>
        <th translate="BUDGET CLASS"></th>
        <th>Bank Account</th>
        <th width="15%" translate="AMOUNT"></th>
<!--        <th>Status</th>-->
        <th>Exported</th>
        <th>Delivered</th>
        <th>Response</th>

      </tr>
      </thead>
      <tbody>
      <tr
        ng-repeat-start="adminHierarchyCeiling in ceilingAmounts | orderBy:'ceiling.is_aggregate'| orderBy:'id'">
        <td>{{$index + 1}}</td>
        <td>
                            <span ng-show="!adminHierarchyCeiling.ceiling.is_aggregate">
                                [ {{adminHierarchyCeiling.ceiling.gfs_code.code}} ]
                                {{adminHierarchyCeiling.ceiling.gfs_code.description}}
                                <a has-permission='ddac' href ng-click="delete(adminHierarchyCeiling.id)"><span
                                  class="fa fa-times-circle" style="color:red"></span></a>
                            </span>
          <span ng-show="adminHierarchyCeiling.ceiling.is_aggregate">
                                [ ] {{adminHierarchyCeiling.ceiling.aggregate_fund_source.description}}
                                <a has-permission='ddac' href ng-click="delete(adminHierarchyCeiling.id)"><span
                                  class="fa fa-times-circle" style="color:red"></span></a>
                            </span>
        </td>
        <td>
          <span ng-show="!adminHierarchyCeiling.ceiling.is_aggregate">{{adminHierarchyCeiling.ceiling.gfs_code.fund_source.name}}</span>
          <span ng-show="adminHierarchyCeiling.ceiling.is_aggregate">{{adminHierarchyCeiling.ceiling.aggregate_fund_source.description}}</span>
        </td>
        <td>{{adminHierarchyCeiling.ceiling.budget_class.name}}</td>
        <td>{{adminHierarchyCeiling.bank_account.name}}</td>
        <td align="right">{{adminHierarchyCeiling.amount | number:2}}</td>
<!--        <td>-->
<!--          <span ng-if="adminHierarchyCeiling.is_locked" class="badge badge-warning">LOCKED</span>-->
<!--          <span ng-if="!adminHierarchyCeiling.is_locked" class="badge badge-success">OPENED</span>-->
<!--        </td>-->
        <td>
          <span ng-if="!adminHierarchyCeiling.is_exported" class="badge badge-warning"><i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <span ng-if="adminHierarchyCeiling.is_exported" class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </td>
        <td>
          <span ng-if="!adminHierarchyCeiling.is_delivered" class="badge badge-warning"><i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <span ng-if="adminHierarchyCeiling.is_delivered" class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </td>
        <td>{{adminHierarchyCeiling.export_response}}</td>
      </tr>
      <tr ng-repeat-end ng-show="hasFacilityExtension && adminHierarchyCeiling.showFacilityAllocation">

      </tr>

      </tbody>
    </table>
  </div>
  <br/>
  <div class="row" ng-show="adminHierarchyCeilings.total > adminHierarchyCeilings.per_page">
    <div class="col-md-8">
      <ul uib-pagination total-items="adminHierarchyCeilings.total" max-size="maxSize" class="pagination-sm pull-left"
          boundary-links="true" num-pages="numPages" items-per-page="adminHierarchyCeilings.per_page"
          ng-model="currentPage" ng-change="pageChanged()">
      </ul>
      <total-pages currentPage="{{currentPage}}" totalItems="{{ adminHierarchyCeilings.total }}"
                   perPage="{{ adminHierarchyCeilings.per_page }}"></total-pages>
    </div>
    <div class="col-md-4">
      <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
    </div>
  </div>

</div>






