<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_LINK_LEVEL"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateLinkLevelForm">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input type="text" name="name" ng-model="linkLevelToEdit.name" placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateLinkLevelForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text"
                                   ng-model="linkLevelToEdit.code" placeholder="1 = Target, 2 = Activity" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateLinkLevelForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()"
                            translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()"
                            translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search').select2()
</script>