<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400" >
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="REVENUE_ALLOCATION"></h5>
            </div>

            <form action="#" class="form-vertical" name="allocationForm">
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" ><span>×</span><span class="sr-only" translate="OPT_CLOSE"></span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="successMessage" class="col-md-12">
                        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined" ><span>×</span><span class="sr-only" translate="OPT_CLOSE"></span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tr class="disabled">
                            <td>
                                <strong>
                                    <div>Total Available Amount:</div>
                                    <div> {{totalRevenue | currency:''}}&nbsp;{{'CURRENCY'| translate}}</div>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    <div>Total Allocated Amount: </div>
                                    <div>{{total|currency:''}}&nbsp;{{'CURRENCY'| translate}} ({{(total)*100/totalRevenue |number:2}}%)</div>
                                </strong>
                            </td>
                            <td ng-class="{'red':total > totalRevenue}">
                                <div><strong>Total Remaining Amount:</strong></div>
                                <div><strong>{{totalRevenue- total|number:2}} &nbsp;{{'CURRENCY'| translate}}({{(totalRevenue- total)*100/totalRevenue |number:2}}%)</strong></div>
                            </td>
                        </tr>
                    </table>

                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr class="bg-teal-400">
                                <th  translate="CEILING"></th>
                                <th translate="AMOUNT"></th>
                                <th translate="PERCENTAGE"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in allocationCeilings">
                                <td ng-if="c.ceiling.name != 'Revenue'"  class="disabled" style="padding-left:40px">{{c.ceiling.name}}</td>
                                <td ng-if="c.ceiling.name != 'Revenue'" class="input">
                                    <input  type="text"
                                          ng-disabled ="c.budget_type ==='APPROVED'"
                                           ng-change="setPercentage(c)" number-to-currency name="amount_{{$index}}" class="form-control inputFieldAmount"
                                           ng-model="c.amount" />
                                </td>
                                <td ng-if="c.ceiling.name != 'Revenue'" class="input" ng-init="c.percentage = getInitialPercentage(c.amount)">
                                    <input ng-disabled ="c.budget_type ==='APPROVED'" number-to-percentage  type="text" ng-change="setAmount(c)"
                                            name="percent_{{$index}}" class="form-control inputFieldAmount"
                                           ng-model="c.percentage" max="100" min="0" />
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer" >
                    <button ng-disabled="total > totalRevenue" type="button" class="btn btn-primary action" ng-click="save()" >
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <span translate="BTN_SAVE"></span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
