<breadcrumb-loading title="{{title}}" ng-show="!fundSourceLoaded"></breadcrumb-loading>
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH']" on-change="filterChanged(filter)"></main-filter>
<div ng-show="fundSourceLoaded">
  <!-- <breadcrumb title="{{title}}"></breadcrumb> -->
  <div class="row">
    <div ng-show="action" class="col-md-12">
      <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="action=undefined">
          <span>×</span><span class="sr-only">Close</span></button>
        {{action | translate}}
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-show="successMessage" class="col-md-12">
      <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined">
          <span>×</span><span class="sr-only">Close</span></button>
        {{successMessage | translate}}
      </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
      <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="errorMessage=undefined">
          <span>×</span><span class="sr-only">Close</span></button>
        {{errorMessage | translate}}
      </div>
    </div>
    <div ng-show="fundSources.length ===0" class="col-md-12">
      <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="errorMessage=undefined">
          <span>×</span><span class="sr-only">Close</span></button>
        {{'CANT_PROJECT_ON_PROJECTION_FUND_SOURCE_FOUND' | translate}}
      </div>
    </div>
  </div>
  <div class="row" ng-show="fundSources.length >0">
    <div class="col-md-12">
      <form action="#" class="form-horizontal" name="createProjectionForm" novalidate>
        <div class="form-group" ng-show="fundSources.length > 1">
          <div class="col-sm-1">
            <label translate="LABEL_FUND_SOURCE"></label>:
          </div>
          <div class="col-sm-4">
            <select name="fund_source_id" class="form-control select-search2" ng-model="selectedFundSourceId"
              ng-change="fundSourceChange()" ng-options="fs.id as fs.name for fs in fundSources">
            </select>
          </div>
        </div>
        <div class="row" ng-show="totalGfsCodes < 1">
          <div class="col-md-10">
            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
              <span translate="NO_GFS_CODE_ASSIGNED"></span>
            </div>
          </div>
        </div>
        <div class="row" ng-show="selectedBudgetType === 'CARRYOVER' || (mtef.locked === false && mtef.is_final === false && !errorMessage)">
          <div class="col-md-4">
            <select name="gfs_code" class="form-control select-search" ng-model="gfsCodeToInitiate"
              ng-options="gfs.id as (gfs.description+' ['+gfs.code+']') for gfs in gfs_codes">
            </select>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary"
              ng-click="initiateProjection(gfsCodeToInitiate)">Initiate</button>
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-4">

          </div>
        </div>

        <div class="row" ng-show="projections && projections.data.length" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive header-table">
                  <table class="table table-bordered table-striped">

                  </table>
                </div>
                <div class="table-responsive content-table">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr class="disabled">
                        <td style="border-right:0px;padding: 4px 10px 4px 20px">
                          <strong>{{ ::fundSourceTitle }}</strong>
                        </td>
                        <td style="border-left:0px;padding: 4px 4px 4px 10px"
                          colspan="{{periods.length +1 + forwardFinancialYears.length}}">
                          <button type="button" ng-click="allocate(selectedFundSourceId,fundSourceTitle)"
                            style="margin-right:4px" class="btn btn-success pull-right">
                            <i class="fa fa-save"></i>
                            <span translate="BTN_ALLOCATION"></span>
                          </button>
                        </td>
                      </tr>
                      <tr class="bg-teal-400">
                        <th colspan="{{periods.length +2}}">
                          Current Financial year Projection
                        </th>
                        <th ng-if="forwardFinancialYears.length" colspan="{{forwardFinancialYears.length +1}}">
                          Total Forwards Projection
                        </th>
                      </tr>
                      <tr class="bg-teal-400">
                        <th style="width:19%;max-width:19%;min-width: 19%">
                          <span translate="TH_GFS_CODE"></span>
                        </th>
                        <th style="width:9%;max-width:9%;min-width: 9%" ng-repeat="period in periods">
                          {{ period.name }} (TZS)
                        </th>
                        <th style="width:9%;max-width:9%;min-width: 9%" translate="TH_TOTAL_TZS"></th>
                        <th style="width:9%;max-width:9%;min-width: 9%" ng-repeat="f in forwardFinancialYears">
                          {{f.name}}
                        </th>
                      </tr>
                      <tr class="disabled input">
                        <td style="padding:2px !important;">
                          <input placeholder="Search projection by gfs (type atleast 3 char)" type="text"
                            ng-change="searchGfs()" class="form-control" ng-model="searchQuery" />
                        </td>
                        <td ng-repeat="p in periods"></td>
                        <td style="padding:2px !important;" class="input">
                          <input style="font-weight:bold;" type="text" class="form-control"
                            value="{{totalRevenue | currency:''}}" readonly />
                        </td>
                        <td ng-repeat="f in forwardFinancialYears">
                          <input style="font-weight:bold;" type="text" class="form-control" id="TotalSum_{{$index}}"
                            readonly />
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tbody>
                      <tr ng-repeat-start="pro in projections.data" ng-class="{'is-edit': pro.isEdit}">
                        <td class="disabled">
                          <span>{{'['+pro.ceiling.gfs_code.code+'] '+pro.ceiling.gfs_code.description}}</span>
                          <span style="float:right; font-size: 18px;">
                            <a ng-if="pro.isEdit" href ng-click="pro.isEdit=false"><i class="fa fa-times"
                                style="color: grey;"></i></a>
                            <a ng-if="selectedBudgetType === 'CARRYOVER' || (!pro.isEdit && mtef.locked === false && mtef.is_final === false)" href
                              ng-click="pro.isEdit=true"><i class="fa fa-edit"></i></a>
                            <a ng-if="selectedBudgetType === 'CARRYOVER' || (!pro.isEdit && mtef.locked === false && mtef.is_final === false)" href
                              ng-click="delete(pro)"><i style="color: red;" class="fa fa-trash"></i></a>
                            <a ng-if="pro.isEdit" href ng-click="save(pro);pro.isEdit=false"><i
                                class="fa fa-save"></i></a>
                          </span>
                        </td>
                        <td class="input" ng-repeat="period in periods">
                          <div ng-repeat="pPro in pro.admin_hierarchy_ceiling_periods">
                            <input ng-if="pPro.period_id == period.id" ng-disabled="!pro.isEdit" type="text"
                              number-to-currency valid-number name="amount[]" class="form-control inputFieldAmount"
                              ng-change="periodTotal(pro)" ng-model="pPro.amount" />
                          </div>
                        </td>
                        <td class="input">
                          <input type="text" name="subTotal" class="form-control" value="{{pro.amount | currency:''}}"
                            readonly />
                        </td>
                        <!-- <td class="input">
                          <input type="text" name="subTotal" class="form-control" value="{{((pro.amount*0.1)+pro.amount*1) | currency:''}}"
                            readonly />
                        </td>
                        <td class="input">
                          <input type="text" name="subTotal" class="form-control" value="{{(((pro.amount*0.1)+pro.amount*1)*0.1)+((pro.amount*0.1)+pro.amount*1)*1 | currency:''}}"
                            readonly />
                        </td> -->
                        <td class="input" ng-repeat="f in forwardFinancialYears">
                          <div ng-repeat="fPro in pro.admin_hierarchy_ceiling_forwards">
                            <input ng-disabled="true" ng-if="fPro.financial_year_id == f.id" number-to-currency
                             ng-click="periodTotal(pro)" class="form-control" type="text" required="required" valid-number ng-model="fPro.amount">
                          </div>
                        </td>
                      </tr>
                      <tr ng-repeat-end=""></tr>
                      <tr>
                        <td></td>
                        <td ng-repeat="period in periods"></td>
                        <td class="input">
                          <input style="font-weight:bold;" type="text" class="form-control"
                            value="{{totalRevenue | currency:''}}" readonly />
                        </td>
                        <td class="input" ng-repeat="f in forwardFinancialYears">
                          <input style="font-weight:bold;" type="text" class="form-control" id="TotalSum_{{$index}}"
                            readonly />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
        <div class="row" ng-show="projections && projections.data.length">
          <div class="col-md-8">
            <ul uib-pagination total-items="projections.total" max-size="3" class="pagination-sm pull-left"
              boundary-links="true" num-pages="numPages" items-per-page="projections.per_page" ng-model="currentPage"
              ng-change="pageChanged()">
            </ul>
            <total-pages currentPage="{{currentPage}}" totalItems="{{ projections.total }}"
              perPage="{{ projections.per_page }}"></total-pages>
          </div>
          <div class="col-md-4">
            <per-page class="pull-right" ng-model="perPage" ng-change="pageChanged()"></per-page>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tr ng-repeat="adminHierarchyCeilingPeriod in adminHierarchyCeilingPeriods.data">
                  <td>[{{ adminHierarchyCeilingPeriod.code}}] {{ adminHierarchyCeilingPeriod.name}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
