<breadcrumb title="{{title}}"></breadcrumb>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span></span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span></span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <select class="form-control" ng-model="financial_year" name="financial_year"
            ng-change="loadAssessmentCategories()" ng-options="item as item.name for item in financial_years">
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" ng-if="!criteria && !result_list">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                            <tr>
                                <th width="5%" translate="NO"></th>
                                <th translate="ASSESSMENT"></th>
                                <th ng-if="categoryVersions.can_assess" colspan="3" width="20%" translate="ACTION"></th>
                                <th ng-if="!categoryVersions.can_assess" colspan="2" width="20%" translate="ACTION">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="categoryVersion in categoryVersions.category_versions">
                                <td>{{$index + 1}}</td>
                                <td>{{categoryVersion.cas_assessment_category.name}}</td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-warning" ng-click="openResults(categoryVersion,2)">
                                        <i class="fa fa fa-expand"></i>
                                        <span translate="VIEWOTHER"></span>
                                    </a>
                                </td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-success" ng-click="openResults(categoryVersion,1)">
                                        <i class="fa fa fa-expand"></i>
                                        <span translate="VIEWMINE"></span>
                                    </a>
                                </td>
                                <td ng-if="categoryVersions.can_assess" nowrap="nowrap">
                                    <a href class="btn btn-info" ng-click="openCriteria(categoryVersion)">
                                        <i class="fa fa-edit"></i>
                                        <span translate="ASSESS_ACTION"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<per-page ng-model="perPage" ng-change="pageChanged()"></per-page>-->
                </div>
            </div>
        </div>

        <div class="row" ng-if="result_list && !result_preview">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="mb-0"> {{category_name}}
                        ({{assessment_group == 1 ? "My Assessment" : "Received Assessments"}})</p>
                    <footer class="blockquote-footer"> Minimum PassMark
                        <cite title="Source Title"> ~ {{minimum_passmark}}% </cite>
                    </footer>
                </blockquote>

                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr ng-if="group_name=='' || group_name==r"
                            ng-repeat="(r, result_regions) in resultList.assessment_results | groupBy: 'mtef.admin_hierarchy_parent.parent.name'">
                            <td colspan="11">
                                <h5><a ng-click="expand_group(r)" ng-if="r!=group_name">
                                        <i class="fa fa-folder-open"></i>
                                    </a><a ng-click="collapse_group(r)" ng-if="r==group_name">
                                        <i class="fa fa-compress"></i>
                                    </a>{{r}}</h5>
                                <table class="table table-bordered table-striped"
                                    ng-if="r==group_name && assessment_group == 1">
                                    <thead class="bg-teal-400">
                                        <tr>
                                            <th translate="NO"></th>
                                            <th translate="COUNCIL"></th>
                                            <th translate="LABEL_PERIODS"></th>
                                            <th translate="DATE"></th>
                                            <th translate="ROUND"></th>
                                            <th translate="SCORES_VALUE"></th>
                                            <th translate="TOTAL"></th>
                                            <th translate="%"></th>
                                            <th ng-if="resultList.can_assess" colspan="3" translate="ACTION"></th>
                                            <th ng-if="!resultList.can_assess" colspan="2" translate="ACTION"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in result_regions">
                                            <td>{{$index + 1}}</td>
                                            <td>{{result.mtef.admin_hierarchy_parent.name}}</td>
                                            <td>{{result.period.name}}</td>
                                            <td>{{result.updated_at}}</td>
                                            <td>{{result.round.name}}</td>
                                            <td>{{result.score_value}}</td>
                                            <td>{{result.highest_available_score}}</td>
                                            <td>{{(result.score_value/result.highest_available_score)*100 | number:2}}%
                                            </td>
                                            <td>
                                                <a href class="btn btn-info"
                                                    ng-click="exportAssessment(result,'assessment_single_round','assessment')">
                                                    <i class="fa fa-edit"></i>
                                                    <span translate="BTN_PREVIEW_SINGLE_ROUND"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href class="btn btn-success"
                                                    ng-click="exportAssessment(result,'assessment_multi_round','assessment')">
                                                    <i class="fa fa-edit"></i>
                                                    <span translate="BTN_PREVIEW_MULTI_ROUND"></span>
                                                </a>
                                            </td>
                                            <td ng-if="resultList.can_assess">
                                                <a href class="btn btn-primary" ng-click="editAssessment(result)">
                                                    <i class="fa fa-edit"></i>
                                                    <span translate="BTN_ASSESS"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div ng-if="r==group_name && assessment_group == 2"
                                    ng-repeat="(l, result_levels) in result_regions | groupBy: 'admin_hierarchy_level.name'">
                                    <h6>{{l}} Level Assessments</h6>
                                    <table class="table table-bordered table-striped"
                                        ng-if="r==group_name && assessment_group == 2">
                                        <thead class="bg-teal-400">
                                            <tr>
                                                <th translate="NO"></th>
                                                <th translate="COUNCIL"></th>
                                                <th translate="LABEL_PERIODS"></th>
                                                <th translate="DATE"></th>
                                                <th translate="ROUND"></th>
                                                <th translate="SCORES_VALUE"></th>
                                                <th translate="TOTAL"></th>
                                                <th translate="%"></th>
                                                <th translate="IS_FORWARDED"></th>
                                                <th ng-if="resultList.can_assess" colspan="3" translate="ACTION"></th>
                                                <th ng-if="!resultList.can_assess" colspan="2" translate="ACTION"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="result in result_levels">
                                                <td>{{$index + 1}}</td>
                                                <td>{{result.mtef.admin_hierarchy_parent.name}}</td>
                                                <td>{{result.period.name}}</td>
                                                <td>{{result.updated_at}}</td>
                                                <td>{{result.round.name}}</td>
                                                <td>{{result.score_value}}</td>
                                                <td>{{result.highest_available_score}}</td>
                                                <td>{{(result.score_value/result.highest_available_score)*100 | number:2}}%
                                                </td>
                                                <td>{{result.is_confirmed }}</td>
                                                <td>
                                                    <a href class="btn btn-info"
                                                        ng-click="exportAssessment(result,'assessment_single_round','assessment')">
                                                        <i class="fa fa-edit"></i>
                                                        <span translate="BTN_PREVIEW_SINGLE_ROUND"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href class="btn btn-info"
                                                        ng-click="exportAssessment(result,'assessment_multi_round','assessment')">
                                                        <i class="fa fa-edit"></i>
                                                        <span translate="BTN_PREVIEW_MULTI_ROUND"></span>
                                                    </a>
                                                </td>
                                                <td ng-if="resultList.can_assess">
                                                    <a ng-if="result.is_confirmed" class="btn btn-primary"
                                                        ng-click="editAssessment(result)"
                                                        ng-attr-title="Sent for assessment">
                                                        <i class="fa fa-edit"></i>
                                                        <i class="fa fa-file"></i>
                                                    </a>
                                                    <a ng-if="!result.is_confirmed" disabled="true"
                                                        class="btn btn-danger" ng-attr-title="Not sent">
                                                        <i class="fa fa-flag"></i>
                                                        <i class="fa fa-hourglass"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="11" align="right"> <a href class="btn btn-default" ng-click="close_results()">
                                    <i class="fa fa-compress"></i>
                                    <span translate="FINISH">Comment</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-if="result_preview">
            <div class="col-md-12">
                <a ng-click="close_preview_result()">
                    <i class="fa fa-compress"></i>
                    <span translate="FINISH"></span>
                </a>
                <object width="100%" height="1000" data={{fileUrl}} type="application/pdf">
                    <iframe width="500" height="400" ng-src="{{fileUrl}}"></iframe>
<!--                    <embed src={{fileUrl}} type="application/pdf" />-->
                </object>
            </div>
        </div>

        <div class="row" ng-if="criteria && !result_preview">
            <div class="col-md-12">
                <div class="table-responsive">
                    <blockquote class="blockquote">
                        <p class="mb-0"> {{category_name}}</p>
                        <div class="col-md-2">
                            <select class="form-control select-search1" ng-model="admin_hierarchy_id"
                                name="admin_hierarchy_id" ng-change="returnRounds(admin_hierarchy_id)" ng-options="ah.id as (ah.name) for ah in adminHierarchies">
                            </select>
                        </div>

                        <div class="col-md-2" ng-show="cas_plan_id==7">
                            <select class="form-control" ng-model="facility_type"
                                ng-change="loadFacilityByType(facility_type)"
                                ng-options="i.facility_type_id as i.facility_type for i in facilities| unique:'facility_type'">
                            </select>
                        </div>

                        <div class="col-md-2" ng-show="cas_plan_id==7">
                            <select class="form-control" ng-model="facility" ng-change="refreshData()"
                                ng-options="i.id as i.name for i in facilityByType">
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select class="form-control select-search1" ng-model="round_id" name="round_id"
                                ng-change="returnAssignedPeriods(admin_hierarchy_id,round_id)" ng-options="ah.id as (ah.name)
                             for ah in rounds">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control select-search1" ng-model="period_id" name="period_id"
                                ng-options="ah.id as (ah.financial_year.name + ' - ' +  ah.name )
                             for ah in assignedPeriods">
                            </select></div>
                        <div class="col-md-6">

                            <a ng-if="assessment_result.is_confirmed" class="btn btn-warning"
                                ng-click="getReplies(0,4,assessment_result.id,assessment_result)">
                                <i class="fa fa-reply-all"></i>
                                <i class="fa fa-edit"></i>

                            </a>

                            <a ng-if="!assessment_result.is_confirmed" class="btn btn-primary"
                                ng-click="openAssessment(category_version_id,period_id,round_id,admin_hierarchy_id,facility)">
                                <i class="fa fa-folder-o"></i>
                                <i class="fa fa-edit"></i>

                            </a>
                            <a ng-if="assessment_open" class="btn btn-search"
                                ng-click="exportAssessment(assessment_result,'assessment_single_round','assessment')">
                                <i class="fa fa-eye"></i>
                                <i class="fa fa-file-pdf-o"></i>
                            </a>

                            <a ng-if="assessment_open" class="btn btn-search"
                                ng-click="exportAssessment(assessment_result,'assessment_multi_round','assessment')">
                                <i class="fa fa-object-group"></i>
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                            <a ng-if="assessment_open" style="float: right;" class="btn btn-search" ng-click="preview()">
                                <i>Download Strategic Plan</i>&nbsp;&nbsp;&nbsp;
                                <i style="color: red;" class="fa fa-file-pdf-o"></i>
                            </a>
                        </div>
                        <br style="margin:1em;">
                        <br style="margin:1em;">
                        <div class="col-md-12">
                            <footer class="blockquote-footer">Minimum PassMark {{minimum_passmark}}% <cite
                                ng-if="assessment_open" title="Source Title"> ~ Total Score {{main_total}}
                                of {{assessment_result.highest_available_score}}
                                ({{(main_total/assessment_result.highest_available_score)*100 | number:2}}%)
                                {{ (main_total/assessment_result.highest_available_score)*100 < minimum_passmark? "Not Recommended":"Recommended"}}
                            </cite> </footer>
                        <footer ng-if="assessment_open" class="blockquote-footer">
                            Assessor: {{assessment_result.user.user_name}}</footer>
                        </div>
                    </blockquote>
                </div>
            </div><br>

            <div class="row" ng-if="criteria">
                <div class="col-md-12">
                    <td class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th translate="NO"></th>
                                    <th translate="NAME"></th>
                                    <th translate="NUMBER"></th>
                                    <th ng-if="assessment_open" translate="ACTION"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="criteriaOption in criteriaOptions | orderBy:'number'">
                                    <td ng-if="criteria_id === criteriaOption.id" colspan="4" bgcolor="#dcdcdc">
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <td colspan="5">
                                                    <blockquote class="blockquote">
                                                        <p class="mb-0"> {{criteriaOption.number}}: {{criteria_name}}
                                                        </p>
                                                        <footer class="blockquote-footer">
                                                            {{report_list ? sub_criteria_name:"Click Button to set Score"}}
                                                            <cite title="Source Title">
                                                                {{report_list ? "":"Choose from the list"}}
                                                            </cite></footer>
                                                    </blockquote>
                                                </td>
                                            </tr>
                                </tr>

                                <tr ng-if="report_list && !replies">
                                    <td colspan="5">{{sub_criteria_name}} -List of Reports</td>
                                </tr>

                                <tr ng-if="replies">
                                    <td colspan="5">
                                        <blockquote class="blockquote">
                                            <p class="mb-0">{{sub_criteria_comment}}</p>
                                        </blockquote>

                                    </td>
                                </tr>

                                <tr ng-if="replies" ng-repeat="result_detail_reply in result_detail_replies">
                                    <td ng-if="reply_detail_id!=result_detail_reply.id" width="5%">{{$index + 1}}</td>
                                    <td ng-if="reply_detail_id!=result_detail_reply.id" colspan="2">
                                        {{result_detail_reply.comment}}</td>
                                    <td ng-if="reply_detail_id!=result_detail_reply.id" width="10%">
                                        <a ng-if="result_detail_reply.is_addressed" href
                                            class='btn btn-success'>Addressed</a>
                                        <a ng-if="!result_detail_reply.is_addressed" href class='btn btn-danger'>Not
                                            Addressed</a>
                                    </td>

                                    <td ng-if="reply_detail_id!=result_detail_reply.id" nowrap="nowrap" width="10%">
                                        <a ng-if="reply_detail_id!=result_detail_reply.id" href class="btn btn-default">
                                            <i class="fa fa-user-circle"></i>
                                            <span>
                                                {{result_detail_reply.user.last_name}},
                                                {{result_detail_reply.user.first_name}}
                                                ({{result_detail_reply.user.admin_hierarchy.admin_hierarchy_level.name}})
                                            </span>
                                        </a>
                                        <a ng-if="reply_detail_id!=result_detail_reply.id && result_detail_reply.user.id ==reply_user"
                                            href class="btn btn-info" ng-click="editReplyDetail(result_detail_reply)">
                                            <i class="fa fa-expand"></i>
                                            <span translate="Edit"></span>
                                        </a>
                                    </td>

                                    <td ng-if="reply_detail_id==result_detail_reply.id" colspan="3">Reply <br>
                                        <textarea ng-required="true" name="comment" type="text" height="100" width="150"
                                            ng-model="result_detail_reply.comment" placeholder=""
                                            class="form-control"></textarea>
                                    </td>

                                    <td ng-if="reply_detail_id==result_detail_reply.id" width="15%">Is Addressed <br>
                                        <label class="switch">
                                            <input type="checkbox" ng-checked="result_detail_reply.is_addressed"
                                                ng-model="result_detail_reply.is_addressed">
                                            <div class="slider round"></div>
                                        </label>
                                    </td>

                                    <td ng-if="reply_detail_id==result_detail_reply.id">
                                        <a ng-if="reply_detail_id==result_detail_reply.id" href class="btn btn-info"
                                            ng-click="updateReplies(result_detail_reply.id,result_detail_reply.comment,3, result_detail_reply.cas_assessment_result_detail.id,result_detail_reply.is_addressed)">
                                            <i class="fa fa-save"></i>
                                            <span translate="SAVE"></span>
                                        </a>
                                    </td>
                                </tr>

                                <tr ng-if="report_list && !replies" ng-repeat="report in reportSet ">
                                    <td ng-if="preview!=report.id" width="5%">{{$index + 1}}</td>
                                    <td ng-if="preview!=report.id" colspan="3">{{report.cas_plan_content.description}}
                                    </td>
                                    <td ng-if="preview!=report.id" nowrap="nowrap" width="10%">
                                        <a href class="btn btn-info"
                                            ng-click="showReportParameters(report.id,report.cas_plan_content.description,report.cas_plan_content.cas_plan_table[0].parameters)">
                                            <i class="fa fa-expand"></i>
                                            <span translate="Select"></span>
                                        </a>
                                    </td>

                                    <td ng-if="preview==report.id" colspan="5">
                                        <table>
                                            <tr>
                                                <td width="5%">{{$index + 1}}</td>
                                                <td>{{report.cas_plan_content.cas_plan_table[0].description}}
                                                    -Parameters</td>
                                                <td><button type="button" ng-click="closePreview()"
                                                        class="close">Ã—</button></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3">
                                                    <form action="#" class="form-horizontal" name="reportParameters"
                                                        novalidate>
                                                        <div class="modal-body">
                                                            <div class="form-group"
                                                                ng-show="reportParamsData.fund_source_pe.length > 0">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_FUND_SOURCE"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="fund_source_id" class="form-control"
                                                                        ng-model="reportParameter.fund_source_id"
                                                                        ng-options="f.id as f.name for f in reportParamsData.fund_source_pe">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.fund_source_id.length > 0">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_FUND_SOURCE"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="fund_source_id" class="form-control"
                                                                        ng-model="reportParameter.fund_source_id"
                                                                        ng-options="f.id as f.name for f in reportParamsData.fund_source_id">
                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.budget_class_id.length > 0">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_BUDGET_CLASS"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="budget_class_id" class="form-control"
                                                                        ng-model="reportParameter.budget_class_id"
                                                                        ng-options="f.id as f.name for f in reportParamsData.budget_class_id">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.sector_dept_id.length > 0 ">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_DEPT"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="sector_dept_id" class="form-control"
                                                                        ng-model="reportParameter.sector_dept_id"
                                                                        ng-options="f.id as f.name for f in reportParamsData.sector_dept_id">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.exchange_rate.length > 0">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_EXCHANGE_RATE"></label>
                                                                <div class="col-sm-9">
                                                                    <input readonly class="form-control"
                                                                        ng-model="reportParameter.exchange_rate"
                                                                        ng-value="reportParamsData.exchange_rate" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group"
                                                                ng-show="reportParamsData.intervention_id.length > 0 ">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_PRIORITY_AREA"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="priority area" class="form-control"
                                                                        ng-model="priority_area_id"
                                                                        ng-change="getIntervention(priority_area_id)"
                                                                        ng-options="f.id as f.description for f in reportParamsData.intervention_id">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.intervention_id.length > 0 ">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_INTERVENTION"></label>
                                                                <div class="col-sm-9">
                                                                    <select multiple name="intervention"
                                                                        class="form-control"
                                                                        ng-model="reportParameter.intervention_id"
                                                                        ng-options="f.id as f.description for f in reportParamIntervention">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                ng-show="reportParamsData.cost_centre_id.length > 0 ">
                                                                <label class="control-label col-sm-3"
                                                                    translate="LABEL_COST_CENTRE"></label>
                                                                <div class="col-sm-9">
                                                                    <select name="cost_centre_id" class="form-control"
                                                                        ng-model="reportParameter.cost_centre_id"
                                                                        ng-options="f.id as f.name for f in reportParamsData.cost_centre_id">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <input readonly type="hidden"
                                                                ng-show="reportParamsData.checked.length > 0"
                                                                ng-model="reportParameter.checked"
                                                                ng-value="reportParamsData.checked" />
                                                            <input readonly type="hidden"
                                                                ng-show="reportParamsData.cancelled.length > 0"
                                                                ng-model="reportParameter.cancelled"
                                                                ng-value="reportParamsData.cancelled" />
                                                            <input readonly type="hidden"
                                                                ng-show="reportParamsData.footer_text.length > 0"
                                                                ng-model="reportParameter.footer_text"
                                                                ng-value="reportParamsData.footer_text" />
                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href class="btn btn-warning"
                                                                ng-click="exportPreviewReport(report.id,report.cas_plan_content.cas_plan_table[0].report_url,report.cas_plan_content.cas_plan_table[0].id)">
                                                                <i class="fa fa-eye"></i>
                                                                <span translate="Preview"></span>
                                                            </a>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr ng-if="!report_list"
                                    ng-repeat="subCriteriaOption in subCriteriaOptions | orderBy:'cas_assessment_sub_criteria.serial_number'">
                                    <td>{{subCriteriaOption.cas_assessment_sub_criteria.serial_number}}</td>
                                    <td>{{subCriteriaOption.cas_assessment_sub_criteria.name}}</td>
                                    <td nowrap="nowrap">
                                        <a ng-if="subCriteriaOption.cas_assessment_sub_criteria_possible_score_id != null && !assessment_result.is_confirmed && sub_criteria_id != subCriteriaOption.cas_assessment_sub_criteria.id && previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) > -1"
                                            href class="btn btn-success" ng-click="possibleScores(subCriteriaOption)">
                                            <i class="fa fa-edit"></i>
                                            <span
                                                translate="SCORES_VALUE">ScoreValue</span>({{subCriteriaOption.sub_criteria_score}})
                                        </a>

                                        <a ng-if="subCriteriaOption.cas_assessment_sub_criteria_possible_score_id == null && !assessment_result.is_confirmed && sub_criteria_id != subCriteriaOption.cas_assessment_sub_criteria.id && previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) > -1"
                                            href class="btn btn-info" ng-click="possibleScores(subCriteriaOption)">
                                            <i class="fa fa-edit"></i>
                                            <span
                                                translate="SCORES_VALUE">ScoreValue</span>({{subCriteriaOption.sub_criteria_score}})
                                        </a>

                                        <a ng-disabled="true" href class="btn btn-success"
                                            ng-if="subCriteriaOption.cas_assessment_sub_criteria_possible_score_id != null && (assessment_result.is_confirmed || previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) <= -1)">
                                            <i class="fa fa-hashtag"></i>
                                            <span
                                                translate="SCORES_VALUE">ScoreValue</span>({{subCriteriaOption.sub_criteria_score}})
                                        </a>

                                        <a ng-disabled="true" href class="btn btn-info"
                                            ng-if="subCriteriaOption.cas_assessment_sub_criteria_possible_score_id == null && (assessment_result.is_confirmed || previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) <= -1)">
                                            <i class="fa fa-hashtag"></i>
                                            <span
                                                translate="SCORES_VALUE">ScoreValue</span>({{subCriteriaOption.sub_criteria_score}})
                                        </a>


                                        <textarea
                                            ng-if="sub_criteria_id === subCriteriaOption.cas_assessment_sub_criteria.id && comment"
                                            ng-required="true" name="score_comment" type="text" height="100" width="150"
                                            ng-model="subCriteriaOption.remarks" placeholder=""
                                            class="form-control"></textarea>

                                        <select
                                            ng-if="sub_criteria_id === subCriteriaOption.cas_assessment_sub_criteria.id && score"
                                            class="form-control select-search1"
                                            ng-model="subCriteriaOption.cas_assessment_sub_criteria_possible_score_id"
                                            name="cas_assessment_sub_criteria_possible_score_id" ng-options="ah.id as (ah.value + ' ' + ah.description)
                             for ah in possibleScoreRows | orderBy:'value'"></select> </td>
                                    <td nowrap="nowrap" ng-if="!assessment_result.is_confirmed"><a
                                            ng-if="sub_criteria_id === subCriteriaOption.cas_assessment_sub_criteria.id && score"
                                            href class="btn btn-success"
                                            ng-click="save_scores(subCriteriaOption,criteria, result_id)">
                                            <i class="fa fa-save"></i>
                                            <span translate="SCORES_SAVE">Save Score</span>
                                        </a><a
                                            ng-if="sub_criteria_id === subCriteriaOption.cas_assessment_sub_criteria.id && comment"
                                            href class="btn btn-success"
                                            ng-click="save_comment(subCriteriaOption,criteria, result_id)">
                                            <i class="fa fa-save"></i>
                                            <span translate="COMMENT_SAVE">Save Score</span>
                                        </a>
                                        <a ng-if="sub_criteria_id != subCriteriaOption.cas_assessment_sub_criteria.id && previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) > -1"
                                            href class="btn btn-info" ng-click="edit_comment(subCriteriaOption)">
                                            <i class="fa fa-comment"></i>
                                            <span translate="SCORES_COMMENT">Comment</span>
                                        </a>

                                        <a ng-disabled="true"
                                            ng-if="sub_criteria_id != subCriteriaOption.cas_assessment_sub_criteria.id && previwedSbuCriteria.indexOf(subCriteriaOption.cas_assessment_sub_criteria.id) <= -1"
                                            href class="btn btn-info">
                                            <i class="fa fa-comment"></i>
                                            <span translate="SCORES_COMMENT">Comment</span>
                                        </a>

                                    </td>
                                    <td nowrap="nowrap"> <a href class="btn btn-primary"
                                            ng-click="returnReportSet(subCriteriaOption)">
                                            <i class="fa fa-list-ol"></i>
                                            <span translate="Reports">Comment</span>
                                        </a></td>
                                    <td nowrap="nowrap" ng-if="assessment_result.is_confirmed">
                                        <a href class="btn btn-warning"
                                            ng-click="getReplies(0,3,subCriteriaOption.id,subCriteriaOption)">
                                            <i class="fa fa-reply"></i>
                                            <span translate="REPLIES">Comment</span>
                                        </a></td>
                                </tr>
                                <tr ng-if="!report_list">
                                    <td colspan="3"></td>
                                    <td colspan="2">
                                        <a href class="btn btn-success" ng-click="saveResults(subCriteriaOption)">
                                            <i class="fa fa-save"></i>
                                            <span translate="FINISH">Comment</span>
                                        </a>
                                    </td>

                                </tr>
                                <tr ng-if="report_list">
                                    <td colspan="4"></td>
                                    <td width="10%">
                                        <a href class="btn btn-primary" ng-click="close_report_list()">
                                            <span translate="FINISH">Comment</span>
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </td>
                    <td ng-if="criteria_id != criteriaOption.id">{{$index + 1}}</td>
                    <td ng-if="criteria_id != criteriaOption.id">{{criteriaOption.name}}</td>
                    <td ng-if="criteria_id != criteriaOption.id">{{criteriaOption.number}}</td>

                    <!--<td>{{criteriaOption.cas_assessment_category_version.financial_year.name}} - {{criteriaOption.cas_assessment_category_version.reference_document.name}} - {{criteriaOption.cas_assessment_category_version.minimum_passmark}} - {{criteriaOption.cas_assessment_category_version.cas_assessment_state.name}}</td>-->
                    <td ng-if="criteria_id != criteriaOption.id  && assessment_open" nowrap="nowrap">
                        <a ng-if="!isAttended[criteriaOption.id]" ng-show="assessment_open && !assessing" href
                            class="btn btn-info" ng-click="subCriteria(criteriaOption,result_id)">
                            <i class="fa fa-edit"></i>
                            <span translate="SCORES_ACTION"></span>({{total[criteriaOption.id]}})
                        </a>

                        <a ng-if="isAttended[criteriaOption.id]" ng-show="assessment_open && !assessing" href
                            class="btn btn-success" ng-click="subCriteria(criteriaOption,result_id)">
                            <i class="fa fa-edit"></i>
                            <span translate="SCORES_ACTION"></span>({{total[criteriaOption.id]}})
                        </a>

                    </td>
                    </tr>
                    <tr ng-show="assessment_open">
                        <td colspan="4">
                            <table>
                                <tr>
                                    <td width="60%">
                                        <textarea ng-show="assessment_open" ng-required="true"
                                            name="assessment_result.remarks" type="text" height="200" width="150"
                                            ng-model="assessment_result.remarks" ng-disabled="assessment_group==2"
                                            placeholder="Put Comment" class="form-control">
                                </textarea>
                                        <input type="hidden" ng-model="assessment_result.score_value"
                                            value="{{main_total}}" />
                                    </td>
                                    <!-- If the assessment is not at PORALG i.e the hierarchy_position is not equal to 1 then -->
                                    <td colspan="2"
                                        ng-if="assessment_result.admin_hierarchy_level.hierarchy_position != 1">
                                        <!--
                    <div ng-show="assessment_open &&
                                  assessment_result.admin_hierarchy_level.hierarchy_position >=
                                  categoryVersions.user_profile.admin_hierarchy.admin_hierarchy_level.hierarchy_position" >
                    <label class="control-label col-sm-3" translate="LABEL_RETURN" ng-show="!assessment_result.is_confirmed"></label>
                    <label class="control-label col-sm-3" translate="LABEL_FORWARD" ng-show="assessment_result.is_confirmed"></label>

                    </div>
                    -->
                                        <div ng-show="assessment_open" class="col-sm-12">
                                            <!--
                        <label class="switch">
                            <input type="checkbox"
                                   ng-disabled="assessment_result.is_confirmed &&
                                   assessment_result.admin_hierarchy_level.hierarchy_position ==
                                   categoryVersions.user_profile.admin_hierarchy.admin_hierarchy_level.hierarchy_position"
                                   ng-checked="assessment_result.is_confirmed"
                                   ng-model="assessment_result.is_confirmed">
                            <div class="slider round"></div>
                        </label>
                       -->
                                            <md-radio-group ng-model="assessment_result.is_confirmed" layout="row"
                                                ng-disabled="!assessment_result.admin_hierarchy_level.hierarchy_position >=
                           categoryVersions.user_profile.admin_hierarchy.admin_hierarchy_level.hierarchy_position">
                                                <md-radio-button value="false" class="md-primary"
                                                    ng-if="assessment_result.admin_hierarchy_level.hierarchy_position != 3">
                                                    Return
                                                </md-radio-button>
                                                <md-radio-button value="true"> Forward </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </td>
                                    <!-- The assessment is at PORALG level i.e. the hierarchy position is equal to one -->
                                    <td ng-if="assessment_result.admin_hierarchy_level.hierarchy_position == 1">
                                        <!--
                    <label ng-show="assessment_open" class="control-label col-sm-3" translate="LABEL_IS_CONFIRMED"></label>
                    -->
                                        <div ng-show="assessment_open" class="col-sm-12">
                                            <!--
                        <label class="switch">
                            <input type="checkbox" ng-disabled="assessment_group==2" ng-checked="assessment_result.is_confirmed" ng-model="assessment_result.is_confirmed">
                            <div class="slider round"></div>
                        </label>
                        -->
                                            <md-radio-group ng-model="assessment_result.is_confirmed" layout="row">
                                                <md-radio-button value="false" class="md-primary">Return
                                                </md-radio-button>
                                                <md-radio-button value="true"> Confirm </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </td>

                                    <td
                                        ng-if="assessment_result.admin_hierarchy_level.hierarchy_position == 1 && hasPermission('assessment.confirm')">
                                        <label ng-show="assessment_open" class="control-label col-sm-3"
                                            translate="LABEL_IS_SELECTED"></label>
                                        <div ng-show="assessment_open" class="col-sm-12">
                                            <label class="switch">
                                                <input type="checkbox" ng-disabled="assessment_group==2"
                                                    ng-checked="assessment_result.is_selected"
                                                    ng-model="assessment_result.is_selected">
                                                <div class="slider round"></div>
                                            </label></div>
                                    </td>
                                    <td> <a ng-show="assessment_open && assessment_group != 2" href
                                            class="btn btn-success" ng-click="finishAssessment(assessment_result)">
                                            <i class="fa fa-save"></i>
                                            <span translate="FINISH">Comment</span>
                                        </a>
                                        <a ng-show="assessment_group == 2 && assessment_open && assessment_result.admin_hierarchy_level.hierarchy_position >= categoryVersions.user_profile.admin_hierarchy.admin_hierarchy_level.hierarchy_position"
                                            href class="btn btn-success" ng-click="finishAssessment(assessment_result)">
                                            <i class="fa fa-save"></i>
                                            <span translate="FINISH">Comment</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr ng-if="assessment_result.is_confirmed">
                                    <td colspan="4"><br>
                                        <blockquote class="blockquote">
                                            <h6>Replies</h6>
                                            <hr>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr ng-if="assessment_result.is_confirmed">
                                    <td colspan="4">
                                        <blockquote class="blockquote">
                                            <table>
                                                <tr ng-if="assessment_result.is_confirmed"
                                                    ng-repeat="result_reply in result_replies">
                                                    <td ng-if="reply_id!=result_reply.id" width="5%">{{$index + 1}}</td>
                                                    <td ng-if="reply_id!=result_reply.id" width="70%">
                                                        {{result_reply.comment}}</td>

                                                    <td ng-if="reply_id!=result_reply.id">
                                                        <a ng-if="result_reply.updated_by!=reply_user" href
                                                            class="btn btn-default">
                                                            <i class="fa fa-user-circle"></i>
                                                            <span>{{result_reply.user.last_name}},{{result_reply.user.first_name}}({{result_reply.user.admin_hierarchy.admin_hierarchy_level.name}})</span>
                                                        </a>
                                                        <a ng-if="result_reply.updated_by==reply_user" href
                                                            class="btn btn-info" ng-click="editReply(result_reply)">
                                                            <i class="fa fa-expand"></i>
                                                            <span>Edit ({{result_reply.user.first_name}})</span>
                                                        </a>

                                                    </td>

                                                    <td ng-if="reply_id==result_reply.id" colspan="2">Reply <br>
                                                        <textarea ng-required="true" name="comment" type="text"
                                                            height="100" width="150" ng-model="result_reply.comment"
                                                            placeholder="" class="form-control"></textarea></td>

                                                    <td ng-if="reply_id==result_reply.id" align="right">
                                                        <a ng-if="reply_id==result_reply.id" href class="btn btn-info"
                                                            ng-click="updateReplies(result_reply.id,result_reply.comment,2,assessment_result.id,false)">
                                                            <i class="fa fa-save"></i>
                                                            <span translate="SAVE"></span>
                                                        </a></td>
                                                </tr>

                                            </table>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <a ng-show="assessment_result.is_confirmed && assessment_group == 2" href
                                            class="btn btn-success" ng-click="finishAssessment(assessment_result)">
                                            <i class="fa fa-save"></i>
                                            <span translate="FINISH">Comment</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br />
    </div>
</div>
</div>
