<div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400" >
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title">Bank Account Balances</h5>
                </div>

                <form action="#" class="form-horizontal" name="createSectorForm" novalidate>
                    <div class="modal-body" style="padding-top:4px">
                        <div class="alert alert-warning" ng-show="errorMessage">
                            {{errorMessage | translate}}
                            <ol ng-show="errors.length">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ol>
                        </div>
                        <br/>
                        <div >
                            <md-input-container style="width:100%">
                                <label for="bankAccount">
                                    Bank Account
                                </label>
                                <md-select ng-model="bankAccount"
                                 ng-change='loadBackAccountBalance()'
                                 id="bankAccount" name="bankAccount" >
                                    <md-option ng-repeat="b in bankAccounts" ng-value="b">{{b.name}}</md-option>
                                </md-select>
                                </md-input-container>
                            <div style="max-height: 600px; overflow-y:auto">
                            <table class="table table-bordered table-striped table-responsive">
                                <tr>
                                    <td colspan="3">
                                        {{bankAccount.name}}
                                    </td>
                                    <td class="input"><input ng-blur="saveBalance(bankAccount)" ng-model="bankAccount.amount" class="form-control"/></td>
                                    <!-- <td><button type="button" >Save</button></td> -->
                                </tr>
                                <tr class="bg-teal-400">
                                    <th>Name</th>
                                    <th>Fund Source</th>
                                    <th>Budget Class</th>
                                    <th>Amount</th>
                                    <!-- <th>Initiate</th> -->
                                </tr>
                                <tr >
                                    <td style="padding:1px" colspan="4"><input ng-model='search' class="form-control" /></td>
                                </tr>
                                <tr ng-repeat="c in bankAccount.ceilings | filter: search">
                                    <td>
                                        {{c.name}} 
                                    </td>
                                    <td>{{c.fund_source}}</td>
                                    <td>{{c.budget_class}}</td>
                                    <td class="input"><input ng-model="c.amount" class="form-control"/></td>
                                    <!-- <td><button type="button" ng-click="initiate(c.id)">Initiate</button></td> -->
                                </tr>
                            </table>
                           </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button"   class="btn btn-primary" ng-click="close()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>
            </div>
        </div>
</div>
