<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createQuestionForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_A_NEW_QUESTION"></h5>
                </div>

                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PROJECT_DATA_FORM_NAME"></label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-model="questionToCreate.id"
                                    ng-change="load_contents(questionToCreate.id)"
                                    ng-options="f.id as f.name for f in project_data_forms">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DATA_FORM_CONTENT"></label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-model="questionToCreate.project_data_form_content_id"
                                    ng-options="f.id as f.description for f in projectDataFormContents">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" name="description" type="text" ng-model="questionToCreate.description"
                                      placeholder="" class="form-control">
                            </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createQuestionForm.description.$error.required" translate="DESCRIPTION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="INPUT_TYPE"></label>
                        <div class="col-sm-9">

                            <select name="parent_id" class="form-control"
                                    ng-model="questionToCreate.input_type"
                            >
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                                <option value="date">Date</option>
                                <option value="checkbox">Radio</option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createQuestionForm.input_type.$error.required" translate="INPUT_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div ng-if="questionToCreate.input_type == 'checkbox'">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SELECT_OPTIONS"></label>
                                <blockquote class="blockquote">
                                    <p class="mb-0"></p>
                                    <p class="mb-0" translate="ADD_A_SELECT_OPTION"></p>
                                </blockquote>
                                <div>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td colspan="2" style="padding:4px">
                                                <label translate="LABEL"></label>
                                                <input ng-required="false" name="label" type="text"
                                                       ng-model="selectOption.label" placeholder="" class="form-control"
                                                >
                                            <label translate="VALUE"></label>
                                                <input ng-required="false" name="option_value" type="text"
                                                       ng-model="selectOption.value" placeholder="" class="form-control"
                                                >
                                            <td>
                                                <button type="button" class="btn btn-primary"
                                                        ng-disabled="selectOption === undefined"
                                                        ng-click="addSelectOption(selectOption)" translate="ADD">
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width:8%">Label</th><th style="width:90%">Value</th><th style="width:2%">Action</th>
                                        </tr>
                                        <tr ng-repeat="selectOption in selectOptionsToCreate.selectOptions ">
                                            <td width="50%">
                                                {{selectOption.label}}
                                            </td>
                                            <td >{{selectOption.value}}</td>
                                            <td width="50%"><button type="button" class="btn btn-primary" ng-click="removeSelectOption($index)" translate="REM"></button>
                                            </td>
                                        </tr></table>
                                </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="QUESTION_NUMBER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="symbol" type="text" ng-model="questionToCreate.question_number"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createQuestionForm.question_number.$error.required" translate="INPUT_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="sort_order" type="number"
                                   ng-model="questionToCreate.sort_order" placeholder="" class="form-control">
                        </div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>