<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editQuestionForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_QUESTION"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PROJECT_DATA_FORM_NAME"></label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-model="questionToEdit.id"
                                    ng-change="load_contents(questionToEdit.id)"
                                    ng-options="f.id as f.name for f in project_data_forms">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DATA_FORM_CONTENT"></label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-init="load_contents(questionToEdit.project_data_form_content_id)"
                                    ng-model="questionToEdit.project_data_form_content_id"
                                    ng-options="f.id as f.description for f in projectDataFormContents">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" name="description" type="text" ng-model="questionToEdit.description"
                                      placeholder="" class="form-control">
                            </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editQuestionForm.description.$error.required" translate="DESCRIPTION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="INPUT_TYPE"></label>
                        <div class="col-sm-9">

                            <select name="input_type" class="form-control"
                                    ng-model="questionToEdit.input_type"
                            >
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                                <option value="date">Date</option>
                                <option value="checkbox">Radio</option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editQuestionForm.input_type.$error.required" translate="INPUT_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="questionToEdit.input_type == 'checkbox'">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SELECT_OPTIONS"></label>
                            <blockquote class="blockquote">
                                <p class="mb-0"></p>
                                <p class="mb-0" translate="ADD_A_SELECT_OPTION"></p>
                            </blockquote>
                            <div>

                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td colspan="2" style="padding:4px">
                                            <label translate="LABEL"></label>
                                            <input ng-required="false" name="label" type="text"
                                                   ng-model="selectOption.label" placeholder="" class="form-control"
                                            >
                                            <label translate="VALUE"></label>
                                            <input ng-required="false" name="option_value" type="text"
                                                   ng-model="selectOption.value" placeholder="" class="form-control"
                                            >
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                    ng-disabled="selectOption === undefined"
                                                    ng-click="addSelectOption(selectOption)" translate="ADD">
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:8%">Label</th><th style="width:90%">Value</th><th style="width:2%">Action</th>
                                    </tr>
                                    <tr ng-repeat="selectOption in questionToEdit.select_options ">
                                        <td width="50%">
                                            {{selectOption.label}}
                                        </td>
                                        <td >{{selectOption.value}}</td>
                                        <td width="50%"><button type="button" class="btn btn-primary" ng-click="removeSelectOption($index)" translate="REM"></button>
                                        </td>
                                    </tr></table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="QUESTION_NUMBER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="symbol" type="text" ng-model="questionToEdit.question_number"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editQuestionForm.question_number.$error.required" translate="INPUT_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="sort_order" type="number"
                                   ng-model="questionToEdit.sort_order" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>