<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        </div>
        <br/>

        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_DESCRIPTION"></th>
                            <th translate="TH_CONTENT_NAME"></th>
                            <th translate="TH_INPUT_TYPE"></th>
                            <th translate="TH_QUESTION_NUMBER"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in questions | orderBy:' sort_order'">
                            <td>{{$index + 1}}</td>
                            <td>{{question.description}}</td>
                            <td>{{question.content.description}}</td>
                            <td>{{question.input_type}}</td>
                            <td>{{question.question_number}}</td>
                            <td>{{question.sort_order}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(question)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(question.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<script type="application/javascript">
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }
</script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
