<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="activateMessage" class="col-md-12">
        <div  class="alert alert-styled-left alert-arrow-left alert-bordered" ng-class="{'alert-success':funderToActivate.is_active,'alert-warning':!funderToActivate.is_active}">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{activateMessage | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="TH_LOCAL_FOREIGN"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th translate="TH_ACTIVE"></th>
                            <th translate="TH_ACTIONS"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="funder in funders.data">
                            <td>{{$index + 1}}</td>
                            <td>{{funder.name}}</td>
                            <td>{{funder.code}}</td>
                            <td>
                                <span ng-show="funder.is_local == true"> Local </span>
                                <span ng-show="funder.is_local == false"> Foreign </span>
                            </td>
                            <td>{{funder.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="funder.is_active" ng-model="funder.is_active" ng-change="activateFunder(funder.id, funder.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(funder,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(funder.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="funders.total > funders.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="funders.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="funders.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ funders.total }}" perPage="{{ funders.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>