<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<br />
<div class="row" ng-show="!isUserLevel">
  <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
  <div layout="row">
    <div layout="column" flex = 50>
      <md-input-container>
        <label>Financial System</label>
        <md-select aria-label="system_code" ng-model="system_code" >
          <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="column">
      <md-dialog-actions>
        <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 4 || system_code == undefined)"
                   class="md-raised md-primary"
                   ng-click="loadRevenueFeedBacks(selectedAdminHierarchyId, financialYear,system_code)">Load Items </md-button>
      </md-dialog-actions>
    </div>
  </div>
</div>
<br />
<!-- <div class="row"> -->
  <!-- <div class="col-md-6">
    <span class="badge badge-default">A</span> = Approved[Not Sent] &nbsp;&nbsp;
    <span class="badge badge-info">A</span> = Approved [Sent] &nbsp;&nbsp;
    <span class="badge badge-success">A</span> = Approved  [Delivered]&nbsp;
    <span class="badge badge-success">R</span> = Reallocation [Delivered]
  </div> -->
  <!-- <div class="col-md-6"> -->
<!--    <div class="heading-btn pull-right">-->
<!--      <label class="btn btn-default">Total Account: {{revenueAccounts.total}}</label>-->
<!--      <label class="btn btn-success ">Total Exported: {{totalExport}}</label>-->
<!--      <button ng-if="revenueAccounts.total !==undefined && totalExport !==undefined"  type="button" class="btn btn-info" ng-click="exportRevenue(selectedAdminHierarchyId,financialYear,system_code)" aria-hidden="true">-->
<!--        <i class="fa fa-upload"></i>-->
<!--        <span translate="BTN_EXPORT" class="ng-scope">Export</span> ({{revenueFeedbacks.total}})-->
<!--      </button>-->
<!--    </div>-->
  <!-- </div> -->
<!-- </div> -->
<br />
<div class="row">
  <div layout="column" layout-align="end end" ng-if="user.decision_level_id !== 4">
    <md-button ng-show = "revenueFeedbacks.length"
        class="md-raised md-warn"
        ng-click="exportAccounts(transaction_id, system_code, selectedItems)">
        RESEND
        <span ng-show="selectedItems.length >  0">({{ selectedItems.length }} Selected)</span>
        <span ng-show="selectedItems.length == 0">(All)</span>
    </md-button>
  </div>
  <div class="col-md-12">
    <div class="table-responsive table-wrapper">
      <table class="table table-bordered table-striped" >
        <thead class="bg-teal-400">
        <tr>
          <th></th>
          <th translate="TH_NO"></th>
          <th translate="COA"></th>
          <th translate="AMOUNT(TZS)"></th>
          <th translate="IS_SENT"></th>
          <th translate="IS_DELIVERED"></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat-end ng-repeat="value in revenueFeedbacks">
          <td><input type="checkbox" ng-model="checked"  ng-click="addItem(value.id, checked)"/></td>
          <td>{{$index + 1}}</td>
          <td nowrap="nowrap">{{value.chart_of_accounts}}</td>
          <td><span class="pull-right">{{value.amount|currency:""}}</span></td>
          <th>{{ value.is_sent }}</th>
          <th ng-if="value.is_delivered !== null">{{ value.is_delivered }}</th>
          <th ng-if="value.is_delivered == null">false</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
