<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_USER_PROFILE_KEY"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="KEY"></label>
                                    <input ng-required="true" name="key" type="text"
                                           ng-model="createDataModel.key" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.key.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="DEFAULT_VALUE"></label>
                                    <input ng-required="true" name="default_value" type="text"
                                           ng-model="createDataModel.default_value" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.default_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="GROUP"></label>
                                    <input ng-required="true" name="group" type="text"
                                              ng-model="createDataModel.group"
                                              placeholder = "" class="form-control" />
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.group.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="OPTIONS"></label>
                                    <textarea ng-required="true" name="options" type="text"
                                              ng-model="createDataModel.options"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.options.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="OPTION_QUERY"></label>
                                    <textarea ng-required="true" name="option_query" type="text"
                                              ng-model="createDataModel.option_query"
                                              placeholder = "" class="form-control">
                                    </textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.option_query.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>