<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Create a new financial year</h5>
            </div>
            <form action="#" class="form-horizontal" name="createPeriodForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="periodToCreate.name"
                                   placeholder="Quarter #1" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.name.$error.required">Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="control-label col-sm-3">Code *</label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="periodToCreate.code"
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createPeriodForm.code.$error.required">Code is required</span>
                                </div>
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Start Date *</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="startPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="periodToCreate.start_date" is-open="startPopup"
                                       datepicker-options="{}"
                                       ng-required="true"
                                       name="start_date"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.start_date.$error.required">Start date is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">End Date *</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="endPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="periodToCreate.end_date" is-open="endPopup"
                                       datepicker-options="{minDate:(periodToCreate.start_date + 2)}"
                                       ng-required="true"
                                       close-text="Close"
                                       name="end_date"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>

                            </div>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.end_date.$error.required">End date is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Financial Year *</label>
                        <div class="col-sm-9">
                            <select name="financial_year_id" class="form-control"
                                    ng-model="periodToCreate.financial_year_id"
                                    ng-options="f.id as f.name for f in financialYears">

                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.financial_year_id.$error.required">Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="PERIOD_GROUP"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="periodToCreate.period_group_id"
                                    name="period_group_id"
                                    ng-options="p.id as p.name for p in periodGroups">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.period_group_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Sort Order *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="sort_order" type="number"
                                   ng-model="periodToCreate.sort_order" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createPeriodForm.sort_order.$error.required">Sort Order is required</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
