<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_FINANCIAL_YEAR_PERIOD"></h5>
            </div>
            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="periodToEdit.name" placeholder="Quarter #1"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="control-label col-sm-3">Code</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="periodToEdit.code"
                                       class="form-control">
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Start Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="startPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup=""
                                       ng-model="periodToEdit.start_date" is-open="startPopup"
                                       datepicker-options="{formatMonth:'mm',formatYear: 'yy'}"
                                       ng-required="true"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">End Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                <input ng-click="endPopup =true" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="periodToEdit.end_date" is-open="endPopup"
                                       datepicker-options="{minDate:(periodToEdit.start_date)}"
                                       ng-required="true"
                                       close-text="Close"
                                       popup-placement="bottom"
                                       alt-input-formats="altInputFormats"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Financial Year *</label>
                        <div class="col-sm-9">
                            <select name="financial_year_id" class="form-control"
                                    ng-model="periodToEdit.financial_year_id"
                                    ng-options="f.id as f.name for f in financialYears">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="PERIOD_GROUP"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="periodToEdit.period_group_id"
                                    name="period_group_id"
                                    ng-options="p.id as p.name for p in periodGroups">
                            </select>

                            </div>
                        </div>
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Sort Order</label>
                        <div class="col-sm-9">
                            <input type="text" name="sort_order" ng-model="periodToEdit.sort_order"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>