<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/financial_year/financial-year-management-submenu.html'"></ng-include>

<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
        <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group ">
                    <span class="input-group-addon btn-search" ><strong translate="FINANCIAL_YEAR"></strong></span>
                    <select class="form-control select-search"
                            ng-model="financialYear"
                            name="financial_year_id" ng-change="getPeriodsByFinancialYear()"
                            ng-options="ds as ds.name for ds in financialYears track by ds.id">
                    </select>
                    <span class="input-group-btn">
                        <button ng-click="getCalendarByFinancialYear()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="TH_START_DATE"></th>
                            <th translate="TH_END_DATE"></th>
                            <th translate="TH_FINANCIAL_YEAR"></th>
                            <th translate="TH_PERIOD_GROUP"></th>
                            <th translate="TH_SORT_ORDER"></th>
                            <th translate="TH_STATUS"></th>
                            <th>Action</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(f, groups) in periods.data | groupBy:'financial_year.name'">
                            <td colspan="10" class="bg-info-400">{{f}}</td>
                        </tr>
                        <tr ng-repeat-start="(g,periods) in groups | groupBy:'period_group.name'">
                            <td colspan="10" style="background: #F5F5F5">{{g}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="period in periods | orderBy:period.id">
                            <td>{{$index + 1}}</td>
                            <td>{{period.name}}</td>
                            <td>{{period.code}}</td>
                            <td nowrap="nowrap">{{period.start_date}}</td>
                            <td nowrap="nowrap">{{period.end_date}}</td>
                            <td nowrap="nowrap">{{period.financial_year.name}}</td>
                            <td nowrap="nowrap">{{period.period_group.name}}</td>
                            <td nowrap="nowrap">{{period.sort_order}}</td>
                            <td>
                                <label class="switch">
                                    <input ng-disabled="period.financial_year.status == 1 || period.financial_year.status == -1" type="checkbox" ng-checked="period.is_active" ng-model="period.is_active"
                                           ng-change="togglePeriod(period.id, period.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap" style="width:2%">
                                <button type="button" ng-disabled="period.financial_year.status == 1 || period.financial_year.status == -1" class="btn btn-info" ng-click="edit(period,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </button>
                                <button type="button" ng-disabled="period.financial_year.status == 1 || period.financial_year.status == -1" class="btn btn-danger" ng-click="delete(period.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="periods.total > periods.per_page">
            <div class="col-md-7">
                <ul uib-pagination total-items="periods.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="periods.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
            </div>
            <div class="col-md-2">
                <total-pages currentPage="{{currentPage}}" totalItems="{{ periods.total }}" perPage="{{ periods.per_page }}"></total-pages>
            </div>
            <div class="col-md-3">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-search').select2();
</script>