<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">

</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <td>
                        Total Invalid Chain Code<span class="badge badge-default">{{totalByInvalidChain}}</span>
                        <span class="text-info" ng-if="successMessageByInvalidChain">({{processedByInvalidChain}}) {{successMessageByInvalidChain}}</span>
                        <span class="text-danger" ng-if="errorMessageByInvalidChain">{{errorMessageByInvalidChain}}</span>
                    </td>
                    <td class="action">
                        <input type="text" style="width:100px"  class="form-control" ng-model="limitByInvalidChain">
                    </td>
                    <td class="action">
                        <input class="btn btn-info" value="Fix" ng-click="fixByInvalidChainCode()" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Invalid Length and Character <span class="badge badge-default">{{total}}</span>
                        <span class="text-info" ng-if="successMessage">({{processed}}) {{successMessage}}</span>
                        <span class="text-danger" ng-if="errorMessage">{{errorMessage}}</span>
                    </td>
                    <td class="action">
                        <input type="text" style="width:100px"  class="form-control" ng-model="limit">
                    </td>
                    <td class="action">
                        <input class="btn btn-info" value="Fix" ng-click="fixCode()" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Duplicates <span class="badge badge-default">{{totalByDuplicateCode}}</span>
                        <span class="text-info" ng-if="successMessageByDuplicateCode">({{processedByDuplicateCode}}) {{successMessageByDuplicateCode}}</span>
                        <span class="text-danger" ng-if="errorMessageByDuplicateCode">{{errorMessageByDuplicateCode}}</span>
                    </td>
                    <td class="action">
                        <input type="text" style="width:100px"  class="form-control" ng-model="limitByDuplicateCode">
                    </td>
                    <td class="action">
                        <input class="btn btn-info" value="Fix" ng-click="fixByDuplicateCode()" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

