<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_EXPENDITURE_CENTRE_GROUP"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="LABEL_NAME"></label>
                            <input ng-required="true" name="name" type="text"
                                   ng-model="updateDataModel.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="CODE"></label>
                            <input ng-required="true" name="code" type="text"
                                   ng-model="updateDataModel.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label translate="TYPE"></label>
                            <input ng-required="true" name="type" type="text"
                                   ng-model="updateDataModel.type" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.type.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label><span translate="FUND_SOURCE"></span></label>
                            <select class="form-control select-search1"
                                    ng-model="updateDataModel.fund_source_id"
                                    name="fund_source_id"
                                    ng-options="ds.id as ('['+ds.code+'] '+ds.name) for ds in fundSources">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.fund_source_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label><span translate="DEPARTMENT"></span></label>
                            <select class="form-control select-search4"
                                    ng-model="updateDataModel.section_id"
                                    name="section_id"
                                    ng-options="ds.id as ds.name for ds in sections">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.section_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label><span translate="REFERENCE_DOCUMENT"></span></label>
                            <select class="form-control select-search2"
                                    ng-model="updateDataModel.reference_document_id"
                                    name="reference_document_id"
                                    ng-options="ds.id as ds.name for ds in refDocs">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.reference_document_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>