<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="COLUMNS"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                    class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length" class="form-errors">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
                            </button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="TH_NO"></th>
                                <th translate="NAME"></th>
                                <th translate="CODE"></th>
                                <th translate="ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th></th>
                                <th><input type="text" name="name" class="form-control" ng-model="columnData.name"/></th>
                                <th><input type="text" name="code" class="form-control" ng-model="columnData.code"/></th>
                                <th>
                                    <button type="button" class="btn btn-success" ng-click="addColumn()">
                                        <i class="fa fa-save"></i>
                                        <span translate="Add"></span>
                                    </button>
                                </th>
                            </tr>
                            <tr ng-repeat="item in columns">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <span ng-show="item.id !== row_id">{{item.name}}</span>
                                    <input type="text" ng-show="editDataColumn===true && item.id === row_id" name="name" class="form-control" ng-model="columnDataUpdate.name"/>
                                </td>
                                <td>
                                    <span ng-show="item.id !== row_id">{{item.code}}</span>
                                    <input type="text" ng-show="editDataColumn===true && item.id === row_id" name="code" class="form-control" ng-model="columnDataUpdate.code"/>
                                </td>
                                <td nowrap="nowrap">
                                    <div ng-show="item.id !== row_id">
                                        <a href class="btn btn-info" ng-click="editColumn(item)">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href class="btn btn-danger" ng-click="removeColumn(item.id)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                    <div ng-show="editDataColumn===true && item.id === row_id">
                                        <button type="button" class="btn btn-success" ng-click="updateColumn()">
                                            <i class="fa fa-save"></i>
                                            <span translate="Update"></span>
                                        </button>
                                        <button type="button" class="btn btn-warning" ng-click="cancelUpdateColumn()">
                                            <i class="fa fa-times"></i>
                                            <span translate="Cancel"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>