<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editReportForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="EDIT_REPORT"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="reportToEdit.name"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editReportForm.name.$error.required" translate="NAME_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="TITLE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="reportToEdit.title"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editReportForm.title.$error.required" translate="TITLE_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="reportToEdit.code"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editReportForm.code.$error.required" translate="CODE_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PARAMS"></label>
                        <div class="col-sm-9">
                            <select ui-select2 multiple ng-model="reportToEdit.params"
                                    name="params"
                                    class="select-fixed-multiple form-control">
                                <option ng-repeat="subform in subforms" value="{{ subform.budget_submission_form_id }}">{{ subform.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_PARENT"></span><span></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-model="reportToEdit.parent_id"
                                    ng-options="r.id as r.title for r in pe_report_parents">

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SQL_QUERY"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" rows="5" name="sql_query"
                                      ng-model="reportToEdit.sql_query"
                                      class="form-control">
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>