<style>
    #wrapper {
        padding-top: 10px;
        width: 100%;
        overflow: hidden;
    }
    #lhs {
        width: 16%;
        float:left;
    }
    #rhs {
        width: 84%;
        height: 140px;
        float: left;
    }

    #casHeading {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        font-family: "Book Antiqua",Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #tableName {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    #councilName {
        font-size: 20px;
        text-align: center;
    }
</style>

<div id="wrapper"></div>
<div id="lhs"><img src="/images/coa.png" width="90" height="110" /></div>
<div id="rhs">
    <div id="casHeading">{{ casPlanContentHeading.description }}</div>
    <div id="tableName">{{ planTables[0].description }}</div>
    <div id="councilName">{{ "Council: " + council}} </div>
</div>
<div translate="COUNTRY_NAME"></div>
