<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ reportTitle }} Parameters</h5>
            </div>

            <form action="#" class="form-horizontal" name="reportParameters" novalidate>
                <div class="modal-body">

                    <div class="form-group" ng-show="reportParamsData.is_facility_account !== undefined">
                        <label class="control-label col-sm-3" translate="LABEL_ACCOUNT_TYPE"></label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="reportParameter.is_facility_account">
                                <option value="false" selected="selected">Bureau Acoount</option>
                                <option value="true">Service Provider Account</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="reportParamsData.fund_source_pe.length > 0">
                        <label class="control-label col-sm-3" translate="LABEL_FUND_SOURCE"></label>
                        <div class="col-sm-9">
                            <select name="fund_source_id" class="form-control" ng-model="reportParameter.fund_source_id"
                                ng-options="f.id as f.name for f in reportParamsData.fund_source_pe">
                            </select>

                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.fund_source_id.length > 0">
                        <label class="control-label col-sm-3" translate="LABEL_FUND_SOURCE"></label>
                        <div class="col-sm-9">
                            <select name="fund_source_id" class="form-control" ng-model="reportParameter.fund_source_id"
                                ng-options="f.id as f.name for f in reportParamsData.fund_source_id">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="reportParamsData.budget_class_id.length > 0">
                        <label class="control-label col-sm-3" translate="LABEL_BUDGET_CLASS"></label>
                        <div class="col-sm-9">
                            <select name="budget_class_id" class="form-control"
                                ng-model="reportParameter.budget_class_id"
                                ng-options="f.id as f.name for f in reportParamsData.budget_class_id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.sector_dept_id.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_DEPT"></label>
                        <div class="col-sm-9">
                            <select name="sector_dept_id" class="form-control" ng-model="reportParameter.sector_dept_id"
                                ng-options="f.id as f.name for f in reportParamsData.sector_dept_id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.cost_centre_id.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_COST_CENTRE"></label>
                        <div class="col-sm-9">
                            <select name="cost_centre_id" class="form-control" ng-model="reportParameter.cost_centre_id"
                                ng-options="f.id as f.name for f in reportParamsData.cost_centre_id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.intervention_id.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_PRIORITY_AREA"></label>
                        <div class="col-sm-9">
                            <select name="priority area" class="form-control" ng-model="priority_area_id"
                                ng-change="getIntervention(priority_area_id)"
                                ng-options="f.id as f.description for f in reportParamsData.intervention_id">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.intervention_id.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_INTERVENTION"></label>
                        <div class="col-sm-9">
                            <select multiple name="intervention" class="form-control"
                                ng-model="reportParameter.intervention_id"
                                ng-options="f.id as f.description for f in reportParamIntervention">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.control_code.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_BUDGET_CLASS"></label>
                        {{reportParameter.control_code}}
                        <div class="col-sm-9">
                            <select name="control_code" class="form-control" ng-model="reportParameter.control_code"
                                ng-options="f.code as f.code for f in reportParamsData.control_code">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="reportParamsData.exchange_rate.length > 0">
                        <label class="control-label col-sm-3" translate="LABEL_EXCHANGE_RATE"></label>
                        <div class="col-sm-9">
                            <input readonly string-to-number type="text" name="exchange_rate" class="form-control"
                                ng-model="reportParameter.exchange_rate" />
                        </div>
                    </div>

                    <!--Page Number-->
                    <div class="form-group" ng-show="reportParamsData.init_page_number === 1">
                        <label class="control-label col-sm-3" translate="LABEL_PAGE_NUMBER"></label>
                        <div class="col-sm-9">
                            <input string-to-number type="number" name="init_page_number" class="form-control"
                                ng-model="reportParameter.init_page_number" />
                        </div>
                    </div>

                    <!--display periods-->
                    <div class="form-group" ng-show="reportParamsData.period_id.length > 0 ">
                        <label class="control-label col-sm-3" translate="LABEL_QUARTER"></label>
                        <div class="col-sm-9">
                            <select name="cost_centre_id" class="form-control" ng-model="reportParameter.period_id"
                                ng-options="f.id as f.name for f in reportParamsData.period_id">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="getReport()" translate="BTN_GO"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>