<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_FUND_TYPE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text"
                                   ng-model="updateDataModel.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CURRENT_BUDGET_CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="current_budget_code" type="text" ng-pattern="checkCode"
                                   ng-model="updateDataModel.current_budget_code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.current_budget_code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                          <span ng-show="updateForm.current_budget_code.$error.pattern" class="help-block text-danger">
                                  Current budget code is not valid.
                          </span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CARRIED_OVER_BUDGET_CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="carried_over_budget_code" type="text" ng-pattern="checkCode"
                                   ng-model="updateDataModel.carried_over_budget_code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.carried_over_budget_code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                          <span ng-show="updateForm.carried_over_budget_code.$error.pattern" class="help-block text-danger">
                                  Carried over budget code is not valid.
                          </span>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
