<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5  class="modal-title" translate="Ceiling vs Budget"></h5>
            </div>

            <form action="#" class="form-vertical" name="createInputForm">
                <div class="modal-body">
                   <table class="table table-bordered table-striped">
                       <tr>
                           <th>Ceiling</th>
                           <th>Amount</th>
                           <th>Budgeted</th>
                           <th>Balance</th>
                       </tr>
                       <pre>{{budgetByCelings | json}}</pre>
                       <tr ng-repeat="c in budgetByCelings">
                           <td>{{c.label}}</td>
                           <td>{{c.ceiling | currency:''}}</td>
                           <td>{{c.budget | currency:''}}</td>
                           <td>{{(c.ceiling -c.budget) | currency:''}}</td>
                       </tr>

                   </table>

                </div>
                <div class="modal-footer" >
                    <button type="button"  class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select2-search--dropdown').select2();
</script>
