<div class="row">
    <div class="row">
        <div class="col-md-12 content-group" style="text-align: center">
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4>{{selectedScrutinization.adminHierarchy}}</h4>
                        <h5>{{selectedScrutinization.section}}</h5>
                        <h6>{{selectedScrutinization.financialYear}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button   type="button" href class="btn btn-default btn-icon"
                      ng-click="goBack()" ><i class="icon icon-chevron-left"></i>
                <span translate="BTN_BACK"></span>
            </button>
            <button  ng-show="selectedScrutin.status !==2"  type="button" class="btn btn-default text-info"
                     ng-click="moveByMtefSection(queryParams.budgetSectionId,1)"><strong>Finish and Forward</strong></button>
            <button ng-if="!userIsTopSection && userHierarchies[0] === selectedScrutin.admin_hierarchy && hasPermission('budgeting.scrutinization.assign_users') "  type="button" class="btn btn-default text-warning"
                    ng-click="moveByMtefSection(queryParams.budgetSectionId,-1)">
                <strong>Finish and Return Budget</strong></button>
        </div>
        <div class="col-md-3">
            <!--<button   type="button" class="btn btn-info"-->
                     <!--ng-click="showCeiling(budgetByCelings)">Ceiling</button>-->
        </div>
        <div class="col-md-2">
            Recommendation:
            <span ng-show="selectedScrutinization.recommendation == -1" class="label label-warning">To return</span>
            <span ng-show="selectedScrutinization.recommendation == 1" class="label label-success">Passed</span>
            <span ng-show="selectedScrutinization.recommendation == null" class="label label-success">Not Set</span>
        </div>
        <div class="col-md-1">
            <span>Status:</span>
            <span ng-if="selectedScrutinization.status == 0" class="label label-default">No stated</span>
            <span ng-if="selectedScrutinization.status == 1" class="label label-info">In progress</span>
            <span ng-if="selectedScrutinization.status == 2" class="label label-success">Done</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab index="1"  heading="BUDGET" >
                    <div class="table-wrapper">
                    <table class="table table-bordered table-responsive table-striped table-sm">
                        <tbody>
                        <tr ng-repeat-start="(akey,a) in activities.data">
                            <td colspan="5">
                                    <strong>
                                        <i ng-show="selectedActivityId !== a.id" class="fa fa-plus-square text-info" ng-click="loadInputs(a,1);selectedActivityId = a.id;"></i>
                                        <i ng-show="selectedActivityId === a.id" class="fa fa-minus-square text-info" ng-click="selectedActivityId = 0"></i>
                                        <a style="color:#000" href ng-click="loadInputs(a,1);selectedActivityId = a.id">
                                            <span ng-class="{'commented':hasComments('ACTIVITY',a.id,queryParams.budgetSectionId,a.activity_comments)}">Activity : {{a.description}}</span>
                                        </a>
                                    </strong>
                            </td>
                            <td style="text-align: right"><strong>Activity Total</strong></td>
                            <td style="text-align: right"><strong>{{a.totalBudget | currency:''}}</strong></td>
                            <td>
                                <a href ng-click="showAndAddComments('ACTIVITY',a.id,a.activity_comments,queryParams.budgetSectionId,a.description)">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>comment
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="a.id === selectedActivityId">
                            <td colspan="3">
                                <ul style="list-style: none">
                                    <li><strong>Objective:</strong>[{{a.annual_target.long_term_target.plan_chain.parent.code}}]&nbsp;{{a.annual_target.long_term_target.plan_chain.parent.description}}</li>
                                    <li><strong>Service Output:</strong>[{{a.annual_target.long_term_target.plan_chain.code}}]&nbsp;{{a.annual_target.long_term_target.plan_chain.description}}</li>
                                    <li><strong>Target:</strong>[{{a.annual_target.long_term_target.code}}]&nbsp;{{a.annual_target.long_term_target.description}}</li>
                                </ul>
                            </td>
                            <td colspan="3">
                                <ul style="list-style: none">
                                    <li><strong>Budget Class:</strong>{{a.budget_class.name}}</li>
                                    <li><strong>Activity Category:</strong>{{a.activity_category.name}}</li>
                                </ul>
                            </td>
                        </tr>
                         <tr class="bg-teal-400" ng-show="a.id === selectedActivityId">
                                <td>Facility</td>
                                <td>Fund Source</td>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Frequency</th>
                                <th>Unit Price</th>
                                <th>Sub Total</th>
                                <th>Comments</th>
                            </tr>

                            <tr  ng-repeat-start="(fkey,f) in a.activityFacilities.data" ng-show="a.id === selectedActivityId">
                                <td  class="input">
                                    <input class="form-control" />
                                </td>
                                <td class="input"><input class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                                <td  class="input"><input disabled class="form-control"/></td>
                            </tr>
                            <tr ng-if="fund.inputs.length > 0" ng-repeat-start="(fundKey,fund) in f.activity_facility_fund_sources2" ng-show="a.id === selectedActivityId">
                                <td style="background: #eee" ><span ng-class="{'commented':facilityHasComments(f,selectedScrutinization.id)}">{{f.facility.name}}</span></td>
                                <td nowrap="nowrap" style="background: #eee"><span ng-show="f.activity_facility_fund_sources2[fundKey-1].fund_source.name !== fund.fund_source.name">{{fund.fund_source.name}}</span></td>
                                <td nowrap="nowrap">
                                    <span ng-class="{'commented':hasComments('INPUT',input.id,selectedScrutinization.id,input.input_comments)}">
                                        [ {{fund.inputs[0].gfs_code.code}} ] {{fund.inputs[0].gfs_code.description}}
                                    </span>
                                </td>
                                <td>
                                    {{fund.inputs[0].quantity}}</td>
                                <td>{{fund.inputs[0].frequency}}</td>
                                <td style="text-align: right">{{fund.inputs[0].unit_price | currency:""}}</td>
                                <td style="text-align: right; font-weight:bold">{{(fund.inputs[0].unit_price * fund.inputs[0].quantity * fund.inputs[0].frequency) | currency:""}}</td>
                                <td>
                                    <a href ng-click="showAndAddComments('INPUT',fund.inputs[0].id,fund.inputs[0].input_comments,selectedScrutinization,fund.inputs[0].gfs_code.description)">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>comment
                                    </a>
                                </td>
                            </tr>
                            <tr class="breakdown" ng-repeat="b in fund.inputs[0].input_breakdowns" ng-if=" fund.inputs[0].input_breakdowns.length">
                                <td style="background: #eee" colspan="2">

                                </td>
                                <td class="breakdown" nowrap="nowrap">
                                    <span class="pull-right">{{b.item}}</span>
                                </td>
                                <td class="breakdown">
                                    {{b.quantity}}</td>
                                <td class="breakdown">{{b.frequency}}</td>
                                <td class="breakdown" style="text-align: right">{{b.unit_price | currency:""}}</td>
                                <td class="breakdown" style="text-align: right">{{(b.unit_price * b.quantity * b.frequency) | currency:""}}</td>
                                <td class="breakdown"></td>
                            </tr>
                            <tr ng-if="fund.inputs.length > 0 && !$first"  ng-repeat-start="input in fund.inputs" ng-show="a.id === selectedActivityId">
                                <td style="background: #eee">

                                </td>
                                <td style="background: #eee" >

                                </td>
                                <td nowrap="nowrap">
                                    <span ng-class="{'commented':hasComments('INPUT',input.id,selectedScrutinization.id,input.input_comments)}">
                                        [ {{input.gfs_code.code}} ] {{input.gfs_code.description}}
                                    </span>
                                </td>
                                <td>
                                    {{input.quantity}}</td>
                                <td>{{input.frequency}}</td>
                                <td style="text-align: right">{{input.unit_price | currency:""}}</td>
                                <td style="text-align: right;font-weight:bold">{{(input.unit_price * input.quantity * input.frequency) | currency:""}}</td>
                                <td>
                                    <a href ng-click="showAndAddComments('INPUT',input.id,input.input_comments,selectedScrutinization,input.gfs_code.description)">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>comment
                                    </a>
                                </td>
                            </tr>
                            <tr  ng-repeat-end ng-repeat="b in input.input_breakdowns" ng-if="input.input_breakdowns.length && !$parent.$first" >
                                <td style="background: #eee" colspan="2">

                                </td>
                                <td nowrap="nowrap" class="breakdown">
                                    <span class="pull-right">{{b.item}}</span>
                                </td>
                                <td class="breakdown">
                                    {{b.quantity}}</td>
                                <td class="breakdown">{{b.frequency}}</td>
                                <td class="breakdown" style="text-align: right">{{b.unit_price | currency:""}}</td>
                                <td class="breakdown" style="text-align: right">{{(b.unit_price * b.quantity * b.frequency) | currency:""}}</td>
                                <td class="breakdown"></td>
                            </tr>
                            <tr ng-if="fund.inputs.length === 0" ng-show="a.id === selectedActivityId" >
                                <td nowrap="nowrap" style="background: #eee">{{f.facility.name}}</td>
                                <td nowrap="nowrap" style="background: #eee" >
                                    <span ng-show="f.activity_facility_fund_sources2[fundKey-1].fund_source.name !== fund.fund_source.name">Fund Source {{fund.fund_source.name}}</span></td>
                                <td><i>No input</i></td>
                                <td>0</td>
                                <td>0</td>
                                <td style="text-align: right">0</td>
                                <td style="text-align: right">0</td>
                                <td></td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            <tr>
                                <td style="text-align: right;background: #eee;border-bottom:1px solid #333" colspan="6"><strong>Facility Total</strong></td>
                                <td colspan="1" style="text-align: right;background: #eee;border-bottom:1px solid #333">
                                    <strong> {{getTotalByFacility(f) | currency:""}}</strong>
                                </td>
                                <td style="background: #eee;border-bottom:1px solid #333"></td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            <tr  ng-show="a.id === selectedActivityId">
                                <td class="input" colspan="8">
                                    <div class="pop-pagination">
                                        <ul uib-pagination total-items="a.activityFacilities.total"  class="pagination-sm pull-left" boundary-links="true"
                                            num-pages="numPages" items-per-page="a.activityFacilities.per_page"
                                            ng-model="a.activityFacilities.current_page" max-size="10"
                                            ng-change="loadInputs(a,a.activityFacilities.current_page)">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat-end ><td colspan="8" style="background: #ddd">&nbsp;</td></tr>
                            <tr >
                                <td colspan="8" class="action">
                                <ul uib-pagination total-items="activities.total"  class="pagination-sm pull-left" boundary-links="true"
                                    num-pages="numPages" items-per-page="activities.per_page"
                                    ng-model="activities.current_page" max-size="10"
                                    ng-change="loadBudget()">
                                </ul>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </uib-tab>
                <uib-tab index="2"  heading="BUDGET CEILING">
                    <div class="table-wrapper">
                        <table class="table table-striped table-borded">
                            <tr class="bg-teal-400">
                                <td>Ceiling</td>
                                <td>Amount</td>
                                <td>Budget</td>
                                <td>Completion</td>
                            </tr>
                            <tr ng-repeat="c in budgetByCelings">
                                <td>{{c.label}}</td>
                                <td>{{c.ceiling | currency:''}}</td>
                                <td>{{c.budget | currency:''}}</td>
                                <td>{{c.completion | number:'.00'}}%</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <!--<uib-tab index="3"  heading="BUDGET DISTRIBUTION">-->
                     <!--DISTRIBUTION CONDTION-->
                <!--</uib-tab>-->
            </uib-tabset>
        </div>
    </div>
</div>
