<div id="modal_form_horizontal" style="display: block;width:600px"  >
    <div class="modal-dialog"  >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="COMMENTS"></h5>
            </div>
                <div class="modal-body">
                     <div>
                         <strong>
                             <span ng-if="itemType ==='ACTIVITY'">Activity</span>
                             <span ng-if="itemType ==='INPUT'">Input</span>
                             <span ng-if="itemType ==='TARGET'">Target</span>
                             <span ng-if="itemType ==='MTEF_SECTION'">Cost Centre</span>
                         </strong>
                         :{{::itemDescription}}
                     </div>
                    <br/>
                    <div ng-if="commentType === 1">
                        <div ng-repeat="c in comments | orderBy:'-id'">
                            <textarea ng-disabled="saveCommentInProgress" class="form-control" 
                               ng-if="!c.addressed" ng-model="c.comments">

                            </textarea>
                            <blockquote style="border-bottom: 1px solid #ccc" ng-if="c.addressed">
                                {{::c.comments}}-<i>{{::c.commented_by}}</i>-<i>{{c.date_commented | date:"dd/MM/yyyy 'at' h:mma"}}</i>
                                <i ng-if="c.addressed" class="fa fa-check text-success" ></i>
                                &nbsp;<strong>Addressed By :{{c.addressed_by}}</strong> -<i>Comments:{{c.address_comments}}</i>
                            </blockquote>
                        </div>
                    </div>
                    <div ng-if="commentType === 2">
                        <table class="table table-bordered">
                            <tr class="bg-teal-400">
                                <td>Action</td>
                                <td>Decision Level</td>
                                <td>Comments</td>
                                <td>Resolved</td>
                            </tr>
                            <tr ng-repeat="c in comments">
                                <td>
                                   <p>{{c.comments}}</p>
                                   <i>{{c.commented_by}}</i> -<i>{{c.date_commented | date:"dd/MM/yyyy 'at' h:mma"}}</i>
                                </td>
                                <td>
                                 {{c.decision_level}}
                                </td>
                                <td ng-class="{'action':c.addressed === false}">
                                    <textarea class="form-control" ng-model="c.address_comments" ng-if="c.addressed === false" ng-disabled="c.addressInProgress">

                                    </textarea>
                                   <span ng-if="c.addressed === true">
                                       {{c.address_comments}}
                                    </span>
                                </td>
                                <td ng-class="{'action':!c.addressed}">
                                    <button ng-if="!c.addressed" ng-disabled="c.addressInProgress"  type="button" class="btn btn-success" ng-click="setAddressed(c)">
                                        <i ng-if="!c.addressInProgress" class="fa fa-eye" aria-hidden="true"></i>
                                        <i ng-if="c.addressInProgress" class="icon-spinner3 spinner"></i>

                                        <span translate="BTN_ADDRESSED"></span>
                                    </button>
                                    <span ng-if="c.addressed">
                                       <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-success" ng-click="save()">
                        <span translate="Done"></span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
        </div>
    </div>
</div>