<breadcrumb title="{{title}}" print-section></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
<div class="col-md-12" ng-repeat="plan in plans" ng-if="(selectedBudgetType ==='CARRYOVER' || selectedBudgetType ==='SUPPLEMENTARY') && plans.notification === ''">
    <div class="alert alert-info">
        <p>No Completion notification sent from this PSC</p>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" print-section>
                    <table class="table table-bordered table-striped" print-table="accountTypes.data">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th >Ceiling (Exclude PE)</th>
                            <th >Budget (Exclude PE)</th>
                            <th>Difference</th>
                            <th >PE Ceiling</th>
                            <th >PE Budget</th>
                            <th>PE Difference</th>
                            <th class="action" translate="ACTION" print-remove></th>
                            <th has-permission="planning.disapproved_activity"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="plan in plans" ng-if="(selectedBudgetType ==='CARRYOVER' || selectedBudgetType ==='SUPPLEMENTARY') && plans.notification !== ''">
                            <td>{{$index + 1}}</td>
                            <td  nowrap="nowrap">
                               <span ng-class="{'approved':plan.ceiling_final}">{{ plan.ceiling|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap">
                                <span ng-class="{'approved':plan.is_final}">{{ plan.budget|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap" style="background-color: lightgrey">
                                {{ (plan.ceiling - plan.budget) |currency:"TZS " }}
                            </td>
                            <td  nowrap="nowrap" >
                                <span ng-class="{'approved':plan.ceiling_final}">{{ plan.peCeiling|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap">
                                <span ng-class="{'approved':plan.is_final}">{{ plan.peBudget|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap" style="background-color: lightgrey">
                                {{ (plan.peCeiling - plan.peBudget) |currency:"TZS " }}
                            </td>
                            <td class="action" nowrap="nowrap" >
                                <a ng-if="!plan.is_final && (selectedBudgetType ==='CURRENT' || selectedBudgetType ==='CARRYOVER' ||  selectedBudgetType ==='SUPPLEMENTARY') && plan.budget > 0 && getAbsDiff(plan.ceiling,plan.peCeiling, plan.budget, plan.peBudget) < 1000"
                                     href class="btn btn-info" ng-click="approveBudget(plan.mtef_id)"  has-permission="budgeting.manage.approve_council_budget">
                                    <i class="fa fa-edit"></i>
                                    <span translate="APPROVE_BUDGET"></span>
                                </a>
                                <a  class="btn btn-info" ng-click="resetBudget(plan.mtef_id, selectedBudgetType)">
                                    <i class="fa fa-times"></i>
                                    <span translate="REGENERATE_SEGMENT"></span>
                                </a>
                                <a  href class="btn btn-info" ng-click="approveCeiling(selectedFinancialYearId, plan.admin_hierarchy_id, selectedBudgetType)"
                                        ng-if="!plan.ceiling_final && plan.ceiling > 0 && getAbsDiff(plan.ceiling,plan.peCeiling, plan.budget, plan.peBudget) < 1000"
                                        has-permission="budgeting.manage.approve_council_budget">
                                    <i class="fa fa-edit"></i>
                                    <span translate="APPROVE_CEILING"></span>
                                </a>
                            </td>
                            <td has-permission="planning.disapproved_activity"
                                ng-if="plans.length === 1 && plan.is_final && (selectedBudgetType ==='CURRENT' || selectedBudgetType ==='CARRYOVER' ||  selectedBudgetType ==='SUPPLEMENTARY')">
                                <a href class="btn btn-warning" ng-click="disApproveBySystem('MUSE')">
                                   <span>DisApprove</span>
                               </a>
<!--                                <a href class="btn btn-warning" ng-click="disApproveBySystem('FFARS')" >-->
<!--                                   <span>DisApp. FFARS</span>-->
<!--                               </a>-->
                                <!-- <a href class="btn btn-info" ng-click="approveBySystem('MUSE')">
                                   <span>Approve</span>
                               </a> -->
<!--                                <a href class="btn btn-info" ng-click="approveBySystem('FFARS')" >-->
<!--                                   <span>App. FFARS</span>-->
<!--                               </a>-->
                            </td>
                        </tr>
                        <tr ng-repeat="plan in plans" ng-if="selectedBudgetType ==='CURRENT' || selectedBudgetType ==='APPROVED'">
                            <td>{{$index + 1}}</td>
                            <td  nowrap="nowrap">
                               <span ng-class="{'approved':plan.ceiling_final}">{{ plan.ceiling|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap">
                                <span ng-class="{'approved':plan.is_final}">{{ plan.budget|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap" style="background-color: lightgrey">
                                {{ (plan.ceiling - plan.budget) |currency:"TZS " }}
                            </td>
                            <td  nowrap="nowrap" >
                                <span ng-class="{'approved':plan.ceiling_final}">{{ plan.peCeiling|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap">
                                <span ng-class="{'approved':plan.is_final}">{{ plan.peBudget|currency:"TZS " }}</span>
                            </td>
                            <td  nowrap="nowrap" style="background-color: lightgrey">
                                {{ (plan.peCeiling - plan.peBudget) |currency:"TZS " }}
                            </td>
                            <td class="action" nowrap="nowrap" >
                                <a ng-if="!plan.is_final && (selectedBudgetType ==='CURRENT' || selectedBudgetType ==='CARRYOVER' ||  selectedBudgetType ==='SUPPLEMENTARY') && plan.budget > 0 && getAbsDiff(plan.ceiling,plan.peCeiling, plan.budget, plan.peBudget) < 10000"
                                     href class="btn btn-info" ng-click="approveBudget(plan.mtef_id)"  has-permission="budgeting.manage.approve_council_budget">
                                    <i class="fa fa-edit"></i>
                                    <span translate="APPROVE_BUDGET"></span>
                                </a>
                                <a  class="btn btn-info" ng-click="resetBudget(plan.mtef_id, selectedBudgetType)">
                                    <i class="fa fa-times"></i>
                                    <span translate="REGENERATE_SEGMENT"></span>
                                </a>
                                <a  href class="btn btn-info" ng-click="approveCeiling(selectedFinancialYearId, plan.admin_hierarchy_id, selectedBudgetType)"
                                        ng-if="!plan.ceiling_final && plan.ceiling > 0 && getAbsDiff(plan.ceiling,plan.peCeiling, plan.budget, plan.peBudget) < 10000"
                                        has-permission="budgeting.manage.approve_council_budget">
                                    <i class="fa fa-edit"></i>
                                    <span translate="APPROVE_CEILING"></span>
                                </a>
                            </td>
                            <td has-permission="planning.disapproved_activity"
                                ng-if="plans.length === 1 && plan.is_final && (selectedBudgetType ==='CURRENT' || selectedBudgetType ==='CARRYOVER' ||  selectedBudgetType ==='SUPPLEMENTARY')">
                                <a href class="btn btn-warning" ng-click="disApproveBySystem('MUSE')">
                                   <span translate="DISAPPROVE_BUDGET"></span>
                               </a>
<!--                                <a href class="btn btn-warning" ng-click="disApproveBySystem('FFARS')" >-->
<!--                                   <span>DisApp. FFARS</span>-->
<!--                               </a>-->
                                <!-- <a href class="btn btn-info" ng-click="approveBySystem('MUSE')">
                                   <span>Approve</span>
                               </a> -->
<!--                                <a href class="btn btn-info" ng-click="approveBySystem('FFARS')" >-->
<!--                                   <span>App. FFARS</span>-->
<!--                               </a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="plans.total > plans.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="plans.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="plans.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ plans.total }}" perPage="{{ plans.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
