<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>

<div class="row" ng-if="adminHierarchies.length ===0 && total ===0">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <span translate="NO_BUDGET_SUBMITED"></span>
    </div>
  </div>
</div>
<div class="row" ng-if="adminHierarchies.length ===0 && total > 0">
  <div class="col-md-12">
    <div class="alert alert-info">
      <span>You have not be assigned any cost centre to scrutinize</span>
    </div>
  </div>
</div>

<div class="row" ng-show="adminHierarchies.length">
  <div class="col-md-12">
    <table class="table table-bordered table-responsive table-striped activities table-sm">
      <tr class="bg-teal-400">
        <th colspan="7">Submitted Budgets</th>
      </tr>
      <!-- <tr  ng-show="user.admin_hierarchy_level.hierarchy_position === 1">
        <td>
          <md-select aria-label="Region" ng-change="loadDepartments(selectedRegion)" placeholder="Select PSCs" ng-model="selectedRegion">
            <md-option ng-repeat="r in regions" ng-selected="r.region === selectedRegion.region" ng-value="r">{{r.region}}</md-option>
          </md-select>
        </td>
        <td colspan="5"></td>
        <td>

        </td>
      </tr> -->
      <tr >
        <!-- <td >
          <md-select aria-label="Council"  placeholder="Select PISC" ng-model="selectedCouncil" ng-change="loadSectors()">
            <md-option ng-repeat="c in selectedRegion.data" ng-selected="c.mtefId === selectedCouncil.mtefId" ng-value="c">{{c.council}}</md-option>
          </md-select>
        </td> -->
        <td>
          <md-select aria-label="Region" ng-change="loadDepartments(selectedRegion)" placeholder="Select PSCs" ng-model="selectedRegion">
            <md-option ng-repeat="r in regions" ng-selected="r.region === selectedRegion.region" ng-value="r">{{r.region}}</md-option>
          </md-select>
        </td>
        <td colspan="4"></td>
        <td colspan="2" nowrap="nowrap" class="action">
                    <span ng-show="selectedRegion !== undefined && user.section_id === 1 ">
                        <button ng-click="moveByMtef(selectedRegion.data[0].mtefId,1)" class="btn btn-success">Forward</button>
                        <button ng-show="user.decision_level_id !==4" ng-click="moveByMtef(selectedRegion.data[0].mtefId,-1)" class=" btn btn-warning">Return</button>
                    </span>
        </td>
      </tr>
<!--      added filter by department start-->
      <tr>
        <td colspan="3">
          <md-select ng-change="loadCostCentres()" placeholder="Select Department" ng-model="selectedDepartment">
            <md-option ng-repeat="s in departments" ng-selected="s.department_id === selectedDepartment.department_id" ng-value="s">{{s.department}}</md-option>
          </md-select>
        </td>
        <td colspan="2">
          <!-- <pr-progress ng-if="selectedSector.inProgress"></pr-progress> -->
          <md-select ng-change="assignUserBySector(selectedSector)" ng-if="selectedDepartment !== undefined" ng-disabled="selectedSector.inProgress"
                     placeholder="Assign User To All {{selectedSector.sector}} Cost Centres"
                     ng-model="selectedSector.user_id">
            <md-option ng-value="0">-No user-</md-option>
            <md-option ng-repeat="u in users" ng-selected="u.id === c.user_id" ng-value="u.id">{{u.first_name}}
              {{u.last_name}} ({{u.title}}) </md-option>
          </md-select>
        </td>
        <td nowrap="nowrap" class="action">
          <button ng-show="selectedDepartment !== undefined && user.section_id !== 1" ng-click="moveBySector(selectedRegion.data[0].mtefId,1,1)"
                  class="btn btn-success">Forward</button>
          <button ng-if="user.decision_level_id !== 5" ng-show="selectedDepartment !== undefined" ng-click="moveBySector(selectedRegion.data[0].mtefId,1,-1)"
                  class="btn btn-warning">Return</button>
        </td>

      </tr>
<!--      added filter by department end-->
      <tr ng-show="costCentres.length" class="bg-teal-400">
        <th>Cost Centre</th>
        <th colspan="2">
          User
        </th>
        <th colspan="2">Comments</th>
        <th>Forward/Return</th>
      </tr>
      <!-- <tr><td colspan="4" style="background-color:#00e1ff" ng-repeat="s in departments"><p>{{s.forward_message}}</p></td></tr> -->
      <tr ng-repeat="c in costCentres" ng-show="costCentres.length">
        <td flex-7>{{c.cost_centre}}</td>
        <td flex-2 colspan="2">
          <pr-progress ng-if="c.inProgress"></pr-progress>
          <md-select ng-change="assignUserByCostCentre(c)"
                     ng-disabled="c.inProgress"
                     placeholder="Assign User To this Cost Centre" ng-model="c.user_id">
            <md-option ng-value="0">-No user-</md-option>
            <md-option ng-repeat="u in users"  ng-value="u.id">{{u.first_name}}
              {{u.last_name}} ({{u.title}}) </md-option>
          </md-select>
        </td>
        <td  colspan="2"  style="word-wrap: break-word;">
          <p>{{c.forward_message}}</p>
        </td>
        <td class="action" nowrap="nowrap">
          <button ng-click="loadBudget(c.mtef_section_id)" class="btn btn-info">Open</button>
          <button ng-if="user.section_id !== 1" ng-click="moveByMtefSection(c.mtef_section_id,1)" class="btn btn-success">Forward</button>
          <button ng-click="moveByMtefSection(c.mtef_section_id,-1)" class="btn btn-warning">Return</button>
        </td>
      </tr>
    </table>

  </div>
</div>
