<div id="modal_form_horizontal" style="display: block;"  >
    <div class="modal-dialog modal-sm" style="padding: 0px !important;"  >
        <div class="modal-content" style="width:100% !important;">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="COMMENTS"></h5>
            </div>
                <div class="modal-body">
                    <p>{{message}}</p>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
        </div>
    </div>
</div>