<div id="modal_form_horizontal" style="display: block;"  >
    <div class="modal-dialog modal-sm"  >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="RECOMMENDATIONS"></h5>
            </div>
                <div class="modal-body">
                     <label for="return"><input type="radio" ng-value="-1" name="recommendation" id="return" ng-model="recommendation"> Return </label><br/>
                     <label for="pass"><input type="radio" ng-value="1" name="recommendation" id="pass" ng-model="recommendation"> Pass </label>
                </div>
                <div class="modal-footer" >
                    <button ng-disabled="saveRecommendationInProgress && recommendation === undefined"  type="button" class="btn btn-success"
                            ng-click="save()">
                        <i ng-if="!saveRecommendationInProgress" class="fa fa-save" aria-hidden="true"></i>
                        <i ng-if="saveRecommendationInProgress" class="icon-spinner3 spinner"></i>
                        <span translate="BTN_SAVE"></span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span translate="BTN_CLOSE"></span>
                    </button>
                </div>
        </div>
    </div>
</div>