<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_PERFORMANCE_INDICATOR"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="SERVICE_OUTPUT" class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <select name="plan_chain_id" class="form-control "
                                    ng-model="createDataModel.plan_chain_id" ng-required="true"
                                    ng-options="p.id as (p.code+': '+p.description)  group by (p.parent.code + ': ' + p.parent.description) for p in lowestPlanChainTypes">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.plan_chain_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="PERFORMANCE_INDICATOR" class="col-sm-3"></label>
                        <div class="col-sm-9">
                                        <textarea ng-required="true" name="description"
                                                  ng-model="createDataModel.description"
                                                  class="form-control col-sm-9"></textarea>
                            <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createForm.description.$error.required"
                                              translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="INDICATOR_VALUE" class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="number" type="text"
                                   ng-model="createDataModel.number" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                        <span class="help-block text-danger"
                                              ng-show="createForm.number.$error.required"
                                              translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6">
                            <input type="checkbox" value="true" name="is_qualitative"
                                   ng-model="createDataModel.is_qualitative">
                            Is Qualitative
                        </label>
                        <label class="col-sm-6">
                            <input type="checkbox" value="true" name="less_is_good"
                                   ng-model="createDataModel.less_is_good">
                            Less is good
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="checkbox checkbox-switchery">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
