<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="UPDATE_PERFORMANCE_INDICATOR"></h5>
      </div>

      <form action="#" class="form-horizontal" name="updateForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div
                class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
              >
                <button
                  type="button"
                  class="close"
                  ng-click="errorMessage=undefined"
                  data-dismiss="alert"
                >
                  <span>×</span><span class="sr-only">Close</span>
                </button>
                {{errorMessage | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="SERVICE_OUTPUT"></label>
                  <select
                    name="plan_chain_id"
                    class="form-control"
                    ng-model="updateDataModel.plan_chain_id"
                    ng-required="true"
                    ng-options="p.id as (p.code+': '+p.description)  group by (p.parent.code + ': ' + p.parent.description) for p in lowestPlanChainTypes"
                  >
                  </select>
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.plan_chain_id.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="PERFORMANCE_INDICATOR"></label>
                  <textarea
                    ng-required="true"
                    name="description"
                    ng-model="updateDataModel.description"
                    class="form-control"
                  ></textarea>
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.description.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="NUMBER"></label>
                  <input
                    ng-required="true"
                    name="number"
                    type="text"
                    ng-model="updateDataModel.number"
                    placeholder=""
                    class="form-control"
                  />
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.number.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="update()">
            Save
          </button>
          <button type="button" class="btn btn-warning" ng-click="close()">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="application/javascript">
  $(".select-search1").select2();
  $(".select-search2").select2();
</script>
