<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="showUploadForm===true">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-info">The <a href="/download/PERFORMANCE_INDICATORS.xlsx"><span style="text-decoration: underline">Excel</span></a> file sheet should be named <strong>PERFORMANCE_INDICATORS</strong></p>
        <p class="text-info"><strong>number</strong> & <strong>description</strong> should be the column headers of the excel file to be uploaded</p>
        <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
            <div class="form-group">
                <div class="col-sm-9">
                    <label translate="SERVICE_OUTPUT"></label>
                    <select name="plan_chain_id" class="form-control "
                            ng-model="createDataModel.plan_chain_id" ng-required="true"
                            ng-options="p.id as (p.code+': '+p.description)  group by (p.parent.code + ': ' + p.parent.description) for p in lowestPlanChainTypes">
                    </select>
                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.plan_chain_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label>
                        <span translate="LABEL_EXCEL_FILE"></span>
                    </label>
                    <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                           data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                           accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                           required ngf-model-invalid="errorFile"/>
                    <i ng-show="myForm.file.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                            ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                    </button>
                    <button type="button" class="btn btn-warning"
                            ng-click="toggleUploadForm(false)"><i class="fa fa-close"></i> Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="showList===true">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon per-page">
                                Financial Year
                            </div>
                            <select class="form-control" name="financialYearId"
                                    ng-model="financialYear" ng-change="loadVersions(financialYear.id)"
                                    ng-options="item as item.name for item in financialYears">
                                <option value="" selected="selected">-Financial Year-</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="financialYear.id > 0">
                        <div class="input-group">
                            <div class="input-group-addon per-page">
                                Version
                            </div>
                            <select class="form-control" name="version_id"
                                    ng-model="version" ng-change="loadPerformanceIndicators(version.id)"
                                    ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="version.id > 0">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchQuery" ng-change = "pageChanged()" placeholder="Search ...">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading-btn pull-right">
                   <!-- <button type="button" class="btn btn-info" ng-click="copy(financialYear,version)">
                        <i class="fa fa-copy"></i>
                        <span translate="BTN_COPY"></span>
                    </button>-->
                    <button type="button" class="btn btn-info" ng-click="create(financialYear.id,version.id)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button class="btn btn-primary" ng-click="toggleUploadForm(true)">
                        <i class="fa fa-upload"></i>
                        <span translate="BTN_UPLOAD"></span>
                    </button>
                    <a class="btn btn-success" ng-href="/files/performance-indicators/export?financialYearId={{financialYear.id}}&versionId={{version.id}}">
                        <i class="fa fa-file-excel-o"></i>
                        <span translate="BTN_EXPORT"></span>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="PERFORMANCE_INDICATOR"></th>
                            <th translate="SERIVCE_OUTPUT"></th>
                            <th translate="QUALITATIVE"></th>
                            <th translate="LESS_IS_GOOD"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr ng-repeat-start="(s,value) in items.data | groupBy:'plan_chain_code'">
                            <td colspan="5" class="bg-info">[{{s}}] {{::value[0].plan_chain}}</td>
                        </tr> -->
                        <tr ng-repeat="item in items.data">
                            <td>{{$index + 1}}</td>
                            <td>[{{item.number}}] {{item.description}}</td>
                            <td>[{{item.plan_chain_code}}] {{item.plan_chain}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="item.is_qualitative" ng-model="item.is_qualitative"
                                           ng-change="toggleQualitative(item.id, item.is_qualitative)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="item.less_is_good" ng-model="item.less_is_good"
                                           ng-change="toggleLessIsGood(item.id, item.less_is_good)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(item,currentPage,perPage,financialYear.id,version.id,item.plan_chain_version_id)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-info" ng-click="carry(financialYear.id,item)">
                                    <span translate="Carry"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage,financialYear.id,version.id)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.select-search').select2();
</script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>