<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_CAS_ASSESSMENT_SUB_CRITERIA_OPTION"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-6 col-md-offset-3">-->
                                    <!--<label translate="NAME"></label>-->
                                    <!--<input ng-required="true" name="name" type="text"-->
                                           <!--ng-model="updateDataModel.name" class="form-control">-->
                                    <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="updateForm.name.$error.required"-->
                                          <!--translate="VALIDATION_REQUIRED"></span>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="NUMBER"></label>
                                    <input ng-required="true" name="serial_number" type="text"
                                           ng-model="updateDataModel.serial_number" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.serial_number.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="HOW_TO_ASSESS"></label>
                                    <input ng-required="true" name="how_to_assess" type="text"
                                           ng-model="updateDataModel.how_to_assess" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.how_to_assess.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-6 col-md-offset-3">-->
                                    <!--<label translate="HOW_TO_SCORE"></label>-->
                                    <!--<input ng-required="true" name="how_to_score" type="text"-->
                                           <!--ng-model="updateDataModel.how_to_score" class="form-control">-->
                                    <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="updateForm.how_to_score.$error.required"-->
                                          <!--translate="VALIDATION_REQUIRED"></span>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="SCORE_VALUE"></label>
                                    <input ng-required="true" name="score_value" type="text"
                                           ng-model="updateDataModel.score_value" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.score_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-md-offset-3">
                                    <label translate="FREE_SCORE"></label>
                                    <label class="switch">
                                        <input type="checkbox" name="is_free_score" value="false"
                                               ng-model="updateDataModel.is_free_score"
                                               ng-checked="updateDataModel.is_free_score === true" />
                                        <div class="slider round"></div> &nbsp; &nbsp;
                                    </label>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-6 col-md-offset-3">-->
                                    <!--<label><span translate="CAS_ASSESSMENT_CRITERIA_OPTION"></span></label>-->
                                    <!--<select class="form-control select-search1"-->
                                            <!--ng-model="updateDataModel.cas_assessment_criteria_option_id"-->
                                            <!--name="cas_assessment_criteria_option_id"-->
                                            <!--ng-options="ds.id as (ds.number+' - '+ds.name) for ds in criteriaOptions">-->
                                    <!--</select>-->
                                    <!--<div ng-show="formHasErrors">-->
                                    <!--<span class="help-block text-danger"-->
                                          <!--ng-show="updateForm.cas_assessment_criteria_option_id.$error.required" translate="VALIDATION_REQUIRED"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
</script>