<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select ng-model="categoryVersion"
                class="form-control search1"
                ng-change="loadCriteria(categoryVersion)"
                ng-options="item.id as item.cas_assessment_category.name+ ' - '+item.financial_year.name for item in casAssessmentCategories">
            <option value="">--Select Category --</option>
        </select>
    </div>

    <div class="col-md-4">
        <select ng-model="CriteriaOption"
                class="form-control search1"
                ng-change="loadSubCriteria(CriteriaOption)"
                ng-options="item.id as  item.number + '. '+item.name for item in casAssessmentCriteriaOptions">
            <option value="">--Select Criteria --</option>
        </select>
    </div>
</div>

<div class="row" ng-show="CriteriaOption !== undefined">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create(CriteriaOption)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <!--<th translate="NAME"></th>-->
                            <th translate="SERIAL_NUMBER"></th>
                            <th translate="HOW_TO_ASSESS"></th>
                            <th translate="HOW_TO_SCORE"></th>
                            <th translate="SCORE_VALUE"></th>
                            <!--<th translate="CAS_ASSESSMENT_CATEGORY_VERSION"></th>-->
                            <th translate="FREE_SCORE"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="criteriaOption in subCriteriaOptions.data">
                            <td>{{$index + 1}}</td>
                            <!--<td>{{criteriaOption.name}}</td>-->
                            <td>{{criteriaOption.serial_number}}</td>
                            <td>{{criteriaOption.how_to_assess}}</td>
                            <td>{{criteriaOption.how_to_score}}</td>
                            <td>{{criteriaOption.score_value}}</td>
                            <!--<td>{{criteriaOption.cas_assessment_criteria_option.number}} - {{criteriaOption.cas_assessment_criteria_option.name}}</td>-->
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="criteriaOption.is_free_score" ng-model="criteriaOption.is_free_score"
                                           ng-change="toggleFreeScore(criteriaOption.id, criteriaOption.is_free_score,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(criteriaOption,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(criteriaOption.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="subCriteriaOptions.total > subCriteriaOptions.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="subCriteriaOptions.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="subCriteriaOptions.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ subCriteriaOptions.total }}" perPage="{{ subCriteriaOptions.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".search1").select2();
    $(".search2").select2();
</script>