<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createProjectDataFormContentForm" novalidate>

            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_A_NEW_PROJECT_DATA_FORM"></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PROJECT_DATA_FORM_NAME"></label>
                        <div class="col-sm-9">
                            <select name="cas_plan_id" class="form-control"
                                    ng-model="projectDataFormContentToCreate.project_data_form_id"
                                    ng-options="f.id as f.name for f in projectDataForms">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createProjectDataFormContentForm.project_data_form_id.$error.required" translate="NAME_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-required="true" name="description" type="text" ng-model="projectDataFormContentToCreate.description"
                                      placeholder="" class="form-control"></textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createProjectDataFormContentForm.description.$error.required" translate="DESCRIPTION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PARENT"></label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="form-control"
                                    ng-model="projectDataFormContentToCreate.parent_id"
                                    ng-options="f.id as f.description for f in projectDataFormContents">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_FILLED"></label>
                        <label class="switch">
                            <input name="is_filled" type="checkbox"
                                   ng-checked="casPlanContentToCreate.is_filled"
                                   ng-model="projectDataFormContentToCreate.is_filled"
                            >
                            <div class="slider round"></div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="IS_LOWEST"></label>
                        <label class="switch">
                            <input name="is_lowest" type="checkbox"
                                   ng-checked="casPlanContentToCreate.is_lowest"
                                   ng-model="projectDataFormContentToCreate.is_lowest"
                            >
                            <div class="slider round"></div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input name="sort_order" type="number" class="form-control"
                                   ng-model="projectDataFormContentToCreate.sort_order"
                            >
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createProjectDataFormContentForm.sort_order.$error.required" translate="ORDER_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>