<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select ng-model="selectedForm"
                class="form-control"
                ng-change="loadContents(selectedForm)"
                ng-options="projectDataForm.id as projectDataForm.name for projectDataForm in projectDataForms">
            <option value="">--Select a form--</option>
        </select>
    </div>
</div>
<div class="row" ng-show="projectDataFormContents != undefined">
    <div class="col-md-12">
        <button type="button" href class="btn btn-success pull-right create-btn" ng-click="create(selectedForm)" translate="BTN_CREATE"></button>&nbsp;&nbsp;
        <button style="margin-right:4px" type="button" ng-disabled="projectDataFormContentNode.currentNode === undefined" href class="btn btn-info pull-right create-btn" ng-click="edit(projectDataFormContentNode.currentNode)" translate="BTN_EDIT"></button>
        <button style="margin-right:4px" type="button" ng-disabled="projectDataFormContentNode.currentNode === undefined" href class="btn btn-danger pull-right" ng-click="delete(projectDataFormContentNode.currentNode.id)" translate="BTN_DELETE"></button>

        <br />
        <div class="row">
            <div class="col-md-12" style="background: #FFF;padding:6px 6px 6px 6px;border:1px solid #ddd;border-radius:4px">
                <input style="width:100%" class="form-control"  ng-model='projectDataFormContentNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                <br />
                <div
                        data-angular-treeview="true"
                        data-tree-id="projectDataFormContentNode"
                        data-tree-model="projectDataFormContents"
                        data-node-id="id"
                        data-node-label="description"
                        data-node-children="children"
                        data-search-query='projectDataFormContentNodeSearchQuery'
                >
                </div>
                <br/>
            </div>
        </div>
        <br/>

    </div>
</div>
