<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
   </div>
</div>
<div class="row">
    <div class="col-md-12">
        <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="(key,values) in configurations" heading="{{key}}" disable="tab.disabled">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="bg-teal-400">
                    <tr>
                        <th style="width:20%">Name</th>
                        <th style="width:30%">Description</th>
                        <th style="width:45%">Value</th>
                        <th style="width:5%"><button class="btn btn-primary pull-right" ng-click="save(values)">Save All</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="config in values">
                        <td>{{config.name | translate}}</td>
                        <td>{{config.description}}
                            <!-- <ul>
                                <li ng-repeat="v in config.value">{{v}} </li>
                            </ul>
                            </td> -->
                            <!-- {{config.value}} -->
                        <td>
                            <md-input-container style="width:100%">
                            <input  type="text" ng-model="config.value" ng-if="config.value_type=='TEXT'">
                            <input  type="number" ng-model="config.value" ng-if="config.value_type=='NUMBER'">
                            <md-select  ng-if="config.value_type=='SELECT' && config.query_options.length >0" ng-model="config.value">
                                <md-option ng-selected="o.value==config.value" ng-repeat="o in config.query_options" value="{{o.value}}">{{o.name}}</md-option>
                            </md-select>
                            <md-select  ng-if="config.value_type=='SELECT' && config.query_options == undefined" ng-model="config.value">
                                <md-option ng-selected="o.value==config.value" ng-repeat="o in getOptions(config.value_options)" value="{{o.value}}">{{o.name}}</md-option>
                            </md-select>
                            <md-select multiple='true'  ng-if="config.value_type=='MULT_SELECT' && config.query_options.length >0" ng-model="config.value">
                                <md-option  ng-repeat="o in config.query_options" value="{{o.value}}">{{o.name}}</md-option>
                            </md-select>
                            <md-select multiple='true'  ng-if="config.value_type=='MULT_SELECT' && config.query_options == undefined" ng-model="config.value">
                                <md-option ng-repeat="o in getOptions(config.value_options)" value="{{o.value}}">{{o.name}}</md-option>
                            </select>
                            <input  type="checkbox" ng-model="config.value" ng-if="config.value_type=='BOOLEAN'" />
                            <textarea  ng-if="config.value_type=='RICH_TEXT'" ng-model="config.value"></textarea>
                            </md-input-container>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </uib-tab>
        </uib-tabset>
    </div>
</div>
