<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <main-filter dont-show="['ADMIN_HIERARCHY_LEVEL_1','SEARCH','PLANNING_LEVELS','PLANNING_UNITS']" on-change="filterChanged(filter)"></main-filter>
    <div layout="row">
        <div layout="column" flex = 25>
          <md-input-container>
              <label>Financial System</label>
              <md-select aria-label="system_code" ng-model="system_code" >
                  <md-option ng-repeat="item in system_codes" ng-value="item">{{item}}</md-option>
              </md-select>
          </md-input-container>
        </div>
        <div layout="column" flex = 25>
           <md-input-container>
               <md-radio-group aria-label="status"  layout="row" ng-model = "status">
                    <md-radio-button ng-value="true"> Sent</md-radio-button>
                    <md-radio-button ng-value="false"> Not Sent</md-radio-button>
                </md-radio-group>
           </md-input-container>
        </div>
        <div layout="column">
          <md-dialog-actions>
          <md-button ng-disabled="(selectedAdminHierarchyLevelPosition != 4 || system_code == undefined)"
              class="md-raised md-primary"
              ng-click="loadTransactions()">Load Transactions </md-button>
          </md-dialog-actions>
        </div>

    </div>
</div>

<div class="row"  ng-show="transactions.length > 0 && show_accounts == false">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" >
                <thead class="bg-teal-400">
                <tr>
                    <th></th>
                    <th translate="COUNCIL"></th>
                    <th translate="DESCRIPTION"></th>
                    <th translate="TRANSACTIONS"></th>
                    <th translate="">MESSAGE ID</th>
                    <th translate="SENT"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in transactions">
                    <td><input type="checkbox" ng-model="transaction_id" ng-click="loadBudget(item)"/></td>
                    <td>{{ item.council }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.transactions }}</td>
                    <td>{{ item.control_number }}</td>
                    <td>{{ item.is_sent }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-show="show_accounts == true">

    <div layout="column" layout-align="end end" ng-if="user.decision_level_id !== 4">
        <md-button ng-show="default_transaction.is_sent"
            class="md-raised md-warn"
            ng-click="exportAccounts(default_transaction.id, system_code, selectedItems)">
            RESEND
            <span ng-show="selectedItems.length >  0">({{ selectedItems.length }} Selected)</span>
            <span ng-show="selectedItems.length == 0">(All)</span>
        </md-button>
        </md-dialog-actions>
        <md-button ng-show="default_transaction.is_sent == false"
            class="md-raised md-primary"
            ng-click="exportAccounts(default_transaction.id, system_code, selectedItems)">
            EXPORT
            <span ng-show="selectedItems.length >  0">({{ selectedItems.length }}Selected)</span>
            <span ng-show="selectedItems.length == 0">(All)</span>
        </md-button>
        </md-dialog-actions>
    </div>
    <div layout="column">
        <b>Total : {{ total|currency:'' }}</b>
    </div>
</div>

<div class="row"  ng-show="show_accounts == true">
        <div class="col-md-4">
                <input type="text" class="form-control" ng-model="facilityCode" placeholder="Search....."
                 ng-change="filterAccounts(facilityCode)"/>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" >
                    <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th translate="COUNCIL"></th>
                        <th translate="CHART_OF_ACCOUNT"></th>
                        <th translate="AMOUNT"></th>
                        <th translate="IS_DELIVERED"></th>
                        <th translate="RESPONSE"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in selected_accounts">
                        <td><input type="checkbox" ng-model="checked"  ng-click="addItem(item.export_account_id, checked)"/></td>
                        <td>{{ item.council }}</td>
                        <td>{{ item.chart_of_accounts }}</td>
                        <td align="right">{{ item.amount| currency:'' }} </td>
                        <th>{{ item.is_delivered }}</th>
                        <th>{{ item.response }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
