<div id="modal_form_horizontal" style="display: block;" >
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header bg-teal-400">
              <button type="button" ng-click="close()" class="close" >×</button>
              <h5 class="modal-title" translate="TITLE_CREATE_GEO_LOCATION"></h5>
          </div>

          <form action="#" class="form-horizontal" name="createGeoLocationForm" novalidate>
              <div class="modal-body">

                  <div ng-show="errorMessage" class="col-md-12">
                      <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                          <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                          {{errorMessage | translate}}
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                      <div class="col-sm-9">
                          <input ng-required="true" name="name" type="text" ng-model="geoLocationToCreate.name" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="createGeoLocationForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_GEO_LOCATION_LEVEL"></span><span>*</span>
                      </label>
                      <div class="col-sm-9">
                          <select ng-options="level.id as level.name for level in geoLocationLevels.data"
                                  ng-model="geoLocationToCreate.geo_location_level_id"
                                  ng-change="loadParentGeoLocations(geoLocationToCreate.geo_location_level_id)"
                                  class="form-control"
                                  ng-required="true"
                                  name="level">
                              <option value="" selected translate="SELECT_GEO_LOCATION_LEVEL"></option>
                          </select>
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="createGeoLocationForm.level.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_CODE"></span><span>*</span>
                      </label>
                      <div class="col-sm-9">
                          <input ng-required="true" name="code" type="text" ng-model="geoLocationToCreate.code" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="createGeoLocationForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_GEO_LOCATION_PARENT"></span>
                      </label>
                      <div class="col-sm-9">
                          <select ng-options="parent.id as parent.name for parent in geoLocationParents"
                                  ng-model="geoLocationToCreate.parent_id"
                                  class="form-control selectparent">
                              <option value="" selected translate="SELECT_PARENT"></option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                      <div class="col-sm-9">
                          <input  ng-min="1" name="sort_order" type="number" ng-model="geoLocationToCreate.sort_order" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="createGeoLocationForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                              <span class="help-block text-danger"
                                    ng-show="createGeoLocationForm.sort_order.$error.min"
                                    translate="VALIDATION_MIN"
                              ></span>
                          </div>

                      </div>
                  </div>

              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                  <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
              </div>
          </form>
      </div>
  </div>
</div>
<script type="application/javascript">
  $(".selectparent").select2();
</script>
