<style>
  ul {
    list-style-type: none;
  }

  a.selected {
    background: #00BCD4;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
  }
</style>
<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
  <div ng-show="errorRows" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <pre>Facility Upload failed: Error rows: {{errorRows}}</pre>
    </div>
  </div>
  <div ng-show="duplicates.length > 0" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="duplicates=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      <pre>
              Duplicate Facility Code(s): {{duplicates}}
          </pre>
    </div>
  </div>
  <div ng-show="parentErrors.length > 0" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="parentErrors=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      Parent Geographical Location Not Exist Errors: {{parentErrors}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Multiple buttons -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <a href class="btn btn-success" ng-click="revealUploadForm()">
            <span translate="BTN_UPLOAD"></span>
          </a>
        </span>
        <div class="heading-elements">
          <div class="heading-btn">
            <button type="button" href class="btn btn-success" ng-click="create()" translate="BTN_CREATE"></button>
            <button type="button" ng-disabled="selectedGeoLocation === undefined" href class="btn btn-info"
              ng-click="edit(selectedGeoLocation)" translate="BTN_EDIT"></button>
            <button type="button" ng-disabled="selectedGeoLocation === undefined" href class="btn btn-danger"
              ng-click="delete(selectedGeoLocation.id)" translate="BTN_DELETE"></button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-show="showUploadForm===true">
          <div class="col-md-6 col-md-offset-3">
            <p class="text-info">The <a href="/download/GEOGRAPHICAL_LOCATIONS.xlsx"><span
                  style="text-decoration: underline">Excel</span></a> file sheet should be named
              <strong>GEOGRAPHICAL_LOCATIONS</strong></p>
            <p class="text-info"><strong>name</strong>, <strong>code</strong> &
              <strong>parent_geo_location_code</strong> should be the column headers of the excel file to be uploaded
            </p>
            <form action="#" id="uploadGeoLocations" class="form-horizontal" method="POST" name="myForm" novalidate>
              <div class="form-group">
                <div class="col-sm-12">
                  <label>
                    <span translate="LABEL_GEO_LOCATION_LEVEL"></span><span>*</span>
                  </label>
                  <select ng-options="level.id as level.name for level in geoLocLevels"
                    ng-model="geoLocationToCreate.geo_location_level_id" class="form-control select-search"
                    ng-required="true" name="level">
                    <option value="" selected translate="SELECT_GEO_LOCATION_LEVEL"></option>
                  </select>
                  <div ng-show="formHasErrors">
                    <span class="help-block text-danger" ng-show="myForm.level.$error.required"
                      translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <span translate="LABEL_EXCEL_FILE"></span>
                  </label>
                  <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                    data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                    accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'" required
                    ngf-model-invalid="errorFile" />
                  <i ng-show="myForm.file.$error.maxSize">File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                    ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                  </button>
                  <button type="button" class="btn btn-warning" ng-click="closeUploadForm()"><i class="fa fa-times"></i>
                    Close
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br />
        <div class="row" ng-show="showList===true">
          <input class="form-control" ng-change="search()" ng-model='geoLocationNodeSearchQuery' type="text"
            placeholder="Search in tree..." />
        </div>
        <br />
        <div class="row" ng-show="showList===true">
          <div>
            <ul>
              <li>
                <i ng-show="!userGeoLocation.expanded" class="fa fa-plus-square-o"
                  ng-click="loadChildren(userGeoLocation)"></i>
                <i ng-show="userGeoLocation.expanded" class="fa fa-minus-square-o"
                  ng-click="userGeoLocation.expanded=false"></i>
                <span>{{location.name}}</span>
                <ul ng-show="userGeoLocation.expanded">
                  <li ng-repeat="a in userGeoLocation.children">
                    <i ng-show="!a.expanded" class="fa fa-plus-square-o" ng-click="loadMoreChildren(a)"></i>
                    <i ng-show="a.expanded" class="fa fa-minus-square-o" ng-click="a.expanded=false"></i>
                    <a ng-class="{'selected':a.id===selectedGeoLocation.id}" href
                      ng-click="setSelected(a,userGeoLocation)">{{a.name}}</a>
                    <ul ng-show="a.expanded">
                      <li ng-repeat="a2 in a.children">
                        <i ng-show="!a2.expanded" class="fa fa-plus-square-o" ng-click="loadMoreChildren(a2)"></i>
                        <i ng-show="a2.expanded" class="fa fa-minus-square-o" ng-click="a2.expanded=false"></i>
                        <a ng-class="{'selected':a2.id===selectedGeoLocation.id}" href
                          ng-click="setSelected(a2,a)">{{a2.name}}</a>
                        <ul ng-show="a2.expanded">
                          <li ng-repeat="a3 in a2.children">
                            <i ng-show="!a3.expanded" class="fa fa-plus-square-o" ng-click="loadMoreChildren(a3)"></i>
                            <i ng-show="a3.expanded" class="fa fa-minus-square-o" ng-click="a3.expanded=false"></i>
                            <a ng-class="{'selected':a3.id===selectedGeoLocation.id}" href
                              ng-click="setSelected(a3,a2)">{{a3.name}}</a>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /multiple button -->
  </div>
</div>
