<div id="modal_form_horizontal" style="display: block;" >
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header bg-teal-400">
              <button type="button" ng-click="close()" class="close" >×</button>
              <h5 class="modal-title" translate="EDIT_GEO_LOCATION"></h5>
          </div>
          <form action="#" class="form-horizontal" name="updateGeoLocationForm">
              <div class="modal-body">

                  <div ng-show="errorMessage" class="col-md-12">
                      <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                          <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                          {{errorMessage | translate}}
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                      <div class="col-sm-9">
                          <input ng-required="true" name="name" type="text" ng-model="geoLocationToEdit.name" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_GEO_LOCATION_LEVEL"></span><span>*</span>
                      </label>
                      <div class="col-sm-9">
                          <select ng-model="geoLocationToEdit.geo_location_level_id"
                                  ng-options="level.id as level.name for level in geoLocationLevels"
                                  ng-change="loadParentGeoLocations(geoLocationToEdit.geo_location_level_id)"
                                  ng-required="true"
                                  class="form-control"
                                  name="level"
                          >
                          </select>
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationForm.level.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_CODE"></span><span>*</span>
                      </label>
                      <div class="col-sm-9">
                          <input ng-required="true" name="code" type="text" ng-model="geoLocationToEdit.code" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                          </div>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3" >
                          <span translate="LABEL_GEO_LOCATION_PARENT"></span>
                      </label>
                      <div class="col-sm-9">
                          <select ng-model="geoLocationToEdit.parent_id"
                                  ng-options="parent.id as parent.name for parent in geoLocationParents"
                                  class="form-control">
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                      <div class="col-sm-9">
                          <input  ng-min="1" name="sort_order" type="number" ng-model="geoLocationToEdit.sort_order" placeholder="" class="form-control">
                          <div ng-show="formHasErrors">
                              <span class="help-block text-danger" ng-show="updateGeoLocationForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                              <span class="help-block text-danger"
                                    ng-show="updateGeoLocationForm.sort_order.$error.min"
                                    translate="VALIDATION_MIN"
                              ></span>
                          </div>

                      </div>
                  </div>

              </div>

              <div class="modal-footer" >
                  <button type="button" class="btn btn-primary action" ng-click="update()" translate="BTN_SAVE"></button>
                  <button type="button" class="btn btn-warning cancel" ng-click="close()" translate="BTN_CLOSE"></button>
              </div>
          </form>
      </div>
  </div>
</div>
