<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_NEW_SECTOR"></h5>
            </div>
            <form action="#" class="form-horizontal" name="createSectorForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="sectorToCreate.name" placeholder="e.g Health" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectorForm.name.$error.required" >Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CODE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="code" type="text" ng-model="sectorToCreate.code" placeholder="e.g Health" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectorForm.code.$error.required" >Code is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-model="sectorToCreate.description" placeholder="Description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>