<style type="text/css">
    td:hover {
        background-color: #EAEAEA;
        color: white;
    }
    </style>
<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
             <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>Your Notifications </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="notification in notifications.data | orderBy: '- created_at'" bgcolor="{{notification.read_at == null ? '#F7F7F7':'white'}}">
                <td>
                    <a style="color: black; " href="/read_notification/{{ notification.id}}">

                    <div class="col-sm-1" style="float: left">
                        <i class="{{ notification.data.notification_icon }}"></i></div><div class="col-sm-10">
                    {{ notification.data.message_text }}
                    <div><small class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        <time-ago from-time='{{notification.created_at}}'></time-ago>
                    </small></div>
                </div>

                    </a>
                </td>

            </tr>
            </tbody>
        </table>
        <br/>
        <div class="row" ng-show="notifications.total > 10">
            <div class="col-md-10">
                <ul uib-pagination total-items="notifications.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="notifications.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <!--<total-pages currentPage="{{currentPage}}" totalItems="{{ notifications.total }}" perPage="{{ notifications.per_page }}"></total-pages>-->
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
        <!--<ul uib-pagination total-items="notification.total" items-per-page="notification.per_page" ng-model="currentPage" ng-change="pageChanged()" ></ul>-->
    </div>
</div>

