<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">Activity Sub-milestone & Project Outputs</h5>
                </div>
                <div class="modal-body">
                    <p><strong>Activity: </strong>{{activity.code}} - {{activity.description}}</p>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="milestones.length > 0">
                        <div class="col-md-12">
                            <h4>Activity Sub-Milestones</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="MILESTONE"></th>
                                        <th translate="START_END"></th>
                                        <th translate="WORKING_DAYS"></th>
                                        <th translate="PERIOD"></th>
                                        <th translate="AMOUNT"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat-start="(value, arrayList) in milestones | groupBy:'phase'">
                                        <td colspan="4" class="bg-info">
                                            <b>Main Task: {{value}}</b>
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button" ng-click="retrieveOutMilestoneData(arrayList)"><i class="fa fa-send"></i> Retrieve Data</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-repeat="item in arrayList">
                                        <td>{{item.description}}</td>
                                        <td nowrap="">{{item.start_date|date:"mediumDate"}} - {{item.end_date|date:"mediumDate"}}</td>
                                        <td>{{item.working_days}}</td>
                                        <td>{{item.quarter}}</td>
                                        <td>{{item.amount|currency:""}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="outputs.length > 0">
                        <div class="col-md-12">
                            <h4>Activity Project Output</h4>
                            <button class="btn btn-success" type="button" ng-click="retrieveOutProjectOutputData()"><i class="fa fa-send"></i> Retrieve Data</button>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="EXPENDITURE_CATEGORY"></th>
                                        <th translate="OUTPUT"></th>
                                        <th translate="VALUE"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat-end="" ng-repeat="item in outputs">
                                        <td>{{item.project_output.expenditure_category.name}}</td>
                                        <td>{{item.project_output.name}}</td>
                                        <td>{{item.value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>

            </div>
        </form>
    </div>
</div>