<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-show="canBudgetSections.length < 1">
    <div class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            You don't have budgeting permissions!
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="canBudgetSections.length > 0" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label>Cost Centre</label>
                <select class="form-control"
                        ng-model="section" ng-change="loadBudgetClasses(section.id)"
                        name="section" ng-options="exp as (exp.code+' - '+exp.name) for exp in canBudgetSections">
                </select>
            </div>
        </div>
        <br />
        <div class="row" ng-show="budgetClasses.length > 0">
            <div class="col-md-12">
                <label>Budget Class</label>
                <select class="form-control"
                        ng-model="budgetClass" ng-change="loadFundSources(budgetClass.id)"
                        name="budgetClass" ng-options="exp as (exp.name) for exp in budgetClasses">
                </select>
            </div>
        </div>
        <br />
        <div class="row" ng-show="fundSources.length > 0">
            <div class="col-md-12">
                <label>Fund Source</label>
                <select class="form-control"
                        ng-model="fundSource" ng-change="loadActivities(section.id,budgetClass.id,fundSource.id)"
                        name="fundSource" ng-options="exp as (exp.name) for exp in fundSources">
                </select>
            </div>
        </div>
        <br />
        <div class="row" ng-show="sectionActivities.total > 0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <label>Activities</label>
                    </div>
                    <!--<div class="col-md-6">
                        <button class="btn btn-success pull-right" ng-click="restoreAllData(section.id,budgetClass.id,fundSource.id)"><i class="fa fa-database"></i> Restore Data</button>
                    </div>-->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th nowrap translate="ACTIVITY_CODE"></th>
                                    <th translate="ACTIVITY"></th>
                                    <th translate="FUND_SOURCE"></th>
                                    <th translate="FACILITY"></th>
                                    <th translate="BUDGET"></th>
                                    <th translate="ALLOCATION"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat-start="(value, arrayList) in sectionActivities.data | groupBy:'budget_class'">
                                    <td colspan="6" class="bg-info"><b>Budget Class: {{value}}</b></td>
                                </tr>
                                <tr ng-repeat-start="(value2, arrayList2) in arrayList | groupBy:'account_type'">
                                    <td colspan="6" class="bg-teal-400"><b>Account Type: {{value2}}</b></td>
                                </tr>
                                <tr ng-repeat-start="item in arrayList2">
                                    <td>{{item.code}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.fund_source}}</td>
                                    <td nowrap><button class="btn btn-success" type="button" ng-click="assignMilestoneAndProjectOutput(item,sectionId, budgetClassId, fundSourceId)">{{item.facility}}</button></td>
                                    <td><span class="pull-right">{{item.budget|currency:""}}</span></td>
                                    <td nowrap="nowrap">
                                        <button type="button" ng-class="(item.budget-item.allocated_amount)===0?'btn-success':'btn-warning'" class="btn" ng-click="activityPhases(item)">
                                            {{(item.budget-item.allocated_amount)===0?"Done":"Pending"}}
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="false" ng-repeat-end><td></td></tr>
                                <tr ng-if="false" ng-repeat-end><td></td></tr>
                                <tr ng-if="false" ng-repeat-end><td></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10" ng-show="sectionActivities.total > sectionActivities.per_page">
                <ul uib-pagination total-items="sectionActivities.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="sectionActivities.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ sectionActivities.total }}" perPage="{{ sectionActivities.per_page }}"></total-pages>
            </div>
            <div class="col-md-2" ng-show="sectionActivities.total > 0">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>