<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">{{activityPhase.description}}|{{activityPhase.activity.description}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="SNO"></th>
                                        <th translate="MILESTONE"></th>
                                        <th translate="ACTION"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="text" ng-model="newMileStone.description" class="form-control"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-success" type="button" ng-click="addToMileStones()">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="milestone in milestones">
                                        <td>{{$index + 1}}</td>
                                        <td>{{milestone.description}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning" type="button"
                                                    ng-click="removeMilestone(milestone.id)">
                                                <i class="fa fa-remove"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>