<div id="modal_form_horizontal" style="display: block;" ng-cloak>
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">Activity Phase Management</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                                <ul ng-show="errors.length" class="form-errors">
                                    <li ng-repeat="e in errors">{{e}}</li>
                                </ul>
                            </div>
                        </div>
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Activity: </strong>{{activity.code}} - {{activity.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="text-bold underlined">Budget: {{activity.budget|currency:"TZS "}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-bold underlined" ng-show="create===true">Allocated: {{allocated(milestones,amount)|currency:"TZS "}}</h5>
                            <h5 class="text-bold underlined" ng-show="update===true">Allocated: {{allocated(milestones,mModel.amount)|currency:"TZS "}}</h5>
                            <h5 class="text-bold underlined" ng-show="edit===true">Allocated: {{allocated(milestones,mModel.amount)|currency:"TZS "}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-bold underlined" ng-class="(activity.budget - allocated(milestones,amount)) < 0?'text-danger':'text-success'" ng-show="create===true">Available:
                                {{(activity.budget - allocated(milestones,amount))|currency:"TZS "}}</h5>
                            <h5 class="text-bold underlined" ng-class="(activity.budget - allocated(milestones,amount)) < 0?'text-danger':'text-success'" ng-show="update===true">Available:
                                {{(activity.budget - allocated(milestones,mModel.amount))|currency:"TZS "}}</h5>
                            <h5 class="text-bold underlined" ng-class="(activity.budget - allocated(milestones,mModel.amount)) < 0?'text-danger':'text-success'" ng-show="edit===true">
                                Available: {{(activity.budget - allocated(milestones,mModel.amount))|currency:"TZS "}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" name="newPhaseForm" novalidate>
                                        <div class="form-group" ng-show="showInitPhase===true">
                                            <div class="col-sm-12">
                                                <textarea name="description" ng-model="phaseModel.description" rows="3" placeholder="Main Task" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="showInitBtn===true && milestones.length < 1">
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-success btn-block" ng-click="revealInitPhase()"><i class="fa fa-plus"></i> <span
                                                        translate="CREATE_MAIN_TASK"></span></button>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="showInitPhase===true && phaseModel.description.length > 0">
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-success btn-block" ng-click="initPhase()"><i
                                                        class="fa fa-forward"></i> Next(Enter Sub-milestones)
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br/>
                            <div class="row" ng-show="showPushMilestone===true">
                                <form class="form-horizontal" name="newMilestoneForm" novalidate>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <h6 class="text-bold underlined">Main Task: {{phaseModel.description}}</h6>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>
                                                    <h6 class="text-bold underlined" translate="MILESTONE"></h6>
                                                </label>
                                                <textarea ng-model="subMilestone" name="milestone2" rows="3" placeholder="Sub-milestone" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label translate="PERIOD"></label>
                                                <select class="form-control" ng-change="clearDates(period)"
                                                        ng-model="period"
                                                        name="period" ng-options="period as (period.name +'('+period.start_date+' - '+period.end_date+')') for period in periods">
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label translate="LABEL_START_DATE"></label>
                                                <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                                    <input ng-click="startPopup =true" type="text" class="form-control"
                                                           uib-datepicker-popup="{{dateFormat}}"
                                                           ng-model="dateRange.start_date" is-open="startPopup"
                                                           datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                                           ng-required="true"
                                                           name="start_date"
                                                           ng-value="period.start_date"
                                                           close-text="Close"
                                                           popup-placement="bottom"
                                                           alt-input-formats="altInputFormats"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label translate="LABEL_END_DATE"></label>
                                                <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                                    <input ng-click="endPopup =true" type="text" class="form-control"
                                                           uib-datepicker-popup="{{dateFormat}}"
                                                           ng-model="dateRange.end_date" is-open="endPopup"
                                                           datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           ng-value="period.end_date"
                                                           name="end_date"
                                                           popup-placement="bottom"
                                                           alt-input-formats="altInputFormats"/>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label translate="AMOUNT"></label>
                                                <input ng-required="true" type="text" number-to-currency ng-model="amount" name="amount" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <button type="button" ng-show="(activity.budget === allocated(milestones,amount))" class="btn btn-success btn-block" ng-click="createPhase()">
                                                    Save
                                                </button>
                                                <button type="button" ng-show="(activity.budget >= allocated(milestones,amount))" class="btn btn-success btn-block"
                                                        ng-click="pushMilestone(subMilestone,period,amount)">Add Milestone
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" ng-show="showAddMoreMilestoneBtn === true && (phaseModel.milestones.length > 0 && activity.budget > allocated(milestones,amount))"
                                    class="btn btn-success btn-block" ng-click="addMoreMilestone()"><i class="fa fa-plus"></i> Milestone
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="phaseModel.milestones.length > 0 && milestones.length < 1" ng-cloak>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="MILESTONE"></th>
                                        <th translate="START_END"></th>
                                        <th translate="PERIOD"></th>
                                        <th translate="AMOUNT"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="5" class="bg-info"><b>Main Task: {{phaseModel.description}}</b></td>
                                    </tr>
                                    <tr ng-repeat="item in phaseModel.milestones">
                                        <td>{{item.description}}</td>
                                        <td nowrap="">{{item.start_date|date:"mediumDate"}} - {{item.end_date|date:"mediumDate"}}</td>
                                        <td>{{item.period.name}}</td>
                                        <td>{{item.amount|currency:""}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="showMinMilestoneForm===true">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>
                                        <h6 class="text-bold underlined" translate="MILESTONE"></h6>
                                    </label>
                                    <textarea ng-model="mModel.description" rows="3" placeholder="Sub-milestone" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label translate="PERIOD"></label>
                                    <select class="form-control" ng-change="clearDateRange(period)"
                                            ng-model="period"
                                            name="period" ng-options="period as (period.name +'('+period.start_date+' - '+period.end_date+')') for period in periods">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label translate="LABEL_START_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="mModel.start_date" is-open="startPopup"
                                               datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                               ng-required="true"
                                               name="start_date"
                                               ng-value="period.start_date"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label translate="LABEL_END_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="endPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="mModel.end_date" is-open="endPopup"
                                               datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                               ng-required="true"
                                               close-text="Close"
                                               ng-value="period.end_date"
                                               name="end_date"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label translate="AMOUNT"></label>
                                    <input type="text" number-to-currency ng-model="mModel.amount" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <button type="button" ng-disabled="(activity.budget < allocated(milestones,mModel.amount))" class="btn btn-success btn-block"
                                            ng-click="insertMilestone()">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="milestones.length > 0">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="MILESTONE"></th>
                                        <th translate="START_END"></th>
                                        <th translate="WORKING_DAYS"></th>
                                        <th translate="PERIOD"></th>
                                        <th translate="AMOUNT"></th>
                                        <th translate="ACTION"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat-start="(value, arrayList) in milestones | groupBy:'phase'">
                                        <td colspan="4" class="bg-info">
                                            <b>Main Task: {{value}}</b>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-default" ng-click="updateMainTaskForm(arrayList)" type="button"><i class="fa fa-pencil"></i> Edit Main Task</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-block pull-right" ng-click="addMoreMilestoneToPhase(arrayList)"><i class="fa fa-plus"></i> Milestone</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end="" ng-repeat="item in arrayList">
                                        <td>{{item.description}}</td>
                                        <td nowrap="">{{item.start_date|date:"mediumDate"}} - {{item.end_date|date:"mediumDate"}}</td>
                                        <td>{{item.working_days}}</td>
                                        <td>{{item.quarter}}</td>
                                        <td>{{item.amount|currency:""}}</td>
                                        <td nowrap>
                                            <button class="btn btn-sm btn-info" type="button"
                                                    ng-click="updateMilestoneInfo(item)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button ng-show="milestones.length > 1" class="btn btn-sm btn-warning" type="button"
                                                    ng-click="removeMilestone(item.id)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="showUpdateMainTaskForm===true">
                        <div class="col-md-12">
                            <form class="form-horizontal" name="updateMainTask" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>
                                            <h6 class="text-bold underlined" translate="MAIN_TASK"></h6>
                                        </label>
                                        <textarea ng-required="true" ng-model="phaseModel.description" name="description" rows="3" placeholder="Main Task" class="form-control"></textarea>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="updateMainTask.description.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button class="btn btn-success btn-block" type="button" ng-click="updateMainTaskInfo()"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="showUpdateMilestoneForm===true">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>
                                        <h6 class="text-bold underlined" translate="MILESTONE"></h6>
                                    </label>
                                    <textarea ng-model="mModel.description" rows="3" placeholder="Sub-milestone" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label>Quarter: (<strong>{{mModel.quarter}}</strong>)</label>
                                    <select class="form-control" ng-change="clearDateRange(period)"
                                            ng-model="period"
                                            name="period" ng-options="period as (period.name +'('+period.start_date+' - '+period.end_date+')') for period in periods">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label translate="LABEL_START_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="mModel.start_date" is-open="startPopup"
                                               datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                               ng-required="true"
                                               name="start_date"
                                               ng-value="period.start_date"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label translate="LABEL_END_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="endPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="mModel.end_date" is-open="endPopup"
                                               datepicker-options="{minDate:period.start_date,maxDate:period.end_date}"
                                               ng-required="true"
                                               close-text="Close"
                                               ng-value="period.end_date"
                                               name="end_date"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label translate="AMOUNT"></label>
                                    <input type="text" number-to-currency ng-model="mModel.amount" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <button type="button" ng-disabled="(activity.budget < allocated(milestones,mModel.amount)) || mModel.amount < 1" class="btn btn-success"
                                            ng-click="updatePhaseMilestoneDataaaa()"><i class="fa fa-save"> Save</i></button>
                                    <button type="button" class="btn btn-warning" ng-click="closeUpdatePhaseMilestoneForm()"><i class="fa fa-close"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="phaseModel.outputs.length > 0" ng-cloak>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="EXPENDITURE_CATEGORY"></th>
                                        <th translate="OUTPUT"></th>
                                        <th translate="VALUE"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in phaseModel.outputs">
                                        <td>{{item.expenditureCategory.name}}</td>
                                        <td>{{item.projectOutput.name}}</td>
                                        <td>{{item.value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row"
                         ng-show="activity.budget_class === 'DEV' && ((activity.budget - allocated(milestones,0)) === 0 && (activity.budget - allocated(phaseModel.milestones,0)) === 0)">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" ng-click="enterProjectOutput()">Add Project Output</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="outputs.length > 0">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th translate="OUTPUT"></th>
                                                <th translate="VALUE"></th>
                                                <th translate="REMOVE"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat-start="(value, arrayList) in outputs | groupBy:'project_output.expenditure_category.name'">
                                                <td colspan="3" class="bg-info"><b>Expenditure Category: {{value}}</b></td>
                                            </tr>
                                            <tr ng-repeat-end="" ng-repeat="item in arrayList">
                                                <td>{{item.project_output.name}}</td>
                                                <td>{{item.value}}</td>
                                                <td nowrap>
                                                    <button class="btn btn-sm btn-info" type="button"
                                                            ng-click="editOutput(item)">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-warning" type="button"
                                                            ng-click="removeOutput(item.id)">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="showProjectOutputForm===true">
                        <form class="form-horizontal" name="newProjectOutputForm" novalidate>
                            <div class="col-md-12">
                                <h5>Project Output</h5>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label translate="PROJECT_TYPE"></label>
                                        <select ng-required="true" class="form-control" ng-change="loadExpenditureCategories(projectType.id)"
                                                ng-model="projectType"
                                                name="projectType" ng-options="val as val.name for val in projectTypes">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="newProjectOutputForm.projectType.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="EXPENDITURE_CATEGORY"></label>
                                        <select ng-required="true" class="form-control" ng-change="loadProjectOutputs(expenditureCategory.id)"
                                                ng-model="expenditureCategory"
                                                name="expenditureCategory" ng-options="val as val.name for val in expenditureCategories">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="newProjectOutputForm.expenditureCategory.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="OUTPUT"></label>
                                        <select class="form-control" ng-required="true"
                                                ng-model="projectOutput"
                                                name="projectOutput" ng-options="val as val.name for val in projectOutputs">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="newProjectOutputForm.projectOutput.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="VALUE"></label>
                                        <input type="number" class="form-control" ng-required="true" name="outputValue" ng-model="outputValue"/>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="newProjectOutputForm.outputValue.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-success" type="button" ng-click="addOutput(projectType,expenditureCategory,projectOutput,outputValue)"><i
                                                class="fa fa-plus"></i> Add Output
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row" ng-show="showUpdateProjectOutputForm===true">
                        <form class="form-horizontal" name="updateProjectOutputForm" novalidate>
                            <div class="col-md-12">
                                <h5>Project Output</h5>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label translate="PROJECT_TYPE"></label>
                                        <select ng-required="true" class="form-control" ng-change="loadExpenditureCategories(projectOutputData.projectTypeId)"
                                                ng-model="projectOutputData.projectTypeId"
                                                name="projectTypeId" ng-options="val.id as val.name for val in projectTypes">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="updateProjectOutputForm.projectTypeId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="EXPENDITURE_CATEGORY"></label>
                                        <select ng-required="true" class="form-control" ng-change="loadProjectOutputs(projectOutputData.expenditureCategoryId)"
                                                ng-model="projectOutputData.expenditureCategoryId"
                                                name="expenditureCategoryId" ng-options="val.id as val.name for val in expenditureCategories">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="updateProjectOutputForm.expenditureCategoryId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="OUTPUT"></label>
                                        <select class="form-control" ng-required="true"
                                                ng-model="projectOutputData.projectOutputId"
                                                name="projectOutputId" ng-options="val.id as val.name for val in projectOutputs">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="updateProjectOutputForm.projectOutputId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="VALUE"></label>
                                        <input type="number" class="form-control" ng-required="true" name="outputValue" ng-model="projectOutputData.value"/>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="updateProjectOutputForm.outputValue.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-success" ng-show="activity.budget_class === 'DEV' && projectOutputData.value > 0 && showUpdateProjectOutputForm===true"
                                                type="button" ng-click="addMoreProjectOutput()"><i class="fa fa-save"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row" ng-show="showEditProjectOutputForm===true">
                        <form class="form-horizontal" name="editProjectOutputForm" novalidate>
                            <div class="col-md-12">
                                <h5>Project Output</h5>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label>Project Type (<b>{{projectOutputUpdate.project_output.expenditure_category.project_type.name}}</b>)</label>
                                        <select ng-required="true" class="form-control" ng-change="loadExpenditureCategories(projectOutputUpdate.projectTypeId)"
                                                ng-model="projectOutputUpdate.projectTypeId"
                                                name="projectTypeId" ng-options="val.id as val.name for val in projectTypes">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="editProjectOutputForm.projectTypeId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Expenditure Category: (<b>{{projectOutputUpdate.project_output.expenditure_category.name}}</b>)</label>
                                        <select ng-required="true" class="form-control" ng-change="loadProjectOutputs(projectOutputUpdate.expenditureCategoryId)"
                                                ng-model="projectOutputUpdate.expenditureCategoryId"
                                                name="expenditureCategoryId" ng-options="val.id as val.name for val in expenditureCategories">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="editProjectOutputForm.expenditureCategoryId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Project Output: (<b>{{projectOutputUpdate.project_output.name}}</b>)</label>
                                        <select class="form-control" ng-required="true"
                                                ng-model="projectOutputUpdate.projectOutputId"
                                                name="projectOutputId" ng-options="val.id as val.name for val in projectOutputs">
                                        </select>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="editProjectOutputForm.projectOutputId.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label translate="VALUE"></label>
                                        <input type="number" class="form-control" ng-required="true" name="outputValue" ng-model="projectOutputUpdate.value"/>
                                        <div ng-show="formHasErrors">
                                            <span class="help-block text-danger" ng-show="editProjectOutputForm.outputValue.$error.required" translate="VALIDATION_REQUIRED"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-success" type="button" ng-click="editProjectOutput()"><i class="fa fa-save"></i> Save</button>
                                        <button class="btn btn-warning" type="button" ng-click="closeProjectOutput()"><i class="fa fa-save"></i> Close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-show="(activity.budget - sessionAllocated()) === 0 && milestones.length < 1 && activity.budget_class !== 'DEV'" class="btn btn-success"
                            ng-click="createPhase()">Finish
                    </button>
                    <!--<button type="button" ng-show="(activity.budget - sessionAllocated()) === 0 && milestones.length < 1" class="btn btn-success" ng-click="createPhase()">Save</button>-->
                    <button type="button" ng-show="(activity.budget_class === 'DEV') && ((activity.budget - sessionAllocated()) === 0) && showProjectOutputForm===false"
                            class="btn btn-success" ng-click="enterProjectOutput()">Next(Enter Project Output)
                    </button>
                    <button type="button"
                            ng-show="(activity.budget - sessionAllocated()) === 0 && milestones.length < 1 && activity.budget_class === 'DEV' && showProjectOutputForm===true && phaseModel.outputs.length > 0"
                            class="btn btn-success" ng-click="createPhase()">Finish
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>