<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createInterventionCategoryForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_INTERVENTION_CATEGORY"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                        class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3"><span translate="LABEL_NAME"></span><span>*</span></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="interventionCategoryToCreate.name" placeholder=""
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createInterventionCategoryForm.name.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="description"
                                          ng-model="interventionCategoryToCreate.description" placeholder="Description"
                                          class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionCategoryForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_FOOTER_TEXT"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="footer_text"
                                          ng-model="interventionCategoryToCreate.footer_text" placeholder="(Optional)"
                                          class="form-control"></textarea>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionCategoryForm.footer_text.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                            <div class="col-sm-9">
                                <input ng-min="1" name="sort_order" type="number" ng-model="interventionCategoryToCreate.sort_order" placeholder=""
                                       class="form-control">
                                <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createInterventionCategoryForm.sort_order.$error.required"
                                      translate="VALIDATION_REQUIRED"></span>
                                    <span class="help-block text-danger"
                                          ng-show="createInterventionCategoryForm.sort_order.$error.min"
                                          translate="VALIDATION_MIN"
                                    ></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="LABEL_INTERVENTION_CATEGORY"></span><span>*</span>
                            </label>
                            <div class="col-sm-9">
                                <select ng-options="level.id as level.name for level in allInterventionCategories"
                                        ng-model="interventionCategoryToCreate.intervention_category_id"
                                        class="form-control select-search"
                                        name="intervention_category_id">
                                    <option value="" selected translate="SELECT_ADMINISTRATION_LEVEL"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>