<div id="modal_form_horizontal" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="CREATE_ADVERTISEMENT"></h5>
      </div>

      <form action="#" class="form-horizontal" name="createForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined"
                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                {{errorMessage | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label translate="AD_DESCRIPTION"></label>
                  <input ng-required="false" name="description" type="text" placeholder="Enter up to 50 characters" maxlength="50"
                         ng-model="createDataModel.description" class="form-control">
                  <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-6">
                  <label translate="START_DATE"></label>
                  <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                    <input ng-click="startPopup =true" type="text" class="form-control"
                           uib-datepicker-popup="{{dateFormat}}"
                           ng-model="createDataModel.start_date" is-open="startPopup"
                           datepicker-options="options"
                           name="start_date"
                           close-text="Close"
                           popup-placement="bottom"
                           alt-input-formats="altInputFormats"/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label translate="END_DATE"></label>
                  <div class="input-group">
                                    <span ng-click="endPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                    <input ng-click="endPopup =true" type="text" class="form-control"
                           uib-datepicker-popup="{{dateFormat}}"
                           ng-model="createDataModel.end_date" is-open="endPopup"
                           datepicker-options="options"
                           ng-required="true"
                           close-text="Close"
                           name="end_date"
                           popup-placement="bottom"
                           alt-input-formats="altInputFormats"/>

                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <div class="col-sm-12">
                    <label translate="AD_IMAGE">
                    <span>
                      Images(
                      <span style="color:green; font-weight: bolder;">
                        {{createDataModel.urls.length}} uploaded
                      </span>
                      )
                    </span>
                    </label>
                    <input class="form-control" name="file"
                           onchange="angular.element(this).scope().uploadFile(this.files)" type="file"/>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-12">
                    <ul class="list-group">
                      Uploaded Files
                      <li class="list-group-item" ng-repeat="file_name in reference_file_names">
                      <span class="glyphicon glyphicon-paperclip bg-success">
                        {{file_name}}
                      </span>
                        <a class="glyphicon glyphicon-remove" href="" ng-click="remove(file_name)">
                        </a>
                      </li>
                    </ul>
                    <di>
                    </di>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
          <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
