<div id="modal_form_horizontal" style="display: block;">
  <form action="#" class="form-horizontal" name="updateForm" novalidate>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-teal-400">
          <button type="button" ng-click="close()" class="close">×</button>
          <h5 class="modal-title" translate="UPDATE_ADVERTISEMENT"></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div ng-show="errorMessage" class="col-md-12">
              <div
                class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered"
              >
                <button
                  type="button"
                  class="close"
                  ng-click="errorMessage=undefined"
                  data-dismiss="alert"
                >
                  <span>×</span><span class="sr-only">Close</span>
                </button>
                {{errorMessage | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="DESCRIPTION"></label>
                  <input
                    ng-required="true"
                    name="description"
                    type="text"
                    ng-model="updateDataModel.description"
                    class="form-control"
                  />
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.description.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="AD_STATUS"></label>
                  <input
                    ng-required="true"
                    name="status"
                    type="text"
                    ng-model="updateDataModel.status"
                    placeholder=""
                    class="form-control"
                    readonly
                  />
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.status.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="AD_START"></label>
                  <input
                    ng-required="true"
                    name="start_date"
                    type="text"
                    ng-model="updateDataModel.start_date"
                    class="form-control"
                  />
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.start_date.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <label translate="AD_END"></label>
                  <input
                    ng-required="true"
                    name="end_date"
                    type="text"
                    ng-model="updateDataModel.end_date"
                    class="form-control"
                  />
                  <div ng-show="formHasErrors">
                    <span
                      class="help-block text-danger"
                      ng-show="updateForm.end_date.$error.required"
                      translate="VALIDATION_REQUIRED"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="update()">
            Save
          </button>
          <button type="button" class="btn btn-warning" ng-click="close()">
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
