<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400" print-section>
                <button print-hide type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" print-section>
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="NO"></th>
                                <th translate="ITEM"></th>
                                <th translate="UNIT"></th>
                                <th translate="QTY"></th>
                                <th translate="RATE"></th>
                                <th translate="FREQUENCY"></th>
                                <th translate="AMOUNT"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ item.item }}</td>
                                <td>{{ item.unity.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.unit_price }}</td>
                                <td>{{ item.frequency }}</td>
                                <td>{{((item.quantity * item.unit_price)*item.frequency)|currency:""}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>