<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        <span translate="ADMIN_HIERARCHY"></span>
                    </div>
                    <select class="form-control select-search1" ng-model="admin_hierarchy_id" ng-change="filterData(admin_hierarchy_id)"
                            ng-options="item.id as item.name for item in admin_hierarchies">
                        <option value="" selected="selected">-COUNCIL-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        <span translate="FINANCIAL_YEAR"></span>
                    </div>
                    <select class="form-control select-search2"
                            ng-model="financial_year_id"
                            ng-change="filterData(admin_hierarchy_id,financial_year_id)"
                            ng-options="item.id as item.name for item in financialYears">
                        <option value="" selected="selected">-YEAR-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <a href="report/procurement/printPDF" target="_blank" class="btn btn-default">
                    <i class="fa fa-print"></i>
                    <span translate="BTN_PRINT"></span>
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="ACTIVITY"></th>
                            <th translate="PERIOD"></th>
                            <th translate="GFS_CODE"></th>
                            <th translate="UNIT"></th>
                            <th translate="QTY"></th>
                            <th translate="UNIT_PRICE"></th>
                            <th translate="FREQUENCY"></th>
                            <th translate="AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,procurements1) in procurements | groupBy:'council'">
                            <td colspan="9" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(s,procurements2) in procurements1 | groupBy:'cost_centre'">
                            <td colspan="9" class="bg-teal-400">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="procurement in procurements2">
                            <td>{{$index + 1}}</td>
                            <td>{{procurement.activity}}</td>
                            <td>{{procurement.period}}</td>
                            <td>{{procurement.gfs_code + " - " + procurement.gfs_description}}</td>
                            <td>{{procurement.unit}}</td>
                            <td>{{procurement.quantity}}</td>
                            <td><span class="pull-right">{{procurement.unit_price|currency:""}}</span></td>
                            <td>{{procurement.frequency}}</td>
                            <td><span class="pull-right">{{procurement.total|currency:""}}</span></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr  ng-repeat-end>
                            <td colspan="7"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(procurements2)|currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="false"></tr>
                        <tr>
                            <td colspan="7"><strong>Total</strong></td>
                            <td><span class="pull-right"><strong>{{ total_amount|currency:"" }}</strong></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>