<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editCreateConstraintForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title"><span translate="CONSTRAINTS"></span></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LIMIT"></label>
                        <div class="col-sm-9">
                            <input type="number" ng-model = "constraintToCreateEdit.limit" name="limit" class="form-control" >
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editCreateConstraintForm.limit.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="ORDER_BY"></label>
                        <div class="col-sm-9">
                            <select  ui-select2 multiple
                                     ng-model="constraintToCreateEdit.order_by"
                                     name="order_by"
                                     class="select-fixed-multiple form-control"
                                     ng-options="casPlanTableColumn.id as casPlanTableColumn.name for casPlanTableColumn in casPlanTableColumns"
                            >
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="WITH_VALUE"></label>
                        <div class="col-sm-9">
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model = "constraintToCreateEdit.with_value" name="with_value" class="styled" ng-value="true">
                                Yes
                            </label>
                            <label  class="radio-inline radio-right">
                                <input type="radio" ng-model="constraintToCreateEdit.with_value" name="with_value" class="styled" ng-value="false">
                                No
                            </label>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="editCreateConstraintForm.with_value.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>