<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createCasPlanTableForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">Create a new table</h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="casPlanTableToCreate.name"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasPlanTableForm.name.$error.required" translate="NAME_IS_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Description</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input ng-required="true" name="description" type="text" ng-model="casPlanTableToCreate.description"-->
                                   <!--placeholder="" class="form-control">-->
                            <!--<div ng-show="formHasErrors">-->
                                <!--<span class="help-block text-danger" ng-show="createCasPlanTableForm.description.$error.required">Symbol is required</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="TYPE"></label>
                        <div class="col-sm-9">
                            <select ng-required="true"
                                    name="type"
                                    ng-model="casPlanTableToCreate.type"
                                    class="form-control">
                                <option value="1">Single Value</option>
                                <option value="2">Tabular Form</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-3" translate="REPORT_URL"></label>
                        <div class="col-sm-9">
                            <input name="report_url" type="text" ng-model="casPlanTableToCreate.report_url"
                                   placeholder=""
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-3" translate="PARAMETERS"></label>
                        <div class="col-sm-9">
                            <input name="parameters" type="text" ng-model="casPlanTableToCreate.parameters"
                                   ng-blur="set_param_values(casPlanTableToCreate.parameters)"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group" ng-if="casPlanTableToCreate.parameters != undefined || casPlanTableToCreate.parameters != null">
                        <label class="control-label col-sm-3" translate="DEFAULT_PARAMETER_VALUES"></label>
                        <div class="col-sm-9">
                            <div ng-show="reportParamsData.fund_source_id.length > 0" layout="row">
                                <label class="control-label" layout-padding translate="FUND_SOURCE"></label>
                                <select multiple="multiple" class="form-control select-search4"
                                        ng-model="casPlanTableToCreate.default_values.fund_source_id"
                                        name="fund_source_id"
                                        ng-required="true"
                                        ng-options="f.id as f.name for f in reportParamsData.fund_source_id">
                                </select>
                                <p></p>
                            </div>

                            <div ng-show="reportParamsData.budget_class_id.length > 0" layout="row">
                                <label class="control-label" layout-padding translate="BUDGET_CLASS"></label>
                                <select multiple="multiple" class="form-control select-search4"
                                        ng-model="casPlanTableToCreate.default_values.budget_class_id"
                                        name="budget_class_id"
                                        ng-required="true"
                                        ng-options="f.id as f.name for f in reportParamsData.budget_class_id">
                                </select>
                                <p></p>
                            </div>

                            <div ng-show="reportParamsData.sector_dept_id.length > 0 " layout="row">
                                <label class="control-label" layout-padding translate="SECTOR"></label>
                                <select multiple="multiple" class="form-control select-search4"
                                        ng-model="casPlanTableToCreate.default_values.sector_dept_id"
                                        name="sector_dept_id"
                                        ng-required="true"
                                        ng-options="f.id as f.name for f in reportParamsData.sector_dept_id">
                                </select>
                                <p></p>
                            </div>

                            <div ng-show="reportParamsData.control_code.length > 0 ">
                                <label class="control-label" layout-padding translate="CONTROL_CODE"></label>
                                <select multiple="multiple" class="form-control select-search4"
                                        ng-model="casPlanTableToCreate.default_values.control_code"
                                        name="control_code"
                                        ng-required="true"
                                        ng-options="f.id as f.name for f in reportParamsData.control_code">
                                </select>
                                <p></p>
                            </div>

                            <div ng-show="reportParamsData.exchange_rate.length > 0">
                                <label class="control-label" layout-padding translate="EXCHANGE_RATE"></label>
                                <div class="col-sm-9">
                                    <input readonly  class="form-control" ng-model="casPlanTableToCreate.default_values.exchange_rate" ng-value="reportParamsData.exchange_rate"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-3" translate="IS_HTML"></label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" name="expanded" ng-model="casPlanTableToCreate.is_html"
                                       class="switchery">
                            </label>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-3" translate="USE_PERIOD"></label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" name="expanded" ng-model="casPlanTableToCreate.is_periodic"
                                       class="switchery">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="CAS_PLAN_CONTENT"></label>
                        <div class="col-sm-9">
                            <select name="cas_plan_content_id" class="form-control"
                                    ng-model="casPlanTableToCreate.cas_plan_content_id"
                                    ng-options="f.id as f.description for f in casPlanContents">
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasPlanTableForm.cas_plan_content_id.$error.required">Symbol is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="PARENT"></label>
                        <div class="col-sm-9">
                            <select ng-model="casPlanTableToCreate.parent_id" class="form-control">
                                <optgroup ng-repeat-start="r in cas_plans" label="{{r.name}}">
                                    <option  ng-repeat=" t in r.cas_plan_tables" ng-value="t.id">{{t.name}}</option>
                                </optgroup>
                                <optgroup label="" ng-repeat-end ng-show="false"></optgroup>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasPlanTableForm.cas_plan_content_id.$error.required">Symbol is required</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>