<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="editCasPlanTableForm" novalidate>
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_CAS_PLAN_TABLE"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="NAME"></label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="casTableToEdit.name" placeholder="" class="form-control">
                        <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="editCasPlanTableForm.name.$error.required">Symbol is required</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" translate="TYPE"></label>
                    <div class="col-sm-9">
                        <select ng-required="true"
                                name="type"
                                ng-model="casTableToEdit.type"
                                class="form-control">
                            <option ng-value="1">Single Value</option>
                            <option ng-value="2">Tabular Form</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-3" translate="REPORT_URL"></label>
                    <div class="col-sm-9">
                        <input name="report_url" type="text" ng-model="casTableToEdit.report_url"
                               placeholder=""
                               class="form-control">
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-3" translate="PARAMETERS"></label>
                    <div class="col-sm-9">
                        <input name="parameters" type="text" ng-model="casTableToEdit.parameters"
                               placeholder=""
                               ng-blur="set_param_values(casTableToEdit.parameters)"
                        class="form-control">
                    </div>
                </div>

                <div class="form-group" ng-if="casTableToEdit.parameters != undefined || casPlanTableToCreate.parameters != null">
                    <label class="control-label col-sm-3" translate="DEFAULT_PARAMETER_VALUES"></label>
                    <div class="col-sm-9">
                        <div ng-show="reportParamsData.fund_source_id.length > 0" layout="row">
                            <label class="control-label" layout-padding translate="FUND_SOURCE"></label>
                            <select multiple="multiple" class="form-control select-search4"
                                    ng-model="casTableToEdit.default_values.fund_source_id"
                                    name="fund_source_id"
                                    ng-options="f.id as f.name for f in reportParamsData.fund_source_id">
                            </select>
                            <p></p>
                        </div>
                        <div ng-show="reportParamsData.budget_class_id.length > 0" layout="row">
                            <label class="control-label" layout-padding translate="BUDGET_CLASS"></label>
                            <select multiple="multiple" class="form-control select-search4"
                                    ng-model="casTableToEdit.default_values.budget_class_id"
                                    name="budget_class_id"
                                    ng-options="f.id as f.name for f in reportParamsData.budget_class_id">
                            </select>
                            <p></p>
                        </div>

                        <div ng-show="reportParamsData.sector_dept_id.length > 0 " layout="row">
                            <label class="control-label" layout-padding translate="SECTOR"></label>
                            <select multiple="multiple" class="form-control select-search4"
                                    ng-model="casTableToEdit.default_values.sector_dept_id"
                                    name="sector_dept_id"
                                    ng-options="f.id as f.name for f in reportParamsData.sector_dept_id">
                            </select>
                            <p></p>
                        </div>

                        <div ng-show="reportParamsData.control_code.length > 0 ">
                            <label class="control-label" layout-padding translate="CONTROL_CODE"></label>
                            <select multiple="multiple" class="form-control select-search4"
                                    ng-model="casTableToEdit.default_values.control_code"
                                    name="control_code"
                                    ng-options="f.id as f.name for f in reportParamsData.control_code">
                            </select>
                            <p></p>
                        </div>

                        <div ng-show="reportParamsData.project_id.length > 0 ">
                            <label class="control-label" layout-padding translate="CONTROL_CODE"></label>
                            <select multiple="multiple" class="form-control select-search4"
                                    ng-model="casTableToEdit.default_values.project_id"
                                    name="control_code"
                                    ng-options="f.id as f.name for f in reportParamsData.project_id">
                            </select>
                            <p></p>
                        </div>

                        <div ng-show="reportParamsData.exchange_rate.length > 0">
                            <label class="control-label" layout-padding translate="EXCHANGE_RATE"></label>
                            <div class="col-sm-9">
                                <input readonly  class="form-control" ng-model="casTableToEdit.reportParameter.exchange_rate" ng-value="reportParamsData.exchange_rate"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-3">Is HTML</label>
                    <div class="col-sm-9">
                        <div class="checkbox checkbox-switchery">
                            <label>
                                <input type="checkbox" name="expanded" ng-model="casTableToEdit.is_html"
                                       ng-checked="casTableToEdit.is_html === true" class="switchery">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-3" translate="USE_PERIOD"></label>
                    <div class="col-sm-9">
                        <div class="checkbox checkbox-switchery">
                            <label>
                                <input type="checkbox" name="expanded" ng-model="casTableToEdit.is_periodic"
                                       ng-checked="casTableToEdit.is_periodic === true" class="switchery">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">CAS Plan Content</label>
                    <div class="col-sm-9">
                        <select name="cas_plan_content_id" class="form-control"
                                ng-model="casTableToEdit.cas_plan_content_id"
                                ng-options="f.id as f.description for f in casPlanContents">
                        </select>
                        <div ng-show="formHasErrors">
                            <span class="help-block text-danger" ng-show="editCasPlanTableForm.cas_plan_content_id.$error.required">Symbol is required</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" translate="PARENT"></label>
                <div class="col-sm-9">
                    <select ng-model="casTableToEdit.parent_id" class="form-control">
                        <optgroup ng-repeat-start="r in cas_plans" label="{{r.name}}">
                            <option  ng-repeat=" t in r.cas_plan_tables" ng-value="t.id">{{t.name}}</option>
                        </optgroup>
                        <optgroup label="" ng-repeat-end ng-show="false"></optgroup>
                    </select>
                    <div ng-show="formHasErrors">
                        <span class="help-block text-danger" ng-show="editCasPlanTableForm.parent_id.$error.required">Symbol is required</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
            </div>
        </div>
        </form>
    </div>
</div>