    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="EDIT_COLUMN"></h5>
                </div>

                <form action="#" class="form-horizontal" name="editCasPlanTableColumnForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="CAS_TABLE_COLUMN_NAME"></span>
                            </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="CasPlanTableColumnFormToEdit.name" class="form-control" autocomplete="off">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanTableColumnForm.name.$error.required" translate="NAME_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CODE_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="CasPlanTableColumnFormToEdit.code" class="form-control" autocomplete="off">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanTableColumnForm.code.$error.required" translate="CODE_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="CAS_PLAN_TABLE"></span>
                            </label>
                            <div class="col-sm-9">
                                <select  class="form-control" ng-model="CasPlanTableColumnFormToEdit.cas_plan_table_id"
                                         name="cas_plan_table_id" ng-options="casPlanTable.id as casPlanTable.name for casPlanTable in casPlanTables">
                                    <option value="" selected translate="SELECT_ONE"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="TYPE"></label>
                            <div class="col-sm-9">
                                <select ng-model="CasPlanTableColumnFormToEdit.type"
                                        ng-options="Item for Item in types"
                                        ng-change="typeSelect(CasPlanTableColumnFormToEdit.type)"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_TYPE"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-show="is_select">
                            <label class="control-label col-sm-3" translate="SELECT_OPTIONS"></label>
                            <div class="col-sm-9">
                                <select ng-model="CasPlanTableColumnFormToEdit.cas_plan_table_select_option_id"
                                        ng-options="Opt.id as Opt.name for Opt in selectOptions"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_OPTIONS"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                                <select  class="form-control"
                                         ng-model="CasPlanTableColumnFormToEdit.cas_plan_table_column_id"
                                         ng-options="casPlanTableColumn.id as casPlanTableColumn.name+' -> '+casPlanTableColumn.parent.name for casPlanTableColumn in casPlanTableColumns">
                                    <option value="" selected translate="SELECT_OPTIONS"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_LOWEST"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "CasPlanTableColumnFormToEdit.is_lowest" name="is_lowest" class="styled" ng-value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="CasPlanTableColumnFormToEdit.is_lowest" name="is_lowest" class="styled" ng-value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editCasPlanTableColumnForm.is_lowest.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="HAS_VERTICAL_TOTAL"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "CasPlanTableColumnFormToEdit.vertical_total" name="vertical_total" class="styled" ng-value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="CasPlanTableColumnFormToEdit.vertical_total" name="vertical_total" class="styled" ng-value="false">
                                    No
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-init="CasPlanTableColumnFormToEdit.is_list == false">
                            <label class="control-label col-sm-3" translate="IS_LIST"></label>
                            <div class="col-sm-9">
                                <input  type="checkbox"
                                        ng-model="CasPlanTableColumnFormToEdit.is_list" />
                            </div>
                        </div>

                        <div class="form-group" ng-show="CasPlanTableColumnFormToEdit.is_list">
                            <label class="control-label col-sm-3" translate="LIST_ITEM"></label>
                            <div class="col-sm-9">
                                <select ng-model="CasPlanTableColumnFormToEdit.list_item"
                                        ng-options="Item for Item in listType"
                                        class="form-control">
                                    <option value="" selected translate="LIST_ITEM"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_CONSTANTS"></label>
                            <div class="col-sm-9">
                               <input type="checkbox" ng-model = "CasPlanTableColumnFormToEdit.is_constant" name="is_constant">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="control-label col-sm-3" translate="ENTRY_LEVEL"></label>
                            <div class="col-sm-9">
                                <select ng-model="CasPlanTableColumnFormToEdit.admin_hierarchy_level_id"
                                        ng-options="Item.id as Item.name for Item in adminLevels"
                                        class="form-control">
                                    <option value="" selected translate="ENTRY_LEVEL"></option>
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="editCasPlanTableColumnForm.admin_hierarchy_level_id.$error.required" translate="REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                            <div class="col-sm-9">
                                <input type="number" ng-model = "CasPlanTableColumnFormToEdit.sort_order" name="sort_order" class="form-control" >
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="editCasPlanTableColumnForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="updateColumns()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
