<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{action | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select ng-model="selectedPlan"
                class="form-control"
                ng-change="loadContents(selectedPlan)"
                ng-options="casPlan.id as casPlan.name for casPlan in casPlans">
            <option value="">--Select Comprehensive Plan</option>
        </select>
    </div>
</div>
<div class="row" ng-show="planTables.data != undefined">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div ng-show="defaultMode">
                    <a href class="btn btn-success pull-right create-btn" ng-click="create(selectedPlan)">
                       <i class="fa fa-plus"></i>
                       <span translate="BTN_CREATE"></span>
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="defaultMode">
            <!--The user interface which will be displayed when the page has been initially loaded starts here-->
        <div class="row">
            <div class="col-md-8">
               <div class="input-group ">
                    <input ng-model="searchQuery" type="text" ng-keyup="searchTable()" class="form-control" placeholder="Search by name">
                        <span class="input-group-btn">
                        <button ng-click="searchTable()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        </span>
               </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="NAME"></th>
                            <th translate="REPORT_URL"></th>
                            <th translate="CAS_PLAN_CONTENT"></th>
                            <th translate="PARAMETERS"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="planTable in planTables.data">
                            <td>{{$index + 1}}</td>
                            <td>{{planTable.name}}</td>
                            <td>{{planTable.report_url}}</td>
                            <td>{{planTable.cas_plan_content.description}}</td>
                            <td>{{planTable.parameters}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-success" ng-click="viewColumns(planTable.id)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="VIEW_COLUMNS"></span>
                                </a>
                                <a href class="btn btn-success" ng-click="viewItems(planTable.id)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="ROWS"></span>
                                </a>
                                <a href class="btn btn-info" ng-click="edit(selectedPlan,planTable,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(planTable.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        <br/>
        <!--{{planTables}}-->
        <div class="row" ng-show="planTables.total > planTables.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="planTables.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="planTables.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ planTables.total }}"
                             perPage="{{ planTables.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>

        </div>
        </div>
        <!--The user interface which will be displayed when the page has been initially loaded ends here-->

        <!--The code below shows the list of columns belonging to a selected form-->
        <div ng-show="columnListMode">
            <!--The pagination header starts here-->
            <div class="row">
                <per-page ng-model="perPage" ng-change="casPlaTableColumnPageChanged(table_id)"></per-page>
            </div>
            <!--The pagination header ends here-->
            <br/>
            <a href class="btn btn-warning  pull-left" ng-click="backToTable()">
                <i class="fa fa-arrow-left"></i>
                <span translate="BTN_BACK"></span>
            </a>

            <a href class="btn btn-success pull-right create-btn" ng-click="addColumn(table_id)">
                <i class="fa fa-plus"></i>
                <span translate="BTN_ADD_COLUMN"></span>
            </a>

            <!--<a href class="btn btn-success pull-right create-btn" ng-click="addColumn(planTables.data.id)" translate="BTN_ADD_COLUMN"></a>-->
            <table class="table table-bordered table-responsive table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th translate="TH_NO">No.</th>
                    <th translate="TH_COLUMN_NAME">No.</th>
                    <th translate="TH_PARENT">No.</th>
                    <th translate="TH_CODE"></th>
                    <th translate="TH_TYPE"></th>
                    <th translate="TH_IS_LOWEST"></th>
                    <th translate="TH_HAS_VERTICAL_TOTAL"></th>
                    <th translate="TH_SORT_ORDER"></th>
                    <th translate="TH_ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="casPlanTableColumn in casPlanTableColumns.data ">
                    <td>{{$index + 1}}</td>
                    <td>{{casPlanTableColumn.name}}</td>
                    <td>
                        {{casPlanTableColumn.parent.name}}
                        <span ng-show="casPlanTableColumn.parent.parent.length > 0">{{ casPlanTableColumn.parent.parent.name }}</span>
                    </td>
                    <td>{{casPlanTableColumn.code}}</td>
                    <td>{{casPlanTableColumn.type}}</td>
                    <td>
                        <span ng-show="casPlanTableColumn.is_lowest == true" translate="LABEL_YES"></span>
                        <span ng-show="casPlanTableColumn.is_lowest == false" translate="LABEL_NO"></span>
                    </td>
                    <td>{{ casPlanTableColumn.vertical_total }}</td>
                    <td>{{ casPlanTableColumn.sort_order }}</td>
                    <td nowrap="nowrap">
                        <a href class="btn btn-info" ng-click="editColumns(casPlanTableColumn,currentPage,perPage)"><span translate="EDIT_ACTION"></span></a>
                        <a href class="btn btn-danger" ng-click="deleteCasPlanTableColumn(casPlanTableColumn.id,currentPage,perPage)"><span translate="DELETE_ACTION"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--The pagination footer starts here-->
            <div class="row" ng-show="casPlanTableColumns.total > casPlanTableColumns.per_page">
                <div class="col-md-12">
                    <ul uib-pagination total-items="casPlanTableColumns.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="casPlanTableColumns.per_page"
                        ng-model="currentPage"
                        ng-change="casPlaTableColumnPageChanged(table_id)">
                    </ul>
                    <total-pages currentPage="{{currentPage}}" totalItems="{{ casPlanTableColumns.total }}" perPage="{{ casPlanTableColumns.per_page }}"></total-pages>
                </div>
            </div>
            <!--The pagination footer ends here-->

        </div>
        <!--The code code which control the list of columns belonging to a table end here-->
    </div>
</div>


<script type="text/ng-template" id="add-column.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="ADD_COLUMN"></h5>
                </div>
                <form action="#" class="form-horizontal" name="createCasPlanTableColumnForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" >
                                <span translate="CAS_TABLE_COLUMN_NAME"></span>
                            </label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="casPlanTableColumnFormToCreate.name" class="form-control" autocomplete="off">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCasPlanTableColumnForm.name.$error.required" translate="NAME_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_CODE_REQUIRED"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="code" type="text" ng-model="casPlanTableColumnFormToCreate.code" class="form-control" autocomplete="off">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCasPlanTableColumnForm.code.$error.required" translate="CODE_IS_REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="control-label col-sm-3" translate="TYPE"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanTableColumnFormToCreate.type"
                                        ng-options="Item as Item for Item in types"
                                        ng-change="typeSelect(casPlanTableColumnFormToCreate.type)"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_TYPE"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-show="is_select">
                            <label class="control-label col-sm-3" translate="SELECT_OPTIONS"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanTableColumnFormToCreate.cas_plan_table_select_option_id"
                                        ng-options="Opt.id as Opt.name for Opt in selectOptions"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_OPTIONS"></option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="GROUP_TYPE"></label>
                            <div class="col-sm-9">
                                <select ng-model="group_type"
                                        ng-options="Item.id as Item.name for Item in group_types"
                                        ng-change="load_group_columns(group_type)"
                                        class="form-control">
                                    <option value="" selected translate="SELECT_TYPE"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="GROUP_COLUMN"></label>
                            <div class="col-sm-9">
                                <select ui-select2 multiple ng-model="casPlanTableColumnFormToCreate.cas_group_column_id"
                                         name="cas_group_column_id"
                                        class="select-fixed-multiple form-control">
                                    <!--ng-options="r.id as r.name for r in groupColumnByTypes track by r.id"-->
                                    <option ng-repeat="r in groupColumnByTypes" value="{{ r.id }}">{{ r.name }}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="PARENT"></label>
                            <div class="col-sm-9">
                                <select  ui-select2 multiple
                                         ng-model="casPlanTableColumnFormToCreate.cas_plan_table_column_id"
                                         name="gfs_code_id"
                                         class="select-fixed-multiple form-control">
                                    <option ng-repeat="casPlanTableColumn in casPlanTableColumns" value="{{casPlanTableColumn.id}}">
                                        {{casPlanTableColumn.name}}
                                        <span ng-show="casPlanTableColumn.parent.length > 0"> ->{{casPlanTableColumn.parent.name}}</span>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_INPUT"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "casPlanTableColumnFormToCreate.is_lowest" name="is_lowest" class="styled" value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="casPlanTableColumnFormToCreate.is_lowest" name="is_lowest" class="styled" value="false">
                                    No
                                </label>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createCasPlanTableColumnForm.is_lowest.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="HAS_VERTICAL_TOTAL"></label>
                            <div class="col-sm-9">
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model = "casPlanTableColumnFormToCreate.vertical_total" name="vertical_total" class="styled" value="true">
                                    Yes
                                </label>
                                <label  class="radio-inline radio-right">
                                    <input type="radio" ng-model="casPlanTableColumnFormToCreate.vertical_total" name="vertical_total" class="styled" value="false">
                                    No
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-init="casPlanTableColumnFormToCreate.is_list == false">
                            <label class="control-label col-sm-3" translate="IS_LIST"></label>
                            <div class="col-sm-9">
                                <input  type="checkbox"
                                        ng-model="casPlanTableColumnFormToCreate.is_list" />
                            </div>
                        </div>

                        <div class="form-group" ng-show="casPlanTableColumnFormToCreate.is_list">
                            <label class="control-label col-sm-3" translate="LIST_ITEM"></label>
                            <div class="col-sm-9">
                                <select ng-model="casPlanTableColumnFormToCreate.list_item"
                                        ng-options="Item for Item in listType"
                                        class="form-control">
                                    <option value="" selected translate="LIST_ITEM"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="IS_CONSTANTS"></label>
                            <div class="col-sm-9">
                               <input type="radio" ng-model = "casPlanTableColumnFormToCreate.is_constant" name="is_constant" >
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="control-label col-sm-3" translate="ENTRY_LEVEL"></label>
                            <div class="col-sm-9">
                                <select ng-required="true"
                                        ng-model="casPlanTableColumnFormToCreate.admin_hierarchy_level_id"
                                        ng-options="Item.id as Item.name for Item in adminLevels"
                                        class="form-control">
                                    <option value="" selected translate="ENTRY_LEVEL"></option>
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCasPlanTableColumnForm.admin_hierarchy_level_id.$error.required" translate="REQUIRED">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="SORT_ORDER"></label>
                            <div class="col-sm-9">
                                <input type="number" ng-model = "casPlanTableColumnFormToCreate.sort_order" name="sort_order" class="form-control" >
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createCasPlanTableColumnForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="storeColumn()">Save</button>
                        <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.select-fixed-multiple').select2({
            minimumResultsForSearch:Infinity,
        });
        $('.select-search').select2();
    </script>
     <!-- Please don't delete this closing script -->
</script>



