<style type="text/css">
    .content-wrapper {
        width: 100%;
        background-color: #F5F5F5 !important;
    }
</style>
<div class="row" >
    <div class="col-md-12">
        <div class="row ">
            <div class="col-lg-12">
                <div class="panel bg-teal-500" style="background-color: #26a69a !important;color:#fff !important;">
                    <div class="panel-body">
                        <!--<div class="heading-elements">-->
                        <!--<span class="heading-text badge bg-teal-800">+53,6%</span>-->
                        <!--</div>-->
                        <h2 class="no-margin">{{barChart.council}}</h2>
                        {{barChart.name}}
                        <div class="text-muted text-size-small"><a class="text-white"></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="row row-sortable ui-sortable">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Burden Disease against <a class="heading-elements-toggle">
                            <i class="icon-more"></i></a></h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="move" class="ui-sortable-handle"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <!--<c3chart bindto-id="stacked-bar-plot1-chart" >-->
                            <!--<chart-column column-id="data1"-->
                                          <!--column-name="percentage allocated"-->
                                          <!--column-color="#FF7F0E"-->
                                          <!--column-values= {{availables}}-->
                                          <!--column-type="bar"/>-->
                            <!--<chart-column column-id="data2"-->
                                          <!--column-name="Percentage require"-->
                                          <!--column-color="#2CA02C"-->
                                          <!--column-values="50,20,10,40,15,25"-->
                                          <!--column-type="bar"/>-->
                            <!--<chart-group group-values="data1"/>-->
                            <!--<chart-group group-values="data2"/>-->
                        <!--</c3chart>-->
                        <c3chart bindto-id="stacked-bar-plot1-chart"
                                 chart-data="graph.dataPoints"
                                 chart-columns="graph.dataColumns" chart-x="graph.dataX">
                            <chart-axis>
                                <chart-axis-x axis-position="outer-center"

                                              padding-top="100"
                                              padding-bottom="4"
                                              axis-type="category"
                                              axis-label=""
                                >
                                </chart-axis-x>
                                <chart-axis-y axis-position="outer-middle"
                                              axis-label="Percentage"
                                >
                                </chart-axis-y>
                            </chart-axis>
                            <chart-group group-values="dob"/>
                            <chart-group group-values="int"/>
                        </c3chart>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>