<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="SERVICE_OUTPUT"></th>
                                <th translate="SECTOR"></th>
                                <th translate="COST_CENTRE"></th>
                                <th translate="ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select name="SERVICE_OUT_PUT" class="form-control select-search-0"
                                            ng-model="plan_chain_id"
                                            ng-change="loadSectors(plan_chain_id)"
                                            ng-options="f.id as ('['+f.code+']'+f.description) for f in serviceOutputs">
                                    </select>
                                </td>
                                <td>
                                    <select name="section_id" class="form-control select-search-1"
                                            ng-model="sector_id"
                                            ng-change="loadSections(sector_id)"
                                            ng-options="f.id as f.name for f in sectors">
                                    </select>
                                </td>
                                <td>
                                    <select name="section_id" class="form-control select-search-2"
                                            ng-model="section_id"
                                            ng-options="f.id as f.name for f in sections">
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="addItem()">Add Item</button>
                                </td>
                            </tr>
                            <tr ng-repeat="item in costCentres">
                                <td></td>
                                <td></td>
                                <td>{{ item.cost_centre.name}}</td>
                                <td nowrap="nowrap">
                                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item.id,generic_target_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search-0').select2();
        $('.select-search-1').select2();
        $('.select-search-2').select2();
    </script>
</div>