<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_GENERIC_TARGET"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="SERVICE_OUTPUT"></label>
                                    <select ng-model="genericTarget.plan_chain_id"
                                            class="form-control" ng-change="loadPerformanceIndicators(genericTarget.plan_chain_id)">
                                        <optgroup label="{{so[0].parent.code +': '+ so[0].parent.description}}"
                                                  ng-repeat-start="(o, so) in planChains.plan_chains | groupBy:'parent.code'">
                                            <option ng-repeat="s in so" ng-value="s.id">{{s.code+': '+s.description}}</option>
                                        </optgroup>
                                        <optgroup ng-if="false" ng-repeat-end></optgroup>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.plan_chain_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
<!--                          added target type start-->
                          <div class="form-group">
                            <div class="col-md-12">
                              <label translate="TARGET_TYPE"></label>
                              <select name="target_type_id" class="form-control selectSearch3"
                                      ng-model="genericTarget.target_type_id"
                                      ng-options="t.id as t.name for t in targetTypes">
                              </select>
                              <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.target_type_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                              </div>
                            </div>
                          </div>
<!--                          added target type end-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PERFORMANCE_INDICATOR"></label>
                                    <select name="performance_indicator_id" class="form-control selectSearch3"
                                            ng-model="genericTarget.performance_indicator_id"
                                            ng-options="P.id as (P.number+'-'+P.description) for P in performanceIndicators">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.performance_indicator_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="GENERIC_TARGET"></label>
                                    <textarea ng-required="true" name="description"
                                              ng-model="genericTarget.description" class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PARAMS"></label>
                                    <input name="code" type="text" ng-model="genericTarget.params" class="form-control" />
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
