<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="UPDATE_GENERIC_TARGET"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PLANNING_MATRIX"></label>
                                    <select name="planning_matrix_id" class="form-control selectSearch1"
                                            ng-model="updateDataModel.planning_matrix_id"
                                            ng-options="f.id as f.name for f in planningMatrices">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.planning_matrix_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PRIORITY_AREA"></label>
                                    <select name="priority_area_id" class="form-control selectSearch"
                                            ng-model="updateDataModel.priority_area_id"
                                            ng-change="loadGenericSectorProblems(updateDataModel.priority_area_id)"
                                            ng-options="f.id as (f.number+'-'+f.description) for f in priorityAreas">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.priority_area_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="GENERIC_SECTOR_PROBLEM"></label>
                                    <select name="generic_sector_problem_id" class="form-control selectSearch"
                                            ng-model="updateDataModel.generic_sector_problem_id"
                                            ng-options="f.id as (f.code+'-'+f.description) for f in genericSectorProblems">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.generic_sector_problem_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="GENERIC_TARGET"></label>
                                    <textarea ng-required="true" name="description"
                                              ng-model="updateDataModel.description" class="form-control"></textarea>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.description.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PARAMS"></label>
                                    <input name="code" type="text" ng-model="updateDataModel.params" class="form-control" />
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.code.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="SERVICE_OUTPUT"></label>
                                    <select ng-model="updateDataModel.plan_chain_id"
                                            class="form-control" ng-change="loadPerformanceIndicators(updateDataModel.plan_chain_id)">
                                        <optgroup label="{{so[0].parent.code +': '+ so[0].parent.description}}"
                                                  ng-repeat-start="(o, so) in lowestPlanChainType.plan_chains | groupBy:'parent.code'">
                                            <option ng-repeat="s in so" ng-value="s.id">{{s.code+': '+s.description}}</option>
                                        </optgroup>
                                        <optgroup ng-if="false" ng-repeat-end></optgroup>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.plan_chain_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="PERFORMANCE_INDICATOR"></label>
                                    <select name="performance_indicator_id" class="form-control selectSearch3"
                                            ng-model="updateDataModel.performance_indicator_id"
                                            ng-options="f.id as (f.number+'-'+f.description) for f in performanceIndicators">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.performance_indicator_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label translate="NATIONAL_REFERENCE"></label>
                                    <select name="national_reference_id" class="form-control selectSearch4"
                                            ng-model="updateDataModel.national_reference_id"
                                            ng-options="f.id as (f.code+'-'+f.description) for f in nationalReferences">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.national_reference_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".selectSearch").select2();
    $(".selectSearch1").select2();
    $(".selectSearch2").select2();
    $(".selectSearch3").select2();
</script>