<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label translate="PLANNING_MATRIX"></label>
        <select name="planning_matrix_id" class="form-control selectSearch1"
                ng-change="pageChanged(planningMatrixId)"
            ng-model="planningMatrixId" ng-options="p.id as p.name for p in planningMatrices">
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button ng-disabled="planningMatrixId === undefined" type="button"
                        class="btn btn-info"
                        ng-click="createOrUpdate({planning_matrix_id: planningMatrixId})">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                  <a href="/files/genericTargets/downloadExcel/{{planningMatrixId}}" ng-if="planningMatrixId !== undefined" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    <span translate="BTN_EXPORT"></span>
                  </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                            <tr>
                                <th translate="NO"></th>
                                <th translate="GENERIC_TARGET"></th>
                                <th translate="SERVICE_OUTPUT"></th>
                                <th translate="PERFORMANCE_INDICATORS"></th>
                                <th translate="ACTIVE"></th>
                                <th translate="ACTION"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items.data">
                                <td>{{$index + 1}}</td>
                                <td>{{item.description}}</td>
                                <td>[{{item.plan_chain.code}}] {{item.plan_chain.description}}</td>
                                <td>{{item.performance_indicator.description}}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" ng-checked="item.is_active" ng-model="item.is_active"
                                            ng-change="toggleActive(item.id, item.is_active,perPage)">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td nowrap="nowrap">
                                    <a href class="btn btn-info" ng-click="createOrUpdate(item)">
                                        <i class="fa fa-edit"></i>
                                        <span translate="EDIT_ACTION"></span>
                                    </a>
                                    <a href class="btn btn-danger" ng-click="delete(item.id)">
                                        <i class="fa fa-remove"></i>
                                        <span translate="DELETE_ACTION"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="items.per_page" ng-model="currentPage"
                    ng-change="pageChanged(planningMatrixId)">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged(planningMatrixId)"></per-page>
            </div>
        </div>
    </div>
</div>
