<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ name }}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="successMessage" class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="successMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{successMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th translate="PERFORMANCE_INDICATOR"></th>
                                <th translate="ACTION"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select ng-model="planChain" class="form-control" ng-change="loadPerformanceIndicators(planChain.id)">
                                        <optgroup label="{{so[0].parent.code +': '+ so[0].parent.description}}"
                                                  ng-repeat-start="(o, so) in lowestPlanChainType.plan_chains | groupBy:'parent.code'">
                                            <option ng-repeat="s in so" ng-value="s">{{s.code+': '+s.description}}</option>
                                        </optgroup>
                                        <optgroup ng-if="false" ng-repeat-end></optgroup>
                                    </select>
                                </td>
                                <td nowrap><-Service output</td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="performance_indicator_id" class="form-control select-search-5"
                                            ng-model="performance_indicator_id"
                                            ng-options="f.id as (f.number+'-'+f.description) for f in allPerformanceIndicators">
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="addItem()">Add Item</button>
                                </td>
                            </tr>
                            <tr ng-repeat="item in performanceIndicators">
                                <td>[{{ item.performance_indicator.number }}] {{ item.performance_indicator.description }}</td>
                                <td nowrap="nowrap">
                                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item.id,generic_target_id)">
                                        <span class="fa fa-remove"></span> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search-5').select2();
    </script>
</div>