<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_CEILING_CHAIN"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>
                                        <span translate="FOR_ADMIN_HIERARCHY_LEVEL"></span>
                                    </label>
                                    <select class="form-control select-search1"
                                            ng-model="createDataModel.for_admin_hierarchy_level_position"
                                            name="for_admin_hierarchy_level_position"
                                            ng-options="var.hierarchy_position as var.name for var in hierarchyLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.for_admin_hierarchy_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>
                                        <span translate="ADMIN_HIERARCHY_LEVEL"></span>
                                    </label>
                                    <select class="form-control select-search2"
                                            ng-model="createDataModel.admin_hierarchy_level_position"
                                            name="admin_hierarchy_level_position"
                                            ng-options="var.hierarchy_position as var.name for var in hierarchyLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.admin_hierarchy_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>

                                        <span translate="SECTION_LEVEL"></span>

                                        <span translate="CEILING_SECTION_LEVEL"></span>

                                    </label>
                                    <select class="form-control select-search3"
                                            ng-model="createDataModel.section_level_position"
                                            name="section_level_position"
                                            ng-options="var.hierarchy_position as var.name for var in sectionLevels">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.section_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>
                                        <span translate="NEXT_CEILING_POSITION"></span>
                                    </label>
                                    <select class="form-control select-search4"
                                            ng-model="createDataModel.next_id"
                                            name="next_id"
                                            ng-options="var.id as (var.admin_hierarchy_level.name+' - '+var.section_level.name) for var in ceilingChains">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createForm.next_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
    $(".select-search4").select2();
</script>