<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-sm-3">
            <select ng-model="reportParameter.admin_hierarchy_id"
                    class="form-control select-search"
                    ng-options="item.id as item.name for item in adminHierarchies" >
                <option value="">-- Administrative Level --</option>
            </select>
        </div>

        <div class="col-sm-3">
            <select ng-model="reportParameter.fund_source_id"
                    class="form-control"
                    ng-options="peFundSource.id as peFundSource.name for peFundSource in peFundSources" >
                <option value="">-- Fund Source --</option>
            </select>
        </div>

        <div class="col-sm-3">
            <select ng-model="reports"
                    class="form-control"
                    ng-options="item as item.title for item in budgetSubmissionSubForms">
                <option value="">-- Budget Submission Report --</option>
            </select>
        </div>

        <div class="col-sm-2">
            <select ng-model="reportParameter.financial_year_id"
                    class="form-control"
                    ng-options="item.id as item.name for item in financialYears">
                <option value="">-- Financial Year --</option>
            </select>
        </div>

        <div class="col-sm-1 right">
            <button type="button"
                    href class="btn btn-success"
                    ng-click="generateReport()">
                <i class="fa fa-file-pdf-o"></i>
                <span translate="BTN_PREVIEW"></span>
            </button>
        </div>
    </div>
</div>

<div class="row" ng-show="peReport" align="center" >
    <br/>
    <object width="1000" height="900" data="{{reportUrl}}" type="application/pdf">
        <embed src="{{reportUrl}}" type="application/pdf"/>
    </object>
</div>

<script type="application/javascript">
    $(".select-search").select2();
</script>