<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" id="toggleDivWrapper">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon bg-teal-400">
                        ADMIN_HIERARCHY
                    </div>
                    <select class="form-control select-search1" ng-model="admin_hierarchy_id" ng-change="filterData(admin_hierarchy_id,currentPage,perPage)"
                            ng-options="item.id as item.name for item in admin_hierarchies">
                        <option value="" selected="selected">-COUNCIL-</option>
                    </select>
                </div>
            </div>
            <div class="col-md4">
                <a class="btn btn-link" href="/report/facilityStatusReports/printPDF">
                    <i class="fa fa-print"></i> Print
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="FACILITY_TYPE"></th>
                            <th translate="FACILITY_NAME"></th>
                            <th translate="LOCATION_AND_ACCESS"></th>
                            <th translate="NEAREST_SIMILAR_FACILITY"></th>
                            <th translate="CATCHMENT_POPULATION"></th>
                            <th translate="YEAR_OF_OPERATION"></th>
                            <th>
                                <table class="table" style="background: transparent;border: 0">
                                    <tr style="border: 0">
                                        <th ng-repeat="cd in facilityCustomDetails" style="border: 0">
                                            {{cd.name}}
                                        </th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items.data">
                            <td>{{$index + 1}}</td>
                            <td>{{item.facility_type.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.furthest_village_served_distance}}KM from {{item.furthest_village_served.name}}</td>
                            <td>{{item.nearest_similar_facility_distance}}KM from {{item.nearest_similar_facility.name}}</td>
                            <td>{{item.catchment_population}}</td>
                            <td>{{item.operation_year}}</td>
                            <td>
                                <table class="table" style="border:0">
                                    <tr style="border:0">
                                        <td ng-repeat="y in item.custom_details" style="border:0">
                                            {{y.detail_value}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-12">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".select-search1").select2()
    $(".select-search2").select2()
</script>