<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_GFS_CODE_SUB_CATEGORY"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateGfsCodeSubCategoryForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text"
                                       ng-model="gfsCodeSubCategoryToEdit.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateGfsCodeSubCategoryForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                <span translate="CATEGORY"></span>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control select-search"
                                        ng-model="gfsCodeSubCategoryToEdit.gfs_code_category_id"
                                        name="gfs_code_category_id"
                                        ng-options="gfsc.id as gfsc.name for gfsc in gfsCodeCategories">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateGfsCodeSubCategoryForm.gfs_code_category_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>