<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ ceiling_name }}</h5>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead class="bg-teal-400">
                    <tr>
                        <th translate="TH_ADMIN_HIERARCHY"></th>
                        <th translate="TH_SECTOR"></th>
                        <th translate="TH_SECTION"></th>
                        <th translate="TH_AMOUNT"></th>
                        <th translate="TH_ACTION"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="50%" colspan="3">
                            <select name="mtef_section_id" class="select-search form-control "
                                    ng-model="adminHierarchyCeilingToCreate.mtef_section_id"
                                    ng-options="mtef_section.id as (mtef_section.admin_hierarchy+'(Sector:'+mtef_section.sector+')(Section:'+mtef_section.section+')') for mtef_section in mtefSections">
                            </select>
                        </td>
                        <td>
                            <input ng-required="true" name="amount" type="number"
                                   ng-model="adminHierarchyCeilingToCreate.amount"
                                   placeholder="" class="form-control" value="0"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="addAdminHierarchyCeiling()">Add
                                Ceiling
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="admin_hierarchy_ceiling in admin_hierarchy_ceilings">
                        <td>{{ admin_hierarchy_ceiling.admin_hierarchy}}</td>
                        <td>{{ admin_hierarchy_ceiling.sector}}</td>
                        <td>{{ admin_hierarchy_ceiling.section}}</td>
                        <td>{{ admin_hierarchy_ceiling.amount | currency:"" }}</td>
                        <td nowrap="nowrap">
                            <button href class="btn btn-danger"
                                    ng-click="deleteAdminHierarchyCeiling(admin_hierarchy_ceiling.id,admin_hierarchy_ceiling.ceiling_id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search').select2();
    </script>
</div>