<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg" id="createModal">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_CEILING"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createCeilingForm" novalidate>
                <div class="modal-body">

                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
                                </button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_NAME"></label>
                                    <input ng-required="true" name="name" type="text"
                                           ng-model="ceilingToCreate.name" placeholder="" class="form-control">
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCeilingForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_BUDGET_CLASS"></label>
                                    <!--<select name="budget_class_id"-->
                                            <!--class="form-control select-search"-->
                                            <!--ng-model="ceilingToCreate.budget_class_id"-->
                                            <!--ng-options="f.id as f.name for f in budgetClasses" ng-change="checkBudgetClass(ceilingToCreate.budget_class_id)">-->
                                        <!--<option value="" selected="selected">-Budget Class-</option>-->
                                    <!--</select>-->

                                    <select name="budget_class_id" ng-model="ceilingToCreate.budget_class_id" class="form-control select-search"
                                            ng-change="checkBudgetClass(ceilingToCreate.budget_class_id)">
                                        <option ng-disabled="bc1.children.length >0" value="{{bc1.id}}"  ng-repeat-start="bc1 in budgetClasses"><strong>{{bc1.name}}</strong></option>
                                        <option ng-disabled="bc2.children.length >0" value="{{bc2.id}}"  ng-repeat-start="bc2 in bc1.children"><span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>{{bc2.name}}</option>
                                        <option value="{{bc3.id}}"  ng-repeat-end ng-repeat="bc3 in bc2.children">
                                            <span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>
                                            <span ng-if="bc2.children.length >0">&nbsp;&nbsp;</span>
                                            {{bc3.name}}</option>
                                        <option  ng-show="false" ng-repeat-end=""></option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCeilingForm.budget_class_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_GFS_CODE"></label>
                                    <select name="gfs_code_id" class="select-search form-control"
                                            ng-model="ceilingToCreate.gfs_code_id"
                                            ng-options="fs.id as ('['+fs.code+'] '+fs.name) for fs in gfs_codes">
                                        <option value="" selected="selected">-GFS Code-</option>
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCeilingForm.gfs_code_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LABEL_SECTORS"></label>
                                    <select name="sector_id" multiple="multiple" class="select-fixed-multiple form-control"
                                            ng-model="ceilingToCreate.sector_id"
                                            ng-options="sector.id as sector.name for sector in sectors">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createCeilingForm.sector_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-fixed-multiple').select2({
        minimumResultsForSearch:Infinity,
    });
    $('.select-search').select2();
</script>
