<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="EDIT_CEILING"></h5>
            </div>
            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <!--<div class="form-group">
                        <div class="col-sm-12">
                            <label translate="LABEL_NAME"></label>
                            <input ng-required="true" name="name" type="text"
                                   ng-model="ceilingToEdit.name"
                                   placeholder="" class="form-control"/>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label translate="LABEL_BUDGET_CLASS"></label>
                            <!--<select name="budget_class_id" class="form-control select-search"-->
                                    <!--ng-model="ceilingToEdit.budget_class_id"-->
                                    <!--ng-options="budgetClass.id as budgetClass.name for budgetClass in budgetClasses">-->

                            <!--</select>-->
                            <select name="budget_class_id" ng-model="ceilingToEdit.budget_class_id" class="form-control select-search"
                                    ng-change="checkBudgetClass(ceilingToCreate.budget_class_id)">
                                <option ng-disabled="bc1.children.length >0" value="{{bc1.id}}"  ng-repeat-start="bc1 in budgetClasses"><strong>{{bc1.name}}</strong></option>
                                <option ng-disabled="bc2.children.length >0" value="{{bc2.id}}"  ng-repeat-start="bc2 in bc1.children"><span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>{{bc2.name}}</option>
                                <option value="{{bc3.id}}"  ng-repeat-end ng-repeat="bc3 in bc2.children">
                                    <span ng-if="bc1.children.length >0">&nbsp;&nbsp;</span>
                                    <span ng-if="bc2.children.length >0">&nbsp;&nbsp;</span>
                                    {{bc3.name}}</option>
                                <option  ng-show="false" ng-repeat-end=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label col-sm-3" translate="LABEL_GFS_CODE"></label>
                            <select name="gfs_code_id" class="form-control select-search"
                                    ng-model="ceilingToEdit.gfs_code_id"
                                    ng-options="fs.id as ('['+fs.code+'] '+fs.name) for fs in gfs_codes">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('.select-fixed-multiple').select2({
        minimumResultsForSearch:Infinity,
    });
    $('.select-search').select2();
</script>