<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" >
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" >
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group ">
                    <input ng-model="searchQuery"  ng-keypress="enterToSearch($event)" type="text" class="form-control" placeholder="Search by fund source">
                    <span class="input-group-btn">
                        <button ng-click="searchCeiling()" class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!--<div class="input-group">
                    <input type="text" class="form-control col-xs-6" ng-model="searchString" placeholder="Search ..." ng-change="search(searchString)" />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>-->
            </div>
            <div class="col-md-4">
                <!-- <button href class="btn btn-info pull-right create-btn" ng-click="createOrEdit({},currentPage,perPage)" >
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span translate="BTN_CREATE"></span>
                </button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="overflow-x: scroll">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive table-striped d-flex justify-content-evenly">
                        <thead class="bg-teal-400">
                        <tr>
                            <th colspan="5" translate="CEILING" style="text-align: center"></th>
                            <th colspan="{{sectors.length}}" style="text-align: center" translate="SECTORS"></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_FUND_SOURCE"></th>
                            <th translate="TH_BUDGET_CLASS"></th>
                            <th translate="TH_GFS_CODE"></th>
                            <th>Created Date</th>
                            <th>Usage</th>
                            <th ng-repeat="s in sectors">{{s.name}}</th>
                            <th>Extends To Service Provider</th>
                            <th>Is Active</th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ceiling in ceilings.data">
                            <td class="disabled">{{$index + 1}}</td>
                            <td nowrap="nowrap" class="disabled">
                                <span ng-if="ceiling.gfs_code">{{ceiling.gfs_code.fund_source.name}}</span>
                                <span ng-if="!ceiling.gfs_code">{{ceiling.aggregate_fund_source.name}}</span>
                            </td>
                            <td nowrap="nowrap" class="disabled">{{ceiling.budget_class.name}}</td>
                            <td class="disabled">
                                <span ng-if="ceiling.gfs_code">[{{ceiling.gfs_code.code}}] {{ceiling.gfs_code.name}}</span>
                                <span ng-if="!ceiling.gfs_code"><i translate="UNDEFINED"></i></span>
                            </td>
                            <td nowrap="nowrap" class="disabled">{{getDate(ceiling.created_at) | date:'dd-MM-yy'}}</td>
                            <td>
                                <button type="button" ng-click="viewUsage(ceiling)" class="btn btn-success">Usage</button>
                            </td>
                            <td nowrap="nowrap" ng-repeat="s in sectors">
                                <label class="switch">
                                    <input type="checkbox"
                                           name="selectedClasses"
                                           value="{{s.id}}"
                                           ng-checked="sectorExists(ceiling,s)"
                                           ng-click="toggleSectorSelection(ceiling,s)" />
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"
                                           name="selectedClasses"
                                           ng-click="toggleExtendsToFacility(ceiling)"
                                           ng-model="ceiling.extends_to_facility"
                                            />
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"
                                           name="selectedClasses"
                                           ng-click="toggleActive(ceiling.id)"
                                           ng-model="ceiling.is_active"
                                            />
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <button ng-disabled="ceiling.is_active" type="button" class="btn btn-danger" ng-click="delete(ceiling.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="ceilings.total > ceilings.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="ceilings.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="ceilings.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ ceilings.total }}" perPage="{{ ceilings.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>

