<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">{{ ceiling.name }} Usage</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    Name:<strong>{{ceiling.name}}</strong><br/>
                    Created Date:<span class="badge badge-success"><strong>{{getDate(ceiling.created_at)| date:'dd-MM-yyyy'}}</strong></span><br/>
                    Similar Ceiling: <span class="badge badge-warning">{{similar}}</span>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="bg-teal-400">
                            <tr>
                                <th>Admin Area</th>
                                <th>Unit</th>
                                <th>Financial Year</th>
                                <th>Budget Type</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ac in adminCeilings.data">
                                <td>{{ac.admin_hierarchy.name}}</td>
                                <td>{{ac.section.name }}</td>
                                <td>{{ac.financial_year.name }}</td>
                                <td>{{ac.budget_type }}</td>
                                <td>{{ac.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="row" ng-show="adminCeilings.total > adminCeilings.per_page">
                    <div class="col-md-10">
                        <ul uib-pagination total-items="adminCeilings.total" max-size="7" class="pagination-sm pull-left" boundary-links="true"
                            num-pages="numPages" items-per-page="adminCeilings.per_page"
                            ng-model="currentPage"
                            ng-change="pageChanged()">
                        </ul>
                        <total-pages currentPage="{{currentPage}}" totalItems="{{ adminCeilings.total }}" perPage="{{ adminCeilings.per_page }}"></total-pages>
                    </div>
                    <div class="col-md-2">
                        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success cancel" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-search').select2();
    </script>
</div>