<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_NEW_PLANNING_AND_BUDGETING_UNIT"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createDecisionLevelForm" novalidate>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_ADMINISTRATIVE_HIERARCHY_LEVEL"></label>
                        <div class="col-sm-9">
                            <select  name="admin_hierarchy_level_position" class="form-control" ng-required="true"
                                    ng-model="decisionLevelToCreate.admin_hierarchy_level_position"
                                    ng-options="faf.hierarchy_position as faf.name for faf in allAdminHierarchyLevels">
                                <option value="" selected>Select Administration Level</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createDecisionLevelForm.admin_hierarchy_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION_LEVEL"></label>
                        <div class="col-sm-9">
                            <select  name="section_level_position" class="form-control" ng-required="true"
                                    ng-model="decisionLevelToCreate.section_level_id"
                                    ng-options="faf.id as faf.name for faf in sectionLevels">
                                <option value="" selected>Select Section Level</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createDecisionLevelForm.section_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="decisionLevelToCreate.name" placeholder="e.g Regional Administrative Secretariat (RAS)" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createDecisionLevelForm.name.$error.required" >Name is required</span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_DESCRIPTION"></label>
                        <div class="col-sm-9">
                            <textarea ng-model="decisionLevelToCreate.description" placeholder="Description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SORT_ORDER"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-min="1" name="sort_order" type="number" ng-model="decisionLevelToCreate.sort_order" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createSectionLevelForm.sort_order.$error.required" translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger"
                                      ng-show="createDecisionLevelForm.sort_order.$error.min"
                                      translate="VALIDATION_MIN"
                                ></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="TH_NEXT_LEVEL"></label>
                        <div class="col-sm-9">
                            <select multiple name="parent_id" class="form-control select-fixed-multiple"
                                    ng-model="decisionLevelToCreate.next_decisions"
                                    ng-options="ff as ff.name for ff in allDecisionLevels track by ff.id">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-fixed-multiple').select2({
            minimumResultsForSearch:Infinity,
        });
        $('.select-search').select2();
    </script>
</div>