<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title">Edit planning & budgeting unit</h5>
            </div>

            <form action="#" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_ADMINISTRATIVE_HIERARCHY_LEVEL"></label>
                        <div class="col-sm-9">
                            <select  name="admin_hierarchy_level_position" class="form-control" ng-required="true"
                                     ng-model="decisionLevelToEdit.admin_hierarchy_level_position"
                                     ng-options="faf.hierarchy_position as faf.name for faf in allAdminHierarchyLevels">
                                <option value="" selected>Select Administration Level</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createDecisionLevelForm.admin_hierarchy_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_SECTION_LEVEL"></label>
                        <div class="col-sm-9">
                            <select  name="section_level_position" class="form-control" ng-required="true"
                                     ng-model="decisionLevelToEdit.section_level_id"
                                     ng-options="faf.id as faf.name for faf in sectionLevels">
                                <option value="" selected>Select Section Level</option>
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createDecisionLevelForm.section_level_position.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="decisionLevelToEdit.name" placeholder="e.g Regional Administrative Secretariat (RAS)" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea ng-model="decisionLevelToEdit.description" placeholder="Description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="TH_NEXT_LEVEL"></label>
                        <div class="col-sm-9">
                            <select multiple name="parent_id" class="form-control select-fixed-multiple"
                                    ng-model="decisionLevelToEdit.next_decisions"
                                    ng-options="ff as ff.name for ff in allDecisionLevels track by ff.id">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-primary action" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
    <script type="application/javascript">
        $('.select-fixed-multiple').select2({
            minimumResultsForSearch:Infinity,
        });
        $('.select-search').select2();
    </script>
</div>