<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href class="btn btn-success pull-right create-btn" ng-click="create()" translate="BTN_CREATE"></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO">No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="ADMIN_HIERARCHY_LEVELS" nowrap></th>
                            <th translate="SECTION_LEVEL" nowrap></th>
                            <th translate="TH_NEXT_LEVEL" nowrap></th>
                            <th translate="TH_IS_DEFAULT" nowrap></th>
                            <th translate="TH_ACTION">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="decisionLevel in decisionLevels.data | orderBy:decisionLevel.sort_order">
                            <td>{{$index + 1}}</td>
                            <td>{{decisionLevel.name}}</td>
                            <td>
                                <ul><li ng-repeat="l in decisionLevel.admin_hierarchy_levels ">{{l.name}}</li></ul>

                            </td>
                            <td>{{decisionLevel.section_level.name}}</td>
                            <td>
                                <ul><li ng-repeat="l in decisionLevel.next_decisions ">{{l.name}}</li></ul>
                            </td>

                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="decisionLevel.is_default"
                                           ng-model="decisionLevel.is_default"
                                           ng-change="defaultDecisionLevel(decisionLevel, decisionLevel.is_default,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(decisionLevel,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(decisionLevel.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="decisionLevels.total > decisionLevels.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="decisionLevels.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="decisionLevels.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ decisionLevels.total }}" perPage="{{ decisionLevels.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>