<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
     <select ng-model="selectedPlan"
                class="form-control select-search1"
                ng-change="loadContents(selectedPlan.id)"
                ng-options="casPlan as casPlan.name for casPlan in casPlans">
            <option value="">-- Select Comprehensive Plan --</option>
        </select>
  </div>

  <div class="col-md-4" ng-show="selectedPlan.is_facility == true">
        <select class="form-control"
                ng-model="facility_type"
                ng-change = "loadFacilityByType()"
                ng-options="i.facility_type_id as i.facility_type for i in facilities| unique:'facility_type'">
        </select>
  </div>

  <div class="col-md-4" ng-show="selectedPlan.is_facility == true">
     <select class="form-control"
             ng-model="facility"
             ng-change = "refreshData()"
             ng-options="i.id as i.name for i in facilityByType">
     </select>
  </div>
</div>

<div class="row">
  <br/>
  <div class="col-md-12" ng-show="casPlanContents !== undefined" id="planContents">
        <div class="row" >
            <div class="pull-left">
                <button type="button"
                        ng-show="isEditable == true && selectedPlan.is_assessed == true"
                        href class="btn btn-info  create-btn"
                        ng-click="loadAssessment(selectedPlan)"
                        translate="BTN_SUBMIT_ASSESSMENT">
                </button>
        </div>
        <div class="pull-right">
            <button
                    type="button"
                    href class="btn btn-warning  create-btn"
                    translate="BUDGET_LOCKED"
                    ng-show="isEditable == false">
            </button>
            <button type="button"
                    ng-disabled="casPlanContentNode.currentNode === undefined || (selectedPlan.is_facility == true && facility == undefined)"
                    href class="btn btn-success create-btn"
                    ng-click="loadPlanTables(casPlanContentNode.currentNode.id)" translate="BTN_PREVIEW">
            </button>
        </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="background: #FFF;padding:6px 6px 6px 6px;border:1px solid #ddd;border-radius:4px">
                <input style="width:100%" class="form-control"  ng-model='casPlanContentNodeSearchQuery' type="text" placeholder="Search in tree..."/>
                <br />
                <div>
                    <span style="padding: 4px 4px"><i class="fa fa-upload text-info"></i>Upload</span>
                    <span style="padding: 4px 4px"><i class="fa fa-file-pdf-o" style="color: #a21309"></i>Report</span>
                    <span style="padding: 4px 4px"><i class="fa fa-table text-info"></i>Entry</span>
                </div>
                <br/>
                <div
                        data-angular-treeview="true"
                        data-tree-id="casPlanContentNode"
                        data-tree-model="casPlanContents"
                        data-node-id="id"
                        data-node-label="description"
                        data-node-children="children"
                        data-search-query='casPlanContentNodeSearchQuery'>
                </div>
                <br/>
            </div>
        </div>
        <br/>
    </div>
</div>


<div class="row"  id="planTable">
    <div class="col-md-12">
        <div class="row">
            <br/>
            <div class="col-md-4">
                <select class="form-control"
                        ng-model="defaultTable"

                        ng-options="i.id as i.name for i in planTables">
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-control"
                        ng-model="financial_year_id"
                        ng-change="loadFinancialYearPeriods(defaultTable,financial_year_id)"
                        ng-options="i.id as i.name for i in financialYears">
                    <option value="">-- Select Financial Year --</option>
                </select>
            </div>

            <div class="col-md-4" ng-show="isPeriodic==true">
                <select class="form-control"
                        ng-model="period_id"
                        ng-change="changePlanTable(defaultTable)"
                        ng-options="period.id as period.name for period in financialYearPeriods">
                    <option value="">-- Select Period --</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br/>
                <button href class="btn btn-warning  pull-left" ng-click="backToContent()">
                    <i class="fa fa-arrow-left"></i>
                    <span translate="BTN_BACK"></span>
                </button>

                <div ng-show="singleTypeTable == false" class="pull-right">
                    <button  type="button"
                             ng-show="isEditable == true"
                             ng-click="viewDetails(defaultTable, facility, period_id)"
                             class="btn btn-primary btn-sm">
                        <i class="fa fa-plus" ></i>
                        <span translate="BTN_COMMENTS"></span>
                    </button>

                    <button type="button"
                            id=""
                            class="btn btn-success btn-sm"
                            ng-show="isEditable == true"
                            ng-click="store(period)">
                        <i class="fa fa-save"></i>
                        <span translate="BTN_SAVE"></span>
                    </button>
                </div>

                <button type="button"
                        id=""
                        ng-click="uploadFile(file)"
                        ng-show="singleTypeTable == true"
                        class="btn btn-primary btn-sm pull-right">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_SAVE"></span>
                </button>
            </div>
        </div>

        <div class="row" ng-show="singleTypeTable == false">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400" >
                        <tr ng-show="firstColumns.length > 0" >
                            <th> <span ng-show="secondColumns.length == 0">SN</span> </th>
                            <th ng-repeat="item in firstColumns"
                                colspan="{{ item.colspan }}"
                                class="text-center"
                                rowspan="{{ item.rowspan }}">
                                {{ item.name }}
                            </th>
                        </tr>
                        <tr ng-show="secondColumns.length > 0">
                            <th> <span ng-show="lowerColumns.length == 0">SN</span></th>
                            <th ng-repeat="item in secondColumns"
                                colspan="{{ item.colspan }}"
                                class="text-center"
                                rowspan="{{ item.rowspan }}">
                                {{ item.name }}
                            </th>
                        </tr>
                        <tr ng-show="lowerColumns.length > 0">
                            <th> SN </th>
                            <th ng-repeat="item in lowerColumns" colspan="{{ item.colspan }}" class="text-center">
                                {{ item.name }}
                            </th>
                        </tr>
                        </thead>
                        <tbody >

                        <tr ng-show="rows.length > 0"
                            ng-repeat="item in rows"
                            ng-init="init(item.id)">

                            <td>{{ $index + 1 }}</td>
                            <td colspan="{{ item.colspan }}" rowspan="{{ item.rowspan }}" >{{ item.name }}</td>
                            <td ng-show="item.children != undefined" colspan="{{ item.children.colspan }}" rowspan="{{ item.children.rowspan }}">{{ item.children.name }}</td>
                            <td ng-show="item.children.children != undefined" colspan="{{ item.children.children.colspan }}" rowspan="{{ item.children.children.rowspan }}">{{ item.children.children.name }}</td>
                            <td ng-repeat="i in columns" class="td-padding-2">
                                <span ng-show="i.type == 'Text' || i.type == 'Checkbox'  ">
                                    <input type="{{ i.type }}"
                                           ng-model="fieldValue[item.id][i.id]"
                                           class="form-control td_matrix"
                                           ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false">
                                </span>
                                <span ng-show="i.type == 'Number' ">
                                    <input type="text"
                                           string-to-number
                                           ng-model="fieldValue[item.id][i.id]"
                                           class="form-control td_matrix"
                                           ng-keyup="inputIsNumber(item.id, i.id)"
                                           ng-class="{ 'red_border' : fieldError[item.id][i.id] === true }"
                                           ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false"/>

                                </span>
                                <span ng-show="i.type == 'Formula'" >
                                    <input disabled
                                           type="text"
                                           ng-model="fieldValue[item.id][i.id]"
                                           ng-value="getFieldValue(item.id, i)"
                                           class="form-control td_matrix">
                                </span>
                                <span ng-show="i.type == 'Select'" >
                                    <select ng-model="fieldValue[item.id][i.id]"
                                            class="form-control td_matrix"
                                            ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false">
                                       <option ng-repeat="opt in selectOptions"
                                               ng-show="opt.parent_id == i.opt_group_id"
                                               value="{{ opt.name }}">
                                               {{ opt.code + ' | ' + opt.name }}
                                       </option>
                                    </select>
                                </span>
                            </td>
                        </tr>

                        <tr ng-show="rounds !== undefined"
                            ng-repeat="x in rounds"
                            ng-init="init(x)" >
                            <td>{{ $index + 1 }}</td>
                            <td ng-show="Itemlists.length > 0" >
                                <span >
                                     <select class="form-control td_matrix"
                                             ng-model="facilities[x]"
                                             ng-options="item.id as item.name for item in Itemlists"
                                             ng-value="" >
                                       <option value="">--select facility--</option>
                                      </select>
                                </span>

                            </td>
                            <td ng-repeat="i in columns" class="td-padding-2">
                                <span ng-show="i.type == 'Text' || i.type == 'Checkbox'  ">
                                    <input type="{{ i.type }}"
                                           ng-model="fieldValue[x][i.id]"
                                           ng-value="fieldValue[x][i.id]"
                                           class="form-control td_matrix"
                                           ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false">
                                </span>
                                <span ng-show="i.type == 'Number'">
                                    <input type="text"
                                           string-to-number
                                           ng-model="fieldValue[x][i.id]"
                                           ng-value="fieldValue[x][i.id]"
                                           ng-keyup="inputIsNumber(x, i.id)"
                                           ng-class="{ 'red_border' : fieldError[x][i.id] === true }"
                                           class="form-control td_matrix"
                                           ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false">
                                </span>
                                <span ng-show="i.type == 'Formula'" >
                                    <input disabled
                                           type="text"
                                           ng-model="fieldValue[x][i.id]"
                                           ng-value="getFieldValue(x,i)"
                                           class="form-control td_matrix">
                                </span>
                                <span ng-show="i.type == 'Select'" >
                                    <select ng-model="fieldValue[x][i.id]"
                                            class="form-control td_matrix"
                                            ng-disabled="i.admin_hierarchy_level_id !== admin_hierarchy_level || isEditable == false">
                                       <option ng-repeat="opt in selectOptions"
                                               ng-init="getInitialValue(x, i.id)"
                                               ng-show="opt.parent_id == i.opt_group_id"
                                               value="{{ opt.name }}">
                                               {{ opt.code + ' | ' + opt.name }}
                                       </option>
                                    </select>
                                </span>

                            </td>
                        </tr>

                        </tbody>
                        <tfoot ng-show="HasverticalTotal">
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="{{ dimensionRow }}" > Total </td>
                            <td ng-repeat="j in columns"
                                class="td-padding-2"
                                ng-show="j.is_list !== true">
                                 <span ng-show="j.vertical_total" >
                                   <input disabled
                                          type="text"
                                          string-to-number
                                          ng-model="verticalTotal[j.id]"
                                          ng-value="getVerticalTotal(j.id)"
                                          class="form-control"
                                          style="width: 100%;">
                                 </span>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div ng-show="rounds.length > 0">
                         <a href class="btn btn-info pull-right create-btn"
                                 ng-click="addRound(rounds.length+1)" >
                            <i class="fa fa-plus"></i>
                            <span translate="BTN_ADD"></span>
                          </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="singleTypeTable == true">
            <br/>
            <div ng-show="casPlanTableUrl !== undefined">
                Download File here
                <a href="{{ destinationFolder+'/'+casPlanTableUrl.url }}"
                   class="btn btn-info create-btn" target="_blank">
                    <i class="fa fa-download"></i>
                    <span translate="BTN_DOWNLOAD"></span>
                </a>
            </div>
            <form action="#" class="form-horizontal" method="POST" enctype="multipart/form-data" novalidate>
                <div class="12">
                   Please upload '.pdf'
                   <br/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" translate="LABEL_FILE_UPLOAD"></label>
                    <div class="col-sm-9">
                        <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                               data-show-preview="false" ngf-select ng-model="file" name="file"
                               accept="'.pdf'" ngf-max-size="2MB" ngf-pattern="'.pdf'"
                               required ngf-model-invalid="errorFile"/>
                        <i ng-show="singleTypeTable.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <i ng-show="invalidFileInput" style="color: #ff5718;"> Invalid file format. Please use .pdf file to upload</i>
                    </div>
                </div>
                <!--<div class="form-group" >-->
                    <!--<div class="col-sm-12">-->
                        <!--<textarea  ng-model="description"-->
                                   <!--class="form-control"-->
                                   <!--placeholder="Type in contents if there is no file to upload">-->
                        <!--</textarea>-->
                    <!--</div>-->
                <!--</div>-->
            </form>

          </div>

    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
</script>


