<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title"><span translate="CAS_PLAN_TABLE_DETAILS"></span></h5>
            </div>


            <div ng-show="editDetailsMode">
                <form action="#" class="form-horizontal" name="editCasPlanTableDetailsForm" novalidate>
                    <div class="modal-body">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="COMMENTS"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="comment"
                                          ng-model="casPlanTableDetailsToEdit.comment"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="DATA_SOURCE"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="key"
                                          ng-model="casPlanTableDetailsToEdit.key"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>

            <div ng-show="createDetailsMode">
                <form action="#" class="form-horizontal" name="createCasPlanTableDetailsForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="COMMENTS"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="comment"
                                          ng-model="casPlanTableDetailsToCreate.comment"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="DATA_SOURCE"></label>
                            <div class="col-sm-9">
                                <textarea ng-required="true" name="key"
                                          ng-model="casPlanTableDetailsToCreate.key"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>

        </div>
    </div>

<script type="application/javascript">
    $(".select-search").select2();
</script>
