<div class="modal-dialog">
    <form action="#" class="form-horizontal" name="logoForm" novalidate>
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="Logo Update"></h5>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 12px; font-weight: bold;">Name : [{{piscs.code}}]
                    {{piscs.name}}
                </h5><br />
                <h5 class="modal-title" style="font-size: 12px; font-weight: bold;"> Sub-Vote:
                    {{piscs.parent.name}}
                </h5>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="errorMessage">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                            <ul ng-show="errors.length" class="form-errors">
                                <li ng-repeat="e in errors">{{e}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Description</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea ng-required="true" placeholder=" Length between 5 to 20 characters"
                                name="description" ng-model="logoToCreate.description" class="form-control">
                            </textarea>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger"
                                    ng-show="logoForm.description.$error.required">Description is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Select logo</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input name="logo" type="file" ng-model="logoToCreate.logo" class="form-control"
                                onchange="angular.element(this).scope().SelectFile(event)" />
                            <span class="help-block">Maximum size 100KB</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showImage">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label> </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <img ng-src="{{PreviewImage}}" ng-show="PreviewImage != null" alt=""
                                style="height:100px;width:100px" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <br />
                            <label><b>Name: </b> {{name}}</label><br />
                            <label><b>Type: </b> {{type}}</label><br />
                            <label><b>Size: </b>{{size}}</label>
                        </div>
                        <div class="col-sm-2">
                            <br />
                            <button type="button" class="btn btn-flat" ng-show="pics.path == null"
                                ng-click="remove(name)">
                                <span class="text-danger"> <i class="fa fa-remove"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="buttonDisable"
                    ng-click="store()">Save</button>
                <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
            </div>
        </div>

    </form>
</div>