<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                            <tr>
                                <th translate="NO"></th>
                                <th translate="Code"></th>
                                <th translate="PISC_NAME"></th>
                                <th translate="SUB_VOTE"></th>
                                <th translate="LOGO"></th>
                                <th translate="ACTION"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pics in PicsLogos.data">
                                <td>{{$index + 1}}</td>
                                <td>{{pics.code}}</td>
                                <td>{{pics.name}} </td>
                                <td>{{pics.parent.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-flat" ng-show="pics.path == null"
                                        ng-click="addLogo(pics)">
                                        <span class="text-info">Add Logo</span>
                                    </button>
                                    <button type="button" class="btn btn-flat" ng-show="pics.path != null"
                                        style="text-align: center;" ng-click="viewLogo(pics)">
                                        <!-- <i class="fa fa-picture-o"></i> -->
                                        <span class="text-info" style="color: green;">View</span>
                                        <!--<span translate="EDIT_ACTION"></span>-->
                                    </button>
                                </td>
                                <td nowrap="nowrap">
                                    <button type="button" class="btn btn-danger"
                                        ng-click="delete(pics.logo_id,pics.path,currentPage,perPage)"
                                        ng-show="pics.path != null">
                                        <i class="fa fa-remove"></i>
                                        <span translate="DELETE_ACTION"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-show="pics.path == null">
                                        <i class="fa fa-remove"></i>
                                        <span translate="DELETE_ACTION"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10" ng-show="PicsLogos.total > 0">
                        <ul uib-pagination total-items="PicsLogos.total" max-size="maxSize"
                            class="pagination-sm pull-left" boundary-links="true" num-pages="numPages"
                            items-per-page="PicsLogos.per_page" ng-model="currentPage" ng-change="pageChanged()">
                        </ul>
                        <total-pages currentPage="{{currentPage}}" totalItems="{{ PicsLogos.total }}"
                            perPage="{{ PicsLogos.per_page }}"></total-pages>
                    </div>
                    <div class="col-md-2" ng-show="PicsLogos.total > 0">
                        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
                    </div>
                </div>


            </div>
        </div>




    </div>
</div>