<div class="modal-dialog">
    
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="Logo View"></h5>
            </div>
        </div>
        <div class="modal-body">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            
                            <img async src="./{{piscs.path}}"  alt="Logo" style="height:200px;width:200px" />
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-header ">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Name : {{piscs.name}} </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Code : {{piscs.code}} </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Sub-Vote : {{piscs.parent.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Description : {{piscs.description}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
            </div>


        </div>

   
</div>    