<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="COPY_PLANNING_SEQUENCES"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span><span
                                        class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span
                                        class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <span>Descirption</span>
                                </label>
                                <input ng-disabled="true"
                                class="form-control" ng-value="(item.name)?item.name:item.description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr class="bg-teal-400">
                                        <td>Financial Year</td>
                                        <td>Version</td>
                                        <td>Carried</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="item.nextVersion.financialYear">
                                                {{item.nextVersion.financialYear}}
                                            </span>
                                            <span ng-if="!item.nextVersion.financialYear">
                                                No financial year!
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-if="item.nextVersion.version">
                                                {{item.nextVersion.version}}
                                            </span>
                                            <span ng-if="!item.nextVersion.version">
                                                <i class="fa fa-warning warning">No Version Mapped</i>
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-if="item.nextVersion.itemVersionId">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <button type="button" ng-if="!item.nextVersion.itemVersionId && item.nextVersion.id !== undefined && item.id !==undefined"
                                                ng-click="addToNextVersion(item.nextVersion.id, item.id)">
                                                Carry
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
