<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="CREATE_EXPENDITURE_CENTRE_VALUE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createExpenditureCentreValueForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="MIN_VALUE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="min_value" type="text"
                                   ng-model="expenditureCentreValueToCreate.min_value" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createExpenditureCentreValueForm.min_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="MAX_VALUE"></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="max_value" type="text"
                                   ng-model="expenditureCentreValueToCreate.max_value" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createExpenditureCentreValueForm.max_value.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="EXPENDITURE_CENTRE"></span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control select-search2"
                                    ng-model="expenditureCentreValueToCreate.expenditure_centre_id"
                                    name="expenditure_centre_id"
                                    ng-options="exp.id as exp.name for exp in expenditureCentres">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createExpenditureCentreValueForm.expenditure_centre_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search2").select2();
</script>