<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="showAlertSuccess===true" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            {{successMessage}}
        </div>
    </div>
    <div ng-show="showAlertError===true" class="col-md-12">
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
            {{errorMessage}}
        </div>
    </div>
</div>
<div class="row" id="toggleDivWrapper">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" name="financialYearId"
                    ng-model="financialYearId"
                    ng-options="item.id as item.name for item in financialYears">
                <option value="" selected="selected">-Financial Year-</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <select ng-model="segment_id" ng-change="loadData(segment_id)" class="form-control"
                    ng-options="key as value for (key , value) in segments">
                <option value="">-Select Segment-</option>
            </select>
        </div>
    </div>
</div>
<div class="row" ng-if="objectives">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-click="exportSelectedObjectives()" ng-show="selectedObjectives.length > 0">
                    <i class="fa fa-upload"></i>
                    {{selectedObjectives.length}}<span ng-show="selectedObjectives.length === 1"> Objective </span> <span ng-show="selectedObjectives.length > 1"> Objectives</span> Selected - Export Selected
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportAllObjectives()">
                    <i class="fa fa-upload"></i> Export All
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th translate="OPRAS_CODE"></th>
                    <th translate="OPRAS_NAME"></th>
                    <th translate="RESPONSE"></th>
                    <th>
                        Select
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-end ng-repeat="item in objectives | orderBy:'code'">
                    <td>{{$index + 1}}</td>
                    <td nowrap>{{item.code}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.ffars_response}}</td>
                    <td>
                        <input type="checkbox" ng-model="item.selected" ng-change="toggleObjectives(item)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-if="targets">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-click="exportSelectedTargets()" ng-show="selectedTargets.length > 0">
                    <i class="fa fa-upload"></i>
                    {{selectedTargets.length}}<span ng-show="selectedObjectives.length === 1"> Target </span> <span ng-show="selectedTargets.length > 1"> Targets</span> Selected - Export Selected
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportAllTargets()">
                    <i class="fa fa-upload"></i> Export All
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th>Target Name</th>
                    <th >Target Code</th>
                    <th>Objective Code</th>
                    <th>
                        Select
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-end ng-repeat="item in targets.data">
                    <td>{{$index + 1}}</td>
                    <td>{{item.target}}</td>
                    <td nowrap>{{item.target_code}}</td>
                    <td>{{item.objective_code}}</td>
                    <td>
                        <input type="checkbox" ng-model="item.selected" ng-change="toggleTargets(item)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-if="activities.data">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-click="exportSelectedActivities()" ng-show="selectedActivities.length > 0">
                    <i class="fa fa-upload"></i>
                    {{selectedActivities.length}}<span ng-show="selectedActivities.length === 1"> Activity </span> <span ng-show="selectedActivities.length > 1"> Activities</span> Selected - Export Selected
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportAllActivities()">
                    <i class="fa fa-upload"></i> Export All
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-teal-400">
                <tr>
                    <th>No.</th>
                    <th >Activity</th>
                    <th >Activity Code</th>
                    <th >Target Code</th>
                    <th >Amount</th>
                    <th >Period Code</th>
                    <th >Start Date</th>
                    <th >End Date</th>
                    <th >Response</th>
                    <th>
                        Select
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-end ng-repeat="item in activities.data">
                    <td>{{$index + 1}}</td>
                    <td nowrap>{{item.activity}}</td>
                    <td>{{item.activity_code}}</td>
                    <td>{{item.target_code}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.period_code}}</td>
                    <td>{{item.start_date}}</td>
                    <td>{{item.end_date}}</td>
                    <td>{{item.ffars_response}}</td>
                    <td>
                        <input type="checkbox" ng-model="item.selected" ng-change="toggleActivities(item)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10">
        <!--<ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="items.per_page"-->
            <!--ng-model="currentPage"-->
            <!--ng-change="pageChangedAct()">-->
        <!--</ul>-->
        <total-pages currentPage="{{currentPage}}" totalItems="{{ targets.total }}" perPage="{{ targets.per_page }}"></total-pages>
    </div>
    <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="pageChangedAct(segment_id)"></per-page>
    </div>
</div>
