<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="UPDATE_TRANSPORT_FACILITY"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="NAME"></label>
                                    <input name="asset_name" type="text"
                                           ng-model="updateDataModel.asset_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="REGISTRATION_NUMBER"></label>
                                    <input name="registration_number" type="text"
                                           ng-model="updateDataModel.registration_number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="CATEGORY"></label>
                                    <select name="parent_id" class="form-control selectSearch1"
                                            ng-model="updateDataModel.parent_id"
                                            ng-options="f.id as f.name for f in transportFacilityTypes">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.parent_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="USE"></label>
                                    <select name="used_for" class="form-control selectSearch2"
                                            ng-model="updateDataModel.used_for"
                                            ng-options="f.id as f.name for f in assetUses">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.used_for.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="CONDITION"></label>
                                    <select name="condition" class="form-control selectSearch3"
                                            ng-model="updateDataModel.condition"
                                            ng-options="a.id as a.name for a in assetConditions">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.condition.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label translate="OWNERSHIP"></label>
                              <select name="ownership" class="form-control selectSearch4"
                                      ng-model="updateDataModel.ownership"
                                      ng-options="f.name as f.name for f in ownershipType">
                              </select>
                              <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.ownership.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="MILEAGE"></label>
                                    <input name="mileage" type="text"
                                           ng-model="updateDataModel.mileage" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="TYPE"></label>
                                    <input name="type" type="text"
                                           ng-model="updateDataModel.type" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="COMMENTS"></label>
                                    <textarea ng-required="true" name="comments"
                                              ng-model="updateDataModel.comments" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="STATION"></label>
                                    <input name="station" type="text"
                                           ng-model="updateDataModel.station" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="ACQUISITION_DATE"></label>
                                    <div class="input-group">
                                    <span ng-click="startPopup =true" class="input-group-addon"><i
                                            class="icon-calendar22"></i></span>
                                        <input ng-click="startPopup =true" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateFormat}}"
                                               ng-model-options="{timezone: 'utc'}"
                                               ng-model="updateDataModel.date_of_acquisition" is-open="startPopup"
                                               datepicker-options="{}"
                                               ng-required="true"
                                               name="date_of_acquisition"
                                               close-text="Close"
                                               popup-placement="bottom"
                                               alt-input-formats="altInputFormats"/>
                                    </div>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateDataModel.date_of_acquisition.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label translate="INSURANCE_TYPE"></label>
                              <select name="insurance_type" class="form-control selectSearch5"
                                      ng-model="updateDataModel.insurance_type"
                                      ng-options="f.name as f.name for f in insuranceTypes">
                              </select>
                              <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateDataModel.insurance_type.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".selectSearch1").select2();
    $(".selectSearch2").select2();
    $(".selectSearch3").select2();
</script>
