<breadcrumb title="Transport Facilities"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="NAME"></th>
                            <th translate="REGISTRATION_NUMBER"></th>
                            <th translate="CATEGORY"></th>
                            <th translate="ACQUISITION_DATE"></th>
                            <th translate="USES"></th>
                            <th translate="CONDITION"></th>
                            <th translate="MILEAGE"></th>
                            <th translate="TYPE"></th>
                            <th translate="COMMENTS"></th>
                            <th translate="STATION"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values) in items.data | groupBy:'admin_hierarchy.name'">
                            <td colspan="12" style="background-color: #9ca2a7; color: black;">{{s}}</td>
                        </tr>
                        <tr  ng-repeat-end ng-repeat="item in values">
                            <td>{{$index + 1}}</td>
                            <td>{{item.asset_name}}</td>
                            <td>{{item.registration_number}}</td>
                            <td>{{item.transport_facility_type.name}}</td>
                            <td>{{item.date_of_acquisition|date:'MM/dd/yyyy'}}</td>
                            <td>{{item.asset_use.name}}</td>
                            <td>{{item.asset_condition.name}}</td>
                            <td>{{item.mileage}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.comments}}</td>
                            <td>{{item.station}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-info" ng-click="edit(item,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>