<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="COPY_FUND_SOURCES"></h5>
            </div>

            <form action="#" class="form-horizontal" name="createPriorityAreaForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                Source Financial Year: {{sourceFinancialYear.name}} <br />
                                Source Version: {{sourceVersion.name}} - {{sourceVersion.type}} - {{sourceVersion.date|date:'mediumDate'}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errors" class="col-md-12">
                            <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errors=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <span>Destination Financial Year</span>
                                </label>
                                <select class="form-control" name="financialYearId"
                                        ng-model="financialYearId" ng-change="loadFinancialYearVersions(financialYearId)"
                                        ng-options="item.id as item.name for item in financialYears">
                                    <option value="" selected="selected">-Financial Year-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <span>Destination Version</span>
                                </label>
                                <select class="form-control" name="versionId"
                                        ng-model="versionId"
                                        ng-options="version.id as (version.name+' - '+version.type+' - '+version.date) for version in financialYearVersions">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="copyFundSources(sourceFinancialYear.id,sourceVersion.id,versionId)">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>