<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_CREATE_FUND_SOURCE"></h5>
            </div>

            <div style="margin-top:4px" ng-show="successMessage" class="col-md-12">
                <div  class="alert alert-info alert-styled-left alert-arrow-left alert-bordered">
                    <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    {{successMessage | translate}}
                </div>
            </div>
            <form action="#" class="form-horizontal" name="createFundSourceForm" novalidate>
                <div class="modal-body" ng-if="newForm">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>
                    <!--name-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="fundSourceToCreate.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createFundSourceForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <!--Code-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_CODE"></span><span></span>
                        </label>
                        <div class="col-sm-9">
                            <input name="code" ng-maxlength="3" ng-minlength="3" ng-required="true" type="text"
                                   ng-model="fundSourceToCreate.code" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createFundSourceForm.code.$error.required" translate="VALIDATION_REQUIRED"></span>
                                <span class="help-block text-danger" ng-show="createFundSourceForm.code.$error.maxlength" translate="CODE_VALID_LENGTH_3"></span>
                                <span class="help-block text-danger" ng-show="createFundSourceForm.code.$error.minlength" translate="CODE_VALID_LENGTH_3"></span>
                            </div>

                        </div>
                    </div>
                    <!--Description-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_DESCRIPTION"></span><span></span>
                        </label>
                        <div class="col-sm-9">
                            <input  name="description" type="text" ng-model="fundSourceToCreate.description" placeholder="" class="form-control">
                        </div>
                    </div>
                    <!--Fund source Category-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="FUND_SOURCE_CATEGORY"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-required="true" ng-model="fundSourceToCreate.fund_source_category_id" name="fundSourceCategory"
                                    class="form-control">
                                <option  ng-repeat="f in fundSourceCategories" value="{{f.id}}">{{f.name}}</option>
                            </select>
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createFundSourceForm.fundSourceCategory.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <!--Parent fund source-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3" >-->
                            <!--<span translate="LABEL_SOURCE_CATEGORY_PARENT"></span><span>*</span>-->
                        <!--</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<select ng-model="fundSourceToCreate.fund_source_id" class="form-control" name="fund_source_id">-->
                                <!--<option ng-repeat="fundSource in fundSourceCategoryParents" value="{{fundSource.id}}">{{fundSource.name}}</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="FOREIGN"></label>
                        <div class="col-sm-9">
                            <label class="switch">
                                <input type="checkbox" ng-checked="fundSourceToCreate.is_foreign" ng-model="fundSourceToCreate.is_foreign">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <!--Can project-->
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_CAN_PROJECT"></label>
                        <div class="col-sm-9">
                        <label class="switch">
                            <input type="checkbox" ng-checked="fundSourceToCreate.can_project" ng-model="fundSourceToCreate.can_project">
                            <div class="slider round"></div>
                        </label>
                        </div>
                    </div>

                    <div ng-if="fundSourceToCreate.can_project" class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_PROJECTION_FUND_SOURCE"></label>
                        <div class="col-sm-9">
                         <select ng-change="filterAllocationBudgetClasses(fundSourceToCreate.subBudget_classes)" class="form-control" ng-model="fundSourceToCreate.subBudget_classes[0]"
                                 ng-options="sbc.id as sbc.description for sbc in subBudgetClasses">
                         </select>
                        </div>
                    </div>
                    <div ng-if="fundSourceToCreate.can_project">
                        <blockquote ng-if="newForm"  class="blockquote">
                            <p class="mb-0">Projection allocation Sub Budget Class(es)</p>
                            <footer class="blockquote-footer"> <cite title="Source Title">At least One</cite></footer>
                        </blockquote>
                        <div  class="col-sm-6" ng-repeat="sbc in allocationSubBudgetClasses" >
                            <label class="switch">
                                <input
                                        type="checkbox"
                                        name="selectedClasses[]"
                                        value="{{sbc.id}}"
                                        ng-checked="fundSourceToCreate.allocation_subBudget_classes.indexOf(sbc.id) > -1"
                                        ng-click="toggleAllocationBudgetClassSelection(fundSourceToCreate.allocation_subBudget_classes,sbc)"
                                ><div class="slider round"></div> &nbsp; &nbsp;
                            </label> <label >{{sbc.description}}</label>
                        </div>
                        <input type="hidden" ng-required="fundSourceToCreate.subBudget_classes.length ===0" ng-model="fundSourceToCreate.validBudgetClasses"
                               ng-value="" name="validBudgetClasses" />
                        <div ng-show="formHasErrors" class="col-sm-12">
                        <span class="help-block text-danger" ng-show="createFundSourceForm.validBudgetClasses.$error.required"
                              translate="SELECT_AT_LEAST_ONE_BUDGET_CLASS"></span>
                        </div>
                    </div>
                </div>
                <!--Budget Classes-->
                <div ng-if="!fundSourceToCreate.can_project">
                    <blockquote ng-if="newForm"  class="blockquote">
                        <p class="mb-0">Link Sub Budget Class(es)</p>
                        <footer class="blockquote-footer"> <cite title="Source Title">At least One</cite></footer>
                    </blockquote>
                    <div ng-if="newForm" class="col-sm-6" ng-repeat="sbc in subBudgetClasses" >
                            <label class="switch">
                                <input
                                        type="checkbox"
                                        name="selectedClasses[]"
                                        value="{{sbc.id}}"
                                        ng-checked="fundSourceToCreate.subBudget_classes.indexOf(sbc.id) > -1"
                                        ng-click="toggleBudgetClassSelection(fundSourceToCreate.subBudget_classes,sbc)"
                                ><div class="slider round"></div> &nbsp; &nbsp;
                            </label> <label >{{sbc.description}}</label>
                    </div>
                    <input type="hidden" ng-required="fundSourceToCreate.subBudget_classes.length ===0" ng-model="fundSourceToCreate.validBudgetClasses"
                           ng-value="" name="validBudgetClasses" />
                    <div ng-show="formHasErrors" class="col-sm-12">
                        <span class="help-block text-danger" ng-show="createFundSourceForm.validBudgetClasses.$error.required"
                              translate="SELECT_AT_LEAST_ONE_BUDGET_CLASS"></span>
                    </div>
                </div>
                <!--Gfs Codes-->
                <div  ng-if="newForm" class="col-sm-12">
                        <blockquote class="blockquote">
                            <p class="mb-0"></p>
                            <p class="mb-0" translate="ADD_REVENUE_GFS_CODES"></p>
                        </blockquote>
                    <div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td colspan="2" style="padding:4px">
                                 <select ng-model="gfsToAdd" class="form-control"
                                         ng-options="g as (g.code+'-'+g.description) for g in gfsToDisplay">

                                 </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-disabled="gfsToAdd === undefined"
                                            ng-click="addGfsCode(gfsToAdd)" translate="ADD"></button></td>
                            </tr>
                            <tr>
                                <th style="width:8%">Code</th><th style="width:90%">Description</th><th style="width:2%">Action</th>
                            </tr>
                            <tr ng-repeat="gfsCode in fundSourceToCreate.gfsCodes ">
                                <td width="10%">
                                    {{gfsCode.code}}
                                </td>
                            <td >{{gfsCode.description}}</td>
                            <td width="10%"><button type="button" class="btn btn-primary" ng-click="removeGfs($index)" translate="REM"></button>
                            </td>
                        </tr></table>
                    </div>
                    <input type="hidden" ng-required="fundSourceToCreate.gfsCodes.length ===0" ng-model="fundSourceToCreate.validGfsCodes"
                                   ng-value="" name="validGfsCodes" />
                    <div ng-show="formHasErrors">
                             <span class="help-block text-danger" ng-show="createFundSourceForm.validGfsCodes.$error.required"
                                   translate="SELECT_AT_LEAST_ONE_GFS_CODE"></span>
                    </div>

                    </div>
                <!--Buttons-->
                <div class="col-sm-12 modal-footer" ng-if="newForm">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <!--<button type="button" class="btn btn-primary" ng-click="toggleForm(false)" translate="Hide Form"></button>-->
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
            <br/>


            <!--Sector ang gfs mapping-->
            <form action="#" class="form-horizontal" name="linkSectorForm" novalidate>
                <!--Linking Ceiling with sectors-->
                <div ng-if="!newForm" class="col-sm-12" >
                  <div   class="col-sm-12">
                    <table class="table table-bordered table-striped">
                        <tr class="bg-teal-400">
                            <th translate="CEILING"></th>
                            <th translate="BUDGET_CLASS"></th>
                            <th translate="SECTOR"></th>
                            <th translate="GFS_CODE"></th>
                        </tr>
                        <tr ng-repeat-start="fundSourceCeiling in fundSourceCeilings"
                                ng-init="fundSourceCeiling.sectors=[];fundSourceCeiling.gfs_codes=[]">
                            <td width="30%">
                                {{fundSourceCeiling.name}}
                                <input type="hidden" ng-required="fundSourceCeiling.sectors.length ===0" ng-model="fundSourceCeiling.validSectors"
                                       ng-value="" name="{{$index}}" />
                                <div ng-show="formHasErrors">
                                   <span class="help-block text-danger" ng-show="linkSectorForm[$index].$error.required"
                                       translate="SELECT_AT_LEAST_ONE_SECTOR"></span>
                                </div>
                            </td>
                            <td>{{fundSourceCeiling.budget_class}}</td>
                            <td width="8%">
                                <button type="button" class="btn btn-success" ng-show="!showSector"
                                        ng-click="expandCeiling(fundSourceCeiling.id,true,false)" >
                                    <span translate="SECTORS"></span>{{(fundSourceCeiling.sectors.length)}}

                                </button>
                                <button type="button" class="btn btn-info" ng-show="expandedCeiling === fundSourceCeiling.id && showSector"
                                        ng-click="expandCeiling(0,false,false)" translate="DONE"></button>
                            </td>
                            <td width="8%">
                                <button ng-show="!showGfs" type="button" class="btn btn-success"
                                        ng-click="expandCeiling(fundSourceCeiling.id,false,true)" translate="GFS"></button>
                                <button type="button" class="btn btn-info" ng-show="expandedCeiling === fundSourceCeiling.id && showGfs"
                                        ng-click="expandCeiling(0,false,false)" translate="DONE"></button>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-show="expandedCeiling === fundSourceCeiling.id">
                            <td colspan="4" style="background: #E0F7FA">
                                <div ng-show="showSector">
                                    <table class="table table-bordered table-striped d-flex justify-content-evenly">
                                        <tr>
                                            <th translate="SECTOR"></th>
                                            <th translate="CHECK"></th>
                                        </tr>
                                        <tr ng-repeat="s in sectors">
                                            <td>{{s.description}}</td>
                                            <td width="10%">
                                                <label class="switch">
                                                    <input type="checkbox" name="selectedSectors[]" value="{{s.id}}"
                                                           ng-checked="fundSourceCeiling.sectors.indexOf(s.id) > -1"
                                                           ng-click="toggleSectors(fundSourceCeiling.sectors,s)">
                                                    <div class="slider round"></div> &nbsp; &nbsp;
                                                </label>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <div ng-show="showGfs">
                                    <blockquote class="blockquote">
                                        <p class="mb-0" translate="GFS_CODE_THAT_THIS_CEILING_MUST_BE_USED_FOR"></p>
                                    </blockquote>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <th translate="GFS_CODE"></th>
                                            <th translate="IS_INCLUSIVE"></th>
                                            <th>+/-</th>
                                        </tr>
                                        <tr>
                                            <td width="70%">
                                                <select   class=" form-control"
                                                         ng-model="expenditureGfsToAdd.gfs_code"
                                                         ng-options="g as g.name for g in expenditureGfsCodes">
                                                </select>
                                            </td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" ng-model="expenditureGfsToAdd.is_inclusive">
                                                    <div class="slider round"></div>
                                                </label>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary"
                                                        ng-click="addExpenditureGfs(fundSourceCeiling.gfs_codes,expenditureGfsToAdd)" translate="BTN_ADD"></button>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="g in fundSourceCeiling.gfs_codes">
                                            <td>
                                                {{g.gfs_code.description}}
                                            </td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox"  ng-model="g.is_inclusive">
                                                    <div class="slider round"></div>
                                                </label>
                                            </td>
                                            <td>
                                                <button class="btn btn-warning" type="button"
                                                        ng-click="removeExpenditureGfs(fundSourceCeiling.gfs_codes,$index)" >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                      </table>
                                </div>

                            </td>
                        </tr>

                    </table>
                </div>
                </div>

                <div style="width:900px; clear: left;">
                    <div class="modal-footer"  >
                    <button ng-show="!newForm"
                            type="button" class="btn btn-primary" ng-click="store_sectors()" translate="Finish"></button>
                </div>
                </div>
            </form>


        </div>
    </div>
</div>


