<div id="modal_form_horizontal" style="display: block;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close" >×</button>
                <h5 class="modal-title" translate="TITLE_EDIT_FUND_SOURCE"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateFundSourceForm">
                <div class="modal-body" ng-if="newForm">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div ng-show="errors" class="col-md-12">
                        <div ng-repeat="error in errors" class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errors=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" ><span translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="fundSourceToEdit.name" placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="updateFundSourceForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_CODE"></span><span></span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="true" ng-maxlength="3" ng-minlength="3" name="code" type="text" ng-model="fundSourceToEdit.code" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="LABEL_DESCRIPTION"></span><span></span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-required="" name="description" type="text" ng-model="fundSourceToEdit.description" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >
                            <span translate="FUND_SOURCE_CATEGORY"></span>
                        </label>
                        <div class="col-sm-9">
                            <select name="fund_source_category_id" class="form-control"
                                    ng-model="fundSourceToEdit.fund_source_category_id"
                                    ng-options="f.id as f.name for f in fundSourceCategories">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="FOREIGN"></label>
                        <div class="col-sm-9">

                            <div class="col-sm-9">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="fundSourceToEdit.is_foreign" ng-model="fundSourceToEdit.is_foreign">
                                    <div class="slider round"></div>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_CAN_PROJECT"></label>
                           <div class="col-sm-9">

                            <div class="col-sm-9">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="fundSourceToEdit.can_project" ng-model="fundSourceToEdit.can_project">
                                    <div class="slider round"></div>
                                </label>

                             </div>
                        </div>
                    </div>

                    <div ng-if="fundSourceToEdit.can_project" class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_PROJECTION_FUND_SOURCE"></label>
                        <div class="col-sm-9">
                            <select ng-change="filterAllocationBudgetClasses(fundSourceToEdit.subBudget_classes)"
                                    class="form-control" ng-model="fundSourceToEdit.subBudget_classes[0]"
                                    ng-options="sbc.id as sbc.description for sbc in subBudgetClasses">
                            </select>
                        </div>
                    </div>
                    <div ng-if="fundSourceToEdit.can_project">
                        <blockquote ng-if="newForm"  class="blockquote">
                            <p class="mb-0">Projection allocation Sub Budget Class(es)</p>
                            <footer class="blockquote-footer"> <cite title="Source Title">At least One</cite></footer>
                        </blockquote>
                        <div  class="col-sm-6" ng-repeat="sbc in allocationSubBudgetClasses" >
                            <label class="switch">
                                <input
                                        type="checkbox"
                                        name="selectedClasses[]"
                                        value="{{sbc.id}}"
                                        ng-checked="fundSourceToEdit.allocation_subBudget_classes.indexOf(sbc.id) > -1"
                                        ng-click="toggleAllocationBudgetClassSelection(fundSourceToEdit.allocation_subBudget_classes,sbc)"
                                ><div class="slider round"></div> &nbsp; &nbsp;
                            </label> <label >{{sbc.description}}</label>
                        </div>
                        <input type="hidden" ng-required="fundSourceToEdit.subBudget_classes.length ===0" ng-model="fundSourceToEdit.validBudgetClasses"
                               ng-value="" name="validBudgetClasses" />
                        <div ng-show="formHasErrors" class="col-sm-12">
                        <span class="help-block text-danger" ng-show="createFundSourceForm.validBudgetClasses.$error.required"
                              translate="SELECT_AT_LEAST_ONE_BUDGET_CLASS"></span>
                        </div>
                    </div>

                    <div  ng-if="!fundSourceToEdit.can_project">
                    <blockquote ng-if="newForm"  class="blockquote">
                        <p class="mb-0">Link Sub Budget Class(es)</p>
                        <footer class="blockquote-footer">Use checkboxes <cite title="Source Title">At least One</cite></footer>
                    </blockquote>
                    <div ng-if="newForm" class="col-sm-6" ng-repeat="sbc in subBudgetClasses">
                        <label class="switch">
                            <input
                                    type="checkbox"
                                    name="selectedClasses[]"
                                    value="{{sbc.id}}"
                                    ng-checked="fundSourceToEdit.subBudget_classes.indexOf(sbc.id) > -1"
                                    ng-click="toggleBudgetClassSelection(fundSourceToEdit.subBudget_classes,sbc)"
                            ><div class="slider round"></div> &nbsp; &nbsp;
                        </label> <label >{{sbc.description}}</label>
                    </div>
                    </div>

                    <div  ng-if="newForm" class="col-sm-12">
                        <blockquote class="blockquote">
                            <p class="mb-0"></p>
                            <p class="mb-0" translate="ADD_REVENUE_GFS_CODES"></p>
                        </blockquote>
                        <div >
                            <div style="overflow-y: scroll;">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td colspan="2" style="padding:4px">
                                            <select ng-model="gfsToAdd" class="form-control"
                                                    ng-options="g as (g.code+'-'+g.description) for g in gfsToDisplay">

                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" ng-disabled="gfsToAdd === undefined"
                                                    ng-click="addGfsCode(gfsToAdd)" translate="ADD"></button></td>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;max-width: 10%;min-width: 10%">Code</th>
                                        <th style="width:80%;max-width: 80%;min-width: 80%">Description</th>
                                        <th style="width:10%;min-width: 10%;max-width: 10%">Action</th>
                                    </tr>
                                </table>
                            </div>
                            <div style="overflow-y: scroll;max-height:400px">
                            <table class="table table-bordered table-striped">
                                <tr ng-repeat="gfsCode in fundSourceToEdit.gfs_codes ">
                                    <td style="width:10%;max-width: 10%;min-width: 10%">
                                        {{gfsCode.code}}
                                    </td>
                                    <td style="width:80%;max-width: 80%;min-width: 80%">{{gfsCode.description}}</td>
                                    <td style="width:10%;min-width: 10%;max-width: 10%">
                                        <button type="button" class="btn btn-warning" ng-click="removeGfs($index)" >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                        <input type="hidden" ng-required="fundSourceToCreate.gfsCodes.length ===0" ng-model="fundSourceToCreate.validGfsCodes"
                               ng-value="" name="validGfsCodes" />
                        <div ng-show="formHasErrors">
                             <span class="help-block text-danger" ng-show="createFundSourceForm.validGfsCodes.$error.required"
                                   translate="SELECT_AT_LEAST_ONE_GFS_CODE"></span>
                        </div>

                    </div>
                    <div class="col-sm-12 modal-footer" ng-if="newForm">
                        <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                        <!--<button type="button" class="btn btn-primary" ng-click="toggleForm(false)" translate="Hide Form"></button>-->
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </div>
            </form>

            <!--Sector ang gfs mapping-->
            <form action="#" class="form-horizontal" name="linkSectorForm" novalidate>
                <!--Linking Ceiling with sectors-->
                <div ng-if="!newForm" class="col-sm-12" >
                    <div   class="col-sm-12">
                        <table class="table table-bordered table-striped">
                            <tr class="bg-teal-400">
                                <th translate="CEILING"></th>
                                <th translate="BUDGET_CLASS"></th>
                                <th translate="SECTOR"></th>
                                <th translate="GFS_CODE"></th>
                            </tr>
                            <tr ng-repeat-start="fundSourceCeiling in fundSourceCeilings"
                                ng-init="fundSourceCeiling.sectors=[];fundSourceCeiling.gfs_codes=[]">
                                <td width="30%">
                                    {{fundSourceCeiling.name}}
                                    <input type="hidden" ng-required="fundSourceCeiling.sectors.length ===0" ng-model="fundSourceCeiling.validSectors"
                                           ng-value="" name="{{$index}}" />
                                    <div ng-show="formHasErrors">
                                   <span class="help-block text-danger" ng-show="linkSectorForm[$index].$error.required"
                                         translate="SELECT_AT_LEAST_ONE_SECTOR"></span>
                                    </div>
                                </td>
                                <td>{{fundSourceCeiling.budget_class}}</td>
                                <td width="8%">
                                    <button type="button" class="btn btn-success" ng-show="!showSector"
                                            ng-click="expandCeiling(fundSourceCeiling.id,true,false)" >
                                        <span translate="SECTORS"></span>({{fundSourceCeiling.sectors.length}})

                                    </button>
                                    <button type="button" class="btn btn-info" ng-show="expandedCeiling === fundSourceCeiling.id && showSector"
                                            ng-click="expandCeiling(0,false,false)" translate="DONE"></button>
                                </td>
                                <td width="8%">
                                    <button ng-show="!showGfs" type="button" class="btn btn-success"
                                            ng-click="expandCeiling(fundSourceCeiling.id,false,true)" translate="GFS"></button>
                                    <button type="button" class="btn btn-info" ng-show="expandedCeiling === fundSourceCeiling.id && showGfs"
                                            ng-click="expandCeiling(0,false,false)" translate="DONE"></button>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-show="expandedCeiling === fundSourceCeiling.id">
                                <td colspan="4" style="background: #E0F7FA">
                                    <div ng-show="showSector">
                                        <table class="table table-bordered table-striped d-flex justify-content-evenly">
                                            <tr>
                                                <th translate="SECTOR"></th>
                                                <th translate="CHECK"></th>
                                            </tr>
                                            <tr ng-repeat="s in sectors">
                                                <td>{{s.description}}</td>
                                                <td width="10%">
                                                    <label class="switch">
                                                        <input type="checkbox" name="selectedSectors[]" value="{{s.id}}"
                                                               ng-checked="fundSourceCeiling.sectors.indexOf(s.id) > -1"
                                                               ng-click="toggleSectors(fundSourceCeiling.sectors,s)">
                                                        <div class="slider round"></div> &nbsp; &nbsp;
                                                    </label>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div ng-show="showGfs">
                                        <blockquote class="blockquote">
                                            <p class="mb-0" translate="GFS_CODE_THAT_THIS_CEILING_MUST_BE_USED_FOR"></p>
                                        </blockquote>
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <th translate="GFS_CODE"></th>
                                                <th translate="IS_INCLUSIVE"></th>
                                                <th>+/-</th>
                                            </tr>
                                            <tr>
                                                <td width="70%">
                                                    <select   class=" form-control"
                                                              ng-model="expenditureGfsToAdd.gfs_code"
                                                              ng-options="g as g.name for g in expenditureGfsCodes">
                                                    </select>
                                                </td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox" ng-model="expenditureGfsToAdd.is_inclusive">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"
                                                            ng-click="addExpenditureGfs(fundSourceCeiling.gfs_codes,expenditureGfsToAdd)" translate="BTN_ADD"></button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="g in fundSourceCeiling.gfs_codes">
                                                <td>
                                                    {{g.gfs_code.description}}
                                                </td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox"  ng-model="g.is_inclusive">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning" type="button"
                                                            ng-click="removeExpenditureGfs(fundSourceCeiling.gfs_codes,$index)" >
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div style="width:900px; clear: left;">
                    <div class="modal-footer"  >
                        <button ng-show="!newForm"
                                type="button" class="btn btn-primary" ng-click="store_sectors()" translate="Finish"></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!--<script type="application/javascript">-->
    <!--$(".select-search-xx").select2();-->
<!--</script>-->