<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Financial Year
            </div>
            <select class="form-control" name="financialYearId"
                    ng-model="financialYear" ng-change="loadItems(financialYear.id)"
                    ng-options="item as item.name for item in financialYears">
                <option value="" selected="selected">-Financial Year-</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2" ng-show="financialYear.id > 0">
        <a class="btn btn-success pull-right" ng-href="/files/fundSourceBudgetClasses/exportToCsv?financialYearId={{financialYear.id}}">
            <i class="fa fa-file-excel-o"></i>
            <span translate="BTN_EXPORT"></span>
        </a>
    </div>
</div>
<br />
<div class="row" ng-show="financialYear.id > 0">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="FUND_SOURCE"></th>
                            <th translate="BANK_ACCOUNT"></th>
                            <th translate="FUND_TYPE"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(value,arrayList) in items.data | groupBy:'budget_class.name'">
                            <td colspan="6" class="bg-info">{{value}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in arrayList">
                            <td>{{$index + 1}}</td>
                            <td>{{item.fund_source.code}}</td>
                            <td>{{item.fund_source.name}}</td>
                            <td>{{item.bank_account.code}} - {{item.bank_account.name}}</td>
                            <td>{{item.fund_type.name}}</td>
                            <td nowrap="nowrap" class="action">
                                <a href class="btn btn-info" ng-click="edit(item,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    Update
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="items.total > items.per_page">
            <div class="col-md-10">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                             perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>