<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title">Update</h5>
            </div>

            <form action="#" class="form-horizontal" name="createForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="FUND_TYPE"></label>
                                    <select class="form-control"
                                            ng-model="updateDataModel.fund_type_id"
                                            name="fund_type_id"
                                            ng-options="exp.id as exp.name for exp in fundTypes">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="BANK_ACCOUNT"></label>
                                    <select class="form-control"
                                            ng-model="updateDataModel.bank_account_id"
                                            name="bank_account_id"
                                            ng-options="bankAccount.id as (bankAccount.code+' - '+bankAccount.name) for bankAccount in bankAccounts">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>