<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Financial Year
            </div>
            <select class="form-control" name="financialYearId"
                    ng-model="financialYear" ng-change="loadVersions(financialYear.id)"
                    ng-options="item as item.name for item in financialYears">
                <option value="" selected="selected">-Financial Year-</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4" ng-show="financialYear.id > 0">
        <div class="input-group">
            <div class="input-group-addon per-page">
               FS Version
            </div>
            <select class="form-control" name="version_id"
                    ng-model="version" ng-change="loadFundSources(version.id)"
                    ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
            </select>
        </div>
    </div>
    <div class="col-sm-4" ng-show="financialYear.id > 0">
        <div class="input-group">
            <div class="input-group-addon per-page">
                BC Version
            </div>
            <select class="form-control" name="sbcVersion_id"
                    ng-model="sbcversion" ng-change="getversion(sbcversion)"
                    ng-options="sbcversion as (sbcversion.name+' - '+sbcversion.type+' - '+sbcversion.date) for sbcversion in sbcVersions">
            </select>
        </div>
    </div>
</div>
<br>
<div class="row" ng-show="version.id > 0 && fundSources.total == 0">
    <div class="col-md-12">
        <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered" ng-show="fundSources">
            Empty set.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showUploadForm===true">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div ng-show="errorRows" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorRows=undefined"><span>×</span><span
                                    class="sr-only">Close</span>
                            </button>
                            Rows with errors: {{errorRows}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-info">The <a href="/download/FUND_SOURCES.xlsx"><span
                                style="text-decoration: underline">Excel</span></a> file sheet
                            should be named <strong>FUND_SOURCES</strong></p>
                        <p class="text-info"><strong>name</strong> & <strong>code</strong> should the column header of
                            the excel file to be uploaded</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>
                                        <span translate="FUND_SOURCE_CATEGORY"></span>
                                    </label>
                                    <select name="fund_source_category_id" class="form-control"
                                            ng-model="fund_source_category_id"
                                            ng-options="f.id as f.name for f in fundSourceCategories">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>
                                        Excel File
                                    </label>
                                    <input type="file" class="file-input" data-show-upload="false"
                                           data-show-caption="true"
                                           data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                                           accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB"
                                           ngf-pattern="'.xls,.xlsx,.xlsm'"
                                           required ngf-model-invalid="errorFile"/>
                                    <i ng-show="myForm.file.$error.maxSize">File too large
                                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                            ng-click="uploadFile(financialYear.id,version.id,excelFile)"><i class="fa fa-upload"></i> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning"
                                            ng-click="toggleUploadForm(false)"><i class="fa fa-close"></i> Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showList===true">
            <div class="col-md-12">
                <div class="heading-btn pull-left">
                    <button ng-disabled="btnDisabled" type="button" class="btn btn-info"
                            ng-click="create(financialYear.id,version.id,expenditureGfsCodes)">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <a class="btn btn-success" ng-href="/files/fund-sources/export?financialYearId={{financialYear.id}}&versionId={{version.id}}">
                        <i class="fa fa-file-excel-o"></i>
                        <span translate="BTN_EXPORT"></span>
                    </a>
                </div>
                <div class="heading-btn pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control col-xs-4" ng-model="searchText"
                               placeholder="Search ..." ng-change="pageChanged()"/>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showList===true && version.id > 0 && fundSources.total > 0">
            <div class="col-md-12">
                <div class="table-responsive table-wrapper">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_CODE"></th>
                            <th translate="CATEGORY"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in fundSources.data">
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.fund_source_category.name}}</td>
                            <td nowrap="nowrap" class="action">
                                <a href class="btn btn-info" ng-click="edit(financialYear.id,version.id,item,expenditureGfsCodes,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a href class="btn btn-info" ng-click="carry(financialYear.id,item)">
                                    <span translate="Carry"></span>
                                </a>
                                <a href class="btn btn-danger" ng-click="delete(financialYear.id,version.id,item.id,currrentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="fundSources.total > fundSources.per_page && showList===true">
            <div class="col-md-10">
                <ul uib-pagination total-items="fundSources.total" max-size="maxSize" class="pagination-sm pull-left"
                    boundary-links="true" num-pages="numPages" items-per-page="fundSources.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ fundSources.total }}"
                             perPage="{{ fundSources.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>