<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="UPDATE_CAS_ASSESSMENT_CATEGORY"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateCasAssessmentCategoryForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined"
                                        data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <label translate="NAME"></label>
                                <input ng-required="true" name="name" type="text"
                                       ng-model="casAssessmentCategoryToEdit.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateCasAssessmentCategoryForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label><span translate="CAS_PLAN"></span></label>
                                <select class="form-control select-search1"
                                        ng-model="casAssessmentCategoryToEdit.cas_plan_id"
                                        name="cas_plan_id"
                                        ng-options="ds.id as ds.name for ds in cas_plans">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateCasAssessmentCategoryForm.cas_plan_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label><span translate="PERIOD_GROUP"></span></label>
                                <select class="form-control select-search2"
                                        ng-model="casAssessmentCategoryToEdit.period_group_id"
                                        name="period_group_id"
                                        ng-options="ds.id as ds.name for ds in periodGroups">
                                </select>
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateCasAssessmentCategoryForm.period_group_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
</script>