<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createMtefSectorProblemForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title" translate="CREATE_MTEF_SECTOR_PROBLEM"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="MTEF"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search"
                                            ng-model="mtefSectorProblemToCreate.mtef_id"
                                            name="mtef_id"
                                            ng-options="mtef.id as mtef.id for mtef in mtefs">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createMtefSectorProblemForm.mtef_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    <span translate="SECTOR_PROBLEM"></span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control select-search"
                                            ng-model="mtefSectorProblemToCreate.sector_problem_id"
                                            name="sector_problem_id"
                                            ng-options="sector_problem.id as sector_problem.description for sector_problem in sector_problems">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="createMtefSectorProblemForm.sector_problem_id.$error.required" translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search").select2();
</script>