<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>

<div class="row" ng-show="!isUserLevel">
    <div class="col-md-2">
        <select ng-disabled="financialYears.length === 1" class="form-control selectLevel6" name="admin_level"
                ng-model="financialYear" ng-change="changeFinancialYear()" ng-options="f as f.name for f in financialYears">
            <option value="" selected="selected">- Financial Year-</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-control" ng-model="system_code">
            <option selected="selected" value="">--select system--</option>
            <option value="MUSE">MUSE</option>
            <option value="OTRMIS">OTRMIS</option>
            <option value="NPMIS">NPMIS</option>
        </select>
    </div>

    <div class="col-md-2" ng-show="false">
        <select ng-disabled="adminLevels.length === 1" class="form-control selectLevel6" name="admin_level"
                ng-model="adminLevel" ng-change="resetHierarchy()" ng-options="item as item.name for item in adminLevels">
            <option value="" selected="selected">- Admin Level-</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-control selectLevel1" ng-change="loadChildren(a1,adminLevel)"
                ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
            <option value="" selected="selected">-Administrative Hierarchy-</option>
        </select>
    </div>
    <div class="col-md-2" ng-show="a1.children.length">
        <select class="form-control selectLevel2" ng-change="loadChildren(a2,adminLevel)"
                ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
        </select>
    </div>

    <div class="col-md-2" ng-show="a2.children.length">
        <select class="form-control selectLevel3" ng-change="loadChildren(a3,adminLevel)"
                ng-model="a3" ng-options="a3 as a3.name for a3 in a2.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="a3.children.length">
        <select class="form-control selectLevel4" ng-change="loadChildren(a4,adminLevel)"
                ng-model="a4" ng-options="a4 as a4.name for a4 in a3.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="a4.children.length">
        <select class="form-control selectLevel5" ng-change="loadChildren(a5,adminLevel)"
                ng-model="a5" ng-options="a5 as a5.name for a5 in a4.children">
        </select>
    </div>
    <div class="col-md-2" ng-show="showSubmit">
        <button type="button" class="btn btn-info" ng-click="showFeedback(financialYear.id,system_code, a3.id)" >
            <span translate="BTN_SHOW"></span>
        </button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="{{coa_segments_active}}"><a href="basic-coa-segments" data-toggle="tab"
                                                               translate="REVENUE_EXPORT_RESPONSE"
                                                               ng-click="toggle_active(1)"></a></li>
                        <!-- <li class="{{gl_account_active}}"><a href="basic-gl-account-segments" data-toggle="tab"
                                                             translate="GL_ACCOUNTS" ng-click="toggle_active(2)"></a>
                        </li> -->
                        <li class="{{budget_export_response_active}}"><a href="budget-export-responses"
                                                                         data-toggle="tab"
                                                                         translate="BUDGET_EXPORT_RESPONSE"
                                                                         ng-click="toggle_active(3)"></a></li>
                        <!-- <li class="{{budget_export_to_ffars_feedback_active}}"><a href="budget-export-ffars-responses"
                                                                         data-toggle="tab"
                                                                         translate="FAILED_BUDGET_TO_FFARS"
                                                                         ng-click="toggle_active(4)"></a></li>                                                  -->
                    </ul>

                    <div class="tab-content">
                        <div ng-show="coa_segment">
                            <div class="col-md-12">
                                <div class="heading-btn pull-right">
                                    <button type="button" class="btn btn-info" ng-click="">
                                        <i class="fa"></i>
                                        <span translate="BTN_REGENERATE_SEGMENTS" class="ng-scope"
                                              ng-click="regenerateSegmentsFeedback()"></span>
                                    </button>
                                    <br/>
                                    <br/>
                                </div>
                            </div>

                            <div class="tab-pane active" id="basic-coa-segments">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                            <th translate="SNO"></th>
                                            <th translate="COA_SEGMENT"></th>
                                            <th translate="REASON_FOR_FAILURE"></th>
                                            <th translate="TH_ACTION"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in coa_segments.data">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.coa_code}}</td>
                                            <td>{{item.response}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary"
                                                        ng-click="clear_coa_segment_issue(item.id)"
                                                        translate="BTN_CLEAR">
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br/>
                                    <div class="row" ng-show="coa_segments.total > 10">
                                        <div class="col-md-10">
                                            <ul uib-pagination total-items="coa_segments.total" max-size="maxSize"
                                                class="pagination-sm pull-left" boundary-links="true"
                                                num-pages="numPages" items-per-page="coa_segments.per_page"
                                                ng-model="currentPage"
                                                ng-change="pageChangedCOASEG()">
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <per-page ng-model="perPage" ng-change="pageChangedCOASEG()"></per-page>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div ng-show="gl_account">
                            <div class="col-md-12">
                                <div class="heading-btn pull-right">
                                    <button type="button" class="btn btn-info" ng-click="">
                                        <i class="fa"></i>
                                        <span translate="BTN_SYNC_GL_ACCOUNTS" class="ng-scope"
                                              ng-click="regenerateGlAccountsFeedback()"></span>
                                    </button>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <div class="tab-pane" id="basic-gl-account-segments">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                        <tr>
                                            <th translate="SNO"></th>
                                            <th translate="COA_CODE"></th>
                                            <th translate="COMPANY"></th>
                                            <th translate="REASON_FOR_FAILURE"></th>
                                            <th translate="TH_ACTION"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in gl_account_issues.data">
                                            <td>{{$index+1}}</td>
                                            <td ng-init="item.jsonResponse = getJsonResponse(item.response_text) ">
                                                {{item.jsonResponse.COACode}}
                                            </td>
                                            <td ng-init="item.jsonResponse = getJsonResponse(item.response_text) ">
                                                {{item.jsonResponse.Company}}
                                            </td>
                                            <td ng-init="item.jsonResponse = getJsonResponse(item.response_text) ">
                                                {{item.jsonResponse.LogMessage}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary"
                                                        ng-click="clear_gl_account_issue(item.id)"
                                                        translate="BTN_CLEAR">
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <br/>
                                    <div class="row" ng-show="gl_account_issues.total > 10">
                                        <div class="col-md-10">
                                            <ul uib-pagination total-items="gl_account_issues.total" max-size="maxSize"
                                                class="pagination-sm pull-left" boundary-links="true"
                                                num-pages="numPages" items-per-page="gl_account_issues.per_page"
                                                ng-model="currentPage"
                                                ng-change="pageChangedGL()">
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <per-page ng-model="perPage" ng-change="pageChangedGL()"></per-page>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div ng-show="budget_export_responses">
                            <div class="col-md-12">
                                <div class="heading-btn pull-right">
                                    <button type="button" class="btn btn-info" ng-click="regenerateBudgetExportFeedback()">
                                        <i class="fa-refresh"></i>
                                        <span translate="BTN_REGENERATE_BUDGET_EXPORT_RESPONSE"></span>
                                    </button>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <div class="tab-pane" id="budget-export-responses">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th translate="SNO"></th>
                                                    <th translate="COA_SEGMENT"></th>
                                                    <!-- <th translate="COMPANY"></th>
                                                    <th translate="BOOK_ID"></th>
                                                    <th translate="APPLY_DATE"></th> -->
                                                    <th translate="REASON_FOR_FAILURE"></th>
                                                    <th translate="CLEAR"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in items.data">
                                                    <td>{{$index+1}}</td>
                                                    <td nowrap>
                                                        {{item.chart_of_accounts}}
                                                    </td>
                                                    <!-- <td ng-init="item.jsonResponse = getJsonResponse(item.response) ">
                                                        {{item.company}}
                                                    </td>
                                                    <td ng-init="item.jsonResponse = getJsonResponse(item.response) ">
                                                        {{item.jsonResponse.BookID}}
                                                    </td>
                                                    <td ng-init="item.jsonResponse = getJsonResponse(item.response) ">
                                                        {{item.jsonResponse.ApplyDate|date:"medium"}}
                                                    </td> -->
                                                    <td nowrap>
                                                        {{item.response}}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                                ng-click="clearBudgetExportIssue(item.id)"
                                                                translate="BTN_CLEAR">
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <div class="col-md-10" ng-show="items.total > items.per_page">
                                            <ul uib-pagination total-items="items.total" max-size="maxSize"
                                                class="pagination-sm pull-left" boundary-links="true"
                                                num-pages="numPages" items-per-page="items.per_page"
                                                ng-model="currentPage"
                                                ng-change="pageChangedBR()">
                                            </ul>
                                            <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}"
                                                         perPage="{{ items.per_page }}"></total-pages>
                                        </div>
                                        <div class="col-md-2">
                                            <per-page ng-model="perPage" ng-change="pageChangedBR()"></per-page>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="budget_export_to_ffars_feedback">
                            <div class="col-md-12">                        
                                <div class="heading-btn pull-right">
                                    <button type="button" class="btn btn-info" ng-click="">
                                        <i class="fa"></i>
                                        <span translate="RESEND" class="ng-scope"
                                              ng-click="refreshFFARSBudgetFeedback()"></span>
                                    </button>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="budget-export-ffars-responses">
                                <div class="col-md-12">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th translate="SNO"></th>
                                                            <th translate="COUNCIL"></th>
                                                            <th translate="FACILITY_CODE"></th>
                                                            <th translate="FACILITY"></th>
                                                            <th translate="IS_SENT"></th>
                                                            <th translate="IS_DELIVERED"></th>
                                                            <th translate="RESPONSE"></th>
                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr ng-repeat="item in failed_budgets.data">
                                                            <td>{{$index+1}}</td>
                                                            <td nowrap>{{ item.council }}</td>
                                                            <td nowrap>{{ item.facility_code }}</td>
                                                            <td nowrap>{{ item.facility }} {{ item.facility_type }}</td>
                                                            <td>{{ item.is_sent }}</td>
                                                            <td>{{ item.is_delivered }}</td>
                                                            <td>{{ item.response }}</td>
                                                        </tr>
                                                    </tbody> 
                                                </table>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-10" ng-show="failed_budgets.total > failed_budgets.per_page">
                                                <ul uib-pagination total-items="failed_budgets.total" max-size="maxSize"
                                                    class="pagination-sm pull-left" boundary-links="true"
                                                    num-pages="numPages" items-per-page="failed_budgets.per_page"
                                                    ng-model="currentPage"
                                                    ng-change="pageChangedFF()">
                                                </ul>
                                                <total-pages currentPage="{{currentPage}}" totalItems="{{ failed_budgets.total }}"
                                                                perPage="{{ failed_budgets.per_page }}"></total-pages>
                                            </div>
                                            <div class="col-md-2">
                                                <per-page ng-model="perPage" ng-change="pageChangedFF()"></per-page>
                                            </div>
                                        </div>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

