<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createCasGroupTypeForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title"><span translate="TITLE_CREATE_A_NEW_CAS_GROUP_TYPE"></span></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                                <span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    {{unitToCreate}}

                    <div class="form-group">
                        <label class="control-label col-sm-3">Name *</label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="casGroupTypeToCreate.name"
                                   placeholder=""
                                   class="form-control">
                            <div ng-show="formHasErrors">
                                <span class="help-block text-danger" ng-show="createCasGroupTypeForm.name.$error.required" translate="NAME_REQUIRED"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>