<breadcrumb title="{{title}}"></breadcrumb>
<ng-include src="'/pages/setup/plan_chain/plan-chain-management-submenu.html'"></ng-include>
<br/>
<div class="row">
    <div ng-show="activateMessage" class="col-md-12">
        <div  class="alert alert-styled-left alert-arrow-left alert-bordered" ng-class="{'alert-success':planChainTypeToActivate.is_active,'alert-warning':!planChainTypeToActivate.is_active}">
            <button type="button" class="close" ng-click="activateMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{activateMessage | translate}}
        </div>
    </div>
    <div ng-show="successMessage" class="col-md-12">
        <div  class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row" ng-if = "user.admin_hierarchy_level.hierarchy_position==1">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a ng-if="user.is_superuser" href class="btn btn-info pull-right create-btn" ng-click="create()">
                    <i class="fa fa-plus"></i>
                    <span translate="BTN_CREATE"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="TH_NO"></th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_LEVEL"></th>
                            <th translate="TH_ACTIVE"></th>
                            <th translate="TH_ACTIONS"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ><td class="bg-info-400" colspan="5">&nbsp;</td></tr>
                        <tr ng-repeat="planChainType in planChainTypes.data">
                            <td>{{$index + 1}}</td>
                            <td>{{planChainType.name}}</td>
                            <td>{{planChainType.hierarchy_level}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="planChainType.is_active" ng-model="planChainType.is_active"
                                           ng-change="activatePlanChainType(planChainType.id, planChainType.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <a ng-if="user.is_superuser" href class="btn btn-info" ng-click="edit(planChainType,currentPage,perPage)">
                                    <i class="fa fa-edit"></i>
                                    <span translate="EDIT_ACTION"></span>
                                </a>
                                <a ng-if="user.is_superuser" href class="btn btn-danger" ng-click="delete(planChainType.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="planChainTypes.total > planChainTypes.per_page">
            <div class="col-md-7">
                <ul uib-pagination total-items="planChainTypes.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="planChainTypes.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
            </div>
            <div class="col-md-3">
                <total-pages currentPage="{{currentPage}}" totalItems="{{ planChainTypes.total }}" perPage="{{ planChainTypes.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                    <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_CREATE_PLAN_CHAIN_TYPES"></h5>
                </div>

                <form action="#" class="form-horizontal" name="createPlanChainTypeForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="planChainTypeToCreate.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createPlanChainTypeForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_LEVEL"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="hierarchy_level" type="number" ng-model="planChainTypeToCreate.hierarchy_level" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="createPlanChainTypeForm.hierarchy_level.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_IS_SECTORAL"></label>
                            <div class="col-sm-9">
                        <label class="switch">
                            <input type="checkbox" ng-checked="planChainTypeToCreate.is_sectoral"
                                   ng-model="planChainTypeToCreate.is_sectoral"/>
                            <div class="slider round"></div>
                        </label>
                            </div>

                        </div>
                        <div class="form-group">
                        <label class="control-label col-sm-3" translate="LABEL_IS_INCREMENTAL"></label>
                        <div class="col-sm-9">
                            <label class="switch">
                                <input type="checkbox" ng-checked="planChainTypeToCreate.is_incremental"
                                       ng-model="planChainTypeToCreate.is_incremental"/>
                                <div class="slider round"></div>
                            </label>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="store()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </script>

<script type="text/ng-template" id="edit.html">
    <div id="modal_form_horizontal" style="display: block;" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close" >×</button>
                    <h5 class="modal-title" translate="TITLE_EDIT_PLAN_CHAIN_TYPE"></h5>
                </div>

                <form action="#" class="form-horizontal" name="updatePlanChainTypeForm" novalidate>
                    <div class="modal-body">

                        <div ng-show="errorMessage" class="col-md-12">
                            <div  class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_NAME"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="name" type="text" ng-model="planChainTypeToEdit.name" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="updatePlanChainTypeForm.name.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_LEVEL"></label>
                            <div class="col-sm-9">
                                <input ng-required="true" name="hierarchy_level" type="number" ng-model="planChainTypeToEdit.hierarchy_level" placeholder="" class="form-control">
                                <div ng-show="formHasErrors">
                                    <span class="help-block text-danger" ng-show="updatePlanChainTypeForm.hierarchy_level.$error.required" translate="VALIDATION_REQUIRED"></span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_IS_SECTORAL"></label>
                            <div class="col-sm-9">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="planChainTypeToEdit.is_sectoral"
                                           ng-model="planChainTypeToEdit.is_sectoral"/>
                                    <div class="slider round"></div>
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" translate="LABEL_IS_INCREMENTAL"></label>
                            <div class="col-sm-9">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="planChainTypeToEdit.is_incremental"
                                           ng-model="planChainTypeToEdit.is_incremental"/>
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                        <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>