<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="MODAL_TITLE_EDIT_GENERIC_TYPE"></h5>
            </div>
            <form action="#" class="form-horizontal" name="updateReferenceTypeForm">
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="referenceTypeToEdit.name"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReferenceTypeForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                                <textarea ng-model="referenceTypeToEdit.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Link at</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="linkLevel" ng-model="referenceTypeToEdit.link_level"
                                ng-options="l.id as l.name for l in linkLevels">
                            </select>
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateReferenceTypeForm.linkLevel.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-9">
                            <input
                                    type="checkbox"
                                    ng-model="referenceTypeToEdit.multiple_select"
                                    name="multiple_select"
                            />&nbsp;<span>Allow multiple selection</span>
                        </div>
                    </div>
                    <label><b>Link Sectors</b></label><br>
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="selectAll()">Select All</button>
                    <button type="button" class="btn btn-secondary btn-sm"  ng-click="unSelectAll()">Un-select All</button><br><br>
                    <div class="col-sm-6"  ng-repeat="s in sectors">
                        <label >
                            <input
                                    type="checkbox"
                                    name="selectedSectors[]"
                                    value="{{s.id}}"
                                    ng-checked="referenceTypeToEdit.sectors.indexOf(s.id) > -1"
                                    ng-click="toggleSelection(s)"
                            > {{s.name}} &nbsp; &nbsp;
                        </label>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-primary action" ng-click="update()"
                            translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning cancel" ng-click="close()"
                            translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>