<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-teal-400">
                <button type="button" ng-click="close()" class="close">×</button>
                <h5 class="modal-title" translate="TITLE_EDIT_GENERIC_LINE_ITEM"></h5>
            </div>

            <form action="#" class="form-horizontal" name="updateLineItemForm" novalidate>
                <div class="modal-body">

                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3"><span
                                translate="LABEL_NAME"></span><span>*</span></label>
                        <div class="col-sm-9">
                            <input ng-required="true" name="name" type="text" ng-model="lineItemToUpdate.name"
                                   placeholder="" class="form-control">
                            <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateLineItemForm.name.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><span translate="LABEL_CODE"></span></label>
                        <div class="col-sm-9">
                            <input name="name" type="text" ng-model="lineItemToUpdate.code" placeholder=""
                                   class="form-control">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description</label>
                        <div class="col-sm-9">
                                <textarea ng-model="lineItemToUpdate.description" placeholder="Description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LABEL_GENERIC_LINE_ITEM_PARENT"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="lineItemToUpdate.parent_id"
                                    class="form-control"
                                    ng-options="item.id as item.name for item in parentReferences">
                                <option value="">Select Parent Item</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span translate="LINK_LEVEL"></span>
                        </label>
                        <div class="col-sm-9">
                            <select ng-model="lineItemToUpdate.link_level"
                                    class="form-control"
                                    ng-options="link_level for link_level in linkLevels">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </form>
        </div>
    </div>
</div>