<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Financial Year
            </div>
            <select class="form-control" name="financialYearId"
                    ng-model="financialYear" ng-change="loadVersions(financialYear.id)"
                    ng-options="item as item.name for item in financialYears">
                <option value="" selected="selected">-Financial Year-</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" ng-show="financialYear.id > 0">
        <div class="input-group">
            <div class="input-group-addon per-page">
                Version
            </div>
            <select class="form-control" name="version_id"
                    ng-model="version" ng-change="loadReferenceTypes(version.id)"
                    ng-options="version as (version.name+' - '+version.type+' - '+version.date) for version in versions">
            </select>
        </div>
    </div>
</div>
<br/>
<div class="row" ng-show="version.id > 0">
    <div class="col-md-4">
        <!-- Multiple icon buttons -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">Reference Types</h6>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" href class="btn btn-success btn-icon" ng-click="create(linkLevels)"
                                translate="BTN_CREATE">
                        </button>
                        <!--<button type="button" href class="btn btn-success btn-icon" ng-click="copy(financialYear,version)"
                                translate="BTN_COPY">
                        </button>-->
                        <button type="button" ng-disabled="selectedReference === undefined" href
                                class="btn btn-info btn-icon" ng-click="edit(selectedReference,linkLevels)"
                                translate="EDIT_ACTION"></button>
                        <button type="button" ng-disabled="selectedReference === undefined" href
                                class="btn btn-info btn-icon" ng-click="carry(financialYear.id, selectedReference)"
                                translate="Carry"></button>
                        <button type="button" ng-disabled="selectedReference === undefined" href
                                class="btn btn-danger btn-icon" ng-click="delete(selectedReference.id)"
                                translate="DELETE_ACTION">
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <input class="form-control" ng-model='referenceTypeSearchQuery' type="text"
                       placeholder="Search in tree..."/>
                <br/>
                <ul class="generic-types">
                    <li ng-class="{'selected':ref.id === selectedReference.id}"
                        ng-repeat="ref in referenceTypes | orderBy : 'ref.name' | filter : referenceTypeSearchQuery "
                    ><a href ng-click="setSelectedReference(ref)">{{ref.name}}</a></li>
                </ul>
            </div>
        </div>
        <!-- /multiple icon buttons -->
    </div>
    <div class="col-md-8" ng-if="selectedReference != undefined">
        <!-- Multiple icon buttons -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">{{selectedReference.name}} Items</h6>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <button type="button" href class="btn btn-success btn-icon"
                                ng-click="createReference(selectedReference)" translate="BTN_CREATE">
                        </button>
                        <button type="button"
                                ng-disabled="referencesNode.currentNode === undefined" href
                                class="btn btn-info btn-icon"
                                ng-click="editLineItem(referencesNode.currentNode)" translate="EDIT_ACTION">
                        </button>
                        <button type="button" ng-disabled="referencesNode.currentNode === undefined" href
                                class="btn btn-danger btn-icon" ng-click="deleteReference(referencesNode.currentNode.id)"
                                translate="DELETE_ACTION">
                        </button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <input class="form-control" ng-model='referenceSearchQuery' type="text"
                       placeholder="Search in tree..."/>
                <br/>
                <div ng-show="references.length > 0"
                     data-angular-treeview="true"
                     data-tree-id="referencesNode"
                     data-tree-model="references"
                     data-node-id="id"
                     data-node-label="name"
                     data-node-children="children"
                     data-search-query='referenceSearchQuery'>
                </div>
                <div ng-show="references.length ===0" translate="NO_LINE_ITEMS"></div>
            </div>
        </div>
        <!-- /multiple icon buttons -->
    </div>
</div>