<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
  <div ng-show="successMessage" class="col-md-12">
    <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="successMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{successMessage | translate}}
    </div>
  </div>
  <div ng-show="errorMessage" class="col-md-12">
    <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="errorMessage=undefined">
        <span>×</span><span class="sr-only">Close</span></button>
      {{errorMessage | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div ng-show="action" class="col-md-12">
    <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
      <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
        <span>×</span><span class="sr-only">Close</span></button>
      {{action | translate}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-btn pull-right">
          <button type="button" class="btn btn-info" ng-click="create()">
            <i class="fa fa-plus"></i>
            <span translate="BTN_CREATE"></span>
          </button>
<!--          <button type="button" class="btn btn-default" ng-click="trash()">-->
<!--            <i class="fa fa-trash"></i>-->
<!--            <span translate="BTN_TRASH"></span>-->
<!--          </button>-->
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="bg-teal-400">
            <tr>
              <th translate="TH_NO"></th>
              <th translate="TH_NAME"></th>
              <th translate="TH_CODE"></th>
              <th translate="TH_ACTIVE"></th>
              <th translate="TH_ACTION"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sp in items.data">
              <td>{{$index + 1}}</td>
              <td>{{sp.name}}</td>
              <td>{{sp.code}}</td>
              <td>
                <label class="switch">
                  <input type="checkbox"
                         name="selectedClasses"
                         ng-checked="{{sp.is_active}}"
                         value="{{sp.is_active}}"
                         ng-click="catStatusChange(sp)" />
                  <div class="slider round"></div>
                </label>
               </td>
              <td nowrap="nowrap">
                <a href class="btn btn-info" ng-click="edit(sp,currentPage,perPage)">
                  <i class="fa fa-edit"></i>
                  <span translate="EDIT_ACTION"></span>
                </a>
                <a href class="btn btn-danger" ng-click="delete(sp.id,currentPage,perPage)">
                  <i class="fa fa-remove"></i>
                  <span translate="DELETE_ACTION"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-10">
        <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
            ng-model="currentPage"
            ng-change="pageChanged()">
        </ul>
        <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
      </div>
      <div class="col-md-2">
        <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
      </div>
    </div>
  </div>
</div>
