<style>
    tr.bg-info-400 td {
        background-color: #0b93d5;
    }

    tr.bg-warning td {
        background-color: #ac2925;
    }
</style>
<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div class="col-md-2">
        <select ng-change="getActivities(budgetType,mtefId,mtefSectionId)" ng-required="true" 
        ng-model="budgetType" name="budget_type" class="form-control">
            <option>CURRENT</option>
            <option>APPROVED</option>
            <option>CARRYOVER</option>
            <option>SUPPLEMENTARY</option>
        </select>
    </div>
    <div class="col-md-2">
        <select ng-change="loadMtef(financialYearId)" ng-required="true" ng-model="financialYearId" 
        ng-options="f.id as f.name for f in financialYears" 
        name="financialYearId" class="form-control">
        </select>
    </div>
    <div class="col-md-4">
        <select ng-change="loadMtefSections(mtefId, financialYearId)" ng-required="true" ng-model="mtefId" 
        ng-options="m.mtefId as m.admin for m in mtefs" 
        name="admin_hierarchy_id" class="form-control">
        </select>
    </div>

    <div class="col-md-4">
        <select ng-change="getActivities(budgetType,mtefId,mtefSectionId)" 
            ng-required="true" ng-model="mtefSectionId" 
            ng-options="ms.mtefSectionId as ms.section for ms in mtefSections"
            class="form-control">
        </select>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered " ng-repeat="a in activities ">
            <tr>
                <td colspan="4">
                    <strong>Activity: [{{a.code}}] {{a.description}}</strong>
                </td>
            </tr>
            <tr ng-class="{'bg-info-400':a.costCentreChanged,'bg-warning':a.costCentreChangedError}">
                <td style="width:10%;">

                </td>
                <td style="width: 60%" colspan="2">
                    Cost Centre
                    <span class="badge badge-default" ng-if="!a.costCentreChanged">{{a.mtef_section.section.name}}</span>
                    <span ng-if="a.costCentreChanged">
                        <span class="badge badge-warning">{{a.mtef_section.section.name}}</span> to
                        <span class="badge badge-success">{{a.newCostCentre}}</span>
                    </span>
                </td>
                <td style="width: 20%">
                    <select ng-change="moveCostCentre(a,newMtefSectionId)" ng-required="true" ng-model="newMtefSectionId" ng-options="ms.mtefSectionId as ms.section for ms in mtefSections"
                        class="form-control">
                        <option value="">Select new Cost Centre</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="a.costCentreChanged" ng-class="{'bg-info-400':a.targetChanged,'bg-warning':a.targetChangedError}">
                <td colspan="3">
                    Target
                    <span class="badge badge-default" ng-if="!a.targetChanged">[{{a.annual_target.code}}]{{a.annual_target.description}}</span>
                    <span ng-if="a.targetChanged">
                        <span class="badge badge-default">[{{a.annual_target.code}}]{{a.annual_target.description}}</span> to
                        <span class="badge badge-success">[{{a.newTargetCode}}]{{a.newTarget}}</span>
                    </span>
                    <br/>
                    <br/>
                </td>
                <td>
                    <select ng-change="moveTarget(a,a.newTargetId)" ng-required="true" ng-model="a.newTargetId" ng-options="t.id as ('['+t.code+']'+t.description) for t in a.newTargets"
                        class="form-control">
                        <option value="">Select new Target</option>
                    </select>
                </td>
            </tr>
            <tr ng-class="{'bg-info-400':a.budgetClassChanged,'bg-warning':a.budgetClassChangedError}">
                <td>

                </td>
                <td colspan="2">
                    Budget Class:
                    <span class="badge badge-default" ng-if="!a.budgetClassChanged"> {{a.budget_class.name}}</span>
                    <span ng-if="a.budgetClassChanged">
                        <span class="badge badge-warning">{{a.budget_class.name}}</span> to
                        <span class="badge badge-success">{{a.newBudgetClass}}</span>
                    </span>
                </td>
                <td>
                    <select ng-change="moveBudgetClass(a,newBudgetClassId)" ng-required="true" ng-model="newBudgetClassId" ng-options="b.id as b.name for b in budgetClasses"
                        class="form-control">
                        <option value="">Select new Budget Class</option>
                    </select>
                </td>
            </tr>
            <tr ng-class="{'bg-info-400':f.facilityChanged,'bg-warning':f.facilityChangedError}" ng-repeat-start="f in a.activity_facilities">
                <td></td>
                <td colspan="2" style="width:30%">
                    Facility:
                    <span class="badge badge-default" ng-if="!f.facilityChanged">{{f.facility.name}}</span>
                    <span ng-if="f.facilityChanged">
                        <span class="badge badge-warning">{{f.facility.name}}</span> to
                        <span class="badge badge-success">{{f.newFacility}}</span>
                    </span>
                </td>
                <td>
                    <input autocomplete="off" name="facility_to_add" type="text" ng-model="newFacility" placeholder="Search facility" typeahead-on-select="moveFacility(f,newFacility)"
                        uib-typeahead="f as f.name for f in searchFacility($viewValue,a)" typeahead-template-url="facilityResultTemplate.html"
                        class="form-control" typeahead-editable="false" typeahead-show-hint="false" typeahead-min-length="0"
                    />
                </td>
            </tr>
            <tr ng-class="{'bg-info-400':fu.fundSourceChanged,'bg-warning':fu.fundSourceChangedError}" ng-repeat-end="" ng-repeat="fu in f.activity_facility_fund_sources2">
                <td></td>
                <td></td>
                <td>
                    Fund Source:
                    <span class="badge badge-default" ng-if="!fu.fundSourceChanged">{{fu.fund_source.name}}</span>
                    <span ng-if="fu.fundSourceChanged">
                        <span class="badge badge-warning">{{fu.fund_source.name}}</span> to
                        <span class="badge badge-success">{{fu.newFundSource}}</span>
                    </span>
                </td>
                <td>
                    <select ng-change="moveFundSource(fu,newFundSourceId)" ng-required="true" ng-model="newFundSourceId" ng-options="f.id as f.name for f in fundSources"
                        class="form-control">
                        <option value="">Select new Fund Source</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="border-top:1px solid #5c9ccc !important;" colspan="3">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/ng-template" id="facilityResultTemplate.html">
    <a>
        <strong>{{match.model.name}}-{{match.model.type}}</strong>
    </a>
</script>