<style>
    tr.bg-info-400 td {
        background-color: #0b93d5;
    }

    tr.bg-warning td {
        background-color: #ac2925;
    }
</style>
<breadcrumb title="{{title}}"></breadcrumb>
<div ng-show="successMessage" class="col-md-12 fade-in-out">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>X</span>
                <span class="sr-only" translate="CLOSE"></span>
            </button>
            {{successMessage | translate}}
        </div>
    </div>
<div class="row">
    <div class="col-md-2">
        <select ng-required="true" 
        ng-model="budgetType" name="budget_type" class="form-control">
            <option>CURRENT</option>
            <option>APPROVED</option>
            <option>CARRYOVER</option>
            <option>SUPPLEMENTARY</option>
        </select>
    </div>
    <div class="col-md-2">
        <select  ng-required="true" ng-model="financialYearId" 
        ng-options="f.id as f.name for f in financialYears" 
        name="financialYearId" class="form-control">
        </select>
    </div>
    <div class="col-md-2">
        <select ng-required="true" ng-model="adminHierarchyId" 
        ng-options="a.id as a.name for a in adminHierarchies" 
        name="admin_hierarchy_id" class="form-control">
        </select>
    </div>

    <div class="col-md-2">
        <select ng-change="loadCeiling()" 
            ng-required="true" ng-model="sectorId" 
            ng-options="s.id as s.name for s in sectors"
            class="form-control">
        </select>
    </div>
    <div class="col-md-4">
        <select ng-change="loadAdminCeiling()" 
            ng-required="true" ng-model="ceilingId" 
            class="form-control">
            <option ng-repeat="c in ceilings" ng-value="c.id">{{(c.fund != null)?c.fund:c.fund2}}  - ({{c.budget_class}})</option>
        </select>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered " ng-show="adminHierarchyCeilings.data.length" >
            <tr>
                <td colspan="2">

                </td>
                <td >
                    <select ng-change="moveCeiling(newCeilingId)" 
                        ng-required="true" ng-model="newCeilingId" 
                        class="form-control">
                        <option ng-repeat="c in newCeilings" ng-value="c.id">{{(c.fund != null)?c.fund:c.fund2}}  - ({{c.budget_class}})</option>
                    </select>
                </td>
            </tr>
            <tr ng-repeat="admc in adminHierarchyCeilings.data ">
                <td>
                    <strong>{{admc.ceiling}}</strong>
                </td>
                <td>
                    <strong>{{admc.budget_class}}</strong>
                </td>
                <td>
                    <strong>{{admc.amount}}</strong>
                </td>
                <!-- <td>
                    <select ng-change="moveCeiling(admc.id)" 
                        ng-required="true" ng-model="admc.newCeilingId" 
                        ng-options="c.id as (c.name+'-'+ c.budget_class) for c in newCeilings"
                        class="form-control">
                    </select>
                </td> -->
            </tr>
        </table>
    </div>
</div>

<script type="text/ng-template" id="facilityResultTemplate.html">
    <a>
        <strong>{{match.model.name}}-{{match.model.type}}</strong>
    </a>
</script>