<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control select-search1"
                            ng-model="filterDataModel.admin_hierarchy_id"
                            ng-change="hierarchyProjections(filterDataModel.admin_hierarchy_id)"
                            name="admin_hierarchy_id"
                            ng-options="exp.id as exp.name for exp in admin_hierarchies">
                        <option value="" selected="selected">ADMIN_HIERARCHY</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="filterDataModel.admin_hierarchy_id > 0">
                <div class="form-group">
                    <select class="form-control select-search2"
                            ng-model="filterDataModel.financial_year_id"
                            ng-change="hierarchyYearProjections(filterDataModel.admin_hierarchy_id,filterDataModel.financial_year_id)"
                            name="sector_id"
                            ng-options="exp.id as exp.name for exp in financialYears">
                        <option value="" selected="selected">-FINANCIAL YEAR-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="projections.length > 0">
                <div class="heading-btn pull-left">
                    <button type="button" class="btn btn-default" ng-click="printDiv('printableArea');">
                        <i class="fa fa-print"></i>
                        <span translate="BTN_PRINT"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="projections.length < 1">
            <div class="col-md-12">
                <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
                    No data
                </div>
            </div>
        </div>
        <div class="row" ng-show="projections.length > 0">
            <div class="col-md-12">
                <div class="table-responsive" id="printableArea">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="FUND_SOURCE"></th>
                            <th translate="COST_CENTRE"></th>
                            <th translate="GFS_CODE"></th>
                            <th translate="AMOUNT"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(s,values) in projections | groupBy:'admin_hierarchy'">
                            <td colspan="5" class="bg-info">{{s}}</td>
                        </tr>
                        <tr ng-repeat-start="(a,values1) in values | groupBy:'budget_class'">
                            <td colspan="5" class="bg-teal-400">Budget Class: {{a}}</td>
                        </tr>
                        <tr ng-repeat-start="(b,values2) in values1 | groupBy:'sector'">
                            <td colspan="5" class="bg-teal-400">Sector: {{b}}</td>
                        </tr>
                        <tr ng-repeat-start="(c,values3) in values2 | groupBy:'department'">
                            <td colspan="5" class="bg-teal-400">Department: {{c}}</td>
                        </tr>
                        <tr  ng-repeat-start="projection in values3">
                            <td>{{$index + 1}}</td>
                            <td>{{projection.fund_source}}</td>
                            <td>{{projection.cost_centre}}</td>
                            <td>{{projection.gfs_code}} - {{projection.gfs_name}}</td>
                            <td><span class="pull-right">{{projection.amount|currency:""}}</span></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr  ng-repeat-end>
                            <td colspan="4"><strong>SUB-TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{getTotalGroupBy(values3)|currency:""}}</span></strong></td>
                        </tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr ng-if="false" ng-repeat-end><td></td></tr>
                        <tr>
                            <td colspan="4"><strong>TOTAL</strong></td>
                            <td><strong><span class="pull-right">{{ total_amount|currency:"" }}</span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(".select-search1").select2();
    $(".select-search2").select2();
    $(".select-search3").select2();
</script>