<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="updateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title"><span translate="BUDGET_ASSESSMENT_TEAM_ASSIGNMENT"></span></h5>
                </div>
                <div class="modal-body">
                    <div ng-show="errorMessage" class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                            <button type="button" class="close" ng-click="errorMessage=undefined"
                                    data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            {{errorMessage | translate}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="USER"></label>
                                    <select class="form-control select-search-1"
                                            ng-model="updateDataModel.user_id"
                                            name="user_id"
                                            ng-options="ds.id as (ds.first_name+' '+ds.last_name) for ds in users">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.user_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="ROUND"></label>
                                    <select class="form-control select-search-5"
                                            ng-model="updateDataModel.cas_assessment_round_id"
                                            name="cas_assessment_round_id"
                                            ng-options="ds.id as ('['+ds.number+']'+ds.name) for ds in assessment_rounds">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.cas_assessment_round_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="CAS_ASSESSMENT_CATEGORY_VERSION"></label>
                                    <select class="form-control select-search-2"
                                            ng-model="updateDataModel.cas_assessment_category_version_id"
                                            ng-change="loadPeriods(updateDataModel.cas_assessment_category_version_id)"
                                            name="cas_assessment_category_version_id"
                                            ng-options="ds.id as ds.cas_assessment_category.name for ds in versions">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.cas_assessment_category_version_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group" ng-show="periods.length > 0">
                                <div class="col-sm-12">
                                    <label translate="ASSESSMENT_PERIOD"></label>
                                    <select class="form-control select-search-3a"
                                            ng-model="updateDataModel.period_id"
                                            name="period_id"
                                            ng-options="ds.id as (ds.period+'-'+ds.financial_year) for ds in periods">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.period_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group" ng-show="periods.length < 1">
                                <div class="col-sm-12">
                                    <label translate="ASSESSMENT_PERIOD"></label>
                                    <select class="form-control select-search-3b"
                                            ng-model="updateDataModel.period_id"
                                            name="period_id"
                                            ng-options="ds.id as (ds.period+'-'+ds.financial_year) for ds in allPeriods">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.period_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--PORALG - LOAD REGIONS-->
                    <div class="row" ng-show="hierarchy_position == 1">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="REGION"></label>
                                    <select class="form-control select-region"
                                            ng-model="updateDataModel.admin_hierarchy_id"
                                            name="admin_hierarchy_id"
                                            ng-options="ds.id as ds.name for ds in regions">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.admin_hierarchy_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--REGION - LOAD LGAs-->
                    <div class="row" ng-show="hierarchy_position == 2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label translate="LGA"></label>
                                    <select class="form-control select-lga"
                                            ng-model="updateDataModel.admin_hierarchy_id"
                                            name="admin_hierarchy_id"
                                            ng-options="ds.id as ds.name for ds in councils">
                                    </select>
                                    <div ng-show="formHasErrors">
                                    <span class="help-block text-danger"
                                          ng-show="updateForm.admin_hierarchy_id.$error.required"
                                          translate="VALIDATION_REQUIRED"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="update()" translate="BTN_SAVE"></button>
                    <button type="button" class="btn btn-warning" ng-click="close()" translate="BTN_CLOSE"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    $(".select-search-1").select2();
    $(".select-search-2").select2();
    $(".select-search-3").select2();
    $(".select-search-4").select2();
    $(".select-search-5").select2();
    $(".select-region").select2();
    $(".select-lga").select2();
</script>