<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined" data-dismiss="alert">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showButtons===true">
            <div class="col-md-12">
                <div class="heading-btn pull-right">
                    <button type="button" class="btn btn-info" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="trash()">
                        <i class="fa fa-trash"></i>
                        <span translate="BTN_TRASH"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row" ng-show="showCreateForm==true">
            <div class="col-md-12">
                <form class="form-horizontal" name="createForm" novalidate>
                    <div class="modal-content">
                        <div class="modal-header bg-teal-400">
                            <button type="button" ng-click="closeForm()" class="close">×</button>
                            <h5 class="modal-title"><span translate="BUDGET_ASSESSMENT_TEAM_ASSIGNMENT"></span></h5>
                        </div>
                        <div class="modal-body">
                            <div ng-show="errorMessage" class="col-md-12">
                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                    <button type="button" class="close" ng-click="errorMessage=undefined"
                                            data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{errorMessage | translate}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label translate="USER"></label>
                                            <md-autocomplete class="hide-label" required
                                                             md-search-text="searchText"
                                                             md-input-name="searchString"
                                                             md-items="user in getLevelUsers(searchText)"
                                                             md-item-text="user.first_name +' '+ user.last_name + '[' +user.cheque_number +']' + '[' +user.email +']'"
                                                             md-search-text-change="searchTextChange(searchText)"
                                                             md-selected-item-change="levelUserChange(user)"
                                                             md-min-length="3"
                                                             md-floating-label="Select User" flex>
                                                <md-item-template>
                                                    <span md-highlight-text="searchText">{{ user.first_name }} {{user.last_name}} [{{user.cheque_number}}] [{{user.email}}]</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No user marching {{searchText}} was found
                                                </md-not-found>
                                                <div ng-messages="form.searchString.$error">
                                                    <div ng-message="required">You <b>must</b> select user</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-sm-6">
                                            <label translate="ROUND"></label>
                                            <md-select ng-model="createDataModel.cas_assessment_round_id">
                                                <md-option ng-repeat="item in assessment_rounds" ng-value="item.id">
                                                    [{{item.number}}] {{item.name}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label translate="CAS_ASSESSMENT_CATEGORY_VERSION"></label>
                                            <md-select ng-model="createDataModel.cas_assessment_category_version_id" ng-change="loadPeriods(createDataModel.cas_assessment_category_version_id)">
                                                <md-option ng-repeat="item in versions" ng-value="item.id">
                                                    {{item.cas_assessment_category.name}} - {{item.financial_year.name}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label translate="ASSESSMENT_PERIOD"></label>
                                            <md-select ng-model="createDataModel.period_id">
                                                <md-option ng-repeat="item in periods" ng-value="item.id">
                                                    {{item.period}} - {{item.financial_year}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--PORALG - LOAD REGIONS-->
                            <div class="row" ng-show="hierarchy_position == 1">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label translate="REGIONS"></label>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="bg-teal-400">
                                                    <tr>
                                                        <th translate="NO"></th>
                                                        <th translate="ADMIN_HIERARCHY"></th>
                                                        <th translate="SELECT"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in regions">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td><input type="checkbox"  ng-click="toggleAdminSelection(item.id)"  name="admin_hierarchy_id"
                                                                   ng-checked="createDataModel.admin_hierarchy_ids.indexOf(item.id) !==-1" /></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--REGION - LOAD LGAs-->
                            <div class="row" ng-show="hierarchy_position == 2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label translate="LGAs"></label>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="bg-teal-400">
                                                    <tr>
                                                        <th translate="NO"></th>
                                                        <th translate="ADMIN_HIERARCHY"></th>
                                                        <th translate="SELECT"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in councils">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td><input type="checkbox"  ng-click="toggleAdminSelection(item.id)"  name="admin_hierarchy_id"
                                                                   ng-checked="createDataModel.admin_hierarchy_ids.indexOf(item.id) !==-1" /></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="store()" translate="BTN_SAVE"></button>
                            <button type="button" class="btn btn-warning" ng-click="closeForm()" translate="BTN_CLOSE"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="row" ng-show="showList===true && items.total > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th translate="NO"></th>
                            <th translate="REGION_LGA"></th>
                            <th translate="ROUND"></th>
                            <th translate="PERIOD"></th>
                            <th translate="VERSION"></th>
                            <th translate="ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(key,value) in items.data | groupBy:'user.email'">
                            <td colspan="7" class="bg-info">{{key}}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="item in value">
                            <td>{{$index + 1}}</td>
                            <td>{{item.admin_hierarchy.name}}</td>
                            <td>[{{item.cas_assessment_round.number}}] {{item.cas_assessment_round.name}}</td>
                            <td>{{item.period.name}}[{{item.period.financial_year.name}}]</td>
                            <td>{{item.cas_assessment_category_version.cas_assessment_category.name}}</td>
                            <td nowrap="nowrap">
                                <a href class="btn btn-danger" ng-click="delete(item.id,currentPage,perPage)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="REMOVE_ACTION"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10" ng-show="showList === true && items.total > items.per_page">
                <ul uib-pagination total-items="items.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" num-pages="numPages" items-per-page="items.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ items.total }}" perPage="{{ items.per_page }}"></total-pages>
            </div>
            <div class="col-md-2">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>