<div id="modal_form_horizontal" style="display: block;">
    <div class="modal-dialog modal-lg">
        <form action="#" class="form-horizontal" name="createForm" >
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" ng-click="close()" class="close">×</button>
                    <h5 class="modal-title">{{facility.name}} {{facility.facility_type.name}} - Bank Accounts</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="successMessage" class="col-md-12">
                            <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="successMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{successMessage | translate}}
                            </div>
                        </div>
                        <div ng-show="errorMessage" class="col-md-12">
                            <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                                <button type="button" class="close" ng-click="errorMessage=undefined">
                                    <span>×</span><span class="sr-only">Close</span></button>
                                {{errorMessage | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="bankAccounts.length > 0">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-teal-400">
                                    <tr>
                                        <th translate="NO"></th>
                                        <th translate="ACCOUNT_NUMBER"></th>
                                        <th translate="ACCOUNT_NAME"></th>
                                        <th translate="BANK"></th>
                                        <th translate="BRANCH"></th>
                                        <th translate="REMOVE"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in bankAccounts">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.account_number}}</td>
                                        <td>{{item.account_name}}</td>
                                        <td>{{item.bank}}</td>
                                        <td>{{item.branch}}</td>
                                        <td>
                                            <a href class="btn btn-danger" ng-click="removeBankAccount(item.id)">
                                                <i class="fa fa-remove"></i>
                                                <span translate="DELETE_ACTION"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ng-form name="accNumber">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <label>Account Number</label>
                                  <input name="account_number" type="text" ng-model="formDataModel.account_number"
                                         ng-pattern="checkAccountNumberValid"
                                         placeholder="" class="form-control" required/>
                                  <span ng-show="accNumber.account_number.$error.pattern" class="help-block text-danger">
                                  Account Number not valid.
                              </span>
                                </div>
                              </div>
                              <div ng-show="formHasErrors">
                                        <span class="help-block text-danger" ng-show="formDataModel.account_number.$error.required"
                                              translate="VALIDATION_REQUIRED"></span>
                              </div>
                            </ng-form>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Account Name </label>
                                    <input name="account_name" type="text" ng-model="formDataModel.account_name"
                                           placeholder="" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Bank </label>
                                    <input name="bank" type="text" ng-model="formDataModel.bank"
                                           placeholder="" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Branch </label>
                                    <input name="branch" type="text" ng-model="formDataModel.branch"
                                           placeholder="" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addBankAccount()">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
