<div class="modal-dialog modal-facility">
  <form action="#" class="form-horizontal" name="createFacilityForm" novalidate>
    <div class="modal-content">
      <div class="modal-header bg-teal-400">
        <button type="button" ng-click="close()" class="close">×</button>
        <h5 class="modal-title" translate="CREATE_SERVICE_PROVIDER"></h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div ng-show="errorMessage">
              <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                <button type="button" class="close" ng-click="errorMessage=undefined" data-dismiss="alert">
                  <span>×</span><span class="sr-only">Close</span>
                </button>
                {{errorMessage | translate}}
                <ul ng-show="errors.length" class="form-errors">
                  <li ng-repeat="e in errors">{{e}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="form-group">
              <div class="col-sm-12">
                <label>Service Provider Type <b style="color: red;">*</b></label>
                <!-- <select name="facility_type_id" class="form-control select-search"
                  ng-change="onChangesptype(facilityToCreate.facility_type_id)"
                  ng-model="facilityToCreate.facility_type_id" ng-options="f.id as (f.name) for f in facilityTypes">
                </select> -->
                <select ng-required="true" class="form-control"
                  ng-change="onChangesptype(facilityToCreate.facility_type_id)"
                  ng-model="facilityToCreate.facility_type_id" name="facility_type_id">
                  <option ng-repeat="facilityType in facilityTypes" value="{{facilityType.id}}">
                    {{facilityType.name}}
                  </option>
                </select>
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger"
                    ng-show="createFacilityForm.facility_type_id.$error.required">Type is
                    required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label>
                  <span> PISCs <b style="color: red;">*</b></span>
                </label>

                <select ng-required="true" class="form-control selectUpload"
                  ng-model="facilityToCreate.admin_hierarchy_id" name="admin_hierarchy_id">
                  <option ng-repeat="pisc in piscs" value="{{pisc.id}}">
                    {{pisc.code}} - {{pisc.name}}
                  </option>
                </select>
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger"
                    ng-show="createFacilityForm.admin_hierarchy_id.$error.required">PISC is
                    required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label>Service Provider name <b style="color: red;">*</b></label>
                <input ng-required="true" name="name" type="text" ng-model="facilityToCreate.name"
                  placeholder="e.g Institute of Finance Management - Mwanza campus" class="form-control" />
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger" ng-show="createFacilityForm.name.$error.required">Name is
                    required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label>Ownership <b style="color: red;">*</b></label>
                <select ng-required="true" name="facility_ownership_id" class="form-control select-search-a"
                  ng-model="facilityToCreate.facility_ownership_id"
                  ng-options="ah.id as ah.name for ah in facilityOwnerships">
                </select>
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger"
                    ng-show="createFacilityForm.facility_ownership_id.$error.required">Facility Ownership is
                    required</span>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <div class="form-group">
              <div class="col-sm-12">
                <label>Code <b style="color: red;">*</b></label>
                <input ng-required="true" name="facility_code" ng-keyup="checkCode($event)" type="text"
                  ng-readonly="truefalse" ng-style="customStyle.style" ng-model="facilityToCreate.facility_code"
                  placeholder="eg. 12345678" class="form-control" required />
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger" ng-show="createFacilityForm.facility_code.$error.required"> Code
                    is required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label>
                  <span> REGION <b style="color: red;">*</b></span>
                </label>
                <select ng-required="true" class="form-control selectUpload"
                  ng-change="loadWards(facilityToCreate.region_id)" ng-model="facilityToCreate.region_id"
                  name="region_id">
                  <option ng-repeat="region in regions" value="{{region.id}}">
                    {{region.name}}
                  </option>
                </select>
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger" ng-show="createFacilityForm.region_id.$error.required">Region is
                    required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label>
                  <span> Council <b style="color: red;">*</b></span>
                </label>
                <select ng-required="true" class="form-control" ng-model="facilityToCreate.geo_location_id"
                  name="geo_location_id">
                  <option ng-repeat="council in councils" value="{{council.id}}">
                    {{council.name}}
                  </option>
                </select>
                <div ng-show="formHasErrors">
                  <span class="help-block text-danger" ng-show="createFacilityForm.region_id.$error.required">Council is
                    required</span>
                </div>
              </div>
            </div>


          </div>

          <div class="col-md-4">

            <div class="form-group">
              <div class="col-sm-12">
                <label>Account Number</label>
                <input name="account_number" type="text" ng-model="facilityToCreate.account_number" placeholder=""
                  class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Account Name</label>
                <input name="account_name" type="text" ng-model="facilityToCreate.account_name" placeholder=""
                  class="form-control" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label>Bank </label>
                <input name="bank" type="text" ng-model="facilityToCreate.bank" placeholder="" class="form-control" />
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="store()">
            Save
          </button>
          <button type="button" class="btn btn-warning" ng-click="close()">
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>