<breadcrumb title="{{title}}"></breadcrumb>
<div class="row">
    <div ng-show="successMessage" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="successMessage=undefined"><span>×</span><span class="sr-only">Close</span></button>
            {{successMessage | translate}}
        </div>
    </div>
    <div ng-show="errorMessage" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="errorMessage=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{errorMessage | translate}}
        </div>
    </div>
    <div ng-show="errorRows" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            Facility Upload failed: Error rows: {{errorRows}}
        </div>
    </div>
    <div ng-show="duplicates.length > 0" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="duplicates=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            <pre>Duplicate Facility Code(s): {{duplicates}}</pre>
        </div>
    </div>
    <div ng-show="accountErrors.length > 0" class="col-md-12">
        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="accountErrors=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            Bank Account Errors: {{accountErrors}}
        </div>
    </div>
    <div ng-show="successData" class="col-md-12">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            Successfully Uploaded: {{successData.length}}
        </div>
    </div>
</div>
<div class="row" id="toggleDivWrapper">
    <div ng-show="action" class="col-md-12">
        <div class="alert alert-{{ alertType }} alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" ng-click="action=undefined">
                <span>×</span><span class="sr-only">Close</span></button>
            {{action | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="showUploadForm===true">
            <div class="col-md-4 col-md-offset-4">
                <p class="text-info">The <a href="/download/FACILITIES.xlsx"><span style="text-decoration: underline">Excel</span></a> file sheet
                    should be named <strong>FACILITIES</strong></p>
                <p class="text-info"><strong>name</strong> & <strong>code</strong> should the column headers of the excel file to be uploaded</p>
                <form action="#" class="form-horizontal" method="POST" name="myForm" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <span translate="FACILITY_TYPE"></span>
                            </label>
                            <select class="form-control selectLevel9"
                                    ng-model="facility_type_id"
                                    name="facility_type_id">
                                <option ng-repeat="facilityType in facilityTypes" value="{{facilityType.id}}">
                                    {{facilityType.name}}
                                </option>
                            </select>
                            <i ng-show="myForm.facility_type_id.$error.required">*required</i>
                        </div>
                    </div>

                  <div class="form-group">
                    <div class="col-md-12">
                      <label>
                        <span translate="TH_FACILITY_OWNERSHIP"></span>
                      </label>
                      <select class="form-control selectLevel9"
                              ng-model="facility_ownership_id"
                              name="facility_ownership_id">
                        <option ng-repeat="facilityOwnership in facilityOwnerships" value="{{facilityOwnership.id}}">
                          {{facilityOwnership.name}}
                        </option>
                      </select>
                      <i ng-show="myForm.facility_ownership_id.$error.required">*required</i>
                    </div>
                  </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <span translate="COUNCIL"></span>
                            </label>
                            <select class="form-control selectUpload"
                                    ng-model="admin_hierarchy_id" name="admin_hierarchy_id">
                                <option ng-repeat="adminHierarchy in councils" value="{{adminHierarchy.id}}">
                                    {{adminHierarchy.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                <span translate="LABEL_EXCEL_FILE"></span>
                            </label>
                            <input type="file" class="file-input" data-show-upload="false" data-show-caption="true"
                                   data-show-preview="false" ngf-select ng-model="excelFile" name="file"
                                   accept="'.xls,.xlsx,.xlsm,.csv'" ngf-max-size="2MB" ngf-pattern="'.xls,.xlsx,.xlsm'"
                                   required ngf-model-invalid="errorFile"/>
                            <i ng-show="myForm.file.$error.maxSize">File too large
                                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" ng-disabled="!myForm.$valid" class="btn btn-success"
                                    ng-click="uploadFile(excelFile)"><i class="fa fa-upload"></i> Upload
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="closeUploadForm()">
                                <i class="fa fa-times"></i> Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showFilter===true">
            <div class="col-md-2">
                <select class="form-control selectLevel6" name="facility_type_id"
                        ng-model="facilityType" ng-change="resetHierarchy()" ng-options="item as item.name for item in facilityTypes">
                    <option value="" selected="selected">-SERVICE PROVIDER TYPE-</option>
                </select>
            </div>
            <div ng-show="hierarchy_position==='1'">
                <div class="col-md-2">
                    <select class="form-control selectLevel1" ng-change="loadChildren(a1)"
                            ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                        <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                    </select>
                </div>
                <div class="col-md-2" ng-show="a1.children.length">
                    <select class="form-control selectLevel2" ng-change="loadChildren(a2)"
                            ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
                    </select>
                </div>
                <div class="col-md-2" ng-show="a2.children.length">
                    <select class="form-control selectLevel3" ng-change="loadCouncilFacility(a3,facilityType)"
                            ng-model="a3" ng-options="a3 as a3.name for a3 in a2.children">
                    </select>
                </div>
            </div>
            <div ng-show="hierarchy_position==='2'">
                <div class="col-md-2">
                    <select class="form-control selectLevel1" ng-change="loadChildren(a1)"
                            ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                        <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                    </select>
                </div>
                <div class="col-md-2" ng-show="a1.children.length">
                    <select class="form-control selectLevel2" ng-change="loadCouncilFacility(a2,facilityType)"
                            ng-model="a2" ng-options="a2 as a2.name for a2 in a1.children">
                    </select>
                </div>
            </div>
            <div ng-show="hierarchy_position==='3'">
                <div class="col-md-2">
                    <select class="form-control selectLevel1" ng-change="loadCouncilFacility(a1,facilityType)"
                            ng-model="a1" ng-options="a1 as a1.name for a1 in [userAdminHierarchy]">
                        <option value="" selected="selected">-ADMIN HIERARCHY-</option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="showButtons===true">
            <div class="col-md-12">
                <div class="heading-btn pull-left">
                    <!-- <button type="button" class="btn btn-primary" ng-click="revealUploadForm()">
                        <i class="fa fa-upload"></i> <span translate="BTN_UPLOAD"></span>
                    </button> -->
                    <a href="files/facilities/export/excel" class="btn btn-success">
                        <i class="fa fa-file-excel-o"></i> Download
                    </a>
                    <button type="button" class="btn btn-success" ng-click="create()">
                        <i class="fa fa-plus"></i>
                        <span translate="BTN_CREATE"></span>
                    </button>
                </div>
                <div class="heading-btn pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control col-xs-4" ng-model="searchString" placeholder="Search ..." ng-change="search(searchString)" />
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- <span class="help-block text-warning">Note: Service Providers colored red should be transferred to respective wards <strong>except Council HQ Service Provider with Service Provider code 00000000</strong></span> -->
        <br/>
        <div class="row" ng-show="showList===true && facilities.total > 0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-teal-400">
                        <tr>
                            <th>No.</th>
                            <th translate="TH_NAME"></th>
                            <th translate="TH_FACILITY_CODE"></th>
                            <th translate="TH_FACILITY_TYPE"></th>
                            <th translate="TH_FACILITY_OWNERSHIP"></th>
                            <th translate="BANK_ACCOUNTS"></th>
                            <th translate="COUNCIL"></th>
                            <th translate="REGION"></th>
                            <!-- <th translate="CUSTOM_DETAILS"></th> -->
                            <th translate="TH_STATUS"></th>
                            <th translate="TH_ACTION"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat-start="(s,values) in facilities.data | groupBy:'admin_hierarchy.name'">
                            <td colspan="12" class="bg-primary" >{{s}} [{{values[0].admin_hierarchy.parent.name}}]</td>
                        </tr>
                        <tr ng-class="{'text-warning':facility.admin_hierarchy.admin_hierarchy_level.hierarchy_position ===3}" ng-repeat-end ng-repeat="facility in values">
                            <td>{{$index + 1}}</td>
                            <td>{{facility.name}}</td>
                            <td nowrap><span>{{facility.facility_code}}</span></td>
                            <td>{{facility.facility_type.name}}</td>
                            <td>{{facility.ownership.name}}</td>
                            <td>
                                <ul ng-show="facility.bank_accounts.length > 0" ng-click="bankAccounts(facility)">
                                    <li ng-repeat="itm in facility.bank_accounts">
                                        {{itm.account_number}} - {{itm.account_name}} - {{itm.bank}}
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-flat" ng-show="facility.bank_accounts.length < 1" ng-click="bankAccounts(facility)">
                                    <span class="text-info">Add Bank Accounts</span>
                                </button>
                            </td>
                            <td>{{facility.geolocations.name}}</td>
                            <td>{{facility.geolocations.ward_parent.name}}</td>
                            <!-- <td nowrap="nowrap">
                                <button type="button" class="btn btn-info" ng-click="customDetails(facility)">
                                    <i class="fa fa-plus"></i>
                                    Custom Details
                                </button>
                            </td> -->

                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-checked="facility.is_active" ng-model="facility.is_active"
                                           ng-change="toggleFacility(facility.id, facility.is_active,perPage)">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td nowrap="nowrap">
                                <button type="button" class="btn btn-info" ng-click="edit(facility,admin,facility_type)">
                                    <i class="fa fa-edit"></i>
                                    <!--<span translate="EDIT_ACTION"></span>-->
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="delete(facility.id,admin,facility.facility_type)">
                                    <i class="fa fa-remove"></i>
                                    <span translate="DELETE_ACTION"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10" ng-show="facilities.total > 0">
                <ul uib-pagination total-items="facilities.total" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true"
                    num-pages="numPages" items-per-page="facilities.per_page"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
                </ul>
                <total-pages currentPage="{{currentPage}}" totalItems="{{ facilities.total }}" perPage="{{ facilities.per_page }}"></total-pages>
            </div>
            <div class="col-md-2" ng-show="facilities.total > 0">
                <per-page ng-model="perPage" ng-change="pageChanged()"></per-page>
            </div>
        </div>
    </div>
</div>
